
.content .h2{width:920px;
margin:20px auto;}

/********* CONTENT-SEITEN (teilweise aus screen.css übernommen) **********/
.center{margin:20px auto 20px;}
.c630{width:630px;}
.c920{width:920px;}
.c144{width:144px;}
.c470{width:470px;}
.c455{width:455px;}
.c306{width:306px;}
.c700{width:700px;}
.floatleft{float:left;}
.fl{float:left;}
.fr{float:right;}
.mb80 {margin-bottom: 80px;}
.pt20 {padding-top: 20px;}
.oh{overflow:hidden;}
.clearfix {display: block;}
.bottomdots {background: url("img/dot.gif") repeat-x scroll left bottom transparent;}

.teaser_img_72{background:url('img/module_img_72_bg.png') no-repeat 50% 50%;left:-4px;padding:4px;position:relative;}
.teaser_img{background:url('img/module_img_bg.png') no-repeat 50% 50%;left:-3px;padding:2px 3px;position:relative;}
.teaser_img_306{background:url('img/module_img_306_bg.png') no-repeat 50% 50%;left:-3px;padding:3px;position:relative;}
.teaser_img_139{background:url('img/module_img_139_bg.jpg') no-repeat 50% 50%;left:-3px;padding:3px;position:relative;}


/* ********** Videoplayer ************ */

.jspContainer {overflow: hidden;position: relative;}
.jspPane {position: absolute; left:0; } /* left 0 ergänzt für IE7-support  */
.jspVerticalBar {height: 100%; position: absolute; right: -7px; top: 0; width: 17px;}
.jspVerticalBar * {margin: 0;	padding: 0;}
.jspCap {display: none;}
.jspTrack {background: none repeat scroll 0 0 #E5E5E5; position: relative;width: 3px;}
.jspDrag {background: url("img/control.png") no-repeat scroll 0 -30px transparent;cursor: move;height: 17px !important;left: 0;margin-left: -7px;position: relative;top: 0;width: 17px;}
.jspArrow {background: #50506d;text-indent: -20000px;display: block;cursor: pointer;}
.jspArrow.jspDisabled {cursor: default;background: #80808d;}
.jspVerticalBar .jspArrow {height: 16px;}
.jspVerticalBar .jspArrow:focus {outline: none;}
.jspCorner {background: #eeeef4;float: left;height: 100%;}
* html .jspCorner { /* IE6 3 pixel bug */	margin: 0 -3px 0 0;}
/* jScrollPane end */
.contVideo .scrollPane {height: 384px;overflow: auto;	margin-left: 18px;}
.contVideo .listVideo {width: 306px;	}
.contVideo .listVideo li {height: 82px; width:289px;	margin-bottom: 18px;}
.contVideo .listVideo li.last {margin-bottom: 5px;}
.contVideo .listVideo a {display: block;position: relative;	width: 100%;height: 82px;}
.contVideo .listVideo a * {cursor: pointer;}
.contVideo .listVideo .img {float: left;display: block;overflow: hidden;height: 82px;width: 135px;}
.contVideo .listVideo img {margin: -9px 13px 0 0;width: 100%;}
.contVideo .listVideo .duration {background-color: #000000;bottom: 0;color: #FFFFFF;display: block;height: 14px;line-height: 13px;margin: 0;padding: 2px;position: absolute;right: 167px;-webkit-border-radius: 3px;border-radius: 3px;-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;}
.contVideo .listVideo .title { font-family: 'DeichmannWebLight',Arial,Verdana,Helvetica,sans-serif;font-size: 15px;font-weight: normal;margin: 0;position: absolute;left: 146px;bottom: -5px;line-height: 17px;text-align: left;}

.line{*zoom:1;}
.line:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}

/* ********** Videoplayer Ende******** */

/* ********** Prospekte ******** */

#brochure-page {
	background: url("img/bg-brochures-tile.png") repeat-x left 0px; 
	padding: 30px 20px 20px;
	font-family: deichmannlight, Arial, Helvetica;	
}
#brochure-page .center {
width:954px; }

#content #brochure-page h1 {
	background: 0;
	border-bottom: 1px solid #999;
	padding: 0 4px 4px;
	font-size: 24px;
	line-height: 34px;
}

#content #brochure-page  .brochure-teaser {
	background: url("img/bg-brochures.png") no-repeat scroll left -875px transparent;
	color: #999999;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
	font-size: 14px;
	font-weight: bold;
	height: 151px;
	padding: 200px 62px 0 35px;
	position: absolute;
	right: -15px;
	text-align: center;
	text-transform: uppercase;
	top: 30px;
	width: 125px;
}

#content #brochure-page p.teaser {
	background:0;
	padding:15px 10px 0px;
	margin:0;
 	font-size: 15px; 
	line-height: 23px; 
}

#brochure-page #breadcrumbs+.module{margin-bottom:0}
#brochure-page .block-grid.four-up{margin-left:-18px;zoom:1}
#brochure-page .block-grid.four-up li{width:215px;float:left;margin:54px 0 6px 18px;position:relative;zoom:1}
#brochure-page .block-grid.four-up>li:nth-child(4n+1){clear:both}

#brochure-page .brochures li img{background:url(img/bg-brochures.png) no-repeat left top;padding:13px 8px 11px;position:relative;z-index:1;display:block;zoom:1}
#brochure-page .brochures li strong{font-family:deichmannlight;font-style:italic;font-weight:normal;font-size:18px;line-height:20px;display:block;margin:6px 8px 0}
#brochure-page .brochures li p{margin:8px 8px 12px;font-size:12px;line-height:20px}
#brochure-page .brochures li a.browse {width: 209px;height: 330px;display: block;position: absolute;top: 13px;left: 8px;background-image: url(img/bg-brochures.png);background-color: transparent;background-repeat: no-repeat;background-position: 250px -500px;text-indent: -9999px; z-index: 2;opacity: 0;}
#brochure-page .brochures li a.browse:hover {opacity: 1;background-image: url(img/bg-brochures.png);background-color: transparent;background-repeat: no-repeat;background-position: 0 -500px;}
#brochure-page .brochures li a.download,#brochure-page .brochures li a.shop{background:#009661 url(img/bg-brochures.png) no-repeat left -1400px;padding:1px 12px 0 27px;font-size:12px;color:#fff;line-height:19px;height:19px;display:inline-block;margin-left:8px;min-width:96px}
#brochure-page .brochures li a.download{background-position:left -1450px;margin-top:5px}
#brochure-page .brochures li a.download:hover,.brochure-page .brochures li a.shop:hover{text-decoration:underline}


/* ********** Prospekte Ende******** */


/* +++++ Textelemente ++++++++ */

.textelement {
	color: #949494;  
	font-family:Arial, Helvetica;	
}
.textelement .teaser+p{
	background: url("img/dot.gif") repeat-x scroll left bottom transparent;
	font-size: 16px;
	letter-spacing: -0.25px;
	line-height: 23px;
	padding: 6px 0px 8px;
}
.textelement h1 {
	background: url("img/dot.gif") repeat-x scroll left bottom transparent;
    font-size: 24px;
	line-height: 34px;
    letter-spacing: 0.25px;
    margin: 0px 0px 15px -1px;
    padding: 0px 0px 8px;
	font-family: deichmannlight, Arial, Helvetica;	
	color: #666;
}
.textelement .topline h1 {
    color: rgb(170, 140, 38);
    font-size: 12px;
    letter-spacing: -0.25px;
    line-height: 15px;
    margin-bottom: -3px;
    text-transform: uppercase;
}
.buffer {
	height: 15px;
	padding: 15px 0px;
	clear:both;
}
.image-wide img {
	width: 942px;
	padding-bottom: 15px;
	background: pink;
}

/* Formular kopiert und angepasst */

#myFormDiv form label {
	float: left;
	width: 150px;
	color: #949494;
    font-family: Arial,Helvetica;
}
#myFormDiv form .inline {
	color: #949494;
    font-family: Arial,Helvetica;
}
#myFormDiv form p select {
	color: #949494;
}
#myFormDiv form p{
	width: auto;
}

#myFormDiv form input.strasseinput:first-of-type {
	width: 255px;
}
#myFormDiv form input.strasseinput:last-of-type {
	width: 50px;
	margin-left: 2px;
}
#myFormDiv form input.plzinput:first-of-type {
   	width: 100px;
}
#myFormDiv form input.plzinput:last-of-type {
   	width: 205px;
	margin-left: 2px;
}

#myFormDiv form textarea{
	width: 310px;
	height: 100px;
}

#myFormDiv form input {
    border: 1px solid rgb(186, 186, 186);
	left: 2px;
	position: relative;
	/* background: palegoldenrod; */
	width: 310px;
	height: 20px;
}

#myFormDiv form input[type="radio"] {
	padding: 0px 15px 0px 0px;
	left: 2px;
	position: relative;
	margin-top: 0px;
	width: auto;
	height: 20px;
	float:left;
	display: block;
	vertical-align:middle;
}
/*
#myFormDiv form input[type="radio"]+label {
	padding: 0px 5px 0px 10px;
	left: 2px;
	position: relative;
	margin-top: 2px;
	vertical-align:middle;
	width: auto;
	height: 20px;
	float:left;
}*/


#myFormDiv form input[type="radio"] + label {
    float: right;
    height: auto;
    margin: 1px;
    padding: 1px;
    position: relative;
    width: 935px;
}

#myFormDiv form input.errorbg{
background: rgb(255, 203, 203);
border: 1px solid rgb(204, 0, 0);
}


#myFormDiv .radio {
	clear:both;
	vertical-align:middle;
	/*margin-bottom: 60px;*/
	margin-bottom: 90px;
}
#myFormDiv .checkbox, #myFormDiv .dataprotection{
	width:auto;
	padding: 15px 0px 30px 0px;
    background: url("img/dot.gif") repeat-x scroll left top rgba(0, 0, 0, 0);
}
#myFormDiv .captcha {
	padding: 10px 0px 10px 0px;
	background: url("img/dot.gif") repeat-x scroll left top rgba(0, 0, 0, 0);
	}
#myFormDiv .checkbox .inline  p{
    height: auto;
    margin-bottom: 25px;
}

#myFormDiv form .checkbox  input{
	position: relative;
	background: yellow;
	width: auto;
	height: auto;
	float:left;
}
#myFormDiv form .checkbox label {
	padding: 0px 5px 0px 10px;
	position: relative;
	width: auto;
	height: auto;
	float:left;
}

#myFormDiv form .dataprotection  input{
	position: relative;
	background: yellow;
	width: auto;
	height: auto;
	float:left;
}
#myFormDiv form .dataprotection label {
	padding: 0px 5px 0px 10px;
	position: relative;
	width: auto;
	height: auto;
	float:left;
}
#myFormDiv form .captcha input {
	vertical-align: top !important;
	padding: 0px 5px 0px 10px;
	width: 120px;
	float: none !important;
}
#myFormDiv form .captcha label {
	display: block;
	margin-bottom: 6px;
	width: auto !important;
	float: none !important;
}
#myFormDiv form .captcha img  {
	margin-right: 20px;
}

#myFormDiv form select   {
	width: 80px;
	margin-right: 5px;
} 

#myFormDiv .submit-area   {
		margin-bottom: 0px;
}

#myFormDiv .submit-area.dotted {
    background: url("img/dot.gif") repeat-x scroll left top transparent;
    padding: 15px 0px 0px;
}

#myFormDiv .button {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    height: 19px;
    padding-right: 1px;
    text-align: center;
}


#myFormDiv form .senden {
	float: right;
	margin: 0px 20px 10px 0px;
	cursor: pointer;
    display: inline-block;
    font-size: 11px;
    height: 19px;
    padding-right: 1px;
    text-align: center;
	width:auto;
}
#myFormDiv form .senden span {
	background: url("img/button_bg.png") no-repeat scroll left top transparent;
    display: inline-block;
    padding: 2px 12px 5px 22px;
	color: white;
}


#myFormDiv form  .info_error{background-image:url('img/red_info_arrow_left.gif');background-repeat:no-repeat;}

#myFormDiv form .info span{background-color:#FFFFFF;border:1px solid;display:block;height:25px;line-height:13px;margin-left:4px;padding:1px 5px;width:130px;}
#myFormDiv form .info {
    background-position: 0px 11px;
    background-repeat: no-repeat;
    color: rgb(148, 148, 148);
    display: block;
    font-size: 10px;
    position: absolute;
    margin-left: 470px;
    margin-top: -30px;
    width: 150px;
    float: left;
}

#myFormDiv form .captcha .info {
    margin-left: 290px;
    margin-top: -67px;
}
#myFormDiv form .info_error span{border-color: rgb(204, 0, 0);}

span.info.info_success {
	color: rgb(148,148,148);
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 30px 0px;
	display: block;
	width: 620px;
	margin: auto;
	text-align: center;
}

.note {
	font-size: 11px;
}

/* Klappbare Textfelder */

.expand .wrap{background:url('img/dot.gif') repeat-x top left;margin-top:0;}
.expand h2{cursor:pointer;font-size:15px;margin-bottom:12px;}
.expand h2 span{background:url('img/toogle_bg.png') no-repeat 0 -32px;display:block;line-height:20px;padding-bottom:2px;padding-left:24px;padding-top:8px;}
.expand h2.open{color:#009661;}
.expand h2.open span{background-position:0 11px;}
.expand .toggle{margin-bottom:24px;}
.expand .toggle .module .wrap{background:none;}


/* ---- Camera Slider ---*/
.clearboth {clear:both}	
.scroll-pane-left, .scroll-pane-left2 {width:100%; height:280px; overflow: auto;position: relative;}

.fluid_container {
			margin: 0 auto;
			max-width: 800px;
			width: 70%;
	        margin-bottom: 80px;
}
.fluid_container.small {
			max-width: 800px;
			width: 40%;
			float:right;
			margin: 10px;
			margin-bottom: 80px;
}
/* -- ENDE Camera Slider ---*/		


div.phm.pluginLikeboxStream {
	height: 128px !important; 
}
	
.fb_iframe_widget span  iframe {height: 210px !important;}

/* Teaser Gewinnspielübersicht */

.teaser_breit_1zu2 {
	border-bottom: 1px solid black;
    margin-bottom: 0.75em;
}

.teaser_breit_1zu2  .teaser-txt1 {
    width:273px;
	float:left;
	margin-right: 5px;
	font-size: 16px;
	line-height: 20px;
	padding: 16px;	
}

.teaser_breit_1zu2.img_left .teaser-txt1 {
	float:right;
}

.teaser_breit_1zu2 img {
	float:left;
	width:625px; 
}
.teaser_breit_1zu2.img_right img {
	float:right;
}

.teaser_breit_1zu2:after {
    content: "";
    display: table;
    clear: both;
}

 .teaser_breit_1zu2 .teaser-txt1 h2 {
	font-size: 28px;
	line-height: 44px;
	font-weight: normal;	
} 
.teaser-txt1 .cta {
	width: 273px;
	text-align: center;
    text-transform: uppercase;
	font-family:  deichmannlight, Arial, Helvetica;
	font-size: 14px;
	line-height:48px;
	color: #545454;
	cursor: pointer;
}
.teaser_breit_1zu2:last-child {
	 margin-bottom: 55px;
}

	