/*
 * jQuery UI Datepicker 1.8.13
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
*/
.ui-datepicker {
	padding: inherit;
	width: inherit;
}

.ui-datepicker .ui-datepicker-header {
	padding: 4px 0;
}

.ui-datepicker .ui-datepicker-prev { left:174px; }
.ui-datepicker .ui-datepicker-next { left: 196px; }

.ui-datepicker .ui-datepicker-title {
  margin: 0;
  font-size: 135.7%;
	line-height: 100%;
  fone-weight: bold;
  text-align: left;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}

.ui-datepicker table { font-size: inherit; }

.ui-datepicker th {
	padding: 0;
	height: 28px;
	line-height: 28px;
  background-color: #AFAFAF;
  color: #FFF;
	border: #AFAFAF 1px solid;
	border-top: none;
	border-bottom: none;
}

.ui-datepicker td {
  margin: 0;
	padding: 0;
  border: 1px solid #d7d7d7 !important;
  font-size: 11px;
}

.ui-datepicker td span, .ui-datepicker td a {
	padding: 0;
	width: 30px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

/*
**	jQuery UI Theme
*/

/*
 * jQuery UI CSS Framework 1.8.13
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/
 */


/* Component containers
----------------------------------*/
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header {
	border: none;
  font-weight: bold;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: none;
  background-color: #ffffff;
  color: #cecdcd/*{fcDefault}*/;
	background-image: none;
	font-weight: bold;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #555555/*{fcDefault}*/;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-has-active,
.ui-widget-content .ui-state-has-active,
.ui-widget-header .ui-state-has-active,
.ui-state-has-active a.ui-state-default {
  background-color: #fff8db/*{bgColorError}*/ /*{bgErrorRepeat}*/;
}

.ui-state-has-active .ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-has-active a.ui-state-hover {
  background-color: #f7e6a0/*{bgColorError}*/ /*{bgErrorRepeat}*/;
}

.ui-state-has-active a,
.ui-widget-content .ui-state-has-active a,
.ui-widget-header .ui-state-has-active a { color: #7e7e7e/*{fcError}*/; }

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight  {
  background-color: #C00 !important;
  color: #FFF !important/*{fcHeader}*/;
}

.ui-state-highlight.ui-state-hover,
.ui-widget-content .ui-state-highlight.ui-state-hover,
.ui-widget-header .ui-state-highlight.ui-state-hover {
  background-color: #900 !important;
  color: #FFF !important/*{fcHeader}*/;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a { color: #FFF/*{fcHeader}*/; }

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  background-color: #fef1ec/*{bgColorError}*/ /*{bgErrorRepeat}*/;
  color: #cd0a0a/*{fcError}*/;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a { color: #cd0a0a/*{fcError}*/; }

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text { color: #cd0a0a/*{fcError}*/; }

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary { font-weight: bold; }

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter:Alpha(Opacity=70);
  font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  background-color: #e0e0e0;
}

/* Icons
----------------------------------*/

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: none;
	background: transparent none;
}

/*
**	Custom rules
*/

/* states and images */
.ui-datepicker .ui-widget-header .ui-icon { background-image: url(images/ui-icons_cc0000_256x240.png); }

.ui-datepicker.ui-corner-all,
.ui-datepicker .ui-corner-all {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.ui-datepicker.ui-widget-content { border: none; }
.ui-datepicker .ui-widget-header {
	background: transparent none;
	color: #C00;
}
