#body_container .row1 .col1 {
  width: 714px;
  height: 316px;
  overflow: hidden;
  background-color: #E98900;
}

#body_container .row1 .col1 .images {
  width: 714px;
  height: 305px;
}

#body_container .row1 .col1 .images > * { display: none; }
#body_container .row1 .col1 .images > *:first-child { display: inherit; }

#body_container .row1 .col1 .images .more_information {
  padding: 10px;
  border: 1px solid #000;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 654px;
  height: 246px;
  display: none;
  background: transparent url(../images/front_carousel_bg.png) top left repeat;
  font-size: 108%;
}

#body_container .row1 .col1 .images .more_info_button {
  width: 118px;
  height: 25px;
  position: absolute;
  right: 23px;
  top: 281px;
  overflow: hidden;
}

#body_container .row1 .col1 .images .more_info_button a {
  position: absolute;
  left: 0;
  top: 25px;
  display: block;
}

#body_container .row1 .col1 .pager {
border-top: 1px solid #fff;
padding: 0 18px;
}

#body_container .row1 .col1 .pager > a {
  width: 38px;
  height: 10px;
  display: block;
  float: left;
  background-color: #FFB900;
  border-right: 2px solid #FFF;
}

#body_container .row1 .col1 .pager > a:first-child { border-left: 2px solid #FFF; }

#body_container .row1 .col1 .pager > a.activeSlide { background-color: #CC0000; }
