#body_container {
  padding: 0;
}

#body_container .row {
  width: 100%;
  overflow: auto;
}

#body_container .row .column { float: left; }
#body_container .row2 { margin-top: 18px; }

#body_container .row1 .col1 { width: 714px; }
#body_container .row1 .col2 {
  padding: 15px 20px 0 20px;
  width: 216px;
  overflow: hidden;
}

#body_container #hot_topics {
  margin: 0 10px 0 12px;
  color: #404040;
}

#body_container #hot_topics td {
  padding-bottom: 15px;
  vertical-align: top;
}

#body_container #hot_topics h4 {
  margin-bottom: 5px;
  font-size: 118%;
  line-height: 100%;
  font-weight: bold;
}

#body_container #hot_topics img.thumbnail { margin: 2px 12px 0 0; }

#body_container .row1 .col2 a.apply_now {
  width: 218px;
  height: 33px;
  display: block;
  background: transparent url(/2011_05_refresh/images/front_page/apply_now_button.png) top left no-repeat;
  text-indent: -9999px;
  outline: none;
}

#body_container .row1 .col2 a.apply_now:hover { background-position: 0 -33px; }
#body_container .row1 .col2 a.apply_now:active { background-position: 0 -66px; }

#body_container .row1 .col2 #maryland_today {
  margin-top: 16px;
  padding-top: 10px;
  border-top: 3px solid #000;
}

#body_container .row1 .col2 #maryland_today h2 { margin-bottom: 10px; }

#body_container .row1 .col2 #maryland_today p { color: #999; }

#body_container .row1 .col2 #maryland_today_description { display: none; }

html.js #body_container .row1 .col2 #maryland_today_description { display: block; }

html.js #body_container .row1 .col2 #maryland_today_calendar { margin-top: 10px; }

#body_container .row1 .col2 #maryland_today_list {
  margin-top: 10px;
  width: 218px;
  height: 213px;
  overflow: auto;
}

html.js #body_container .row1 .col2 #maryland_today_list { display: none; }

#body_container .row1 .col2 #maryland_today_list p { color: #404040; }
	
#body_container .row1 .col2 #maryland_today_list li, 
.maryland_today_list li { margin-bottom: 15px; }

#body_container .row1 .col2 #maryland_today_list h4, 
.maryland_today_list h4 {
  font-size: 110%;
  font-weight: bold;
	color: #000;
}

.maryland_today_list a { color: #C00 !important; }

#body_container .row2 .header_bg {
  margin-bottom: 20px;
  background: #000 url(/2011_05_refresh/images/front_page/header_bg_left.png) top left no-repeat;
}

#body_container .row2 .header {
  position: relative;
  height: 33px;
  background: transparent url(/2011_05_refresh/images/front_page/header_bg_right.png) top right no-repeat;
}

#body_container .row2 .header .title {
  position: absolute;
  top: 11px;
  left: 12px;
}

#body_container .row2 .header ul {
  position: absolute;
  top: 10px;
  right: 15px;
}

#body_container .row2 .header ul li {
  padding: 0 10px;
  border-left: 1px solid #363535;
  float: left;
}

#body_container .row2 .header ul li a { color: #FFD31C; }

#body_container .row2 .header ul li:first-child {
  padding-left: 0;
  border-left: none;
}

#body_container .row2 .header .myumd_login {
  width: 103px;
  height: 22px;
  position: absolute;
  left: 347px;
  top: 5px;
  background: transparent url('https://s3.amazonaws.com/wrapper.umd.edu/2011_05_refresh/images/front_page/header_myumd_login.png') top left no-repeat;
  text-indent: -9999px;
  outline: none;
}

#body_container .row2 .header .myumd_login:hover { background-position: 0 -22px; }
#body_container .row2 .header .myumd_login:active { background-position: 0 -44px; }

#body_container .row2 .col1 {
  margin: 0 20px;
  width: 456px;
}

#body_container .row2 .col2 { width: 456px; }

#body_container .row2 .col2 .highlighted_container_bg {
  margin-bottom: 21px;
  background: transparent url(/2011_05_refresh/images/front_page/discover_md/bg_middle.png) top center repeat-y;
}

#body_container .row2 .col2 .highlighted_container_bg_2 {
  background: transparent url(/2011_05_refresh/images/front_page/discover_md/bg_top.png) top center no-repeat;
}

#body_container .row2 .col2 #highlighted_container {
  padding: 1px 11px 8px;
  position: relative;
  overflow: hidden;
  background: transparent url(/2011_05_refresh/images/front_page/discover_md/bg_bottom_white.png) bottom center no-repeat;
}

*+html #body_container .row2 .col2 #highlighted_container { background-position: bottom left; }
html.js #body_container .row2 .col2 #highlighted_container { padding-bottom: 20px; }

#body_container .row2 .col2 #highlighted_container h2 {
  margin: 6px 0;
  padding: 4px 6px;
  background-color: #900;
  font-size: 153.9%;
  line-height: 1em;
  font-weight: bold;
  color: #FFF;
}

html.js #body_container .row2 .col2 #highlighted_container h2 { display: none; }

#body_container .row2 .col2 #highlighted_container #highlighted_container_header_toggle {
  margin: -1px 0 11px -11px;
  width: 456px;
  height: 42px;
}

#body_container .row2 .col2 #highlighted_container ul.discover_md_links {
	margin-right: 8px;
	float: left;
	border-bottom: 1px solid #DDD;
}

#body_container .row2 .col2 #highlighted_container ul.discover_md_links li {
  padding: 3px 7px;
  border-top: 1px solid #DDD;
  width: 120px;
  font-weight: bold;
}

#body_container .row2 .col2 #highlighted_container ul.discover_md_links li a {
  margin: -3px -7px;
  padding: 3px 7px;
  display: block;
  color: #181818;
}

*+html #body_container .row2 .col2 #highlighted_container ul.discover_md_links li a {
  width: 100%;
  display: inline-block;
}

#body_container .row2 .col2 #highlighted_container ul.discover_md_links li:hover { background-color: #ECECEC; }
#body_container .row2 .col2 #highlighted_container ul.discover_md_links li:hover a { color: #000; }

html.js #body_container .row2 .col2 #discover_md_toggle {
  width: 174px;
  height: 21px;
  position: absolute;
  left: 140px;
  bottom: 1px;
  display: block;
  background: transparent url(/2011_05_refresh/images/front_page/discover_md/view_all.png) top center no-repeat;
  outline: none;
}

html.js #body_container .row2 .col2 #discover_md_toggle:hover { background-position: 0 -21px; }
html.js #body_container .row2 .col2 #discover_md_toggle:active { background-position: 0 -42px; }

html.js #body_container .row2 .col2 #discover_md_toggle.active { background-position: 0 -63px; }
html.js #body_container .row2 .col2 #discover_md_toggle.active:hover { background-position: 0 -84px; }
html.js #body_container .row2 .col2 #discover_md_toggle.active:active { background-position: 0 -105px; }

#body_container .row2 .col2 #discover_md_info_background {
  width: 148px;
  float: left;
  background: #ECECEC url(/2011_05_refresh/images/front_page/discover_md/info_bg_top.png) top left no-repeat;
}

#body_container .row2 .col2 #discover_md_info {
  padding: 3px 12px 8px;
  font-weight: bold;
  background: transparent url(/2011_05_refresh/images/front_page/discover_md/info_bg_bottom.png) bottom left no-repeat;
}

#body_container .row2 .col2 #discover_md_info li { padding: 3px 0; }
#body_container .row2 .col2 #discover_md_info li a:hover { color: #900; }

#body_container #campus_photos { clear: both; }


html.js #body_container #campus_photos {
  display: none;
  width: 430px;
  height: 300px;
}

#body_container #campus_photos_images {
  overflow: auto;
  overflow-x: hidden;
  height: 300px;
  text-align: center;
}

html.js #body_container #campus_photos_images {
  float: left;
  overflow: hidden;
  text-align: inherit;
}

html.js #body_container #campus_photos_images,
html.js #body_container #campus_photos_images > div { width: 398px; }

html.js #body_container #campus_photos_images > div img {
  margin: 0 auto;
  display: block;
}

html.js #body_container #campus_photos_images > div.offset_width {
  margin-top: -16px !important;
  margin-left: -51px !important;
}

html.js #body_container #campus_photos_images > div.offset_height {
  margin-top: -51px !important;
}

#campus_photos a.ui-corner-all {
  display: block;
  float: left;
  width: 16px;
}

#campus_photos a.ui-corner-all span { margin-top: 134px; }

/*
** UM Community styles
*/

#body_container .row2 .col2 #um_community ul {
  margin: 0 7px;
  float: left;
}

#body_container .row2 .col2 #um_community ul li {
  padding: 0 7px;
  border-bottom: 1px solid #DDD;
  width: 125px;
  height: 21px;
  line-height: 21px;
}

#body_container .row2 .col2 #um_community ul li:first-child { border-top: 1px solid #DDD; }

#body_container .row2 .col2 #um_community ul li img { margin-right: 8px; }

#body_container .row2 .col2 #um_community ul li a {
  margin: 0 -7px;
  padding: 0 7px;
  display: block;
  color: #666;
}

*+html #body_container .row2 .col2 #um_community ul li a {
  width: 100%;
  display: inline-block;
}

#body_container .row2 .col2 #um_community ul li:hover { background-color: #ECECEC; }
#body_container .row2 .col2 #um_community ul li:hover a { color: #000; }

#body_container .row2 .col2 #um_community .give_online {
  margin-right: 20px;
  float: right;
}
