/*
**  Site-wide styles
*/

html { background-image: url(https://s3.amazonaws.com/wrapper.umd.edu/2011_05_refresh/images/new_shell_graphic_black_lines.png);
background-position: center top;
background-repeat: no-repeat;
background-size:140% ;
background-color:#e6e6e6;

 }

body {
  background: url(../images/new_body_bg_repeat.png) top left repeat-x;
}

#site_container {
  margin: 0 auto;
  width: 992px;
  min-height: 154px;
  background: transparent url(../images/new_body_bg_top.png) top left no-repeat;
  font-size: 85%;
}

a {
  text-decoration: none;
  color: #C00;
}

a:hover { text-decoration: underline; }

/*
** Header container styles
*/

#header_container {
  margin-bottom: 1px;
  width: 100%;
  height: 154px;
  position: relative;
  color: #FFF;
}

/* IE7, sigh */
*+html #header_container { z-index: 9999; }

#header_container .logo {
  position: absolute;
  left: 13px;
  top: 14px;
}

#header_container { position: relative; }

#header_container #header_search_text {
  position: absolute;
  right: 84px;
  top: 18px;
  width: 246px;
  height: 33px;
  background: transparent url(../images/header/search_text.png) top left no-repeat;
}

#header_container #header_search_text label { display: none; }

#header_container #header_search_text input {
  margin: 0;
  padding: 0 10px;
  border: none;
  width: 226px;
  height: 33px;
  line-height: 33px;
  /*background-color: transparent;*/
  color: #898989;
}

#header_container input[type=submit] {
  margin: 0px;
  padding: 0px;
  border: none;
  position: absolute;
  right: 50px;
  top: 18px;
  width: 40px;
  height: 33px;
  background: #980006 url(http://s3.amazonaws.com/umdheader.umd.edu/app/images/magnifying-glass-icon.png?1400101200) no-repeat scroll center 9px;
  text-indent: -9999px;
  outline: none;
}

*+html #header_container input[type=submit] {
  display: block;
  font-size: 0;
  line-height: 0;
}

/*#header_container input[type=submit]:hover { background-position: 0 -33px; }
#header_container input[type=submit]:active { background-position: 0 -66px; } */

#header_container .date_and_weather {
  position: absolute;
  right: 9px;
  top: 60px;
  height: 36px;
}

#header_container .date_and_weather .date,
#header_container .date_and_weather .weather {
  display: none;
  line-height: 36px;
}

#header_container .date_and_weather .date { float: left; color: #fff;}
*+html #header_container .date_and_weather .date { float: right; }

#header_container .date_and_weather .weather {
  float: right;
  margin-left: 20px;
}

#header_container .date_and_weather .weather img {
  margin-right: 20px;
  vertical-align: middle;
}

#primary_navigation {
  position: absolute;
  left: 10px;
  top: 111px;
}

#primary_navigation li.dropdown {
  height: 43px;
  position: relative;
  float: left;
  background: transparent none 0 0 no-repeat;
  z-index: 9999;
}

html.js #primary_navigation li.dropdown:hover {
  background-position: 0 -43px;
}

#primary_navigation li.dropdown:hover,
html.js #primary_navigation li.dropdown.active {
  background-position: 0 -86px;
}

#primary_navigation li.dropdown a.dropdown {
  height: 43px;
  display: block;
  text-indent: -9999px;
  outline: none;
}

#primary_navigation li.dropdown div.further_information,
html.js #primary_navigation li.dropdown div.further_information {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  background-color: #FFF;
  width: 200px;
}

#primary_navigation li.dropdown:hover div.further_information,
html.js #primary_navigation li.dropdown.active div.further_information {
  display: block;
}

#primary_navigation .further_information {
	padding: 10px;
  border: 2px solid #DDD;
  border-top: none;
  border-left: none;
  font-weight: bold;
  color: #000;
}

#primary_navigation .further_information ul { margin-top: 10px; }
#primary_navigation .further_information ul:first-child { margin-top: 5px; }

#primary_navigation .further_information ul li { 
	padding: 5px 7px;
	border-top: 1px solid #DDD;
	background-color: #DDD;
}

#primary_navigation .further_information ul li:first-child { border-top: none; }

#primary_navigation .further_information ul li img { margin-right: 8px; }

#primary_navigation .further_information ul li a {
	margin: -5px -7px;
	padding: 5px 7px;
  display: block;
  color: #181818;
  background-color: #FFF;
  font-weight: normal;
}

#primary_navigation .further_information ul li:hover a {
	color: #FFF;
	background-color: #900;
	font-weight: normal;
	text-decoration: none;
}

/*
** Button specific styles
*/

#primary_navigation li.about {
  width: 96px;
  background-image: url(../images/header/primary_navigation/about13.png);
}
#primary_navigation li.academics {
  width: 126px;
  background-image: url(../images/header/primary_navigation/academics13.png);
}
#primary_navigation li.admissions {
  width: 131px;
  background-image: url(../images/header/primary_navigation/admissions13.png);
}
#primary_navigation li.research {
  width: 103px;
  background-image: url(../images/header/primary_navigation/research13.png);
}
#primary_navigation li.innovation {
  width: 119px;
  background-image: url(../images/header/primary_navigation/innovation13.png);
}
#primary_navigation li.campus_life {
  width: 134px;
  background-image: url(../images/header/primary_navigation/campuslife13.png);
}
#primary_navigation li.athletics {
  width: 117px;
  background-image: url(../images/header/primary_navigation/athletics13.png);
}
#primary_navigation li.giving_to_umd {
  width: 144px;
  background-image: url(../images/header/primary_navigation/giving_to_umd13.png);
}

/*
**  Body container styles
*/

#body_container {
  margin: 0 auto;
  width: 970px;
  background-color: #FFF;
}

#body_container911 {
  margin: 0 auto;
  width: 970px;
  background-color: #000;
  
}

#body_container #body_container_padding { padding: 25px 40px 0; }

#body_container911 #body_container_padding911 { padding: 0 0 0; }

#body_container_padding p { margin: 0.25em 0 0.75em 0; }

#body_container_padding h1 {
  margin: 0.25em 0 0.75em 0;
  font-size: 197%;
  line-height: 100%;
  font-weight: bold;
}

#body_container_padding h2 {
  margin: 0.25em 0 1em 0;
  font-size: 196%;
  line-height: 100%;
  font-weight: bold;
}

#body_container_padding h3 {
  margin: 0.25em 0 0.25em 0;
  padding: 5px 0 0 0;
  border-top: 3px solid #dcdcdc;
  font-size: 140%;
  line-height: 100%;
  font-weight: bold;
}

#body_container_padding b, 
#body_container_padding strong { font-weight: bold; }

#body_container_padding i, 
#body_container_padding em { font-style: italic; }

#body_container_padding ul li {
  margin: 0 0 0 1em;
  list-style: disc inside none;
}

#body_container_padding ol li {
  margin: 0 0 0 1em;
  list-style: decimal inside none;
}

#body_container_padding blockquote { margin-bottom: 25px; }
#body_container_padding blockquote.sub { margin-bottom: 10px; }

#body_container_padding #right-sidebar { float: right; }

#body_container_padding .col-left {
	margin-right: 50px;
	width: 420px;
	float: left;
}

#body_container_padding .col-right {
	width: 420px;
	float: left;
}

/*
** Footer on the body container styles
*/

#body_container .footer {
  margin-top: 35px;
  height: 89px;
  position: relative;
  clear: both;
  background: transparent url(../images/new_site_container_bg_bottom.png) bottom left no-repeat;
}

#body_container .footer .terrapin_shell {
  position: absolute;
  left: 457px;
  top: 6px;
}

#body_container .footer .share_this {
  position: absolute;
  left: 32px;
  top: 39px;
}

#body_container .footer .social_media {
  position: absolute;
  right: 32px;
  top: 39px;
}

#body_container .footer .social_media_description {
  position: absolute;
  right: 266px;
  top: 47px;
  font-weight: bold;
  color: #8F8F8F;
}

#body_container .footer .social_media li { float: left; }

#body_container .footer .social_media li a {
  width: 28px;
  height: 28px;
  display: block;
  text-indent: -9999px;
  background: transparent none 0 0 no-repeat;
  outline: none;
}

html.js #body_container .footer .social_media li a:hover { background-position: 0 -28px; }
html.js #body_container .footer .social_media li a:active { background-position: 0 -56px; }

#body_container .footer .social_media li.facebook a { background-image: url(../images/footer/social_media/facebook.png); }
#body_container .footer .social_media li.youtube a { background-image: url(../images/footer/social_media/youtube.png); }
#body_container .footer .social_media li.twitter a { background-image: url(../images/footer/social_media/twitter.png); }
#body_container .footer .social_media li.flickr a { background-image: url(../images/footer/social_media/flickr.png); }
#body_container .footer .social_media li.vimeo a { background-image: url(../images/footer/social_media/vimeo.png); }
#body_container .footer .social_media li.rss a { background-image: url(../images/footer/social_media/rss.png); }
#body_container .footer .social_media li.myspace a { background-image: url(../images/footer/social_media/myspace.png); }
#body_container .footer .social_media li.itunesu a { background-image: url(../images/footer/social_media/itunesu.png); }
#body_container .footer .social_media li.pinterest a { background-image: url(../images/footer/social_media/pinterest.png); }


/*
**  Footer container styling
*/

#footer_container {
  height: 74px;
  position: relative;
  color: #EEE;
  line-height: 153.9%;
  letter-spacing: .5px;
}

#footer_container strong { font-weight: bold; }

#footer_container a {
  font-weight: bold;
  color: #cc0000;
}


#footer_container .address,
#footer_container .contact,
#footer_container .accessibility {
  position: absolute;
  top: 18px;
  color: #000;
}

#footer_container .address { left: 30px; color: #000;}
#footer_container .contact { left: 506px; }
#footer_container .accessibility { left: 920px; }

/*
**  Side floater social icons 
*/
#social-icons-floating {
  display: block;
  background: none repeat scroll 0 0 white;
  float: right;
  margin: 185px 0 0 981px;
  padding: 6px 0;
  position: fixed;
  text-align: center;
  width: 42px;
  z-index: 999;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -moz-border-radius-topright:5px; /* Firefox 3.6 and earlier */
  -moz-border-radius-bottomright:5px; /* Firefox 3.6 and earlier */
}
#social-icons-floating img {
  padding: 0 0 1px 0;
}
