#spark-widget {
  margin-top: 30px;
  padding: 9px 11px 9px 111px;
  border: 1px solid #A7A9AB;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-clip: padding-box;
  position: relative;
  font-size: 118%;
  line-height: 1.25;
}

#spark-widget .logo {
  margin: 2px 0 0 -100px;
  width: 100px;
  height: 62px;
  float: left;
}

#spark-widget .content {
  margin-left: 7px;
  padding-left: 13px;
  border-left: 1px solid #404041;
  min-height: 64px;
}

#spark-widget .title,
#spark-widget .title a {
  color: #c00;
}

#spark-widget .body { margin-top: 3px; }

#spark-tag {
  margin: 3px 0 1px;
  font-size: 95%;
  line-height: 1;
  text-align: center;
}


/* Clearfix */
#spark-widget:before,
#spark-widget:after {
  content: " ";
  display: table;
}

#spark-widget:after { clear: both; }
#spark-widget { *zoom: 1; }
