* {max-height: 100000px;}
body {
    margin:0;
    color:#616161;
    font: 17px/23px 'Open Sans', sans-serif;
    background:#fff;
    min-width:320px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    overflow: auto!important;
}
img {
    border-style:none;
}
a {
    color:#000;
    outline:none;
}
a:hover {
    text-decoration:none;
}
a:focus{
    outline: none;
}
* {
    outline:none;
}
.ushi {
    z-index: 99999;
}
input, textarea, select {
    font:100% arial,sans-serif;
    vertical-align:middle;
}
input [type="email"], input [type="tel"],
input[type="search"], input[type="text"],
input[type="password"], input[type="file"],
input[type="submit"], textarea{-webkit-appearance:none;}
form, fieldset {
    margin:0;
    padding:0;
    border-style:none;
}
header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog {
    display: block;
}
.margin-top-20 {
    margin-top: 20px!important; 
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}

.col-6{
    position: relative;
    min-height: 1px;
    padding-right: 5px !important;
    padding-left: 5px !important;
    width: 50%;
    float: left;
}
article {
    margin-bottom: 30px;
}

article img{
    float: none;
    margin: 0 0 10px;
    width: 100%;
}

article .text-holder{
    overflow: hidden;
}
article .title{
    margin: 0 0 7px;
    display: block;
    color: #000;
    font: 18px/22px  'Open Sans', sans-serif;
}
article .title a{
    color: #000;
}
article .red a {
    color: #AB0000 !important;
}

article .bold a {
    font-weight: bold !important;
}
article .title a:hover{
    text-decoration: underline;
}

article .info-block{
    overflow: hidden;
}
article .info-block .name{
    float: left;
    background: url(../images/bg-name.png) no-repeat 0 1px;
    margin: 0 11px 3px 0;
    padding: 0 0 0 15px;
    color: #b7aab9;
    font:10px/13px  'Open Sans', sans-serif;
    min-width: 20px;
    min-height: 13px;
}
article .info-block .time{

    float: left;
    background: url(../images/bg-time.png) no-repeat 0 1px;
    margin: 0 12px 3px 0;
    padding: 0 0 0 17px;
    color: #b7aab9;
    font:10px/13px  'Open Sans', sans-serif;
    min-width: 20px;
    min-height: 13px;
}
article .info-block .respond{
    float: left;
    background: url(../images/bg-respond.png) no-repeat 0 1px;
    margin: 0 12px 3px 0;
    padding: 0 0 0 17px;
    color: #b7aab9;
    font:10px/13px  'Open Sans', sans-serif;
    min-width: 20px;
    min-height: 13px;
}

.ad-text_line {
    padding-top: 10px;
    height: 28px;
    overflow: hidden;
    padding-bottom: 0px;
    font-size: 12px;
    color: #000;
}
.ad-text_line div{
    width: 360px;
    margin-right: 1%;
    float: left;
}

.category-caption-mobile {
    margin: 15px 15px;
}

.category-caption-mobile h3 {
    font-size: 12px;
    color: #fff;
    background-color: #1f4498;
    color: #fff;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    letter-spacing: 2px;
    margin: 0px 1px 1px 0px;
    text-transform: uppercase;
}
.category-caption-mobile h3 a {
    color: #fff;
}


nav#milli-menu:not(.mm-menu)
{
    display: none;
}

.mm-menu {
    background: #1f4498 !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: rgba(255, 255, 255, 0.7); 
}
.mm-menu .mm-navbar > *,
.mm-menu .mm-navbar a {
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8); 
}
.mm-menu .mm-navbar .mm-btn:before, .mm-menu .mm-navbar .mm-btn:after {
    border-color: rgba(255, 255, 255, 0.5); 
}
.mm-menu .mm-listview {
    font-weight: bold;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9) !important;                
    border-color: rgba(255, 255, 255, 0.2); 
}
.mm-menu .mm-listview > li .mm-next:after,
.mm-menu .mm-listview > li .mm-arrow:after {
    border-color: rgba(255, 255, 255, 0.5); 
}
.mm-menu .mm-listview > li a:not(.mm-next) {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
    tap-highlight-color: rgba(255, 255, 255, 0.5); 
}
.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu .mm-listview > li.mm-selected > span {
    background: rgba(255, 255, 255, 0.5); 
}
.mm-menu.mm-vertical .mm-listview > li.mm-opened > a.mm-next,
.mm-menu.mm-vertical .mm-listview > li.mm-opened > .mm-panel,
.mm-menu .mm-listview > li.mm-opened.mm-vertical > a.mm-next,
.mm-menu .mm-listview > li.mm-opened.mm-vertical > .mm-panel {
    background: rgba(255, 255, 255, 0.2); 
}
.mm-listview > li > a, .mm-listview > li > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: inherit;
    display: block;
    padding: 12px 12px 12px 20px;
    margin: 0px;
}            
.mm-menu .mm-divider {
    background: rgba(255, 255, 255, 0.2); 
}
.mm-search {
    height: 50px;
    padding: 12px 12px 12px 20px;  
} 
.mm-menu input[type=search] {
    background: #fff;
    color: #000;
    border: none;
    border-radius: 26px !important;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    outline: none;
    display: block;
    width: 100%;
    height: 26px;
    margin: 0;
    padding: 0 10px;
    text-transform: none;
    text-indent: 0;
    vertical-align: middle;
}  















.color_red {
    color: #AB0000 !important; 
}
.container {
    width: 100%;
    /*max-width: 1168px;*/
    max-width: 1002px;
    padding: 0 1px;
    margin: 0 auto;
    background-color: #fff;
}
#header{
    width:100%;
    padding: 2px 0 11px ;
}
#header:after{
    display: block;
    clear: both;
    content: '';
}
#header.margin{
    margin: 0 0 9px;
}
#header .ad-back {
    background-color: #E5E5E5;
}
.ad-mobile{
    display: none;
}
.ad-list{
    padding: 0;
    overflow: hidden;
    list-style: none;
    text-align: center;
    width: 1000px;
    height: 120px;
    margin: 0 auto 2px auto;
}
.ad-list li{
    display: block;
    float: left;
    vertical-align: top;
    margin: 0 2px 0 0;
}
.ad-list li:last-child{
    margin: 0 0 0 0;
}

.logo-holder{
    background: #1f4498;
    /*overflow: hidden;*/
    padding: 3px ;
}
.logo-frame{
    float: left;
    margin: 16px 1% 13px 54px;
}
.logo{
    display: block;
    margin: 0 auto;
    background:url(../images/logo2x.png) no-repeat;
    background-size: 145px 60px;
    width:145px;
    height:60px;
    text-indent:-9999px;
    overflow:hidden;
}

.logo a{
    display:block;
    height:100%;
}
.logo-holder .ad-holder{
    /*border:1px solid #b6b6b6;*/
    max-width: 728px;
    width: 73.2%;
    float: right;
    padding-bottom: 6px;
}
.logo-holder .ad-holder img{
    vertical-align: top;
}
.nav-holder{
    background:#1f4498;
    margin: 0 0  2px;
    padding: 3px 3px 3px 0;
}
.nav-holder:after{
    display: block;
    clear: both;
    content: '';
}
.nav-section{
    margin: 0 0 0 0;
    float: left;
}
.nav-section .opener{
    width: 22px;
    height: 22px;
    color: #fff;
    margin: 4px 0 4px 4px;
    background: url(../images/mobile_menu_btn.png) no-repeat;
    background-size: 22px 22px;
    display: none;
    font:600 12px/16px 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 4px 0 0 30px
}
#nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    font: 12px/16px 'Open Sans', sans-serif;
    text-transform: uppercase;
}
#nav ul:after{
    display: block;
    clear: both;
    content: '';
}
#nav ul li{
    position: relative;
    border-right: 2px solid #20479f;
    float: left;
}
#nav ul li a{
    float: left;
    color: #fff;
    padding:12px 6px 6px 9px;
}
#nav ul li a:hover{
    text-decoration: none;
    color: #f4c402;
}
#nav ul li ul{
    display: none;
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 3px;
    width: 157px;
    padding: 2px 15px 5px;
    background: #000;
    font: 12px/16px 'Open Sans', sans-serif;
    text-transform: none;
}
#nav ul li:hover ul{
    display: block;
}
#nav ul li ul li{
    float: none;
    display: block;
    border: 0;
    border-top:2px solid #0d0d0d;
}
#nav ul li ul li:first-child{
    border: 0;
}
#nav ul li ul a{
    color: #fff;
    display: block;
    padding: 7px 4px;
    float: none;
}
.search-form{
    float: right;
    width: 207px;
}
.search-form .text{
    float: left;
    width: 153px;
    height: 29px;
    background: #fff;
    padding: 6px 5px;
    margin: 0;
    border:0;
    border-radius: 0;
    color: #000;
    font: 13px/17px 'Open Sans', sans-serif;
}
.search-form input[type="submit"]{
    float: left;
    width:54px ;
    height: 29px;
    border:0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: #f4c402;
    font:700 11px/15px 'Open Sans', sans-serif;
    text-transform: uppercase;
    border-radius: 0;
}
.search-form input[type="submit"]:hover{
    cursor: pointer;
}
.info-panel{
    height: auto;
    overflow: hidden;
    background: #e5e5e5;
    clear:both;
}

.menu{
    float: left;
    background: #f4c402;
    padding: 12px 10px;
    margin: 0;
    list-style: none;
    font: 700 11px/13px  'Open Sans', sans-serif;
    text-transform: uppercase;
}
.menu li{
    float: left;
    border-left:1px solid #e3b704;
}
.menu li:first-child{
    border:0;
}
.menu a{
    color: #916907;
    float: left;
    padding: 1px 10px 2px;
}
.menu a:hover{
    text-decoration: none;
    color: #161616;
}
.info-panel .time{
    float: left;
    width: 64px;
    text-align: center;
    margin: 10px 9px 0 0;
    color: #000;
    position: relative;
    font: 700 11px/13px  'Open Sans', sans-serif;
    padding: 2px 0 0;
}
.info-panel .time:after{
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 20px;
    background: #d1d1d1;
    content: '';
}
.info-panel .text-holder{
    float: none;
    width: auto;
    color: #505050;
    width: auto;
    padding: 11px 0 0;
    border-right:1px solid #d5d5d5;
    height: 40px;
    position: relative;
    overflow: hidden;
    /*white-space: nowrap;*/
    font: 12px/13px  'Open Sans', sans-serif;
}

.info-panel .text-holder p{
    margin: 0;
}
.info-panel .text-holder a{
    color: #505050;
}
.social-networks{
    float: right;
    width: 157px;
    padding: 0;
    margin: 9px 12px 0 12px;
    list-style: none;
}
.social-networks li{
    float: left;
    margin: 0 0 0 5px;
}
.social-networks li:first-child{
    margin: 0;
}
.social-networks a{
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width:22px;
    height:22px;
}
.social-networks .facebook{
    background: url(../images/bg-social-networks3.png) no-repeat;
    background-size: 230px 45px;
}
.social-networks .twitter{
    background: url(../images/bg-social-networks3.png) no-repeat -23px 0;
    background-size: 230px 45px;    
}
.social-networks .googleplus{
    background: url(../images/bg-social-networks3.png) no-repeat -46px 0;
    background-size: 230px 45px;    
}
.social-networks .vkontakte{
    background: url(../images/bg-social-networks3.png) no-repeat -69px 0;
    background-size: 230px 45px;
}
.social-networks .odnoklassniki{
    background: url(../images/bg-social-networks3.png) no-repeat -92px 0;
    background-size: 230px 45px;
}
.social-networks .mailru{
    background: url(../images/bg-social-networks3.png) no-repeat -115px 0;
    background-size: 230px 45px;
}
.social-networks .rss{
    background: url(../images/bg-social-networks3.png) no-repeat -138px 0;
    background-size: 230px 45px;
}
.social-networks .linkedin{
    background: url(../images/bg-social-networks3.png) no-repeat -161px 0;
    background-size: 230px 45px;
}
.social-networks .youtube{
    background: url(../images/bg-social-networks3.png) no-repeat -184px 0;
    background-size: 230px 45px;
}
.social-networks .instagram{
    background: url(../images/bg-social-networks3.png) no-repeat -207px 0;
    background-size: 230px 45px;
}
.social-networks .facebook:hover{
    background: url(../images/bg-social-networks3.png) no-repeat 0 -23px;
    background-size: 230px 45px;
}
.social-networks .twitter:hover{
    background: url(../images/bg-social-networks3.png) no-repeat -23px -23px;
    background-size: 230px 45px;
}
.social-networks .googleplus:hover{
    background: url(../images/bg-social-networks3.png) no-repeat -46px -23px;
    background-size: 230px 45px;
}
.social-networks .vkontakte:hover{
    background: url(../images/bg-social-networks3.png) no-repeat -69px -23px;
    background-size: 230px 45px;
}
.social-networks .odnoklassniki:hover{
    background: url(../images/bg-social-networks3.png) no-repeat -92px -23px;
    background-size: 230px 45px;
}
.social-networks .mailru:hover{
    background: url(../images/bg-social-networks3.png) no-repeat -115px -23px;
    background-size: 230px 45px;
}
.social-networks .rss:hover{
    background: url(../images/bg-social-networks3.png) no-repeat -138px -23px;
    background-size: 230px 45px;
}
.social-networks .linkedin:hover{
    background: url(../images/bg-social-networks3.png) no-repeat -161px -23px;
    background-size: 230px 45px;
}
.social-networks .youtube:hover{
    background: url(../images/bg-social-networks3.png) no-repeat -184px -23px;
    background-size: 230px 45px;
}
.social-networks .instagram:hover{
    background: url(../images/bg-social-networks3.png) no-repeat -207px -23px;
    background-size: 230px 45px;
}
#main{
    /*overflow: hidden;*/
    padding: 0 0 30px;
}
.gallery-holder{
    overflow: hidden;
    position: relative;
    padding: 0 40px;
    margin: 11px 0 11px;
}
.gallery-holder .btn-prev{
    position: absolute;
    top: 30%;
    left: 0;
    width: 22px;
    height: 52px;
    text-indent: -9999px;
    overflow: hidden;
    background:url(../images/btn-gallery.png) no-repeat;
    margin: -8px 0 0;
}
.gallery-holder .btn-next{
    position: absolute;
    top: 30%;
    right: 0;
    width: 22px;
    height: 52px;
    text-indent: -9999px;
    margin: -8px 0 0;
    overflow: hidden;
    background:url(../images/btn-gallery.png) no-repeat -28px 0;
}
.gallery-holder .mask{
    width: 100%;
    overflow: hidden;
}
.gallery-holder .slideset{
    width: 99999px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    font: 14px/17px 'Open Sans', sans-serif;
    color: #000;
}
.gallery-holder .slideset li{
    float: left;
    width: 121px;
    margin: 0 13px 0 0 ;
    position: relative;
}
.gallery-holder .slideset li a{
    display: block;
    color: #000;
}
.gallery-holder .slideset li a:hover{
    text-decoration: underline;
}
/*.gallery-holder .slideset li .text{
    display: block;
    margin: 0 0 9px;
    height: 34px;
    overflow: hidden;
}*/

.gallery-holder .slideset li a:hover .text{
    visibility: visible;
}

.gallery-holder .slideset li a .text{
    position: absolute;
    bottom: 4px;
    width: 100%;
    /*height: 36px;*/
    overflow: hidden;
    padding: 5px 5px 5px 7px;
    background: #eabc03;
    left: 0;
    color: #161616;
    /*white-space: nowrap;*/
    font: 11px/13px  'Open Sans', sans-serif;
    visibility: hidden;
}

.gallery-holder .slideset li img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}
.twocol{
    position: relative;
    /*overflow: hidden;*/
    clear: both;
}
.twocol.top{
    padding: 40px 0 0;
}
#content{
    float: left;
    margin: 0 25.3% 0 0;
    overflow: hidden;
    width: 74.7%;
}
#content h2,
#sidebar h2{
    margin: 0 0 16px;
    color: #000;
    font: 15px/18px  'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
#sidebar .share-holder{
    overflow: hidden;
    margin: 0 0 15px;
}
#sidebar .share-holder img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 5px;
}
.news-holder{
    overflow: hidden;
    margin:  0 0 1.2% 0;
    min-height: 200px;
}
.news-holder .news-gallery{
    overflow: hidden;
    margin: 0 33.9% 0 0;
    position: relative;
    width: 66.6%;
    float: left;
}

.main-news {
    overflow: hidden;
    margin: 0 33.9% 0 0;
    position: relative;
    width: 66.6%;
    float: left;
}
.main-news img{
    display: block;
    width: 100%;
    height: auto;
}
.main-news .text-holder{
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    z-index: 2;
    font: 11px/17px  'Open Sans', sans-serif;
    color: #fff;

}

.main-news .text-holder .title{
    float: left;
    width: 90%;
    /*    background: #224BA8;*/
    background: rgba(0,0,0,0.6);
    color: #FFF;
    padding: 5px 3.5% 8px 3%;
    font: 15px/19px  'Open Sans', sans-serif;
}


.news-gallery .switcher-holder{
    position: absolute;
    top: 5px;
    left: 5px;
    overflow: hidden;
    padding: 5px 8px 5px 8px;
    z-index: 3;
    background-color: rgba(255,255,255,0.5);
}
.news-gallery .switcher-holder .switcher{
    padding: 0;
    margin: 0 0 1px;
    list-style: none;
    overflow: hidden;
    float: left;
}
.news-gallery .switcher-holder .switcher li{
    float: left;
    margin: 0 0 0 8px;
}
.news-gallery .switcher-holder .switcher li:first-child{
    margin: 0;
}
.news-gallery .switcher-holder .switcher li a{
    text-indent: -9999pc;
    overflow: hidden;
    width:10px;
    height: 10px;
    border-radius: 5px;
    background: #000;
    display: block;
}
.news-gallery .switcher-holder .switcher .active a,
.news-gallery .switcher-holder .switcher a:hover{
    text-decoration: none;
    background: #f4c402;
}
.news-gallery .switcher-holder .btn-holder{
    width: 100%;
    overflow: hidden;
    clear: both;
}
.news-gallery .switcher-holder .btn-holder a{
    color: #000;
    font: 700 10px/13px  'Open Sans', sans-serif;
    text-transform: uppercase;
}
.news-gallery .btn-prev{
    float: left;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 22px;
    height: 52px;
    text-indent: -9999px;
    overflow: hidden;
    background: url("../images/btn-gallery.png") no-repeat scroll 0% 0% rgba(255,255,255,0.8);
    margin: -8px 0px 0px;    
    z-index: 10;
}

.news-gallery .btn-next{
    position: absolute;
    top: 50%;
    right: 0px;
    width: 22px;
    height: 52px;
    text-indent: -9999px;
    margin: -8px 0px 0px;
    overflow: hidden;
    background: url("../images/btn-gallery.png") no-repeat scroll -28px 0px rgba(255,255,255,0.8);
    z-index: 10;
}

.news-gallery .switcher-holder .btn-holder .btn-prev{
    float: left;
}
.news-gallery .switcher-holder .btn-holder .btn-next{
    float: right;
}
.news-gallery .slideset{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    position: relative;
}
.news-gallery .slideset>li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: none;
}
.news-gallery .slideset>li.active{
    position: relative;
    display: block;
}
.news-gallery .slideset li img{
    display: block;
    width: 100%;
    height: auto;
}
.news-gallery .slideset li .text-holder{
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    /*background: #000;*/
    z-index: 2;
    font: 11px/17px  'Open Sans', sans-serif;
    color: #fff;
    /*display: none;*/
}
/*.news-gallery .slideset li:hover .text-holder{
    display: block;
}*/
.news-gallery .slideset li .text-holder .title{
    float: left;
    width: 70%;
    background: #e8ba02;
    color: #161616;
    height: 68px;
    padding:5px 3.5%;
    font: 15px/19px  'Open Sans', sans-serif;
    white-space: nowrap;
}
.news-gallery .slideset li .text-holder .title:after{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: 0 0  0 -5px;
    content: '';
    width: 1px;
}
.news-gallery .slideset li .text-holder .title span{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}
.news-gallery .slideset li .info-post{
    float: right;
    width: 50%;
    padding:9px 3% 15px;
}
.news-gallery .slideset li .rating{
    position: absolute;
    top: 14px;
    right: 10px;
}
.news-gallery .slideset .category{
    display: block;
    color: #8c8c8c;
    font: 10px/15px  'Open Sans', sans-serif;
    margin: 0 0 5px ;
    padding: 0 35px 0 0;
}
.news-gallery .slideset .category a{
    color: #ecbf07;
}
.news-holder .news-list{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 32.541%;
    float: right;
    margin: 0 0 -2.3% -34.5%;
}
.news-holder .news-list li{
    position: relative;
    overflow: hidden;
    margin: 0 0 10px;
}
.news-holder .news-list a{
    color: #161616;
    display: block;
}
.news-holder .news-list a:hover .text span{
    /*    text-decoration: underline;*/
}
.news-holder .news-list img{
    display: block;
    width: 100%;
    height: auto;
}
.news-holder .news-list .text{
    position: absolute;
    bottom: 4px;
    width: 90%;
    min-height: 24px;
    overflow: hidden;
    padding: 5px 5px 5px 7px;
    /*    background: #224BA8;*/
    background: rgba(0,0,0,0.6);
    left: 0;
    color: #FFF;
    white-space: nowrap;
    font: 13px/16px  'Open Sans', sans-serif;
}

.news-holder .news-list .text:after{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
    margin: 0 0 0 -5px;
    content: '';
}
.news-holder .news-list .text span{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}
#content .blocks-holder{
    overflow: hidden;
    margin: 0 0 6px;
}
#content .blocks-holder .col{
    float: left;
    width: 31.3%;
}
#content .blocks-holder .col-2{
    float: right;
    width: 65.5%;
}
#content .video-block{
    overflow: hidden;
    margin: 0 0 19px;
    background: #e5e5e5;
    padding: 19px 7.3% 16px;
    color: #505050;
    font: 13px/16px  'Open Sans', sans-serif;
}
#content .video-block a{
    display: block;
    color: #505050;
}
#content .video-block .img-holder{
    position: relative;
    overflow: hidden;
    margin: 0 0 8px;
    display: block;
}
#content .video-block .img-holder img{
    display: block;
    width: 100%;
    height: auto;
}
#content .video-block .img-holder .play{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -23px 0px 0px -32px;
    width: 66px;
    height: 47px;
    background: url(../images/btn-play.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
#content .video-block .img-holder .comments{
    position: absolute;
    bottom: 12px;
    left: 1px;
    padding: 2px 5px 1px 6px;
    background: #f4c402;
    color: #000;
    font: 700 11px/13px  'Open Sans', sans-serif;
    display: none;
}
#content .video-block .img-holder .comments span{
    background: url(../images/bg-comments.png) no-repeat 100% 50%;
    padding: 0 13px 0 0;
}
#content .video-block a:hover .img-holder .comments{display: block;}
#content .video-block .info-holder{
    overflow: hidden;
    display:block;
    color: #949494;
    font: 700 10px/13px  'Open Sans', sans-serif;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 7.3% 7px;
    margin: 0 -7.3% 9px;
}
.no-touch #content .video-block a .info-holder .date,
.no-touch #content .video-block a .info-holder .time,
.no-touch #content .video-block a .info-holder .rating{
    visibility: hidden;
}
.no-touch #content .video-block a:hover .info-holder .date,
.no-touch #content .video-block a:hover .info-holder .time,
.no-touch #content .video-block a:hover .info-holder .rating{
    visibility: visible;
}
#content .video-block .info-holder .date{
    float: left;
    margin: 0 7px 0 0 ;
}
#content .video-block .info-holder .time{
    position: relative;
    padding: 0 0 0 4%;
    float: left;
}
#content .video-block .info-holder .time:after{
    position: absolute;
    top: 3px;
    left: 0;
    width: 1px;
    height: 9px;
    background: #949494;
    content: '';
}
#content .video-block .info-holder .rating{
    padding: 0;
    float: right;
    margin: 4px 0 0;
}
#content .video-block .text{
    display: block;
    margin: 0;
}
#content .video-block .text a{
    color: #505050;
}
#content .video-block p a:hover{
    text-decoration: underline;
}
#content .photo-list{
    padding: 10px 0 0 5px;
    margin: -5px 0 0 -8%;
    list-style: none;
    overflow: hidden;
}
#content .photo-list li{
    float: left;
    width: 16%;
    margin: 0 0 8% 8.5%;
}
#content .photo-list a{
    display: block;
}
#content .photo-list a:hover{
    border:5px solid #f4c402;
    margin: -5px;
}
#content .photo-list img{
    display: block;
    height: auto;
    width: 100%;
}
#content .content-gallery{
    overflow: hidden;
    margin: 0 0 12px;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
}
#content .content-gallery .title-holder{
    overflow: hidden;
    padding: 0 0 16px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 15px;
}
#content .content-gallery .title-holder h2{
    margin: 0;
    overflow: hidden;
}
#content .content-gallery .btn-list{
    float: right;
    padding: 0;
    margin: 5px 5px 0 0;
    list-style: none;
    overflow: hidden;
}
#content .content-gallery .btn-list li{
    float: left;
    margin: 0 0 0 7px;
}
#content .content-gallery .btn-list .prev{
    background: url(../images/btn-gallery2.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    width: 6px;
    height: 12px;
    float: left;
}
#content .content-gallery .btn-list .prev:hover{
    background-position: 0 -18px;
}
#content .content-gallery .btn-list .next{
    background: url(../images/btn-gallery2.png) no-repeat -13px 0;
    text-indent: -9999px;
    overflow: hidden;
    width: 6px;
    height: 12px;
    float: left;
}
#content .content-gallery .btn-list .next:hover{
    background-position: -13px -18px;
}
#content .content-gallery .mask{
    overflow: hidden;
}
#content .content-gallery .slideset{
    white-space: nowrap;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #505050;
    font: 14px/17px  'Open Sans', sans-serif;
    letter-spacing: -0.3em;
}
#content .content-gallery .slideset>li{
    display: inline-block;
    vertical-align: top;
    width: 24.1%;
    margin: 0px 1.2% 16px 0px;
    letter-spacing: 0;
    white-space: normal;
}
#content .content-gallery .slideset>li>a,
#content .column .box >a{
    color: #505050;
    display: block;
}
#content .content-gallery .slideset>li>a:hover,
#content .column .box >a:hover{
    color: #000;
}
#content .content-gallery .slideset  .img-holder,
#content .column .box  .img-holder{
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 0 10px;
}
#content .content-gallery .slideset  .img-holder img,
#content .column .box  .img-holder img{
    display: block;
    width: 100%;
    height: auto;
}
#content .content-gallery .slideset .comments,
#content .column .box .comments{
    position: absolute;
    bottom: 10px;
    left: 1px;
    padding: 2px 5px 2px 5px;
    background: #f4c402;
    color: #000;
    font: 700 11px/13px  'Open Sans', sans-serif;
}
.no-touch #content .content-gallery .slideset .comments,
.no-touch #content .column .box .comments{
    display: none;
}
#content .content-gallery .slideset .comments span,
#content .column .box .comments span{
    background: url(../images/bg-comments.png) no-repeat 100% 55%;
    background-size: 11px 11px;
    padding: 0 13px 0 0;
}
.no-touch #content .content-gallery .slideset>li>a:hover .comments,
.no-touch #content .column .box >a:hover .comments{
    display: block;
}
#content .content-gallery .slideset .info-holder,
#content .column .box .info-holder{
    overflow: hidden;
    color: #949494;
    display: block;
    visibility: hidden;
    margin: 0 0 5px;
    font: 700 10px/13px  'Open Sans', sans-serif;
}
#content .content-gallery .slideset>li>a:hover .info-holder,
#content .column .box>a:hover .info-holder{
    visibility: visible;
}
#content .content-gallery .slideset .info-holder .date,
#content .column .box .info-holder .date{
    float: left;
    margin: 0 7px 0 0 ;
}
#content .content-gallery .slideset .info-holder .time,
#content .column .box  .info-holder .time{
    position: relative;
    padding: 0 0 0 4%;
    float: left;
}
#content .content-gallery .slideset .info-holder .time:after,
#content .column .box  .info-holder .time:after{
    position: absolute;
    top: 3px;
    left: 0;
    width: 1px;
    height: 9px;
    background: #949494;
    content: '';
}
#content .content-gallery .slideset .info-holder .rating,
#content .column .box .info-holder .rating{
    padding: 0;
    float: right;
    margin: 4px 0 0;
}
#content .content-gallery .slideset .text{
    display: block;
    font-weight: bold;
}
#content .threecolumns{
    overflow: hidden;
    margin: 0 0 0 -2.5%;
}
#content .threecolumns .column{
    float: left;
    width: 22.36%;
    margin: 0px 0 16px 2.5%;
    color: #505050;
    font: 14px/17px  'Open Sans', sans-serif;
}
#content .threecolumns .column h2{
    border-bottom: 1px solid #ebebeb;
    padding: 0 0 15px 14%;
    margin: 0 0 17px -14%;
}
#content .threecolumns .column:first-child h2{
    margin: 0 0 17px;
    padding: 0 0 15px;
}
#content .threecolumns .column .box{
    overflow: hidden;
}
#content  .ad-holder{
    /*overflow: hidden;*/
    margin: 0 0 17px;
    background: #dadada;
    padding: 1.5%;
}
#content  .ad-holder div{
    display: block;
    height: auto;
    width: 728px;
    margin: 0 auto 0 auto;
    /*border:1px solid #b6b6b6;*/
}
#main h3{
    font: 700 18px/22px  'Open Sans', sans-serif;
    color: #000;
    border-bottom: 1px solid #EBEBEB;
    padding: 0 0 15px 0;
    margin: 0 0 17px 0;    

}
.columns-holder{
    overflow: hidden;
}
.columns-holder .right-col{
    float: right;
    width: 25%;
    margin: 0 0 0 19px;
}
#content .columns-holder .right-col{
    width: 29.4%;
    margin: 0 0 0 2.6%;
}
.columns-holder .left-col{
    overflow: hidden;
}
.post-list{
    padding: 0;
    margin: 0;
    list-style: none;
    font: 14px/18px  'Open Sans', sans-serif;
    color: #000;
    overflow: hidden;
}
.post-list li{
    overflow: hidden;
    margin: 0 0 27px;
}
.post-list img{
    display: block;
    height: auto;
    width: 100%;
    margin: 0 0 9px;
}
.post-list a{
    color: #000;
}
#main .post-list p{
    margin: 0 0 6px;
    font-weight: bold;
}
.post-list .info-block{
    overflow: hidden;
    font: 10px/13px  'Open Sans', sans-serif;
}
.post-list  .name{
    background: url(../images/bg-name.png) no-repeat 0 1px;
    padding: 0 0 0 17px;
    color: #ccc;
    margin: 0 12px 0 0;
    float: left;
    min-width: 20px;
    min-height: 13px;
}
.post-list .time{
    float: left;
    background: url(../images/bg-time.png) no-repeat 0 1px;
    margin: 0 12px 3px 0;
    padding: 0 0 0 17px;
    color: #b7aab9;
    font:10px/13px  'Open Sans', sans-serif;
    min-width: 20px;
    min-height: 13px;
}
.post-list .respond{
    float: left;
    background: url(../images/bg-respond.png) no-repeat 0 1px;
    margin: 0 12px 3px 0;
    padding: 0 0 0 17px;
    color: #b7aab9;
    font:10px/13px  'Open Sans', sans-serif;
    min-width: 20px;
    min-height: 13px;
}

.post-list2{
    padding: 0;
    margin: -5px 0 0;
    list-style: none;
    overflow: hidden;
    color: #505050;
    font: 11px/15px  'Open Sans', sans-serif;
}
.post-list2 li{
    overflow: hidden;
    margin: 0 0 12px;
    padding: 0 0 16px;
    border-bottom: 1px solid #eee;
}
#content .post-list2 li{
    padding: 0 0 4px;
    margin: 0 0 17px;
}
.post-list2 li:last-child{
    border:0;
}
.post-list2 .alignleft{
    float: left;
    margin: 5px 12px 5px 0px;
    width: 125px;
    height: auto;
}
.post-list2 .text-holder{
    overflow: hidden;
}
.post-list2 .title{
    margin: 0 0 7px;
    display: block;
    color: #000;
    font: 18px/22px  'Open Sans', sans-serif;
}
.post-list2 .title a{
    color: #000;
}
.post-list2 .red a {
    color: #AB0000 !important;
}

.post-list2 .bold a {
    font-weight: bold !important;
}
.post-list2 .title a:hover{
    text-decoration: underline;
}
#main .post-list2 p{
    margin: 0 0 22px;
}
#content .post-list2 p{
    margin: 0 0 10px;
}
.post-list2 p .name{
    color: #f4c402;
    font-weight: 700;
}
.post-list2 a{
    color: #000;
}
.post-list2 .info-block{
    overflow: hidden;
}
.post-list2 .info-block .name{
    float: left;
    background: url(../images/bg-name.png) no-repeat 0 1px;
    margin: 0 11px 3px 0;
    padding: 0 0 0 15px;
    color: #b7aab9;
    font:10px/13px  'Open Sans', sans-serif;
    min-width: 20px;
    min-height: 13px;
}
.post-list2 .info-block .time{
    float: left;
    background: url(../images/bg-time.png) no-repeat 0 1px;
    margin: 0 12px 3px 0;
    padding: 0 0 0 17px;
    color: #b7aab9;
    font:10px/13px  'Open Sans', sans-serif;
    min-width: 20px;
    min-height: 13px;
}
.post-list2 .info-block .respond{
    float: left;
    background: url(../images/bg-respond.png) no-repeat 0 1px;
    margin: 0 12px 3px 0;
    padding: 0 0 0 17px;
    color: #b7aab9;
    font:10px/13px  'Open Sans', sans-serif;
    min-width: 20px;
    min-height: 13px;
}


.comments-form{

    font: 14px/19px  Arial, sans-serif;
    overflow: hidden;
    margin: 10px 5px 10px 0;
    padding: 16px 0 0 0;
    color: #616161;
    border-top: 1px solid #b3b3b3;
}
.comments-form fieldset{
    clear:both;
}
.comments-form .input-holder{
    overflow: hidden;
    margin: 0  0 16px;
}
.comments-form label{
    width: 20%;
    float: left;
    display: block;
    margin: 0 0 10px;
    color: #414141;
    font: 16px/21px  Arial, sans-serif;
}
.comments-form input[type="text"]{
    width: 30%;
    height: 31px;
    padding: 5px 6px;
    margin: 0;
    border:1px solid #afafaf;
    color: #414141;
    font: 16px/21px  Arial, sans-serif;
    font-weight: bold;
    float: left;
    border-radius: 0;
}

.comments-form textarea{
    width: 80%;
    padding: 5px 6px;
    border:1px solid #afafaf;
    color: #414141;
    font: 16px/21px  Arial, sans-serif;
    float: left;
    border-radius: 0;
    overflow: auto;
    height: 75px;
    margin: 0 0 8px;    
}
.comments-form .submit-holder{
    clear: both;
    overflow: hidden;
    margin: -2px 0 0;
}
.comments-form input[type="submit"]{
    float: right;
    padding: 0;
    margin: 0;
    border:0;
    background: url(../images/btn-submit.png) no-repeat;
    width: 106px;
    height: 33px;
    cursor: pointer;
    color: #000;
    border-radius: 0;
    font: 13px/15px  Arial, sans-serif;
}
.comments-form .note-holder{
    width: 80%;
    float: right;
    overflow: hidden;
    color: #acacac;
    font: 14px/23px Arial, sans-serif;
}
.comments-form .note-holder .title{
    font: 18px/23px Arial, sans-serif;
    display: block;
}
.comments-form .note-holder p{
    margin: 0;
}
.comments-form .good {
    color: #00a300;
}
.comments-form .bad {
    color: #AB0000;
}



.send-news-form{
    font: 17px/23px  Arial, sans-serif;
    overflow: hidden;
    margin: 0 28px 1px 0;
    color: #616161;
}
#main .send-news-form  h2{
    font: 36px/36px  'Open Sans', sans-serif;
    text-transform: none;
    color: #1f4498;
    margin: 0 0 21px;
}
#main .send-news-form  h3{
    font: 18px/23px  Arial, sans-serif;
    color: #616161;
    margin: 0 0 17px;
}
.send-news-form p{
    margin: 0 0 20px;
}
.send-news-form .input-holder{
    overflow: hidden;
    margin: 0  0 16px;
}
.send-news-form label{
    display: block;
    margin: 0 0 10px;
    color: #414141;
    font: 18px/23px  Arial, sans-serif;
}
.send-news-form input[type="text"],
.send-news-form textarea{
    width: 100%;
    height: 39px;
    padding: 8px 10px;
    margin: 0;
    border:1px solid #afafaf;
    color: #414141;
    font: 18px/23px  Arial, sans-serif;
    float: left;
    border-radius: 0;
}
.send-news-form textarea{
    overflow: auto;
    height: 298px;
    width: 100% !important;
    margin: 0 0 8px;
}
.send-news-form .input-frame{
    float: left;
    width: 48.75%;
    margin: 0 0 0 2.5%;
}
.send-news-form .input-frame:first-child{
    margin: 0;
}
.send-news-form .max{
    float: right;
    color: #414141;
    font: 12px/15px  Arial, sans-serif;
}
.send-news-form .file-holder{
    overflow: hidden;
    margin: -21px 0 20px;
}
.send-news-form .file-holder label{
    float: left;
    margin: 0 6px 0 0;
}
.send-news-form .file-holder input[type="file"]{
    font: 13px/15px  Arial, sans-serif;
    height: 24px;
    float: left;
    padding: 0;
    margin: 0;
    color: #414141;
    border:0;
}
.send-news-form .submit-holder{
    overflow: hidden;
    margin: -2px 0 28px;
}
.send-news-form input[type="submit"]{
    float: left;
    padding: 0;
    margin: 0;
    border:0;
    background: url(../images/btn-submit.png) no-repeat;
    width: 106px;
    height: 33px;
    cursor: pointer;
    color: #000;
    border-radius: 0;
    font: 13px/15px  Arial, sans-serif;
}
.send-news-form .note-holder{
    overflow: hidden;
    color: #acacac;
    font: 14px/23px Arial, sans-serif;
}
.send-news-form .note-holder .title{
    font: 18px/23px Arial, sans-serif;
    display: block;
}
.send-news-form .note-holder p{
    margin: 0;
}
.search-holder{
    overflow: hidden;
    padding: 13px 0 0 ;
}
#content .search-holder .ad-holder{
    margin: 0 0 36px;
}
#main .search-holder h2{
    font: 700 20px/24px  'Open Sans', sans-serif;
    margin: 0 0 16px;
    color: #000;
    text-transform: none;
}
.search-form2{
    overflow: hidden;
    margin: 0 0 24px;
}
.search-form2 .text{
    float: left;
    border:2px solid #d3d3d3;
    width: 85%;
    height: 41px;
    color: #333;
    padding: 0 10px;
    margin: 0;
    background: #fff;
    font:700 14px/18px  'Open Sans', sans-serif;
    border-radius: 0;
}
.search-form2 input[type="submit"]{
    float: left;
    width: 14.5%;
    height: 41px;
    padding: 0;
    margin: 0;
    border:0;
    background: #0077ee;
    cursor: pointer;
    color: #fff;
    border-radius: 0;
    font: 700 18px/22px  'Open Sans', sans-serif;
}
.search-form2 input[type="submit"]:hover{
    cursor: pointer;
}
#content .search-holder .post-list2 p{
    margin:0 0 7px ;
}
.quiz-holder{
    /*overflow: hidden;*/
    padding: 2px 0 0;
    margin: 0 0 28px;
}
.quiz-holder .category{
    display: inline-block;
    vertical-align: top;
    color: #fff;
    padding: 6px 10px 5px;
    min-width: 145px;
    text-align: center;
    background:#1f4498;
    margin: 0 0 15px;
    text-transform: uppercase;
    font: 700 15px/18px  'Open Sans', sans-serif;
}
#content .quiz-holder h1{
    margin: 0 0 13px;
    color: #444;
}
#content .quiz-holder h2{
    text-transform: none;
    font: 36px/40px  'Open Sans', sans-serif;
    margin: 0 0 13px;
    color: #575757;
}
#content .quiz-holder h3{
    text-transform: none;
    font: 20px/24px  'Open Sans', sans-serif;
    margin: -4px 0px 16px;
    color: #575757;
}
#content .quiz-holder .date-info{
    float: left;
    overflow: hidden;
    margin: 0 0 9px;
    color: #898989;
    font: 13px/16px  'Open Sans', sans-serif;
}
#content .quiz-holder .view-info{
    float: right;
    overflow: hidden;
    margin: 0 0 9px;
    color: #898989;
    font: 13px/16px  'Open Sans', sans-serif;
}

.quiz-holder .author-info{
    overflow: hidden;
    margin: 0 0 21px;
}
.quiz-holder .author-info .alignleft{
    float: left;
    margin: 5px 8px 0px 0px;
    width: 48px;
    height: auto;
}
.quiz-holder .author-info .holder{
    overflow: hidden;
}
.quiz-holder .author-info .name{
    display: block;
    font: 700  18px/22px  'Open Sans', sans-serif;
    color: #575757;
}
.quiz-holder .author-info .position{
    display: block;
    margin: -3px 0 0;
    font: 15px/18px  'Open Sans', sans-serif;
    color: #b3b3b3;
}
.quiz-holder .share-list{
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
    overflow: hidden;
    display: table;
    width: 100%;
    height: 39px;
}

.quiz-holder .share-list li{
    display: table-cell;
    vertical-align: top;
    padding: 0 1px 4px;

}
.quiz-holder .share-list li a{
    padding: 0 0 0 4px;
    display: block;
}
.quiz-holder .share-list li a.fb{
    background-color: #375d9e;
}
.quiz-holder .share-list li a.tw{
    background-color: #55acee;
}
.quiz-holder .share-list li a.gp{
    background-color: #dd4b39;
}
.quiz-holder .share-list li a.vk{
    background-color: #4d75a3;
}
.quiz-holder .share-list li a.ok{
    background-color: #ed812b;
}
.quiz-holder .share-list li a.mr{
    background-color: #168de2;
}
.quiz-holder .share-list li a.yt{
    background-color: #e52d27;
}
.quiz-holder .share-list li a.li{
    background-color: #0073b2;
}
.quiz-holder .share-list li a.wa{
    background-color: #244242;
}
.quiz-holder .share-list li a.tg{
    background-color: #0095d7;
}
.quiz-holder .share-list li a.print{
    background-color: #555555;
}

.quiz-holder .share-list li:first-child a{
    padding: 0;
}
.quiz-holder .share-list img{
    display: block;
    height: 39px;
    max-width: 100%;
}

h4.box {
    color: #FFF;
    background-color: #1f4498;
    padding-top: 4px;
    padding-right: 6px;
    padding-bottom: 4px;
    padding-left: 6px;
    display: block;
    float: left;
    margin: 20px 0 20px 0;
    font-size: 16px;
    line-height: 23px;
}
h4.box_wide {
    color: #FFF;
    background-color: #1f4498;
    padding-top: 4px;
    padding-right: 6px;
    padding-bottom: 4px;
    padding-left: 6px;
    display: block;
    margin: 20px 0 20px 0;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
}

#comments_form_holder {
    clear: both;
}

.tags_list {
    height: 31px;
    margin: 10px 0 40px 0;
    clear: both;
}


.tags_list h4 {
    color: #FFF;
    background-color: #1f4498;
    padding-top: 4px;
    padding-right: 6px;
    padding-bottom: 4px;
    padding-left: 6px;
    margin-right: 1px;
    display: inline-block;
    margin:  0 0 5px 0;
    float: left;
    font-size: 16px;
    line-height: 23px;
    /* text-transform: uppercase; */
}

.tags_list a {
    color: #1f4498;
    background-color: #EEE;
    padding: 4px 10px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 5px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    /* text-transform: uppercase; */
}

.tags_list a:hover {
    color: #FFF;
    background-color: #1f4498;
}


.quiz-holder .article_img .share-list{
    padding: 0;
    margin: 0 0 0px;
    list-style: none;
    overflow: hidden;
    display: table;
    width: 9%;
    float:right;
}

.quiz-holder .article_text {
    display: block;
    clear: both;
    margin: 0 0.8ex 0 0.8ex; 
} 

.quiz-holder .article_text a{
    color: #1f4498;
    text-decoration: underline;
} 

.quiz-holder blockquote {
    line-height: 1.46em;
    background-color: #F2F2F2;
    padding: 1.15em 20px;
    font-style: italic;
    margin: 5px 0px 1.92em;
}

.quiz-holder .article_text img{
    max-width: 100% !important;
    /*height: auto !important;*/
} 

.quiz-holder .article_text {
    display: block;
    clear: both;
    margin: 0 0.8ex 0 0.8ex; 
} 
.quiz-holder .article_text table {
    border-width: 1px;
    border-color: #BBB;
    border-style: solid;
    margin-bottom: 25px;
}
.quiz-holder .article_text table th,
.quiz-holder .article_text table tr,
.quiz-holder .article_text table td {
    padding: 4px 8px;
    border-width: 1px;
    border-color: #BBB;
    border-style: solid;
}


.quiz-holder .article_text article {
    width: 310px;
    float: left;
    background-color: #fff;
    margin: 5px 30px 20px 0;
    padding: 0 0 10px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-top: 6px solid #1f4498;
    border-bottom: 6px solid #1f4498;
    outline: 1px solid #DADADA;
}
.quiz-holder .article_text article a {
    text-decoration: none!important;
    color: #000!important;
}
.quiz-holder .article_text article a:hover {
    text-decoration: underline!important;
    color: #0275A5!important;
}
.quiz-holder .article_text article h4 {
    margin: 5px 20px 0 20px;
    padding: 5px 0;
    font-weight: 700;
    font-size: 19px;
    color: #333;
    line-height: 22px;
}
.quiz-holder .article_text article p.intro {
    margin: 0 20px;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
}  



.quiz-holder .article_img {
    display: block;
    clear: both;
}

.quiz-holder .article_img img{
    width:90%;
    float: left;
}
.quiz-holder .article_img .share-list li{
    display: block;
    vertical-align: top;
    padding: 0 0 1px 1%;
}

.quiz-holder .article_img .share-list li a{
    height: 90px;

}

.quiz-holder .question-holder{
    overflow: hidden;
    margin: 0 0 36px;
}
.quiz-holder .question-holder .holder{
    overflow: hidden;
    margin: 0 0 21px;
}
.quiz-holder .question-holder .question{
    float: left;
    width: 35%;
    color: #525252;
    font: 19px/22px  'Open Sans', sans-serif;
    margin: 7px 1.4% 0 0;
}
.quiz-holder .question-holder  .procent{
    float: left;
    width: 10%;
    margin: 7px 1% 0 0;
    font:700 19px/22px  'Open Sans', sans-serif;
    color: #525252;
}
.quiz-holder .question-holder  .slider{
    overflow: hidden;
}
.quiz-holder .question-holder img{
    float: left;
    margin:  0 9px 0 0;
    height: 41px;
}

.quiz-holder .question-holder span.bar{
    float: left;
    margin:  0 9px 0 0;
    height: 41px;
    background-color: #8c8c8c;
}
.quiz-holder .question-holder .col{
    overflow: hidden;
    display: block;
    font:700 19px/22px  'Open Sans', sans-serif;
    color: #525252;
    margin: 7px 0 0;
}
.quiz-holder  .author-description{
    background: #eaeaea;
    overflow: hidden;
    padding:13px 22px 15px;
    margin: 0 0 17px;
    font: 14px/18px  'Open Sans', sans-serif;
    color: #575757;
}
.quiz-holder  .author-description .name{
    display: block;
    margin: 0 0 3px;
    font:700 18px/21px  'Open Sans', sans-serif;
}
.quiz-holder  .author-description p{
    margin: 0;
}
.quiz-holder .like-holder{
    clear: both;
    min-height: 38px;
    /*overflow: hidden;*/
    margin: 30px 0 40px 0;
}
.quiz-holder .like-holder div{
    display: block;
    float: left;
    margin: 0 15px 0 3px;
    width: 20%;

}
.quiz-holder .form-plagin{
    overflow: hidden;
    margin: 0 0 14px;
}
.quiz-holder .form-plagin img{
    display: block;
    height: auto;
    width: 100%;
}
.quiz-holder .vote-holder{
    clear: both;
    /*max-height: 800px;*/
    overflow: auto;
    margin: 0 0 0 6px;
    padding: 0;
    list-style: none;
}
.quiz-holder .vote-holder ul{
    padding: 14px 0 0 50px;
    margin: 0 0 -14px;
    list-style: none;
    overflow: hidden;
}
.quiz-holder .vote-holder li{
    overflow: hidden;
    margin:  0 0 14px 0;
    padding:  14px 0 0 0;
    border-top: 1px solid #e9eaed

}
.quiz-holder .vote-holder .vote{
    float: left;
    width: 48px;
    font: 700 18px/22px Arial, sans-serif;
    color: #00ea0b;
}
.quiz-holder .vote-holder img{
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 15px 0 0;
}

.quiz-holder .vote-holder .holder{
    overflow: hidden;
    color: #191919;
    padding: 0 0 0 0;
    font: 14px/18px  Arial, sans-serif;
}
.quiz-holder .vote-holder .holder .info-holder{
    margin: 0 0 4px;
    overflow: hidden;
}
.quiz-holder .vote-holder .holder .info-holder .name{
    color: #3b5998;
    font: 14px/20px Arial, sans-serif;
    margin: 0 0 0 0;
    font-weight: bold;
}

.quiz-holder .vote-holder .holder .info-holder .date{
    color: #9197a3;
    font: 12px/16px Arial, sans-serif;
    padding: 1px 0 0 0;
    margin: 0 0 0 0;
    font-weight: normal;
}


.quiz-holder .vote-holder .holder .info-holder .plus{
    float: left;
    color: #00ea0b;
    font:700 16px/16px Arial, sans-serif;
    text-decoration: underline;
    margin: 0 5px 0 0;
    width: 39px;
}
.quiz-holder .vote-holder .holder .info-holder .minus{
    float: left;
    color: #ea0000;
    width: 39px;
    font:700 16px/16px Arial, sans-serif;
    text-decoration: underline;
}
.quiz-holder .vote-holder .holder .info-holder .plus:hover,
.quiz-holder .vote-holder .holder .info-holder .minus:hover{
    text-decoration: none;
}
.quiz-holder .vote-holder .holder p{
    margin: 0;
}

.quiz-holder .vote-holder a.comment_reply{
    display: block;
    margin: 6px 0 0 0;
    color: #168de2;
    font: 12px/16px Arial, sans-serif;    
}

.vote-holder .c-vote-p {
                                    margin-left:20px;
                                    height: 16px;
                                    padding-left: 20px;
                                    background: url(../images/thumb_up.png) no-repeat 0 0;
                                    background-size: 16px 16px;
                                    cursor: pointer;
                                    color: #00a900; 
                                }
                                .vote-holder .c-vote-n {
                                    margin-left:20px;
                                    height: 16px;
                                    padding-left: 20px;
                                    background: url(../images/thumb_down.png) no-repeat 0 0;
                                    background-size: 16px 16px;
                                    cursor: pointer;
                                    color: #c80000;
                                }
                                .vote-holder .voted {
                                    cursor: default!important;
                                    font-weight: bold;
                                    font-size: 1.2em;
                                }
                                
.quiz-holder .list{
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
    overflow: hidden;
}
.quiz-holder .list li{
    overflow: hidden;
    margin: 0 0 11px;
    background: #f7f7f7;
}
.quiz-holder .list.no-img li{
    margin: 0 0 15px;
}
.quiz-holder .list li a{
    display: block;
    color: #000;
}
.quiz-holder .list li a:hover{
    text-decoration: underline;
}
.quiz-holder .list li .alignleft{
    float: left;
    margin: 0 13px 0 0;
    width: 47.5%;
}
.quiz-holder .list li .holder{
    padding: 16px 10px 10px 0;
    overflow: hidden;
}
.quiz-holder .list.no-img li .holder{
    padding: 17px 24px 18px;
    background: #e8e8e8;
}
.quiz-holder .list .type{
    display: block;
    font: 14px/18px  'Open Sans', sans-serif;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.quiz-holder .list.no-img li .holder .type{
    margin: 0 0 5px;
}
.quiz-holder .list .title{
    display: block;
    font: 700 23px/28px 'Open Sans', sans-serif;
    color: #525252;
}
.quiz-holder .content-img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 30px auto;
}
.quiz-holder .gallery-img{
    display: block;
    max-width: 100%;
    max-height: 800px;
    margin: 0 auto 30px auto;
}
.quiz-holder .img-title{
    display: block;
    font: 14px/18px  'Open Sans', sans-serif;
    color: #161616;
    margin:-20px 0px 43px;
}
.quiz-holder .photo-holder{
    overflow: hidden;
    margin: 0 0 16px;
    padding: 24px 0 0;
}
.quiz-holder .photo-holder h4{
    margin: 0 0 9px;
    font: 14px/18px  'Open Sans', sans-serif;
    color: #161616;
}
.quiz-holder .photo-list2{
    padding: 0;
    margin: 0 0 0 0;
    list-style: none;
    overflow: hidden;
    clear: both;
}
.quiz-holder .photo-list2 li{
    float: left;
    margin: 0 0 5px 5px;
}
.quiz-holder .photo-list2 li img{
    display: block;
    height: 120px;
}

#news_gal {
    clear: both; 
}
#news_gal .news_gal_element {
    width: 200px;
    padding: 0 10px 10px 0;
}
.quiz-holder p{
    margin: 0 0 16px;
}
.load-more{
    display: block;
    color: #0067bf;
    font: 700 14px/16px  'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    border:2px solid #0067bf;
    padding: 12px 10px;
    margin: 20px 0 20px 0;
}
.load-more.margin{
    margin: 0 0 50px;
}
#content .search-holder .post-list2 li{
    margin: 0 0 12px;
    padding: 0 0 17px;
}
#sidebar{
    float: right;
    margin: 0 0 0 -24%;
    padding: 3px 0 0;
    width: 24%;
}
#sidebar.top{
    padding: 0 0;
}
#sidebar .ad-holder{
    /*overflow: hidden;*/
    margin: 0 auto 22px auto;
    width: 100%;
    /*background-color: #E5E5E5;*/
}

#sidebar .ad-holder div{
    margin: 0 auto;
}

#sidebar .story-list{
    padding:19px 7.3% 0px;
    margin: 0 6px 20px 0;
    list-style: none;
    overflow: hidden;
    background: #e5e5e5;
    color: #505050;
    font: 15px/19px  'Open Sans', sans-serif;
}
#sidebar .story-list li{
    padding: 0 0 22px;
}
#sidebar .story-list a{
    display: block;
    color: #505050;
}
#sidebar .story-list .btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    overflow: hidden;
    background: url("../images/btn-play2.png") no-repeat scroll 0% 0% transparent;
    background-size: 60px 60px;
    margin: -30px 0 0 -30px;
}

#sidebar .story-list .img-holder{
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 0 8px;
}
#sidebar .story-list .img-holder img{
    display: block;
    width: 100%;
    height: auto;
}
#sidebar .story-list .img-holder .comments{
    position: absolute;
    bottom: 11px;
    left: 1px;
    padding: 2px 5px 2px 5px;
    background: #f4c402;
    color: #000;
    font: 700 11px/13px  'Open Sans', sans-serif;
}
.no-touch #sidebar .story-list .img-holder .comments{
    display: none;
}
#sidebar .story-list .img-holder .comments span{
    background: url(../images/bg-comments.png) no-repeat 100% 55%;
    background-size: 11px 11px;
    padding: 0 13px 0 0;
}
.no-touch #sidebar .story-list a:hover .img-holder .comments{display: block;}
#sidebar .story-list .info-holder{
    overflow: hidden;
    color: #949494;
    display: block;
    font: 700 10px/13px  'Open Sans', sans-serif;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 7.3% 9px;
    margin: 0 -7.3% 7px;
}
#sidebar .story-list .info-holder .date{
    float: left;
    margin: 0 7px 0 0 ;
}
.no-touch #sidebar .story-list .info-holder .date,
.no-touch #sidebar .story-list .info-holder .time,
.no-touch #sidebar .story-list .info-holder .rating{
    /*visibility: hidden;*/
}
#sidebar .story-list .info-holder .time{
    position: relative;
    padding: 0 0 0 4%;
    float: left;
}
#sidebar .story-list .info-holder .time:after{
    position: absolute;
    top: 3px;
    left: 0;
    width: 1px;
    height: 9px;
    background: #949494;
    content: '';
}
#sidebar .story-list .info-holder .rating{
    padding: 0;
    float: right;
    margin: 4px 0 0;
}
.no-touch #sidebar .story-list a:hover .rating,
.no-touch #sidebar .story-list a:hover .date,
.no-touch #sidebar .story-list a:hover .time{visibility: visible;}
#sidebar .story-list .text{
    display: block;
}
.win-form{
    overflow: hidden;
    margin: 19px 0 0 0;
}
.win-form .check-holder{
    overflow: hidden;
    border-top: 2px solid #e5e5e5;
}
.win-form input[type="radio"]{
    display: none;
}
.win-form label{
    overflow: hidden;
    padding: 10px 0 6px;
    display: block;
    cursor: pointer;
}
.win-form .text{
    float: left;
    color: #505050;
    padding: 1px 0 0 ;
    font: 12px/15px  'Open Sans', sans-serif;
    border-radius: 0;
    width: 90%;
}
.win-form .col{
    float: right;
    color: #818181;
    display: none;
    padding: 1px 0 0  ;
    font: 700 11px/13px  'Open Sans', sans-serif;
}
.win-form .radioArea{
    float: left;
    width: 10%;
    height: 15px;
    padding: 0 2px 0 0;
    background: url(../images/bg-check.png) no-repeat;
}
.win-form .radioAreaChecked{
    background-position:-23px 0;
}
.win-form label.active .text{
    color: #000;
}
.win-form label.active .col{display: block;}
.win-form .submit-holder{
    overflow: hidden;
    border-top: 2px solid #e5e5e5;
    padding: 18px 0;
}
.win-form .submit-holder .vote{
    float: left;
    width: 45.5%;
    background: #000;
    color: #fff;
    text-align: center;
    font: 13px/16px  'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 5px 0;
}
.win-form .submit-holder .result{
    float: left;
    width: 45.5%;
    background: #c8c8c8;
    color: #727272;
    text-align: center;
    font: 13px/16px  'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 5px 0;
    margin:0px 0px 0px 7.2%;
}
.tab-section{
    overflow: hidden;
    margin: 0 0 20px 0;
}

.tabset{
    padding: 0;
    margin: 0;
    list-style: none;
    display: table;
    width: 100%;
    border-collapse: collapse;
    text-transform: uppercase;
    font: 13px/16px  'Open Sans', sans-serif;
    border: solid #e7e7e7;
    border-width:2px 0;
}
.tabset li{
    text-align: center;
    display: table-cell;
    border-left: 2px solid #e7e7e7;
}
.tabset li:first-child{
    border:0;
}
.tabset  a{
    padding: 14px 0px 15px;
    position: relative;
    background: #fff;
    display: block;
}
.tabset  a:hover{
    text-decoration: underline;
    color: #000;
}
.tabset  .active a{
    padding: 14px 0px 17px;
    margin: 0 0 -2px;
}
.tab-content{
    overflow: hidden;
}
.tab-content ul{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    font: 12px/15px  'Open Sans', sans-serif;
}
.tab-content ul>li{
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}
.tab-content ul>li>a{
    display: block;
    float: left;
    padding: 10px 0 15px 0;
    color: #505050;
    /*height: 63px;*/
    position: relative;
    width: 65%;
}

.tab-content ul>li>img{
    display: block;
    width: 35%;
    padding: 10px 10px 10px 0;
    float:left;
}

.tab-content ul>li>a:hover{
    color: #000;
    text-decoration: none;
}
.tab-content ul>li>a:after{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: 0 0 0 -5px;
    width: 1px;
    content: '';
}
.tab-content ul>li .align{
    width: 100%;
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
}
.tab-content ul>li .text{
    display: block;
    font-weight: bold;
}
.tab-content ul .info-holder{
    /*    position: absolute;
        top: 5px;
        left: 30%;*/
    display: block;
    width: 100%;
    overflow: hidden;
    color: #949494;
    font: 700 10px/14px  'Open Sans', sans-serif;
}
.no-touch .tab-content ul .info-holder{
    visibility: visible;
}
.no-touch .tab-content ul a:hover .info-holder{
    visibility: visible;
}
.tab-content ul .info-holder .comment{
    float: left;
    margin: 0 1em 0 0;
}
.tab-content ul .info-holder .comment span{
    padding: 0 0 0 13px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/bg-comments2.png) no-repeat 0 3px;
    background-size: 11px 9px;
}
.tab-content ul .info-holder .time{
    float: left;
    margin: 0 1em 0 0;
    padding: 0 0 0 12px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/bg-time2.png) no-repeat 0 2px;
    background-size: 9px 9px;    
}

.tab-content ul .info-holder .views{
    float: left;
    margin: 0 1em 0 0;
    padding: 0 0 0 17px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/bg-eye2.png) no-repeat 0 2px;
    background-size: 14px 9px;    
}

.tab-content ul .rating{
    padding: 0;
    float: right;
    margin: 4px 0 0;
}
.side-list{
    padding: 4px 24px 0 16px;
    margin: 0;
    list-style: none;
    overflow: hidden;
    font: 600 15px/18px  'Open Sans', sans-serif;
}
.side-list li{
    padding: 0 0 10px;
    margin: 0 0 19px;
    overflow: hidden;
}
.side-list a{
    color: #444;
    display: block;
}
.side-list a:hover{
    text-decoration: underline;
}
.side-list img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 6px;
}
.side-list .title{
    display: block;
}
.large-ad-holder{
    /*overflow: hidden;*/
    clear: both;
    background: #dadada;
    padding: 15px 0;
}
.large-ad-holder.margin{
    margin: 0 0 27px;
}
.large-ad-holder div{
    display: block;
    max-width: 726px;
    /*	border:1px solid #b6b6b6;*/
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.player-holder{
    width: 100%;
    overflow: hidden;
    margin: 0 0 18px;
}
.player-holder .video-block{
    overflow: hidden;
    position: relative;
}
.player-holder .video-window{
    overflow: hidden;
    width: 100%;
}
.player-holder .video-window>img{
    display: block;
    height: auto;
    width: 100%;
}
.player-holder .video-block .btn-play{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 93px;
    height: 92px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/btn-play2.png) no-repeat;
    margin: -76px 0px 0px -47px;
}
.player-holder .video-block .like-holder{
    position: absolute;
    top: 19px;
    right: 19px;
    color: #fff;
    font: 700 14px/17px 'Open Sans', sans-serif;
}
.player-holder .like-holder .comment{
    background: url(../images/bg-comments4.png) no-repeat;
    padding: 0px 11px 0px 25px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.player-holder .like-holder .comment:after{
    position: absolute;
    top: 3px;
    right: 0;
    width:4px ;
    height:13px ;
    background: url(../images/sep-comments.png) no-repeat;
    content: '';
}
.player-holder .like-holder .like{
    background: url(../images/bg-like.png) no-repeat 0 2px;
    margin: 0 0 0 2px;
    padding:  0 0 0 23px;
    display: inline-block;
    vertical-align: top;
}
.player-holder .control-holder{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1f1f1f;
    padding: 15px 2.4% 19px 4%;
}
.player-holder .control-holder .title{
    display: block;
    color: #fff;
    font: 16px/19px 'Open Sans', sans-serif;
    margin: 0 0 -2px;
}
.player-holder .control-holder .title .date{
    color: #ead41b;
    padding: 0 10px 0 0;
}
.player-holder .control-panel{
    width: 100%;
}
.player-holder .control-panel:after{
    display: block;
    clear: both;
    content: '';
}
.player-holder .control-panel .play{
    float: left;
    width: 16px;
    height: 18px;
    margin: 18px 2.5% 0 1px;
    background: url(../images/bg-play.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
.player-holder .control-panel .frame{
    float: left;
    width: 89%;
}
.player-holder .control-panel .slider-holder{
    float: left;
    width: 79.5%;
    position: relative;
    height: 7px;
    border-radius: 4px;
    background: #999;
    margin: 24px 2.4% 0 0;
}
.player-holder .control-panel .slider-holder .handle{
    position: absolute;
    top: -3px;
    left: 0;
    width: 18px;
    height: 13px;
    background: #fff;
    border-radius: 4px;
}
.player-holder .control-panel .slider-holder .slider-frame{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    background: #e4a204;
    border-radius: 4px;
    height: 7px;
}
.player-holder .control-panel .time-holder{
    float: left;
    margin: 19px 0 0;
}
.player-holder .control-panel .countdown{
    float: left;
    color: #fff;
    width: 55px;
    margin: 0 3px 0 0;
    font: 12px/15px 'Open Sans', sans-serif;
}
.player-holder .control-panel .time{
    float: left;
    color: #ead41b;
    width: 55px;
    font: 12px/15px 'Open Sans', sans-serif;
}
.player-holder .control-panel .volume-holder{
    float: right;
    width: 40px;
    position: relative;
}
.player-holder .control-panel .volume-holder .volume{
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/bg-volume.png) no-repeat;
}
.player-holder .control-panel .volume-range{
    position: absolute;
    top: -84px;
    left: 50%;
    height: 76px;
    width: 7px;
    margin:  0 0 0 -2px;
    border:1px solid #fff;
    border-radius: 1px;
}
.player-holder .control-panel .volume-range .handle{
    position: absolute;
    bottom: 54%;
    left: -6px;
    border:5px solid #dcdcdc;
    border-radius: 9px;
    background: #000;
    text-indent: -9999px;
    overflow: hidden;
    width: 17px;
    height: 17px;
}
.player-holder .control-panel .volume-range .volume-frame{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    border-radius: 1px;
    background: #fff;
    height: 54%;
}
.player-holder .video-nav{
    float: right;
    width: 248px;
    background: #e4a204;
    color: #fff;
    position: relative;
    height: 100%;
    padding: 0 0 40px;
}
.player-holder .video-nav .more{
    position: absolute;
    bottom: 16px;
    right: 10px ;
    font: 700 12px/15px 'Open Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: url(../images/arrow-more.png) no-repeat 100% 50%;
    padding: 0 14px 0 0;
}
.player-holder .video-nav .more:hover{
    text-decoration: underline;
}
.player-holder .video-nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 628px;
    font: 14px/17px  'Open Sans', sans-serif;
    color: #000;
}
.player-holder .video-nav ul li{
    border-bottom: 1px solid #aa7903;
    overflow: hidden;
    padding: 7px 2.5% 8px 3.5%;
    margin: 0 0 5px;
}
.player-holder .video-nav ul li .holder{
    overflow: hidden;
    margin: 0 0 6px;
}
.player-holder .video-nav ul .img-holder{
    float: left;
    position: relative;
    margin: 2px 10px 0 0;
    width: 50%;
}
.player-holder .video-nav ul .img-holder .btn-play{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 29px;
    height: 30px;
    background: url(../images/btn-play3.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    margin: -15px 0 0 -15px;
}
.player-holder .video-nav ul .img-holder img{
    display: block;
    height: auto;
    width: 100%;
}
.player-holder .video-nav ul a{
    color: #fff;
}
.player-holder .video-nav ul a:hover{
    text-decoration: underline;
}
.player-holder .video-nav ul  .info-area{
    overflow: hidden;
    color: #fff;
    font: 600 10px/13px  'Open Sans', sans-serif;
}
.player-holder .video-nav ul  .info-area .views{
    background: url(../images/bg-views.png) no-repeat 0 50%;
    padding: 0 0 0 21px;
    display: inline-block;
    vertical-align: top;
}
.player-holder .video-nav ul  .info-area .like{
    position: relative;
    background: url(../images/bg-like2.png) no-repeat 12px 50%;
    padding: 0 0 0 27px;
    display: inline-block;
    margin: 0 0 0 5px;
    vertical-align: top;
}
.player-holder .video-nav ul  .info-area .like:after{
    position: absolute;
    top: 50%;
    left: 0;
    width: 3px;
    height: 3px;
    background: #fff;
    content: '';
    margin: -1px 0 0;
}
#main .list-holder{
    overflow: hidden;
    border-top: 1px solid #b3b3b3;
    padding: 21px 0 0;
    clear: both;
}
#main .list-holder ul{
    padding: 0;
    margin: 0 0 -20px -2.6%;
    list-style: none;
    overflow: hidden;
    font: 600 18px/22px  'Open Sans', sans-serif;
    letter-spacing: -0.02em;
}
#main .list-holder ul li{
    display: inline-block;
    vertical-align: top;
    width: 30.32%;
    margin: 0 0 29px 2.6%;
}
#main .list-holder ul img{
    display: block;
    height: auto;
    width: 100%;
    margin: 0 0 10px;
}
#main .list-holder ul a{
    color: #444;
    display: block;
}
#main .list-holder ul a:hover {
    text-decoration: underline;
}
#main .list-holder ul .title{
    display: block;
}
.page-holder{
    overflow: hidden;
}
.page-tabset{
    padding: 0;
    margin: 0 0 32px -5.3%;
    list-style: none;
    overflow: hidden;
    font: 700 16px/19px  'Open Sans', sans-serif;
}
.page-tabset li{
    float: left;
    margin: 0 0 5px 5%;
}
.page-tabset a{
    color: #224ba8;
    text-decoration: underline;
}
.page-tabset a:hover{
    text-decoration: none;
}
.page-tabset .active a{
    color: #e6e6e6;
    text-decoration: none;
}
#content .page-holder h2{
    font: 36px/40px  'Open Sans', sans-serif;
    margin: 0 0 33px;
    color: #575757;
    text-transform: none;
}
#content .tab-area p{
    margin: 0 0 16px;
}
.category-list{
    padding: 2px 0 0;
    margin: 0 0 36px;
    list-style: none;
    overflow: hidden;
}
.category-list li{
    margin: 0 0 15px;
    overflow: hidden;
}
.category-list .alignleft{
    float: left;
    width: 28%;
    margin: 6px 2.2% 0px 0px;
}
.category-list .text-holder{
    overflow: hidden;
    color: #414141;
    font: 14px/17px  'Open Sans', sans-serif;
}
.category-list .text-holder .title{
    display: block;
    margin:  0 0 10px;
    color: #414141;
    font: 24px/29px  'Open Sans', sans-serif;
}
.category-list .text-holder .title a{
    color: #414141;
}
.category-list .text-holder .title a:hover{
    text-decoration: underline;
}
.category-list .text-holder p{
    min-height: 34px;
    margin: 0  0 13px;
}
.category-list .text-holder .info-holder{
    overflow: hidden;
}
.category-list .text-holder .name{
    float: left;
    margin: 0 10px 0 0;
    background: url(../images/bg-name2.png) no-repeat 3px 4px;
    padding: 0 0 0 17px;
    color: #aaa;
    font: 10px/17px  'Open Sans', sans-serif;
}
.category-list .text-holder .time{
    float: left;
    background: url("../images/bg-time.png") no-repeat scroll 0px 2px transparent;
    margin: 0 10px 0 0;
    padding: 0 0 0 17px;
    color: #B7AAB9;
    font: 10px/17px "Open Sans",sans-serif;
}
.category-list .text-holder .comments{
    float: left;
    margin: 0 10px 0 0;
    background: url(../images/bg-comments3.png) no-repeat 0 4px;
    padding: 0 0 0 16px;
    color: #aaa;
    font: 10px/17px  'Open Sans', sans-serif;
}
.content-img-gallery{
    overflow: hidden;
    position: relative;
    margin: 0 0 20px;
}
.content-img-gallery .btn-prev{
    position: absolute;
    top: 50%;
    left: 0;
    width: 22px;
    height: 52px;
    text-indent: -9999pc;
    overflow: hidden;
    background: url(../images/btn-gallery3.png) no-repeat;
    z-index: 10;
    margin: -26px 0 0 ;
}
.content-img-gallery .btn-next{
    position: absolute;
    top: 50%;
    right: 0;
    width: 22px;
    height: 52px;
    text-indent: -9999pc;
    overflow: hidden;
    background: url(../images/btn-gallery3.png) no-repeat -28px 0;
    z-index: 10;
    margin: -26px 0 0 ;
}
.content-img-gallery .slideset{
    padding: 0;
    margin: 0;
    list-style:none;
    overflow: hidden;
    position: relative;
}
.content-img-gallery .slideset li{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
}
.content-img-gallery .slideset li.active{
    position: relative;
    display: block;
}
.content-img-gallery .slideset li img{
    display: block;
    height: auto;
    width: 100%;
}
#content .img-list{
    padding: 0;
    margin: 0 0 10px -2.2%;
    list-style: none;
    overflow: hidden;
}
#content .img-list li{
    float: left;
    width: 31.1%;
    margin: 0 0 2.2% 2.2%;
}
#content .img-list li img{
    display: block;
    height: auto;
    width: 100%;
}
.rating{
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 35px;
    height: 6px;
    background:url(../images/bg-rating.png) no-repeat;
}
.rating li{
    position: relative;
    border:0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: visible !important;
}
.rating li:first-child{
    margin: 0;
}
.rating li span{
    display:block;
    width:6px;
    height:6px;
    text-decoration:none;
    text-indent:-9999px;
    z-index:2;
    position:absolute;
    top: 0;
    padding:0;
    cursor: pointer;
}
.rating li span:hover,
.rating li.active span{
    background:url(../images/bg-rating.png) 0 100%;
    z-index:1;
    left:0;
}

.rating span.one-star{left:0px;}
.rating span.one-star:hover,
.rating li.active span.one-star{width:6px;}
.rating span.two-stars{left:8px;}
.rating span.two-stars:hover,
.rating li.active span.two-stars{width:14px;}
.rating span.three-stars{left:16px;}
.rating span.three-stars:hover,
.rating li.active span.three-stars{width:20px;}
.rating span.four-stars{left:22px;}
.rating span.four-stars:hover,
.rating li.active span.four-stars{width:28px;}
.rating span.five-stars{left:30px;}
.rating span.five-stars:hover,
.rating li.active span.five-stars{width:35px;}
#footer{
    clear: both;
    overflow: hidden;
    background: #d4d4d4;
    color: #5f5f5f;
    padding:6px 13px 9px 10px;
    font: 10px/12px  'Open Sans', sans-serif;
}
#footer .text-holder{
    overflow: hidden;
    width: 40%;
    float: left;
}
#footer .copy{
    margin: 0 0 -1px;
    display: block;
    font: 14px/17px  'Open Sans', sans-serif;
}
#footer p{
    margin: 0;
}
#footer .counter-holder{
    padding: 6px 0 0;
    float: right;
}
#footer .counter-holder div{
    min-width: 88px;
    float: left;
    margin: 0 0 0 6px;
}

@media screen and (max-width:1004px) {
    .player-holder .video-nav ul{
        height: 300px;
    }
    .player-holder .control-panel .frame{
        width: 78%;
    }
    .player-holder .control-panel .play{
        margin: 18px 2.5% 0px 1px;
    }
    .player-holder .control-panel .slider-holder{
        float: none;
        width: 100%;
    }
    .player-holder .control-panel .time-holder{
        width: 100%;
        float: none;
        margin: 10px 0 0;
    }
    .player-holder .control-panel .time-holder .time{
        float: right;
    }
    .container{
        width: 100%;
        padding: 0;
    }
    #header{
        padding: 0 0 10px 0;
    }
    .ad-list{
        display: none;
    }
    .logo-frame{
        width: 100%;
        overflow: hidden;
        margin: 16px 0 13px 0;
    }
    .social-networks {
        float: right;
        width: 190px;
        padding: 0px;
        margin: 8px 12px 8px 10px;
        list-style: outside none none;
    }
    .social-networks li {
        float: left;
        margin: 0 0 0 10px;
    }    
    .info-panel .text-holder{
        width: auto;
        border:0;
        float: none;
        overflow: hidden;
        padding: 12px 5px 0 0;
    }
    .info-panel .time{
        padding: 6px 0 0 0;
    }
    .info-panel .time:after{
        height: 25px;
    }

    .win-form .col{
        float: left;
        width: 100%;
        margin: 2px 0 0;
    }
    #content .content-gallery .slideset .info-holder .rating, #content .column .box .info-holder .rating{
        float: left;
        width: 100%;
    }
    .send-news-form{
        margin: 0 10px 31px 0;
    }
    #content .quiz-holder h2{
        font: 28px/32px "Open Sans",sans-serif;
    }
    .quiz-holder .list li{
        background: none;
    }
    .quiz-holder .list .type{
        margin: 0 0 5px;
    }
    .quiz-holder .list .title{
        font: 700 19px/24px "Open Sans",sans-serif;
    }
    .quiz-holder .list li .holder{
        padding: 6px 5px 5px 0;
    }
    .side-list{
        font: 600 14px/17px "Open Sans",sans-serif;
        padding: 0;
    }
    .side-list li{
        margin: 0 0 9px;
    }
    #sidebar .story-list{
        margin: 0px 0 20px 0px;
    }
    .category-list .text-holder .title{
        font: 20px/24px "Open Sans",sans-serif;
    }
    #sidebar .ad-holder{
        display: none;
    }
    #sidebar.top{
        padding: 0;
    }
    #content .ad-holder{display: none;}
    .win-form .submit-holder{
        border-bottom: 0;
    }
    .logo-holder .ad-holder{display: none;}
}
@media screen and (max-width:767px) {

    h1, .h1 {
        font-size: 28px;
    }

    .quiz-holder .share-list{
        margin: 0px 0px 10px ;
    }
    .player-holder{display: none;}
    .large-ad-holder{display: none;}
    .send-news-form{
        font: 14px/18px Arial,sans-serif;
        margin: 0 0 20px;
    }
    #main .send-news-form h2{
        margin: 0 0 15px;
        font: 30px/30px "Open Sans",sans-serif;
    }
    #main .send-news-form h3{
        margin: 0 0 10px;
        font: 16px/20px Arial,sans-serif;
    }
    .send-news-form .note-holder{
        font: 14px/18px Arial,sans-serif;
    }
    .send-news-form .note-holder .title{
        font: 16px/20px Arial,sans-serif;
    }
    .send-news-form textarea{
        height: 150px;
    }
    #footer .text-holder{
        width: 100%;
        float: none;
        margin: 0 0 5px;
    }
    .container{
        padding: 0;
    }
    .logo-frame{
        width: 100%;
        padding: 6px 0;
        margin: 0;
    }
    .logo{
        display: block;
        margin: 0 auto;
        background:url(../images/logo2x.png) no-repeat;
        background-size: 109px 45px;
        width:109px;
        height:45px;
        text-indent:-9999px;
        overflow:hidden;
    }

    .logo-holder .ad-holder{display: none;}
    .nav-holder{
        padding: 6px;
    }
    .nav-section {
        margin: 0;
        position: absolute;
    }
    .nav-section .opener{
        display: block;
    }
    .nav-section #nav{
        margin: 0 0 0 -100%;
        position: fixed;
        top: 106px;
        left: 0;
        width: 80%;
        background: #224ba8;
        padding: 0 16px;
        height: 100%;
        z-index: 1000;
        -webkit-transition:  ease-out 0.5s;
        -moz-transition:  ease-out 0.5s;
        -o-transition: ease-out 0.5s;
        transition:  ease-out 0.5s;
        display: none;
    }
    .nav-section.active #nav{
        display: block;
        margin: 0;
    }
    .nav-section #nav>ul{
        overflow: visible;
    }
    .nav-section #nav>ul>li{
        float: none;
        border:0;
        padding: 10px 0 10px;
        border-bottom: 2px solid #20479F;
        display: block;
    }
    .nav-section #nav>ul>li>a{
        display: block;
        float: none;
        padding: 12px 10px 11px 15px;
        background: url(../images/arrow-nav.png) no-repeat 0 19px;
    }
    .nav-section #nav>ul ul{
        overflow: hidden;
        margin: 0 -16px;
        padding:5px 15px 21px;
        background: #292929;
        list-style: none;
        text-transform: none;
        position: static;
        top: 0;
        left: 0;
        width: auto;
    }
    .nav-section #nav>ul .active ul{display: block;}
    .nav-section #nav>ul ul li{
        display: block;
        float: none;
        width: 100%;
        border:0;
        border-top:1px solid #3d3d3d;
    }
    .nav-section #nav>ul ul li:first-child{
        border:0;
    }
    .nav-section #nav>ul ul a{
        display: block;
        float: none;
        padding: 11px 0 9px;
    }
    .info-panel .time{
        display: none;
    }
    .info-panel .time:after{
        display: none;
    }
    .info-panel .text-holder{
        display: none;
    }
    #main{
        padding: 0 10px;
    }
    #content{
        margin: 0;
        float: none;
        width: 100%;
    }
    #sidebar{
        float: none;
        width: 100%;
        margin: 0;
    }
    #sidebar .ad-holder{
        max-width: 240px;
        margin: 0 auto 15px;
    }
    #content .search-holder .load-more{
        margin: 0 0 20px;
    }
    .quiz-holder .question-holder .procent,
    .quiz-holder .question-holder .col{
        font:600 17px/20px "Open Sans",sans-serif;
    }
    .page-tabset{
        margin: 0 0 10px -2%;
        font: 600 13px/17px "Open Sans",sans-serif;
    }
    .page-tabset li{
        margin: 0 0 5px 2%;
    }
    .menu{
        display: none;
    }
    .menu li{
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .social-networks{
        float: none;
        overflow: hidden;
        text-align: justify;
        line-height: 0;
        font-size: 0;
    }
    .social-networks:after{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        content: '';
        height: 1px;
        margin: 0 0  0 -5px;
    }
    .social-networks li{
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    #main .list-holder ul{
        font:600 14px/17px "Open Sans",sans-serif;
    }
    #main .list-holder ul li{
        width: 47.4%;
        margin: 0px 0px 29px 2%;
    }
    .twocol.top{
        padding: 20px 0 0;
    }
    .search-form2 .text{
        padding: 0 2%;
        width: 75%;
    }
    .search-form2 input[type="submit"]{
        width: 25%;
        font: 700 16px/22px "Open Sans",sans-serif;
    }
}
@media screen and (max-width:500px) {

    .quiz-holder .article_text article {
        width: 100%;
        margin: 5px 0 10px 0;
    }

    .ad-mobile{
        display: block;
        background: #dadada;
        padding: 4px 0;
    }
    .ad-mobile div{
        margin: 0 auto 0 auto;

    }
    .quiz-holder .category {
        display: none;
    }
    .quiz-holder .article_text img{
        max-width: 100% !important;
        height: auto !important;
    } 

    .main-news .text-holder {
        left: 0;
        bottom: 0;
    }

    .main-news .text-holder .title{
        width: 100%;
    }

    .news-holder .news-list .text {
        bottom: 0;
        width: 100%;
        left: 0;
        font: 14px/16px 'Open Sans', sans-serif;
    }    


    .quiz-holder .list.no-img li .holder{
        padding: 7px 14px 8px 0;
    }
    .category-list .alignleft{
        float: none;
        margin:  0 0 10px;
        width: 100%;
        height: auto;
    }
    .category-list .text-holder .title{
        font: 18px/20px "Open Sans",sans-serif;
    }
    #content .page-holder h2{
        font: 30px/34px  "Open Sans",sans-serif;
        margin: 0 0 15px;
    }
    #content .page-holder{
        margin: 0 0 20px;
        font: 14px/17px  "Open Sans",sans-serif;
    }
    .quiz-holder .list li .alignleft{
        float: none;
        margin: 0 0 5px;
        width: 100%;
        height: auto;
    }
    .quiz-holder .list .title{
        font: 600 17px/22px "Open Sans",sans-serif;
    }
    .quiz-holder .question-holder .question{
        width: 40%;
        font: 14px/17px "Open Sans",sans-serif;
        font-weight: bold;
    }
    .quiz-holder .author-description{
        font: 13px/17px "Open Sans",sans-serif;
    }
    .quiz-holder .author-description .name{
        font: 700 16px/19px "Open Sans",sans-serif;
    }
    .quiz-holder .vote-holder .holder{
        font: 16px/20px Arial,sans-serif;
    }
    .quiz-holder .question-holder img{
        margin: 0 4px 0 0;
    }
    .quiz-holder .question-holder .procent,
    .quiz-holder .question-holder .col{
        margin: 13px 0 0;
        font: 13px/16px "Open Sans",sans-serif;
    }
    .quiz-holder .question-holder .procent{
        width: 20%;
    }
    .gallery-holder{
        padding: 0;
        display: none;
    }
    .gallery-holder .btn-prev,
    .gallery-holder .btn-next{display: none;}
    .gallery-holder .slideset{
        width: 31.7% !important;
        white-space: nowrap;
        overflow: visible;
        letter-spacing: -0.3em;
    }
    .gallery-holder .slideset li{
        width: 100%;
        margin: 0 2.5% 0 2.5%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        white-space: normal;
        letter-spacing: 0;
        float: none;
    }

    .main-news {
        overflow: hidden;
        margin: 0 0 10px 0;
        position: relative;
        width: 100%;
        float: none;
    }    
    .news-holder{
        margin: 0 0;
    }  

    .news-holder .news-gallery{
        float: none;
        width: 100%;
        margin: 0 0 20px;
    }

    .news-holder .news-list{
        float: none;
        width: 100%;
        margin: 0;
    }

    #content .blocks-holder .col{
        float: none;
        width: 100%;
    }
    #content .blocks-holder .col-2{
        float: none;
        width: 100%;
    }

    #content .content-gallery {
        margin: 10px 0 15px 0;
        position: relative;
    }  

    #content .content-gallery .slideset > li{
        display: block;
        width: 100%;
        margin: 0 0 20px 0;
        clear: both;
    }
    #content .content-gallery .slideset .img-holder, #content .column .box .img-holder {
        width: 100%;
        float: none;
        padding: 0 0 10px 0;
        margin: 0 0;
    }

    #content .content-gallery .slideset .info-holder, #content .column .box .info-holder {
        font:700 9px/13px "Open Sans",sans-serif;
        visibility: visible;
        width: 100%;
        float: left;
        display: none;
    }
    #content .content-gallery .slideset .text {
        display: block;
        width: 100%;
        float: left;
        margin: 0 0 20px 0;
        font: 16px/20px  "Open Sans",sans-serif;
    }    

    #content .content-gallery .slideset .comments, #content .column .box .comments {
        display: block !important;
        left: 10px;
        bottom: 20px;
    }

    #content .columns-holder .right-col {
        display: none;
    }
    .columns-holder .right-col {
        display: none;
    }

    .columns-holder .left-col,
    #content .columns-holder .left-col{
        float: none;
        width: 100%;
    }
    .post-list2 .alignleft{
        float: none;
        margin: 0 0 15px;
        width: 100%;
    }
    .post-list2 .title{
        font: 16px/19px "Open Sans",sans-serif;
    }
    #sidebar{
        padding: 0;
        display: none;
    }
    .send-news-form .file-holder label{
        float: none;
        margin: 0 0 5px;
    }
    .send-news-form input[type="text"], .send-news-form textarea{
        font: 16px/19px Arial,sans-serif;
        padding: 10px;
    }
    .quiz-holder .vote-holder .vote{
        padding: 0 5px 0 0;
        font: 600 16px/19px Arial,sans-serif;
        width: 40px;
    }
    .quiz-holder .vote-holder .holder{
        font: 15px/19px Arial,sans-serif;
    }
    .quiz-holder .vote-holder ul{
        padding: 14px 0 0 40px;
    }
    .quiz-holder .vote-holder .holder .info-holder .plus,
    .quiz-holder .vote-holder .holder .info-holder .minus{
        font: 600 15px/16px Arial,sans-serif;
    }
    .quiz-holder .photo-list2 li {
        float: left;
        margin: 0px 0px 5px 5px;
    }    
    .quiz-holder .like-holder div {
        width: 48%;
        float: left;
        height: 36px;
        margin: 0 0;
        padding: 4px 1px;
    }
    .fb-like {
        transform: none !important;
    }
    .gallery-grid-holder tr {
        display: block;
    }
    .gallery-grid-holder td {
        position: relative;
        overflow: hidden;
        display: block;
    }
    .gallery-grid-holder td.big, .gallery-grid-holder td.small {
        width:50% !important;
        margin: 0 0 !important;
        padding: 5px 5px !important;
        float: left;
    }    

    #footer p {
        display: none;
    }
    #footer .counter-holder {
        float: left;
    }

}
.hidden{
    display: none;
}
.clear {
    clear: both;
}

.isotope-loading {
    clear: both;
    background-image: url("../images/loader-light-blue.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    margin-bottom: 20px;
}

.fb-like {
    /*    transform: scale(1.3);
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -o-transform: scale(1.3);
        -moz-transform: scale(1.3);*/
}

.gallery-grid-holder {
    width: 100%;
    overflow: hidden;
    margin: 2px 0 40px 0;
    border-spacing: 0;
    border-collapse: separate;
}
.gallery-grid-holder td {
    position: relative;
    overflow: hidden;
}

.gallery-grid-holder td.big {
    width: 40.00%;
    padding:  0 2px 3px 0;    
}
.gallery-grid-holder td.small {
    width: 20.00%;
    padding:  0 0 2px 0;
}

.gallery-grid-holder img {
    display: block;
    border: 0;
    width: 100%;
}

.gallery-grid-holder .title {
    position: absolute;
    left: 0px;
    right: 2px;
    bottom: 10px;
    overflow: hidden;
    padding: 10px 5px 10px 7px;
    background: none repeat scroll 0% 0% #E8BA02;
    color: #000;
    font: 12px/14px "Open Sans",sans-serif;
    visibility: hidden;
}            
.gallery-grid-holder td:hover .title{
    visibility: visible;
}

.gallery-nav {
    display: block;
    list-style: none;
    padding: 0 0;
    margin: 0 0 20px 0;
    height: 40px;
}
.gallery-nav li {
    display: block;
    float: left;
    margin: 0 5px 5px 0;

}                                                        
.gallery-nav li a {
    display:block;
    padding: 8px 12px;
    background-color: #1f4498;
    color: #ffffff;
}  
.gallery-nav li span {
    display:block;
    box-sizing:border-box;
    padding: 8px 12px;
    background-color: #ffffff;
    background-color: #6699ff;
    color: #ffffff;  
}  