﻿@font-face {
	font-family: 'EenaduU';
	src: url('EenaduU.eot');
	src: url(//:) format('no404'),  url('EenaduU.woff') format('woff'), url('EenaduU.woff2') format('woff2'), url('EenaduU.ttf') format('truetype'), url('EenaduU.svg') format('svg'),url('EenaduU.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}
