
@font-face {font-family: "icon135";
  src: url('iconfont.eot?t=1472805950'); /* IE9*/
  src: url('iconfont.eot?t=1472805950#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1472805950') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1472805950') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1472805950#icon135') format('svg'); /* iOS 4.1- */
}

.icon135 {
  font-family:"icon135" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tupian:before { content: "\e605"; }
.icon-tuwen:before { content: "\e602"; }
.icon-tuijian:before { content: "\e607"; }
.icon-jian:before { content: "\e608"; }
.icon-layout:before { content: "\e601"; }
.icon-biaoti:before { content: "\e603"; }
.icon-neirong:before { content: "\e604"; }
.icon-fire:before { content: "\e609"; }
.icon-new:before { content: "\e60a"; }
.icon-hangye:before { content: "\e600"; }
