@charset "UTF-8";

html, body, div, h1, h2, h3, h4, h5, h6, p, table, th, tr, td, ul, ol, li, dl, dt, dd, form, fieldset, legend, hr, span, a, strong, em, ins, del, cite, abbr, acronym, sup, sub, dfn, code, var, samp, kbd, object,blockquote {
margin:0;
padding:0;
}

/* Table of Contents
==================================================
	01. Text - フォント・リンク
	02. Layout - 全体の枠組み
	03. Title - ブログタイトルエリア
	04. SubTitle - アーカイブタイトルエリア
	05. Pager -ページャ
	06. Main - 記事エリア
	07. Option - トラックバック・コメントエリア
	08. Sub & Extra - プラグインエリア
	09. Header & Footer - ヘッダー・フッター
	10. Others - ADエリア etc.
==================================================
*/

/* =============================================== */
/** 01. Text - フォント・リンク */
/* ----------------------------------------------- */

* {
	word-break: break-all;
}

body
, textarea {
	font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","MS Pゴシック",sans-serif;
}


body {
	color: #333333;
}

a:active,div#main_body strong a:active {
	color:#F200A1;
	text-decoration: none;
}

a:visited,div#main_body strong a:visited {
	color:#0000FF;
	text-decoration: none;
}

a:hover,div#main_body strong a:hover {
	color:#F200A1;
	text-decoration: none;
}

div#main_body strong a {
text-decoration: none;
}

table#header a:link
, table#header a:active
, table#header a:visited
, table#header a:hover {
		#000;
}

h1#blog-title a:link
, h1#blog-title a:active
, h1#blog-title a:visited {
	color: #fff;
	text-decoration: none;
}

h1#blog-title a:hover {
	color: #fff;
	text-decoration: none;
}

p#blog-description {
	color: #fff;
}

h2.archives-title {
}

div#main a:link
, div#main a:active {
}

div#sub a{
text-decoration: none;
}

div#extra a{
text-decoration: none;
}

div#sub a:link
, div#sub a:active
, div#extra a:link
, div#extra a:active {

}

div#main a:visited
, div#sub a:visited
, div#extra a:visited {
}

div#sub a:hover
, div#extra a:hover {
text-decoration:none;
}

div#main h2.article-title a:link
, div#main h2.article-title a:active
, div#main h2.article-title a:visited {
	text-decoration: none;
}

div#main h2.article-title a:hover {
}

div#main ul.article-post li a{
	text-decoration: none;
}

div#main ul.article-post li a:active
, div#main ul.article-post li a:visited
, div#main ul.article-post li a:hover {
	text-decoration: none;
}

div#main dl.article-category dd a:link
, div#main dl.article-category dd a:active
, div#main dl.article-category dd a:visited
, dl.article-category dd a:hover {
}

div#main .article-body-inner a:link
, div#main .article-body-inner a:active
, div#main .article-body-inner a:visited {
}

div#main div.pager a {
	color: #333333;
}

div.article-date-outer {
	color: #333333;
}

ul.ping-info li.ping-date
, ul.comment-info li.comment-date {
	color: #333333;
}

div.sidetitle {
}

div#sub div.sidetitle a
, div#extra 3fa1c7.sidetitle a {
}

div#sub table.caltblday a:link
, div#extra table.caltblday a:link {
	color: #3fa1c7;
}

div#sub table.caltblday a:visited
, div#extra table.caltblday a:visited {
	color: #3fa1c7;
}

div#footer p
, div#footer p a {
	color: #333333;
}

/* ADエリアはCSS別途指定 */

/* =============================================== */
/** 02. Layout - レイアウト（全体の枠組み） */
/* ----------------------------------------------- */

body {
	margin: 0;
	padding: 0;
	min-width: 600px;
	text-align: center;
background:url("http://blogmaterial.nicoblomaga.jp/material/258/img/tpml/09a6d75d.gif") repeat scroll 0 0 transparent;
}

div#container {
	width: 1295px;
	margin: 0 auto;
	padding-bottom: 10px;
	background-color: #fff;
	position: relative;
	text-align:left;
	border:1px solid #000000;
}

div#content {
	margin: 0 10px;
	height: 1%;
}

div#main_body{
	position:relative;
	right:5px;
}


div#main
, div#sub
, div#extra {
	overflow: hidden;
}

div#main {
	float: left;
	display: inline;
	width: 100%;
}

div#main div.column-inner {
	margin-left:330px;
	margin-right:185px;
}

div#sub {
	float: left;
	margin-left: -100%;
	display: inline;
	width: 320px;
	padding-top: 15px;
}

div#sub div.column-inner {
	padding-bottom: 30px;
}

div#extra {
	float: left;
	margin-left: -175px;
	display: inline;
	width: 175px;
	padding-top: 15px;
}

div#extra div.column-inner {
	padding-bottom: 30px;
}

/* ----------------------------------------------- */
/** clearfix */

div#container:after
, div#content:after
, ul.article-navigator:after
, ul.archives-navigator:after
, div.article-body:after
, div.article-body div.article-body-more:after
, div#trackback-form ul:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/** hasLayout */
div.blog-title-outer
, h2.archives-title
, h2
, div.article-footer
, h2.article-title
, ul
, div.index-navigator-outer
, div.pager {
	height: 1%;
}

/** peek-a-boo bug */
div.article-outer
, div#trackback-form
, div#trackbacks-list
, div#comments-list
, div#comment-form {
	height: 1%;
}


/* =============================================== */
/** 03. Title - ブログタイトルエリア */
/* ----------------------------------------------- */

div.blog-title-outer {
border-bottom:1px solid #000000;
}
div.blog-title-outer-2 {
}
div.blog-title-outer-3 {
}

h1#blog-title {
margin:10px 30px;
}

h1#blog-title a {
display:block;
width:1000px;
height:200px;
}

div.blog-description-outer {
}

p#blog-description {
}

/* =============================================== */
/** 04. SubTitle - アーカイブタイトルエリア */
/* ----------------------------------------------- */

div.archives-title-outer {
	margin-bottom: 10px;
display:none;
}
div.archives-title-outer-2 {
	padding-top: 15px;
}
div.archives-title-outer-3 {
	padding-right: 20px;
}

h2.archives-title {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
	text-align: center;
	font-size: 100%;
}

/* =============================================== */
/** 05. Pager - ページャ */
/* ----------------------------------------------- */

div.pager {
	margin-bottom: 10px;
	text-align: left;
	display:none;
}

div.pager-inner {
	padding-bottom: 15px;
}

div.index-navigator-outer
, div.archives-pager-outer
, div.article-pager-outer {
}

/* ----------------------------------------------- */
/** IndexNavigator - トップページ */

ul.index-navigator {
	background: url(http://blogmaterial.nicoblomaga.jp/material/258/img/tpml/r_left_top.gif) no-repeat;/* 背景画像：左上 */
	padding: 15px 0 0;
	font-size: 85%;
}

ul.index-navigator li a {
	padding: 0 7px;
}

/* ----------------------------------------------- */
/** ArchivesPager - アーカイブページ */

ul.archives-pager {
	list-style-type: none;
	background: url(http://blogmaterial.nicoblomaga.jp/material/258/img/tpml/r_left_top.gif) no-repeat;/* 背景画像：左上 */
	padding-top: 15px;
	font-size: 85%;
}

ul.archives-pager li {
	padding: 2px 5px;
}

ul.archives-pager li a {
	padding: 0 5px;
}

ul.archives-pager li.both {
	border-left: 1px solid #232323;
}

/* ----------------------------------------------- */
/** ArticlePager - 個別記事ページ */

.nextpage {
margin-top:10px;
text-align:center;
}

ul.article-pager {
	background: url(http://blogmaterial.nicoblomaga.jp/material/258/img/tpml/r_left_top.gif) no-repeat;/* 背景画像：左上 */
	padding-top: 15px;
	font-size: 85%;
}

ul.article-pager li {
	float: left;
	width: 49%;
	line-height: 1.25;
}

/* = special tech ... borderの高さを揃えるため */
ul.article-pager {
	overflow: hidden;
}

ul.article-pager li {
	padding-top: 0px;/* 0px余白（上部） */
	padding-bottom: 32768px;
	margin-bottom: -32767px;/* 1px余白（下部） */
}

ul.article-pager li a {
	display: block;
	margin: 0 10px;
}

ul.article-pager li.prev {
	text-align: right;
}

ul.article-pager li.next {
	text-align: left;
}

ul.article-pager li.both {
	border-left: 1px solid #232323;
}

/* =============================================== */
/** 06. Main - 記事エリア */
/* ----------------------------------------------- */

div.article-outer {
	text-align: left;
	margin-bottom: 30px;
	border:2px solid #A0F8FF;
}

.aa {
font-family:"ＭＳ Ｐゴシック","Mona","mona-gothic-jisx0208.1990-0",sans-serif;
font-size:16px;
line-height:18px;
}

/* ----------------------------------------------- */
/** 記事ヘッダー */

div.article-header {
	padding-top: 0px;
	background:none repeat scroll 0 0 #A0F8FF;
	border-bottom:1px solid #A0F8FF;
	border-left:10px solid #A0F8FF;
	border-right:1px solid #A0F8FF;
	font-size:1.4em;
	margin:0;
	padding:0.2em 0.2em 0.2em 0.2em;
	text-decoration: none;
}

/*** 日付 */
div.article-date-outer {
	float: left;
	padding-left: 20px;
	font-size: 100%;
	font-weight: bold;
}

div.article-date-outer span.article-date {
	margin-right: 3px;
	margin-right: 0.25em;
}

div.article-date-outer span.article-time {}

/*** カテゴリ */
div.article-category-outer {
	margin-left: 12.5em;/* 日付の幅 */
	padding-left: 20px;
	padding-right: 20px;
}

div.article-category-outer dl.article-category {
	margin: 0;
	padding: 0;
	line-height: 1.25;
}

div.article-category-outer dl.article-category dt
, div.article-category-outer dl.article-category dd {
	display: inline;
	margin: 0;
	padding: 0;
	margin-right: 5px;
	font-size: 90%;
}

div.article-category-outer dl.article-category dt {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	text-indent: -9999px;
}

/*** カテゴリアーカイブページではカテゴリを非表示にする */
body.category div.article-category-outer {
	display: none;
}

/** 記事タイトル */
div.article-title-outer {
	padding-right: 20px;
}

h2.article-title {
	clear: left;
	margin: 0;
	padding: 5px 40px;
	font-size: 95%;
	font-weight: bold;
	background:url("http://blogmaterial.nicoblomaga.jp/material/258/img/tpml/424e9e08.gif") no-repeat scroll 0 0 transparent;
}

h2.article-title a, h2.article-title a:link, h2.article-title a:visited, h2.article-title a:active {
color:#ff0000;
text-decoration: none;
}
h2.article-title a:hover {
color:#666666;
text-decoration: none;
}

/* ----------------------------------------------- */
/** 記事本文 */

div.article-body {
	background-color: #fff;
	padding: 20px 10px 5px;
	line-height: 180%;
	font-size: 85%;
}

div.article-body-inner {
	width: 100%;
	overflow: hidden;
}

div.article-body-inner hr {
	color:#dddddd;
}

/** 続きを読む */
div.article-body span.article-continue {
	display: block;
	margin-top: 1em;
	font-size:85%;
}

div.article-body div.article-body-more
, div.article-body div.article-body-private {
	clear: both;
	margin-top: 1em;
}

/*** blockquote & pre */
div.article-body blockquote
, div.article-body pre {
	background-color: #f1f1f1;
	padding: 5px 15px;
	margin: 5px 0;
	color: #333333;
}

/*** img */
div.article-body img.pict {
	margin: 0 5px 5px 0;
}

/*** 共通テーマ */
body.default_2008 dl.common-theme {
	margin: 0 10px 25px;
}

/*** 記事タグ */
body.default_2008 dl.article-tags {
	margin: 25px 10px 0;
}

/*** プライベートモード */
div.private-mode-announcement {
	background-color: #f1f1f1;
	line-height: 135%;
	font-size: 90%;
}

/* ----------------------------------------------- */
/** 記事フッター */

div.article-footer {
	background-color: #fff;
	padding:5px;
}

ul.article-post {
	margin: 0 0 20px;
	padding: 10px 5px 0; 
	text-align: right;
border-top:1px solid #dddddd;
}

ul.article-post li {
	min-height: 16px;
	font-size: 85%;
}

.articleFull{
font-size:13px;
line-height:20px;
}

.articleFull a,.articleFull a:active, .articleFull a:visited {
text-decoration: none;
}

.articleFull a:hover {
text-decoration: none;
}


.articleFull hr {
margin-top:10px;
margin-bottom:10px;
}


/* =============================================== */
/** 07. Option - トラックバック＆コメントエリア */
/* ----------------------------------------------- */

div#article-options {
	background-color: #fff;
}

div.article-option {
	padding: 15px 0;
}

div.article-option h3 {
	margin: 0 0 10px;
	padding: 0;
	font-size: 100%;
}

/*** 指定しやすいようstyleReset */
	h4.ping-title
	, ul.ping-info
	, ul.ping-info li
	, ul.comment-info
	, ul.comment-info li {
		padding: 0;
		margin: 0;
	}

	ul.ping-info li
	, ul.comment-info li {
		list-style-type: none;
	}

/* ----------------------------------------------- */
/** トラックバックURL */
div#trackback-form {
border:2px solid #A0F8FF;
color:#333333;
font-size:85%;
line-height:1.3;
margin-bottom:2em;
padding:10px;
}

div#trackback-form h3 {
font-weight:normal;
}

div#trackback-form ul {
	margin: 0;
	padding: 0;
}

div#trackback-form ul li {
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
}

div#trackback-form ul li.trackback-form-url {
	width: 100%;
	margin-right: -90px;
}

div#trackback-form ul li.trackback-form-url span input {
	width: 100%;
}

div#trackback-form ul li.trackback-form-url span {
	display: block;
	padding-right: 100px;
	/* >> trackbackURL とsubmitボタンとの余白 100px-90px=10px となる */
}

div#trackback-form ul li.trackback-form-submit {
	width: 80px;
}

div#trackback-form ul li.trackback-form-submit input {}

/* ----------------------------------------------- */
/** トラックバック一覧 */

li.trackback-set {
	padding: 0 0 10px 20px;
	font-size: 90%;
}

h4.ping-title {
	display: inline;
	padding: 0;
	font-weight: normal;
}

ul.ping-info {
	display: inline;
}

ul.ping-info li.ping-blog-name {
	display: inline;
	margin-left: 20px;
}

ul.ping-info li.ping-blog-name span {
	margin: 0 10px;
}

ul.ping-info li.ping-date {
	display: inline;
	margin-left: 10px;
}

ul.ping-info li.ping-excerpt {
	display: block;
	margin-top: 5px;
	margin-left: 10px;
}

ul.ping-info li.ping-excerpt img.trackback-rating {}

/* ----------------------------------------------- */
/** コメント一覧 */

#commentFull{
	border:2px solid #A0F8FF;
	color:#333333;
	font-size:85%;
	line-height:1.3;
	margin-bottom:2em;
	padding:10px 1em 0;
}

#commentbody {
padding-top:10px;
padding-left:15px;
}

.commentttl {
border-top:1px solid #DDDDDD;
margin-bottom:20px;
margin-top:8px;
padding:5px;
}

.commentAuthor {
color:#008000;
font-weight:bold;
}

.commenttext {
padding-left:10px;
padding-bottom:20px;
}

.commenthead {
font-weight:normal;
font-size:85%;
}

li.comment-set {
	padding: 0 0 10px 20px;
	font-size: 90%;
}

ul.comment-info li.comment-author {
	display: inline;
}

ul.comment-info li.comment-date {
	display: inline;
	margin-left: 10px;
}

ul.comment-info li {
	display: inline;
}

ul.comment-info li.comment-body {
	display: block;
	margin-top: 5px;
	margin-left: 10px;
}

ul.comment-info li.comment-body img.trackback-rating {}

/* ----------------------------------------------- */
/** コメントフォーム */

.input-auther th{

}


div#comment-form-body {
	background-color: #ffffff;
	position:relative;
}

div#comment-form-body table {
	border: 0;
	width: 80%;
	line-height: 25px;
	font-size: 90%;
}

div#comment-form-body table th {
	width: 3em;
	padding-right: 5px;
	text-align: left;
	font-weight: normal;
}

input#author {
	position:absolute;
left:0;
top:25px;
}

input#email {
	width: 65%;
}

input#url {
	width: 85%;
}

input#bake {
	margin: 0 0 0 5px;
}

div#comment-form-body tr.input-comment-body td div.textarea-outer {
	margin-top:44px;
	position:relative;
	right:41px;
}

textarea#text {
	width: 300px;
	height: 150px;
}

input.button {
	margin-top: 10px;
	width: 80px;
position:relative;
right:277px;
}

div#comment-form-body table tr.input-etc td {
	padding-top: 6px;
}

label.input-rating {
	margin-left: 20px;
}

label.input-rating select {
	margin-left: 3px;
}

label.input-rating-face {
	margin-left: 5px;
}

label.input-rating-star {}

div#comment-form-body table tr.submit td {
	text-align: center;
}

/*** コメント認証 */
div.comment-auth-announcement {
	margin: 10px 0;
	border-color: #f1f1f1;
	font-size: 90%;
}

div.comment-auth-announcement p a {
	margin: 0 3px;
}

/* ----------------------------------------------- */
/** 関連記事 */

div.related-articles{
	padding: 15px 0 0;
}
div.related-articles h3{
	margin: 0 0 10px;
	padding: 0;
	font-size: 100%;
}
div.related-articles ul{
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.2;
}
div.related-articles ul li{
	background: url(http://blogmaterial.nicoblomaga.jp/material/258/img/tpml/dot.gif) no-repeat 0 8px;
	padding: 0 0 5px 9px;
	margin-left: 5px;
}


/* =============================================== */
/** 08. Sub & Extra - プラグインエリア */
/* ----------------------------------------------- */

div.sidetitlebody {margin-bottom:10px;}
div.sidetitle, h4.sidetitle {
	background:none repeat scroll 0 0 #FFD5FF;
	color:#FF0080;
	font-size:0.8em;
	font-weight:bold;
	margin:0;
	padding:0.3em 1em;
}

div.sidetop
, div.sidebottom {
	display: none;
}

div.side {
	margin: 0 10px 5px;
	text-align: center;
	font-size: 90%;
}

.sidebody {
	display:list-item;
	list-style-type:disc;
	text-align:left;
	color:#333333;
	font-size:11.2px;
	line-height:110%;
	margin-bottom:3px;
}

.menu_cont {
	color:#333333;
	font-size:70%;
	line-height:110%;
	margin:0;
	padding:0 1em;
}

.menu_title {
	background:none repeat scroll 0 0 #FFD5FF;
	color:#ff0080;
	font-size:0.8em;
	font-weight:bold;
	margin:0;
	padding:0.3em 1em;
}

.monthlyMenu, .categoryMenu{
	margin:16px 185px 0 330px;
}

.monthlyTitle, .categoryTitle {
	margin:10px 185px 25px 348px;
	font-size:83%;
}

.left_width {
	visibility:hidden;
	width:200px;
}

.right_width {
	visibility:hidden;
}

.menu_title3 {
	background:none repeat scroll 0 0 #FF962D;
	color:#FFFFFF;
	font-size:0.8em;
	font-weight:bold;
	margin:16px 185px 0 330px;
	padding:0.3em 1em;
}

.menu_cont3 {
	border:2px solid #FF962D;
	color:#333333;
	font-size:75%;
	line-height:1.3;
	margin-left:330px;
	margin-right:185px;
	padding:0 1em;
}

.rsstc {
	margin: 0 0 0 20px;
}

.advertisement {
	margin-left:330px;
	margin-right:185px;
}

.blogpeople-main ul {
margin:0;
padding:0 0 0 1em;
}

.blogpeople-main li {
margin:0 0 3px;
padding:0;
}

#BlogParts_bList2 div ul,
#BlogParts_bList6 div ul,
#BlogParts_bList7 div ul {
  font-size:11.2px;
  line-height: 110%;
  text-align: left;
}

#BlogParts_aList3 div ul {
  text-align: left;
  list-style: none;
}
#BlogParts_aList3 div ul li {
  zoom: 1;
}
#BlogParts_aList3 div ul li:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '';
}
#BlogParts_aList3 div ul li img {
  float: left;
  margin: 0 8px 8px 0;
}
#BlogParts_aList3 div ul li .subject,
#BlogParts_aList3 div ul li .pv {
  display: block;
  margin: 0 0 0 88px;
}

/* ----------------------------------------------- */
/** Calendar */

.plugin-calendar_japanese:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.plugin-calendar_japanese {
margin-right:185px;
margin-left:330px;
}

div.calendarheadbody {}

.calendarhead{
position:relative;
}
div.calendarheadbody div.calendarhead .calendarpre{
	text-align: center;
	font-size: 90%;
	font-weight: bold;
	position:absolute;
	left:70px;
	top:21px;
}

div.calendarheadbody div.calendarhead .calendarnext{
	text-align: center;
	font-size: 90%;
	font-weight: bold;
	position:absolute;
	right:141px;
	top:21px;
}

* html div.calendarheadbody div.calendarhead .calendarpre {
top:19px;
}

* html div.calendarheadbody div.calendarhead .calendarnext {
top:19px;
right:320px;
}

*:first-child+html div.calendarheadbody div.calendarhead .calendarpre {
top:19px;
}

*:first-child+html div.calendarheadbody div.calendarhead .calendarnext {
top:19px;
}

div.calendarheadbody div.calendarhead a {
text-decoration: none;
}

div.calendarheadbody div.calendarhead a:hover {
text-decoration: none;
}


div#sub div.calendarheadbody div.calendarhead a
, div#extra div.calendarheadbody div.calendarhead a {
	color: #3fa1c7;
}

div.caltop
, div.calbottom {
	display: none;
}

div.calbody {
clear:left;
position:relative;
left:128px;
}


* html div.caltbl {
clear:left;
position:relative;
left:0px;
}

.caltbl {
	margin: 0 auto;
	border: 0;
}
div.calbody .calendartable {
}
.caltblwkbg {}
.calendarwd {}
.caltblwk td {
	font-size: 90%;
	font-weight: bold;
	height: 20px;
}

caltbldaybg {}
caltblday {
	margin: 0 auto 25px;
}
caltblday {
	padding: 0;
	text-align: center;
}

td table.caltblday tr{}

.caltbldaybg {display:inline;}

.caltblday {
display:inline;
}

.caltblday tbody {
}

.caltblday {
display:inline;
}

.calendartable {
float:left;
}

.caloff {
float:left;
}

.odd {
float:left;
}

.even {
float:left;
}

.calendardbg {
float:left;
}

td table.caltblday td span.calendar {}


td table.caltblday td.caloff {}
td table.caltblday td.calendard {}
td table.caltblday td.calon {}
.caltblday .calon a {text-decoration: none;}
.caltblday .calon a:hover {text-decoration: none;}
td table.caltblday td.calendardbg {}


/* ----------------------------------------------- */
/** Plugins */

.nickname {
	font-weight: bold;
	margin: 10px 0;
}

.message {
	text-align: left;
	line-height: 125%;
}

/* ----------------------------------------------- */
/** LDServices */

ul#ld-services {
	background: url(http://blogmaterial.nicoblomaga.jp/material/258/img/tpml/banner_base.gif) no-repeat center;
	padding-top: 20px;
}

/* =============================================== */
/** 09. Header & Footer - ヘッダー・フッター */
/* ----------------------------------------------- */
/** Header */

table#header {
	font-size: 75%;
}

/* ----------------------------------------------- */
/** Footer */

div.footer-outer {
	width: 1295px;
	margin: 0 auto;
	background-color:#EAFFFF;
	color:#FF80FF;
	font-size:75%;
	line-height:150%;
	text-align:center;
	padding-top:10px;
	border-bottom:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}

div.footer-outer-2 {
	padding: 0 0 0 10px;
	margin-right: 10px;
}

div#footer {
	height: 38px;
}

div#footer p {
}


/* =============================================== */
/** 10. Others - ADエリア etc. */
/* ----------------------------------------------- */
/** ADエリア */

div#ad {
	overflow: hidden;
	text-align: center;
}

div#ad iframe {
	margin: 10px auto;
}

div.gAdsense {
	padding: 10px 0;
}

body.ad {
	background: transparent;
}

a.adtitle {
	color: #00f!important;
	font-weight: bold;
}

a.adtitle span {
	font-size: 90%!important;
}

a.addescription {
	color: #000!important;
}

a.addescription span {
	font-size: 82%!important;
}

a.adurl {
	color: #00c300!important;
	text-decoration: none;
}

a.adurl span {
	font-size: 82%!important;
}

a.adld {
	color: #1fadff!important;
	text-decoration: none;
	font-size: 110%;
}

/** ---------- Google AdSense ---------- **/
.google-user-ad { margin:10px; } 
.ad-center { text-align:center; }
.ad-type-side { margin:0; padding:0; }

.ad-outer { margin:0 auto; padding:0; }
.ad-by { text-align:left; margin-bottom:4px; font-size:11px; }
.ad-box { text-align:left; }
.ad-box a{ display:block; margin:0 8px 0 0!important; padding:6px 8px!important; overflow:hidden; }
.ad-box a:hover { padding:4px 6px!important; }
.ad-box a span.ad-url { margin-left:10px; }
/* for IE6-7 */
* html .ad-outer .ad-box a{ height:1%; }
*+html .ad-outer .ad-box a{ height:1%; }

.ad-by a, .ad-by a:hover { color:#000000 !important; font-weight:bold !important; }
.ad-box a, .ad-box a:hover { text-decoration:none; }
.ad-box a span.ad-title { font-size:15px; color:#0044cc; font-weight:bold; text-decoration:underline; line-height:150%; }
.ad-box a:hover span.ad-title { text-decoration:none; }
.ad-box a span.ad-url,
.ad-box a:hover span.ad-url { font-size:11px; color:#008000; line-height:150%; }
.ad-box a span.ad-description,
.ad-box a:hover span.ad-description { display:block; font-size:12px; color:#000000; line-height:150%; }
.ad-box a:hover{
	background:#FBF0FA;
	border:2px solid #FBF0FA;
	-moz-border-radius:5px; /* for fx */
	-webkit-border-radius:5px; /* for safari */
}

/** ad-box-ncb **/
/* link */
.ad-box-ncb {
	text-align:left;
	padding:6px 8px;
	display:block;
	line-height:1.5;
}
.ad-box-ncb:hover {
	padding:4px 6px;
	background:#FBF0FA;
	border:2px solid #FBF0FA;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
/* title */
.ad-box-ncb span.ad-title a { font-size:15px; color:#0044cc; font-weight:bold; text-decoration:underline; }
.ad-box-ncb span.ad-title a:hover { text-decoration:none; }
/* url */
.ad-box-ncb span.ad-url a { font-size:12px; color:#008000; margin-left:10px; text-decoration:none; }
.ad-box-ncb span.ad-url a:hover  { text-decoration:underline; }
/* description */
.ad-box-ncb span.ad-description,
.ad-box-ncb span.ad-description { font-size:13px; color:#000000; display:block; }

/* sub Ad */
.LeftMiddle300x250 {
	padding: 10px;
	margin:0 0 30px 0;
}

.LeftBottom300x600 {
	padding: 0 10px;
}	.followbutton {
		margin: 15px 0 0 0;
		width: 300px;
		height: 28px;
		text-align: center;
	}

/* Update History


==================================================
New
・関連記事追加
・2008.03.26 リリース
==================================================
*/

/* End */

/* =============================================== */
/** All Blog Templates CSS

 Update : 2012.5.10
*/
/* =============================================== */


/* =============================================== */
/** Contents

 独自タグ
	BlogHeader … 共通ヘッダ
	BlogFooter … 共通フッタ
	LDServices … サイドバナー
	IndexNavigator … トップページ用ページャ
	ArticleTagsList, ArticleTagsListInternal … 記事タグ, 記事タグ：ブログ内リンク
	AddToClip … クリップボタン
	Clap … 拍手ボタン
	CommentForm … コメント認証
 機能
	Private Mode … プライベートモード
	TagCloud - Plugin … タグクラウド プラグイン
*/
/* ----------------------------------------------- */



/* = Reset
=============================================== */

div#footer p,
ul.index-navigator, ul.index-navigator li,
ol.paging-number, ol.paging-number li,
ul.article-pager, ul.article-pager li,
ul.archives-pager, ul.archives-pager li,
dl.common-theme, dl.common-theme dt, dl.common-theme dd,
dl.article-tags, dl.article-tags dt, dl.article-tags dd,
ul.article-post,
div.comment-auth-announcement p,
div.private-mode-announcement p,
.side ul.tagcloud, .side ul.tagcloud li,
.side ul.recent-article-image, .side ul.recent-article-image li,
.side ul.blog-members, .side ul.blog-members li,
.side div.popularArticlesWithImage.plugin {
	margin: 0;
	padding: 0;
}

ul.index-navigator,
ol.paging-number,
ul.article-pager,
ul.archives-pager,
ul.article-post,
.side ul.recent-article-image,
.side ul.blog-members{
	list-style-type: none;
}

img#tool,
abbr {
	border: 0;
}

/* pagers start

 = IndexNavigator
=============================================== */

ul.index-navigator li,
ol.paging-number,
ol.paging-number li {
	display: inline;
}

ul.index-navigator li {
	font-weight: normal;
}

ul.index-navigator li.paging-number ol.paging-number li.current {
	margin: 0 5px;
	font-weight: bold;
}

ul.index-navigator li a {
	margin: 0 2px;
	padding: 0 3px;
	font-weight: normal;
	zoom: 1; /* for ie */
}

div.index-navigator-outer {
	text-align: center!important;
}

/* for wave series */
body.wave #index-navigator1 {
	margin-bottom: 1em;
}


/* = ArticlePager
=============================================== */
ul.article-pager li {
	display: inline;
}


/* = ArchivesPager
=============================================== */
ul.archives-pager {
	text-align: center;
}
ul.archives-pager li {
	display: inline;
}
ul.archives-pager li.both {
	border-left: 1px solid;
}
/* pagers end */ 


/* = PortalLinks
=============================================== */
div.portal-links dl.common-theme {
	margin-bottom: 5px;
}

/* = CommonTheme
=============================================== */
dl.common-theme {
	clear: both;
}
dl.common-theme dt,
dl.common-theme dd {
	display: inline;
}
dl.common-theme dt {
	display: none;
}
body.default_2008 dl.common-theme {
	background: url(http://blogmaterial.nicoblomaga.jp/material/258/img/tpml/common_theme.gif) no-repeat;
	margin-bottom: 10px;
	padding-left: 20px;
	line-height: 16px;
}


/* = ArticleTagsList
     ArticleTagsListInternal
=============================================== */
dl.article-tags {
	clear: both;
}
dl.article-tags dt,
dl.article-tags dd {
	display: inline;
}
dl.article-tags dd {
	margin-left: 5px;
}
/* default_2008 style */
body.default_2008 dl.article-tags {
	background: url(http://blogmaterial.nicoblomaga.jp/material/258/img/tpml/tag.gif) no-repeat;
	padding-left: 20px;
	height: 1%;
	min-height: 16px;
	line-height: 20px;
}
body.default_2008 dl.article-tags dd {
	margin-left: 7px;
}

/* standard_blue style */
body.standard_blue h3.title a {
	text-decoration: none;
}

/* old type (article_tags) */
dl.article_tags {
	clear: both;
}
dl.article_tags dt,
dl.article_tags dd {
	display: inline;
}
dl.article_tags dd {
	margin-left: 5px;
}


/* = Clap
=============================================== */
span.clap {
	padding-left: 5px;
}
span.clap img {
	vertical-align: middle;
	margin-right: 3px;
}


/* = post Twitter
=============================================== */
a.postTwitter img {
	border: none;
	vertical-align: bottom;
}


/* = ArticlePostInfo (for the4thGeneration)
----------------------------------------------- */
.vcard a.url {
	text-decoration: none;
}
ul.article-post {
	text-align: right;
}
ul.article-post li {
	display: inline;
}
ul.article-post li.article-author {
	font-weight: bold;
}
ul.article-post li.article-author img {
	vertical-align: middle;
	padding-right: 5px;
}
ul.article-post li.article-comment-count,
ul.article-post li.article-trackback-count {
	margin-left: 5px;
}
ul.article-post li.article-clip {
	padding-left: 5px;
}


/* = CommentForm
=============================================== */
/* comment auth */

div.comment-auth-announcement {
	border: 1px solid;
	border-color: #858585;
	margin: 10px;
	padding: 10px;
}
div.comment-auth-announcement p {
	text-align: left;
}
div.comment-auth-announcement p.authorized {
	text-align: center;
}


/* = Private Mode
=============================================== */
div.private-mode-announcement {
	border: 1px solid;
	padding: 10px;
}
div.private-mode-announcement p {
	text-align: left;
}
div.private-mode-announcement p.authorized {
	text-align: center;
}

/* ログアウトする */
div.private-mode-announcement p.authorized a {
	margin-left: 10px;
}

/* = MessageBoard
=============================================== */
div.message-board-outer {
	margin-bottom: 10px;
}
div.message-board {
	text-align: left;
}


/* = ArticleInnerPager
=============================================== */
ul.blog-media-pager-nav {
	margin: 0;
	padding: 15px 0;
	list-style: none;
	text-align: center;
}
ul.blog-media-pager-nav li {
	margin: 0 3px;
	padding: 0;
	display: inline;
}
ul.blog-media-pager-nav li span,
ul.blog-media-pager-nav li a {
	border: 1px solid #ccc;
	text-align: center;
	text-decoration: none;
	padding: 3px 7px;
}
ul.blog-media-pager-nav li.blog-media-pager-current {
	font-weight: bold;
}


/* = TagCloud - Plugin
=============================================== */
.side ul.tagcloud {
	text-align: left;
	overflow: hidden;
	line-height: 1.2;
}
.side ul.tagcloud li {
	display: inline;
}

/* font size */
.side ul.tagcloud li.tag-weight-0 {
	font-size: 100%;
}
.side ul.tagcloud li.tag-weight-1 {
	font-size: 120%;
}
.side ul.tagcloud li.tag-weight-2 {
	font-size: 165%;
}
.side ul.tagcloud li.tag-weight-3 {
	font-size: 200%;
}
.side ul.tagcloud li.tag-weight-4 {
	font-size: 230%;
}

.side ul.tagcloud li.tag-lifetime-0,
.side ul.tagcloud li.tag-lifetime-1,
.side ul.tagcloud li.tag-lifetime-2,
.side ul.tagcloud li.tag-lifetime-3,
.side ul.tagcloud li.tag-lifetime-4 {}


/* = Search - Plugin
=============================================== */
.side input.sf {
	width: 65%;
}
.side input.submit {
	width: 25%;
}


/* = galleryThumbnail - Plugin
=============================================== */
ul.galleryThumbnail {
	margin: 0;
	padding: 0;
	text-align: left;
}
ul.galleryThumbnail li {
	display: inline;
	overflow: hidden;
}
ul.galleryThumbnail li a {
	background: transparent!important;
}
ul.galleryThumbnail li a:hover img {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
ul.galleryThumbnail li img {
	margin-bottom: 3px;
	border: none;
	vertical-align: baseline;
}


/* temp
--------------------------- */
div.article-option ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
div#comment-form-body tr.input-comment-body td div.textarea-outer {
	position: relative;
}
div#comment-form-body div#emoji {
	position: absolute;
	background-color:#fff;
	top: 0!important;
	left: 2px!important;
	border: 0;
}
div#comment-form-body div#emoji table {
	border: 1px solid #000;
}

#NnVD {
	top: 30px !important;
}


/* = Advertise
----------------------------------------------- */
div#ad,
div#ld-service {
	display: block!important;
}


/* = Google AdSense
----------------------------------------------- */
.adhover {
	border-radius: 5px;
}

a.adtitle,
.adhover a.adtitle { color:#0000fe; }

a.addescription,
a.adld,
.adhover a.addescription,
.adhover a.adld { color:#000; }

a.adurl,
.adhover a.adurl { color:#008000; }

.adhover a.adtitle:hover,
.adhover a.adurl:hover,
.adhover a.addescription:hover,
.adhover a.adld:hover { color:#fe0000; }

/* new ad placeholders */
#ad_rs { display: none; }
#ad2 { display: none; }

div#ad_rs:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
div#ad2:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }

/* hack for ie6,7 */
* html div#ad_rs { height: 1%; }
*+html div#ad_rs { height: 1%; }
* html div#ad2 { height: 1%; }
*+html div#ad2 { height: 1%; }


/* = livedoor Ad（記事下広告）
----------------------------------------------- */
body.ad {
	background: transparent;
	text-align: left;
}


/* = research frame
----------------------------------------------- */
#ld_research_frame {
	position: fixed;
	top: 0;
	right: 3px;
}

/* hack for ie6 */
* html body { filter: expression(''); }
* html #ld_research_frame {
	position: absolute;
	top: expression(
	 document.documentElement && document.documentElement.scrollTop  || 
	 document.body && body.scrollTop  || 0
	 + 0 + 'px'
	);
	right: expression(
	 document.documentElement && document.documentElement.scrollLeft || 
	 document.body && body.scrollRight || 0
	 + 3 + 'px'
	);
}


/* = keyword highlight
----------------------------------------------- */
a.adtitle span span,
a.adurl span span,
a.addescription span span {
	font-size: 100%!important;
	padding: 1px 3px;
}

/* blogHeader common
-----------------------------------------------------*/
.blogHeader ul,
.blogHeader ul li,
.blogHeader p,
.blogHeader form,
.blogHeader input {
	padding: 0;
	margin: 0;
}

.blogHeader ul li {
	list-style-type: none;
}

.blogHeader a img {
	border-width: 0;
}

.blogHeader ul,
.blogHeader ul li {
	float: left;
}

.blogHeader:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}


/* adv overture
-----------------------------------------------------*/

#ad2 { padding: 1.5em; }

dl.advSet,
dl.advSet dt,
dl.advSet dd { margin: 0; padding: 0; text-align: left; }

a.advLink {
	text-decoration: none!important;
	display:block;
	margin: 0 8px 0.75em 0;
	padding: 3px 5px;
	zoom:1;
}

/* temp */
body.gallery div#wrapperOuter div#ad a:hover,
body.gallery div#wrapperOuter div#ad2 a:hover {
	background: none;
}

.advTitle {
	font-size: 14px;
	font-weight: bold;
	line-height: 200%;
	color:#0000fe;
	text-decoration: underline!important;
}
.advUrl,
.advDescription { font-size: 12px; }

.advTitle,
.advUrl { display: inline; }
.advUrl { color:#008000; }
dl.advSet dd.advUrl { margin-left: 1em; }
.advDescription { display: block; color:#000000; line-height: 100%; }

p.advSponsor { text-align: right; font-size: 11px; }
p.advSponsor a { color: #999; text-decoration: none; }
p.advSponsor a span { text-decoration: underline; }


/* DLsite plugin
-----------------------------------------------------*/
/* clearfix */
.dlsite_worklist .clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.dlsite_worklist .clearfix {
	min-height: 1px;
}

* html .dlsite_worklist .clearfix {
	height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

/* worklist */
ul.dlsite_worklist {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-size: 12px;
	list-style-type: none;
}

ul.dlsite_worklist p {
	margin: 0;
	padding: 0;
}

ul.dlsite_worklist img {
	vertical-align: bottom;
	border: 0;
}

ul.dlsite_worklist_01 {
	width: 180px;
}

ul.dlsite_worklist_01 li {
	display: inline;
	padding: 0 5px;
	text-align: left;
}

ul.dlsite_worklist_02 li {
	display: inline;
	padding: 0 3px;
	text-align: left;
}

ul.dlsite_worklist_03 li,
ul.dlsite_worklist_04 li {
	margin: 0 8px 8px 8px;
	line-height: 1.3;
	text-align: left;
}

ul.dlsite_worklist_03 li p.pict {
	float: left;
	margin-right: 8px;
	width: 50px;
}

ul.dlsite_worklist_04 li p.pict {
	float: left;
	margin-right: 8px;
	width: 100px;
}

ul.dlsite_worklist p.work_price {
	color: #cc0000;
	margin-top: 3px;
}

ul.dlsite_worklist_01 li img {
	border: none;
	margin-bottom: 10px;
}

ul.dlsite_worklist_02 li img {
	border: none;
	margin-bottom: 10px;
}

ul.dlsite_worklist_01 li a:hover img,
ul.dlsite_worklist_02 li a:hover img {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

p.dlsite_workall {
	margin: 0 8px 0 0;
	text-align: right;
	font-size: 12px;
}

/*  circle profile */
div.dlsite_circle_profile {
	font-size: 12px;
	overflow: hidden;
	line-height: 1.3;
	text-align: left;
}

div.dlsite_circle_profile p {
	margin: 0;
	padding: 0;
}

div.dlsite_circle_profile p.circle_title {
	margin-bottom: 5px;
}

div.dlsite_circle_profile p.circle_bn {
	margin: 5px 0 0 0;
}

div.dlsite_circle_profile div.sidebody {
	padding-bottom: 2px;
}

div.dlsite_circle_profile div.sidebody a {
	font-weight: bold;
}

div.dlsite_circle_profile img {
	vertical-align: bottom;
	border: 0;
}

/* twitter timeline old */
div.twitter_timeline p {
	margin:5px;
	padding:5px;
	border:solid 1px #ccc;
}
div.twitter_timeline p.left {
	margin-left:60px;
}
div.twitter_timeline p.right {
	margin-right:60px;
}
div.twitter_timeline img {
	border:none;
}
div.twitter_timeline img.left {
	float:left;
}
div.twitter_timeline img.right {
	float:right;
}
div.twitter_timeline br.timeline_bottom {
	clear:both;
}

/* twitter timeline */
div.twitterTimeline {
	border: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 5px;
	min-height: 1px;
}

div.twitterTimeline:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

div.twitterTimeline img.twitterIcon {
	border: 0;
}

div.twitterTimeline img.twitterIconleft {
	float: left;
}

div.twitterTimeline img.twitterIconright {
	float: right;
}

div.twitterTimeline div.twitterContentleft {
	margin-left: 60px;
}

div.twitterTimeline div.twitterContentright {
	margin-right: 60px;
}

div.twitterTimeline span.twitterAuthor {
	font-weight: bold;
	margin-right: 10px;
}

/* = recent_article_image - Plugin
=============================================== */
.side ul.recent-article-image li {
	padding-bottom: 5px;
	line-height: 1.2;
	min-height: 1px;
	text-align: left;
}

.side ul.recent-article-image li:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

* html .side ul.recent-article-image li { height: 1%; }
*+html .side ul.recent-article-image li { height: 1%; }

.side ul.recent-article-image li img {
	border: 0;
	margin: 0 5px 0 0;
	float: left;
}

/* = blog_members - Plugin
=============================================== */
.side ul.blog-members li {
	padding-bottom: 5px;
	line-height: 1.2;
	min-height: 1px;
	text-align: left;
}
.side ul.blog-members li:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

* html .side ul.blog-members li { height: 1%; }
*+html .side ul.blog-members li { height: 1%; }

.side ul.blog-members li img {
	border: 0;
	margin: 0 5px 0 0;
	float: left;
}

/* = cms_link - Plugin
=============================================== */
.side div.cms-link {
	background: url(http://blogmaterial.nicoblomaga.jp/material/258/img/tpml/icon_write.gif) no-repeat left top;
	min-height: 17px;
	line-height: 17px;
	padding: 1px 0 1px 20px;
	text-align: left;
}

/* = popular_articles - Plugin
=============================================== */
.side div.popular-articles table {
	font-size: 100%;
}

.side div.popular-articles table td {
	vertical-align: top;
	text-align: left;
	padding: 2px;
}

.side div.popular-articles table td.populararticles-rank {
	white-space: nowrap;
}

.side div.popular-articles table td.populararticles-title span {
	margin-left: 3px;
}

.side div.popular-articles div.popular-articles-freearea {
	padding-top: 5px;
	text-align: left;
}

/* = messagebox - Plugin
=============================================== */
.side div.message-box p.message-properties {
	margin: 0;
	padding: 0;
	text-align: left;
}
.side div.message-box dt,
.side div.message-box dd {
	margin: 0;
	padding: 0;
	text-align: left;
}

.side div.message-box dl {
	margin: 0 0 5px;
	padding: 0;
}

.side div.message-box dl.message-detail textarea {
	height: 100px;
	width: 90%;
}

/* = recent comment - Plugin
=============================================== */
.side .recent-comment .recent-comment-title {
	margin-bottom: 3px;
}
.side .recent-comment .recent-comment-body {
	margin-bottom: 3px;
	overflow: hidden;
	word-wrap: normal;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.side .recent-comment .recent-comment-author {
	display: inline;
	margin-right: 5px;
}
.side .recent-comment .recent-comment-date {
	display: inline;
}

/* message-form tag */
.message-form-outer table.form {}
.message-form-outer table.form th {
	white-space: nowrap;
	width: 1%;
}

.message-form-outer table.form tr.message-author th,
.message-form-outer table.form tr.message-email th,
.message-form-outer table.form tr.message-body th, 
.message-form-outer table.form tr.message-author td,
.message-form-outer table.form tr.message-email td,
.message-form-outer table.form tr.message-body td {
	padding: 3px;
}

blockquote.twitter-tweet {
	background-color: white!important;
	border: #DDD 1px solid!important;
	border-top-color: #EEE!important;
	border-bottom-color: #BBB!important;
	bottom: auto!important;
	clear: none!important;
	clip: auto!important;
	color: #333!important;
	cursor: auto!important;
	direction: ltr!important;
	filter: !important;
	float: none!important;
	font: normal normal normal 12px/16px "Helvetica Neue",Arial,sans-serif!important;
	height: auto!important;
	left: auto!important;
	letter-spacing: normal!important;
	list-style: none!important;
	margin: 10px!important;
	marks: none!important;
	max-height: auto!important;
	max-width: 550px!important;
	min-height: 0!important;
	min-width: 0!important;
	overflow: visible!important;
	padding: 10px!important;
	page: auto!important;
	position: static!important;
	quotes: none!important;
	right: auto!important;
	-o-set-link-source: none!important;
	size: auto!important;
	text-align: left!important;
	text-decoration: none!important;
	text-indent: 0!important;
	text-overflow: clip!important;
	text-shadow: none!important;
	text-transform: none!important;
	top: auto!important;
	vertical-align: baseline!important;
	visibility: visible!important;
	white-space: normal!important;
	width: auto!important;
	word-spacing: normal!important;
	word-wrap: normal!important;
	z-index: auto!important;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15)!important;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15)!important;
	-ms-box-shadow: 0 1px 3px rgba(0,0,0,0.15)!important;
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.15)!important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.15)!important;
	border-radius: 5px!important;
	-webkit-opacity: 1!important;
	-moz-opacity: 1!important;
	-ms-opacity: 1!important;
	-o-opacity: 1!important;
	opacity: 1!important;
	-webkit-outline: 0!important;
	-moz-outline: 0!important;
	-ms-outline: 0!important;
	-o-outline: 0!important;
	outline: 0!important;
	-webkit-text-size-adjust: none!important;
}
blockquote.twitter-tweet .avatar {
	position: absolute!important;
}
blockquote.twitter-tweet .avatar img {
	width: 32px!important;
	height: 32px!important;
}
blockquote.twitter-tweet .fn {
	display: block;
	padding-left: 42px!important;
	color: #333!important;
	font-weight: bold!important;
}
blockquote.twitter-tweet .nickname {
	display: block;
	padding-left: 42px!important;
	color: #999!important;
}
blockquote.twitter-tweet p {
	margin-top: 6px!important;
	margin-bottom: 6px!important;
	font-size: 16px!important;
	font-family: Georgia,Palatino,serif!important;
	line-height: 22px!important;
}

/* Twitter Profile
----------------------------------------------- */
/* old */
.plugin-twitter_profile .side {
	line-height:1.4;
}
.plugin-twitter_profile .profile-header a {
	display:block;
	text-align:left;
	-webkit-transition: opacity 0.2s ease;
	   -moz-transition: opacity 0.2s ease;
	    -ms-transition: opacity 0.2s ease;
	     -o-transition: opacity 0.2s ease;
	        transition: opacity 0.2s ease;
	overflow: hidden;
}
.plugin-twitter_profile .profile-header a:hover {
    opacity:0.75;
}
.plugin-twitter_profile .profile-avatar {
	display: block;
	padding-right:12px;
	float:left;
	width:60px;
}
.plugin-twitter_profile .profile-avatar img {
	width:60px;
	height:60px;
	border-radius:6px;
}
.plugin-twitter_profile .profile-name {
	display: block;
	font-size:14px;
	font-weight:bold;
	margin-left: 70px;
	margin-top: 5px;
}
.plugin-twitter_profile .profile-screen-name {
	font-size: 12px;
	display: block;
	margin-left: 70px;
	opacity: 0.6;
}
.plugin-twitter_profile .profile-body {
	margin-top:12px;
	clear:both;
	text-align:left;
}


/* Popular Articles with Image (Tag, Plugin)
----------------------------------------------- */

/* Design A(block) */
div.popularArticlesWithImage.A ul {
}
div.popularArticlesWithImage.A div.title {
text-align:left;
}


div.popularArticlesWithImage.A{
    margin: 10px 0;
}

div.popularArticlesWithImage.A ul{
    margin:0;
    padding:0;
	text-align:center;
}

div.popularArticlesWithImage.A ul li{
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-bottom: 10px;
	vertical-align: top;
	text-align:left;
	list-style-type: none;
}
div.popularArticlesWithImage.A ul li a{ 
	display: block;
	border-width: 3px;
	border-style:solid;
	border-color:rgba(0,0,0,0.8);
    padding: 0px !important;
    background: none !important;
	text-decoration: none;
	width: 150px;
	height: 112px;
}

div.popularArticlesWithImage.A li div.image img {
	border-width: 0px;
}

div.popularArticlesWithImage.A li div.image.noimage {
	background: #daf5da;
}

div.popularArticlesWithImage.A div.title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 146px;
	height: 22%;
	padding: 5px;
	background: #000;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.4;
	filter: alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;
    overflow: hidden;
}
div.popularArticlesWithImage.A div.retweet,
div.popularArticlesWithImage.A div.comment,
div.popularArticlesWithImage.A div.pv{
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 3px 6px 2px 5px;
	background: #000;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	text-align: right;
	text-shadow: 0 1px 0 #000;
}


/* Design B(List with Image)*/
div.popularArticlesWithImage.B{
	text-align: left;
}
div.popularArticlesWithImage.B ul {
	margin: 0;
	padding: 0;
}
div.popularArticlesWithImage.B ul li {
	margin-bottom: 5px;
	list-style-type: none;
}
div.popularArticlesWithImage.B ul li a {
	*zoom: 1;
	position: relative;
	display: block;
}
div.popularArticlesWithImage.B ul li a:after {
	content: "";
	display: block;
	clear: both;
}
div.popularArticlesWithImage.B div.image{
	float: left;
	margin: 0 10px 10px 0;
}
div.popularArticlesWithImage.B div.title {
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 1.5;
}
div.popularArticlesWithImage.B div.comment,
div.popularArticlesWithImage.B div.retweet,
div.popularArticlesWithImage.B div.pv{
	overflow: hidden;
	display: inline-block!important;
	*display: inline!important;
	*zoom: 1;
	margin-bottom: 5px;
	padding: 2px 5px;
	font-size: 12px;
	background: #000;
	color: #fff;
	border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
}

/* Design C(List without Image)*/
div.popularArticlesWithImage.C{
	text-align: left;
}
div.popularArticlesWithImage.C ul {
	margin: 0;
	padding: 0;
}
div.popularArticlesWithImage.C ul li {
	margin-bottom: 5px;
	list-style-type: none;
}
div.popularArticlesWithImage.C ul li a {
	*zoom: 1;
	position: relative;
	display: block;
}
div.popularArticlesWithImage.C ul li a:after {
	content: "";
	display: block;
	clear: both;
}
div.popularArticlesWithImage.C div.title {
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 1.5;
}
div.popularArticlesWithImage.C div.comment,
div.popularArticlesWithImage.C div.retweet,
div.popularArticlesWithImage.C div.pv{
	overflow: hidden;
	display: inline-block!important;
	*display: inline!important;
	*zoom: 1;
	margin-bottom: 5px;
	padding: 2px 5px;
	font-size: 12px;
	background: #000;
	color: #fff;
	border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
}

/* 記事下ソーシャルボタン */
.article-social-btn {
	font-size: 12px;
}
.article-social-btn > a,
.article-social-btn > span,
.article-social-btn > div,
.article-social-btn > iframe {
	display: inline-block;
	margin: 16px 0;
}
.article-social-btn * {
	vertical-align: middle !important;
	margin-right: 4px !important;
}

/* 記事下ソーシャルボタン（古いデザイン用） */
ul.article-post li {
	font-size: 12px;
}
ul.article-post li > a,
ul.article-post li > span,
ul.article-post li > div,
ul.article-post li > iframe {
	display: inline-block;
	margin: 2px 0;
}
ul.article-post li * {
	vertical-align: middle !important;
	margin-right: 4px !important;
}
.blogbody .article-social-btn iframe,
.blogbody ul.article-post iframe {
	margin: 0;
}

/* 右寄せだとtumblrのボタンでテキストがかぶる */
.article-social-btn a[href*="tumblr"] {
	text-align: left;
}

/* 関連記事 */
.related-articles {
	clear: both;
}

/* stad */
.adset-Cover {
	margin: 0 0 30px 0;
	padding:0;
	width:100%;
}

.adset {
	margin:0 auto;
	padding:0;
	width:620px;
	height:250px;
}

.adset-noCenter {
	margin:0;
	padding:0;
	width:620px;
	height:250px;
}

.adset-Left {
	margin:0;
	padding:0;
	float: left;
}

.adset-Right {
	margin:0;
	padding:0;
	float: right;
}

.adset-Cleft {
	margin:0;
	padding:0;
	text-align:left;
}

/* imobileinfeedad */

.imobile_infeed_spot{
        height:80px !important;
}
.imobile_infeed{
	height:80px !important;
}
#imobspot_1_0_p,#imobspot_2_0_p,#imobspot_3_0_p{
        margin:0 0 0 0 !important;
}
.imobile_infeed_img_container{
	width:80px !important;
        height:60px !important;
}

.imobile_infeed_img_18{
  background-color:#000000;
  padding-left: 10px !important;
  padding-right: 10px !important;
  width:60px !important;
  height:60px !important;
}
.imobile_infeed_body{
  width:210px !important;
       height:80px !important;
       margin:0 0 0 8px !important;
}
.imobile_infeed_title{
       display:none !important;
}
.imobile_infeed_description:before{
       content: "【PR】";
}
.imobile_infeed_description {
       font-size:14px !important;
}

/* gifplayer */
ins.play-gif{
	position: absolute;
	font-family: Arial, sans serif;
	width: 50px;
	height: 50px;
	line-height: 52px;
	text-align: center;
	background: #222;
	font-size: 18px;
	color: #fff;
	border-radius: 50%;
	opacity: .9;
	border: 4px solid #fff;
	cursor:pointer;
	text-decoration: none;
}

ins.play-gif:hover{
	opacity:.5;
}

.gifplayer-wrapper{
	position:relative;
}

.spinner {
	height:50px;
	width:50px;
	margin:0px auto;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-25px;
	margin-left:-25px;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border-left:6px solid rgba(256,256,256,.15);
	border-right:6px solid rgba(256,256,256,.15);
	border-bottom:6px solid rgba(256,256,256,.15);
	border-top:6px solid rgba(256,256,256,.8);
	border-radius:100%;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}