
#questionnaire_evalandgo .custom-page {
	font-size: 14px;
	background-color: #e2e2e2;
	background-size: auto;
	padding-top: 0;
}

#questionnaire_evalandgo custom-identifiants {
	font-family: Arial;
	font-size: 12px;
	color: #080808;
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

#questionnaire_evalandgo .custom-header #txtlogo {
	font-family: Arial Narrow;
	font-size: 20px;
	color: #474747;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}

#questionnaire_evalandgo .custom-pageBorder {
	border: 0 solid #272727;
}

#questionnaire_evalandgo .custom-body {
	font-size: 14px;
	background-color: #393939;
	background-size: auto;
	color: #fff;
}

#questionnaire_evalandgo .custom-footer {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #000;
	background-size: auto;
	border: 0;
	border-style: dashed;
	border-color: #272727;
	display: none;
}

#questionnaire_evalandgo .custom-champTexte {
	font-family: Arial;
	font-size: 14px;
	color: #3b3b3b;
	background-color: #f0f0f0;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	border: thin;
	border-style: solid;
	border-color: #999;
}

#questionnaire_evalandgo .custom-champAutre {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #383838;
	background-color: #e2e2e2;
	border: thin;
	border-style: solid;
	border-color: #bbb;
}

#questionnaire_evalandgo .custom-champValeur {
	font-family: Arial;
	font-size: 14px;
	color: #0a0a0a;
	background-color: #e6e7e7;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	border: 0;
	border-style: solid;
	border-color: #ccc;
}

#questionnaire_evalandgo .custom-asterisque {
	font-size: 20px;
	display: none;
}

#questionnaire_evalandgo .custom-numerotation {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #fff;
}

#questionnaire_evalandgo .custom-question {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #fff;
	background-size: auto;
	border: 0;
	border-style: solid;
	border-color: #adadad;
}

#questionnaire_evalandgo .custom-libelle {
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #fff;
}

#questionnaire_evalandgo .custom-commentaire {
	font-family: Arial;
	font-size: 14px;
	color: #949699;
	text-decoration: none;
	font-style: italic;
	font-weight: normal;
}

#questionnaire_evalandgo .custom-bouton {
	font-family: Arial;
	font-size: 11px;
	color: #000;
	background-color: #dbdbdb;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	border: thin;
	border-style: solid;
	border-color: #919191;
}

#questionnaire_evalandgo .custom-classement {
	font-family: Arial;
	font-size: 12px;
	color: #383838;
	background-color: #d6d6d6;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	border: thin;
	border-style: dashed;
	border-color: #ccc;
}

#questionnaire_evalandgo .custom-minMax {
	font-family: Arial;
	font-size: 14px;
	color: #474747;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	border: 0;
	border-style: solid;
	border-color: #c9c9c9;
}

#questionnaire_evalandgo .custom-tab {
	font-family: Arial;
	font-size: 14px;
	color: #666;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	border: thin;
	border-style: solid;
	border-color: #bbb;
}

#questionnaire_evalandgo .custom-progressBar {
	height: 12px;
	background-color: #fff;
	border: 0;
	border-style: solid;
}

#questionnaire_evalandgo .custom-progressValue {
	background-color: #aa1801;
	background-size: auto 100%;
}

#questionnaire_evalandgo .custom-curseur {
	background-position: center;
	background-image: url("http://app2.evalandgo.com/files/css/bg_img/1321539451_slider30.jpg");
	background-repeat: repeat;
	height: 17px;
}

#questionnaire_evalandgo .curseur>.custom-curseurBar {
	background-position: center;
	background-image: url("http://app2.evalandgo.com/files/css/bg_img/1321539353_slider17.jpg");
	background-repeat: repeat;
}

#questionnaire_evalandgo .curseur>.custom-curseurSlide {
	background-position: center;
	background-image: url("http://app2.evalandgo.com/files/css/bg_img/1321539385_slider21.jpg");
	background-repeat: repeat;
	height: 25px;
}

#questionnaire_evalandgo .custom-label {
	font-size: 13px;
	background-color: #fff;
	color: #000;
}

#questionnaire_evalandgo .custom-headerPage {
	color: #fff;
	padding-top: 0;
}

#questionnaire_evalandgo .custom-identifiants {
	display: none;
}
