/*** SLIDEBOX BOTTOM NEWS ***/

#slidebox
{
    position: fixed;
    z-index: 5;
    right: -430px;
    bottom: 20px;
    width: 283px;
    height: auto;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, .15) -2px 0 10px;
       -moz-box-shadow: rgba(0, 0, 0, .15) -2px 0 10px;
            box-shadow: rgba(0, 0, 0, .15) -2px 0 10px;
}
#slidebox p
{
    font-family: Proxima-Nova,Helvetica,Arial,sans-serif;
    font-size: .941em;
    font-weight: 600;
    line-height: 1.125em;
    margin: 10px 0 0 0;
    color: #000;
}


#slidebox span
{
    font-family: Proxima-Nova,Helvetica,Arial,sans-serif;
    font-size: .824em;
    font-weight: 700;
    display: block;
    margin-left: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #860000;
}



#slidebox p:hover
{
    color: #ff8b00;
}
.slidebox-img
{
    float: left;
    width: 140px;
    height: 105px;
    margin: 10px;
    border: 1px solid #ddd;
}



a.close
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    float: right;
    margin-left: 10px;
    opacity: .6;
    color: rgba(0, 0, 0, .4);
}
a.close:hover
{
    text-decoration: none;
    opacity: .65;
}