
/* ***** CSS Mobile ***** */
/* Checkbox et Radio */
.box-mobil{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    /*width: 100%;
    height: 100%;*/
}
.box-mobil.btn-block{
    display: block;
}
.box-mobil input[type="checkbox"],.box-mobil input[type="radio"]{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0px none;
}
.box-mobil label{
    display: block;
    min-width: 18px;
    min-height: 18px;
    cursor: pointer;
    margin: 0;
    position: relative;
    padding-left: 35px;
    font-weight: initial;
}
.box-mobil.box-mobil-btn label{
    padding: 6px 10px 6px 35px;
    background-color: rgba(200, 200, 200, 0.1);
    border: 1px solid rgba(200, 200, 200, 0.3);
    border-radius: 5px;
    min-height: 34px;
}
.box-mobil.box-mobil-btn label:active{
    background-color: rgba(150,150,150,0.2);
    border: 1px solid rgba(200, 200, 200, 0.5);
}
.box-mobil label:before{
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    opacity: 0.3;
    background-color: rgba(0, 0, 0, 0.3);
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-right: 10px;
    position: absolute;
    left: 0.5625em;
    top: 50%;
    margin: -9px 0px 0px;
}
.box-mobil input[type="radio"] + label:before{
    border-radius: 50%;
}
.box-mobil input[type="radio"]:checked + label::before {
    background-color: #FFF;
    border: 5px solid #38C;
    opacity: 1;
}
.box-mobil input[type="checkbox"]:checked + label::before {
    font-family:'FontAwesome';
    font-size: 14px !important;
    content: "\f00c";
    background-color: #38C;
    border: none;
    opacity: 1;
    color: white;
    line-height: 18px;
    padding-left: 2px;
}
.box-mobil.box-mobil-static label{
    padding-left: 0px;
}
.box-mobil.box-mobil-static label:before{
    left: 50%;
    margin-left: -9px;
}