.socialBloc .rss-goodDeal a {
    padding-left: 26px;
}
.socialBloc .rss-goodDeal span {
    color: #768696;
    font-size: 11px;
}
.offerLeft {
    float: left;
    margin-bottom: 0;
    padding-bottom: 0;
}
.lastBestOffers {
    border: 0 none;
    box-shadow: none;
    margin-right: 0;
}
.bestoffersChoiceTop {
    clear: both;
    display: inline-block;
    font-size: 11px;
    line-height: 18px;
    margin-right: 20px;
    margin-top: 5px;
    max-width: 140px;
    padding: 2px 5px 3px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    vertical-align: baseline;
}
.bestoffersChoiceTop p {
    background-color: #f2f2f2;
    border: 1px solid #e8e8e8 !important;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    color: #768696;
    line-height: 20px;
    max-width: 102px;
    padding: 0 5px 0 28px;
    position: relative;
}
.bestoffersChoice {
    clear: both;
    display: inline-block;
    font-size: 11px;
    line-height: 18px;
    margin-left: -160px;
    margin-right: 20px;
    margin-top: 115px;
    max-width: 140px;
    padding: 2px 5px 3px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    vertical-align: baseline;
}
.bestoffersChoice p {
    background-color: #f2f2f2;
    border: 1px solid #e8e8e8 !important;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    color: #768696;
    line-height: 20px;
    max-width: 102px;
    padding: 0 5px 0 28px;
    position: relative;
}
.bestoffersIcon {
    background: url("/images/icon/bestoffersSprite.png") no-repeat scroll -1px -31px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 28px;
    margin: -1px;
    position: absolute;
    width: 27px;
    z-index: 100;
    left: 10px;
}
.offerAuthor {
    clear: right !important;
    display: block !important;
}
.expiredWrap {
    position: absolute;
}
.expiredIcon {
    background: url("/images/icon/expired140x105.png") no-repeat scroll 0 0 transparent;
    content: "";
    height: 105px;
    position: relative;
    width: 140px;
}
.expiredBg {
    background-color: #000;
    float: left;
    height: 105px;
    left: 0;
    opacity: 0.5;
    top: 0;
    width: 140px;
}
.expiredBigWrap {
    margin: 0 auto;
    position: absolute;
    width: 460px;
}
.expiredBigIcon {
    background: url("/images/icon/expired480x345.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 345px;
    left: 50%;
    margin: 1px -229px;
    position: relative;
    top: 50%;
    width: 480px;
}
.expiredBigBg {
    background-color: #000;
    float: left;
    height: 345px;
    left: 0;
    opacity: 0.5;
    top: 0;
    width: 460px;
}
.span-link {
    cursor: pointer;
    display: block;
    padding: 6px 0;
}
.span-link:hover {
    color: #860000;
    cursor: pointer;
}
.clearer {
    clear: both;
    margin: 0;
    padding: 0;
    visibility: hidden;
}
.buy, .buy:hover, .offer, .offer:hover {
    cursor: pointer;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}
.buyIcon {
    background: url("/images/icon/bestoffersSprite.png") no-repeat scroll 0 -2px rgba(0, 0, 0, 0);
    padding: 4px 0 4px 36px;
}

/* Agathe Part */
.emailing-good-deal, .action-good-deal {
    color: #911402;
    text-align: center;
    font-weight: bold;
}

.entry {
    width: 100%;
}

.entry .input_wrapper {
    box-sizing: border-box;
}

.entry .input_wrapper input {
    width: 100%;
    box-sizing: border-box;
}

.entry .input_wrapper input[type="text"] {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1) inset;
	background-color: #FBFBFB;
	border: 1px solid #D2D3D3;
	border-radius: 3px;
	max-width: 100%;
	padding: 5px 0px;
	text-indent: 10px;
	width: 100%;
	font-size: 0.8em;
	margin-bottom: 10px;
}

a.option-deal {
    margin-bottom: 20px;
}

.block-good-deal {
    text-align: center;
    padding: 25px 20px 10px;
    border: 1px dashed #b70202;
    margin-bottom: 30px;
}

.block-good-deal h5 {
    font-size: 18px;
    text-transform: uppercase;
}
.emailing-good-deal, .action-good-deal {
	border: 1px dashed #b70202;
	padding: 10px;
	margin-bottom: 10px;
  position: relative;
}

.emailing-good-deal form{
	margin: 0;
}

.action-good-deal {
  display: block;
  background-color: #f8f8f8;

}

.action-good-deal p {

  margin-top: 25px;
}

.action-good-deal form{
  margin: 0;
}

div.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 21;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
div.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #FBC719;
  background: -webkit-gradient(linear, left top, left bottom, from(#FBC719), to(#E69802));
  background: -webkit-linear-gradient(#FBC719 0%, #E69802 100%);
  background: -moz-linear-gradient(#FBC719 0%, #E69802 100%);
  background: -o-linear-gradient(#FBC719 0%, #E69802 100%);
  background: linear-gradient(#FBC719 0%, #E69802 100%);
  -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
     -moz-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: 0;
  border-left: 3px solid #E69802;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #E69802;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid #E69802;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #E69802;
}





div.ribbonsmall {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 21;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
div.ribbonsmall span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #FBC719;
  background: -webkit-gradient(linear, left top, left bottom, from(#FBC719), to(#E69802));
  background: -webkit-linear-gradient(#FBC719 0%, #E69802 100%);
  background: -moz-linear-gradient(#FBC719 0%, #E69802 100%);
  background: -o-linear-gradient(#FBC719 0%, #E69802 100%);
  background: linear-gradient(#FBC719 0%, #E69802 100%);
  -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
     -moz-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbonsmall span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: 0;
  border-left: 3px solid #E69802;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #E69802;
}
.ribbonsmall span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid #E69802;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #E69802;
}

.btn-link--good-deals {
  color: #fff;
  border-radius: 5px;
  background-color: #ff8b00;
  text-shadow: none;
}
