

.nav-tabs,.nav-horizontal,.nav-pills {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-pills,
.nav-tabs{
    padding-top: 16px;
    border-bottom: none; 
}
#sub_menu .nav-pills {
    padding-top: 45px;
}
.menu-sub-tab .nav-pills,
#sub_menu .nav-pills{
   padding-left: 0;
   padding-right: 0;
}
.nav-tabs > li > a {
    margin-right: 5px;
    font-size: 14px;
    text-transform:uppercase;
    background-color: #eaeaea;
    color: #898989;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:focus{
    border-color: transparent;
}
.nav-tabs > li.active {
    bottom: -1px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #2497e8;
    background: none;
}

.nav-pills > li > a:hover {
    color: #2497e8;
    background: none;
}


.nav > li > a {
    color: #898989;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #898989;
}
.nav.nav-stacked > li > a {
    padding: 5px 0px;
    text-transform: uppercase;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border-color: transparent;
}
.nav.nav-stacked > li > a:hover {
    background-color: transparent;
}


.nav .nav-divider {
    background-color: #e7e7e7;
}

.panel-group .panel-title > a{
    display: block;
    width: 100%;
    padding: 7px;
}

.form-control {
    padding: 6px 5px;
    /*border: 1px solid #efefef;*/
    border-radius: 0;
    box-shadow: none;
}

.pagination {
    margin: 8px 0 0 8px;
    float:left;
}

.dropdown-header {
    color: black;
    font-size: 20px;
    text-align: center;
}
.dropdown-content {
    color: #777;
    display: block;
    font-size: 12px;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

.page-header {
    border-bottom: 1px dotted #eee;
    padding-bottom: 6px;
}

.alert{
    position: relative;
    padding-left: 50px;
    border-radius: 0;
    border-width: 0;
}
.alert:before {
    font-family:'FontAwesome';
    border: 2px solid;
    border-radius: 50%;
    font-size: 18px;
    height: 30px;
    left: 10px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    text-align: center;
}
.alert-info:before {
    content:"\f129";
}
.alert-success:before {
    content:"\f00c";
}
.alert-danger:before {
    content:"\f00d";
}
.alert-warning:before {
    content:"\f12a";
}


.table-borderless > thead > tr > th,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > tbody > tr > td,
.table-borderless > tfoot > tr > td{
    border: none;
}


.nav .btn-default,.tab-evalandgo .btn-default {
    background-color: #eaeaea;
    color: #898989;
    font-size: 14px;
    border-color: transparent;
    text-transform: uppercase;
}



.full-width-slider input[type=number]{
    display: none;
}
.full-width-slider .ui-slider-track {
    margin-left: 15px;
}
.full-width-slider .header-slide {
    margin-left: -15px;
}



#editform .page-header {
    margin:0;
}
#editform .form-group {
    margin-bottom: 10px;
}


.sortchoice .fa-stack-1x {
    line-height: 26px;
}
.btn-primary {
    background-color: #0689e5;
    border-color: #0689e5;  
}

.btn-primary.dropdown-toggle, 
.btn-primary:focus,
.btn-primary:hover {
    background-color: #0478ca!important;
    border-color: #0478ca!important; 
}

.btn-success {
    background-color: #5cb85c;
    border-color: #5cb85c;  
}
.btn-success:focus, 
.btn-success:hover {
    background-color: #4fa04f;
    border-color: #4fa04f;  
}

.btn-danger {
    background-color: #e24b40;
    border-color: #e24b40;  
}
.btn-danger:focus, 
.btn-danger:hover {
    background-color: #bd3f35;
    border-color: #bd3f35;  
}

.img-thumbnail {
    border: 9px solid #ddd !important;
    border-radius:0;
}
.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {
    color: #5D5D5D;
}


.pagination > li > a, .pagination > li > span {
    background-color: #e5e5e5;
    border: medium none;
    color: #979797;
    font-weight: 300;
    margin-top: 1px;
    margin-right:2px;
}

.modal .modal-body.alert{
    margin-bottom: 0px;
}

.modal-sm {
    width: 420px;
}


.modal-header {
    border-bottom:none;
}
.modal-footer {
    border-top: none;
    background-color: #f0f0f0;
}
.modal-content {
    overflow:hidden;
}
.modal-title {
    font-weight: 300;
    text-transform: uppercase;
}