@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}

body {
	background:url('http://cdn.x1cdn.com/ak/watchmygf/w/images/bg-body.jpg') repeat;
	margin:0;
	font-family: Tahoma,sans-serif;
	letter-spacing:0.025em;
font-size: 14px	
}

p{ line-height:20px;}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {border-style:none;}

a:link,a:focus,a:active,a:visited {
    text-decoration:underline;
    color:#ffc600;
}
a:hover {
    text-decoration:underline;
    color:#ffc600;
}

*:focus {outline: none;}

.clear{ clear:both;}

/* wrapper */
#wrapper {
    max-width:888px;
	border-left: 5px solid #7b0037;
    border-right: 5px solid #7b0037;
    margin: 0 auto;
    background: #7b0037;
}
/* wrapper */
#innerWrap {
 
	border-left: 1px solid #aa004f;
    border-right: 1px solid #aa004f;
 
}

 

#header{max-width:880px; height:auto; margin:auto; }
#headerTop{width:878px; height:31px; margin:auto; position:relative;  }
#banner1{width:813px; height:182px; margin:auto; position:relative;  }
#banner2{width:813px; height:230px; margin:auto; position:relative;  }
	#logo{
	width: 462px;
	height: 182px;
	margin: auto;
	position: absolute;
top: 14px;
left: 178px;

}

#enterBtn{ 	max-width: 343px; height: auto;  margin:auto; margin-top:10px;}

/* #enterBtn  a {
	display: block; 
	width: 294px; height: 138px;
	background-image: url(http://cdn.x1cdn.com/ak/chatrevenge/warning/btn-enter.jpg); 
	background-position: top; 
	text-indent: -9999px;
	margin:auto;

}

#enterBtn a:hover {
	background-position: bottom; 
}

#enterBtn a:active {
	background-position: bottom;
}*/

#contents{ max-width:890px; height:auto; margin-top:0px; }

.textarea {
padding: 0px 15px 0px 15px;
}

.txtleft {
width: auto;
text-align: justify;
font-family: Tahoma,sans-serif;
font-size: 14px;
color: #FFF;
letter-spacing: 0px;
}
.sitelinks{ color:#FFF;}
.links {
	padding:20px;
margin:20px auto;
max-width: 530px;
height: auto;
border-width: 1px;
border-style: solid;
border-color: #FFFFFF
}

.links ul{ margin: 0; padding: 0; }
.links li {list-style: none; display: inline;    padding-right:7px;    padding-left:7px;}
.links li a{color:#ffc600; text-decoration: none;}
.links li a:hover{color:#ffc600; text-decoration: underline;}
/*.links li:before {
  content: '\8226';
  position: absolute;
  right: 100%;
}

.linksli {
  position: relative;
}*/

.footerlinks {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
color: #FFFFFF;
text-align: center;
}

.copyright {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #FFFFFF;
text-align: center;
margin-top: 10px;
}
#biller{ text-align:center; color:#FFFFFF;}
#biller a{ text-decoration:underline; color:#FFFFFF;}
#biller a:hover{ text-decoration:none; color:#FFFFFF;}
/*Inner: 1157 x 692
Outer: 1173 x 805*/