@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.eot?k7dyo5');
	src:url('fonts/icomoon/icomoon.eot?#iefixk7dyo5') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff?k7dyo5') format('woff'),
		url('fonts/icomoon/icomoon.ttf?k7dyo5') format('truetype'),
		url('fonts/icomoon/icomoon.svg?k7dyo5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-warning:before {
	content: "\f02d";
}
.icon-mobile:before {
	content: "\e958";
}
.icon-spinner:before {
	content: "\e97a";
}
.icon-facebook:before {
	content: "\ea8d";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-spin {
	-webkit-animation:icon-spin 2s infinite linear;
	animation:icon-spin 2s infinite linear
}
@-webkit-keyframes icon-spin {
	0% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg)
	} 100% {
		-webkit-transform:rotate(359deg);
		transform:rotate(359deg)
	}
}
@keyframes icon-spin {
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg)
	} 100% {
		-webkit-transform:rotate(359deg);
		transform:rotate(359deg)
	}
}
