#nespresso-club {
  background: #000000 url("//www.nespresso.com/shared_res/mos/free_html/int/_blocks/nespresso-club/images/nespressoclub-bg.png") top left repeat-x;
  color: #ffffff;
  margin: 0 auto;
  height: 149px;
  width: 996px;
}
#nespresso-club .baseline-club {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 48px;
}
#nespresso-club .moar {
  display: block;
  margin: 0;
  padding: 16px 20px 0 0;
  text-align: right;
  height: 26px;
  width: 170px;
  float: right;
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
}
#nespresso-club .moar .orange {
  color: #cc9d49;
}
#nespresso-club .moar a {
  color: #ffffff;
}
#nespresso-club .moar a:hover {
  color: #cc9d49;
}
#nespresso-club .moar a:active {
  color: #E2BE7E;
}
#nespresso-club .fifth {
  border-right: 1px solid #1d2224;
  margin-top: 1px;
  float: left;
  height: 100px;
  width: 198px;
}
#nespresso-club .fifth.last {
  border-right: none;
}
#nespresso-club .fifth .icon {
  margin: 20px 0 0 20px;
  position: relative;
  height: 54px;
  width: 54px;
}
#nespresso-club .fifth .icon.heart span {
  color: #d2b1ae;
}
#nespresso-club .fifth .icon.gift span {
  color: #8ed7c7;
}
#nespresso-club .fifth .icon.box span {
  color: #c88c48;
}
#nespresso-club .fifth .icon.bag span {
  color: #e4c286;
}
#nespresso-club .fifth .icon.lock span {
  color: #f6e054;
}
#nespresso-club .fifth .icon p {
  position: absolute;
  left: 65px;
  top: 0;
  width: 110px;
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}