@font-face {
    font-family: 'noto_serifregular';
    src: url('fonts/noto-serif-webfont.eot');
    src: url('fonts/noto-serif-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/noto-serif-webfont.woff2') format('woff2'),
         url('fonts/noto-serif-webfont.woff') format('woff'),
         url('fonts/noto-serif-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('fonts/helveticaneuecyr-medium-webfont.eot');
    src: url('fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
body {
	line-height: 1;
	background:#fff;
	text-align: left;
	font: 1em plumbregular; /* используем безопасные шрифтовые CSS стеки */
	color:#333;
}

img{
	max-width:100%;
}
.clr, .clearing{
	clear:both;
}
.clearfix:before, .clearfix:after {
content: "";
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
zoom: 1; /* ie 6/7 */
}
.ali-center{
	text-align:center;
}
.ali-center img{
	margin:0 10px;
}
/*		SLIDER		*/

.box {
	width: 100%; 
	height: 100%;
}
.slider {
	position: relative;
	height: 450px;
	margin-bottom:30px;
	overflow: hidden;
	width:240px;
}
	.slides {
		height: 100%;
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
		list-style:none;

		-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		    -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		     -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		        transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	}
	
		.slide {
			height: 100%;
			float: left;
			clear: none;
			text-align:center;
		}
		.slide h2{
			font-size:1em; color:#1f3f4c; font-family:noto_serifregular; font-weight:normal;
		}
		.slide img{
			max-width:100%;
		}


	.slider-arrows {}

		.slider-arrow {
			position: absolute;
			display: block;
			width:35px;
			height:35px;
			text-indent:9999px;
		}

			.slider-arrow--right { bottom: 40%; right: 10px; background:url(images/slide-nav.png) no-repeat 0 -35px; }
			.slider-arrow--left { bottom: 40%; left: 10px; background:url(images/slide-nav.png) no-repeat 0 0; }


	.slider-nav {
		display:none;
	}

		.slider-nav__item {
			width: 8px;
			height: 8px;
			float: left;
			clear: none;
			display: block;
			margin: 0 5px;
			background: #d5d5d5;
			border-radius:50%;
		}

				.slider-nav__item:hover { background: #257092; }
				.slider-nav__item--current { background: #257092; }
/*		endSLIDER		*/				
.more-slide{
	background:#fd5353;
	border-radius:5px;
	border:1px solid #e0e0e0;
	color:#fff;
	font-size:1.125em;
	font-family:helveticaneuecyrmedium;
	width: 208px;
	display:block;
	margin:0 auto;
	padding:7px 0;
	text-decoration:none;
}
a:hover.more-slide{
	color:#fff; text-decoration: underline;
}
a:visited.more-slide{
	color:#fff;
}