/* global :: body */
body {
	font-family: Lucida Fax!important;
}

/* header */
.header {
	background-image:url('/images/bg_header.png');
	background-repeat:repeat-x;
}
.header-small {
	background-image:url('/images/bg_header_small.png');
	background-repeat:repeat-x;
}

/* middle */
.middle {
	
}

/* footer */
.footer {
	background-image:url('/images/bg_footer.png');
	background-repeat:repeat-x;
}
.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

#footer-table tr td{
    width: 800px;
    height: 89px;
    background-image: url(http://cdn.adfoc.us/images/footer.png);
    text-align: center;
}
.table {
  width: 100%;
}
th {
  text-align: left;
}
/* button :: links */
a.button-links:link {
	text-decoration: none;
}
a.button-links:visited {
	text-decoration: none;
}
a.button-links:active {
	text-decoration: none;
}
a.button-links:hover {
	text-decoration: none;
	border-bottom:0px dotted;
}

/* global :: links */
a:link {
	color: #136ab9;
	text-decoration: none;
}
a:visited {
	color: #136ab9;
	text-decoration: none;
}
a:active {
	color: #136ab9;
	text-decoration: none;
}
a:hover {
	color: #136ab9;
	border-bottom:1px dotted;
}

/* header :: links */
span.header-links {
    padding-left: 45px;
}
/* header :: links */
.user{
    font-size: 12px;
}

.nav{
    width: 100%;
    height: 37px;
    text-align: center;
}

.navbar{
    width: 800px;
    height: 85px;
    text-align: center;
}
.user span.header-links {
    padding-left: 15px;
}
a.header-links:link {
	color: #000000;
	text-decoration: none;
}
a.header-links:visited {
	color: #000000;
	text-decoration: none;
}
a.header-links:active {
	color: #000000;
	text-decoration: none;
}
a.header-links:hover {
	color: #000000;
	border-bottom:1px dotted;
}

/* footer :: links */
a.footer-links:link {
	color: #2c4963;
	text-decoration: none;
}
a.footer-links:visited {
	color: #2c4963;
	text-decoration: none;
}
a.footer-links:active {
	color: #2c4963;
	text-decoration: none;
}
a.footer-links:hover {
	color: #2c4963;
	border-bottom:1px dotted;
}

/* footer :: top */
.footer-top {
	font-family: Georgia;
	font-size: 16px;
	color: #383838;
}

/* footer :: bot */
.footer-bot {
	font-family: Georgia;
	font-size: 12px;
	color: #383838;
}

/* message format */
.error-message {
  color: #c40c0c; 
  font-size: 15px; 
  font-style: italic; 
  padding-top: 6px;
}

.error{
    color: #c40c0c;
    font-size: 15px;
    font-style: italic;
    padding-top: 6px;
}

.success-message{
    color: #464646;
    font-size: 16px;
    font-style: italic;
}

.info-message{
    color: #464646;
    font-size: 14px;
    font-style: italic;
}

.errors{
    color: red;
}

.message{
    text-align:center;
    width: 100%;
    margin:0 auto;
    font-family: Arial;
}

.success{
    color: green;
    font-size: 16px;
    font-style: italic;
}


/* panel and content*/
.info-panel {
  -moz-border-radius: 15px; 
  border-radius: 15px; 
  background-color: #e0ebf6; 
  padding: 15px; 
  behavior: url(http://cdn.adfoc.us/css/pie.htc);
  /*text-align: center;*/
}

.content{
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #f7f7f7;
    padding: 15px;
    behavior: url(http://cdn.adfoc.us/css/pie.htc);
}

.content-referral{
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #f7f7f7;
    padding: 5px;
    behavior: url(http://cdn.adfoc.us/css/pie.htc);
    font-size: 18px;
    text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}

th:active {
	outline: none;
}

/* Style table */
.empty-table{
    padding: 15px;
    font-style: italic;
    border-bottom: 1px dashed #5a5a5a;
}

.table-style{
    border-collapse: collapse;
}

td div span a{
    font-size: 12px;
}

.header-table{
    font-size: 20px;
}

td .col{
    border-bottom: 1px dashed #5a5a5a;
}

td .col-detail{
    border-bottom: 1px dashed #5a5a5a;
    font-size: 12px;
    padding-left: 15px;
}
td .col-mylinks{
    font-size: 15px;
    font-weight: bold;
    border-top: 1px dashed #5a5a5a;
}

td .col-total{
    font-size: 16px;
    border-top: 1px dashed #5a5a5a;
}

td .col-earnings{
    border-top: 1px dashed #5a5a5a;
    font-size: 11px;
    text-align: left;
}

td .links_social{
    font-size: 14px;
    padding-left: 75px;
}

#user-links-new{
    padding: 5px;
}

#campaign-list{
    padding: 5px;
}

#payments-list{
    padding: 5px;
}

#referrals-list{
    padding: 5px;
}

#country-list{
    border-collapse: collapse;
}

/*
 align style
*/

#left-text{
    text-align: left;
}

#right-text{
    text-align: right;
}

#center-text{
    text-align: center;
}

#bold{
    font-weight: bold;
}


/*
    helps controller
*/

.helps-text{
    font-size:12px;
    font-family: Arial;
}

.note{
    font-size: 13px;
}

.separator{
    width: 800px; 
    height: 32px;
    background-image: url(http://cdn.adfoc.us/images/header_bot_small.png);
    text-align: center;
    vertical-align: top;
}


/*
    SHIRK FORM
*/
.shirk{
    width: 800px;
    height: 215px;
    background-image: url(http://cdn.adfoc.us/images/header_bot.png);
    text-align: center;
    vertical-align: top;
    padding-top: 38px;
}

.shirk-col{
    width: 411px;
    height: 52px;
    background-image: url(http://cdn.adfoc.us/images/url_box.png);
    background-repeat: no-repeat;
}

.shirk-col input{
    padding: 5px;
    vertical-align: middle;
    height: 52px;
    width: 390px;
    border: 0px;
    padding-left: 18px;
    padding-right: 0px;
    margin: 0px;
    background-color: transparent;
    font-size: 21px;
    font-family: Georgia;
}

.shirk-button{
    text-align: left;
    padding-left: 22px;
}

#shirk-result{
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    padding-top: 8px;
}

.shirk div em{
    font-size: 18px;
    color: #3e3e3e;
}
.shirk-url-short{
    font-size: 11px;
    padding-left: 15px;
}
.shirk-url-short a{
    color: black;
    text-decoration: underline;
}

/*
    MENU TITLE
*/
.title{
    font-size:17px;
    font-weight: bold;
}

.title-advertise{
    font-size:16px;
}

.space-image{
    margin-top: 5px;
    margin-bottom: 12px;
}

.intro{
    font-size: 15px;
    color: #3e3e3e;
    line-height: 20px;
}

.intro em a img{
    vertical-align: middle;
}

.intro span em{
    font-size: 15px;
}

.intro span{
    font-size: 18px;
}

.intro .notice{
    font-size: 12px;
}


.intro .content-tools{
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #f7f7f7;
    padding: 5px;
    padding-left: 15px;
    behavior: url(http://cdn.adfoc.us/css/pie.htc);
    font-size: 13px;
}

.intro .content-links{
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #f7f7f7;
    padding: 5px;
    padding-left: 20px;
    padding-top: 5px;
    behavior: url(http://cdn.adfoc.us/css/pie.htc);
}

.balance{
    color: #c40c0c;
}

.intro .center{
    text-align: center;
}


/*
        PADDING
*/
.padding-empty-col{
    padding-left: 20px;
}

.padding-empty-col-content{
    padding-top: 30px;
}

.padding-empty-col-td{
    padding-top: 15px;
}
.padding-empty-col-tr-td{
    padding-top: 0px;
}

.padding-global{
    padding: 5px;
}
.padding-account{
    padding: 10px;
}

.padding-fancybox{
    padding: 15px;
}
/*
    FAQ PAGE
*/
.terms{
    padding-left: 10px;
    font-size: 13px;
}

.form-login{
    font-size: 14px;
    margin-top: 10px;
}

#italic{
    font-style: italic;
}

.referral{
    font-size: 11px;
}


.links{
    text-align: center;
    font-size: 14px;
}

/*
    Amchart
*/
#chart-convas{
    width: 850px;
    height: 300px;
}

#chart-container{
    width: 770px;
    height: 300px;
}

.iframe-style{
    border:none;
    overflow:hidden;
    width:292px;
    height:62px;
}

.join{
    font-size: 16px;
}

#my-table table th {
    border-bottom: 1px dashed #5a5a5a;
    font-weight: bold;
    text-align: left;
}

.fade {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
      -ms-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
      -ms-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

.collapse.in {
  height: auto;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.nav {
  margin-bottom: 18px;
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > .pull-right {
  float: right;
}

.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 9px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > a {
  padding: 3px 15px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

.nav-list [class^="icon-"] {
  margin-right: 2px;
}

.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 8px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.nav-tabs,
.nav-pills {
  *zoom: 1;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  content: "";
}

.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li > a {
  margin-right: 0;
}

.nav-tabs.nav-stacked {
  border-bottom: 0;
}

.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.nav-tabs.nav-stacked > li > a:hover {
  z-index: 2;
  border-color: #ddd;
}

.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}

.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}

.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
}

.nav-pills .dropdown-menu {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
}

.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #005580;
  border-bottom-color: #005580;
}

.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}

.nav > .dropdown.active > a:hover {
  color: #000000;
  cursor: pointer;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}

.tabs-stacked .open > a:hover {
  border-color: #999999;
}

.tabbable {
  *zoom: 1;
}

.tabbable:before,
.tabbable:after {
  display: table;
  content: "";
}

.tabbable:after {
  clear: both;
}

.tab-content {
  overflow: hidden;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.details-campaign{
    background-color: #ffffff;
    font-size: 13px;
}

table.display td {
    font-size: 15px;
}

table.display td em span{
    font-size: 13px;
}
#headerTable {
    width: 880px;
}

.icon-pdf{
    width: 24px;
}
.icon {
  width: 20px;
}


