/* IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
This set of fonts are used in this project under the license: BSPBT */
body,div,h1,h2,h3,h4,h5,h6,p,ul,img,fieldset,li,form,iframe{max-height:999999px;border:0;margin:0;padding:0}
body,html{font:13px IRANSans;direction:rtl;width:100%;color:#595959;background:url(/img/kp2/bck/body.jpg) right top repeat;overflow-x:hidden}
a{text-decoration:none;color:#333333}
a:visited{color:#939}
a:hover{color:#302226}
ul li a:visited{color:#939}
h1{font-size:100%;font-weight:normal;}
.header-bar{font-size:300%;height:50px;padding:5px 0px 5px 0px;font-weight:bold;color:#000;width:100%;text-align:center;background-color:#FFFFB2;border-bottom:1px solid #bfbfbf;}
.header-bar img{width:45px;height:45px;}
#header{background:url(/img/kp3/header_bck.png) right top repeat;width:100%;
height:134px;text-align:center;}
.h-col1{width:59%;float:right;text-align:right;margin-right:6%;}
.h-col1-kp3{width:59%;float:right;text-align:right;margin-right:6%;}
.h-col2{float:left;margin-left:6%;text-align:left;width:29%;}
.h-col2 img{border-radius:4px;border:1px solid #fff;margin-top:10px;}
.h-col2 a{color:#fff;}
.box{width:100%;text-align:center;float:right;background-color:#D6EBFF;border:1px solid #9D9D9D;display:block;margin-bottom:2%;padding-bottom:5px}
.box-feed{float:left}
.box-hcat{width:97%;text-align:right;float:right;display:block;border:1px solid #666666;margin:20px 2px 0 0;padding:0 0 5px;background-color:#fff;}
.box-head-hcat{width:100%;background-color:#fff;display:block;border-bottom:2px dotted #D2D3D3;background-color:#fff;}
.box-head-hcat_kp2{color:#3c8dbc;font-size:130%;width:100%;display:block;text-align:center;padding:5px 0px 5px 0px;background-color:#f7f8fa;}
.box-head-hcat_kp2 a{color:#3c8dbc;}
.box-head img{border:0;border-radius:15px 15px 0 0}
.box-head{font-size:15px;text-align:center;width:100%;background-color:#5CB8E6;display:block;border-bottom:1px dotted #9D9D9D;padding:10px 0px 10px 0;margin-bottom:5px;}
.box-head a{color:#4D4D4D;font-size:17px;font-weight:bold;}
.box-news-right{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:85%;height:19px;margin-top:5px;float:right;direction:rtl;margin-right:5px}
.box-news-right:hover{background-color:#E6E6E6}
.radius{border-radius:5px}
.box-content-padding{padding:10px 10px 10px 0}
.clear{clear:both}
#right{float:left;width:300px;height:100%;margin-left:1%;}
.rbox{width:100%;background-color:#fff;
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
box-shadow:1px 2px 3px rgba(0,0,0,0.12);
-moz-box-shadow:1px 2px 3px rgba(0,0,0,0.12);
-webkit-box-shadow:1px 2px 3px rgba(0,0,0,0.12);
display:block;margin:0px 0 15px;padding-bottom:5px;text-align:right;}
.rbox-h{color:#808080;width:100%;text-align:center;
background-color:#f7f8fa;box-shadow:0 1px 2px rgba(0,0,0,.12);	
display:block;padding:5px 0px 1px 0px;margin-bottom:5px;font-size:15px;}
.rbox-h a{color:#808080;}
.rbox li{width:97%;font-size:110%}
.rbox ul{list-style-position:inside;color:#ccc;padding:10px 10px 10px 0px;}
.rbox ul:hover{background-color:#f2f2f2;}
#center{float:right;
width:51%;
width:-webkit-calc(96% - 455px);
width:-moz-calc(96% - 455px);
width:calc(96% - 455px);
height:100%;
margin:2% 1% 1% 0px;}
#center_home{float:right;
width:74%;
width:-webkit-calc(88% - 120px);
width:-moz-calc(88% - 120px);
width:calc(88% - 120px);
height:100%;
margin-right:6%;}
#center_kp2{float:right;
width:40%;
width:-webkit-calc(86% - 420px);
width:-moz-calc(86% - 420px);
width:calc(86% - 420px);
height:100%;
margin-right:6%;}
#left{float:left;width:120px;height:100%;margin-left:6%;text-align:center;}
.lbox{width:100%;display:block;margin:0px;text-align:center;}
.lbox-h{font-size:115%;width:100%;color:#808080;text-align:center;background-color:#ccc;display:block;padding:5px 0px 5px 0px;margin-bottom:5px;}
.lbox-h a{color:#808080;}
.txtads-whitebck{padding:5px;background-color:#fff;text-align:right;margin:5px 0px 5px 0px;}
.txtads-whitebck:hover{background-color:#f2f2f2;}
#footer{width:100%;font-size:11px;float:right;color:#FFF;background-color:#3B3D3E;border:0 solid;display:block;padding:10px 0px 10px 0px;margin-top:20px;text-align:center;}
#footer a{color:#FFF;}
#align-r{text-align:right}
#box-padding{margin:20px 6px 20px 0;padding:0 0 10px}
#box-content-padding{padding:10px 10px 10px 0}
img.roll{border:1px solid #d9d9d9;margin:5px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;box-shadow:1px 2px 3px rgba(0,0,0,0.12);}
img.radius{box-shadow:0 0 1px #000;margin:5px 5px 0}
ul li.radius{border-radius:0px;}
h2,h3,h4,h5,h6{font-size:130%;font-weight:normal;}
.box-other{width:100%;font-size:120%;text-align:center;display:block;padding:15px 0px 5px 0px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
#align-cnt{text-align:center}
#nav{cursor:pointer;
height:38px;
background:#f7f8fa;
width:90%;
padding:0px 6% 0px 4%;
border-top: 1px solid #e3e4e5;
border-bottom: 1px solid #e3e4e5;
box-shadow: 0 1px 2px rgba(0,0,0,.12);}
#nav ul li ul{Position:absolute;display:none;background:#f7f8fa;top:38px;width:170px;border-right:1px solid #cccccc;border-left:1px solid #cccccc;border-bottom:1px solid #cccccc;}
#nav ul li ul li{float:none;}
#nav a{color:#4d4d4d;}
#nav li:hover ul{display:block;}
#nav li:hover{background-color:#fff;}
#nav ul li{float:right;list-style:none;Position:relative;color:#4d4d4d;}
@media only screen and (min-device-width:1025px){
#nav{font-size:105%;height:41px;}
#nav ul li ul{top:41px;}
#nav ul li{padding:9px 8px 8px 8px;}}
@media only screen and (max-device-width:1024px){
#nav{font-size:95%;}
#nav ul li{padding:9px 5px 8px 5px;}}
.hr-menu{font-family:IRANSans;padding:5px 6% 0px 6%;width:88%;color:#404040;}
.hr-menu img{height:20px;}
.hr-menu ul li{float:right;list-style:none;padding-right:10px;}
.hr-menu a{color:#404040;}
.hr-menu a:hover{color:#00f;}
.stitle{padding:9px 0px 8px 1%;width:13%;float:right;text-align:right;color:#666666;font-size:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ntime{padding:9px 0px 8px 1%;width:12%;float:left;text-align:right;color:#666666;font-size:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.nnews{padding:9px 0px 8px 2%;width:70%;float:right;text-align:right;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.z-newnews{height:36px;text-align:right;float:right;width:100%;font-size:110%;}
.z-newnews:hover{background-color:#f2f2f2;color:#006600;}
.z-newnews ul{list-style-position:inside;padding-right:2%;color:#cccccc;}
.z-newnews .ntime{color:#008000;}
.z-nnews{padding:9px 0px 8px 2%;width:70%;float:right;text-align:right;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.z-stitle{padding:9px 0px 8px 1%;width:13%;float:right;text-align:right;color:#737373;font-size:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.z-ntime{padding:9px 0px 8px 1%;width:12%;float:left;text-align:right;color:#898989;font-size:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.z-onews{height:36px;text-align:right;background-color:#fff;float:right;width:100%;font-size:110%;}
.z-onews:hover{background-color:#f2f2f2;color:#000;}
.z-onews ul{list-style-position:inside;color:#cccccc;padding-right:2%;}
.z-nownews{color:#006600;}
.stitle-en{padding:9px 1% 8px 0px;width:13%;float:left;direction:ltr;text-align:left;color:#666666;font-size:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ntime-en{padding:9px 2% 8px 0px;width:11%;float:right;text-align:right;color:#666666;font-size:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.nnews-en{padding:9px 2% 8px 2%;width:69%;float:left;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;direction:ltr;}
.z-newnews-en{height:36px;text-align:left;float:right;width:100%;}
.z-newnews-en:hover{background-color:#f2f2f2;color:#006600;}
.z-newnews-en ul{list-style-position:inside;padding-right:2%;color:#cccccc;}
.z-newnews-en .ntime-en{color:#008000;}
.z-stitle-en{padding:9px 1% 8px 0px;width:13%;float:left;text-align:left;color:#666666;font-size:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.z-ntime-en{padding:9px 1% 8px 0px;width:12%;float:right;text-align:right;color:#666666;font-size:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.z-nnews-en{padding:9px 2% 8px 1%;width:70%;float:left;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;direction:ltr;}
.z-onews-en{height:36px;text-align:left;background-color:#fff;float:right;width:100%;}
.z-onews-en:hover{background-color:#f2f2f2;color:#000;}
.z-onews-en ul{list-style-position:inside;color:#828282;padding-right:2%;color:#cccccc;}
.z-nownews-en{color:#006600;}
.z-lpnews{color:#1473db;}
.z-onews_most{height:36px;text-align:right;background-color:#fff;float:right;width:100%;font-size:110%;}
.z-onews_most:hover{background-color:#f2f2f2;color:#000;}
.z-onews_most ul{list-style-position:inside;color:#cccccc;padding-right:2%;}
.nnews_most{padding:9px 0px 8px 3%;width:80%;float:right;text-align:right;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.stitle_most{padding:9px 0px 8px 0px;width:15%;float:right;text-align:right;color:#666666;font-size:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.nnews-wide{padding:9px 0px 8px 0px;width:99%;float:right;text-align:right;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.onews-wide{height:25px;text-align:right;background-color:#fff;border:1px solid #fff;}
.onews-wide ul{list-style-position:inside;color:#828282;padding-right:2%;}
.box-home{width:49%;
text-align:right;
float:right;
background-color:#fff;
display:block;
margin:0px 0px 10px 1%;
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
box-shadow:1px 2px 3px rgba(0,0,0,0.12);
-moz-box-shadow:1px 2px 3px rgba(0,0,0,0.12);
-webkit-box-shadow:1px 2px 3px rgba(0,0,0,0.12);}
.box-home_wide{width:99%;text-align:right;float:right;background-color:#fff;display:block;margin:0px 0px 10px 1%;border-radius:4px;box-shadow: 1px 2px 3px rgba(0,0,0,0.12);}
.special-box{width:88%;margin:10px 6% 0px 6%;height:390px;border-radius:4px;background-color:#fff;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
.special-box-right{float:right;width:46%;direction:rtl;float:right;}
.special-box-right_int{float:right;width:170px;direction:rtl;float:right;}
.special-box-left{float:right;width:54%;direction:rtl;float:right;}
.special-box-left_int{float:right;width:84%;width:-webkit-calc(100% - 170px);width:-moz-calc(100% - 170px);width:calc(100% - 170px);direction:rtl;float:right;}
.top-newsbox1{font-size:110%;border-top-right-radius:4px;border-bottom-right-radius:4px;width:145px;direction:ltr;background-color:#fff;height:390px;float:right;overflow-y:hidden;}
.top-newsbox1_int{font-size:110%;border-top-right-radius:4px;border-bottom-right-radius:4px;width:100%;direction:ltr;background-color:#fff;height:390px;float:right;overflow-y:hidden;}
.top-newsbox1 li{color:#cccccc;height:29px;overflow:hidden;white-space:nowrap;width:96%;text-overflow:ellipsis;margin-top:7px;}
.top-newsbox1 ul{list-style-position:none;padding-right:10px;}
.top-newsbox1 ul a{color:#333333;}
.top-newsbox1 ul a:hover{color:#0000ff;}
.top-newsbox1 ul a:visited{color:#939}
.top-newsbox1_int li{color:#cccccc;height:29px;overflow:hidden;white-space:nowrap;width:98%;text-overflow:ellipsis;margin-top:7px;}
.top-newsbox1_int ul{list-style-position:none;padding-right:10px;}
.top-newsbox1_int ul a{color:#333333;}
.top-newsbox1_int ul a:hover{color:#0000ff;}
.top-newsbox1_int ul a:visited{color:#939}
.top-newsbox2{font-size:110%;width:70%;
width:-webkit-calc(100% - 145px);
width:-moz-calc(100% - 145px);
width:calc(100% - 145px);
direction:ltr;background-color:#fff;height:390px;float:right;overflow:hidden;}
.top-newsbox2 li{color:#cccccc;height:25px;overflow:hidden;white-space:nowrap;width:100%;text-overflow:ellipsis;margin-top:5px;}
.top-newsbox2 ul{list-style-position:inside;padding-right:5px;}
.top-newsbox2 ul a{color:#333333;}
.top-newsbox2 ul a:hover{color:#0000ff;}
.top-newsbox2 ul a:visited{color:#939}
.top-newsbox2_int{font-size:110%;border-top-left-radius:4px;
border-bottom-left-radius:4px;
width:50%;
direction:ltr;background-color:#fff;height:390px;float:right;overflow:hidden;}
.top-newsbox2_int li{color:#cccccc;height:25px;overflow:hidden;white-space:nowrap;width:97%;text-overflow:ellipsis;margin-top:5px;}
.top-newsbox2_int ul{list-style-position:inside;padding-right:5px;}
.top-newsbox2_int ul a{color:#333333;}
.top-newsbox2_int ul a:hover{color:#0000ff;}
.top-newsbox2_int ul a:visited{color:#939}
.slider{width:100%;text-align:right;float:right;}
.slider-item{width:29%;height:195px;float:right;}
.slider-item:hover{background-color:#f2f2f2;color:#000;}
.slider-img{text-align:center;margin-top:5%;}
.slider-img img{height:100px;width:175px;max-width:90%;}
.slider-text{overflow:hidden;height:45px;padding:5px;line-height:25px;}
.slider-arrow{float:right;text-align:center;width:12%;margin-top:90px;font-size:300%;}
.slider-arrow a{color:#cccccc;}
.vid ul li{background-color:#E6E6B8;height:210px;width:31%;float:right;padding:10px 5px 10px 5px;display:inline;border:1px solid #454537;border-radius:15px;text-align:center;}
.vid ul li div{overflow:hidden;width:100%;height:31px;color:#0000FF;}
a.hoverable:hover{color:#FF0000}
.hr-line{height:60px;border-left:3px dotted #4D4D4D;float:right;margin-right:5px;}
.logo{float:right;margin:5px;}
.boxint-kp2{width:100%;text-align:right;float:right;
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
box-shadow:1px 2px 3px rgba(0,0,0,0.12);
-moz-box-shadow:1px 2px 3px rgba(0,0,0,0.12);
-webkit-box-shadow:1px 2px 3px rgba(0,0,0,0.12);
background-color:#fff;display:block;margin-bottom:2%;}
.boxhead-kp2{width:100%;height:80px;background-color:#FFFFCC;display:block;border-bottom:1px dotted #666666;}
.boxhead-sitename{float:right;padding:5px 18px 0;width:40%;}
.boxhead-sitename a{color:#333333;}
.boxhead-sitelogo{float:left;}
.boxhead-item{float:left;padding:2px 5px 0;border-right:1px dotted #666666;}
.boxhead-item-content{float:left;padding:2px 10px 5px 10px;}
.redcolor a{color:#ff0000}
.greencolor a{color:#006600}
.bluecolor a{color:#1a1aff}
.right{direction:rtl;text-align:right;}
.search{float:left;margin:5px 0 0 5px;text-align:left;}
.rightfloat{float:right;}
.leftfloat{float:left;}
.box-page{width:100%;text-align:center;float:right;background-color:#D6EBFF;
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
box-shadow:1px 2px 3px rgba(0,0,0,0.12);
-moz-box-shadow:1px 2px 3px rgba(0,0,0,0.12);
-webkit-box-shadow:1px 2px 3px rgba(0,0,0,0.12);
display:block;margin-bottom:2%;padding-bottom:5px}
.box-head-page{font-size:15px;text-align:center;width:100%;display:block;border-bottom:1px dotted #9D9D9D;padding:5px 0px 5px 0;margin-bottom:5px;
background-color: #008CBA;}
.box-head-page a{color:#fff;font-size:16px;font-weight:bold;}
.red{color:#ff0000;}
.yellow {color:#ffff00;}
.sefid{color:#fff;}
.blue{color:#1a1aff;}
.orange{color:#FF9900;font-weight:bold;}
.share-new{color:#fff;width:100%;bottom:0px;position:fixed;text-align:right;background-color:#3B3D3E;padding:2px 5px 0px 5px;border-top:1px solid #999999;}
.rightfloat1{float:right;margin:5px 50px 0px 0px;}
.rightfloat2{float:right;margin-top:8px}
.share-box{border-left:2px dotted #fff;float:right;padding:0px 5px 0px 5px;}
.home-box_head{color:#3c8dbc;width:100%;font-size:130%;display:block;text-align:center;padding:5px 0px 5px 0px;
border-radius:4px 4px 0px 0px;
background-color:#f7f8fa;}
.home-box_head a{color:#3c8dbc;}
.niazpu{border:1px solid #d9d9d9;
margin:5px 0px 5px 5px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
box-shadow: 1px 2px 3px rgba(0,0,0,0.12);}
.box-vije_logo{width:100%;background-color:#E6F4FC;
height:88px;text-align:right;float:right;border-top:1px solid #808080;border-bottom:1px solid #808080;display:block;margin:20px 0px 0px 0px;overflow-x:auto;overflow-y:hidden;}
fieldset{width:1850px;}
.center{text-align:center;}
.blue_btn a{color:#fff;}
.blue_btn{background-color: #009acc;	
display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;*vertical-align:middle;
cursor:pointer;
color:#fff;
font-size:14px;
padding:1px 20px;
text-decoration:none;
margin-bottom:3px;
margin-top:3px;}
.banner{border:1px solid #ccc}
.padding{padding:10px;}
.niazpu_box{float:right}
.backtotop::after{transition:all 0.3s ease 0s;
content:" ";
border-top:3px solid #404040;
border-right:3px solid #404040;
display:block;
position:absolute;
width:11px;
height:11px;
right:50%;
right:-webkit-calc(50% - 6px);
right:-moz-calc(50% - 6px);
right:calc(50% - 6px);
top:-3px;
transform:rotate(-45deg);
box-sizing:border-box;}
.backtotop {display:none;
position:fixed;
cursor:pointer;
right:6px;
bottom:35px;
z-index:2000;
opacity:0.8;
border:21px solid #b3e6ff;
border-radius:21px;}
iframe{border:0;margin-top:5px;overflow:hidden;}
.news_button1{
background-color:#fff;font-size:115%;font-weight:normal;
width:46%;
width:-webkit-calc(46% - 1px);
width:-moz-calc(46% - 1px);
width:calc(46% - 1px);
cursor:pointer;padding:5px 2% 5px 2%;margin:1px 0px 0px 1px;text-align:center;float:right;}
.news_button2{background-color:#f7f8fa;font-size:115%;font-weight:normal;width:46%;cursor:pointer;padding:5px 2% 5px 2%;margin-top:1px;text-align:center;float:right;}
.news_button1 img{float:left;margin-right:20px;width:32px;}
.news_button2 img{float:left;margin-right:20px;width:32px;}
.news_button1:hover{background:#f2f2f2;}
.news_button2:hover{background:#f2f2f2;}
.news_tab_blue_3item{background-color:#fff;
font-weight:normal;width:33.333%;cursor:pointer;padding:5px 0px 5px 0px;margin:1px 0px 0px 0px;text-align:center;float:right;}
.news_tab_blue_3item:hover{background:#f2f2f2;}
.news_tab_black_3item{background-color:#f7f8fa;
font-weight:normal;width:33.333%;cursor:pointer;padding:5px 0px 5px 0px;margin:1px 0px 0px 0px;text-align:center;float:right;}
.news_tab_black_3item:hover{background:#f2f2f2;}
.news_tab_blue_4item{background-color:#fff;
font-weight:normal;width:25%;cursor:pointer;padding:5px 0px 5px 0px;margin:1px 0px 0px 0px;text-align:center;float:right;}
.news_tab_blue_4item:hover{background:#f2f2f2;}
.news_tab_black_4item{background-color:#f7f8fa;font-weight:normal;width:25%;cursor:pointer;padding:5px 0px 5px 0px;margin:1px 0px 0px 0px;text-align:center;float:right;}
.news_tab_black_4item:hover{background:#f2f2f2;}
.news_tab_blue_2item{background-color:#fff;
font-weight:normal;width:50%;cursor:pointer;padding:5px 0px 5px 0px;margin:1px 0px 0px 0px;text-align:center;float:right;}
.news_tab_blue_2item:hover{background:#f2f2f2;}
.news_tab_black_2item{background-color:#f7f8fa;font-weight:normal;width:50%;cursor:pointer;padding:5px 0px 5px 0px;margin:1px 0px 0px 0px;text-align:center;float:right;}
.news_tab_black_2item:hover{background:#f2f2f2;}
.pu_container-outer{float:right;
width:40%;
padding:5px 1% 5px 1%;
margin-right:6%;
overflow-x:auto;
overflow-y:hidden;
height:100%;
background-color:#fff;
border-bottom:1px solid #fff;
border-right:1px solid #fff;
border-left:1px solid #fff;	
box-shadow: 1px 2px 3px rgba(0,0,0,0.12);}
.niazpu_container-outer{float:left;
width:42%;
padding:5px 1% 5px 1%;
margin-left:6%;
overflow-x:auto;
overflow-y:hidden;
height:100%;
background-color:#fff;
border-bottom:1px solid #fff;
border-right:1px solid #fff;
border-left:1px solid #fff;	
box-shadow: 1px 2px 3px rgba(0,0,0,0.12);}
.pu_container-inner{width:750px;}
.niazpu_container-inner{width:1100px;}
.pu_titlebar{float:right;
width:42%;
margin-right:6%;
text-align:center;
color:#808080;
background-color:#f7f8fa;
box-shadow:0 1px 2px rgba(0,0,0,.12);
display:block;
padding:3px 0px 3px 0px;
font-size:120%;
border-top:1px solid #f2f2f2;
border-right:1px solid #f2f2f2;
border-left:1px solid #f2f2f2;	
border-radius:5px 5px 0 0;}
.niazpu_titlebar{float:left;
width:44%;
margin-left:6%;
text-align:center;
color:#808080;	
background-color:#f7f8fa;
box-shadow:0 1px 2px rgba(0,0,0,.12);
display:block;
padding:3px 0px 3px 0px;
font-size:120%;
border-top:1px solid #f2f2f2;
border-right:1px solid #f2f2f2;
border-left:1px solid #f2f2f2;		
border-radius:5px 5px 0 0;}
@font-face{font-family:IRANSans;font-style:normal;font-weight:300;
src: url('/css/fonts/eot/IRANSansWeb_Light.eot');
src: url('/css/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
url('/css/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
url('/css/fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('/css/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');}
.top_ads{margin-right:6%;text-align:center;}
.search_btn{
border-top:1px solid #fff;
border-bottom:1px solid #fff;
border-right:1px solid #fff;
border-left:none;
-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
box-shadow:inset 0px 1px 0px 0px #bbdaf7;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
background-color:#79bbff;text-align:center;margin:0px;color:#fff;font-family:IRANSans;cursor:pointer;padding:3px 1% 3px 1%;height:35px;
border-radius:0px 4px 4px 0px;
-webkit-border-radius:0px 4px 4px 0px;
-moz-border-radius:0px 4px 4px 0px;}
.search_btn:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
background-color:#378de5;
border-radius:0px 4px 4px 0px;
-webkit-border-radius:0px 4px 4px 0px;
-moz-border-radius:0px 4px 4px 0px;}
form input{font-family:IRANSans;padding:0px;margin:0px;}
.search-box{margin:1% 6% 0 6%;background-color:#fff;padding:1%;float:right;width:86%}
.newsletter-box{margin:1% 0 0 6%;background-color:#fff;padding:1%;float:left;width:43%;text-align:right;}
.search_text{
padding:3px 4px 3px 4px;
float:left;
width:166px;
height:25px;
border-top:2px solid #fff;
border-bottom:2px solid #fff;
border-left:2px solid #fff;
border-right:none;
border-radius:4px 0px 0px 4px;
-webkit-border-radius:4px 0px 0px 4px;
-moz-border-radius:4px 0px 0px 4px;}
.newsletter_text{width:59%;padding:3px 1% 3px 1%;}
a:active,a:focus{outline:none;}
.live_icon{-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
box-shadow:inset 0px 1px 0px 0px #bbdaf7;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
background-color:#79bbff;
font-size:140%;
font-weight:normal;
width:217px;
cursor:pointer;
color:#fff;
padding:1px 6px 1px 6px;
margin-top:10px;
text-align:center;
float:left;
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border:1px solid #fff;}
.live_icon:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
background-color:#378de5;}
.portal_img{width:250px;height:208px;border:1px solid #d9d9d9;margin:5px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;box-shadow:1px 2px 3px rgba(0,0,0,0.12);}
.goto_site{width:300px;height:250px;border:1px solid #d9d9d9;margin:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;box-shadow:1px 2px 3px rgba(0,0,0,0.12);}
.fixdiv{display:none;position:fixed;top:0;width:100%}
.special-box_fix{background-color:#f7f8fa;width:75%;width:-webkit-calc(87% - 120px);width:-moz-calc(87% - 120px);width:calc(87% - 120px);margin:0px 6% 0px 6%;height:150px;border-bottom:1px solid #e6e6e6;}
.special-box-right_fix{float:right;width:170px;direction:rtl;float:right;}
.special-box-left_fix{float:right;width:84%;width:-webkit-calc(100% - 170px);width:-moz-calc(100% - 170px);width:calc(100% - 170px);direction:rtl;float:right;}
.top-newsbox1_fix{font-size:110%;width:100%;direction:ltr;height:150px;float:right;overflow-y:hidden;}
.top-newsbox1_fix li{color:#cccccc;height:29px;overflow:hidden;white-space:nowrap;width:98%;text-overflow:ellipsis;}
.top-newsbox1_fix ul{list-style-position:none;padding-right:10px;}
.top-newsbox1_fix ul a{color:#333333;}
.top-newsbox1_fix ul a:hover{color:#0000ff;}
.top-newsbox1_fix ul a:visited{color:#939}
.top-newsbox2_fix{font-size:110%;width:50%;direction:ltr;height:150px;float:right;overflow:hidden;}
.top-newsbox2_fix li{color:#cccccc;height:25px;overflow:hidden;white-space:nowrap;width:97%;text-overflow:ellipsis;}
.top-newsbox2_fix ul{list-style-position:inside;padding-right:5px;}
.top-newsbox2_fix ul a{color:#333333;}
.top-newsbox2_fix ul a:hover{color:#0000ff;}
.top-newsbox2_fix ul a:visited{color:#939}