/*
Vietcombank StyleSheet
Filename: global30.css
Purpose: Global style & main site structure
Targets: IE6+; Modern browsers
Created by: hiendm
Last update: 26 dec 2007
*/
/*=========================================================*/
/* GLOBAL RESET */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */

body, div, dl, dt, dd, h1, h2, h3, h5, h5, h6, ul, li, pre, form, label, fieldset, input, select
{
	margin: 0;
	padding: 0;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}
fieldset, img
{
	border: 0;
}
address, cite, code, dfn, em, var
{
	font-style: normal;
	font-weight: normal;
}
caption, th
{
	text-align: left;
}
h1, h2, h3, h5, h5, h6
{
	font-size: 100%;
}
q:before, q:after
{
	content: '';
}
hr
{
	color: #FFFFFF;
	border: 0px none;
	border-bottom: 1px dashed #777;
}

/* The below restores some sensible defaults */

strong
{
	font-weight: bold;
}
em
{
	font-style: italic;
}
/*a { position:relative } /* Gets links displaying over a PNG background */
a
{
	outline: none;
}
/* Gets rid of Firefox's dotted borders */
a img
{
	border: none;
}
/* Gets rid of IE's blue borders */
/*END RESET*/

/*clear floated div - http://www.positioniseverything.net*/
.clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix
{
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix
{
	height: 1%;
}
.clearfix
{
	display: block;
}
/* End hide from IE-mac */

/*=========================================================*/
/* Site Global structure - DO NOT EDIT */
body
{
	text-align: center;
}
#global-wrap
{
	width: 930px;
	text-align: left;
	margin: 0 auto;
}
#headerCorp
{
	clear: both;
	margin: 0 0 2px 0;
	/*margin: 5px 0 10px 0;*/
}
#header
{
	clear: both;
	margin: 0 0 2px 0;
}
#footer
{
	clear: both;
	margin-top: 10px;
}
#contents
{
	clear: both;
	height: auto;
	min-height: 600px;
	background: url(../images/contentbg30.png) top repeat-x;
	border-top: 2px solid #64A35A;
	padding-top: 2px;
}
/*=========================================================*/
/*
Global font, color, position, decoration - Common style should be defined here
Default font: Arial
Default color: Text: #000; Link: #008c4f; highlight: #f90;
*/

/*Fonts*/
body
{
	font: 81%/1.4 Tahoma, Arial, Helvetica, sans-serif;
	color: #000;
}

/*Links*/
a
{
	color: #008c4f;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
/*header*/
#headerCorp
{
	background: url(../images/topbg30.png) top no-repeat;
	padding-bottom: 0px;
}
#header
{
	background: url(../images/topbg30.png) top no-repeat;
	padding-bottom: 0px;
}
#logo
{
	width: 137px;
	float: left;
	margin-left: 4px;
	display: inline;
}
.righthdr
{
	float: right;
}
#mainnav
{
	background: none;
	padding: 0px;
	margin: 8px 0 60px 0;
}
#mainnav ul li
{
	float: left;
	margin: 0 4px 0 0;
	display: inline;
	font-size: 85%;
	color: #fff;
}
#mainnav ul li a
{
	font-weight: bold;
	color: #fff;
}
#mainnav ul li.current a
{
	font-weight: bold;
	color: #008c4f;
}
.hdrtool
{
	font-size: 85%;
	color: #999;
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
}
.hdrtool img
{
	vertical-align: middle;
	margin: 0 3px;
}
.hdrtool label
{
	border-left: solid 1px #ccc;
	padding: 0 5px;
}
.hdrtool a
{
	color: #eee;
	text-decoration: none;
}
.hdrtool a:hover
{
	color: #fff;
}
/*footer*/
#footer
{
	background: url(../images/footer30.png) top no-repeat;
	padding-top: 20px;
}
#footer p
{
	margin: 0 0 5px 0;
	font-size: 85%;
	color: #666;
}
#footer a
{
	color: #666;
	text-decoration: none;
}
#footer a:hover
{
	text-decoration: underline;
}
#footer .copyright
{
	float: none;
	text-align: center;
}
#footer .copyright a
{
	margin: 0 3px;
	padding: 0 3px;
}
#footer .copyright a.lastitem
{
	border: none;
	margin: 0;
	padding: 0;
}
#footer .quicksearch
{
	float: right;
	width: 220px;
}
#footer input
{
	vertical-align: middle;
}
#footer form
{
	text-align: right;
	margin-bottom: 5px;
}
#footer .qs-txt
{
	font-size: 85%;
	color: #666;
	border: solid 1px #ccc;
	width: 145px;
	margin-right: 2px;
	padding: 5px 0 3px 25px;
	background: url(../images/icon_search.gif) 5px 5px no-repeat;
}
#footer .qs-btn
{
	background: url(../images/button_go.gif) no-repeat;
	width: 25px;
	height: 24px;
	border: none;
}
/*sidebar*/
.roundbox
{
	background: url(../images/right_roundbox_bg30.png) center right no-repeat;
	margin: 0 0 10px 0;
	clear: both;
}
.roundboxr
{
	background: url(../images/right_roundboxr_bg30.png) bottom right no-repeat;
	margin: 0 0 10px 0;
	clear: both;
}
.roundbox .title, .roundboxr .title
{
	background: url(../images/right_roundbox_normalhdr30.png) top right no-repeat;
	padding: 10px 0 0 15px;
}
.roundbox .gtitle, .roundboxr .gtitle
{
	background: url(../images/right_roundbox_greenhdr30.png) top right no-repeat;
	height: 19px;
	vertical-align: middle;
	padding: 6px 0 6px 30px;
	color: #fff;
}
.roundbox h3, .roundboxr h3
{
	font-size: 90%;
}
.roundbox .boxbody, .roundboxr .boxbody
{
	padding: 5px 5px 10px 15px;
}
.roundbox #boxservices
{
	padding: 20px 20px 20px 30px;
}
.roundbox .boxbody
{
	background: url(../images/right_roundbox_botbg30.png) bottom right no-repeat;
}
.roundboxr .newsletters
{
	background: url(../images/right_roundbox_botbg30.png) bottom right no-repeat;
}
.roundbox select, .roundboxr select
{
	width: 180px;
}
.roundbox p, .roundboxr p
{
	font-size: 85%;
	margin: 5px 0;
}
/*subbanner*/
.subbanner_roundbox
{
	background: url(../images/right_roundbox_bg.gif) bottom no-repeat;
	margin: 0 0 5px 0;
	clear: both;
}
.subbanner_roundbox .title
{
	background: url(../images/right_roundbox_normalhdr.gif) top no-repeat;
	padding: 10px 0 0 15px;
}
.subbanner_roundbox .gtitle
{
	background: url(../images/right_roundbox_greenhdr.gif) top no-repeat;
	padding: 5px 0 5px 10px;
	color: #fff;
}
.subbanner_roundbox h3
{
	font-size: 85%;
}
.subbanner_roundbox .boxbody
{
	padding: 5px 5px 10px 15px;
}
.subbanner_roundbox select
{
	width: 380px;
}
.subbanner_roundbox p
{
	font-size: 85%;
	margin: 5px 0;
}

/*login box*/
#loginform
{
	display: none;
}
#loginform h3 a
{
	color: #FFF;
	text-decoration: none;
}
.loginbox
{
	font-size: 85%;
}
.loginbox .txtfield
{
	width: 110px;
}
.loginbox dl
{
	clear: both;
}
.loginbox dl dt
{
	float: left;
	clear: left;
	margin-right: 10px;
	display: inline;
	width: 80px;
	padding: 4px 0;
}
.loginbox dl dt label
{
	font-weight: bold;
}
.loginbox dl dd
{
	float: left;
	padding: 2px 0;
}
/*tab*/
.tab
{
	font-size: 90%;
	background: url(../images/right_roundbox_normalhdr_tab30.png) top right no-repeat;
	height: 23px;
	padding: 7px 0 0 5px;
}
.tab.eng
{
	background: url(../images/right_roundbox_normalhdr_tab30_en.png) top right no-repeat;
	height: 33px;
	padding: 6px 0 0 5px;
}
.tab a
{
	display: block;
	float: left;
	text-decoration: none;
	font-weight: bold;
	padding: 0;
	width: 76px;
	text-align: center;
}
.tabon
{
	color: #fff;
}
.tabon:visited
{
	color: #fff;
}
.taboff, .taboff:visited
{
	color: #ccc;
}
/*form*/
.slt-slim-border
{
	border: solid 1px #ccc;
	padding: 2px 1px;
	font-size: 90%;
	height: auto;
}
.btn-green
{
	background: #008c4f;
	border: 1px outset #adceca;
	color: #fff;
	font-size: 100%;
	font-weight: bold;
	padding: 2px 0;
}
a.btn_ib
{
	background: url(../images/button_ib30.png) top center no-repeat;
	color: #333;
	font-size: 100%;
	font-weight: bold;
	padding: 6px 20px;
}
a.btn_ib:hover
{
	color: #000;
	text-decoration: none;
}
/*table*/
.tbl-exch
{
	margin: 5px 0 0 0;
	width: 95%;
}
.tbl-exch th, .tbl-exch td.code
{
	font-weight: bold;
	font-size: 75%;
	color: #000;
	vertical-align: top;
}
.tbl-exch td
{
	font-size: 75%;
	color: #000;
}
.tbl-exch th, .tbl-exch td
{
	padding: 4px 2px;
	text-align: center;
}
.tbl-exch tr, .tbl-exch tr.even
{
	background: transparent;
}
.tbl-exch tr.odd
{
	background: #dfb;
}
/*other elements */
#interestrate, #chargebox
{
	display: none;
}
ul.hasicon
{
	margin: 5px 0 0 20px !important;
	margin: 5px 0 0 15px;
}
ul.hasicon li
{
	font-size: 85%;
	margin: 3px 0;
	list-style: url(../images/icon_link.gif);
	padding-left: 5px;
}
ul.hasicon a
{
	color: #333;
	text-decoration: none;
}
p.align-right
{
	text-align: right;
}
p.align-center
{
	text-align: center;
}
.newsletter
{
	background: url(../images/icon_newsletter.gif) 15px 5px no-repeat;
	font-size: 85%;
	padding: 0 5px 0 50px;
	margin: 5px 0 10px 0;
}
.resources
{
	background: url(../images/icon_dotted.gif) top repeat-x;
	padding: 7px 0 10px 0;
	margin: 0 15px;
}
.news-list
{
	margin: 10px 0 10px 15px;
	list-style: square;
	text-transform: uppercase;
}
.news-list li
{
	border-bottom: solid 1px #e4e4e4;
	padding-bottom: 5px;
	list-style: square;
	font-size: 85%;
	margin-top: 5px;
}
.news-list li a
{
	color: #333;
}
.simplelist
{
	margin: 10px 0 10px 15px;
	list-style: disc;
}
.simplelist li
{
	list-style: disc;
}
#interestrate ul, #chargebox ul
{
	margin: 10px 0 10px 15px;
	list-style: disc;
	font-size: 85%;
}
#interestrate li, #chargebox li
{
	margin-top: 2em;
	margin-bottom: 2em;
	list-style: disc;
}
#interestrate a, #chargebox a
{
	color: #000000;
}
#interestrate a:hover, #chargebox a:hover
{
	color: #008C4F;
}
