/*
Vietcombank StyleSheet
Filename: home30.css
Purpose: Styles for homepage only
Targets: IE6+; Modern browsers
Created by: hiendm
Last update: 26 dec 2007
*/
/*=========================================================*/
.home-contents
{
	width: 688px;
	float: left;
}
.home-sidebar
{
	width: 238px;
	float: right;
}
#home-banner
{
	margin-bottom: 10px;
	display: block;
	width: 688px;
	height: 151px;
}
#home-products
{
	border-bottom: solid 2px #e4e4e4;
}
#home-products div
{
	width: 226px;
	float: left;
	background: transparent;
	margin-left: 3px;
}
#home-products div.last
{
	border: none;
	width: 228px;
}
#home-products h2
{
	background: url(../images/home_mainproduct_bg30.png) repeat-x;
	height: 25px;
	padding: 5px 0 0 0;
	color: #fff;
	font-size: 100%;
	text-align: center;
}
#home-products h2 a
{
	color: #fff;
	text-decoration: none;
}
#home-products h2 a:hover
{
	color: #fff;
}
#home-products ul
{
	padding: 10px 10px 10px 30px;
	font-size: 85%;
	line-height: 20px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #84b76c;
}
#home-products ul li a
{
	color: #666;
	border-bottom: none;
}
#home-products ul li a:hover
{
	text-decoration: none;
	border-bottom: 1px dashed;
	color: #333;
}
#home-products ul li.more
{
	font-style: italic;
	list-style-type: none;
	margin-left: 100px;
}
#home-products ul li.more a
{
	color: #008C4F;
	border-bottom: none;
}
#home-products ul li.more a:hover
{
	text-decoration: underline;
}
#home-products ul li
{
	font-weight: bold;
	margin-bottom: 3px;
}
#home-products-corp
{
	border-bottom: solid 2px #e4e4e4;
}
#home-products-corp div
{
	width: 344px;
	float: left;
	background: transparent;
	border-right: solid 1px #e4e4e4;
}
#home-products-corp div.last
{
	border: none;
	width: 228px;
}
#home-products-corp h2
{
	background: url(../images/Corp_mainproduct_bg30.png) repeat-x;
	height: 25px;
	padding: 5px 0 0 20px;
	color: #fff;
	font-size: 90%;
}
#home-products-corp h2 a
{
	color: #fff;
	text-decoration: none;
}
#home-products-corp h2 a:hover
{
	color: #fff;
}
#home-products-corp ul
{
	padding: 10px 20px 10px 30px;
	font-size: 85%;
	line-height: 20px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #84b76c;
}
#home-products-corp ul li a
{
	color: #666;
	border-bottom: none;
}
#home-products-corp ul li a:hover
{
	text-decoration: none;
	border-bottom: 1px dashed;
	color: #333;
}
#home-products-corp ul li.more a
{
	font-style: italic;
	list-style-type: none;
	margin-left: 100px;
}
#home-products-corp ul li.more a:hover
{
	text-decoration: underline;
}
#home-products-corp ul li
{
	font-weight: bold;
	margin-bottom: 3px;
}
.home-two-cols
{
	clear: both;
	margin: 10px 0 0 0;
}
.home-two-cols h3
{
	color: #008c4f;
	font-size: 90%;
}
.home-news
{
	width: 456px;
	float: left;
}
.home-news ul
{
	margin: 10px 0 10px 15px;
	list-style: square;
	padding: 0 15px;
	text-align: justify;
}
.home-news ul li
{
	border-bottom: solid 1px #e4e4e4;
	padding-bottom: 5px;
	list-style: square;
	font-size: 85%;
	margin-top: 5px;
}
.home-news ul li a
{
	color: #333;
}
.home-network
{
	width: 200px;
	float: left;
	margin-left: 25px;
	display: inline;
}
.home-network .title
{
	padding: 10px 0 10px 0;
}
#corp-menu
{
	border-bottom: solid 2px #e4e4e4;
}
#corp-menu div
{
	width: 92px;
	float: left;
	background: url(../images/corp_menu_contentbg.gif) repeat-x 0px 30px;
	border-right: solid 1px #e4e4e4;
}
#corp-menu div.last
{
	border: none;
	width: 99px;
}
#corp-menu h2
{
	background: url(../images/corp_menu_bg.gif) repeat-x;
	height: 35px;
	padding: 2px 0px 2px 5px;
	color: #fff;
	font-size: 75%;
	text-align: center;
}
#corp-menu h2 a
{
	color: #fff;
	text-decoration: none;
}
#corp-menu h2 a:hover
{
	color: #fd9610;
}
#corp-menu dl
{
	padding: 10px 20px;
	font-size: 75%;
	line-height: 20px;
}
#corp-menu dl a
{
	color: #fd9610;
	border-bottom: 1px dashed;
}
#corp-menu dl a:hover
{
	text-decoration: none;
	border-bottom: 1px solid;
	color: #008C4F;
}
#corp-menu dl a.more
{
	color: #008C4F;
	border-bottom: none;
}
#corp-menu dl a.more:hover
{
	text-decoration: underline;
}
#corp-menu dl dt
{
	font-weight: bold;
}
#corp-menu dl dd
{
	margin-bottom: 5px;
}
.Form-Title
{
	font-family:Tahoma;
	font-weight: bold;
	font-size:15px;
}