﻿/*
CSS support for display News
*/

.News_Title
{
	font-size: 100%;
	font-weight: bold;
	text-transform: uppercase;
}

.News_Content
{
	text-align: justify;
}

.News_DateTime
{
	text-align: right;
	padding-right: 10px;
}
.News_Link
{
	color: #008c4f;
	text-decoration: none;
	font-weight: bold;
	font-size: 9pt;
	font-family: Tahoma;
}
