/*
Vietcombank StyleSheet
Filename: subpage30.css
Purpose: Styles for subpages
Targets: IE6+; Modern browsers
Created by: hiendm
Last update: 02 jan 2008
*/
/*=========================================================*/
/*three column layout*/
.leftsidebar
{
	float: left;
	width: 208px;
}
.rightsidebar
{
	float: left;
	width: 238px;
}
.rightsidebar_corp
{
	float: right;
	width: 238px;
}
.subcontent
{
	float: left;
	display: inline;
}
.threecols
{
	width: 455px;
	margin: 0 12px 0 13px;
}
.twocols
{
	width: 679px;
	margin: 0 0 0 13px;
}
.twocols_corp
{
	width: 679px;
	margin: 0 0 0 0px;
}

/*sub navigation*/
.subnavi
{
	margin: 0 10px 0 0;
}
.subnavi li
{
	list-style: none;
	padding: 0 0 3px 0;
	margin: 0 0 3px 0;
	font-size: 85%;
	font-weight: bold;
	border-bottom: 1px dotted #c0d6a6;
}
.subnavi li a
{
	color: #333;
	text-decoration: none;
}
.subnavi li a:visited
{
	color: #333;
}
.subnavi li.current a, .subnavi li.current a:visited
{
	color: #008c4f;
	text-decoration: none;
}
.subnavi li a:hover
{
	color: #008c4f;
}
.subnavi li ul
{
	margin: 5px 5px 5px 20px;
}
.subnavi li ul li
{
	border: none;
	font-size: 100%;
	font-weight: normal;
	color: #ffa800;
	list-style: square;
	padding: 0;
}
.subnavi li.current ul li a
{
	color: #333;
}
.subnavi li.current ul li a:hover
{
	color: #008c4f;
}
.subnavi li ul li ul li
{
	list-style: circle;
}
/*left sidebar*/
.left-roundbox
{
	background: url(../images/left_roundbox_bg30.png) top no-repeat;
	margin: 0 0 5px 0;
}
.left-roundbox .title
{
	background: url(../images/left_roundbox_titlebg30.png) top no-repeat;
	padding: 10px 0 0 15px;
}
.left-roundbox .gtitle
{
	background: url(../images/left_roundbox_titlebg30.png) top no-repeat;
	padding: 10px 0 7px 15px;
	color: #000;
	font-size:100%;
}
.left-roundbox h3
{
	font-size: 85%;
}
.left-roundbox .boxbody
{
	background: url(../images/left_roundbox_botbg30.png) bottom no-repeat;
	padding: 5px 5px 10px 15px;
}
.left-roundbox #boxservices
{
	padding: 10px 14px 20px 14px;
}
.left-roundbox select
{
	width: 180px;
}
.left-roundbox p
{
	font-size: 85%;
}
/*right sidebar*/
ul.rightlinks
{
	margin: 0 10px 5px 15px;
}
ul.rightlinks li
{
	border-bottom: 1px dotted #c0d6a6;
	padding-bottom: 3px;
	margin-top: 3px;
	font-size: 85%;
	list-style: disc;
}
ul.rightlinks li a
{
	color: #333;
	text-decoration: none;
}
ul.rightlinks li a:hover
{
	color: #008c4f;
	text-decoration: underline;
}
/*navigator*/
.navigator
{
	border-bottom: 1px dotted #999;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 90%;
	color: #333;
}
.subbanner
{
	margin: 0 0 10px 0;
}
.float-left
{
	float: left;
}
.float-right
{
	float: right;
}
.gradientbox
{
	padding: 15px 10px;
	font-size: 85%;
	margin: 10px 0;
}
.gradientbox h2
{
	margin-bottom: 10px;
	color: #008c4f;
	font-size: 120%;
}
.gradientbox h3
{
	margin-bottom: 10px;
}
.gradientbox-long
{
	background: url(../images/gradientlongbg.gif) top no-repeat;
	padding: 15px 30px;
	font-size: 85%;
	margin: 10px 0;
}
.gradientbox-long h2
{
	margin-bottom: 10px;
	color: #008c4f;
	font-size: 120%;
}
.gradientbox-long h3
{
	margin-bottom: 10px;
}
/*page content detail*/
.article
{
	clear: both;
	font-size: 90%;
	line-height: 1.8em;
	text-align: justify;
}
.article h2
{
	font-size: 130%;
	color: #008c4f;
	margin: 5px 0;
	padding: 0;
}
.article h3
{
	font-size: 120%;
	margin: 5px 0;
}
.article h4
{
	font-size: 110%;
	margin: 5px 0;
}
.article p
{
	margin: 10px 0;
}
.article ul
{
	list-style: square;
	margin: 10px 0 10px 25px;
}
.article-tools
{
	margin: 5px 0;
	padding-top: 5px;
	border-top: solid 1px #ccc;
}
.img-right
{
	float: right;
	margin: 2px 0 5px 10px;
}
.img-left
{
	float: left;
	margin: 2px 10px 5px 0;
}
.note
{
	font-size: 85%;
	text-align: justify;
}
.stitle
{
	color: #008c4f;
	font-size: 90%;
}
.tbl-01
{
	margin: 10px 0;
	width: 97%;
	font-size: 100%;
	border: 1px solid #ccc;
}
.tbl-01 tr:hover
{
	background-color: #ddd;
}
.tbl-01 tr.imp
{
	background-color: #CCFFDD;
	font-weight: bold;
}
.tbl-01 tr.imp:hover
{
	background-color: #AAEEBB;
}
.tbl-01 th
{
	background-color: #88EE99;
	color: #333333;
}
.tbl-01 th, .tbl-01 td
{
	padding: 3px 4px;
}
.tbl-01 td
{
	border-bottom: solid 1px #e4e4e4;
	vertical-align: top;
}
.tbl-02
{
	margin: 10px 0;
	width: 97%;
	font-size: 100%;
	border-top: 2px solid green;
	border-bottom: 2px solid green;
}
.tbl-02 tr:hover
{
	background-color: #ddd;
}
.tbl-02 th
{
	border-top: 2px solid green;
	border-bottom: 2px solid green;
	background-color: #d9d9d9;
	text-align: center;
}
.tbl-02 th, .tbl-02 td
{
	padding: 3px 4px;
}
.tbl-02 td
{
	vertical-align: top;
}
/*networks*/
.vcbnetwork
{
	padding: 0 20px;
	margin-top: 20px;
}
.vcbnetwork td
{
	padding: 3px 20px;
}
.vcbnetwork h3
{
	font-size: 110%;
	border-bottom: solid 1px #ccc;
	padding-bottom: 5px;
	margin: 20px 0 5px 0;
	clear: both;
}
.vcbnetwork h4
{
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.vcbnetwork ul
{
	list-style: square;
	margin: 0 0 0 15px;
}
.vcbnetwork ul li
{
	list-style: square;
}
.vcbnetwork .locallist
{
	list-style: none;
	margin: 0;
}
.vcbnetwork .locallist li
{
	float: left;
	margin-right: 10px;
	display: inline;
	width: 30%;
}
.vcbnetwork .locallist li ul
{
	margin: 0 0 0 15px;
	display: block;
}
.vcbnetwork .locallist li ul li
{
	list-style: square;
	float: none;
	display: block;
	width: 100%;
}
/*career*/
.career-welcome
{
	border-bottom: solid 2px #e4e4e4;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.career-welcome h3
{
	font-size: 90%;
	margin-bottom: 5px;
}
.career-welcome h4
{
	font-size: 85%;
	margin-bottom: 5px;
}
.career-welcome p
{
	font-size: 85%;
}
.career-welcome-msg
{
	float: left;
	text-align: justify;
}
.career-welcome-why
{
	float: left;
	text-align: justify;
}
.career-targets h4
{
	font-size: 85%;
	margin-bottom: 5px;
}
.career-targets p
{
	font-size: 85%;
}
.career-targets ul li
{
	float: left;
	width: 139px;
	background: url(../images/icon_vdotted.gif) right repeat-y;
	padding-right: 10px;
	margin-right: 10px;
}
.career-targets ul li.last
{
	width: 140px;
	background: none;
	padding: 0;
	margin: 0;
}
.job-search
{
	font-size: 85%;
	padding: 0 50px;
	margin: 20px 0 10px 0;
}
.job-search dl
{
	clear: both;
	border-bottom: solid 1px #e4e4e4;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.job-search dl dt
{
	float: left;
	width: 110px;
	margin-right: 20px;
	display: inline;
}
.job-search dl dt label
{
	font-weight: bold;
}
.job-search dl dd
{
	float: left;
}
.job-search select
{
	border: solid 1px #ccc;
	padding: 2px 1px;
	font-size: 100%;
	height: 20px;
	width: 220px;
}
/*ebanking*/
.ebanking-services
{
	margin: 10px 0;
	font-size: 85%;
}
.ebanking-services h3
{
	margin-bottom: 10px;
}
.ebanking-services ul li
{
	float: left;
	width: 148px;
	display: inline;
	margin-right: 5px;
}
.ebanking-services ul li.last
{
	margin: 0;
}
/*investors*/
.tbl-stock
{
	font-size: 85%;
}
.tbl-stock th
{
	font-weight: bold;
	width: 100px;
	padding: 2px 0;
}
.tbl-stock td
{
	text-align: right;
	padding: 2px 4px;
}
.tbl-stock .up
{
	color: #096;
}
.tbl-stock .down
{
	color: #f00;
}
.calendar
{
	margin: 10px 0;
	font-size: 85%;
}
.calendar dl
{
	background: url(../images/icon_paper.gif) 0px 0px no-repeat;
	border-bottom: solid 1px #e4e4e4;
	padding: 0 0 10px 30px;
	margin-bottom: 10px;
}
.calendar dl dt
{
	width: 80px;
	float: left;
	display: inline;
}
.calendar dl dd
{
	margin-left: 90px;
}
/*services*/
.services-corporate
{
	font-size: 85%;
	margin: 15px 0;
}
.services-corporate dl
{
	float: left;
	width: 210px;
	margin: 0 15px 10px 0;
	display: inline;
}
.services-corporate dl dt.avatar
{
	float: left;
	margin: 2px 10px 0 0;
}

.services-personal
{
	font-size: 85%;
	margin: 15px 0;
}
.services-personal dl
{
	float: left;
	width: 140px;
	margin: 0 10px 10px 0;
	display: inline;
}
.services-personal dl dt.avatar
{
	float: left;
	margin: 2px 10px 0 0;
}
.fi-services
{
	border-bottom: solid 1px #e4e4e4;
	padding: 0 0 10px 0;
	list-style: none;
}
.fi-services li
{
	float: left;
	width: 150px;
	margin-right: 20px;
	margin-bottom: 5px;
	background: url(../images/icon_bullet01.gif) 0px 5px no-repeat;
	padding-left: 20px;
}
.fi-services li a
{
	color: #333;
	text-decoration: none;
}
.fi-services li a:hover
{
	color: #008c4f;
}
/*subscription*/
.subscription
{
	font-size: 85%;
	padding: 0 30px;
	margin: 20px 0 10px 0;
}
.subscription dl
{
	margin-bottom: 5px;
}
.subscription dl dt
{
	float: left;
	width: 130px;
	margin-right: 20px;
	display: inline;
}
.subscription dl dt label
{
	font-weight: bold;
}
.subscription dl dd
{
	float: left;
	margin-bottom: 7px;
}
.subscription .txtfield
{
	border: solid 1px #ccc;
	padding: 2px 1px;
	font-size: 100%;
	width: 220px;
}
/*atm locations*/
.atmlocations
{
	list-style: none;
	margin: 20px 0 0 10px;
	font-size: 85%;
}
.atmlocations li
{
	float: left;
	width: 200px;
	margin-right: 10px;
	list-style: none;
	display: inline;
}
.atmlocations li h4
{
	border-bottom: solid 2px #e4e4e4;
	padding-bottom: 5px;
	margin: 5px 0;
}
.atmlocations li ul
{
	list-style: square;
}
.atmlocations li ul li
{
	list-style: square;
}
/*search*/
.search
{
	font-size: 85%;
}
.search-query
{
	background: #eee;
	padding: 3px 10px;
	margin: 10px 0;
}
.keyword
{
	font-weight: bold;
	color: #c00;
}
.result-listing
{
	list-style: decimal;
	margin: 10px 0 10px 20px;
	padding-left: 20px;
}
.result-listing li
{
	list-style: decimal;
	margin: 10px 0;
	border-bottom: solid 1px #e4e4e4;
	padding-bottom: 5px;
}
.advsearch-form
{
	border-bottom: solid 1px #e4e4e4;
	padding-bottom: 10px;
	margin: 10px 0 5px 0;
}
.advsearch-form .advs-01
{
	float: left;
	width: 220px;
}
.advsearch-form .advs-02
{
	float: left;
	width: 160px;
	display: inline;
	margin: 0 15px;
	border-right: solid 1px #e4e4e4;
	border-left: solid 1px #e4e4e4;
	padding: 0 15px;
}
.advsearch-form .advs-03
{
	float: left;
	width: 160px;
}
.advsearch-form dl dt
{
	font-weight: bold;
	margin-bottom: 5px;
}
.advsearch-form dl
{
	margin: 0 0 5px 0;
}
.advsearch-form dl dd ul li
{
	margin: 3px 0;
}
.advsearch-form .txtfield
{
	border: solid 1px #ccc;
	width: 220px;
	height: 18px;
	font-size: 100%;
}
.advsearch-form .sltlong
{
	border: solid 1px #ccc;
	width: 220px;
	padding: 1px;
	font-size: 100%;
}
.advsearch-form .sltmed
{
	border: solid 1px #ccc;
	width: 155px;
	padding: 1px;
	font-size: 100%;
}
/*paging*/
.paging
{
	font-size: 85%;
	font-weight: bold;
	text-align: center;
}
.paging a
{
	color: #333;
	border-right: solid 1px #ccc;
	padding-right: 5px;
	margin-right: 5px;
}
.paging a.current, .paging a.current:visited
{
	color: #c00;
}
.paging a:visited
{
	color: #333;
}
.paging a.last
{
	border: none;
}
/*calculators & rates*/
#exch-calculator
{
	display: block;
}
.rateTable th, .rateTable td
{
	text-align: center;
}
#interest-calculator
{
	display: block;
}
#interest-rates
{
}
.calculator-form
{
	border-bottom: solid 1px #e4e4e4;
	padding-bottom: 10px;
	margin: 10px 0 5px 0;
}
.calculator-form .cal-01
{
	float: left;
	width: 190px;
	margin-right: 10px;
	display: inline;
}
.calculator-form .cal-02
{
	float: left;
	width: 190px;
}
.calculator-form dl dt
{
	font-weight: bold;
	margin-bottom: 5px;
}
.calculator-form dl
{
	margin: 0 0 5px 0;
}
.calculator-form dl dd ul
{
	margin-top: 5px;
}
.calculator-form dl dd ul li
{
	margin: 3px 0;
}
.calculator-form .txtfield
{
	border: solid 1px #ccc;
	width: 170px;
	height: 18px;
	font-size: 100%;
}
.calculator-form select
{
	border: solid 1px #ccc;
	width: 170px;
	padding: 1px;
	font-size: 100%;
}
.common-form
{
	margin: 15px 0 10px 0;
	font-size: 95%;
}
.common-form fieldset
{
	border: solid 1px #ccc;
	border-bottom: inset 2px #7fc87f;
	padding: 10px 20px;
	width: 400px;
}
.subscription h4
{
	font-size: 110%;
	margin: 10px 0;
	color: #008C4F;
}
.common-form label
{
	font-weight: bold;
	display: block;
	width: 120px;
}
.common-form table td
{
	padding: 3px 0;
	font-size: 90%;
}
.common-form table td.formfooter
{
	border-top: solid 1px #ccc;
	padding: 10px 0;
}
.common-form textarea
{
	width: 350px;
}
.delim
{
	border-bottom: solid 1px #ccc;
	padding: 0;
	height: 1%;
}
.common-form .txt_med
{
	width: 180px;
}
.common-form .txt_long
{
	width: 270px;
}
.common-form .slt_med
{
	width: 185px;
}
.common-form .slt_short
{
	width: 60px;
}
a.pdf
{
	background: transparent url(../images/icons/pdf.gif) no-repeat scroll left;
	margin-left: 24px;
	padding-left: 24px;
}
a.ipdf
{
	background: transparent url(../images/icons/pdf.gif) no-repeat scroll right;
	padding-right: 24px;
}
a.doc
{
	background: transparent url(../images/icons/doc.gif) no-repeat scroll left;
	margin-left: 24px;
	padding-left: 24px;
}
a.idoc
{
	background: transparent url(../images/icons/doc.gif) no-repeat scroll right;
	padding-right: 24px;
}
a.ext
{
	background: transparent url(../images/icons/ext.gif) no-repeat scroll right center;
	padding-right: 13px;
}
a.top
{
	background: transparent url(../images/icons/top.gif) no-repeat scroll left;
	color: #225577;
	padding-left: 13px;
}
a.pdf:hover, a.ipdf:hover, a.doc:hover, a.ext, a.root:hover, a.parent:hover, a.leaf:hover
{
	color: #3366BB;
}
a.pdf, a.ipdf, a.doc, a.ext:hover, a.top:hover
{
	color: #008C4F;
}
a.root
{
	font-weight: bold;
}
a.parent
{
	font-weight: bold;
	color: #555555;
}
.scrolltable
{
	margin: 1em 0em 1em 0em;
	vertical-align: top; /* Fix IE 6 bug */
	width: 100%;
	height: 500px;
	overflow: auto;
}
/* IE 6 hack */
html > body .scrolltable
{
	height: auto;
	max-height: 500px;
}

/*sub banner*/
.left-subbannerroundbox
{
	background: url(../images/left_roundbox_bg.gif) bottom no-repeat;
	margin: 0 0 5px 0;
}
.left-subbannerroundbox .title
{
	background: url(../images/left_roundbox_normalhdrbg.gif) top no-repeat;
	padding: 10px 0 0 15px;
}
.left-subbannerroundbox .gtitle
{
	background: url(../images/left_roundbox_titlebg.gif) top no-repeat;
	padding: 10px 0 7px 15px;
	color: #333;
}
.left-subbannerroundbox h3
{
	font-size: 85%;
}
.left-subbannerroundbox .boxbody
{
	padding: 5px 5px 10px 15px;
}
.left-subbannerroundbox select
{
	width: 180px;
}
.left-subbannerroundbox p
{
	font-size: 85%;
}
.SubPageTitle
{
	font-family:Arial;
	font-size:16px; font-weight:bold; color:#008800;
	}
.CorpSlogan
{
	font-family:Tahoma;
	font-size:14px; font-weight:bold; color:#008800;
	font-style:italic;
	}

.imgCorpLink
{
	width: 222px;
	height: 162px;
	}