/* ======================== Global ===================================== */
* {
	margin:0;
	padding:0;	
}
html, body {
	height:100%;	
}
body {
	/*background:#CE8EA2;*/
	/*background:#fff;*/
}
img {
	border:0 none;
}
ol {
	list-style:decimal outside;
	padding-left:30px;
}
.centered {
	width:1002px;    /* changed on 21/9 evng  */
	margin:0 auto;
	_text-align:center;
}
.rightcontent
{
width:810px;
}
/* ======================== Header ===================================== */
.header {
	
}
.header .logo {
	background:#74263E;
}
.header .logo .inner {
	background:#a30d3b;	
	height:65px;
	width:100%;
	text-align:center;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}
.header .yellowbar {
	background:#CEA88E;
	border-bottom:1px solid #fff;
}
.header .yellowbar .inner {
	height:17px;
	width:100%;
	background:#ffc20e;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	border-bottom:0 none;
	
}
/* ======================== Top Nvaigation ===================================== */
.top_nav {
	background:#DDA9BF;
	border-bottom:1px solid #BB7289;	
}
.top_nav .inner {
	background: url(../images/bgTopNav.png) repeat-x 80%;
	border:1px solid #fff;
	border-bottom:1px solid #DACFB3;
	height:39px;
	margin-bottom:-1px;
	_margin-bottom:-2px;					/* Fix for IE 6 */
}

.top_nav .inner .userinfo {
	height:38px;
	padding-left:8px;	
}
.top_nav .inner .userinfo .username {
	float:left;
	width:350px;
	color:#3f0a1b;
	font:normal 12px/38px Tahoma;
	text-align:left;
	height:38px;
}
.top_nav .inner .userinfo .logout {
	float:right;
	width:220px;
	font:normal 11px Tahoma;
}
.top_nav .inner .userinfo .logout ul {
	padding:8px 0 9px;
	height:20px;
	width:220px;
}
.top_nav .inner .userinfo .logout li {
	float:left;
	width:70px;
	_width:40px;					/* Fix for IE 6 */
	border-left:1px solid #d5c7a3;
	text-align:center;
	padding:0 2px;
	vertical-align:middle;
}
.top_nav .inner .userinfo .logout li.home {
	width:45px;
	_width:55px;					/* Fix for IE 6 */
}
.top_nav .inner .userinfo .logout li.fontsize {
	width:45px;
	_width:55px;					/* Fix for IE 6 */
	padding-top:5px;
}

.top_nav .inner .userinfo .logout li.logoutbtn {
	padding-right:0;
	width:30px;					/* Fix for IE 6 */
}
.top_nav .inner .userinfo .logout li a {
	color:#8c062f;
	display:block;
	line-height:21px;
	height:21px;
}
.top_nav .inner .userinfo .logout li a:hover {
	background:none;
}
.top_nav .inner .userinfo .logout li img {
	vertical-align:middle;
}

.top_nav ul {
	list-style: none;
	height:39px;
	width:875px;
	margin:0 auto;
}
.top_nav ul li {
	display:inline-block;
	float:left;
	width:auto;
	padding:9px 25px 9px 0;
	position:relative;
}

.top_nav ul li.last {
	padding-right:0;
}
.top_nav ul li a {
	font:normal 14px/24px Tahoma, sans-serif;
	color:#3f0a1b;
	text-align:center;
	text-decoration:none;
	display:block;
	padding:0 4px;
	height:24px;
	padding-right:2px;
	float:left;	
}

.top_nav ul li a span {
	padding-left:6px;
	color:#8c062f;
	font-weight:bold;
}

.top_nav ul li a .left {
	padding-left:3px;
}
.top_nav ul li a .right {
	padding:0 3px;
}


.top_nav ul li a:hover, .top_nav ul li a.selected {
	background:url(../images/bgTopNav-hoverRight.png) right top no-repeat;	
	color:#9b274b;
}
.top_nav ul li a:hover .left, .top_nav ul li a.selected .left {
	background:url(../images/bgTopNav-hoverLeft.png) left top no-repeat;
}
.top_nav ul li a:hover .right, .top_nav ul li a.selected .right {
	background:url(../images/bgTopNav-hoverCenter.png) center top repeat-x;
	
}
.top_nav h1 {
	color:#3f0a1b;
	font:normal 14px/36px Tahoma;
	height:38px;
	padding:0 22px;
	text-align:left;
}

.top_nav ul.submenu, .top_nav ul.submenu2 {
	display:none;
	width:130px;
	height:auto;
	position:absolute;
	top:38px;
	left:0;
	border:1px solid #E6E6DE;
	background:#fdfafa;
	z-index:10;	
}
.top_nav ul.submenu2 {
	top:0px;
	left:130px;
	z-index:20;
}
.top_nav ul.lastsubmenu {
	left:-60px;
}
.top_nav ul.lastsubmenu2 {
	left:-132px;
}
.top_nav .submenu li {
	display:block;
	float:none;
	padding:0;
	height:24px;
	position:relative;
}
.top_nav .submenu li a {
	width:126px;	
	padding:0 2px;
	clear:both;
	text-align: center;
	font-size:11px;
	line-height:20px;
	_height:20px;
}
.top_nav .submenu li a:hover {
	background:#E7E9DF;
}
/* ======================== Transparent Boxes ===================================== */
.transparent_box_outer {
	padding-top:16px;
}

.transparent_box {
	/*width:230px;*/
	background: url(../images/white80-bg.png) repeat;
	border:1px solid #d9d0c3;
	color:#3f0a1b;
}
.left_col .transparent_box, .right_col .transparent_box {
	width:230px;
}

.metlife{
	margin-left: 40px;
	
}

/* ======================== Container ===================================== */
.conatiner {
	_display:table;
	background:#fff;	
	/*min-height:100%;
	height:auto !important;
	height:100%;*/
	/*overflow:auto;*/
	position:relative;
	_text-align:center;
}

/* ======================== Buttons ===================================== */
button {
	border:0 none;
	cursor:pointer;
}
.button80 {
	border:0 none;
	background:url(../images/btn80.png) center no-repeat;
	width:80px;
	height:33px;
	color:#000;
	font:bold 12px/33px Tahoma;
	cursor:pointer;
}
.button100 {
	border:0 none;
	background:url(../images/btn100.png) center no-repeat;
	width:100px;
	height:33px;
	color:#000;
	font:bold 12px/33px Tahoma;
	cursor:pointer;
}
.button140 {
	border:0 none;
	background:url(../images/btn140.png) center no-repeat;
	width:140px;
	height:33px;
	color:#000;
	font:bold 12px/33px Tahoma;
	cursor:pointer;
}
.button180 {
	border:0 none;
	background:url(../images/btn180.png) center no-repeat;
	width:180px;
	height:33px;
	color:#000;
	font:bold 12px/33px Tahoma;
	height:33px;
	border:0 none;
	cursor:pointer;
}
.button180_new {
                border:0 none;
                background:url(../images/btn180.png) center no-repeat;
                width:180px;
                height:33px;
                margin-left:12px;
                color:#000;
                white-space: normal;
                font:bold 12px Tahoma;
                border:0 none;
                cursor:pointer;
}
.buttongrey67 {
	border:0 none;
	background:url(../images/btngrey67.png) center no-repeat;
	width:67px;
	height:33px;
	color:#000;
	font:bold 12px/33px Tahoma;
	cursor:pointer;
}
/* ======================== Container for Homepage ===================================== */
.conatiner_home {
	background:#CE8EA2 url(../images/Homepage_Bg.jpg) center top no-repeat;
	height:525px;

	/*height:607px;	
	position:static;*/
}

.conatiner_home .centered {
	width:917px;
	_width:926px;
	min-height:390px;
	height:auto !important;
	height:390px;
}

/* ======================== Left panel ===================================== */
.left_col {
	width:240px;
	float:left;
}

.left_col .transparent_box h1 {	
	background:url(../images/FDFAFA-80-bg.png) repeat;
	border-bottom:1px solid #d9d0c3;
	font:normal 14px/30px Tahoma;
	height:30px;
	padding:0 10px;	
	text-align:left;
}

.left_col .transparent_box .links {
	border-top:1px solid #fcfcfc;
	font:normal 12px Tahoma;
	color:#3f0a1b;
}

.left_col .transparent_box .login_links {
	padding:10px 10px 0;
	*padding-top:5px;					/* Fix for IE 7 */
}
.left_col .transparent_box .user_links {
	padding:0 10px;
}
.left_col .transparent_box .apply_links {
	padding:6px 10px 7px;
	/**padding-bottom:23px;	*/			/* Fix for IE 7 */
}

@-moz-document url-prefix() {      /*Fix for Firefox browsers*/
  .left_col .transparent_box .apply_links {
	padding:6px 10px;
}
}

.left_col .transparent_box .links .padding {
	padding-bottom:5px;
	*padding-bottom:0;			/* Fix for IE 7 */
}
.left_col .transparent_box .links p {
	text-align:left;
}
.left_col .transparent_box .links p label {
	padding-left:7px;
}
.left_col .transparent_box .links p label span {
	display:inline-block;
	clear:left;
	padding-left:22px;
}

.left_col .transparent_box .buttons {
	background:url(../images/FDFAFA-80-bg.png) repeat;
	padding:6px 10px;	
}

.left_col .transparent_box .buttons img {
	vertical-align: middle;
	*vertical-align: top;	 	 /*Fix for IE 7*/
}

.left_col .transparent_box .buttons button {	
	margin-left:16px;
}

.left_col .transparent_box .links ul {
	list-style:none;
	overflow: auto;
	height:auto;
}
.left_col .transparent_box .links ul li a {
	text-decoration:none;
	color:#9B3150;
	display:block;
	font:bold 12px/26px Tahoma;
	height:26px;
	text-align:left;
}

.left_col .transparent_box .links ul.newuser li {
	width:100px;
	float: left;
	padding-right:5px;
}


/* ======================== Right panel ===================================== */
.right_col {
	width:180px;
	height:375px;
	float:left;
	padding:10px 0 0 10px;
	text-align:left;
}


/* ======================== Bottom panel ===================================== */
.bottom_panel {
	float:left;
	width:485px;
	padding-top:385px;
	_padding-left:6px;
	/*clear:both;
	padding-right:18px;
	padding-top:5px;*/
}
.bottom_panel .transparent_box {
	width:485px;
	overflow:auto;
	margin:0 auto;
	padding:12px 0;
}
.bottom_panel .transparent_box p, .bottom_panel .transparent_box a {
	float:left;	
}
.bottom_panel .transparent_box p {
	padding:0 20px 0 10px;
	width:90px;
	height:49px;
	font:normal 16px Tahoma;
}
.bottom_panel .transparent_box a {
	padding-right:8px;
}


/* ======================== Security Login Page ===================================== */
.security_banner {
	background:#CBBEAB url(../images/login-bg-repeat.png) top repeat-x;
	height:230px;
	text-align:center;
	padding-top:2px;
}
.security_banner_outer {
	background:#FAF6F5;
}
.security_text {
	background:#FAF6F5;
	width:735px;
	margin:0 auto;
	font:normal 12px/19px Tahoma;
	text-align:left;
	_height:19px;
	color:#000;
	padding-bottom:30px;
}
.security_text h1, .conatiner_contact .inner h1 {
	color:#643947;
	font:normal 18px Tahoma;
	border-bottom:1px solid #DFD4B9;
	padding:5px 0;
	text-align:left;
}
.security_text ul {
	list-style:disc inside;
	padding-top:10px;
}
.security_text ul li {
	/*padding-top:2px;*/
}

.security_text ul li a {
	text-decoration:none;
	color:#9B2649;
	padding-top:5px;
}
.security_login {
	text-align:center;
	padding:20px 0 0;
}


/* ======================== Contact us Pop Up page ===================================== */
.contact_popup_container {
	width:780px;
	height:632px;
	margin:0 auto;
}
.contact_popup_container .conatiner_contact .inner {
	padding:0 0 0 15px;
	
}
.contact_popup_container .footer {
	border-top:1px solid #F3ECEC;
	background:#F3ECEC;
	margin:0;
}
.contact_popup_container .footer .footer_content {
	border-top:1px solid #fdfafa;
padding:5px 0 0 25px; 
          width:755px; 
}
/* ======================== Contact us page ===================================== */
.conatiner_contact {
	background:#fdfafa;
	color:#443333;
	min-height:480px;
	height:auto !important;
	height:100%;
	padding-bottom:25px;
	font:normal 12px/18px Tahoma;	
	text-align:left;
}
.conatiner_contact .inner {
	width:757px;
	margin:0 auto;
	padding-top:23px;
}
.conatiner_contact .inner h1 {
	padding-top:0;
}

.conatiner_contact .inner h2 {
	padding-top:30px;	
	font:bold 14px Tahoma;
}

.conatiner_contact .inner a {
	text-decoration:none;
	color:#8c062f;
}
.conatiner_contact .inner p {
	padding-right:125px;
}
.conatiner_contact .inner table * {
	text-align:left;
	line-height: 18px;
	height:18px;
	vertical-align:top;
}

.conatiner_contact .inner table th {
	padding-bottom:4px;
}

/* ======================== Login Username and Password Pages ===================================== */
.login_user_container {
	background:#FAF6F5;
	padding-bottom:25px;
}
.login_user_container .inner {
	padding-top:10px;
	height:478px;
	width:978px;
	margin:0 auto;	
}
.login_user_container .inner  .topboxcontainer {
	height:310px;	
}

.login_user_container .inner .side_box {
	background:#FDFAFA;
	border:1px solid #E1D3C3;
	width:318px;
	height:310px;
	_height:272px;
	_width:308px;
	float:left;
}
.login_user_container .inner .side_box h2 {
	border-bottom:1px solid #E1D3C3;
	background:url(../images/side-box-h2-bg.png) repeat-x;
	font:normal 14px/18px Tahoma;
	height:19px;                     /* Fix for IE7 */
	color:#3f0a1b;
	padding:7px 14px 9px 7px;
	text-align:left;
}
.login_user_container .inner .side_box .side-box-container {
	width:300px;
	height:310px;
	_height:272px;
	padding:0 10px 10px;
	_padding:0 10px;	
}
.login_user_container .inner .side_box .side-box-container .rows {
		padding-top:10px;
		_padding-top:5px;
}
.login_user_container .inner .side_box .side-box-container .row1 {
		height:31px;
}
.login_user_container .inner .side_box .side-box-container .row2 {
		height:100px;
		text-align:left;
}
.login_user_container .inner .side_box .side-box-container .row3 {
		height:20px;
}
.login_user_container .inner .side_box .side-box-container .row4 {
		height:31px;
}
.login_user_container .inner .side_box .side-box-container .row5 {
		height:44px;
		padding:0;
		vertical-align:middle;
}
.login_user_container .inner .side_box .side-box-container .row5 .loginbtns {
	padding-top:10px;
}
.login_user_container .inner .side_box .side-box-container .row5 .loginbtns .button100 {
	margin-right:7px;
	_margin-right:5px;
}
.login_user_container .inner .side_box .side-box-container .rows .label {
	display:block;
	color:#3f0a1b;
	font:normal 12px/21px Tahoma;	
	height:21px;
	width:125px;
	float:left;
	text-align:left;	
}
.login_user_container .inner .side_box .side-box-container .rows .input {
	background:url(../images/user-input-bg.png) no-repeat;
	border:0 none;
	width:154px;
	height:21px;
	float:left;
	padding:5px 10px;
}

.login_user_container .inner .side_box .side-box-container .rows input.disabl {
	background:url(../images/user-input-disable-bg.png) no-repeat;
	color:#707070;
}
.login_user_container .inner .side_box .side-box-container .rows p {
	width:154px;
	height:21px;
	float:left;
	color:#3f0a1b;
	font:normal 12px/21px Tahoma;
	text-align:left;
}

.login_user_container .side_box h2 img {
	/*float:right;*/
	/*display:inline-block;*/
}
.login_user_container .inner .banner_box {
	border:1px solid #E1D3C3;
	width:645px;
	height:310px;
	_height:305px;
	_width:640px;
	float:right;
	position:relative;
}
.login_user_container .inner .side_box img {
	z-index: 1;
}
.login_user_container .inner .bottomboxcontainer {
	padding:9px 0 10px;
	/**margin-top:-22px;*/				/*Fix for IE 7*/
	height:108px;
	width:998px;
	clear:both;
}
.login_user_container .inner .bottomboxcontainer .bottom_box {
	width:318px;
	height:85px;
	float:left;
	padding-right:11px;
	_padding-right:9px;
}
.login_user_container .inner .bottomboxcontainer .bottom_box .inner {
	border:1px solid #E1D3C3;
	background:url(../images/bottom-box-bg.png) repeat-x;
	width:293px;
	height:85px;
	padding:0 15px 0 10px;
}
.login_user_container .inner .bottomboxcontainer .last_box {
	padding-right:0;
}
.login_user_container .inner .bottomboxcontainer .bottom_box .inner .text {
	width:200px;
	float:left;
}
.login_user_container .inner .bottomboxcontainer .bottom_box .inner .text h2 {
	color:#3f0a1b;
	font:normal 14px Tahoma;
	text-align:left;
	padding:9px 0 10px;
}
.login_user_container .inner .bottomboxcontainer .bottom_box .inner .text p {
	color:#8c062f;
	font:normal 12px Tahoma;
	text-align:left;
}
.login_user_container .inner .bottomboxcontainer .bottom_box .inner .text p a {
	color:#8c062f;
	text-decoration: none;
}
.login_user_container .inner .bottomboxcontainer .bottom_box .inner .icon {
	width:80px;
	float:right;
	padding:10px 0;
	text-align: right;	
}


/* ======================== On Screen Keyboard ===================================== */
.keyboard {
	background:url(../images/bgKeypad.png) no-repeat;
	width:608px;
	height:196px;
	position:absolute;
	top:105px;
	left:0px;
	padding:2px 18px 17px;
}

.keyboard h1 {
	color:#3f0a1b;
	font:normal 14px Tahoma;
	text-align:left;
	padding:15px 0 15px 23px;
	*height:20px;         /* Fix for IE7 */
}
.keyboard h1 img {
	position:absolute;
	right:25px;
	top:20px;
	cursor:pointer;	
}
.keyboard .keys {
	height:150px;
}
.keyboard .keys div {
	float:left;
	
}
.keyboard .alpha_keys {
	width:204px;
	padding:0 10px;
	_width:208px;
}
.keyboard .num_keys {
	width:65px;
	padding:0 10px;
}
.keyboard .sym_keys {
	width:273px;
	padding-left:10px;
}
.keyboard ul {
	list-style:none;
	padding-bottom:7px;
	height:21px;
	margin:0 auto;
}
.keyboard ul.key_13 {
	width:568px;	
}
.keyboard ul.key_12 {
	width:524px;	
}
.keyboard ul.key_10 {
	width:436px;
}
.keyboard ul.key_8 {
	width:276px;
}
.keyboard ul.key_7 {
	width:241px;
}
.keyboard ul.key_6 {
	width:205px;
}
.keyboard ul.key_5 {
	width:172px;
}
.keyboard ul li {
	width:28px;
	float:left;
	padding-right:7px;
	_padding-right:5px;
}
.keyboard ul li.shiftdel {
	width:63px;
}
.keyboard ul li.last {
	padding-right:0;
}
.keyboard ul li span {
	display:block;
	background:#ffead6 url(../images/bgKeypadButton.png) repeat-x;
	border:1px solid #EABCAF;
	width:28px;
	height:21px;
	color:#a31400;
	font:normal 12px/21px Tahoma;
	text-align: center;
	cursor: pointer;
}
.keyboard ul li span#delkey, .keyboard ul li span#shiftkey {
	width:63px;
}


/* ======================== Middle container for after-login pages ===================================== */
.middle_container {
	background:#FAF6F5;
	padding-bottom:27px;	
}

.middle_container .inner {
	display:table;
	width:1000px;
	margin:0 auto;
	overflow:auto;
	min-height:100%;
	
}

/*.middle_container .inner */.sidemenunew {
	width:187px;          /* chnaged on 21/9 evng*/
	border-left:1px solid #DACFB3;
	border-right:1px solid #DACFB3;
	float:left;	
}
/*.middle_container .inner*/ .sidemenunew ul,/*.middle_container .inner*/.sidemenunew li, /*.middle_container .inner*/.sidemenunew a {
	float:none;
	clear:both;
	display:block;	
	text-decoration:none;
}
/*.middle_container .inner*/ .sidemenunew ul li {
	background:#EFE7D9 url(../images/sidemenu-ul-bg.png) repeat-x;
}
/*.middle_container .inner*/ .sidemenunew ul li a {
	/*background:url(images/sidemenu-plus.png) 8px center no-repeat;*/
	background-position:8px center;
	background-repeat:no-repeat;
	color:#8c062f;
	font:bold 13px/33px Tahoma;
	height:33px;					/* Fix for IE 6 */
	text-decoration:none;
	padding-left:25px;
	text-align:left;
}
/*.middle_container .inner*/ .sidemenunew ul.sidesubmenu {
	background:#F4EAEB;
	border-bottom:1px solid #DACFB3;
}
/*.middle_container .inner*/ .sidemenunew ul.sidesubmenu li {
	background:none;
}
/*.middle_container .inner*/.sidemenunew ul.sidesubmenu li a {
	height:auto;
	color:#a84361;
	font:normal 12px/26px Tahoma;
	text-align:left;
	height:26px;
	background:url(../images/sidemenu-arrow.png) 18px center no-repeat;
	padding-left:30px;
}

/*.sidemenunew .cards {
	background:#A33655;
	color:white;
	width:157px;
	margin:8px auto;
	font:normal 12px Tahoma;
	padding:11px 9px;
}
.sidemenunew .cards h2 {
	font:bold 12px Tahoma;
	color:white;
}
.sidemenunew .cards * {
	text-align:left;
}
*/
.sidemenunew .cards {
	padding:8px 0;
	text-align:center;
}
.middle_container .inner .right_content {
	width:790px;
	_width:788px;
	float:right;
}
.clear {
	clear:both;
	height:0px;
}

/* ======================== Site Map ===================================== */
.sitemap_container {
	background:#fff;
	color:#000;	
}
.sitemap_container .inner {
	width:1000px;
	height:580px;
	margin:0 auto 30px;
	padding:20px 0 45px;
}
.sitemap_container .inner ul {
	list-style:none;
	padding:10px 0 10px 5px;
}

.sitemap_container .inner .left_nav {
	width:160px;
	height:575px;
	float:left;
	border-right:1px solid #000;
	padding-right:20px;
}
.sitemap_container .inner .left_nav h1 {
	font:normal 22px Tahoma;
	text-align:left;
	padding-bottom:15px;
}
.sitemap_container .inner .left_nav ul li {
	font:13px/27px Tahoma;
	text-align:left;
	height:27px;
	padding-left:18px;
}
.sitemap_container .inner .left_nav ul li.plus {
	background:url(images/sidemenu-plus.png) 3px center no-repeat;
}
.sitemap_container .inner .left_nav ul, .sitemap_container .inner .right_secs .section {
	background:#F3F2DC;
	border:1px solid #BFBFBF;
}
.sitemap_container .inner .right_secs {
	width:802px;
	height:600px;
	float:left;
	padding-left:15px;
}
.sitemap_container .inner .right_secs h1 {
	background:#F2F2F2;
	font:bold 15px/30px Tahoma;
	text-align:left;
	height:30px;
	padding-left:10px;
}
.sitemap_container .inner .right_secs .sections_container {
	padding-top:17px;
	height:600px;
}
.sitemap_container .inner .right_secs .sections_container .cols {
	float:left;
	padding-right:14px;
}
.sitemap_container .inner .right_secs .sections_container .last_col {
	padding:0;
}
.sitemap_container .inner .right_secs .section {
	width:185px;
	margin-bottom:15px;
	padding-right:3px;
}
.sitemap_container .inner .right_secs .section h2 {
	background:url(images/sidemenu-minus.png) 5px 10px no-repeat;
	font:bold 13px/18px Tahoma;
	text-align:left;
	height:18px;
	padding:4px 0 0 20px;
}
.sitemap_container .inner .right_secs .section li {
	background:url(images/sidemenu-arrow.png) 5px center no-repeat;
	font: normal 12px/22px Tahoma;
	text-align:left;
	height:22px;
	padding-left:14px;
	
}

/* ======================== Footer ===================================== */
.footer {
	/*background:#EAD6DA;*/
	background:#fff5ee;
	border-top:1px solid #fff;
	height:30px;
	width:100%;
	/*position:absolute;*/
	_position:static;
	align:center;
	bottom:0;
	/*margin-top:-25px;
	_margin-top:0;*/					/* Fix for IE 6 */
}

.footer_content {
	width:1000px;
	_width:985px;
	height:25px;
	margin:0 auto;
	font:normal 11px Tahoma;
	
}
.footer .copyright {
	color: #3f0a1b;
	line-height:25px;
	height:25px;
	width:150px;
	float:left;	
}
.footer .footer_nav {
	color:#8c062f;
	width:560px;
	_width:570px;
	float:right;
	padding-right:12px;	
}
.footer .footer_nav ul {
	list-style:none;
	line-height:25px;
	height:25px;
}
.footer .footer_nav ul li {
	float:left;
}

.footer .footer_nav ul li.sperator {
	padding-right:8px;
}

.footer .footer_nav ul li a {
	text-decoration:none;
	color:#8c062f;
}

:root .footer .footer_nav {      		/*  Fix for IE9 + IE10pp4 */ 
	width:570px \0/IE9;
}

.displayMessage {
	background:#99FFFF;
	border:1px solid grey;
	min-height:28px;
	_height:28px;
	font:bold 12px/28px Tahoma;
	color:#000000;
}
.padding1{
	padding-left:30px;
	padding-top:8px
}
.ans{
	width:95%;
	text-align:justify;
	margin-left:35px;
	
}