            body 
            {
                background: #ffffff; 
                font-family: 'Open Sans', sans-serif; 
                font-size: 14px;
                color: #1a1a1a;
            }
            * {margin: 0; padding: 0;}
            img {border: none;}
            a, a:visited, a:hover {text-decoration: none;}

            .container {
                width: 960px; 
                margin: 0 auto;

            }

            .ext_row{
                display: inline-block;
                margin-top: 20px;
            }

            .borderTop {
                border-top: 1px solid #cbcbcb;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                display:inline-block;
            }

            .secheader{
                padding: 20px 0 10px 10px;
                background: #eee; 
                
            }
            .section1 {
                background: #eee url(images/bgz.jpg) no-repeat top; 
                padding: 55px 0 0 10px; 
                height: 360px;
                padding-left: 170px;
            }
            .leftb {
                display: inline-block;
                margin-top: 55px;
                padding-right: 18px;
            }
            .rightb {
               
                display: inline-block; 
                text-align: center;
                position: absolute;
                margin-top: 4px;

            }
            .logo {
                width: 176px; 
                height: 56px;
                margin: auto;
                
            }

            .logoh {
                width: 276px; 
                height: 96px;
                
            }

            .txts { 
                color: #1a1a1a; 
                font-size: 20px;
                margin-top: 10px;
                font-weight: bold;
                height: 35px !important;
            }
            .btn {
                width : 185px;
                height : 52px;
                display: inline-block;
                color: #fff;
                font-size: 17px;
                text-align: center;
                line-height: 50px;
                border-radius: 5px;
                background-color: #007cff;
            }

            .btn a{
                margin-top: 2px;
            }
            
            .btn:hover {
                color: #fff;
                background-color: #0070e6;
            }

            .ext_txt{
                width: 370px;
                padding-bottom: 30px;
                text-align: -webkit-auto;
            }
            
            .sectionBtn{
                background: #eee;
                padding: 0px 50px 30px 50px;
                display: inline-block;
                margin: 0px;
                width: 860px;
                
            }


            .borderLeft {
                border-left: 1px solid #cbcbcb;
                position: absolute;
                height: 620px;
                margin-top: 0px;
                margin-left: -66px;
            }

            .borderTop {
              border-top: 1px solid #cbcbcb;
              width: 100%;
              margin-left: auto;
              margin-right: auto;
              display:block;
            }

            .box{
                height: 100%;
                float:left; 
                width:285px;
                text-align: center;
                padding-bottom: 30px;
                margin-left: 30px;
            }
            .box1{
                height: 100%;
                float:left; 
                width:285px;
                text-align: center;
                padding-bottom: 30px;
                margin-left: 180px;
            }


            .section2{
                background: #eee;
                margin-top: -4px;
                padding: 10px 50px 50px 50px;

                
            }
            .section2 p{
                font-size: 16px;
            }
            
            .insection1 {
                background: #eee url(images/bgz.jpg) no-repeat top; 
                padding: 54px 0 0 10px; 
                height: 100px;
                color: #2a2a2a; 
            }
            .txt { 
                color: #2a2a2a; 
                font-size: 30px;
                text-align: center;
                margin-top: 15px;
            }

            .txt2 {
                color: #2a2a2a;
                font-size: 24px;
                text-align: center;
            }
            .txt3 {
                color: #2a2a2a;
                font-size: 40px;
                text-align: center;
                margin-top: 30px;
            }
            
            .insection2{
                background: #eee;
                padding: 10px 50px 50px 50px;
                color: #2a2a2a; 
                
            }
            .insection2 p{
                margin-top: 20px;
            }
            
            .insection2 h3{
                margin-bottom: 10px;
            }
            
            .insection2 b{
                font-weight: 800;
            }
            
            .insection2 ul {
                margin-top: 10px;
            
            }
            .insection2 ul li {
                line-height: 20px;
                margin-left: 30px;
            }
            .noselect {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
  
            .footer { margin: 20px 0 20px 0; }
            .fast_nav {font-size: 12px; text-align: center; overflow: hidden; padding-top: 1px;}
            .fast_nav li {border-left: 1px solid #747070; color: #747070; display: inline; padding: 0 7px;}
            .fast_nav li.first {padding-left: 0; border: none;}
            .fast_nav a {color: #747070; text-decoration: none;}
            .fast_nav a:hover {text-decoration: underline;}



              /* #### bootstrap Form #### */
        .bootstrap-frm {
            margin-left:auto;
            margin-right:auto;
            max-width: 500px;
            padding: 20px 30px 20px 30px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: #2a2a2a;
        }

        .bootstrap-frm label {
            display: block;
            margin: 0px 0px 5px;
        }
        .bootstrap-frm label>span {
            float: left;
            width: 20%;
            text-align: right;
            padding-right: 10px;
            margin-top: 10px;
        }
        .bootstrap-frm input[type="text"], .bootstrap-frm input[type="email"], .bootstrap-frm textarea, .bootstrap-frm select{
            border: 1px solid #CCC;
            color: #888;
            height: 20px;
            line-height:15px;
            margin-bottom: 16px;
            margin-right: 6px;
            margin-top: 2px;
            outline: 0 none;
            padding: 5px 0px 5px 5px;
            width: 70%;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;    
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .bootstrap-frm textarea{
            height:100px;
            padding: 5px 0px 0px 5px;
            width: 70%;
        }
        .bootstrap-frm .button {
            background: #FFF;
            border: 1px solid #CCC;
            padding: 10px 25px 10px 25px;
            color: #333;
            border-radius: 4px;
        }
        .bootstrap-frm .button:hover {
            color: #333;
            background-color: #EBEBEB;
            border-color: #ADADAD;
        }

        .tyinsection1{
            background: url(images/bgz.jpg) no-repeat top; 
            padding: 55px 0 0 10px; 
            height: 250px;
        }



