@font-face {
	font-family: 'ge-corporate-icons';
	src: url('../fonts/ge-corporate-icons.ttf?761hjh') format('truetype'),
		url('../fonts/ge-corporate-icons.woff?761hjh') format('woff'),
		url('../fonts/ge-corporate-icons.svg?761hjh#ge-corporate-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon,.search-nav__search-icon, .search-nav__button{
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'ge-corporate-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	font-feature-settings: 'liga' 1;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon--no-liga {
	font-feature-settings: normal;
	font-variant-ligatures: normal;
}

.icon--button-arrow::before, .search-nav__button:before {
	content: '\e908';
}

.icon--arrow-left::before {
	content: '\e60c';
}

.icon--arrow-right::before {
	content: '\e608';
}

.icon--menu::before {
	content: '\e900';
}

.icon--close::before {
	content: '\e907';
}

.icon--search::before, .search-nav__search-icon::before {
	content: '\e914';
}

.icon--globe::before {
	content: '\e912';
}

.icon--pinterest::before {
	content: '\e902';
}

.icon--instagram::before {
	content: '\e901';
}

.icon--linkedin::before {
	content: '\e903';
}

.icon--youtube::before {
	content: '\e904';
}

.icon--twitter::before {
	content: '\e905';
}

.icon--facebook::before {
	content: '\e906';
}

.icon--arrow-down-thin::before {
	content: '\e909';
}
