@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'gesans-regular';
  src: url('../fonts/gesans-regular/gesans-regular.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/gesans-regular/gesans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gesans-regular/gesans-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gesans-regular/gesans-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gesans-regular/gesans-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gesans-regular/gesans-regular.svg#svggesans-regular') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'gesans-bolditalic';
  src: url('../fonts/gesans-bold-Italic/gesans-bolditalic.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/gesans-bold-Italic/gesans-bolditalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gesans-bold-Italic/gesans-bolditalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gesans-bold-Italic/gesans-bolditalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gesans-bold-Italic/gesans-bolditalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gesans-bold-Italic/gesans-bolditalic.svg#svggesans-bolditalic') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'gesans-bold';
  src: url('../fonts/gesans-bold/gesans-bold.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/gesans-bold/gesans-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gesans-bold/gesans-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gesans-bold/gesans-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gesans-bold/gesans-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gesans-bold/gesans-bold.svg#svggesans-bold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'gesans-italic';
  src: url('../fonts/gesans-Italic/gesans-italic.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/gesans-Italic/gesans-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gesans-Italic/gesans-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gesans-Italic/gesans-italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gesans-Italic/gesans-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gesans-Italic/gesans-italic.svg#svggesans-italic') format('svg'); /* Legacy iOS */
}