#ge_careers_search_loader, #ge_careers_search_results_loader{
    display:none;
    background:url('../images/loader.gif');
    background-position: center center;
    background-repeat:no-repeat;
    height: 128px;
    clear:both;
}
#opportunities-filters .row form div.custom-span {
    width: 225px;
}
#opportunities-filters .row form div.hidden-phone{
    float: right;
    width: 16%;
}
#opportunities-filters .row form .form-item, #opportunities-filters .row form .form-actions,
#opportunities-filters .row form .border-left.custom-span{
    margin-bottom: 10px;
    margin-top: 10px;
}
#opportunities-filters .row form div.border-left{
    width: 180px;
    //border-left: 1px solid #d0d4d4;
    //margin-left: 19px;
    //padding-left: 20px;
}
#job_search_results .jobs ul.clearfix {
    border-top: 1px solid #d6d6d6;
    margin-bottom: 40px;
    padding-top: 20px;
}

#job_search_results .jobs ul .job {
    color: #666666;
}
#job_search_results .jobs ul .job .title {
    color: #333333;
    font-family: "ge-inspira-1","ge-inspira-2",Arial,sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}
#job_search_results .jobs ul .job .date {
    text-align: right;
}
#job_search_results .jobs ul .job + .job {
    margin-top: 15px;
}
#job_search_results #careers-search-load-more{
   height: 28px;
   cursor: pointer;
}
#job_search_results, .container.records-list{
  clear:both;
}
a{
  cursor: pointer;
}
#block-ge-careers-search-ge-careers-search-opportunities{
  float: left;
  width: 70%;
}
#opportunities-filters  div.pull-right{
  width: 20%;
}
#opportunities-filters  div.pull-right li{
  line-height:25px;
}
#ge-careers-search-settings{
  margin-left:50px;
  margin-bottom:20px;
}
#ge-careers-search-settings input[type="text"] {
  width: 50%;
}
#ge-careers-search-settings label{
  margin-bottom: 10px;
  font-weight:bold;
}
#ge-careers-search-settings .description{
  color:#a6a6a6;
}
#ge-careers-search-settings #edit-actions{
  width: 250px;
}


#job_search_results .accordion{
	margin-bottom: 0px;
}

#job_search_results  .accordion-group{
	margin-bottom: 0px;
}

#job_search_results .accordion .accordion-heading.inline {
	margin-bottom: 0px;
}

#job_search_results .accordion-heading .accordion-toggle{
	padding: 0;
}

#job_search_results .pull-right {
	float: none;
}

#job_search_results .geui-button2 {
    display: inline-block;
    font-family: "ge-inspira-1","ge-inspira-2",Arial,sans-serif;
    font-weight: 700;
    line-height: 24px;
    min-height: 28px;
    padding: 8px 30px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
#job_search_results .geui-button2.blue {
  color: white !important;
  background-color: #019ddd !important;
}
#job_search_results .geui-button2.blue[class="geui-square-button"]:hover {
  background-color: #13bafe !important;
}
#job_search_results .geui-button2.blue:hover,
#job_search_results .geui-button2.blue:focus {
  background-color: #13bafe !important;
}
#job_search_results .geui-button2.blue.disabled,
#job_search_results .geui-button2.blue[disabled] {
  color: white !important;
  background-color: #019ddd !important;
}
#job_search_results .geui-button2.blue.disabled[class="geui-square-button"]:hover,
#job_search_results .geui-button2.blue[disabled][class="geui-square-button"]:hover {
  background-color: #13bafe !important;
}
#job_search_results .job ul {
    list-style: disc outside none;
}
#job_search_results .job-title{
    font-weight: 600;
}

#job-search .form-item, .form-actions {
    margin-bottom: 0em;
    margin-top: 0em;
}

#job_search_results .accordion-inner{
    border-top: 0px;
}

#job_search_results .jobs .heading .gefont {
    cursor: pointer;
}
#job_search_results .jobs .heading a {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.1em;
    margin-top: -25px;
    float: right;
}

@media (max-width: 767px) {
  .span10 {
    width: 60% !important;
  }
}
/*.form-type-radio{
  float:left;
  width: 300px;
  margin-right:10px;
}*/
.form-type-radio  > input[type='radio'] {
  background-image: url("/sites/all/themes/ge_2012/assets/img/radio_btn.png");
  background-position: 265px 8px;
  background-repeat: no-repeat;
  background-size: 27px 27px;
}
.form-type-radio  > input[type='radio']:checked {
   background-image: url("/sites/all/themes/ge_2012/assets/img/radio_btn_3.png");
}
label.option{
  padding-left: 10px!important;
}
.geui-radio-button-group.row{
  margin-left: 0px;
}
.career-guide-jobs.jobs{
  background-color: #f2efeb !important;
  color: #333333 !important;
  padding-top:40px;
  padding-bottom:20px;
}
.career-guide-jobs.jobs  .heading{
  margin: 0 20%;
  text-align: center;
}
.career-guide-jobs h2 {
    line-height: 1em;
    margin-bottom: 1.15385em;
    text-align: center;
    font-size: 25px!important;
}
.career-guide-jobs.jobs #career-guide-search-again{
float: right;
margin-right: 20px;
color: #0174a1;
cursor: pointer;
}
.career-guide-jobs p.copy{
  color: #666666;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.career-guide-jobs p.copy span {
    color: #333333;
}
.career-guide-jobs ul.clearfix li{
  padding:0px 20px;
}
#ge-careers-guide-form .border-left.custom-span {
   text-align: center;
   padding:0px!important;
}
#ge-careers-guide-form #edit-search-submit{
  padding: 8px 0 8px 0;
   background-image: url("../../img/icon_white_sprite_1x.png");
    background-position: 0 -320px;
    vertical-align: middle;
color: white;
}
.geui-button.desaturated-red:hover, .geui-button.desaturated-red:focus {
    background-color: #988792 !important;
}
#opportunities-filters .row .search-nav li{
  float: left;
  padding: 5px 20px;
}
#opportunities-filters .row ul.search-nav li + li {
    border-left: 1px solid #d0d4d4;
    padding-right: 0;
}
#ge-careers-search-opportunities-form .pull-right.reset-btn #reset-filters{
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  line-height: 40px;
}
select.select-ui{
   padding: 4px 10px!important;
   height: 40px!important;
   color: #555555;
   display: inline-block;
   background-color:none!important;
   border: 1px solid #AAA!important;
}
.careers-opportunities .form-type-select{
  height:40px!important;
}
#block-ge-careers-search-ge-careers-search-opportunities .form-item-search-country, #block-ge-careers-search-ge-careers-search-opportunities .form-item-search-state-province, #block-ge-careers-search-ge-careers-search-opportunities .form-item-search-business, #block-ge-careers-search-ge-careers-search-opportunities .form-item-search-business-segment{
   margin-bottom:0px;
   margin-top:0px;
}

select.select-ui optgroup, select.select-ui option{
  background-color: #eee;
  cursor: pointer;
  font: 14px Helvetica,Arial;
  text-align: left;
  width: 100%;
  color: #333333;
}
select.select-ui optgroup option, select.select-ui option{
  padding:10px 0px 5px 5px;
  color: #333333;
  font-family: "ge-inspira-1","ge-inspira-2",Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.2em;
}
#ge-careers-search-careers-form select{
  width:100%!important;
}
