#search, #app{
  font-family: 'ge-inspira';
  font-size: medium;
}
#GESearch{
  width: 75%;
}

#searchResults li{
  list-style: none;
  padding-bottom: 15px;
}

ul#searchResults{
  padding: 0;
}

#title{
  color: #259cdd;
}

#stock{}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Angular Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#stock-interval{
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
}
#stock-interval li{
  float: left;
  list-style: none;
  margin: 0 105px 15px 30px;
}
#stock-interval a{
  color: white;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*Fonts*/
@font-face {
    font-family: ge-inspira;
    src: url(fonts/GEInspRg.eot) format("eot");
    src: url(fonts/GEInspRg.eot?#iefix) format("embedded-opentype"), url(fonts/GEInspRg.woff) format("woff"), url(fonts/GEInspRg.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ge-inspira;
    src: url(fonts/GEInspIt.eot) format("eot");
    src: url(fonts/GEInspIt.eot?#iefix) format("embedded-opentype"), url(fonts/GEInspIt.woff) format("woff"), url(fonts/GEInspIt.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: ge-inspira;
    src: url(fonts/GEInspMd.eot) format("eot");
    src: url(fonts/GEInspMd.eot?#iefix) format("embedded-opentype"), url(fonts/GEInspMd.woff) format("woff"), url(fonts/GEInspMd.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: ge-inspira;
    src: url(fonts/GEInspMdIt.eot) format("eot");
    src: url(fonts/GEInspMdIt.eot?#iefix) format("embedded-opentype"), url(fonts/GEInspMdIt.woff) format("woff"), url(fonts/GEInspMdIt.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: ge-sans;
    src: url(fonts/GESans-Regular.eot) format("eot"), url(fonts/GESans-Regular.woff) format("woff"), url(fonts/GESans-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ge-sans;
    src: url(fonts/GESans-Italic.eot) format("eot"), url(fonts/GESans-Italic.woff) format("woff"), url(fonts/GESans-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: ge-sans;
    src: url(fonts/GESans-Bold.eot) format("eot"), url(fonts/GESans-Bold.woff) format("woff"), url(fonts/GESans-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: ge-sans;
    src: url(fonts/GESans-BoldItalic.eot) format("eot"), url(fonts/GESans-BoldItalic.woff) format("woff"), url(fonts/GESans-BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: ge-serif;
    src: url(fonts/GESerif-Regular.eot) format("eot"), url(fonts/GESerif-Regular.woff) format("woff"), url(fonts/GESerif-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ge-serif;
    src: url(fonts/GESerif-Italic.eot) format("eot"), url(fonts/GESerif-Italic.woff) format("woff"), url(fonts/GESerif-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: ge-serif;
    src: url(fonts/GESerif-Bold.eot) format("eot"), url(fonts/GESerif-Bold.woff) format("woff"), url(fonts/GESerif-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: ge-serif;
    src: url(fonts/GESerif-BoldItalic.eot) format("eot"), url(fonts/GESerif-BoldItalic.woff) format("woff"), url(fonts/GESerif-BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
}

/*Animation*/
/*.animate-switch.ng-animate {
  -webkit-transition:all linear 2s;
  transition:all linear 2s;
}
.animate-switch.ng-leave,
.animate-switch.ng-leave.ng-leave-active{
  display:none;
}
.animate-switch.ng-enter {
  opacity: 0;
}
.animate-switch.ng-enter.ng-enter-active {
  opacity:1;
}*/






.job-alert  .modal-body{ padding:15px 15px 15px 35px;}
.job-alert .modal-header{background-color:#015bb7; color:white; padding:40px}
.job-alert .close{ position:absolute; right:20px; top:20px;}
.job-alert .modal-header h2{ padding:20px 20px 0px 0px;}
.job-alert .modal-content button.close{ text-shadow:none; color:#fff; opacity:1; font-weight:normal; font-size:18px;  }
.job-alert .modal-content, .watch-video .modal-content {    -webkit-box-shadow: none ;     box-shadow:none ;	border-radius: 0px;   border: none;    font-family:'gesans-regular', Arial, sans-serif;}
.job-alert .modal-footer{ border: none; padding:15px 42px; }

.watch-video .modal-content button.close { background-color:#0861bb; padding:10px 30px; color:#fff; opacity:1; font-weight: normal; font-size:15px;}
/*.watch-video .modal-dialog{ top:100px;}*/
.watch-video .modal-header{ background-color: transparent; border:none; padding:0;}
.watch-video .modal-content { background-color:transparent; padding:0;}
.watch-video .modal-body img, .watch-video .modal-body, .watch-video .modal-body video{ width:100%; max-width:100%; padding:0;}

/* form starting stylings ------------------------------- */
.job-alert .group 			  {
position:relative;
margin-bottom:20px;
float:left;
width:50%;
font-family:'gesans-regular', Arial, sans-serif;
}
.job-alert input 				{
font-size:14px;
padding:10px 10px 10px 5px;
display:block;
width:90%;
border:none;
border-bottom:1px solid #dddee0;
}
.job-alert input:focus 		{ outline:none; }

/* LABEL ======================================= */
.job-alert label 				 {
color:#565759;
font-size:16px;
font-weight:normal;
position:absolute;
pointer-events:none;
left:5px;
top:10px;
transition:0.2s ease all;
-moz-transition:0.2s ease all;
-webkit-transition:0.2s ease all;
font-family:'gesans-regular', Arial, sans-serif;
}

/* active state */
.job-alert input:focus ~ label, input:valid ~ label 		{
top:-5px;
font-size:14px;
color:#27afdf;
}

/* BOTTOM BARS ================================= */
.job-alert .bar 	{ position:relative; display:block; width:90%; }
.job-alert .bar:before, .bar:after 	{
content:'';
height:1px;
width:0;
bottom:1px;
position:absolute;
background:#27afdf;
transition:0.2s ease all;
-moz-transition:0.2s ease all;
-webkit-transition:0.2s ease all;
}
.job-alert .bar:before {
left:50%;
}
.job-alert .bar:after {
right:50%;
}

/* active state */
.job-alert input:focus ~ .bar:before, .job-alert input:focus ~ .bar:after {
width:50%;
}

/* HIGHLIGHTER ================================== */
.job-alert .highlight {
position:absolute;
height:60%;
width:100px;
top:25%;
left:0;
pointer-events:none;
opacity:0.5;
}

/* active state */
.job-alert input:focus ~ .highlight {
-webkit-animation:inputHighlighter 0.3s ease;
-moz-animation:inputHighlighter 0.3s ease;
animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
from { background:#27afdf; }
to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
from { background:#27afdf; }
to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
from { background:#27afdf; }
to 	{ width:0; background:transparent; }
}
.job-alert .form-group label{ left:150px;}

.stockloader{
      height: 300px;
    text-align: center;
    display: table;
    width: 100%;
}
.stockloader p{
  display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.stockloader img{
  vertical-align: middle;
}

#stock-interval a.current{
  text-decoration: underline;
}
