@charset "utf-8";
/* CSS Document */

#search-result-page {}
#search-result-page .search-nav,
#search-result-page .search-nav__input-fake,
/*#search-result-page .search__left-full-white-line,*/
#search-result-page .stock-ticker,
#search-result-page .search__white-gradient-rectangle,
#search-result-page  .full_Image,
#search-result-page .social-nav{ display:none !important;}
#search-result-page .social-nav_overlay{ display:block; margin-top:20px;}
.search-nav__input-wrapper.inner-position {
	position:relative;

	   transform: translate(0,-30px);
    -webkit-transform: translate(0,-30px);
    -o-transform: translate(0,-30px);
    -moz-transform: translate(0,-30px);

}
#search-result-page .search__left-full-white-line{
/*top: 26.5%;
     height: 55px;
	/* Updated on 20/10/2016 */

    height: 52px; /* 24/10/2016 changes from 55 to 52*/
    left: 52px; top:119px !important;}


#search-result-page	.search-nav__input-fake, #search-result-page input[type="search"].search-nav__input-real {
    font-size: 35px;
    font-family:'gesans-regular', Arial, sans-serif;
	    padding: 0px 0px 0px 82px;
}
#search-result-page .search-nav__input-wrapper {	height: 55px; width:60%}
.search-nav__input-wrapper.inner-position .search-nav__search-icon{ position:relative;}
.texture_gradient_inner {
	position: absolute;
	top:0px;
	width:100%;
	height:calc(100% - 30px);
background: rgba(35,97,168,1);
background: -moz-linear-gradient(top, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(35,97,168,1)), color-stop(100%, rgba(7,142,204,1)));
background: -webkit-linear-gradient(top, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
background: -o-linear-gradient(top, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
background: -ms-linear-gradient(top, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
background: linear-gradient(to bottom, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2361a8', endColorstr='#078ecc', GradientType=0 );
}
.search-result-overlay {
    display:none ;
    /*position: fixed;*/
    top: 470px;
	left:0px;
    bottom: 0;
    /*z-index: 3010;*/
    /*overflow-y: scroll;*/
    width: 100%;
	background: #fff;


}

.search-result-overlay__sidebar {
  position: relative;
  margin-top: 8px;
  padding-top: 22px;
  height: 100%;
}

/*.search-result-overlay__sidebar::before, .search-result-overlay__sidebar::after {
  content: '';
  position: absolute;
  top: 0;
  left: -15px;
  bottom: 0;
  width: 1px;
  background: #e9e9e9;
  z-index: 7003;
}
*/
.search-result-overlay__sidebar::after {
  bottom: auto;
  height: 35px;
  background: #00b5e2;
}

.search-result-overlay__results-indicator {
  display: block;
  padding: 0 30px 5px;
  height: 42px;
  font-size: 16px;
  line-height: 40px;
}

.search-results__list {
  list-style: none;
  padding: 0 30px;
  margin-bottom:0px;
}

.search-results__result {
  margin-bottom: 40px;
}

.search-results__result-title {
  font-size: 16px;
  color:#000;
}

.search-results__result-description {
  margin: 0;
  color:#63666a;
  font-size:15px;
}
.search-results__result-link{ color:#00b3df; font-size:13px;}
.search-results__result-link:hover{ color:#00b3df;}

.search-results__related {
  overflow: hidden;
  margin: 20px;
  padding: 10px;
  /*background: #fafafa;*/
}
.search-results__related {
	border-left:solid 1px white;
	margin:0 0 0 0px;
	padding:30px;
	position:relative;
}
.load-more-btn {
	border-left:solid 1px #fff;
	margin:0 0 0 0px;
	position:relative;
}

.search-results__related-title {
  font-size: 16px;
}

.search-results__related-list {
  float: left;
  margin: 20px 0 30px;
  padding: 0;
  width: 45%;
  list-style: none;
}

.search-results__related-list + .search-results__related-list {
  margin-left: 5%;
}

.search-results__list li:last-child{ /*border-bottom:1px solid  #e3e3e3; update on 20/10/2016*/ padding-bottom:40px; margin-bottom:0px;}
.search-results__related-item {
  margin-left: 0px;
  padding: 5px 0 10px;
 /* border-bottom: 1px solid #b7b7b7;*/
}

.search-results__related-link {
  color: #000000;
  font-size:15px;
}
.search-results__related-link {
  position: relative;

}


.search-results__related-link::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 30px;
  border-bottom: 1px solid #b8b8b8;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.search-results__related-link:hover::after {
  width: 100%;
  border-color: #b8b8b8;

}
.search-results__related-link:hover, .search-results__related-link:active, .search-results__related-link:focus {
  color: #000000;
  text-decoration:none;
}

.button {
  display: block;
  padding: 0 35px;
  height: 45px;
  color: #333;
  font-size: 16px;
  line-height: 43px;
  border: 1px solid #32bee6;
  border-radius: 23px;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button:hover, .button:active, .button:focus {
  color: #fff;
  text-decoration: none;
  background: #32bee6;
}

.button--center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
	  margin-bottom:25px;
	  text-align:center;
}
.search-result-overlay__main {
    position: relative;
    padding-top: 11px;
	margin-left:52px
}

/*.search-result-overlay__main::before, .search-result-overlay__main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background: #e9e9e9;
	font-family:'gesans-regular', Arial, sans-serif;
}03-oct-2016
*/
.main_content_block_container:after{
      content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background: #e9e9e9;
  font-family:'gesans-regular', Arial, sans-serif;
}

.hero-block .search-result-overlay__main::after {
    bottom: auto;
    height: 35px;
    background: #00b5e2;
}


.search-result-overlay__results-indicator {
    display: block;
    padding: 0 30px 5px;
    height: 42px;
    font-size: 16px;
    line-height: 40px;
}
.search-result-overlay__results-indicator {
    display: block;
    padding: 8px 30px 5px;
    height: 42px;
    font-size: 16px;
    line-height: 40px;
}
.portlet {
  margin-bottom: 20px;

  height: auto;
  min-height: auto;
  box-shadow: 0px 2px 10px 1px rgba(82, 82, 82, 0.15);
  font-size: 15px;
}
.hero-block{ /* position:fixed;*/
    width: 100%;
	box-shadow:none;
	  padding-top:45px;/*Updated on 24/10/2016*/

	  display:none;
	 }

.hero-block .portlet__link { margin-top:14px;}
	.hero-block .col-xs-12{ padding-left:2px; padding-right:30px}
.hero-block .search-result-overlay__main{ margin-left:50px; }
.hero-block .search-result-overlay__sidebar::before, .hero-block .search-result-overlay__sidebar::after{ display:none;}
.hero-block  .search-result-overlay__sidebar{ padding-top:0px; margin-left:-2px;}
#hero-quicklinks .portlet__inner{ padding-bottom:0px;}
/** Revised 11/02/2016 [Original Code] --> #hero-quicklinks .search-result-overlay__sidebar{ padding-top:47px !important; margin-left:-2px;} */
#hero-quicklinks .search-result-overlay__sidebar{ padding-top:61px !important; margin-left:-2px;}
.hero-block .stock_text{ display:inline-block; font-size:32px; margin-left:80px;}
.hero-block .stock_text b{ font-size:16px; font-weight:normal; color:#86b7df; }
.hero-block .stock_update{ font-size:16px; font-weight:normal; color:#86b7df; float:right; margin-top:28px;     margin-right: -84px; }
.hero-block .stock_text strong{ font-size:16px; font-weight:normal; }
.hero-block .stock_text i, .hero-block .stock_update i, .glyphicon-arrow-up { color:#b2ffbf; font-size:14px}

/* Updated the css on 27/10/2016*/
#stock-interval{
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
}
#stock-interval li{
  float: left;
  list-style: none;
  margin: 0 105px 15px 30px;
}
#stock-interval a{
  color: white;
}
#stock-interval a.current {
    text-decoration: underline;
}
.hero-block .portlet__inner:before {
    content: '';
    position: absolute;
    /*top: 0; updated on 10/20/2016*/
	top:-19px;
    left: 0;
    bottom: 0;
    width: 1px;
    background: #e9e9e9;
	opacity:0.5;
    z-index: 7003;
    font-family: 'gesans-regular', Arial, sans-serif;
}
.hero-block .portlet__inner::after {
    bottom: auto;
    height: 35px;
    background: #00b5e2;
}
.display_inline{ display:inline-block !important;}
.portlet.hero-block.pad3px{ padding-left:3px;}
.social-nav_overlay{ display:none;  background: rgba(35,97,168,1);
background: -moz-linear-gradient(top, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(35,97,168,1)), color-stop(100%, rgba(7,142,204,1)));
background: -webkit-linear-gradient(top, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
background: -o-linear-gradient(top, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
background: -ms-linear-gradient(top, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
background: linear-gradient(to bottom, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2361a8', endColorstr='#078ecc', GradientType=0 ); padding:12px 0px 12px 20px; width:100%  }

.social-nav_overlay .social-nav_inner_page{ padding-left:20px;}
/* sidebar 14/9/16 */
.portlet--sidebar--business-card .portlet__bottom-sticky{ color:#333;}
.portlet--sidebar--job-alert .portlet__bottom-sticky{ color:#333;}
.portlet--sidebar--download .portlet__bottom-sticky {color:#333;}
.portlet--sidebar--watch-video .portlet__bottom-sticky {color:#333;}
.portlet--sidebar--download .portlet__link-inner img{ width:25px; height:25px; float: right;}
.portlet--sidebar--watch-video .portlet__link-inner img{ width:25px; height:25px; float: right;}
.portlet--blue-gradient.portlet--sidebar--download .portlet__bottom-sticky{ color:#fff;}
.portlet--blue-gradient.portlet--sidebar--watch-video .portlet__bottom-sticky {color:#fff;}
.portlet--sidebar--external-link-image .portlet__bottom-image img{ width:100%;}
.portlet__img_container img{ width:100%; }
.portlet--sidebar--download .portlet__img_container img{ width:100%;}
.portlet--sidebar--watch-video .portlet__img_container img{ width:100%;}
.portlet .portlet__inner .portlet__category{ padding:30px 30px 0 30px; display:block;}
.portlet .portlet__inner .portlet__title { padding:0 30px ; display:block;}
.portlet .portlet__inner .portlet__subtitle { padding:0 30px ; display:block;}
.portlet .portlet__inner .portlet__bottom-sticky{ padding:0 30px;}
.portlet .portlet__inner .portlet__bottom-image{ padding:20px 0 0 0 0;}
.portlet .portlet__inner .portlet__bottom-sticky{ margin-top:40px; padding-bottom:30px;}
.portlet--sidebar--events .portlet__bottom-sticky { color:#333;}
.portlet--sidebar--events ul, .portlet--sidebar--events ul li{ margin:0; list-style: none;}
.portlet--sidebar--events ul { display:block; clear:both; padding:0; margin-top:40px;}
.portlet--sidebar--events ul li {border-bottom:solid 1px #e8e9e8; font-size:14px;}
.portlet--sidebar--events ul li a{ display:block; clear:both; padding:20px 30px; color:#333;}
.portlet--sidebar--events .event_link_container { width:100%;}
.portlet--sidebar--events .event_link_container .event_link { width:75%; float:left;}
.portlet--sidebar--events .event_link_container .event_icons{ width:10%; float:left;}
.portlet--sidebar--events .event_link_container .event_comment{ width:15%; float:left;}
.portlet--blue-gradient.portlet--sidebar--events ul li a{ color:#fff;}
.portlet--blue-gradient.portlet--sidebar--events .portlet__bottom-sticky{ color:#fff;}
.portlet--blue-gradient.portlet--sidebar--events ul li {border-bottom-color: #3585c6;}
.portlet--blue-gradient.portlet--sidebar--events ul li a{background: rgba(3,94,186,1);
background: -moz-linear-gradient(top, rgba(3,94,186,1) 0%, rgba(30,107,179,1) 50%, rgba(25,109,182,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,94,186,1)), color-stop(50%, rgba(30,107,179,1)), color-stop(100%, rgba(25,109,182,1)));
background: -webkit-linear-gradient(top, rgba(3,94,186,1) 0%, rgba(30,107,179,1) 50%, rgba(25,109,182,1) 100%);
background: -o-linear-gradient(top, rgba(3,94,186,1) 0%, rgba(30,107,179,1) 50%, rgba(25,109,182,1) 100%);
background: -ms-linear-gradient(top, rgba(3,94,186,1) 0%, rgba(30,107,179,1) 50%, rgba(25,109,182,1) 100%);
background: linear-gradient(to bottom, rgba(3,94,186,1) 0%, rgba(30,107,179,1) 50%, rgba(25,109,182,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#035eba', endColorstr='#196db6', GradientType=0 );}
.portlet--sidebar--social-media .portlet__title{ padding-top:30px !important; text-align:center; font-size:16px !important;}
.portlet--sidebar--social-media .s_media_container{ width:45%; margin:0 auto; padding-bottom:30px;}
.portlet--sidebar--social-media .s_media_container .media_block a:hover{ text-decoration:none;}
.portlet--sidebar--social-media .s_media_container .media_block i{  font-size:16px; color:#686868;padding: 5px;
    width: 25px;
    height: 25px;
    border: 1px solid #989898;
    border-radius: 25px;}
	.portlet--sidebar--social-media .s_media_container .media_block i.icon{ font-weight:normal;}
.portlet--sidebar--social-media .s_media_container .media_block{  float:left;}
.portlet--sidebar--social-media .s_media_container .media_block .padder{ padding:10px; width:auto;}
.portlet--blue-gradient.portlet--sidebar--social-media .portlet__title{ color:#fff;}
.portlet--blue-gradient.portlet--sidebar--social-media .s_media_container .media_block i{ font-size:16px; color:#FFF;  border: 1px solid #fff; }


.portlet--sidebar--facts .portlet__title{ padding-top:30px !important;font-size:28px !important; }
.portlet--sidebar--facts .figures{ padding:0 30px 20px; font-size:47px; text-align:center;}
.portlet--blue-gradient.portlet--sidebar--facts .portlet__title{ color:#fff;}
.portlet--sidebar--facts .info{ width:60%; margin:0 auto; text-align:center; padding-bottom:30px; font-size:18px;}
.portlet--sidebar--facts .portlet__bottom-sticky{ color:#333;}
.portlet--blue-gradient.portlet--sidebar--facts .portlet__bottom-sticky{ color:#fff ;}
.portlet--sidebar--statistics .stats_info{ padding:0 30px 30px;}
.portlet--sidebar--statistics .stats_info .nav-tabs>li>a{ color:#a5bfe2;}
.portlet--sidebar--statistics .portlet__bottom-sticky{ margin-top:0px !important;}
.stats_info .nav-tabs>li.active>a, .stats_info .nav-tabs>li.active>a:focus, .stats_info .nav-tabs>li.active>a:hover{color#fff; background:none; border: solid 1px transparent;}
.stats_info .nav>li>a{ padding:10px 20px;}
.stats_info .tab-content{ padding:30px 0;}
.stats_info .nav-tabs { border-bottom: 1px solid #2b88c7;}
.stats_info .nav-tabs li.active{ border-bottom:solid 1px #fff;}
.stats_info .nav-tabs li.active a{ color:#fff;}
.stats_info .nav>li>a:focus, .stats_info .nav>li>a:hover { background-color:transparent; border:solid 1px transparent;}
.stats_values{ padding:30px;}
.stats_values .stats_block{ float:left; width:50%;}
.stats_values .stats_block .img_section{ width:25%; float:left;}
.stats_values .stats_block .img_section i{ font-size:25px; margin-top:10px;}
.stats_values .stats_block .value_section{ width:70%; float: left;}
.stats_values .stats_block .value{ font-size:30px;}
.stats_values .stats_block.category .img_section{ margin-left:15%;}
.stats_values .stats_block.category .value_section{ width:50%;}
.s_category{ font-size:14px;}




.panel {
    margin-bottom: 20px;
    background-color: transparent;
     border: none;


    box-shadow: none;
}
.panel-default>.panel-heading{ background-color: transparent;}
.panel .portlet__link{ width:42%}
.panel-title{ color:#fff; font-weight:100;}
.test{
    width:25px;
    height:25px;
    border:1px solid #fff;
    padding: 3px 3px 3px 0px;
    border-radius: 100%;
    color: white;

	display:block;
	position:absolute;
	bottom:20px;
	right:0px;
}
.panel-group{ margin-bottom:0px}

.financial_report{  padding:60px 20px 30px 20px !important ; text-align:center; }
.financial_report p{ font-size:18px;}
.financial_report span{ display: block;
    font-size: 32px;
    padding: 10px 0px;
    width: 150px;
    text-align: left;
    margin: 0 auto;}

.financial_report p:before{  content: '';
  position: absolute;
  top: 70px;
  left: 0px;
  bottom: 0;
  width: 1px;
  background:rgba(255,255,255,.1);
  z-index: 7003;}
#portlet_financial_report .portlet__link{ width:auto; margin-right:20px}
.related_products .stats_info .nav-tabs>li.active>a, .related_products .stats_info .nav-tabs>li.active>a:focus, .related_products .stats_info .nav-tabs>li.active>a:hover{color#fff; background:none; border: solid 1px transparent;}
.related_products .stats_info .nav>li>a{ padding:10px 20px;}
.related_products .stats_info .tab-content{ padding:30px 0;}
.related_products .stats_info .nav>li:first-child{ margin-left:50px;}
.related_products .stats_info .nav-tabs { border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important; margin-left:-33px;  }
.related_products .stats_info .nav-tabs li.active{ border-bottom:solid 1px #fff;}
.related_products .stats_info .nav-tabs li.active a{ color:#fff;}
.related_products .stats_info .nav>li>a:focus, .related_products .stats_info .nav>li>a:hover { background-color:transparent; border:solid 1px transparent;}
.related_products .stats_info .nav-tabs>li>a {  color: #a5bfe2;}
.related_products .tab-content{ padding:30px 30px !important; }
.related_products .tab-content ul li a{ color:#fff; line-height:24px; font-size:13px;  }
.related_products .all_productlink a{ padding:10px 0px !important; font-size:16px; color:#fff;}
.related_products .all_productlink .sliding-u-l-r:after {
	content: '';
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px solid #fff;
	width:25%;
	transition: width 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
	white-space: nowrap;
	position:absolute;
	bottom:-1px;
	left:0px;
}
.related_products .all_productlink .sliding-u-l-r:hover:after {
	border-bottom: 2px solid rgba(255, 255, 255, 0.8);
	width:100%;
}

@media screen and (min-width: 768px) {
  .portlet {
   /* height: 327px;
    min-height: 327px;*/
  }
/* #search-result-page .search__left-full-white-line {

    left: 66px;
} 24/10/2016 commented*/
}

.portlet .row{
  height: 100%;
  min-height: 277px;
  color:#fff;
}
/* Revised 11/02/2016 [Original Code] --> .portlet.hero-block .row img.portlet-img{ height:314px; width:100% } **/
.portlet.hero-block .row img.portlet-img{ height:300px; width:100%; object-fit: cover;}
.portlet--blue-gradient {
  background: #035eba;
  background: linear-gradient(#005SB9, #078DCC);
  background: rgba(35,97,168,1);
background: -moz-linear-gradient(top, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(35,97,168,1)), color-stop(100%, rgba(7,142,204,1)));
background: -webkit-linear-gradient(top, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
background: -o-linear-gradient(top, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
background: -ms-linear-gradient(top, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
background: linear-gradient(to bottom, rgba(35,97,168,1) 0%, rgba(7,142,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2361a8', endColorstr='#078ecc', GradientType=0 );
  color: #fff;
  box-shadow: none;
}

.portlet__inner {
  /*padding: 26px;*/
  height: 100%;
  min-height: 100%;
  position: relative;
  font-size: 12px;
}


@media screen and (min-width: 768px) {
  .portlet__inner {
    font-size: inherit;
  }
}

.portlet__spacer {
  min-height: 100%;
  height: 100%;
  padding-left: 0;
}

.portlet__spacer__image {
  min-height: 100%;
  height: 100%;
}

.portlet__bottom-image__image {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.portlet__category {
  font-size: 10px;
  text-transform: uppercase;
  display:block;
}

@media screen and (min-width: 768px) {
  .portlet__category {
    font-size: 13px;
  }
}

.portlet__title {
  margin: 13px 0;
  font-size: 26px;
  display:inline-block;
}

@media screen and (min-width: 1200px) {
  .portlet__title {
    font-size: 35px;
  }
}

.portlet--sidebar .portlet__title {
  font-size: 24px;
}

@media screen and (min-width: 1200px) {
  .portlet--sidebar .portlet__title {
    font-size: 28px;
  }
}

.portlet__subtitle {
  margin-bottom: 10px;
}

.portlet__subtitle a {
  color: inherit;
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .portlet__subtitle {
    margin-bottom: inherit;
	font-size:18px;
	padding-bottom:14px;
  }
}

.portlet__subtitle__telephone {
  font-size: 170%;
  display: block;
  padding: 10px 0;
}

.portlet--sidebar .portlet__subtitle {
  font-size: 14px;
}

.portlet__bottom-sticky {
  position: relative;
 color:#fff;
}

@media screen and (min-width: 768px) {
  .portlet__bottom-sticky {
    /*position: absolute;*/

  }

}
@media screen and (max-width: 1024px){
.portlet.hero-block .row img.portlet-img {
    height: 305px;
}

.hero-block .portlet__inner:before{ height:120%;}
}
   @media (max-width: 979px) and (min-width: 768px){
.footer .social_links {
    margin-right: 0 !important;
}
.hero-block .portlet__inner:before{ top: 0px;
    height: 115%;
    left: 2px;}
   }
@media screen and (max-width: 768px) {
	.hero-block img{ width:100% !important; height:auto;}
	.hero-block .col-xs-12{ padding-left:15px; }
	.portlet__bottom-sticky{ position:inherit;}
	.search-nav__input-wrapper.inner-position{ top:12% !important;  }
	.search__left-full-white-line.inner-position{top:12% !important; left:104px !important}
	.portlet .row, .portlet .row div:first-child{ min-height:100% }
	.search-result-overlay__sidebar::before, .search-result-overlay__sidebar::after{ left:0px}
	.search-nav__input-wrapper.inner-position .search-nav__search-icon{ position:relative; top:72%;}
	.search-nav__input-wrapper.inner-position .search-nav__input-fake, .search-nav__input-wrapper.inner-position input[type="search"].search-nav__input-real {
	padding: 0px 0px 0px 58px !important;	}
	.search-nav__input-wrapper.inner-position .search-nav__field-bottom-opaque-white-line{ left:0px;}
	#search-result-page .search-nav__input-wrapper { height: 65px;	width: 99%;	}
	#search-result-page  .full-width-bottom-line{ top:153px;}
	.portlet.hero-block .search-result-overlay__sidebar{ margin-top:0px;}
	.footer .social_links{ margin-right:0px;}
	.portlet.hero-block .row img.portlet-img{ display:none;}
	#search-result-page .social-nav_overlay{ display:none;}
	#search-result-page .search-result-overlay__sidebar{ padding-left:20px; padding-right:20px; } /* updated on 27/10/2016*/
	.hero-block .search-result-overlay__main { 	margin-left: 0px;	}
	.portlet--sidebar--download .portlet__img_container, .portlet--sidebar--external-link-image .portlet__bottom-image {height: auto !important;}
	.hero-block .stock_update{  float:none; display:block; margin-top:0px; margin-left:31px; width:100%  }
	.hero-block .stock_text{  margin-left:31px; }

	.divider:before{  content: '';
	position: absolute;
	top: 45%;
	left: 50%;
	bottom: 0;
	height:100px;
	width: 1px;
	background:rgba(255,255,255,1);
	z-index: 7003;}
	.financial_report span{ display:inline-block !important ; font-size:32px; padding:60px 30px !important;}
	.all_productlink{ display:none}
	.related_products .stats_info .nav-tabs{ margin-left:0px !important;}
	.related_products .stats_info .nav>li:first-child{ margin-left:40px;}
	.search-result-overlay__main { margin-left:17px;}
}
 .portlet__view_archive {
	 color:#fff;
	 font-size:16px;
	 float:right;
	 line-height:9px;

}
a.portlet__view_archive:hover{  color:#fff; text-decoration:none;}

a.portlet__view_archive .sliding-u-l-r:after {
	content: '';
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px solid #fff;
	width:25%;
	transition: width 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
	white-space: nowrap;
	margin-left:5px;

}
a.portlet__view_archive .sliding-u-l-r:hover:after {
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	width:90%;
}

.portlet__fact {
  display: block;
  font-weight: bold;
}

.portlet--sidebar .portlet__fact {
  font-size: 14px;
  line-height: 22px;
}

.portlet__link {
  color: inherit;
  display: inline-block;
  padding-bottom: 6px;
  /*margin-top: 14px;*/
  font-size: inherit;
  white-space: normal;
  width: 47%;
  font-size:16px;

}

.portlet__link:nth-child(odd) {
  margin-right: 0;
}

.portlet__link:nth-child(even) {
  margin-left: 0px;
}

.portlet__link:hover, .portlet__link:active, .portlet__link:focus {
  text-decoration: none;
  color: inherit;
}


@media screen and (max-width: 767px) {
  .portlet__link {
    width: auto;
    margin-left: 0;
    white-space: nowrap;
  }
  .hero-block .stock_update{  float:none; display:block; margin-top:0px; margin-left:31px; width:100%  }
  .hero-block .stock_text{  margin-left:31px; }
   .hero-block img{ width:100% !important; height:auto;}
   .hero-block .col-xs-12{ padding-left:15px;}
  .portlet__link:nth-child(odd) {
    margin-right: 30px;
  }
  .portlet__link:nth-child(even) {
    margin-right: 30px;
  }
  #search-result-page .search-nav__input-wrapper{ top:120px !important; width:100%; left:0px}
  #search-result-page .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#search-result-page .search-result-overlay .container{ padding-left:0px;}
.hero-block .col-xs-12{ padding-left:0px;}
 #search-result-page .navbar-brand{ margin-left:0px;}
 #search-result-page .navbar .container{ padding:0px;}
 #search-result-page .navbar .navbar-default .navbar-nav{ right:9px;}
 .search-results__related-item {
    margin-left: 0px;
 }
  .portlet {
    height: auto;
    min-height: inherit;
  }

 .divider:before{  content: '';
  position: absolute;
  top: 45%;
  left: 49%;
  bottom: 0;
  height:100px;
  width: 1px;
  background:rgba(255,255,255,1);
  z-index: 7003;}
  .financial_report span{ display:inline-block !important ; font-size:32px; padding:60px 9px !important;}
  .all_productlink{ display:none}
  .related_products .stats_info .nav>li:first-child{ margin-left:10px;}
.financial_report p:before{ display:none;}
#portlet_financial_report .search-result-overlay__main::before,
#portlet_financial_report .search-result-overlay__main::after, #portlet_financial_report .portlet__inner:before{ display:none;}
.portlet--sidebar--social-media .s_media_container{ width:145px;}

#search-result-page .search__left-full-white-line{ left:45px  !important; height:38px !important;}

#search-result-page .search-nav__input-wrapper{ height:40px;}
#search-result-page .full-width-bottom-line {    top: 120px;}

}

@media screen and (max-width: 667px){.hero-block .portlet__inner:before {
    height: 150%; top:-28px; left:2px;}
}
@media screen and (max-width: 480px) {
  .portlet__link {
    width: auto;
    margin-left: 0;
    white-space: nowrap;
  }
  .portlet__link:nth-child(odd) {
    margin-right: 30px;
  }
  .portlet__link:nth-child(even) {
    margin-right: 30px;
    margin-left: 0;
  }
  #search-result-page .search-nav__input-wrapper {
    top: 100px !important;
	width:100%;
	}
	#search-result-page	.search-nav__input-fake, #search-result-page input[type="search"].search-nav__input-real {padding: 3px 0px 0px 60px !important; font-size:24px;}
}
@media screen and (max-width: 320px) {
#search-result-page .search-nav__input-wrapper{
	    top: 125px !important;
		font-size: 13px;
	}
	#search-result-page	.search-nav__input-fake, #search-result-page input[type="search"].search-nav__input-real{font-size: 24px;}
	#search-result-page .search__left-full-white-line{   left: 52px;}
	#search-result-page .search-nav__input-wrapper{ height:43px;}
	#search-result-page	.search-nav__input-fake, #search-result-page input[type="search"].search-nav__input-real {padding: 3px 22px 0px 60px !important; font-size:22px; line-height:20px !important; }
	#search-result-page .search__left-full-white-line{height:41px;}
	}
.portlet__link-inner {
  position: relative;

}
.hero-block.portlet{ margin-bottom:0px;}
.portlet__link-inner.text-color{ color:#333333;}
.portlet__link-inner::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 30px;
  border-bottom: 1px solid #00b3df;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.portlet__link:hover .portlet__link-inner::after {
  width: 100%;
  border-color: #79b5d3;
}

.portlet--blue-gradient .portlet__link-inner::after {
  border-bottom: 1px solid #e5e5e5;
}

.portlet--blue-gradient .portlet__link {
  color: inherit;
}
.portlet--hero--product-detail{ height:40%; margin-top:10%}
.portlet--hero--v1-board-of-directors .portlet__link,
.portlet--hero--v3-bio .portlet__link,
.portlet--hero--product-detail .portlet__link {
  font-size: 15px;
  width: auto;
}

@media screen and (min-width: 768px) {
  .portlet--hero--v1-board-of-directors .portlet__link,
  .portlet--hero--v3-bio .portlet__link,
  .portlet--hero--product-detail .portlet__link {
    font-size: inherit;
  }
}

.portlet--sidebar--external-link-text-copy .portlet__link {
  font-size: 15px;
  width: auto;
}

@media screen and (min-width: 768px) {
  .portlet--sidebar--external-link-text-copy .portlet__link {
    font-size: inherit;
  }
}

.portlet--sidebar--external-link-image .portlet__inner {
  height: 63%;
  min-height: 63%;
}

.portlet--sidebar--external-link-image .portlet__bottom-image {
  height: 120px;
}

@media screen and (min-width: 768px) {
  .portlet--sidebar--external-link-image .portlet__bottom-image {
    height: 37%;
    min-height: 37%;
  }
}

.portlet--sidebar--fact-card .portlet__title {
  margin-bottom: 24px;
}

.portlet--sidebar--external-link-text-copy .portlet__link,
.portlet--sidebar--external-link-image .portlet__link,
.portlet--sidebar--contact-just-text .portlet__link,
.portlet--sidebar--fact-card .portlet__link {
  font-size: 15px;
  width: auto;
}

@media screen and (min-width: 768px) {
  .portlet--sidebar--external-link-text-copy .portlet__link,
  .portlet--sidebar--external-link-image .portlet__link,
  .portlet--sidebar--contact-just-text .portlet__link,
  .portlet--sidebar--fact-card .portlet__link {
    font-size: inherit;
  }
}


#portlet_stock_market{ display:none;}
#portlet_financial_report{ display:none;}
#portlet_related_products{ display:none;}


#loading{ padding:10px 0px; margin:0px;}
#loading p{ text-align:center;}
