@media screen and (max-width: 414px){
	.footer_wrapper {
			z-index: 999;
	}
}

@media screen and (max-width: 768px){
	.footer_wrapper .collapse{
	    display: none;
	}
	.footer_wrapper {
			z-index: 999;
  }
  .search-nav .suggestion-wheel{
    width:100%;
  }
}

@keyframes wheeldown-transitions {
    from {top: -500px; opacity: 0; }
    to {top: 0; opacity:1;}
}

@-webkit-keyframes wheeldown-transitions {
    from {top: -500px; opacity: 1; }
    to {top: 0%; opacity:1;}
}

/*.search-nav .suggestion-wheel{
  width:50%;
}*/


#suggestion-wheel{
  position:absolute;
  top:49%;
  overflow:hidden;
}

.suggestion-wheel__list {
  -webkit-animation: wheeldown-transitions 3s; /* Safari, Chrome and Opera > 32.3 */
	-moz-animation: wheeldown-transitions 3s;
	-o-animation: wheeldown-transitions 3s;
	-ms-animation: wheeldown-transitions 3s;
	animation:wheeldown-transitions 3s;
  animation-delay: 2s;
  margin-top:0px;
}
.suggestion-wheel__item {margin-top: 0;margin-bottom: 25px;}

.test {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    padding: 1px 3px 1px 1px;
    margin: 0;
    border-radius: 100%;
    color: white;
    display: block;
    position: absolute;
    bottom: 20px;
    right: 0px;
    font-size: 12px;
}

.footer{
	margin-top: 0;
}

.social-nav__link {
	line-height: 25px !important;
}

.search-nav__input-real::-ms-clear {
    display: none;
}

body {
  -webkit-font-smoothing: antialiased;
}

.navbar-default .navbar-nav>li>a {
  font-weight: bold;
}

.portlet.hero-block .row img.portlet-img {
    height: 300px;
    width: 100%;
}

.stock-ticker-foot {
    clear: none;
    margin-bottom: 5px;
    display: block;
}

.second-col-links{
	margin-top: 0;
	padding-top: 0;
}

.search-results  {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
   hyphens: auto;
}

@media screen and (max-width: 1024px){
	#hero-quicklinks .search-result-overlay__sidebar {
	    display: none;
	}
	.hero-block .stock_text {
			display: inline-block;
			font-size: 32px;
			margin-left: 30px;
	}
}

.hero-block .stock_text {
    /*margin-left: 0;*/
}

.hero-block .stock_update {
    margin-right: 0;
}

.hero-block portlet_stock_market img {
    width: 56px !important;
    height: auto;
}

.hero-block .stock_text {
		display: inline-block;
		font-size: 32px;
		margin-left: 30px;
}
  .stockloader img {
			width: auto !important;
	}

  #portlet_stock_market .portlet__inner {
    padding-bottom: 24px;
  }

.more-stocks{
	padding-left: 15px;
}


/*Typed*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*Google Search Results*/
h2.search-results__result-title a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

/* ----------- Desktop / Laptop --------------*/
/* ----------- Non-Retina Screens ----------- */
/*@media screen
  @media (min-width:1025px) {
	#search-result-page .search-nav__input-wrapper {
		width:70% !important;
	}
	.search-nav__input-wrapper {
		width:70% !important;
	}
}*/

/* Smartphones (portrait and landscape) ----------- */
/*@media only screen
and (min-width : 320px)
and (max-width : 480px) {
	#search-result-page .search-nav__input-wrapper {
		width:94% !important;
	}
	.search-nav__input-wrapper {
		width:94% !important;
	}
}*/

/* Smartphones (landscape) ----------- */
/*@media only screen
and (min-width : 321px) {
	#search-result-page .search-nav__input-wrapper {
		width:100% !important;
	}
	.search-nav__input-wrapper {
		width:94% !important;
	}
}*/

/* Smartphones (portrait) ----------- */
/*@media only screen
and (max-width : 320px) {
	#search-result-page .search-nav__input-wrapper {
		width:100% !important;
	}
	.search-nav__input-wrapper {
		width:94% !important;
	}
}*/

/* iPads (portrait and landscape) ----------- */
/*@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
#search-result-page .search-nav__input-wrapper {
	width:100% !important;
}
.search-nav__input-wrapper {
	width:100% !important;
}
}*/

/* iPads (landscape) ----------- */
/*@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
#search-result-page .search-nav__input-wrapper {
	width:100% !important;
}
.search-nav__input-wrapper {
	width:100% !important;
}
}*/

/* iPads (portrait) ----------- */
/*@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
#search-result-page .search-nav__input-wrapper {
	width:100% !important;
}
.search-nav__input-wrapper {
	width:100% !important;
}
}*/

/* Desktops and laptops ----------- */
/*@media only screen
and (min-width : 1224px) {
#search-result-page .search-nav__input-wrapper {
	width:60% !important;
}
.search-nav__input-wrapper {
	width:60% !important;
}
}*/

/* Large screens ----------- */
/*@media only screen
and (min-width : 1824px) {
#search-result-page .search-nav__input-wrapper {
	width:80% !important;
}
.search-nav__input-wrapper {
	width:80% !important;
}
}*/

/* padding load more */

@media screen and (max-width: 414px){
.button--center.load-more-btn {
	padding-bottom: 40px;
}
}

@media screen and (max-width: 768px){
	.button--center.load-more-btn {
		padding-bottom: 40px;
	}
}

#hero-quicklinks .glyphicon {
    top: 0;
    font-style: normal;
    font-family: 'gesans-regular';
}

#hero-quicklinks .test {
    width: 23px;
    height: 23px;
    border: 1px solid #fff;
    padding: 0px 5px 1px 1px;
    margin: 0 0 0px 0;
    bottom: 20px;
    right: 0px;
    font-size: 22px;
}


@media screen and (max-width: 767px){
	#search-result-page .inner-layout .nav.navbar-nav.navbar-right {
	    right: -6px !important;
	}
	.inner-layout .nav.navbar-nav.navbar-right {
	    right: 7px;
			margin-top: 5px;
	}
}

.hero-block .hero-content h2{
		-ms-word-break: break-all;
	     word-break: break-all;

	     // Non standard for webkit
	     word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;
}

.hero-block .hero-link{
	padding-left: 0;
}

.portlet__link{
	width: 100%;
}

@media screen and (max-width: 767px){
	.navbar-brand {
	  margin-left: 0px !important;
	}
	#search-result-page .navbar-brand{
		margin-left: -15px !important;
	}
}

@media screen and (min-width: 412px) {
	.search-nav__input-wrapper { top:50% ; }
}

#hero-quicklinks > div.col-md-8 {
    vertical-align: top !important;
		padding-bottom: 30px;
}
.hero-block .portlet__inner:before {
    content: '';
    position: absolute;
    top: -19px;
    left: 0;
    bottom: 0;
    min-height: 350px;
    width: 1px;
    background: #e9e9e9;
    opacity: 0.5;
    z-index: 7003;
    font-family: 'gesans-regular', Arial, sans-serif;
}
.hero-block .no-results:before {
    content: '';
    position: absolute;
    top: -19px;
    left: 0;
    bottom: 0;
    min-height: 380px;
    width: 1px;
    background: #e9e9e9;
    opacity: 0.5;
    z-index: 7003;
    font-family: 'gesans-regular', Arial, sans-serif;
}
