@charset "utf-8";

/* CSS Document */
/* REDESIGN-213 Update white borders */
.hero-block .portlet__inner:before {
	top: 37px;
	bottom: -50px;
}

.portlet__title{
	margin:0px 0px 13px;
}

.hero-block .search-result-overlay__main {
    padding-top:7px;
}

#hero-quicklinks .portlet__inner {
	padding-left: 10px;
}

section.search-result-overlay__main {
	padding-left: 10px;
}

#hero-quicklinks .search-result-overlay__sidebar {
    padding-top: 35px !important;
}

#hero-quicklinks .portlet__bottom-sticky {
    padding-bottom: 0px;
}

#hero-quicklinks .portlet__inner {
    padding-bottom: 30px;
}

/* Redesign-246 */
.portlet .row {
	display: table;
	table-layout: fixed;
}

#hero-quicklinks > div.col-md-8 {
	display: table-cell;
	float: none;
	vertical-align: bottom;
}

#hero-quicklinks > div.col-md-4 {
	display: table-cell;
	float: none;
	vertical-align: bottom;
}

#hero-quicklinks > div.col-md-4 img {
	margin-left: -2px;
}

.hero-block .col-xs-12 {
	padding-right: 28px! important;
}
/* end here Redesign-246 */


/* Redesign 221 */
@media screen and (min-width: 1024px) {
	input[type="search"].search-nav__input-real {
	    line-height: 0px! important;
	}

	_::-webkit-full-page-media, _:future, :root input[type="search"].search-nav__input-real {
		top: 2px!important;
	}
}
/* ends here redesign 221*/

@media (max-width: 1024px) {
	.portlet__title {
		margin:2px 0px 13px;
	}

	#hero-quicklinks > div.col-md-4 img {
    	display: none;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.hero-block .portlet__inner:before{
		top: 42px;
		left: 20px;
    }

	.portlet__title {
		margin:7px 0px 13px;
	}

	#hero-quicklinks .portlet__bottom-sticky {
    	padding-bottom: 30px;
	}
}

@media screen and (max-width: 736px) {
	.hero-block .portlet__inner:before {
		top: 40px! important;
	}

	.portlet__title{
		margin:5px 0px 13px;
	}
}
/* REDESIGN-213 Update white borders */

/* REDESIGN-227 Update +/- */
.test i.indicator {
	font-style:normal;
	font-size:25px;
	display:block;
	line-height:12px;
	text-align:center;
	padding-top:3px;
}

.test i.indicator .minus {
	font-style:normal;
	font-size:35px;
	display:block;
	line-height:7px;
	text-align:center;
	padding-top:3px;
}
/* REDESIGN-227 Update +/- */

/* REDESIGN-231 Header spacing should be the same across both pages */
@media screen and (max-width: 767px) {
	#search-result-page .inner-layout .nav.navbar-nav.navbar-right{
		right:15px;
	}
}
/* REDESIGN-231 Header spacing should be the same across both pages */


/* REDESIGN-224 Text runs over submit button */
@media screen and (max-width: 480px) {
	#search-result-page	.search-nav__input-fake, #search-result-page input[type="search"].search-nav__input-real {
		padding: 5px 10px 0px 60px !important;
	}
}
/* REDESIGN-224 Text runs over submit button */

/* REDESIGN-230 and 228 */
@media (max-width: 979px) and (min-width: 768px) {
	.portlet__title {
		font-size: 35px;
	}

	.portlet .portlet__inner .portlet__subtitle {
		font-size: 18px!important;
	}

	.portlet__link {
		font-size: 16px!important;
	}

	.search-results__result-title {
		font-size: 18px!important;
	}

	.search-results__result-description {
		font-size: 16px!important;
	}

	.portlet .portlet__inner .portlet__bottom-sticky {
		margin-top: 30px;
	}

	.portlet .portlet__inner .portlet__title,
	.portlet .portlet__inner .portlet__subtitle,
	.portlet .portlet__inner .portlet__bottom-sticky {
		padding-right: 0px;
		margin-left: 10px;
		padding-left: 35px;
	}

	.main_content_block_container:after {
		left: 18px;
	}

	section.search-result-overlay__main {
	    padding-left: 23px;
	}

	.navbar-brand {
		margin-top: -5px!important;
	}

	#search-result-page .inner-layout .nav.navbar-nav.navbar-right {
		margin-right: -3px;
	}

	.inner-layout .nav.navbar-nav.navbar-right {
		margin-top: 3px;
	}

	.search-nav__input-wrapper.focus .search-nav__button {
		margin-right: 10px!important;
    	padding-right: 10px;
	}

	.search-nav__input-fake, input[type="search"].search-nav__input-real {
    	padding: 0 0px 0px 113px!important;
	}

}

/* REDESIGN 232 */
@media (max-width: 991px) and (min-width: 768px) {

	.financial_report {
		padding: 30px 20px 0px 20px !important;
	}

	.financial_report p:before {
		display: none! important;
	}

	.financial_report p {
	    text-align: left;
    	display: block;
		padding: 0 27px;
	}

	.financial_report .reported-num {
		display: table-cell!important;
		width: inherit! important;
	}

	div.search-result-overlay__sidebar.financial_report > div.reported-num:first-of-type {
		padding-left: 27px! important;
		padding-right: 30px! important;
	}

	#portlet_financial_report .portlet__bottom-sticky {
		text-transform: uppercase;
		margin-top: 10px! important;
	}

	#portlet_financial_report .portlet__link {
		font-size: 18px! important;
	}

	.search__bottom-opaque-white-line {
		height: 32%! important;
	}

}

/*REDESIGN 232*/

@media screen and (max-width: 767px) {
	.navbar-brand {
		margin-top: 0px!important;
	}

	#search-result-page .navbar-brand {
		margin-left: -15px;
		margin-top: -3px;
	}

	#search-result-page .inner-layout .nav.navbar-nav.navbar-right {
		margin-top: 5px;
	}

	.test i.indicator .minus {
    	line-height: 12px!important;
    	padding-top: 1px!important;
    }
}

@media screen and (max-width: 414px) {
	.hero-block .portlet__inner:before {
		display: none;
	}

	.main_content_block_container:after {
		display: none;
	}

	.portlet .portlet__inner .portlet__title,
	.portlet .portlet__inner .portlet__subtitle,
	.portlet .portlet__inner .portlet__bottom-sticky {
		padding-right: 0px;
	}

	.search-nav__input-wrapper.focus .search-nav__button {
   	 	margin-right: 5px! important;
   	 	padding-right: 8px;
   	}

   	.search-nav__input-wrapper.focus {
   		height: 45px! important;
   		padding-top: 23px!important;
   		padding-bottom: 23px!important;
   	}

   	.search-nav__input-fake, input[type="search"].search-nav__input-real {
    	font-size: 22px! important;
    	line-height: 34px!important;
	}

	input[type="search"].search-nav__input-real {
		margin-top: -3px;
		font-size: 22px!important;
	}

	ul.ui-autocomplete {
    	top: 44px !important;
    }

    #search-result-page .ui-autocomplete {
    	top: 95% !important
    }

	.search-nav__search-icon {
		left: 18px!important;
		top: 50%!important;
	}

	div.search-nav__popular {
	    padding: 0 0px 20px!important;
    	top: 25.5% !important;
	}

	#search-result-page .search__left-full-white-line {
		display: none;
	}

	.financial_report {
		padding: 30px 0px 30px 0px !important

	}

	.financial_report p {
	    text-align: left;
    	display: block;
		padding: 0 32px;
    	font-size: 15px;
	}

	.financial_report .reported-num {
		display: table-cell!important;
		width: inherit! important;
	}

	div.search-result-overlay__sidebar.financial_report > div.reported-num:first-of-type {
		padding-left: 32px! important;
		padding-right: 30px! important;
	}


}

@media screen and (max-width: 320px) {

	.search-nav__input-fake, input[type="search"].search-nav__input-real {
    	font-size: 22px! important;
    	line-height: 45px! important;
	}

	div.search-result-overlay__sidebar.financial_report > div.reported-num:first-of-type {
		padding-right: 20px! important;
	}
}

.portlet .portlet__inner .portlet__subtitle {
	font-size: 15px;
}

.portlet__link {
	font-size: 15px;
}

.search-results__result-title {
	font-size: 18px;
}

.test {
	right: -20px;
	height: 23px;
	width: 23px;
}

.test i.indicator {
	font-size: 22px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .search-nav__button
    {
       line-height:normal !important;
    }
}


/* REDESIGN-230 and 228 */

#suggestion-wheel {
	position:absolute;
	top:49%;
	overflow:hidden;
}

.suggestion-wheel__list {
	-webkit-animation: wheeldown-transitions 3s; /* Safari, Chrome and Opera > 32.3 */
	-moz-animation: wheeldown-transitions 3s;
	-o-animation: wheeldown-transitions 3s;
	-ms-animation: wheeldown-transitions 3s;
	animation:wheeldown-transitions 3s;
	animation-delay: 2s;
	margin-top:0px;
}

.suggestion-wheel__item {
	margin-top: 0;margin-bottom: 39px!important;
}
