@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

@import url('font-ge-icon.css');
@import url('font-face-gesans.css');
@import url('sidebar.css');
@import url('module.css');
@import url('override.css');

/** Typography Define in Body  **/
body {
	margin:0px;
	padding:0px;
	font-family:'gesans-regular', Arial, sans-serif;

}
/** Bg image in background / gradient  **/
.full_Image {
	background: url(../images/genx.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%;
	height:100%;
	position:absolute;
	height: calc(100% - 30px);
}
.texture_overlay_1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: calc(100% - 30px);
	background-image: url(../images/bg-pattern.png);
}
.texture_gradient {
	position: absolute;
	top:0px;
	width:100%;
	height:calc(100% - 30px);
	background: linear-gradient(90deg, rgba(5, 95, 186, 0.4) 0%, rgba(5, 95, 186, 0.6) 25%, rgba(5, 95, 186, 0) 76%, rgba(5, 95, 186, 0) 100%), linear-gradient(180deg, #055fba 0%, rgba(5, 95, 186, 0.6) 25%, rgba(5, 95, 186, 0) 76%, rgba(5, 95, 186, 0) 100%), linear-gradient(45deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.42) 5%, rgba(255, 255, 255, 0.42) 9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #055fba 0%, rgba(5, 95, 186, 0.9) 44%, rgba(5, 95, 186, 0) 76%, rgba(5, 95, 186, 0) 100%);
	transition: opacity 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53), bottom 0.1s 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53), padding 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
/** Bg image in background / gradient  **/
h1.branding {
	margin:0px;
	padding:0px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color:#fff;
}
.navbar-nav>li>a {
	line-height:10px;
}
#nav {
	padding-top:20px;
	z-index:9
}
.navbar-default {
	background-color:transparent;
	border:none;
}
.navbar-brand {
	padding:6px 15px;
}
.navbar-default .navbar-nav>li>a {
	color:white;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color:#fff;
}
.navbar-nav>li>a {
	line-height:10px;
}
#nav {
	padding-top:20px;
}
.navbar-default {
	background-color:transparent;
	border:none;
}
.navbar-brand {
	padding:0px 15px;
	margin-top:-10px;
}
.navbar-default .navbar-nav>li {
	padding:20px 25px 30px; /* updated on 27.10/2016*/
	cursor:pointer;
}
.navbar-default .navbar-nav>li>a {
	color:white;
	font-size:14px;
	font-family:'gesans-regular', Arial, sans-serif;
	padding:0px;
	letter-spacing:0.9px;
}
.navbar-default .navbar-nav>li>a i.icon {
	font-size:20px;
}
.navbar-default .navbar-nav>li.icon {
	padding:13px 15px; /* updated on 27.10/2016*/
}
.navbar-default .navbar-nav>li.icon.icon-menu {
	display:none
}
.sliding-u-l-r:after {
	content: '';
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px solid #fff;
	width:0%;
	transition: width 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
	white-space: nowrap;
}
.sliding-u-l-r:hover:after {
	border-bottom: 2px solid rgba(255, 255, 255, 0.8);
	width:100%;
}
.navbar-nav>li>.dropdown-menu {
	margin-top:0px; /* updated on 27.10/2016*/
}
.navbar-right .dropdown-menu {
	right:-108px;  /* 122 to 108 updated on 27.10/2016 */
	display: none;
	position: absolute;
	margin-top: 20px;
	padding: 20px 50px 20px 40px;
	list-style: none;
	background: #fff;
	box-shadow: 0 5px 5px 43% #5a5a5a;
	border-radius:0px;
	font-size:16px;
}
.navbar-right {
	float: right!important;
	margin-right: 0px;
	margin-top: -3px; /* added on 27.10/2016*/
}
.navbar-right .dropdown-menu a {
	display: block;
	padding: 16px 0 6px;
	color: #7f7f7f;
	font-size: 15px;
	white-space: nowrap;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color:#fff;
	background-color:transparent;
}
.navbar-right .dropdown-menu:before {
	content: '';
	position: absolute;
	top: -16px;
	left: 14%;
	width: 0;

	height: 0;
	border-width: 9px 10px;
	border-color: transparent transparent #fff;
	border-style: solid;
}
.dd-sliding-u-l-r {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.dd-sliding-u-l-r:after {
	content: '';
	text-decoration: none;
	display:block;
	border-bottom: 1px solid #6e6e6e;
	width:20px;
	transition: 0.5s ease;
	white-space: nowrap;
}
sidebar-menu__link:hover, .dd-sliding-u-l-r:hover:after {
	border-color: #00b3df;
	width:100%;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color:transparent;
}

.stock-ticker-foot{ clear:both; /*margin-bottom:65px; updated on 20/10/2016*/ margin-bottom:84px; display:block; }
.stock-ticker-foot:hover{text-decoration:none;}
.footer .social_links { text-align:right;}
.footer .col-md-3{ text-align:left;}
a.stock-ticker-foot{ color:#000;}
.search-nav__input-wrapper{
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-o-animation: fadein 2s;
	-ms-animation: fadein 2s;
	animation: fadein 2s;
}
@-webkit-keyframes fadein {
	from{opacity: 0;}
	to{ opacity:1;}
}

#suggestion-wheel{
	-webkit-animation: wheeldown-transitions 3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: wheeldown-transitions 3s;
	-o-animation: wheeldown-transitions 3s;
	-ms-animation: wheeldown-transitions 3s;
	animation:wheeldown-transitions 3s;
	}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes wheeldown-transitions {
    from {top: -500%; opacity: 0; }
    to {top: 0%; opacity:1;}
}



.copyright-bottom{    color: #FFF !important;
    font-size: 12px;
    line-height: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'gesans-regular', Arial, sans-serif;
    text-align: center;
    /*padding: 10px 0px;*/
	    padding: 15px 0px 12px; /* Updated on 20/10/2016*/
    background-color: #3d3d3d;
	letter-spacing:0.09em /* added  on 24/10/2016 */
}

/* modal window style starts here*/
.modal-backdrop.searchColor{ background-color:#015bb7;}

.modal-backdrop.in {
	filter: alpha(opacity=80);
	opacity: .8;
}
.browser-alert .modal-content {
	-webkit-box-shadow: none ;
	box-shadow:none ;
	background-color:transparent;
	border: none;
	border: none;
	font-family:'gesans-regular', Arial, sans-serif;
}
.browser-alert .modal-title img{ width:212px; }
.browser-alert .modal-title {text-align:center;}
.browser-alert .modal-body{ color:#fff; text-align:center; font-size:18px;}
.browser-alert .modal-body h1{ font-size:32px;}
.browser-alert .modal-body a{ color:#FFF; text-decoration:underline;}
.browser-alert .modal-footer, .browser-alert .modal-header{ border:none;}
.browser-alert .modal-content button.close{ text-shadow:none; color:#fff; opacity:1; font-weight:normal; font-size:18px; position:absolute; right:0; }
.browser-alert .modal-content button.close i{ float: right; margin-left: 5px;}
.browser-alert a.update_browser { padding:8px 15px; border: solid 1px #fff; border-radius: 25px; text-decoration:none; margin:30px 0; display:inline-block;}
/* modal window style ends here*/

/* Custome file type */
.custom-filetype .btn-default, .custom-filetype .btn-default:hover, .custom-filetype .btn-default:focus, .custom-filetype .btn-default:active{ background-color:transparent;  border-color: transparent !important; box-shadow: none; padding-left:0px; }
.custom-filetype .btn-default span, .custom-filetype .btn-default input{cursor:pointer; }
.custom-filetype { margin-top:15px;}

.custom-filetype .btn-default:after{ content: ''; text-decoration: none; display: inline-block;	border-bottom: 1px solid #00b3df; width: 25%; transition: width 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); white-space: nowrap; position: absolute; padding-left: 0; bottom: 0; left: 0; cursor:pointer;}
.custom-filetype .btn-default:hover:after{ border-color: #00b3df; width:85%;}
.custom-filetype span.title{ display:block; margin-bottom:5px; font-size:16px;}
.required-text{ text-align:left;}


@media (max-width: 1023px) {
 .navbar-default .navbar-nav>li { display: none;}
 .navbar-default .navbar-nav>li.icon.icon-menu {display:inline-block;}
 .navbar-default .navbar-nav>li.icon {display:inline-block;padding:0px 10px;}
 .navbar-default .navbar-nav {position:absolute;top:4px;right:20px;} /* updated on 27.10/2016*/
}
.inner-layout {	padding-top:29px; /*Updated on 24/10/2016*/}
.inner-layout .nav.navbar-nav.navbar-right { position:absolute; right:0;}
/*change this if necessary*/
.search-nav__input-wrapper {
background: -moz-linear-gradient(left,  rgba(12,90,169,1) 0%, rgba(14,93,175,0.1) 56%, rgba(186,208,231,0) 100%);
background: -webkit-linear-gradient(left, rgba(12, 90, 169, 1) 0%, rgba(14, 93, 175, 0.1) 56%, rgba(186, 208, 231, 0) 100%);

background: linear-gradient(to right,  rgba(12,90,169,1) 0%,rgba(14,93,175,0.1) 56%,rgba(186,208,231,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c5aa9', endColorstr='#00bad0e7',GradientType=1 );
}
.search-nav__input-wrapper {position: absolute;	top: 50%;	height: 70px;	width: 70%;	transform: translateY(-50%);	z-index: 1; left:-10px;}

/*Updated on 10/20/2016*/
.search-nav__input-wrapper:focus,
.focus{ background: #fff !important;    background-image: none;    border-radius: 50px;}
.search-nav__input-wrapper.focus .search-nav__search-icon{ color:#0c5aa9;}
.search-nav__input-wrapper.focus .search-nav__button{ color:#0c5aa9; margin-right:15px; /* updated on 21/10/2016 margin-right 10 to 15*/}
.search-nav__input-wrapper.focus .search-nav__input-fake,.search-nav__input-wrapper.focus input[type="search"].search-nav__input-real{ color:#343434 !important;}
.grey-line{ background:#f7f7f7 !important;}
.snapchat:before{ content:'s';}
.snapchat{ background:url(../images/snapchat.svg) no-repeat center center; background-size: 60%;}
.snapchat:hover{ background:url(../images/snapchat-hover.svg) no-repeat center center; background-size: 60%;}
.snapchat1 a{ background:url(../images/snapchat-grey.svg) no-repeat center center; background-size: 60%;}
.snapchat1 a:hover{ background:#989898 url(../images/snapchat.svg) no-repeat center center !important; background-size: 60%; }
.snapchat1 a::before{ content:'s' !important;}
.snapchat1 a{ display:inline-block;}
.snapchat1 { margin-left:3px !important; margin-top:-2px !important; position: absolute;}
.social-nav_inner_page .snapchat1 { position:relative; float:right; margin-top:1px !important;}
.social-nav_inner_page .snapchat1 a { background:url(../images/snapchat.svg) no-repeat center center; background-size: 60%; width: 25px; height: 25px; border-radius: 25px;    padding: 0;}
.social-nav_inner_page .snapchat1 a:hover { background:#fff url(../images/snapchat-hover.svg) no-repeat center center !important; background-size: 60% !important; width: 25px !important; height: 25px !important; border-radius: 25px !important;    padding: 0 !important; }
.social-nav_inner_page .snapchat1 a:before{ content:'' !important; color:#fff;}



@media screen and (max-width: 768px) {
.search-nav__input-wrapper {top:52%;}
.search-nav__input-wrapper {
background: -moz-linear-gradient(left,  rgba(12,90,169,1) 0%, rgba(14,93,175,0.1) 56%, rgba(186,208,231,0) 100%);
background: -webkit-linear-gradient(left,  rgba(12,90,169,1) 100%,rgba(14,93,175,0.1) 560%,rgba(186,208,231,0) 100%);
background: linear-gradient(to right,  rgba(12,90,169,1) 0%,rgba(14,93,175,0.1) 56%,rgba(186,208,231,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c5aa9', endColorstr='#00bad0e7',GradientType=1 );
}
/* .search__white-gradient-rectangle {  width: 62px !important;} 20/10/2016 */
.search-nav__input-wrapper{ width:100%; left:auto;}/*Updated on 20/10/2016*/
.search-result-overlay__sidebar { padding-bottom:80px;}

}

@media screen and (max-width: 767px) {

.search-nav__input-wrapper{ width:97%; left:auto;}/*Updated on 20/10/2016*/
.search-nav__search-icon{ font-size:18px !important;}/*Updated on 20/10/2016*/
}
 @media screen and (max-width: 469px) {
	.search-nav__input-wrapper {	width: 94%;	}
	.search-nav__input-wrapper.focus .search-nav__button{ margin-right:7px;}
 }
.search-nav__search-icon {
	position: absolute;
	top: 51%;
	left: 22px;/* updated on 21/10/2016 left  13 to 22*/
	opacity: 0;
	color: #fff;
	font-size: 30px;
	transform: translateY(-50%);
	animation-name: search-icon;
	animation-delay: 1s;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}
@media screen and (max-width: 479px) {
.search-nav__search-icon {  left: 17px;}
}
 @keyframes search-icon {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
/**Suggestion Wheel**/
.search-nav { 	position: absolute;	top:0px;	width:100%;	height:calc(100% - 114px);	padding-top:90px;	padding-left:62px;	z-index: -1;}
.suggestion-wheel {	position: relative;	overflow: hidden;	padding: 0;	margin: 0;	box-sizing: border-box;}
.suggestion-wheel:focus {	outline: 1px solid red;}
.suggestion-wheel--touch {
	overflow-x: hidden;
	overflow-y: scroll;
	/* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
}
 .suggestion-wheel--touch::-webkit-scrollbar { width: 1px; height: 0px;}
 .suggestion-wheel--touch::-webkit-scrollbar-thumb { border-radius: 0px; background-color: transparent;}
 .suggestion-wheel--touch::-webkit-scrollbar-track {  -webkit-box-shadow: 0; border-radius: 0px; background-color: transparent;}
.suggestion-wheel--touch .suggestion-wheel__list {	display: block;}
.suggestion-wheel--touch.suggestion-wheel--touch--forward {	position: fixed;	top: 0;	left: 0;	width: 100%;	height: 100%;	background-color: rgba(0, 0, 0, 0.7);	margin: 0;	padding: 0;	z-index: 999;	transition: background-color 300ms;}
.suggestion-wheel--touch.suggestion-wheel--touch--forward .suggestion-wheel__list {	text-align: left;	padding: 0;	margin: 0;	width: 50%;	margin: 0 auto;}
.suggestion-wheel__list { position: relative;	display: inline-block;	list-style: none;	padding: 0;	margin: 0;	height:100%;	margin-top:-50px;}
.suggestion-wheel__item { margin-top: 0;	margin-bottom: 32px;	transform-origin: 5% 50%;}
.suggestion-wheel__item a {font-weight: 100;}
.suggestion-wheel__link { color: #fff;	font-size: 22px;  /* 24px to 22px updated on 27.10/2016*/}
.suggestion-wheel__link:hover, .suggestion-wheel__link:active, .suggestion-wheel__link:focus {	color: #fff;}

@media screen and (max-width: 479px) {
	.suggestion-wheel--touch.suggestion-wheel--touch--forward .suggestion-wheel__list {	width: 90%;	}
}

.search__white-gradient-rectangle {
	position: absolute;
	bottom: 0px;
	opacity: 0;
	width: 125px;
	height: calc(50% - 22px);
	background: radial-gradient(ellipse at center, #fff 0%, #fff 26%, transparent 95%);
	background-size: 200%;
	background-position: 30% 40%;
	animation-name: white-gradient-rectangle;
	animation-delay: 1.33s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	z-index: 0;
}
 @media screen and (max-width: 768px) {
 .suggestion-wheel__list { margin-top:-60px;}
 .second-col-links { margin-left:80px;}
}

@media screen and (max-width: 479px) {
 .search__white-gradient-rectangle { height: calc(50% - 29.5px);}
}
 @keyframes white-gradient-rectangle {
 0% {
 opacity: 0;
}
 100% {
 opacity: 0.05;
}
}
.search__top-opaque-white-line {
	position: absolute;
	top: 15%;
	left: 60px;
	opacity: 0;
	width: 1px;
	height: 40%;
	background: #fff;
	animation-name: top-opaque-white-line;
	animation-delay: 1s;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}


.search__left-full-white-line {
	position: absolute;
	top: 49%;
	left: 60px;
	height: 65px;
	width: 1px;
	background: #fff;
	transform: translateY(1000%);
	animation-name: search-bar-left-full-white-line;
	animation-delay: 1.15s;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	z-index: 2;
}

@media screen and (max-width: 768px) {
 .search__left-full-white-line {
 height:64.33333px;
     left: 61px !important;
}

}
.search__bottom-opaque-white-line {
	position: absolute;
	top: 55%;
	left: 60px;
	height: 35%;
	width: 1px;
	background: rgba(255, 255, 255, 0.36);
	transform: translateY(1000%);
	animation-name: bottom-opaque-white-line;
	animation-delay: 1.5s;
	animation-duration: 0.667s;
	animation-fill-mode: forwards;
}

.search-nav__field-bottom-opaque-white-line {
	position: absolute;
	bottom: 0;
	opacity: 0;
	height: 1px;
	width: 100%;
	background: #fff;
	animation-name: search-bar-bottom-opaque-white-line;
	animation-delay: 1.6s;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	display:block;
}
.full-width-bottom-line{
	position: absolute;
	opacity: 0;
	height: 1px;
	width: 100%;
	background: #fff;
	animation-name: search-bar-bottom-opaque-white-line;
	animation-delay: 1.6s;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	display:block;
	top:147px;
	z-index:999;
	}
 @keyframes cursor-animation {
 0% {
 opacity: 0;
}
 50% {
 opacity: 1;
}
 100% {
 opacity: 0;
}
}
 @keyframes white-gradient-rectangle {
 0% {
 opacity: 0;
}
 100% {
 opacity: 0.05;
}
}
 @keyframes top-full-white-line {
 0% {
 animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
 transform: translateY(-1000%) rotate(270deg);
}
 26% {
 transform: translateY(-30%) rotate(270deg);
}
 80% {
 color: transparent;
 transform: translateY(-30%) rotate(270deg);
}
 100% {
 color: #fff;
 transform: translateY(-30%) rotate(270deg);
}
}
 @keyframes search-bar-left-full-white-line {
 0% {
 animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
 transform: translateY(1000%);
}
 100% {
 transform: translateY(-50%);
}
}
 @keyframes search-icon {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
 @keyframes search-bar-bottom-opaque-white-line {
 0% {
 opacity: 0;
}
 8% {
 opacity: 0.36;
}
 17% {
 opacity: 0.15;
}
 100% {
 opacity: 0.2;
}
}
 @keyframes top-opaque-white-line {
 0% {
 opacity: 0;
}
 8% {
 opacity: 0.36;
}
 17% {
 opacity: 0.15;
}
 100% {
 opacity: 0.36;
}
}
 @keyframes bottom-opaque-white-line {
 0% {
 animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
 transform: translateY(1000%);
}
 100% {
 transform: translateY(0);
}
}
.search-popular_text {
	position: absolute;
	top: 37%;
	left: 202px;
	padding: 0 10px 25px;
	color: transparent;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 2px solid #fff;
	transform: rotate(270deg) translateY(-1000%);
	transform-origin: bottom left;
	animation-name: top-full-white-line;
	animation-duration: 2.67s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}
@keyframes top-full-white-line {
 0% {
 animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
 transform: translateY(-1000%) rotate(270deg);
}
 26% {
 transform: translateY(-30%) rotate(270deg);
}
 80% {
 color: transparent;
 transform: translateY(-30%) rotate(270deg);
}
 100% {
 color: #fff;
 transform: translateY(-30%) rotate(270deg);
}
}
.search-nav__popular {
	position: absolute;
	top: 34%;
	left:61px;
	padding: 0 10px 25px;
	color: transparent;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	/*border-bottom: 1px solid #fff; updadte 28/10/2016*/
	transform: rotate(270deg) translateY(-1000%);
	transform-origin: bottom left;
	animation-name: top-full-white-line;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}
.search-nav__input-fake, input[type="search"].search-nav__input-real {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 0px 0px 125px; /* updated on 21/10/2016 left padding 108 to 125*/
	height: 100%;
	width: 92%;
	color: #fff;
	color: white;
	font-size: 40px;
	line-height: 70px; /* updated on 21/10/2016 left line-height 65 to 70*/
	text-align: left;
	white-space: nowrap;
	border: 0;
	outline: none;
	background: transparent;
	overflow: hidden;
	box-sizing: border-box;
}
@media screen and (max-width: 568px) {
	.search-nav {  top:50px; padding-top: 0px;}
	.search-nav__popular { top:29%; font-size:9px;}
	.search-nav__input-fake, input[type="search"].search-nav__input-real {	padding: 0px 0px 0px 88px;}
	.footer .links li { margin-top:1px !important;}
	.footer_wrapper .btn:active { padding-bottom:0;}
}

 @media screen and (max-width: 479px) {
	.search-nav__input-fake, input[type="search"].search-nav__input-real {	padding: 0px 0px 0px 88px;	font-size: 24px;	line-height: 28px;	}
/*	.search-nav__button {	display:none !important;	}*/
	.search-nav__search-icon {	font-size:24px;	}
}
 @media screen and (min-width: 1024px) {
	.search-nav__input-fake, input[type="search"].search-nav__input-real {	font-size: 45px; /*update on 26/10/2016 */}
	.navbar-brand {margin-top: 0px;}
}
	.search-nav__input-fake {	color: #cccccc;	color: rgba(255, 255, 255, 0.4);}
	.search-nav__button {
	position: absolute;
	top: 50%;
	right: 0;
	opacity: 1;
	color: #fff;
	font-size: 33px;
	border: 0;
	background: none;
	transform: translateY(-50%);
	transition: opacity 0.2s cubic-bezier(0.86, 0, 0.07, 1);
	display:none;
}

.search-nav__button.is-active { 	opacity: 1;}
@media screen and (max-width:736px) {
	.search-nav {top:40px;}
	.search-nav__popular { top:23%; font-size:9px;}
	.search__bottom-opaque-white-line{ top:52%;}
	.required-text{ text-align:right !important;}
}
/**Footer**/

.footer {	background-color:#f3f3f3;	/*padding:40px 0px 0px; updated on 20/10/2016 */     padding: 40px 0px 20px;}
.footer .links {	list-style:none;	padding-left:0px;}
.footer .links li {	/*margin-top:10px; updated on 20/10/2016 */ margin-top:15px;}
.footer .links li:first-child{ margin-top:0px;}/*updated on 20/10/2016 */
.footer .links a {	font-size:12px;	/*updated on 24/10/2016 */ font-family:"gesans-regular";	text-transform:uppercase;	color:#262020; letter-spacing:0.05em /* added on updated on 24/10/2016 */  }

.footer_wrapper .collapse {	display:block}
.footer .social_links {	font-family:"gesans-regular";	/*margin-top:10px;updated on 20/10/2016 */  margin-top:0px;}
.footer .social_links span { 	display:inline-block;	color:#000000;	font-size:14px; /*font-size:12px;updated on 25/10/2016 */ 	text-transform:uppercase;}
.footer .social_links ul {	list-style:none;	display:inline; margin-right:30px;}
.footer .social_links li {	display:inline-block;	margin:0px;	padding:0px;}
.footer .social_links li a.icon {
	color:#989898;
	padding:5px;
	width: 25px;
	height:25px;
	border: 1px solid #989898;
	border-radius: 25px;
	font-size: 12px;
	line-height: 22px;
	text-decoration:none;
	/*padding:6px 6px 5px 6px;*/
	margin-left:5px;
}
.footer .social_links li a.icon:hover {	color: #fff;	background-color: #989898;	text-decoration: none;	border-radius: 25px;}
.footer col-md-1, .footer .col-md-3, .footer .col-md-5 {	padding-right:0px;}
.footer .col-md-5 {	vertical-align:text-bottom;}
.footerbar.btn {	display: inline-block;}
.footerbar.btn {	display: inline-block;	font-size:18px;	border:0px;	width:100%; padding:12px 0px}
.footerbar.btn.btn-info {	color: #989898;	background-color: #f3f3f3;	border-radius: 0px;	/* margin-bottom:-1px; Updated on 27/10/2016*/}
.copyright {	color: #262020;	display: inline-block;	font-size: 12px;	line-height: 1.1em;	text-decoration: none;	transition: opacity 0.3s ease 0s;
	text-transform: capitalize; 	padding-right:50px;	font-family:'gesans-regular', Arial, sans-serif;	float:left;	margin-top:5px;}

/**Footer**/

.stock-ticker { position: absolute;left: 15px;	bottom: 40px;	z-index: 98;}
.stock-ticker {	color: #fff;	font-size:14px !important;}
.stock-ticker:hover, .stock-ticker:active, .stock-ticker:focus {	color: #fff;	text-decoration: none;}

 @media screen and (max-width: 479px) {
	.stock-ticker {	display: none;	}
	.footer .social_links {	padding-left:0px !important;}
}
.stock-ticker__arrow { display: inline-block;	margin: 0 2px;	width: 11px;	height: 8px;}
.stock-ticker__arrow.stock-ticker__arrow--up { 	background: url("../images/arrow-up.png") no-repeat center center;}
.stock-ticker__arrow.stock-ticker__arrow--down { 	background: url("../images/arrow-down.png") no-repeat center center;}
.social-nav { 	position: absolute;	margin-left:115px;	bottom: 30px; 	z-index: 98;}

@media screen and (min-width: 480px) {
	.social-nav__label {	display: inline-block;	}
	.search-nav__input-fake, input[type="search"].search-nav__input-real {	padding-left:104gpx;	}
}

.social-nav__list {	display: inline-block;	margin: 0;	padding: 0;	list-style: none;}
.social-nav__item {	display: inline-block;	margin-right: 10px;}
.social-nav__link { 	display: block;	padding: 0 18px;	height: 25px;	color: #fff;	line-height: 22px;	text-align: center;	border: 1px solid #fff;
	border-radius: 25px; 	background-color: transparent;	transition: all 0.2s ease-out;}
.social-nav__link:hover, .social-nav__link:active, .social-nav__link:focus { 	color: #055fba;	background-color: #fff;	text-decoration: none;}
 .social-nav__link.icon, .social-nav__link.sidebar-menu__title::before, .social-nav__link.search-nav__button, .social-nav__link.search-nav__search-icon {
 padding: 0;     width: 25px;
    height: 25px;
    font-size: 12px;
    line-height: 25px}
.social-nav--dark .social-nav__link { 	color: #989898;	border-color: #989898;}
.social-nav--dark .social-nav__link:hover, .social-nav--dark .social-nav__link:active, .social-nav--dark .social-nav__link:focus {	color: #fff;	background-color: #989898; 	text-decoration: none;}
.search-nav .suggestion-wheel { 	width: 100%;	height: calc(100% - 114px);	padding-left: 52px;}

@media screen and (max-width: 479px) {
	.search__bottom-opaque-white-line{	top:52%;	}
}

@media screen and (min-width: 412px) {
	.search-nav__input-fake, input[type="search"].search-nav__input-real {padding-top:1px;}
	.search-nav__input-wrapper { top:49% ; }
}

@media screen and (max-width: 480px){
	/* .search__white-gradient-rectangle {  width: 62px !important; } 20/10/2016 */
	.search-nav__popular { padding:0 2px 25px; top:23% ; font-size:8px; top:23%;}

}

@media screen and (max-width:481){
		.search-nav__popular { padding:0 10px 25px; top:29%; font-size:9px; top:29%;}
}

@media screen and (max-width:414px) {
	.search-nav {top:40px;}
	.search-nav__input-wrapper {top:55% !important;}
	.footer .second-col-links { margin-left:80px; padding-top:0px;}
	#footer .col-xs-3.second-col-links { width: 66% !important;} /* added on 03/11/2016*/
}

@media screen and (max-width:360px) {
	.search-nav {top:40px;}
	.search-nav__input-wrapper {top:50% !important;}
}

@media screen and (max-width:320px) {
	.search-nav {top:40px;padding-top: 58px;}
	.search-nav__input-wrapper {top:51% !important;height:42px;}
	.copyright {width:100%;margin:10px 0 !important;}
	.footer .col-md-3{ width:60% !important;}
	.footer .links li { margin-top:5px !important;}


}

@media screen and (max-width: 767px) {
	 .second-col-links { margin-left:0px;}
	.second-col-links{ margin-left:0px; padding-top:45px;} /* updated on 28/10/2016*/
	.search-nav .suggestion-wheel {padding-left: 20px;}
	ul.nav.navbar-nav li:last-child {padding-right:0;}
	.container {padding:0;}
	/*.navbar-brand {margin-left:15px;} 11/16/2016*/
	.navbar-brand {margin-left:0px;}
	.search-nav__input-wrapper {left:10px;}
	.search__top-opaque-white-line {top:12%;}
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header { margin-right: 0px; margin-left: 0px; }
	/* .search__white-gradient-rectangle {  width: 62px !important;} 20/10/2016 */
	.job-alert .group { width:100%;}
	.job-alert .modal-footer{ text-align:left; }
	.required-text{ margin-top:20px;}
	.watch-video .modal-dialog{ top:0px !important;}
	/*.inner-layout .nav.navbar-nav.navbar-right { right:30px;} 11/16/2016*/
	.inner-layout .nav.navbar-nav.navbar-right { right:18px; margin-top:5px;}

}

@media screen and (max-width: 1920px) {
	/* .search__white-gradient-rectangle {  width: 444px !important; } 20/10/2016 */
}

@media screen and (max-width: 1600px) {
	/* .search__white-gradient-rectangle {  width: 330px !important; } 20/10/2016 */
}

@media screen and (max-width: 1600px) {
	/* .search__white-gradient-rectangle {  width: 292px !important; } 20/10/2016 */
}

@media screen and (max-width: 1440px) {
	.search__white-gradient-rectangle {  /* width: 205px !important; 20/10/2016 */ height:calc(50% - 13.5px); }
}
@media screen and (max-width: 1366px) {
	/* .search__white-gradient-rectangle {  width: 168px !important;} 20/10/2016 */
}

@media screen and (max-width: 1280px) {
	/* .search__white-gradient-rectangle {  width: 125px !important;  } 20/10/2016 */
}

/* Portrait tablet to landscape and desktop */
@media screen and (max-width: 1024px) {
	.footer .col-md-5 { padding-top: 0px;} /*update on 26/10/2016*/
	.footer .links a { font-size: 14px; font-family: "gesans-regular"; text-transform: uppercase; color: #262020;}
	/* .search__white-gradient-rectangle {  width: 102px !important; } 20/10/2016 */
	#search-result-page .search__left-full-white-line{ height:52px; top:119px; }
	#hero-quicklinks .search-result-overlay__sidebar{ display:none;}

}

@media screen and (max-width: 768px){
	/* .search__white-gradient-rectangle {    width: 75px !important;} 20/10/2016 */
	.inner-layout { padding-top:20px;}
	.footer{	padding:40px 0px 0px;}
	.stock-ticker-foot { margin-bottom:20px;}
	.footer .col-md-5 { width:100%; }
	.footer .col-md-5 .social_links{ float:none !important; text-align:center; margin-bottom:20px;}
	.footer .social_links ul{ padding-left:0px;}
	body {
  	/* Margin bottom by footer height */
	  margin-bottom: 0px !important;
		}
	.footer_wrapper{ height: auto !important;}
	html, body { overflow: inherit !important;}
	#search-result-page .footer_wrapper { position:fixed !important;}
	#search-result-page .search__left-full-white-line{ height:55px; top:120px; }
	#footer .col-xs-3.second-col-links {width:45%;} /* added on 03/11/2016*/

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	.container {    width: auto;}
	.stock-ticker {display:none;}
	.footer .social_links { margin-right: -35%;}
	.footer .col-md-5 {padding-top:0px;}
	.hide-tablet {display:none !important;}
	.footer .col-md-1 {float:left;}
	.footer .links { list-style: none; position: relative;}
	.hide1024 {display:block !important;}
	.navbar.navbar-default {margin-top:10px;}
	.social-nav { bottom:65px; z-index: 0;}
	.navbar-default .navbar-nav { right: 30px;}
	.footer_wrapper .collapse {display:none;}
	.footer_wrapper .collapse.in {display:block !important;}
	.footer_wrapper {position:fixed;bottom:0px;width:100%; z-index:2}
}

/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {
	#search-result-page .search__left-full-white-line{ height:35px !important; top:99px !important; }
	a.stock-ticker-foot{ font-size:17px;}
	.footer .col-md-1 {float:left;}
	.hide-mobile {display:none !important;}
	.footer .social_links { margin-top: 20px; width: 210px !important; margin:20px auto;}
	.footer .social_links ul{ display:block; padding:0px;}
	.footer .col-md-5 {margin-left:0px;padding-top:0px;}
	.copyright { text-align: center; padding: 5px 0px; margin: 10px 30px 10px 0;}
	.footer .links { list-style: none; position: relative;}
	.footer_wrapper .collapse {display:none;}
	.footer_wrapper .collapse.in {display:block !important;}
	.footer_wrapper {position:fixed;bottom:0px;width:100%; z-index:2}
	.footer .social_links {text-align:left;}
	.footer .pull-right {float:none !important;}
	.footer .copyright {text-align:left;}
	.footer_wrapper .btn.active, .footer_wrapper .btn:active { background-image: none; outline: 0; -webkit-box-shadow:none; -moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none; box-shadow:none; box-shadow: none;}
	.footer {padding:15px 0px 0px;}
	.social-nav {display:none;}
	.search-nav {padding-top:50px;}
	.footer .links a{ font-size:12px;}
	/* .search__white-gradient-rectangle {    width: 62px !important;} 20/10/2016 */
	#footer .col-xs-3 {width:35%;} /* added on 03/11/2016*/
}

@media screen and (max-width: 667px) {
	.footer .social_links {text-align:center;}
	.search-nav__popular {/* top:23%; updated on 21/10/2016*/ top:26%; font-size:9px;}
	.footer .social_links ul {display: inline-table;padding-left:0;width:100%;text-align:left;}
	.footer .social_links ul li {display: inline;}
	.search__left-full-white-line { height: 64.33333px; top: 55%;}
	.search-nav__input-fake, input[type="search"].search-nav__input-real {
	/*padding: 0px 0px 0px 88px;updated on 21/10/2016*/
	padding:0px 18px 0px 80px;
}
	.search-nav { padding-top: 30px;}
	.suggestion-wheel__list { margin-top:-21px;}
	.search-nav__input-wrapper { top: 51% !important;}
	.suggestion-wheel__list { margin-top:-35px;}
	.search__white-gradient-rectangle {	height: calc(44%);}
}


@media screen and (max-width:414px) {
	.search-nav {top:20px;}
	.search-nav__input-wrapper {top:45% !important;}
	.search__left-full-white-line { height: 40px; top: 45% !important;}
	/*#footer .col-xs-3 {width:37%;}  commented on 03/11/2016 and adding into 768 media query*/
	.search-nav__input-fake, input[type="search"].search-nav__input-real { padding: 6px 10px 0px 74px !important;}
	.search__white-gradient-rectangle { height: calc(50% - -3px) !important; }
	.suggestion-wheel__list { margin-top:-35px !important;}
	.footer .social_links {margin-top:20px;width:100%;}
	.footer .social_links li a.icon {font-size:14px;padding:6px 6px 5px;}
	.stock-ticker, .social-nav {display:none;}
	.footer_wrapper .collapse {display:none;}
	.footer_wrapper .collapse.in {display:block !important;}
	.footer_wrapper {position:fixed;bottom:0px;width:100%; z-index:2}
}

@media screen and (max-width: 375px) {
	.search-nav {top:0px;}
	/* .search__white-gradient-rectangle {  width: 62px !important;} 20/10/2016 */
	.search-nav__popular {font-size:9px;top:24%;}
	.suggestion-wheel__list { margin-top:-15px !important;}
	.search__bottom-opaque-white-line {top:52%;}
	.search__white-gradient-rectangle { height: calc(50%);}
	/*#search-result-page .search__left-full-white-line{ top:27% !important;} commented on  26/10/2016*/

	.search-nav__input-wrapper{ height:40px; line-height:40px;}
}

@media screen and (max-width: 320px) {
	.search__left-full-white-line { height: 41.33333px; top: 51%;}
	.search-nav__input-fake, input[type="search"].search-nav__input-real { padding: 0px 0px 0px 72px !important;}
	.search__white-gradient-rectangle { height: calc(51% - 1px) !important;}
	/*#search-result-page .search__left-full-white-line {    top: 28% !important;}commented on  26/10/2016*/
}

/* Landscape phones and down */
@media screen and (max-width: 667px)and (orientation: landscape) {
	.search-nav__input-wrapper { top: 53%;/* height: 42px; left: 0px; updated on 21/10/2016 */   height: 40px;
    left: 10px;}
	.search__left-full-white-line { height: 41.33333px; top: 51%;}
	.search-nav__input-fake, input[type="search"].search-nav__input-real { font-size: 25px; /*line-height: 47px; updated on 21/10/2016*/ line-height:40px;}
	.stock-ticker, .social-nav {display:none;}
}
.ui-autocomplete {
	position: absolute;
	padding:0px;
	cursor: default;
	font-family:'gesans-regular', Arial, sans-serif;
	width:89% !important ;

	margin-top: 2px;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	z-index:6056;
	    padding: 15px 0px;
}
#search-result-page .ui-autocomplete{ top:97% !important; left:63px !important; width:87% !important;}

#search-result-page .ui-autocomplete > li > div {	padding: 3px 20px 3px 20px;}
	.ui-autocomplete > li > div {	padding: 3px 20px 3px 55px;}
	.ui-autocomplete > li.ui-state-focus{	background-color: #DDD;}
	.ui-helper-hidden-accessible {	display: none;}
	.ui-state-hover, .ui-autocomplete li:hover,  {	background-color:#f2f2f2;	cursor:pointer;}
	.ui-menu-item-wrapper {	line-height: 40px;	letter-spacing:1.1px;	padding: 0 50px 0px 0px;}

	.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 0;
	background:#f2f2f2;
	font-weight: normal;
	cursor:pointer;

}
	/* Portrait tablet to landscape and desktop */
@media screen and (max-width: 1024px) {
	.ui-autocomplete{ width:86% !important; }
	#footer .footer{ padding-bottom:0;}
}

	/* Portrait tablet to landscape and desktop */
@media screen and (max-width: 768px) {
	.ui-autocomplete{ width:86% !important; left:60px !important; }
}
	/* Portrait tablet to landscape and desktop */
@media screen and (max-width: 767px) {
	.ui-autocomplete{ top:51px !important; left:51px !important; }
	.search-nav__button{ font-size:22px;}
}
/* Landscape phones and down */
@media screen and (max-width: 667px)and (orientation: landscape) {
	.ui-autocomplete{ top:38px !important;}
	.search-nav__input-wrapper.focus .search-nav__button{ margin-right:7px;}
	 .ui-autocomplete > li > div {	padding: 3px 20px 3px 30px;}
}
@media screen and (max-width: 568px){
.search-nav__popular {
    top: 23%;/* 24/10/2016 changed the top from 23% to 30%;*/
    font-size: 6px;
}.search-nav__input-fake, input[type="search"].search-nav__input-real{line-height:44px;}}

/* Landscape phones and down */
@media screen and (max-width: 736px) {
	.ui-autocomplete{ top:38px !important; width:89% !important; }
	.search-nav__input-wrapper{height:40px;}
	.ui-autocomplete > li > div {	padding: 3px 20px 3px 30px;}
	.search-nav__input-wrapper.focus .search-nav__button{ margin-right:7px;}
	.search-nav__input-fake, input[type="search"].search-nav__input-real{ padding:0px 0px 0px 74px; font-size:30px; line-height:43px;} /* 24/10/2016 changes font size*/
	#search-result-page .search-nav__input-fake, input[type="search"].search-nav__input-real{line-height:43px;}
	.search__left-full-white-line{ height:40px;}
	.search-nav__popular{ font-size:9px; top: 25% !important;}
	#search-result-page .search-nav__input-wrapper{ top:100px !important;}
	#search-result-page .search__left-full-white-line {
    /* top: 26% !important;  commented on  26/10/2016*/
    left: 53px !important;
    height: 38px !important;
}
	.hero-block{ padding-top:24px;}
.hero-block .portlet__inner:before{top:15px; left:2px;}
#search-result-page .portlet .portlet__inner .portlet__bottom-sticky{ margin-top:0px;}
}
@media screen and (max-width: 667px) {
	#search-result-page .ui-autocomplete{ left:52px !important; }
#search-result-page .ui-autocomplete > li > div {
    padding: 3px 20px 3px 30px;
}
}
@media screen and (max-width: 568px) {
	.search-nav__popular {
    font-size: 6px;
}
.ui-autocomplete > li > div {
    padding: 3px 20px 3px 23px;
}
}
@media screen and (max-width: 414px) {.ui-autocomplete{ top:38px !important; width:80% !important; } .ui-autocomplete > li > div {	padding: 3px 20px 3px 20px;

}
.search-nav__popular {
    font-size: 9px !important ;
}

#search-result-page .search__left-full-white-line {
    /* top: 25% !important; commented on  26/10/2016*/
    left: 48px !important;
    height: 36px !important;
}
.search-nav__input-fake, input[type="search"].search-nav__input-real{ padding:0px 0px 0px 74px; font-size:24px; line-height:32px;} /* 24/10/2016 changed the font size from 20 to 30 */
}

@media screen and (max-width: 375px) {
	/*#search-result-page .search__left-full-white-line {     top: 27% !important;}commented on  26/10/2016*/
	#search-result-page .ui-autocomplete {
    left: 22px !important;
}#search-result-page  .ui-autocomplete > li > div {
    padding: 3px 20px 3px 40px;
}

	}
	@media screen and (max-width: 320px) {
	.search-nav__input-fake, input[type="search"].search-nav__input-real{ line-height:43px;}
	/*#search-result-page .search__left-full-white-line {    top: 26% !important;} commented on  26/10/2016*/
	}
	.skip-nav {	background: none;	margin: 0;	position: fixed;	top: 0;	left: 10px;	padding:5px;	z-index: 100;    display:none;	text-decoration: none;	color: #333; background-color: #FFF; 	-webkit-border-radius: 0px 0px 10px 10px;	-moz-border-radius: 0px 0px 10px 10px;	border-radius: 0px 0px 10px 10px;}
	.skip-nav i {	font-size: 60px;}


	.job-alert  .modal-body{ padding:15px 15px 15px 35px;}
	.job-alert .modal-header{background-color:#015bb7; color:white; padding:40px}
	.job-alert .close{ position:absolute; right:20px; top:20px;}
	.job-alert .modal-header h2{ padding:20px 20px 0px 0px;}
	.job-alert .modal-content button.close{ text-shadow:none; color:#fff; opacity:1; font-weight:normal; font-size:18px;  }
	.job-alert .modal-content, .watch-video .modal-content {    -webkit-box-shadow: none ;     box-shadow:none ;	border-radius: 0px;   border: none;    font-family:'gesans-regular', Arial, sans-serif;}
	.job-alert .modal-footer{ border: none; padding:15px 42px; }

	.watch-video .modal-content button.close { background-color:#0861bb; padding:10px 30px; color:#fff; opacity:1; font-weight: normal; font-size:15px;}
	/*.watch-video .modal-dialog{ top:100px;}*/
	.watch-video .modal-header{ background-color: transparent; border:none; padding:0;}
	.watch-video .modal-content { background-color:transparent; padding:0;}
	.watch-video .modal-body img, .watch-video .modal-body, .watch-video .modal-body video{ width:100%; max-width:100%; padding:0;}
	.search-nav__popular {top:31%;} /* 24/10/2016 added */

/* form starting stylings ------------------------------- */
.job-alert .group 			  {
  position:relative;
  margin-bottom:20px;
  float:left;
  width:50%;
  font-family:'gesans-regular', Arial, sans-serif;
}
.job-alert input 				{
  font-size:14px;
  padding:10px 10px 10px 5px;
  display:block;
  width:90%;
  border:none;
  border-bottom:1px solid #dddee0;
}
.job-alert input:focus 		{ outline:none; }

/* LABEL ======================================= */
.job-alert label 				 {
  color:#565759;
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  font-family:'gesans-regular', Arial, sans-serif;
}

/* active state */
.job-alert input:focus ~ label, input:valid ~ label 		{
  top:-5px;
  font-size:14px;
  color:#27afdf;
}

/* BOTTOM BARS ================================= */
.job-alert .bar 	{ position:relative; display:block; width:90%; }
.job-alert .bar:before, .bar:after 	{
  content:'';
  height:1px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#27afdf;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.job-alert .bar:before {
  left:50%;
}
.job-alert .bar:after {
  right:50%;
}

/* active state */
.job-alert input:focus ~ .bar:before, .job-alert input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.job-alert .highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.job-alert input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#27afdf; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#27afdf; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#27afdf; }
  to 	{ width:0; background:transparent; }
}
.job-alert .form-group label{ left:150px;}

@media screen and (min-height: 1025px)and (orientation: portrait) {
.suggestion-wheel__item { margin-bottom: 8%;}
}

 @media all and (-ms-high-contrast:none)
     {
     *::-ms-backdrop, #hero-quicklinks .search-result-overlay__sidebar { padding-top:66px !important;} /* IE11 */
     }
input::-ms-clear {
    display: none;
}

.financial-yoy {
    width: auto !important;
    font-size: 26px !important;
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
 }

 .financial_report span {
    padding: 0 !important;
    margin: 0 !important;
}

.financial_report .reported-num {
    display: block;
    font-size: 32px;
    padding: 10px 0px;
    width: 150px;
    text-align: left;
    margin: 0 auto;
}
