/***common style***/
*{font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;font-size:12px;font-weight:normal;line-height:1.4em;color:#333;margin:0;padding:0;list-style:none;text-decoration:none;}
img{border:0;vertical-align:middle;}
.left{float:left;}
.right{float:right;}
.center980{width:1003px;margin:0 auto;}
.contentBg {background: none repeat scroll 0 0 #FFFFFF;}
.width980{width:1003px;margin:0 auto;}
.clr {clear:both;}
.dis{display:none;}
.undis{display:block;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}/* Hides from IE-mac \*/
*html .clearfix{height:1%;}
.clearfix{display:block;}/* End hide from IE-mac */
*+html .clearfix{min-height:1%;}
em {font-style:normal;}
a:visited {text-decoration:none;}
a:hover {color:#f60;text-decoration:underline;}
/***common style end***/

/***************input style***************/
.content {background:#fff;}
.inputW20H18{width:20px;height:18px;line-height:18px;}
.inputW140H26{width:140px;height:26px;line-height:26px;border:1px solid #bbb;}
.inputW70H26{width:70px;height:26px;line-height:26px;border:1px solid #bbb;}
.inputW200H26{width:200px;height:26px;line-height:26px;border:1px solid #bbb;}
.inputW100H26{width:100px;height:26px;line-height:26px;border:1px solid #bbb;}

/***************input style End***************/

/***fontStyle***/
.cRed{color:red;}
.cDarkRed{color:#c00;}
.cOrange{color:#f60;}
.cBlue{color:#36c;}
.cGray{color:gray;}
.cWhite{color:white;}
.fontC333S14B{font-size:14px;color:#333;font-weight:bold;}
.fontCc00S14B{font-size:14px;color:#c00;font-weight:bold;}
.fontCf60S14B{font-size:14px;color:#f60;font-weight:bold;}
.fontCf60S12{font-size:12px;color:#f60;}
.font_999_14b {color:#666;}
.fontCf00S12{font-size:12px;color:#ed6d00;}
.font3366cc {font-size:12px;color:#3366cc;}
.font3366ccT {font-size:12px;color:#3366cc;text-decoration:underline;}
a.fontC36cS12B:link,a.fontC36cS12B:visited{font-size:12px;color:#36c;text-decoration:none;font-weight:600;}
a.fontC36cS12B:hover{text-decoration:underline;}
a.fontC36cS12B:active{color:#36c;}

a.fontC36cS12:link,a.fontC36cS12:visited{font-size:12px;color:#36c;text-decoration:none;}
a.fontC36cS12:hover{text-decoration:underline;}
a.fontC36cS12:active{color:#36c;}
.fontCf60S12{font-size:12px;color:#f60;}
.inputW48 {width:48px;height:20px;border:1px solid #cfcfcf;box-shadow:1px 1px 3px #DDDDDD inset;margin-right:5px;}
strong {font-weight:bold}
/***fontStyle End***/

/***headerTop  begin***/

#shortcut {z-index:99999;width:100%;background:url(../images/index_bg.gif) #f8f8f8 repeat-x 0 0 ;height:31px;}
*+html #shortcut {_overflow:hidden;}
#shortcut .collect {color:#999999;float:left;padding-left:5px;z-index:1;line-height:32px;height:30px;overflow:hidden;}
#shortcut .collect span {line-height:32px;}
#shortcut ul {float:right;z-index:9999;height:30px;}
#shortcut ul li {float:left;z-index:9999;margin-right:10px;background:url(../images/new_index0306.png) -138px -102px no-repeat;padding-left:10px;height:30px;overflow:hidden;}
#shortcut ul li a {line-height:32px;}
#shortcut ul li a:hover {color:#f60;}
#shortcut .weibo b{background:url(../images/new_index0306.png) -205px -75px no-repeat;padding-left:20px;height:24px;overflow:hidden;display:block;float:left;}
#shortcut .menu {width:90px;padding:1px 1px 0px 11px;height:28px;margin-right:0px;}
#shortcut .menu dt {overflow:hidden;height:28px;}
.menu dd {display:none;width:90px;}
.menu dd div {height:23px;margin-bottom:5px;overflow:hidden;}
#shortcut .menu span {line-height:30px;cursor:pointer;}

#shortcut .mall {width:70px;padding:1px 1px 0px 11px;background:none;margin-right:0;height:28px;}
#shortcut .mall dt {overflow:hidden;height:27px;}
.mall dd {display:none;width:68px;}
.mall dd div {height:22px;margin-bottom:5px;overflow:hidden;}
#shortcut .mall span a {line-height:29px;}

#shortcut .hover {position:relative;overflow:visible;}
#shortcut .hover dl{border:1px solid #ddd;background:#fff;padding:0px 0px 0px 10px;position:absolute;left:0px;top:0;}
#shortcut .hover dd {display:block}
#shortcut .hover dd  a {clear:both;line-height: 22px;}
.poRe {position:relative;padding-right:10px;margin-right:-10px;}
#shortcut .moreServiceOn{float:left;}
#shortcut .moreServiceOn b {position:absolute;background:url(../images/new_index0306.png) -92px -27px no-repeat;width:7px;height:4px;overflow:hidden;right:0px;top:12px;}
#shortcut .hover span b {background:url(../images/new_index0306.png) -92px -31px no-repeat;}
/****************
头部样式文件
****************/

.headerStyle {width:1003px;margin:0px auto;height:83px;}
.cartStepsHeader {height:80px;position:relative;z-index:9995;}
.logo {float:left;width:306px;float:left;height:72px;overflow:hidden;margin:6px 0;}
.logo b {position:absolute;}
.logo a:link b,.logo a:visited b{top:20px;left:230px;width:80px;height:50px;cursor:pointer;}
.logo a:hover b,.logo a:active b{background:url(../images/new_index0306.png) no-repeat 0 -88px;}
.logo .logoImg{margin-top:7px;display:block;}
.logo .logoImg a{display:block;width:300px;height:58px;overflow:hidden;line-height:1000px;background:url(../images/logoimg.png) no-repeat 0 0;}
.logoLogin {float:left;width:255px;float:left;height:45px;}
#header {position:relative;z-index:998;}
#header .city{float:left;margin-left:20px;margin-top:23px;}
#header .city .citySelect{line-height:45px;font-size:20px;font-weight:600;font-family:"微软雅黑";color:#f60}
#header .city a.cityTab{line-height:45px;color:#626262;}
#header .city a.cityTab label {font-size:9px;color:#999;}
#header .city a.cityTab:hover {color:#f60;}
#header .searchForm {margin-top:25px;float:right;width:470px;_width:470px;}
.mallSearch {height:31px;margin-bottom:5px;}
.mallSearch li{float:left;height:31px;}
.searchL{position: relative;width:26px;background:url(../images/header/headerSearchL.jpg) no-repeat;}
.searchM{width:345px;background:url(../images/header/headerSearchM.jpg) repeat-x;}
.searchM .searchBox{width:330px;height:25px;line-height:25px;border:0;margin-top:2px;}
.searchR{width:90px;cursor:pointer;}
.searchR a {width:97px;display:block;height:31px;background:url(../images/header/headerSearchR.jpg) no-repeat;}
.searchR a:hover {background:url(../images/header/headerSearchR.jpg) 0 -31px no-repeat;}
.cityPrompt {position:absolute;display:block;height:19px;line-height:19px;border:1px solid #cccccc;background:#fefaf2;padding:0 5px;left:342px;top:-10px}
.cityPrompt i {background:url(../images/header/header.gif) 0 0 no-repeat;height:5px;width:9px;display:block;position:absolute;left:27px;top:19px;}
.hotSearch {width:470px;height:16px;white-space: normal;word-break: break-all;overflow: hidden;}
.hotSearch a {padding-right:5px;color:#999;}
.hotSearch a:hover,.hotSearch a.cf60 {color:#f60;}
.hotSearch .hot {color:#666;padding-left:10px;}
/*购物车*/
.oderCart {width:233px;height:36px;float:right;margin-top:5px;position:relative;z-index:10;}
.oderCart dl {width:233px;height:36px;}
.oderCart .paying {background:url(../images/new_index0306.png) no-repeat 0 0;width:113px;height:26px;float:left;display:block;padding-left:26px;overflow:hidden;}
.oderCart .hover dd {display:block}
.oderCart dd {display:none;}
.oderCart .shopping {background:url(../images/new_index0306.png) no-repeat 0 -27px;width:50px;height:26px;float:left;display:block;padding-left:37px;overflow:hidden;}
.oderCart .paying {color:#666;}
.oderCart .shopping {color:#fff;font-weight:bold;}
.oderCart .paying:hover {background:url(../images/new_index0306.png) no-repeat 0 -180px;width:113px;height:26px;float:left;display:block;padding-left:26px;text-decoration:none;}
.oderCart .shopping:hover {background:url(../images/new_index0306.png) no-repeat 0 -238px;width:50px;height:26px;float:left;display:block;padding-left:37px;overflow:hidden;color:#fff;font-weight:bold;text-decoration:none;}
.oderCart a {line-height:26px;}
/*购物车展开*/
.navIndex .cartContent {right:0px;}
.cartContent {border:2px solid #fe7b03;background:#fff;position:absolute;top:28px;right:-3px;border-top:none;width:332px;z-index:2;}
.cartContent .smc{max-height:344px;overflow:hidden}
.cartContent .sm p {padding:20px;color:#666;}
.cartContent ul{margin-top:-1px;}
.cartContent li.endBor {border-bottom:1px solid #f2ae7b;}
.cartContent li{height:52px;padding:10px;border-bottom:1px solid #e3e3e3;width:316px;overflow:hidden;line-height:17px;vertical-align:bottom;}
.cartContent li:hover,.cartContent li.hover{background:#F5F5F5;}
.cartContent .pImg{width:50px;height:50px;border:1px solid #ddd;padding:0;margin-right:10px;font-size:0;}
.cartContent .pName{width:160px;height:52px;}
.cartContent .pName a {line-height:21px;}
.pDetail{overflow:hidden;margin-top:14px;}
.cartContent .pPrice{font-weight:bold;}
.cartContent .delete{color:#005EA7;float:right;}
.cartContent .smb{padding-top:4px;background:#fffbf3;width:332px;height:60px;}
.goCart {margin-right:10px;text-align:right;}
.cartContent .smb b{margin:0 5px;color:#C00;}
.cartContent .smb strong{font-size:14px;color:#C00;}
.cartContent .smb .payForGoods {line-height:23px;display:inline-block;color:#fff;font-weight:bold;text-align:center;float:right;margin:10px 0}
.ar {float:right;margin-right:20px;}
.pPrice strong, .pMarket strong {color:#cc0000;}
.pPrice {color:#999;}
.fl {float:left;}
.btnSub {background:url(../images/new_index0306.png) no-repeat 0 -210px;width:81px;height:23px;line-height:23px;border:none;color:#fff;}
.btnSub:hover {background:url(../images/new_index0306.png) no-repeat -86px -210px;width:81px;height:23px;text-decoration:none;border:none;}
/*城市展开*/
.myCity {border:2px solid #ed6e02;width:570px;position:absolute;top:67px;left:362px;background:#fff;z-index:99999999996;padding:5px 10px 10px 10px;}
.myCity ul li {height:23px;clear:both;}
.myCity ul li a {float:left;width:48px;height:21px;line-height:21px;background:url(../images/new_index0306.png) no-repeat -133px -84px;color:#666;padding-left:10px;}
.myCity ul li span {float:left;line-height:21px;color:#f60;font-weight:bold;margin-right:25px;}
.myCity ul li a:hover {color:#f60;}
.closeCity {position:absolute;top:85px;right:1px;}
.closeCity a{font-size:12px;background:url(../images/bgGlobal.gif) no-repeat -0px -341px;width:59px;height:18px;display:block;color:#fff;text-align:center;}
/*导航*/
.closeCity a:hover {text-decoration:none;color:#fff;}
/*导航*/
.navigation{height:34px;margin-bottom:10px;width:1003px;margin:0 auto 10px auto;z-index:0;}
.navigation li{float:left;}


.navigationL{width:3px;background:url(../images/header/navLeftBg.png) no-repeat;height:34px;}
.navigationC{position:relative;width:977px;background:url(../images/header/navCenterBg_new.png) repeat-x;height:34px;}
.commodityClassificationBtn{position:absolute;top:4px;left:1px;width:192px;height:30px;cursor:pointer;background:url(../images/header/commodityClassification.png) no-repeat;}
.nav{}
.navigationR{width:3px;background:url(../images/header/navRightBg.png) no-repeat;height:34px;}

/****************
头部样式文件 end
****************/

/***cart steps***/
#orderCartStep1{background:url(../images/fillout_order_info/warebuy.gif) 0 0 no-repeat;}
#orderCartStep1 .step1{color:#fff;}
#orderCartStep2{background:url(../images/fillout_order_info/warebuy.gif) 0 -25px no-repeat;}
#orderCartStep2 .step1{color:#ff6600;}
#orderCartStep2 .step2{color:#fff;}
#orderCartStep3{background:url(../images/fillout_order_info/warebuy.gif) 0 -50px no-repeat;}
#orderCartStep3 .step3{color:#fff;}
.step{float:right;width:465px;height:25px;margin-top:35px;}
.step li{float:left;line-height:23px;width:155px;font-weight:bold;font-size:14px;text-align:center;}
/***cart steps end***/

/**bespeak steps**/
.schedule{float:right;width:292px;height:25px;margin-top:35px;}
.schedule li{float:left;line-height:25px;font-weight:bold;font-size:14px;text-align:center;}
#scheduleStep1{background:url(../images/fillout_order_info/bespeakStep.gif) 0 0 no-repeat;}
#scheduleStep1 .step1{width:155px;}
#scheduleStep1 .step2{width:137px;}
#scheduleStep2{background:url(../images/fillout_order_info/bespeakStep.gif) 0 -25px no-repeat;}
#scheduleStep2 .step1{width:155px;}
#scheduleStep2 .step2{width:137px;}

/**bespeak steps end**/

/***page bottom***/
.serTopL,.serTopR,.serBotL,.serBotR{position:absolute;width:5px;height:5px;display:block;overflow:hidden;}
.serviceH {position:relative;width:1003px;margin:0 auto;}
.serTopL{background:url(../images/header/header.gif) 0 -7px     no-repeat;top:-1px;left:-1px}
.serTopR{background:url(../images/header/header.gif) -5px -7px  no-repeat;top:-1px;right:-1px}
.serBotL{background:url(../images/header/header.gif) 0 -13px    no-repeat;bottom:-1px;_bottom:-2px;left:-1px}
.serBotR{background:url(../images/header/header.gif) -5px -13px no-repeat;bottom:-1px;_bottom:-2px;right:-1px}

/* .serviceTit {background:url(../images/bgGlobal.gif) 0px -178px repeat-x;width:100%;height:7px;margin:7px auto;} */
.serviceDetarl {min-height:110px;height:110px;padding:5px 10px 20px 20px;_padding:5px 10px 5px 10px}
.serviceDetarl dl {float:left;width:130px;margin:0 30px;_margin:0 30px;}
.serviceDetarl dl  dt h2 {background:url(../images/bgGlobal.gif) no-repeat;display:block;text-indent:-9999em;width:125px;height:30px;}
.serviceDetarl dl  dd {}
.serviceDetarl dl  dd a {line-height:23px;color:#666666;margin-left:38px;padding-left:8px;background:url(../images/bgGlobal.gif) 0 -203px no-repeat;}
.serviceDetarl dl  dd a:hover {line-height:23px;color:#f60;}
.serviceDetarl .howTo {background-position:0 -30px;}
.serviceDetarl .howPay {background-position:0 -55px;}
.serviceDetarl .howSend {background-position:0 -80px;}
.serviceDetarl .afterSales {background-position:0 -102px;}
.serviceDetarl .help {background-position:0 -130px;}
/***page bottom***/
/*友情链接*/
.links {height:86px;border:1px solid #ebebeb;background:#f8f8f8;}
.links dt,.links dd {float:left}
.links dt {width:22px;padding:2px 0;overflow:hidden;background:#c3c3c3;color:#fff;line-height:20px;margin:1px;text-align:center;border-right:3px solid #e8e8e8;margin-right:20px;}
.links dd {width:930px;overflow:hidden;}
.links a {background:url(../images/link_icon.gif) no-repeat;height:16px;overflow:hidden;display:block;padding-left:20px;float:left;margin-right:8px;width:104px;_width:99px;margin-top:8px;}
.links a.sina{background-position:0 0px}
.links a.sohu{background-position:0 -16px}
.links a.netEast{background-position:0 -36px}
.links a.qq{background-position:0 -54px}
.links a.msn{background-position:0 -72px}
.links a.icbc{background-position:0 -90px}
.links a.taobao{background-position:0 -108px}
.links a.huicong{background-position:0 -126px}
.links a.xinhua{background-position:0 -143px}
.links a.ku6{background-position:0 -160px}
.links a.xunlei{background-position:0 -178px}
.links a.pplive{background-position:0 -196px}
.links a.paopao{background-position:0 -214px}
.links a.taipingy{background-position:0 -232px}
.links a.shouji{background-position:0 -250px}
.links a.zol{background-position:0 -268px}
.links a.lxsk{background-position:0 -305px}
.links a.wo{background-position:0 -288px}
.links a.lifeSev{background-position:0 -320px}
.links a.huaSh{background-position:0 -338px}
.links a.woMusic{background-position:0 -357px}
.links a.meizu {background-position: 0 -377px;}
.links a.northtimes {background:url(../images/northtimes.png) no-repeat;}
/***footer***/
#footer{padding:30px 0;text-align:center;}
#footer .flinks a,#footer .flinks span{margin:0 10px;}
#footer .flinks span a{margin:0;}
#footer .copyright{margin:10px 0;border-top:1px solid #e3e3e3;padding-top:10px;}
#footer .ilinks a{margin:0 5px;}
/***footer end***/
/*loading*/
.loadingStyle{ background:url(../images/front_loding.png) no-repeat;width:260px;height:50px;z-index:10000003;position:absolute;left:500px;padding:5px;}
.loadingStyle img{width:115px; vertical-align:middle;}
.loadingStyle1 b{background:url(../images/load1.gif) no-repeat 50% 50%;}
.loadingStyle1{width:126px;margin:10px auto;text-align:center;color:#999}
.loadingStyle1 b{display:block;width:24px;height:24px;margin:0 auto 5px;}
.loadingStyle2 b{background:url(../images/load1.gif) no-repeat 50% 50%;}
.loadingStyle2{width:126px;margin:20px auto;text-align:center;color:#999}
.loadingStyle2 b{display:block;width:24px;height:24px;margin:0 auto 5px;}
/***我的商城页 左侧列表样式begin***/
/*我的订单*/
.orderContent{overflow:hidden;margin-bottom:20px;position:relative;}
.orderLeft{width:156px;overflow:hidden;padding:1px;border:1px solid #e1e1e1;margin:0 10px 0 0;}
.myShop{width:146px;height:29px;padding:0 5px;line-height:25px;background:url(../images/order/order_left_TitleBc.gif) 0 0;margin-bottom:1px;}
.myShop span{float:left;display:block;margin-top:6px;font-size:14px;font-weight:600;margin-left:4px;}
.myShop a{float:right;display:block;margin-top:8px;color:#36c;margin-right:3px;}

.menuHead{width:137px;height:24px;line-height:24px;background:url(../images/order/order_bg.gif) 0 -26px;padding-left:23px;margin-bottom:5px;color:#333;}
.menuSub{width:160px;overflow:hidden;margin-bottom:5px;}
.menuSub li{line-height:25px;width:140px;padding-left:20px;height:25px;}
.menuSub li a{color:#333;padding-left:10px;background:url(../images/order/dot_333.gif) 3px 5px no-repeat;}
.menuSub li a.select{color:#f60;background:url(../images/order/dot_f60.gif) 3px 5px no-repeat;}
.menuSub li a:hover{color:#f60;background:url(../images/order/dot_f60.gif) 3px 5px no-repeat;}
.menuSub li a.selectA{color:#fF0;background:url(../images/order/dot_f60.gif) 3px 5px no-repeat;}
/***我的商城页 左侧列表样式end***/
/*在线客服  16-08-22注释*/
/* #customer {position:fixed;top:40px;right:0%;_position:absolute;_margin-top:40px;_top:expression(eval(document.documentElement.scrollTop));z-index:9999999;}
.customer {position:relative;width:57px;height:230px;padding:0px;background:url(../images/header/onlineLeftIndex_20121122.png) no-repeat;}
.customer a{position:absolute;display:block;width:60px;height:81px;overflow:hidden;text-indent:-999em;}
.customer a.onlineShopping{top:64px;left:0;}
.customer a.onlineService{top:147px;left:0;} */
/***simple footer***/
#simpleFooter{width:960px;margin:0 auto;padding-top:20px;padding-bottom:20px;text-align:center;border-top:1px solid #e3e3e3;}
#simpleFooter .flinks a{margin:0 5px;}
#simpleFooter p{margin-bottom:5px;}
/*验证邮箱*/
.checkEmail {background:url(../images/index_icons.png) 0 -34px no-repeat;margin:8px 5px 0 5px ;width:14px;height:14px;font-size:1px;line-height:-999px;display:block;float:left;}
.checkedEmail {background:url(../images/index_icons.png) 0 -48px no-repeat;margin:8px 5px 0 5px ;width:14px;height:14px;font-size:1px;line-height:-999px;display:block;float:left;}
#shortcut .collect span {float:left;}
/***simple footer end***/
.thickdiv{position:fixed !important;_position:absolute;top:0;left:0;z-index:10000001;width:100%;background:#000;border:0;opacity:0.20;filter:alpha(opacity=20);}
/**返回顶部**/
/* .goTop {position:relative;width:67px;height:67px;padding:0;overflow:hidden;line-height: 1000px;text-align:center;cursor:pointer;background:url(../images/gotop_new.png) no-repeat 0 0;}
#goTop{display:none;width:23px;margin-right:-530px;position:fixed;right:50%;bottom:20px;_position:absolute;_margin-top:400px;_top:expression(eval(document.documentElement.scrollTop));}
#goTop .hover{background-position:0 -68px;}
*问卷调查 2015-5-7*
#goQuestionnaireId{
  width: 23px;
  margin-right: -530px;
  height: 140px;
  position: fixed;
  right: 50%;
  top: auto;
  bottom: 90px;
}
.goQuestionnaire{
  position: relative;
  width: 67px;
  height: 67px;
  padding: 0;
  overflow: hidden;
  line-height: 1000px;
  text-align: center;
  cursor: pointer;
  background: url(../../../ves/images/goQuestionnaire.jpg) no-repeat 0 0;
} */

#shortcut ul .li-download{padding:0;margin-right:0px;width:108px;}
#shortcut ul li.li-hover{position: relative;overflow: visible;}
.li-hover .download{position:relative;left:-1px;top:0px;}
.download dt{position:relative;width:100%;}
.li-hover .download dt{position:relative;width:auto;border: 1px solid #ddd;height:30px;border-bottom:0;background: #fff;z-index:10;}
.download .icon-i{float:left;width:15px;height:25px;margin:4px 0 0 6px;background:url(../images/download.png) no-repeat 0 -26px;display:inline;}
.li-hover .download .icon-i{background-position: 0 0px;}
.download dt b{position:absolute;top:12px;right:7px;width: 7px;height: 4px;overflow: hidden;background: url(../images/new_index0306.png) -92px -27px no-repeat;}
.li-hover .download dt b{background-position: -92px -31px ;right:6px;}
.download dt a{padding:0 4px 0 4px;white-space:nowrap;}
#shortcut ul li .download a{line-height:30px;}
#shortcut ul .li-hover  .download a{line-height:28px;}
.download dd{display:none;}
.li-hover .download dd{display:block;position:absolute;top:30px;left:0;width:224px;height:136px;border: 1px solid #ddd;background: #fff;}
.download .download-img{position:relative;width:213px;height:127px;background:url(../images/download-img.jpg) no-repeat 0 0;}
.download-img a{position:absolute;width:96px;height:30px;background:#fff;opacity:0;filter: alpha(opacity=0);}
.download-img .add{top:53px;left:114px;}
.download-img .ios{top:12px;left:114px;}

/*搜索*/
.searchType {float:left;position:absolute;top:2px;left:2px;width:68px;background:url(../images/searchTypeBg.png) no-repeat -1px 0;_background-image:url(../images/searchTypeBg.gif);}
.searchType .div{height: 32px;line-height:30px;font-size:14px;cursor:pointer;color:#666;padding: 0 14px;}
.searchType .hover{background-image:url(../images/searchTypeBg.png);_background-image:url(../images/searchTypeBg.gif);}
.searchType .li-one{background-position:-70px 0;}
.searchType .li-two{background-position:-70px -32px;}
.searchType-h25{height:27px;background-position: -140px 0;overflow:hidden;}
.searchType-h25 .select,.searchType-h25 .hover{background-image:none;}
.searchType .arrow{position:absolute;top: 10px;left: 48px;width:12px;height:12px;background:url(../images/searchTypeBg.png) no-repeat -172px -37px;_background-image:url(../images/searchTypeBg.gif);}
.searchType-h25 .arrow{background-position:-190px -36px;}
.hotSearch{width:100%;overflow:hidden;}
.pl12px{padding-left:12px;}
.mallSearch #searchInputBox{width:280px;padding-left: 48px;outline: 0 none;}
.tangram_layer{padding: 0px;border: 1px solid #FA9600;background-color: white;overflow: hidden;z-index: 99999;text-align: left; width: 301px;opacity: 1; z-index: 99999; position: absolute; border: 1px solid #ccc; }
.tangram_layer ul {width: 100%;list-style-position: outside;list-style: none;padding: 0;margin: 0;}
.tangram_layer li {background: none repeat scroll 0 0 #FFFFFF;display: block;height: 24px;line-height: 26px;overflow: hidden;padding: 0 6px;white-space: nowrap;}
.tangram_layer li.ac_over {background: #F2F2F2;color: #333333;font-weight: bold;cursor: pointer;}
.c999{color:#999;}
/*在线客服  16-08-22修改*/
#customer {position:fixed;width:40px;top:100px;right:8px;_position:absolute;_margin-top:100px;_top:expression(eval(document.documentElement.scrollTop));z-index:9999999;}
.customer {width:40px;overflow:hidden;padding:0px;}
.customer a{display:block;;overflow:hidden;text-indent:-999em;}
.customer a.onlineShopping{height:139px;background:url("../images/header/online-shoppingn.png") no-repeat;}
.customer a.onlineService{margin-top:2px;height:126px;background:url("../images/header/online-servicen.png") no-repeat;}
.customer a.onlineShopping:hover{height:139px;background:url("../images/header/online-shoppingy.png") no-repeat;}
.customer a.onlineService:hover{margin-top:2px;height:126px;background:url("../images/header/online-servicey.png") no-repeat;}
/*调查问卷及返回顶部*/
#goQuestionnaireId {overflow: hidden;position: fixed;right: 100px;bottom: 90px;width: 63px;z-index: 9999999;}
#goQuestionnaireId a{display: block;}
#goQuestionnaireId .goQuestionnaire{height:76px;background: url("../images/header/go-questionn.png") no-repeat;}
.goTop{margin-top: 5px;height:36px;background: url("../images/header/go-topn.png") no-repeat;}
#goQuestionnaireId .goQuestionnaire:hover{background: url("../images/header/go-questiony.png") no-repeat;}
.goTop:hover{background: url("../images/header/go-topy.png") no-repeat;}/**************************

 web index page

***************************/
.bigTitleIcon{display:inline-block;width:10px;height:10px;margin-right:4px;font-size:1px;line-height:1px;background:#ed6d00;}
.orangeTitleIcon{display:inline-block;width:4px;height:4px;margin-right:4px;margin-bottom:2px;font-size:1px;line-height:1px;background:#f60;}
.grayTitleIcon{display:inline-block;width:4px;height:4px;margin-right:4px;font-size:1px;line-height:1px;background:#999;}
.bgRep {background:url(../images/index_bg.gif) 0 -186px repeat-x;width:100%;}
.block {clear:both;overflow:hidden;}
/*Ã¥Â¯Â¼Ã¨Ë†Âª*/
.navIndex{height:63px;width:1003px;margin:0 auto 8px auto;z-index:9;position:relative;border-bottom:1px solid #d7d7d7}
.navIndexC li{float:left;}
.navIndex .navIndexL{width:3px;background:url(../images/index_bg.gif) 0 -31px no-repeat;height:63px;overflow:hidden;position:absolute;left:0;top:0;}
.navIndexC{width:1003px;background:url(../images/index_bg.gif) 0 -94px repeat-x;height:63px;}
.commodityClassificationBtn{position:absolute;top:4px;left:1px;width:192px;height:30px;cursor:pointer;background:url(../images/header/commodityClassification.png) no-repeat;}
.marB {margin-bottom:8px;_height:407px;height:407px;overflow: visible;*position: relative;*z-index: 2;}
.marB2 {margin-bottom:8px;_height:245px;height:245px;}

/*.nav {float:left;width:700px;height:63px;margin-left:12px;}*/
/*.nav li{width:100px;text-align:center;border-right:1px solid #fec87e;margin-top:10px;_margin-top:10px;padding:0 2px;height:16px;position:relative;}*/
/*.nav li.noBackground{background:none;border:none}*/
/*.nav li a.home{padding-left:3px;background:url(../images/new_index0306.gif) no-repeat 2px -55px;display:block;height:23px;;color:#333;margin-top:-6px;*margin-top:-5px;_margin-top:-5px;width:94px;padding-top:6px;*padding-top:7px;*padding-left:1px;text-decoration:none;_position:absolute;left:4px;top:0px;}*/
/*.nav li a:hover{background:url(../images/new_index0306.gif) no-repeat 2px -55px;display:block;height:23px;;color:#333;margin-top:-6px;*margin-top:-5px;_margin-top:-5px;width:94px;padding-top:6px;*padding-top:7px;*padding-left:1px;text-decoration:none;_position:absolute;left:4px;top:0px;}*/
/*.nav li a:-webkit-any-link {display:block;}*/
/*.nav li a{height:20px;line-height:15px;font-size:14px;color:#fff;font-weight:bold;}*/
.nav {float:left;width:755px;height:63px;margin-left:12px;}
.nav li{width:100px;text-align:center;border-right:1px solid #fec87e;top:10px;*top:11px;padding:0 2px;height:16px;position:relative;}
.nav li.noBackground{background:none;border:none;font-family:"Alpida_Unicode System";}
.nav li a.home{padding-left:3px;background:url(../images/new_index0306.gif) no-repeat 2px -55px;display:block;color:#333;}
.nav li a:hover{background:url(../images/new_index0306.gif) no-repeat 2px -55px;color:#333;text-decoration: none;}
.nav li a:-webkit-any-link {display:block;}
.nav li a{position: relative;height: 18px;width: 96px;display:block;font-size:14px;text-decoration: none;color:#fff;font-weight:bold;white-space: nowrap;padding: 6px 0;margin: -6px 0;line-height: 18px;}
.nav li em{position:absolute;top:-6px;background:url(../images/new_index0306.gif) no-repeat 2px -55px;display:block;height: 30px;z-index: 1;}
.nav li em.right{background-position: -66px -55px;width: 27px;right: 2px;}
.nav li a.relative{position:relative;z-index:2;padding-left:4px;}

.navIndex .navIndexR{width:3px;background:url(../images/index_bg.gif) -3px -31px no-repeat;height:63px;overflow:hidden;position:absolute;right:0;top:0;}
.separator {color:#ccc;padding: 0 5px;}
.hotSpot a {margin: 0 2px;color:#444;font-size:12px;font-weight:normal;}
.hotSpot a:hover {color:#f60;}
.marAnn {padding:7px 15px;display:block;position:absolute;right:0px;top:35px;z-index:1;width:350px;}
.scrollAnn {width:250px;float:left;}
.subNavTit {font-weight:bold;float:left;}
.hotSpot {padding:7px 15px;position:absolute;left:10px;top:35px;}

/**firstScreen**/
.navIndexOccupation{float:left;width:200px;height:340px;margin:0 8px 8px 0;overflow:hidden;}
.allSortIndex {position:relative;float:left;z-index:99;width:208px;height:405px;margin-right: 5px;border:1px solid #fe7b03;}
.allSortOne {width:202px;position:relative;float:left;z-index:99;}
.allSortOne .on {background:url(../images/header/category.png) 0 -111px no-repeat;width:202px;height:35px;}

.allSortIndex .on,.allSort .over {background:url(../images/new_index0306.gif) 0 -142px no-repeat;width:224px;height:33px;}
.allSortIndex .over i {background:url(../images/new_index0306.gif) -103px -27px no-repeat;display:block;width:17px;height:17px;position:absolute;left:178px;top:10px;overflow:hidden;}
.allSortIndex .on i {background:url(../images/new_index0306.gif) -123px -27px no-repeat;display:block;width:17px;height:17px;position:absolute;left:178px;top:10px;overflow:hidden;}
.allSortIndex h2 {font-size:14px;font-weight:bold;color:#fff;padding-top:7px;padding-left:42px;}
.allSortDetail {height:403px;width:206px;background:#fff7f0;}
.cateOne {background:url(../images/last_li_bg.gif) 5px 221px no-repeat;height:222px;padding-top:0px;_padding-top:0px;} /*Ã¤Â¿Â®Ã¦â€Â¹Ã©Â«ËœÃ¥ÂºÂ¦*/
.cateTwo {background:#fff7f0;height:183px;_height:183px;_overflow:hidden;padding-top:0px;_padding-top:0px;}
.allSortDetail li {float:left;height:46px;_height:46px;}
.allSortDetail .overr,.allSortDetail .hover {cursor:pointer;}
.category {}
.cateOne s {background:url(../images/new_index0306.png) -132px -54px no-repeat;width:7px;height:9px;display:block;position:absolute;right:-10px;_right:-3px;top:15px;z-index:-1;overflow:hidden;} /*Ã¤Â¿Â®Ã¦â€Â¹Ã¤Â½ÂÃ§Â½Â®*/
.cateTwo s {background:url(../images/new_index0306.png) -132px -54px no-repeat;width:7px;height:9px;display:block;position:absolute;right:-10px;_right:-3px;top:15px;z-index:-1;overflow:hidden;} /*Ã¤Â¿Â®Ã¦â€Â¹Ã¤Â½ÂÃ§Â½Â®*/
.allSortDetail .hover h3 {border-bottom:1px solid #F2AE7B}
.allSortDetail .lastLi h3 {background:none;border:none}
.allSortDetail h3 {width:178px;height:28px;*+height:28px;_height:28px;overflow:hidden;padding-top:10px;margin-left:8px;border-bottom:1px solid #feeadb}
.allSortDetail h3 a {font-size:14px;font-weight:bold;color:#575757;}
.allSortDetail h3 a.itemnoa:hover{color:#575757;text-decoration: none;cursor: default;}
.allSortDetail h3 i {width:20px;height:20px;background:url(../images/category_icon.png) no-repeat;text-indent:-999em;display:block;float:left;margin-right:10px;}
.allSortDetail ul .noBorder {border:none;}
.allSortDetail ul li .sortDet {padding:0 2px;}
.allSortDetail h3 span {float:right;color:#f60;margin-right:12px;line-height:21px;}
.allSortDetail h3 span a{color:#f60;font-size:12px;font-weight:normal;line-height:21px;}
.allSortDetail a:hover {text-decoration:underline;color:#f60;}
.allSortDetail .sortOn {margin:0;}

.allSortDetail .item .hover{padding-top:-1px;margin-top:-2px;width:198px;height:38px;overflow:hidden;z-index:999;_position:relative;background:url(../images/hoverbg.gif) -2px 0 no-repeat;_padding-left:1px;}/*Ã¤Â¿Â®Ã¦â€Â¹Ã©Â«ËœÃ¥ÂºÂ¦*/
.allSortDetail .overr{height:36px;width:178px;_width:177px;position:relative;z-index:999;margin-top:-2px;_padding-left:1px;} /*Ã¤Â¿Â®Ã¦â€Â¹Ã©Â«ËœÃ¥ÂºÂ¦*/

.allSortDetail ul li{}

.newIcon{position:absolute;left:170px;_left:172px;top:6px;display:block;width:15px;height:9px;background:url(../images/index_icons.png) no-repeat 0 -63px;}
.betaIcon{position:relative;top: -11px;left:-2px;display: inline-block;width: 24px;height: 9px;background: url(../images/index_icons.png) no-repeat 0 -93px;}

/*icon*/
.items .newNumberIcon {background-position:0 0px;}
.items .threeGIcon{background-position:0 -20px;}
.items .cardIcon {background-position:0 -40px;}
.items .mobelIcon {background-position:0 -62px;}
.items .phoneIcon {background-position:0 -83px;}
.items .chongIcon {background-position:0 -102px;}
.items .planeIcon {background-position:0 -202px;} /*Ã¥Â¢Å¾Ã¥Å Â Ã©Â£Å¾Ã¦Å“ÂºÃ§Â¥Â¨icon*/
.items .androidIcon {background-position:0 -224px;} /*Ã¥Â¢Å¾Ã¥Å Â androidÃ¥Âºâ€Ã§â€Â¨icon*/
.items .payIcon {background-position:0 -122px;}
.items .checkIcon {background-position:0 -142px;}
.items .doBusIcon {background-position:0 -162px;}
.items .servicesIcon {background-position:0 -182px;}
.allSortList {position:absolute;border:2px solid #ffb556;width:542px;overflow:hidden;background:#fff;padding:1px 13px 0px 2px;z-index:2;} /*Ã¦â€ºÂ´Ã¦â€Â¹paddingÃ¥â‚¬Â¼*/
.position {right:-557px;top:-2px;_top:-2px;}
.poPhone{right:-558px;top:-20px;_top:-20px;}
.poCart {right:-558px;top:-7px;_top:-7px;}
.poPayC {right:-558px;top:-25px;*+top:-17px;_top:-25px;}
*+html .poCheck {right:-558px;top:-110px;}
.poCheck {right:-558px;top:-129px;*+top:-212px;_top:-110px;}
.poDo {right:-626px;top:-155px;*+top:-142px;_top:-142px;}
.poSer {right:-558px;top:-76px;*+top:-64px;_top:-64px;}


.poNum  {right:-416px;_right:-415px;top:0;_top:0;}
.poPei  {right:-416px;_right:-415px;top:-110px;_top:-110px;}
.poPay  {right:-416px;_right:-415px;top:-74px;*top:-22px;_top:-34px;}

.allSortDetail .moreW em{height:20px;width:100px;}


.item .moreW {width:690px;left:194px;}
.allSortDetail .moreW dl {width:537px;}
.moreW .secretary {position: absolute;right:2px;top:2px;width: 174px;overflow:hidden;padding:14px 10px 10px 12px;padding-bottom:200px;margin-bottom: -200px;background:url(../images/xmbg.png) repeat-y 0 0;}
.moreW .secretary h4{font-size: 12px;font-weight:bold;line-height:20px;margin-bottom:10px;color:#666;}
.moreW .secretary .img{display:inline-block;margin-bottom:4px;}
.moreW .secretary p {padding:10px 2px;line-height:20px;color:#666;}
.moreW .secretary p.tr{text-align: right;padding-top: 0px;}
.moreW .secretary p.tr a{padding-left:10px;background: url(../images/xmicon.png) no-repeat left center;}
.moreW .emStyleRe em{ padding-right: 20px;width: auto;}
.moreC em{height:20px;/* width:83px; */}
.moreS em {height:20px;}
.price .fore em{height:20px;width:70px;}
.price dl em {height: 20px;width: 60px;}
.price dl{width:445px;}
.price dl dd{width:393px;}
.price .fore dd em{width:40px;}

.allSortDetail .price dt {width:50px;}
.allSortDetail .price dd {width:440px;}
.payCard dt {width:50px;}
.payCard dd {width:440px;}
.payCard dd em {width:55px;}
.positionTwo {right:-219px;_right:-163px;top:-47px;top:-46px\9;*top:-49px;_top:-49px;border-radius:5px 5px 5px 0px;}
.allSortList dl.fore {border:none;}
.allSortList dl {padding:3px 6px 4px 6px;overflow:hidden;border-top:1px dotted #cbcbcb;margin-left:10px;width:97%;clear:both;}
.allSortList dt {font-weight:bold;float:left;width:90px;line-height:25px;padding:3px 6px 0 0;color:#717171;text-align:left;}
.allSortList dt a {font-weight:bold;color:#717171;text-align:left;}
.allSortList dd {float:left;width:400px;}
.allSortList a {line-height:20px;}
.selectBuyPhone a {width:90px;display:block;float:left;}
.allSortList em{float:left;height:16px;margin:4px 0;line-height:16px;padding:0 8px;font-style:normal;}
.allSortList dd a{white-space:nowrap;color:#717171;}
.allSortList dd a:hover{white-space:nowrap;color:#f60;}
.allSortList .cOrange {color:#f60;}
.wemf em{width:160px;}
.positionBottom {right: -549px;bottom: 1px;*bottom:-2px;_bottom:-3px;}
.rela {position: relative;margin-left: 0;}
.allSortDetail ul li {}
.poDo {right: -626px;_right: -625px;}
.cateTwo .moreS dt {width: 100px;}
.rollBanner{width: 580px;height: 250px;margin-bottom: 2px;overflow:hidden;z-index: 0;position: relative;}
.rollBanner .flashBtn {text-align: center;position: absolute;left: 0;bottom: 15px;width: 580px;height: 0;line-height: 0;}
.flashContent {width: 100%;position:relative;height: 100%;overflow:hidden;}
.flashContent ul {position: absolute;left: -580px;top: 0;height: 250px;width: 5800px;}
.flashContent ul li {display: inline-block;width: 580px;height: 250px;float: left;}
.flashContent ul li img {width: 580px;height: 250px;}
.rollBanner .flashBtn dt{display: inline-block;*display: inline;*zoom: 1;width: 7px;height: 7px;margin-right:5px;background-color: #e6e6e6;cursor:pointer;position: relative;border-radius: 50%;}
.rollBanner .flashBtn dt.on{background:#f60;}
.flashContent:hover .slideIcon {display: block;}
.flashContent .slideIcon {position: absolute;top: 50%;margin-top: -12px;z-index: 1;display: none;width: 20px;height: 40px;line-height: 40px;background: rgba(0, 0, 0, 0.2);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000, endColorstr=#32000000);color: #fff;text-align: center;font-size: 15px;font-weight: 400;font-family: simsun;}
.flashContent .slideIcon.slideLeft {left: 0;}
.flashContent .slideIcon.slideRight {right: 0;}
.flashContent .slideIcon:hover {text-decoration: none;}
.noticePromotion{float:left;width:236px;height:105px;margin-bottom:8px;overflow:hidden;border:1px solid #ebebeb}
.noticePromotionT{width:230px;height:4px;font-size:4px;line-height:4px;}
.noticePromotionT .left{display:block;float:left;width:4px;height:4px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) 0 0 no-repeat;}
.noticePromotionT .center{display:block;float:left;width:222px;height:3px;font-size:1px;line-height:1px;border-top:1px solid #e6e6e6;background:#fff;}
.noticePromotionT .right{display:block;float:left;width:4px;height:4px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) -6px 0 no-repeat;}
.noticePromotionC{width:236px;border-width:0 1px;background:#fff;height:35px;}
.noticePromotionC li.cur {background:#fff;font-weight:700;}
.noticePromotionC li{float:left;width:118px;height:28px;line-height:28px;margin-left:-1px;border-left:1px solid #ddd;text-align:center;font-size:14px;background:url(../images/index_bg.gif) repeat-x 0 -158px;}
.noticePromotionC li.cur a {font-weight:700;}

.noticePromotionList li{padding-left:10px;margin-bottom:6px;width:220px;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.noticePromotionList li a:hover{text-decoration:underline;}

.noticePromotionB{position:relative;width:230px;height:4px;font-size:4px;line-height:4px;background:#fff;}
.noticePromotionB em{position:absolute;}
.noticePromotionB .left{left:0;bottom:-5px;display:block;float:left;width:4px;height:9px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) 0 -11px no-repeat;}
.noticePromotionB .center{left:4px;bottom:-5px;display:block;float:left;width:222px;height:6px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) 0 -21px repeat-x;}
.noticePromotionB .right{right:0;bottom:-5px;display:block;float:left;width:4px;height:9px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) -6px -11px no-repeat;}
.unicomFrist {float:left;width:236px;height:113px;border:1px solid #ebebeb;overflow:hidden;}
.rollExhibition{float:left;width:539px;height:169px;margin:0 8px 8px 0;overflow:hidden;}
.rollExhibitionT{width:539px;height:4px;}
.rollExhibitionT .left{display:block;float:left;width:4px;height:4px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) 0 0 no-repeat;}
.rollExhibitionT .center{display:block;float:left;width:531px;height:3px;font-size:1px;line-height:1px;border-top:1px solid #e6e6e6;}
.rollExhibitionT .right{display:block;float:left;width:4px;height:4px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) -6px 0 no-repeat;}
.rollExhibitionC{position:relative;width:537px;height:161px;border:1px solid #e6e6e6;border-width:0 1px;}
.exhibitionArea{width:496px;overflow:hidden;margin-left:16px;}
.exhibitionArea li{float:left;width:124px;height:140px;overflow:hidden;margin-top:18px;}
.rollExhibitionC em.exhibitionUp{position:absolute;top:59px;left:0;width:16px;height:24px;cursor:pointer;background:url(../images/homePageIcon.png) 0 -68px no-repeat;}
.rollExhibitionC em.exhibitionNext{position:absolute;top:59px;right:0;width:16px;height:24px;cursor:pointer;background:url(../images/homePageIcon.png) -17px -68px no-repeat;}
.rollExhibitionB{width:539px;height:4px;}
.rollExhibitionB .left{display:block;float:left;width:4px;height:4px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) 0 -6px no-repeat;}
.rollExhibitionB .center{display:block;float:left;width:531px;height:3px;font-size:1px;line-height:1px;border-bottom:1px solid #e6e6e6;background:#fff;}
.rollExhibitionB .right{display:block;float:left;width:4px;height:4px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) -6px -6px no-repeat;}
.quickPick{float:left;position:relative;width:236px;_width:236px;height:166px;margin-bottom:8px;border:1px solid #e3e3e3;overflow:hidden;padding:0;}
.quickPickC{width:236px;height:166px;border-width:0 1px;background:#fff;}
.quickPickC ul {width:236px;height:28px;overflow:hidden;}
.quickPickC li.cur {background:#fff;font-weight:700;}
.quickPickC li{float:left;width:118px;height:28px;line-height:28px;margin-left:-1px;border-left:1px solid #ddd;cursor:pointer;text-align:center;font-size:12px;background:url(../images/index_bg.gif) repeat-x 0 -158px;}
.quickPickC .phoneC {margin-top:23px;}
.quickPickC h4{padding:6px 10px 10px;line-height:12px;font-weight:600;}
.PphoneRecharge{margin:0 auto 10px;margin:10px 0;padding:0 13px;}
.quickPickC .block {height:30px;line-height:30px;margin-bottom:10px;}
.quickPickC .block label,.quickPickC .block .bd {float:left;color:#757575;line-height:21px;}
.quickPickC div input.iptW210H24{width:135px;height:20px;line-height:21px;padding:0 5px;border:1px solid #dbdfe6;border-top:1px solid #abadb3;}
.quickPickC div input.iptW40H24{width:40px;height:20px;line-height:21px;padding:0 5px;border:1px solid #dbdfe6;border-top:1px solid #abadb3;}
.quickPickC div input.iptW103H24{width:80px;height:20px;line-height:21px;padding:0 5px;border:1px solid #dbdfe6;border-top:1px solid #abadb3;}
.quickPickC div input.quickPickBtn{display:inline-block;width:73px;height:21px;margin-right:10px;border:0;cursor:pointer;background:url(../images/homePageIcon.png) 0 -93px no-repeat;}
.rechargeInt {background:url(../images/payBtn.gif) no-repeat;width:74px;height:25px;display:inline-block;padding-left:11px;margin-left:60px;margin-left:_30px;line-height:25px;cursor:pointer;float:left;}
.rechargeInt:hover {text-decoration:none;color:#333;}
.priceSelect {height:20px;margin-top:3px;}
.cBlue {color:#3366CC;}
.errorLayer{font-size:12px;visibility:visible;left:60px;position:absolute;z-index: 1010;}
.PphoneRecharge .item span {line-height:25px;}
.brandZone{float:left;width:208px;height:243px;margin:0 8px 8px 0;border:1px solid #e6e6e6;}
.brandZoneT{width:208px;height:43px;border-bottom:1px solid #E6E6E6;}
.brandZoneT .left{display:block;float:left;width:4px;height:31px;overflow:hidden;background:url(../images/homePageBg.png) 0 -116px no-repeat;}
.brandZoneT .center{position:relative;display:block;float:left;width:198px;height:31px;padding:0 5px;overflow:hidden;}
.brandZoneT .center h4{float:left;line-height:31px;font-weight:600;font-size:14px;color:#f60;}
.brandZoneT .center a{position:absolute;top:8px;right:22px;}
.brandZoneT .center a:hover{text-decoration:underline;}
.brandZoneT .center b{position:absolute;top:12px;right:5px;display:block;width:13px;height:9px;background:url(../images/homePageIcon.png) -93px -68px no-repeat;}
.brandZoneT .right{display:block;float:left;width:4px;height:31px;overflow:hidden;background:url(../images/homePageBg.png) -6px -116px no-repeat;}
.brandZoneC{position:relative;width:208px;height:200px;}
.brandZoneC em.bottom{position:absolute;width:200px;height:6px;overflow:hidden;left:-1px;bottom:-6px;_bottom:-7px;background:url(../images/homePageBg.png) 0 -21px repeat-x;}
.brandZoneC a{float:left;display:block;}
.brandZoneC .botm{clear:both;width:208px;height:85px;}
.lineB{border-bottom:1px solid #e6e6e6;}
.lineBL{border:1px solid #e6e6e6;border-width:0 0 1px 1px;}
.brandZoneC .lineL{border-left:1px solid #e6e6e6;display:block;width:103px;_width:100px;overflow:hidden;}

.topSales{float:left;width:539px;height:246px;margin:0 8px 8px 0;}
.topSalesT{width:539px;height:4px;}
.topSalesT .left{display:block;float:left;width:4px;height:4px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) 0 0 no-repeat;}
.topSalesT .center{display:block;float:left;width:531px;height:3px;font-size:1px;line-height:1px;border-top:1px solid #e6e6e6;}
.topSalesT .right{display:block;float:left;width:4px;height:4px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) -6px 0 no-repeat;}
.topSalesC{width:537px;height:237px;border:1px solid #e6e6e6;border-width:0 1px;overflow:hidden;}
.topSalesC h4{height:23px;padding-top:4px;font-size:14px;font-weight:bold;color:#f60;padding-left:10px;}
.topSalesArea{width:524px;margin:5px 15px 0;}
.topSalesArea li{float:left;}
.topSalesArea li.picLine{background:url("../images/line.gif") 0 25px no-repeat;height:200px;width:1px;}
.topSalesB{width:539px;height:4px;}
.topSalesB .left{display:block;float:left;width:4px;height:4px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) 0 -6px no-repeat;}
.topSalesB .center{display:block;float:left;width:531px;height:3px;font-size:1px;line-height:1px;border-bottom:1px solid #e6e6e6;background:#fff;}
.topSalesB .right{display:block;float:left;width:4px;height:4px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) -6px -6px no-repeat;}

.groupBuying{float:left;width:236px;height:243px;margin-bottom:8px;overflow:hidden;border:1px solid #e3e3e3;}
.groupBuyingTab{width:236px;height:28px;}
.buyingTab{background:url(../images/homePageIcon.png) 0 -154px no-repeat;}
.groupTab{background:url(../images/homePageIcon.png) 0 -125px no-repeat;}
.groupBuyingTab li{float:left;width:115px;height:28px;cursor:pointer;overflow:hidden;}
.buying{}
.group1111{border-width:0px 1px 1px;border-color:#e3e3e3;border-style:solid;}
.buyingArea,.groupArea{width:230px;height:207px;}
.buyingArea{position:relative;}
.groupArea{position:relative;}
.buyingArea em.groupBuyingUp{position:absolute;top:89px;left:1px;z-index:9;width:16px;height:24px;cursor:pointer;background:url(../images/homePageIcon.png) 0 -68px no-repeat;}
.buyingArea em.groupBuyingNext{position:absolute;top:89px;right:1px;z-index:9;width:16px;height:24px;cursor:pointer;background:url(../images/homePageIcon.png) -17px -68px no-repeat;}
.groupArea em.groupBuyingUp{position:absolute;top:89px;left:1px;z-index:9;width:16px;height:24px;cursor:pointer;background:url(../images/homePageIcon.png) 0 -68px no-repeat;}
.groupArea em.groupBuyingNext{position:absolute;top:89px;right:1px;z-index:9;width:16px;height:24px;cursor:pointer;background:url(../images/homePageIcon.png) -17px -68px no-repeat;}
.gruBtn {display:block;width:76px;height:33px;top:0;right:0;position:absolute;}

.groupBuyingC{position:relative;width:196px;height:203px;padding:0 16px;border-width:0 1px;}
.groupBuyingC .buyingGoodsImg{float:left;display:block;width:100px;height:100px;margin-top:10px;}
.buyingGoodsName{float:left;display:block;width:96px;overflow:hidden;margin-top:10px;}
.buyingPrice{font-family:verdana;position:absolute;_position:none;top:58px;_margin-top:10px;right:45px;display:block;width:64px;height:49px;padding-top:15px;text-align:center;color:#fff;font-weight:600;background:url(../images/homePageIcon.png) -186px -56px no-repeat;}
.groupBuyingC p{width:196px;text-align:center;clear:both;margin-top:5px;}
.buyingTime{position:absolute;bottom:8px;height:24px;}
.buyingTime span{display:inline-block;line-height:24px;}
.buyingTime label{display:inline-block;width:28px;height:24px;line-height:24px;margin:0 2px;text-align:center;color:#fff;background:url(../images/homePageIcon.png) -74px -90px no-repeat;}
.startTime{position:absolute;bottom:18px;}
.endTime{position:absolute;bottom:10px;}
.groupBeginIng {color:#f60;font-size:14px;font-weight:bold;margin:15px 0;height:20px;text-align:center;}
.groupGoods {height:122px;}
.grouped {color:#333;font-size:14px;font-weight:bold;margin:15px 0;height:20px;text-align:center;}

.groupGoodsImg{display:block;width:100px;height:100px;margin:0 auto;padding-top:10px;}
.groupGoodsName{display:block;width:160px;overflow:hidden;margin:10px auto 0;text-align:center;}
.groupGoodsName label{cursor:pointer;}
.groupBuyingC p.groupGoodsPrice{position:absolute;bottom:10px;right:0;width:183px;height:36px;color:#999;padding-left:30px;text-align:left;font-size:14px;font-weight:600;line-height:30px;background:url(../images/groupBg.gif) no-repeat;}
p.groupGoodsPrice label{font-size:14px;font-weight:600;color:#c00;font-family:verdana;}
.groupBuyingB{position:relative;width:230px;height:4px;}
.groupBuyingB em{position:absolute;}
.groupBuyingB em.bottomLeft{bottom:0;left:0;width:4px;height:4px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) 0 -6px no-repeat;}
.groupBuyingB em.bottomCenter{bottom:0;left:4px;width:222px;height:3px;font-size:1px;line-height:1px;border-bottom:1px solid #e3e3e3;background:#fff;}
.groupBuyingB em.bottomRight{bottom:0;right:0;width:4px;height:4px;font-size:1px;line-height:1px;background:url(../images/homePageBg.png) -6px -6px no-repeat;}


/**firstScreen end**/
.marTen {*margin-top:10px;_margin-top:10px;}
/**floor**/
.firstF {background:url(../images/homePageIcon.png) 0 -190px no-repeat;width:70px;height:34px;overflow:hidden;display:block;margin-left:8px;float:left;}
.firstS {background:url(../images/homePageIcon.png) 0 -229px no-repeat;width:90px;height:34px;overflow:hidden;display:block;margin-left:8px;float:left;}
.firstT {background:url(../images/homePageIcon.png) -101px -190px no-repeat;width:90px;height:34px;overflow:hidden;display:block;margin-left:8px;float:left;}
.firstFo {background:url(../images/homePageIcon.png) -101px -229px no-repeat;width:70px;height:34px;overflow:hidden;display:block;margin-left:8px;float:left;}

.floor{clear:both;overflow:visible;width:1001px;height:313px;margin-bottom:8px;border-width:2px 1px 1px;border-style:solid;border-color:#e3e3e3;border-top-color:#ed6d00;}
.floor .bgPoin em{position:absolute;font-size:1px;line-height:1px;background:url(../images/homePageBg.png);}
.floor .bgPoin em.leftTop{top:-2px;left:-1px;width:4px;height:4px;background-position:0 -28px;}
.floor .bgPoin em.leftBottom{bottom:-6px;left:-1px;width:4px;height:9px;background-position:0 -33px;}
.floor .bgPoin em.rightTop{top:-2px;right:-1px;width:4px;height:4px;background-position:-6px -28px;}
.floor .bgPoin em.rightBottom{bottom:-6px;right:-1px;width:4px;height:9px;background-position:-6px -33px;}
.floor .bgPoin em.bottom{left:3px;bottom:-6px;width:972px;height:6px;background-position:0 -43px;background-repeat:repeat-x;}
.floor .floorTitle{height:34px;border-bottom:1px solid #e3e3e3;background:url(../images/index_bg.gif) 0 -187px repeat-x;width:100%;}
.floor .floorTitle img{float:left;margin:5px 0 0 10px;}
.floor .floorTitle a,.floor .floorTitle b{float:right;line-height:30px;margin-right:5px;}
.floor .floorTitle a:hover{text-decoration:underline;}
.floor .flashSaleBox{float:left;width:206px;height:276px;padding:1px;border-right:1px solid #e3e3e3;overflow:hidden;}
.floor .flashSaleBox .flashSaleIcon{position:absolute;top:-1px;left:-1px;display:block;width:66px;height:66px;background:url(../images/homePageIcon.png) 0 0 no-repeat;}
.floor .flashSaleBox .flashSale{position:relative;width:198px;*+width:197px;_width:197px;height:258px;padding:10px 0 0 10px;background:url(../images/homePageBg.png) 0 -227px repeat-x #fff;}
.flashSale .timeRemaining{width:161px;*width:153px;height:23px;line-height:23px;margin:15px 0 0 25px;*margin-left:33px;}
.flashSale .timeRemaining label{display:inline-block;float:left;width:23px;height:23px;line-height:23px;margin:0 2px;text-align:center;background:url(../images/homePageIcon.png) -34px -68px no-repeat;}
.flashSale .timeRemaining span{display:inline-block;float:left;line-height:23px;}
.flashSale .buyingGoods{width:176px;overflow:hidden;margin-top:5px;}
.flashSale .buyingGoods li{width:176px;height:112px;}
.flashSale .buyingGoodsImg{display:block;width:80px;height:80px;float:left;margin-top:12px;}
.flashSale .buyingGoodsInfor{position:relative;float:left;width:96px;height:106px;}
.flashSale .buyingGoodsInfor .buyingGoodsName{display:block;margin-top:10px;_margin-top:10px;}
a.buyingGoodsName:hover{text-decoration:underline;}
.flashSale .buyingGoodsInfor .buyingGoodsDiscount{display:block;position:absolute;left:0;bottom:10px;}
.flashSale .buyingGoodsInfor .buyingGoodsPrice{font-family:verdana;display:block;position:absolute;overflow:hidden;right:0;bottom:10px;width:52px;height:42px;padding-top:10px;font-weight:600;text-align:center;color:#fff;background:url(../images/homePageIcon.png) -66px 0 no-repeat;}
.goods {width:540px;height:278px;overflow:hidden;position:relative;}
.goodsListShow  {float:left;width:540px;padding:0 5px;height:278px;overflow:hidden;}
.goods li{float:left;width:180px;height:268px;overflow:hidden;padding-top:10px;}
.goods li p{width:160px;margin:10px auto;text-align:center;overflow:hidden;}
.goodsImg{display:block;width:160px;height:160px;margin:0 auto;}
.goodsPrice{}
.goodsPrice label,.goodsPrice span{display:inline-block;}
.goodsPrice .priceD{margin-right:5px;color:#CC0000;font-family:verdana;font-size:14px;;margin-left:5px;font-weight:bold;}
.goodsPrice .priceM{margin-right:5px;color:#9C9C9C;font-family:verdana;text-decoration:line-through;}

.goodsPrice span{width:34px;height:14px;line-height:14px;color:#fff;text-align:center;background:url(../images/homePageIcon.png) -58px -68px no-repeat;}
.goodsName label{cursor:pointer;}
.goodsName a:hover{text-decoration:underline;}
.goodsExplain{}
.goodsName {height:32px;}
.floor .floorBanner{float:right;width:236px;height:278px;border-left:1px solid #e3e3e3;}

.borderBottom{border-bottom:1px solid #e3e3e3;display:block;height:92px;}
.thickdiv {position: fixed !important;_position: absolute;top: 0;left: 0;z-index: 10000001;width: 100%;background: black;border: 0;filter: alpha(opacity=20);opacity: 0.20;}
.relBox {position:relative;}
/**floor end**/
#topBannerImg { margin: 1px auto 0;position: relative;width: 1003px;}
#topBanner{width:1003px;height:40px;margin:1px auto 0;overflow:hidden;}
#topBanner a img{width:1003px;height:40px;}
#topBannerMax {left: 0;overflow: hidden;position: absolute;top: 0;width: 1003px}
#topBannerMax a.imgClose {display: block;height: 32px;position: absolute;right: 5px;top: 5px;width: 32px;background:url(../images/index_icons.png) no-repeat 0 0;}

/**Ã¦â€°â€¹Ã¦Å“ÂºÃ¥ÂÂ·Ã§Â ÂÃ©â€â„¢Ã¨Â¯Â¯Ã¦ÂÂÃ§Â¤Âº**/
.errorLeft{background:url(../images/errorLayer.gif) no-repeat left center;display:block;height:36px;float:left;}
.errorRight{background:url(../images/errorLayer.gif) no-repeat right center;display:block;width:5px;height:36px;float:left;}
.errorLeft .bigtxt{padding:2px 0 2px 18px;background:url(../images/error.gif) 0 3px no-repeat;*background:url(../images/error.gif) 0 1px no-repeat;font-weight:bold;color:#C00;line-height:16px;margin:5px 5px 0 10px;}
.ppgrade {color:#c20;background:#ffffbf;height:30px;line-height:30px;border:1px solid #ffcc00;margin:10px auto 0 auto;text-indent:2em;}
img.lazy{background: url("../images/image_error.jpg") no-repeat scroll 50% 50% transparent;}
/*searchTips*/
.searchTips{position: absolute;top:54px;left:543px;width:368px;border:1px solid #fa9600;background:#fff;}
.searchTips a,.searchTips a:active{display:block;height:26px;background:#fff;line-height: 26px;padding:0 24px;overflow:hidden;white-space: nowrap;}
.searchTips a b{font-weight: bold;color:#333;}
.searchTips a.select{font-weight: bold;background:#f2f2f2;color:#333;text-decoration: none;}
.searchTips a:hover{color:#333;text-decoration: none;}
.searchTips a.select b{color:#333;}

.ac_results {padding: 0px;border: 1px solid #FA9600;background-color: white;overflow: hidden;z-index: 99999;}
.ac_results ul {width: 100%;list-style-position: outside;list-style: none;padding: 0;margin: 0;}
.ac_results li {background: none repeat scroll 0 0 #FFFFFF;display: block;height: 24px;line-height: 26px;overflow: hidden;padding: 0 24px;white-space: nowrap;}
.ac_loading {background: white url('indicator.gif') right center no-repeat;}
.ac_odd {background-color: #eee;}
.ac_results li.ac_over {background:#F2F2F2;color: #333333;font-weight: bold;cursor: pointer;}

.allSortList .betaIcon{top:-8px;left:-1px;_top:-2px;}

/*2013/4/16*/
.broadNew{left:114px;_left:117px;}

.twoDemCode{position:fixed;top:400px;right:0%;width:70px;padding:7px 5px;border:1px solid #e4e4e4;background:#fff;_position:absolute;_margin-top:400px;_top:expression(eval(document.documentElement.scrollTop));z-index:9999999;}
.twoDemCode p{height:18px;color:#666;}
.tClose{cursor:pointer;position:absolute;top:-11px;right:3px;display:inline-block;width:8px;height:8px;background:url(../images/close.gif) no-repeat;}

.flashSale .buyingGoodsInfor .buyingGoodsPrice{bottom:2px;height:38px;line-height:12px;padding-top:14px;font-size:18px;}
.buyingGoodsPrice em{color:#fff;font-size:12px;font-weight:normal;}
.flashSale .buyingGoodsInfor .priceT{font-size:16px;line-height:22px;}

/**2014/10/20**/
.quickPick{margin-bottom:10px;}
.PphoneRecharge{margin:10px 0;padding:0 5px;}
.quickPickC li.cur {color: #f37000;}
.quickPickC .blockC {height:28px;line-height:28px;margin-bottom:5px;}
.quickPickC .blockC label,.quickPickC .blockC .bd {float:left;color:#757575;line-height:21px;}
.quickPickC .blockC .bd a{display: inline-block;_display:block;float: left;width: 40px;_width:38px;height: 21px;border: 1px solid #e3e3e3;text-align: center;line-height: 21px;margin-left: 5px;}
.quickPickC .blockC .bd a:hover{cursor: pointer;text-decoration: none;}
.quickPickC .blockC .bd .selected{border: 1px solid #f37000;}
.quickPickC .blockC .bd .price{color: #f37000;margin-left: 5px;}
.recharge {width:80px;height:25px;display:inline-block;margin-left:60px;line-height:25px;float:left;background-color: #ff6600;color: #fff;text-align: center;}
.recharge:hover {background-color: #ff6600;color: #fff;cursor: pointer;}



.mr-1 {margin-right: 1px;}

.br-0 {border-right: none!important;}
.discount-list {position: relative;}
.discount {width: 578px;height: 152px;border: 1px solid #ebebeb;overflow: hidden;}
.discount li {display: inline-block;width: 192px;height: 152px;float: left;}
.discount-list .sep {display: block;width: 1px;height: 133px;top: 8px;background: #ececec;position: absolute;}
.discount-list .sep.s1 {left: 193px;}
.discount-list .sep.s2 {right: 193px;}
.middle-menu {width: 580px;height: 407px;float: left;}
.right-menu {width: 203px;height: 407px;float: left;margin-left: 5px;background-color: #f9f9f9;}
.right-menu .notice {width: 189px;height: 70px;border: 1px solid #ebebeb;padding: 0 6px 8px;}
.right-menu .notice .cap {width: 100%;height: 30px;}
.right-menu .notice .cap h2 {display: inline-block;font-size: 12px;line-height: 30px;font-weight: bold;color: #575757;float: left;}
.right-menu .notice .cap a {float: right;display: inline-block;line-height: 30px;font-size: 12px;color: #959595;}
.right-menu .notice .cap a:hover {color: #f60;}
.right-menu .notice .notice-list {width: 100%;height: 40px;}
.right-menu .notice .notice-list li a {color: #575757;display: block;line-height: 20px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.right-menu .notice .notice-list li a:hover {color: #f60;}
.right-menu .shortcuts {border-left: 1px solid #ebebeb;border-right: 1px solid #ebebeb;overflow: hidden;}
.right-menu .shortcuts li {display: inline-block;float: left;width: 66px;height: 83px;border-right: 1px solid #ebebeb;border-bottom: 1px solid #ebebeb;}
.right-menu .shortcuts li.third {width: 67px;border-right: 0;}
.right-menu .shortcuts a {display: block;width: 100%;height: 64px;text-align: center;padding-top: 20px;}
.right-menu .shortcuts a:hover {text-decoration: none;}
.right-menu .shortcuts span {font-size: 12px;color: #575757;}
.right-menu .shortcuts a i {display: block;height: 24px;width: 24px;margin: 0 auto 10px;}
.right-menu .shortcuts a i.flow {background: url("../images/shortcut.png") 0 0 no-repeat;}
.right-menu .shortcuts a i.charge {background: url("../images/shortcut.png") -24px 0 no-repeat;}
.right-menu .shortcuts a i.surplus {background: url("../images/shortcut.png") -48px 0 no-repeat;}
.right-menu .shortcuts a i.card {background: url("../images/shortcut.png") -72px 0 no-repeat;}
.right-menu .shortcuts a i.history {background: url("../images/shortcut.png") -96px 0 no-repeat;}
.right-menu .shortcuts a i.up-4g {background: url("../images/shortcut.png") -120px 0 no-repeat;}


/**********话费充值**********/

.right-menu .recharge-section {width: 189px;height: 149px;border: 1px solid #ebebeb;border-top: 0;padding: 0px 6px 8px;}
.right-menu .recharge-section .cap {width: 100%;height: 30px;}
.right-menu .recharge-section .cap .title {display: inline-block;font-size: 12px;line-height: 30px;font-weight: bold;color: #575757;float: left;}
.right-menu .recharge-section .cap .title:hover {text-decoration: none;}
.right-menu .recharge-section .cap .ads {float: right;display: inline-block;line-height: 30px;font-size: 12px;color: #f60;}
.right-menu .recharge-section .cap .ads:hover {color: #f60;}
.right-menu .recharge-section .item-list {width: 100%;height: 32px;margin-bottom: 7px;}
.right-menu .recharge-section .item-list dt {float: left;width: 30px;line-height: 32px;text-align: right;font-size: 12px;color: #575757;}
.right-menu .recharge-section .item-list dd {padding-left: 6px;height: 32px;line-height: 32px;float: right;width: 153px;}
.right-menu .recharge-section .item-list dd .r-input {display: block;width: 140px;height: 14px;border: 1px solid #ebebeb;background-color: #FFF;padding: 8px 5px;font-size: 12px;line-height: 14px;color:#cbcbcb;}
.right-menu .recharge-section .item-list dd .r-input.placeholder {color: #cbcbcb;}
.right-menu .recharge-section .item-list dd .r-input::-webkit-input-placeholder {color: #cbcbcb;}
.right-menu .recharge-section .item-list dd .r-input:-moz-placeholder {color: #cbcbcb;}
.right-menu .recharge-section .item-list dd .r-input::-moz-placeholder {color: #cbcbcb;}
.right-menu .recharge-section .item-list dd .r-input:-ms-input-placeholder {color: #cbcbcb;}
.right-menu .recharge-section .item-list dd .val-sel {background: #FFF url("../images/drop-icon.gif") 130px 50% no-repeat;}
.right-menu .recharge-section .item-list dd .val-sel.un-sel {color: #cbcbcb;}
.right-menu .recharge-section .item-list dd .val-sel i {font-style: normal;color: #f60;}
.right-menu .recharge-section .item-list dd .val-list {display: none;border-left: 1px solid #ebebeb;border-right: 1px solid #ebebeb;position: relative;z-index: 9;}
.right-menu .recharge-section .item-list dd .val-list li {display: block;height: 31px;border-bottom: 1px solid #ebebeb;background-color: #FFF;cursor: pointer;line-height: 31px;padding: 0 5px;}
.right-menu .recharge-section .item-list dd .val-list li:hover {background-color: #DEDEDE;}
.right-menu .recharge-section .item-list dd .val-list li i {font-style: normal;}
.right-menu .recharge-section .item-list dd .val-list li span:first-child {display: inline-block;width: 35px;}
.right-menu .recharge-section .item-list .charge-submit {font-size: 0;margin-top: 5px;}
.right-menu .recharge-section .item-list .charge-submit input {margin-right: 5px;vertical-align: middle;*margin: 0;}
.right-menu .recharge-section .item-list .charge-submit label {color: #959595;cursor: pointer;vertical-align: middle;}
.right-menu .recharge-section .item-list .charge-submit .btn {display: inline-block;width: 89px;;height: 30px;line-height: 30px;background-color: #f60;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;font-size: 14px;color: #fff;text-align: center;margin: 1px 0;float: right;*float: none;*margin-left: 5px;cursor:pointer;border:medium none;}
.right-menu .recharge-section .item-list .charge-submit .btn:hover {text-decoration: none;}

.recommend {margin: 17px 0;*position: relative;*z-index: 1;}
.recommend h2 {font-size: 17px;color: #555;font-weight: bold;height: 22px;line-height: 22px;margin-bottom: 5px;}
.recommend .recommend-list {width: 1001px;height: 116px;border: 1px solid #e3e3e3;position: relative;}
.recommend .recommend-list li {display: inline-block;float: left;width: 250px;height: 116px;}
.recommend .recommend-list img {width: 250px;height: 116px;}
.recommend .recommend-list .sep-box i {position: absolute;width: 1px;height: 116px;background: url("../images/sep.png") 0 0 no-repeat;top: 0;}
.recommend .recommend-list .sep-box i.s1 {left: 250px;}
.recommend .recommend-list .sep-box i.s2 {left: 500px;}
.recommend .recommend-list .sep-box i.s3 {right: 250px;}


.floor-container {margin-bottom: 20px;overflow: hidden;}
.floor-container .floor-cap {overflow: hidden;float: left;width: 100%;margin-bottom: 5px;}
.floor-container .floor-cap h2 {display: inline-block;font-size: 17px;color: #555;font-weight: bold;background: url("../images/floor-icon.png") 0 50% no-repeat;padding-left: 28px;height: 22px;line-height: 22px;float:left;}
.floor-container .floor-cap a {float: right;display: inline-block;line-height: 22px;font-size: 14px;color: #959595;}
.floor-container .floor-cap a:hover {color: #f60;}
.floor-container .top {display: block;float: left;width: 210px;height: 278px;border: 1px solid #e3e3e1;border-right: 0;}
.floor-container .goods-list {overflow: hidden;width: 791px;border: 1px solid #e3e3e1;border-left: 0;}
.floor-container .goods-list li {display: inline-block;width: 197px;height: 278px;border-right: 1px solid #e3e3e1;float: left;}
.floor-container ul,.floor-container .hotRec{height: 278px;}
.floor-container .goods-list li img {width: 197px;height: 278px;}

.num-prompt,.num-error,.num-tip{position:absolute;z-index:7;width:140px;height:30px;line-height:28px;padding:0 5px;border:1px solid #e5e5e5;background-color: #fff;}
.num-prompt{font-size:16px;color:#f60;}
.num-error{color:#d22525;}
.num-city{margin-top:-30px;line-height:27px;padding-left:120px;}




/*新疆维文*/
.weiwen{font-family: UKIJ TUZ TOM;padding-left:4px;position:relative;z-index:2;}
li#huiwen{width:118px;}
.weiwen i.w,.weiwen i.b{float: left;margin: -2px 0 0 4px;width: 116px;height: 24px;background: url(../images/weiwen.png) no-repeat 2px -28px;_background-image: url(../images/weiwen.gif);}
.weiwen i.b{background-position:2px -1px;}.tipsLayer{width:359px;}
.tipsLayerT{width:359px;height:35px;background:url(../images/layer/tipsLayerTOrange.png) no-repeat;}
.tipsLayerT span{float:left;margin:10px 0 0 20px;color:#fff;font-weight:600;}
.tipsLayerT label{float:right;display:inline-block;width:14px;height:14px;margin:10px 14px 0 0;cursor:pointer;}

.tipsLayerM{width:359px;overflow:auto;padding-bottom:30px;background:url(../images/layer/tipsLayerM.png) repeat-y;}
.tipsLayerM p{width:316px;overflow:auto;margin:25px auto;}
.tipsLayerM p.textCenter{text-align:center;}
.tipsLayerM p.margin10{margin:10px auto;}
.tipsLayerM p.textLeft{text-align:left;padding:0 20px;}
.tipsLayerM p.textCenter{text-align:center;padding:0 20px;}

.tipsLayerM .layerBtn{width:190px;height:23px;margin:0 auto;}
.tipsLayerM .layerBtn a{float:left;display:block;width:81px;height:19px;_height:20px;padding-top:4px;_padding-top:3px;text-align:center;text-decoration:none;background:url(../images/layer/tipsLayerBtn.gif) no-repeat;}
.tipsLayerM .layerBtn .blueBtn{background-position:0 0;margin-right:28px;color:#fff;}
.tipsLayerM .layerBtn .whiteBtn{background-position:0 -23px;}

.tipsLayerM dl{width:316px;overflow:auto;margin:10px auto;}

.tipsLayerM dl dt,.tipsLayerM dl dd{float:left;}
.tipsLayerM dl dt{width:65px;overflow:auto;}
.tipsLayerM dl dd{width:250px;overflow:auto;}

.tipsLayerM dl.DlTwo{margin-bottom:20px;}
.tipsLayerM dl.DlTwo dt,.tipsLayerM dl dd{float:left;}
.tipsLayerM dl.DlTwo dt{width:100px;overflow:auto;}
.tipsLayerM dl.DlTwo dd{width:216px;overflow:auto;}

.marginLeft{margin-left:54px;_margin-left:27px;}

.tipsLayerB{width:359px;height:9px;font-size:9px;line-height:9px;background:url(../images/layer/tipsLayerB.png) no-repeat;}
.layerIndex {z-index:10000002;}
.layerIndexManage {z-index:10000003;}
