@charset "utf-8";
/* CSS registratie newsletters dPD */

@font-face {
    font-family:'BebasNeueRegular';
    src: url(css/BebasNeue-webfont.eot);
    src: url(css/BebasNeue-webfont.eot?#iefix) format('embedded-opentype'),
         url(css/BebasNeue-webfont.woff) format('woff'),
         url(css/fonts/BebasNeue-webfont.ttf) format('truetype'),
         url(css/fonts/BebasNeue-webfont.svg#BebasNeueRegular) format('svg');
    font-weight:normal;
    font-style:normal;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, table, tr, td, form, object, embed, article, aside, canvas, command, details, fieldset, figcaption, figure, footer, group, header, hgroup, legend, mark, menu, meter, nav, output, progress, section, summary, time, audio, video {
  border: 0 none;
  margin: 0;
  padding: 0;
}

#container {
	padding: 10px;
	height:150px
	font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
	color: #fff;
	clear: both;
	background-color: #036;
}

#container h1 {
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'BebasNeueRegular',Trebuchet,Helvetica,Sans-Serif;
	font-size: 2em;
	letter-spacing: 1px;
}

#container p {
	margin: 0 0 5px 0;
	font-family: 'Arial',Trebuchet,Helvetica,Sans-Serif;
	font-size: 0.9em;
	font-weight: bold;
}

#container .registration-box {
	margin-top: 15px;
	width: 100%;
}

#container .registration-box input {
	border: 1px solid #000;
}

#container .registration-box input.email-field{
	width: calc(100% - 122px);
	float: left;
	padding: 10px;
	font-size: 85%;
}

#container .registration-box input.button{
	width: 100px;
	float: right;
	padding: 10px 0px;
	background-color: red;
	text-transform: uppercase;
	font-size: 85%;
	font-weight: bold;
}

.clear {
	clear: both;
}

input.email-field::-webkit-input-placeholder {
   color: #000;
}

input.email-field:-moz-placeholder { 
   color: #000;  
}

input.email-field::-moz-placeholder {  
   color: #000;  
}

input.email-field:-ms-input-placeholder {  
   color: #000;  
}

.red {
	color: #fff;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

/* Brands */

.sport {
	background-color: #019c01 !important;
}