body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu-R-webfont', Georgia, serif;
}

:focus {
	outline: none;
}

a, a img {
	border: none;
}

#banner-firstpharma {
	float: left;
	width: 298px;
	height: 438px;
	border: 1px solid #96bf32;
	display: block;
}

#banner-firstpharma #top-image {
	float: left;
	margin: 0;
	width: 298px;
	height: 194px;
	display: block;
}

#banner-firstpharma #top-title {
	float: left;
	width: 298px;
	height: 60px;
	color: #fff;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
	display: block;
}

#banner-firstpharma .topimage {
	background: #003366;
	display: table;
}

#banner-firstpharma .topimage:hover {
	background: #0842a3;
}

#banner-firstpharma .actie:first-child {
	height: 105px;
} 

#banner-firstpharma #top-title p {
	margin: 7px 0 0 5px;
}

#banner-firstpharma .actie {
	float: left;
	margin: 0 0 8px 0;
	width: 298px;
	height: 103px;
	background: #f8faf1;
}

#banner-firstpharma .actie .left {
	position: relative;
	float: left;
	width: 148px;
	height: 103px;
	display: block;
}

#banner-firstpharma .actie .left .discount {
	position: absolute;
	left: 0; 
	bottom: 0;
	padding: 0 4px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	background: #96bf32;
	font-family: 'Source Sans Pro', Trebuchet MS, Arial, sans-serif;
}	

#banner-firstpharma .actie .right {
	float: left;
	width: 146px; 
	height: 103px;
}

#banner-firstpharma .actie .right p {
	margin: 2px 0 0 6px;
	font-size: 13px;
	line-height: 14px;
	display: block;
}

#banner-firstpharma .actie a.actie-link {
	color: #6e9b00;
	width: 298px;
	height: 103px;
	display: block;
}

#banner-firstpharma .actie a.actie-link:hover {
	color: #587b01;
}