/*
	HOMEPAGE TEMPLATE STYLES
*/
#hpg-promo-2,
#hpg-promo-3,
#hpg-promo-4,
#hpg-promo-5,
#hpg-promo-6,
#hpg-promo-7,
#hpg-promo-8,
#hpg-ugc-1 {
  padding: 0px;
}
#hpg-promo-2 img,
#hpg-promo-3 img,
#hpg-promo-4 img,
#hpg-promo-5 img,
#hpg-promo-6 img,
#hpg-promo-7 img,
#hpg-promo-8 img,
#hpg-ugc-1 img {
  max-width: 100%;
}
/*
	HOME TEMPLATE A ADJUSTMENTS
*/
.hpg-a #hpg-promo-3 {
  padding-right: 5px;
  margin-bottom: 10px;
}
.hpg-a #hpg-promo-4 {
  padding-left: 5px;
  margin-bottom: 10px;
}
.hpg-a #hpg-promo-5,
.hpg-a #hpg-ugc-1 {
  margin-top: 10px;
}
/*
	HOME TEMPLATE B
*/
.hpg-b #hpg-promo-2 {
  margin: 10px 0px 0px; /* Bottom to be 0px to fix the gap between each promo */
}

.hpg-b #hpg-promo-3,
.hpg-b #hpg-promo-5 {
  margin: 10px 0px 0px; /* Bottom to be 0px to fix the gap between each promo */
}

.hpg-b .promogroup {
  padding-left: 0px;
  padding-right: 0px;
}
.hpg-b .promogroup .leftcol {
  padding-left: 0px;
  padding-right: 5px;
}
.hpg-b #hpg-promo-5 {
  padding-left: 5px;
}
.hpg-b #hpg-promo-4,
.hpg-b #hpg-promo-6,
.hpg-b #hpg-promo-7 {
  margin-top: 10px;
}
.hpg-b #hpg-ugc-1 {
  margin: 10px 0px 0px;
}
/*
	HOME TEMPLATE C
*/
.hpg-c #hpg-hero-1 .slides .hpg-c #hpg-hero-1 .slick-slide {
  max-width: 490px;
}
.hpg-c .hero .slick-slider,
.hpg-c .herogroup {
  padding: 0px;
}
.hpg-c .slick-dots {
  margin: -42px auto 0px;
}
.hpg-c #hpg-promo-3 {
  margin-top: 10px;
}
.hpg-c .promogroup {
  padding-left: 5px;
}
.hpg-c #hpg-promo-2 {
  margin: 0px;
}
.hpg-c #hpg-promo-4 {
  margin: 10px 0px 0px;
}
.hpg-c #hpg-promo-6 {
  padding-right: 5px;
}
.hpg-c #hpg-promo-7 {
  padding-left: 5px;
}
.hpg-c #hpg-promo-8 {
  margin: 10px 0px 0px;
}
.hpg-c #hpg-ugc-1 {
  margin: 10px 0px 0px;
}
/*
	HOME TEMPLATE D
*/
.hpg-d .promogroup {
  padding: 0px 10px 0px 0px;
}
.hpg-d #hpg-promo-6,
.hpg-d .promogroup,
.hpg-d #hpg-promo-2 {
  margin: 10px 0px 0px;
}
.hpg-d #hpg-promo-4 {
  margin-top: 10px;
  padding-right: 5px;
}
.hpg-d #hpg-promo-5 {
  margin-top: 10px;
  padding-left: 5px;
}
.hpg-d #hpg-promo-6 img {
  max-height: 640px;
  width: 100%;
}
.hpg-d #hpg-promo-7,
.hpg-d #hpg-ugc-1 {
  margin: 10px 0px 0px;
}
/*
	For Certona
*/
div#ymal-home-header img {
     margin: 0px auto 0px;
      display: block;
}
#hpg-ugc-banner {
    margin: 10px 0 0;
    padding: 0;
}
/**Styling for Certona for Pricing **/
.price-block {
    text-align: center;
    margin: 0px auto;
    width: 100%;
    overflow: visible;
    display: block;
}

.price-reg {
    color: #999999;
    font-size: 12px;
    font-family: 'Gotham SSm 4r', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    text-align: center;
    float: left;
}

.strike, .price-reg.strike, .strike.regular-price {
    color: #999999;
    position: relative;
    white-space: nowrap;
    text-decoration: line-through;
    width: 50%;
    text-align: right;
}

.price-now {
    color: #cc0000;
    font-size: 12px;
    font-family: 'Gotham SSm 4r', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 50%;
    text-align: left;
    float: left;
    padding-left: 3px;
}

.special-offer {
    color: #f7971f!important;
    font-size: 12px;
    font-family: 'Gotham SSm 4r', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}
