/* This here file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, dese styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
 body {

 }

/* 
 .node p {
 padding-right: 30px;
 }
*/ 
 
 /* label for From AIP Publications - home page */

.pane-block-10 {
margin-top: 20px;
}
 
 /* DS teaser layout  */
 
 
/*
.ds-2col .group-left {
width: 60px;
}
*/

.ds-2col .group-right {
width: 68% !important;
padding-left: 10px;
}


 
 /* masthead */

#zone-branding-wrapper {
height: 100px;
}

.logo-img {
margin-top: 30px;	
}

/* position the global search window in upper right of masthead for normal and wide views */

.block-204 {
float: right;
padding: 0px;
position: absolute;
top: 40px;
right: 0px;
}

#zone-menu-wrapper {
padding: 0px !important;
}

/* OMEGA SECTIONS, ZONES, REGIONS; UI elements therein */

/* main content layout - extra spacing for normal and wide views - 3-col inner linings */

.region-content-inner {
padding-bottom: 20px;
}

/*

.region-sidebar-first-inner {
padding-top: 8px;
}

.region-sidebar-second-inner {
padding-top: 20px;
padding-bottom: 20px;
}

*/

/* main nav menu */

#block-nice-menus-1 li {
border: none;
margin-right: 20px;
}


.view-aip-home-page-slider {
display: block;
width: auto;
height: 205px;
border: 1px solid #666;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background: #333;
margin-top: 10px;
margin-bottom: 20px;
}

.view-aip-home-page-slider img {
max-width: 458px;
height: auto;
}

/* CURRENT SLIDER CAPTION CONFIG */

.view-aip-home-page-slider .views-field-title {
display: none;
}
 
.view-aip-home-page-slider .views-field-title a {
color: #fff !important;
text-decoration: none !important;
}

/* NEW SLIDER CAPTION CONFIG */

.view-aip-home-page-slider .views-field-field-slide-text  {
padding: 15px 10px 10px 10px !important;
font-size: 14px !important;
margin-top: 0px;
width: 31%;
position: absolute;
bottom: 0px;
height: 86%;
background-color: rgba(0,0,0,0.6);
line-height: 1.0em !important;
}
 
.view-aip-home-page-slider .views-field-field-slide-text a {
color: #fff !important;
text-decoration: none !important;
}
 
.view-aip-home-page-slider .views-field-field-slide-text p {
line-height: 1.2em; 
}
 
span.read-more-link {
font-size: 12px;
background: #cc0000;
padding: 5px;
border-radius: 3px;
}



.view-aip-home-page-slider .views-row {
margin: 0px;
}

.view-aip-home-page-slider
.widget_pager .views-slideshow-pager-field-item {
  float: right;
  text-indent: -10000px;
  background-image: url("/sites/all/themes/aipcorp/images/ss_bullet.png");
  background-repeat: no-repeat;
  width:10px;
  height:10px;
  margin-right:10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.view-aip-home-page-slider
.widget_pager .active {
  float: right;
  text-indent: -10000px;
  background-image: url("/sites/all/themes/aipcorp/images/ss_bulle_hott.png");
  background-repeat: no-repeat;
  width:10px;
  height:10px;
}

.view-aip-home-page-slider
.widget_pager .views-content-counter:hover {
   background-image: url("/sites/all/themes/aipcorp/images/ss_bulle_hott.png");
  background-repeat: no-repeat;
  width:5px;
  height:10px;
  cursor: pointer;  
}

/* home page quads  */

.front .panel-col-first,
.front .panel-col-last
{
width: 50%;	
margin-left: 0px;
}

.spot-block {
height: 132px;	
}

.home-page-block a {
bottom: 10px;
}

/* history collections panels */


.pane-history-collections-oral-history
.views-field-field-teaser-image {
width: 90px;
float: left;
margin-right: 10px;
padding-top: 5px;
}
 
/* donate lp 2 column */

#history_programs,
#student_programs {
  float: left;
  width: 45%;
}
 
#history_programs {
  margin-right: 20px;
  margin-bottom: 0px;
}

/* gov relations lp cols */

.page-policy .panel-col-first,
.page-policy .panel-col-last {
width: 50%;	
}
/* career resource LP */

.page-career-resources .panel-col-first,
.page-career-resources .panel-col-last {
width: 50%;	
}

/* news page */

.page-news .panel-col-first,
.page-news .panel-col-last {
width: 50%;	
}

.page-news .ds-2col .group-right {
width: 79% !important;	
}

/* student programs LP */

.page-student-programs .panel-col-first,
.page-student-programs .panel-col-last {
width: 50%;	
}

.page-student-programs .panel-col-last {
margin-left: 0px;	
}

/* career resources blurb */

#career-links {
margin-bottom: 80px !important;	
}

#career-links-text {
width: 52%;
padding-bottom: 20px;
}

#career-links-pic {
display: block;	
}

#career-links-pic img {
display: block;
max-width: 218px;
height: 270px !important;
padding-bottom: 20px;
background: #333;
}

/* stats data graphic teaser view */

.page-statistics-data-employment .ds-2col .group-right,
.page-statistics-data-highschool .ds-2col .group-right, 
.page-statistics-data-undergraduate .ds-2col .group-right, 
.page-statistics-data-graduate .ds-2col .group-right, 
.page-statistics-data-faculty .ds-2col .group-right, 
.page-statistics-data-women .ds-2col .group-right, 
.page-statistics-data-minorities .ds-2col .group-right, 
.page-statistics-data-international .ds-2col .group-right,
.page-statistics-data-astronomy .ds-2col .group-right
{
width: 36% !important;
}

/* ESVA home page featured blocks */



/* top blurb rework */
 
.page-history-programs-niels-bohr-library-photos
.region-content {
background-image:url('/sites/default/files/history/esva-home/esva-top-blurb-460.jpg');
background-repeat: no-repeat;
/*
background-size: 100%;
-moz-background-size: 100%;
-webkit-background-size: 100%;
*/
margin-top: 10px;
}
 
/* search interface on home page */
 
.page-history-programs-niels-bohr-library-photos
div.views-exposed-form {
margin-top: 180px;
margin-bottom: 25px;
padding: 5px 0px 5px 10px;
background: #fff;
width: 85%;
margin-left: auto;
margin-right: auto;
border: 1px solid #333;
border-radius: 3px;
-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
 
.page-history-programs-niels-bohr-library-photos
div.views-exposed-form .form-text {
width: 300px !important;
height: 25px;
font-size: 16px;
}
 
.page-history-programs-niels-bohr-library-photos div.views-exposed-form
.form-submit {
margin-top: 18px !important;
}

.page-esva-search div.views-exposed-form 
.form-submit {
margin-top: 0px !important; 
}

.page-esva-search div.views-exposed-form input,
.page-cart div.views-exposed-form input,
.page-checkout div.views-exposed-form input,
.page-node-10369 div.views-exposed-form input,
.page-node-10421 div.views-exposed-form input,
.page-node-10579 div.views-exposed-form input,
.page-node-50338 div.views-exposed-form input,
.page-node-50339 div.views-exposed-form input,
.page-user div.views-exposed-form input,
.page-user-my-images div.views-exposed-form input,
.page-user-orders div.views-exposed-form input
{
max-width: 180px;
background: #ffffcc;	
margin: 0px !important;
}

.node-type-esva-image div.views-exposed-form input {
max-width: 180px;	
background: #ffffcc;
margin: 0px !important;
}

.node-type-esva-image div.views-exposed-form .form-submit {
margin-top: 0px !important;	
}

.page-esva-search div.views-exposed-form .form-submit,
.page-cart div.views-exposed-form .form-submit,
.page-checkout div.views-exposed-form .form-submit,
.page-node-10369 div.views-exposed-form .form-submit,
.page-node-10421 div.views-exposed-form .form-submit,
.page-node-10579 div.views-exposed-form .form-submit,
.page-node-50338 div.views-exposed-form .form-submit,
.page-node-50339 div.views-exposed-form .form-submit,
.page-user div.views-exposed-form .form-submit,
.page-user-my-images div.views-exposed-form .form-submit,
.page-user-orders div.views-exposed-form .form-submit
{
margin-top: 0px !important;	
}

/* EINSTEIN SLIDESHOW ONE OFF */
 
/* entire slideshow */
 
.view-history-einstein-calendar-slideshow
div.views_slideshow_cycle_main {
float: left;
height: auto !important;
width: 540px;
} 
 
/* image and caption */
 
.view-history-einstein-calendar-slideshow
div.views-slideshow-cycle-main-frame-row,
.page-history-programs-niels-bohr-library-photos-of-the-month
div.views_slideshow_cycle_slide {
width: 540px;
margin: 0px;
}
 
.view-history-einstein-calendar-slideshow
div.views-slideshow-cycle-main-frame {
float:left;
}
 
div.views-field-field-einstein-image {
border-radius: 3px;
border: 1px solid #333;
margin: 0px !important;
width: 540px;
}
 
div.views-field-field-einstein-slide-caption {
margin-top:15px;
}
 
div.views-field-field-einstein-slide-caption p {
color:#666;
line-height: 1.4em;
width: 540px;

}

/* slideshow pager */

.view-history-einstein-calendar-slideshow
.views-slideshow-controls-top {
float:left;  
width: 160px;
}

.view-history-einstein-calendar-slideshow
.views-slideshow-controls-top
.views-slideshow-pager-field-item  {
float: left; 
margin: 0px 5px 5px 0px;
cursor:pointer;
cursor:hand;
border: 1px solid #333;
border-radius: 3px;
opacity: 0.6 !important;
}  
 
.view-history-einstein-calendar-slideshow
div.views-slideshow-pager-field-item:hover {
opacity: 1.0 !important;
}

/* OH landing page featured transc. */

.page-history-programs-niels-bohr-library-oral-histories
.view-oral-history-transcripts
.ds-2col .group-right {
width: 63% !important;
padding: 0px;
}

/* Stats who's hiring rework */

.whois-textlinks {
display: block;
}

.whois-menu {
display: none;	
}

/* FYI report extra padding */

.node-type-fyi
.region-content-inner,
.page-taxonomy .region-content-inner,
.custom-fyi .region-content-inner
{
 padding: 10px 30px 20px 30px; 
}

/* FYI related links */

.block-featured-content-1 li {
padding-left: 0px !important;  
}

/* FYI google search */

.block-171 .textfield {
width: 62%; 
}

/* subscribe herald */

.block-421, .block-441 {
width: 210px;
height: 79px;
margin: 20px 0px 20px 0px;
border: 1px solid #b3b3b3;
background: url(/sites/default/files/aipcorp/images/fyi/fyi-subscribe-normal.png);
background-repeat: no-repeat;
background-size: cover;
border-radius: 5px;
-webkit-border-radius; 5px;
-moz-border-radius: 5px;
}

/* FYI table */

.node-type-fyi table, .node-type-article table, .node-type-editorials table {
width: 95%;
}

/* FYI Taxonomy display */

.node-type-fyi
.field-name-field-taxonomy a { 
display: inline-block;
width: auto;
white-space: nowrap;
}

 .taxonomy-fyi
.ds-2col .group-right,
.view-fyi-yearly-archive
.ds-2col .group-right,
.view-fyi-home-page
.ds-2col .group-right,
.custom-fyi
.ds-2col .group-right
{
width: 65% !important;  
}

/* HOME PAGE REDESIGN 2016 */

#mission-menu {
display: block;
float: left;
width: 280px;
margin-right: 40px;
}

.mission {
padding: 10px 20px 5px 20px;	
}

.home-menu {
padding-top: 5px;	
}

#top-story {
width: 618px;
height: 379px;	
/*
margin-bottom: 40px;
*/
}

.field-name-field-top-story-text {
border: none;
width: 598px;
position: absolute;
left: 0px;
bottom: -82px;
background: #333;	
padding-top: 21px;
}

#publishing {
clear: both;	
float: left;
width: 30%;
margin-right: 40px;
margin-bottom: 40px;
}

#ptol {
float: left;
width: 30%;
margin-right: 40px;
}

.spot-publishing img, .spot-ptol img {
border-bottom: 10px solid #fdc82f;  
width: 100%;
margin-top: 0px;
}

.spot-publishing-content,
.spot-ptol-content {
height: 395px;
padding-bottom: 0px;
}

#programs {
float: left;
width: 31%;	
}

.spot-programs-row {
min-height: 103px;
margin-bottom: 40px;
}

.spot-programs-image {
width: 140px;	
}

div.spot-programs-blurb h2 {
margin: 5px 0px 5px 0px;
font-size: 18px;
}

.spot-programs p {
line-height: 1.1em;	
}

.memsoc-left {
float: left;
width: 49%;	
}

.owl-item .field-name-body {
height: 70px;
}

.aip-footer-1, .aip-footer-2 {
float: left; 
width: 30%;
border-right: 1px solid #efefef;
border-bottom: none;
margin-right: 30px;
padding-right: 30px;
}

/* MEMSOC LOGOS */

#memsoc-across {
display: block !important;	
clear: both;	
margin-top: 40px;
}

.memsoc-logos-across h2 {
border-bottom: 1px dotted #333;
padding-bottom: 5px;
}

.memsoc-logos-across p {
float: left;
margin-right: 25px;
width: 80px;
text-align: center;
font-size: 13px;
}

.memsoc-logos-across img {
margin-bottom: 10px;
}

/* History Teaching Guides */

#tg-blurb {
padding-left: 20px;
}

.view-history-teaching-guide-view
.group-right,
.view-materials-for-teachers-and-students
.group-right,
.page-taxonomy
.ds-2col-stacked-fluid
.group-right
{
width: 64%; 
float: left;
}

/* sci award winners view */

.view-science-communication-award-winners
.ds-2col .group-right {
width: 71% !important;
}

/* staff views */

.view-aip-leadership
.ds-2col .group-right,
.view-government-relations-staff
.ds-2col .group-right
{
width: 62% !important; 
}

/* homepage ctas */

#cta-left {
width: 48%; 
float: left;
margin: 0px 35px 30px 0px;
height: 145px;
}
 
#cta-right {
width: 48%;  
float: left;
height: 145px;
} 