/* This here file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, dese styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
body {

}

/* label for From AIP Publications - home page */

.pane-block-10 {
margin-top: -12px;
}

/* DS teaser layout  */

.
.ds-2col .group-left {
width: 50px;
}

.ds-2col .group-right {
width: 60% !important;
padding-left: 10px;
margin-top: 0px;
}



/* display stats browse menu sublinks from here on up */

ul.subcats {
display: block;
list-style-type: none;
}


/* home page quad  */

.spot-block {
height: 152px;	
}

.home-page-block a {

}

/* stats top panel re-appears on narrow view */

.pane-block-180 {
display: block;	
}

/* stats topical browser panel into 2 columns */

.topics_left {
float: left;
width: 48%;
margin-right: 10px;
}
 
.topics_right {
float: left;
width: 48%;
}

/* history collections panels */

.pane-history-collections-oral-history
.views-field-field-teaser-image {
width: 60px;
float: left;
margin-right: 10px;
padding-top: 5px;
}
 
.pane-history-collections-oral-history
.views-field-title {
 font-weight: bold;
float: right;
width: 77%;
margin-top: 5px;
} 
 
.pane-history-collections-oral-history
.views-field-body {
float: right;
width: 77%;
}

.page-news .ds-2col .group-right {
width: 82% !important;	
}

#career-links {
margin-bottom: 50px !important;	
}

/* ESVA home page featured blocks */

/* top blurb rework */
 
.page-history-programs-niels-bohr-library-photos
.region-content {
background-image:url('/sites/default/files/history/esva-home/esva-top-blurb-340.jpg');
background-repeat: no-repeat;
/*
background-size: 100%;
-moz-background-size: 100%;
-webkit-background-size: 100%;
*/
margin-top: 10px;
}
 
/* search interface on home page */
 
.page-history-programs-niels-bohr-library-photos
div.views-exposed-form {
margin-top: 130px;
margin-bottom: 25px;
padding: 5px 0px 5px 10px;
background: #fff;
width: 85%;
margin-left: auto;
margin-right: auto;
border: 1px solid #333;
border-radius: 3px;
-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
 
.page-history-programs-niels-bohr-library-photos
div.views-exposed-form .form-text {
width: 200px !important;
height: 20px;
font-size: 14px;
}
 
.page-history-programs-niels-bohr-library-photos div.views-exposed-form
.form-submit {
margin-top: 18px !important;
}

.page-esva-search div.views-exposed-form input,
.page-cart div.views-exposed-form input,
.page-checkout div.views-exposed-form input,
.page-node-10369 div.views-exposed-form input,
.page-node-10421 div.views-exposed-form input,
.page-node-10579 div.views-exposed-form input,
.page-node-50338 div.views-exposed-form input,
.page-node-50339 div.views-exposed-form input,
.page-user div.views-exposed-form input,
.page-user-my-images div.views-exposed-form input,
.page-user-orders div.views-exposed-form input
{
max-width: 130px;
background: #ffffcc;	
margin: 0px !important;
}

.node-type-esva-image div.views-exposed-form input {
max-width: 130px;	
background: #ffffcc;
margin: 0px !important;
}

.node-type-esva-image div.views-exposed-form .form-submit {
margin-top: 0px !important;	
}

.page-cart div.views-exposed-form .form-submit,
.page-checkout div.views-exposed-form .form-submit,
.page-node-10369 div.views-exposed-form .form-submit,
.page-node-10421 div.views-exposed-form .form-submit,
.page-node-10579 div.views-exposed-form .form-submit,
.page-node-50338 div.views-exposed-form .form-submit,
.page-node-50339 div.views-exposed-form .form-submit,
.page-user div.views-exposed-form .form-submit,
.page-user-my-images div.views-exposed-form .form-submit,
.page-user-orders div.views-exposed-form .form-submit
{
margin-top: 0px !important;	
}

/* panel layout adjustment post image style refit */

.node-type-esva-image .panel-col-first {
width: 34%;
padding-right: 15px;	
}
               
.node-type-esva-image .panel-col-last {
width: 63%;	
}

/* OH landing page featured transc. */

.page-history-programs-niels-bohr-library-oral-histories
.view-oral-history-transcripts
.ds-2col .group-right {
width: 63% !important;
padding: 0px;
}

/* medium float syle at breakpoint */

.media-float_medium_image_left {
max-width: 50%;
height: auto;
float: left;
margin-right: 20px;
}

.media-float_medium_image_right {
max-width: 50%;
height: auto;
float: right;
margin-left: 20px;
}

/* FYI google search */

.block-171 .textfield {
width: 52%; 
}

/* subscribe herald */

.block-421, .block-441 {
width: 150px;
height: 79px;
margin: 20px 0px 20px 0px;
border: 1px solid #b3b3b3;
background: url(/sites/default/files/aipcorp/images/fyi/fyi-subscribe-narrow.png);
background-repeat: no-repeat;
background-size: cover;
border-radius: 5px;
-webkit-border-radius; 5px;
-moz-border-radius: 5px;
}

/* HOME 2016 REDESIGN */

.field-name-field-top-story-text h2 {
font-size: 32px;
}

div.spot-programs-blurb h2 {
margin: 10px 0px 5px 0px;
font-size: 20px;
}

.owl-item .field-name-body {
height: 74px;
}

/* scicomm award winner teasers */

 .view-science-communication-award-winners
.ds-2col .group-right {
width: 61% !important;
}

/* staff views */

.view-aip-leadership
.ds-2col .group-right,
.view-government-relations-staff
.ds-2col .group-right
{
width: 58% !important; 
}

/* teaching guidez */

.view-history-teaching-guide-view
.group-left,
.view-materials-for-teachers-and-students
.group-left,
.page-taxonomy
.ds-2col-stacked-fluid
.group-left
 {
width: 220px; 
margin-right: 20px; 
}	

.view-history-teaching-guide-view
.group-right,
.view-materials-for-teachers-and-students
.group-right,
.page-taxonomy
.ds-2col-stacked-fluid
.group-right
{
width: 51%; 
float: left;
}

/* home page ctas */


#cta-left {
width: 47%; 
float: left;
margin: 0px 40px 30px 0px;
height: 145px;
}
 
#cta-right {
width: 47%;  
float: left;
height: 145px;
} 