/* This here file will hold styles that are loaded using the same media query as the wide grid. */

body {
background: #fff;
}


.ds-2col .group-right {
width: 75% !important;
padding-left: 10px;
}




/* VIEWS SLIDESHOW - HOME PAGE SLIDER */

.view-aip-home-page-slider {
width: auto;
height: 240px;
border: 1px solid #666;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background: #333;
}

.view-aip-home-page-slider img {
max-width: 580px;
}

/* CURRENT SLIDER CAPTION CONFIG */

.view-aip-home-page-slider .views-field-title {
display: none;
}
 
.view-aip-home-page-slider .views-field-title a {
color: #fff !important;
text-decoration: none !important;
}

/* NEW SLIDER CAPTION CONFIGURATION  */

.view-aip-home-page-slider .views-field-field-slide-text {
padding: 25px 15px 15px 15px !important;
font-size: 16px !important;
margin-top: 0px;
width: 30%;
height: 82%;
background-color: rgba(0,0,0,0.7);
text-align: right;
border-right: 1px solid #333;
}

.view-aip-home-page-slider .views-field-field-slide-text a {
color: #fff !important;
text-decoration: none !important;
}



.view-aip-home-page-slider .views-row {
margin: 0px;
}

.view-aip-home-page-slider
.widget_pager .views-slideshow-pager-field-item {
  float: right;
  text-indent: -10000px;
  background-image: url("/sites/all/themes/aipcorp/images/ss_bullet.png");
  background-repeat: no-repeat;
  width:10px;
  height:10px;
  margin-right:10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.view-aip-home-page-slider
.widget_pager .active {
  float: right;
  text-indent: -10000px;
  background-image: url("/sites/all/themes/aipcorp/images/ss_bulle_hott.png");
  background-repeat: no-repeat;
  width:10px;
  height:10px;
}

.view-aip-home-page-slider
.widget_pager .views-content-counter:hover {
   background-image: url("/sites/all/themes/aipcorp/images/ss_bulle_hott.png");
  background-repeat: no-repeat;
  width:5px;
  height:10px;
  cursor: pointer;  
}

.spot-block {
height: 152px;	
}

.home-page-block a {
bottom: -1px;
width: 279px;
}

/* history collectionspanels */

.page-history-programs
.panel-col-first {
width: 50%;	
}

.page-history-programs
.panel-col-last {
width: 50%;	
}

.pane-history-collections-oral-history
.views-field-field-teaser-image {
width: 90px;
float: left;
margin-right: 10px;
padding-top: 5px;
}
 
.pane-history-collections-oral-history
.views-field-title {
 font-weight: bold;
float: right;
width: 63%;
margin-top: 5px;
} 
 
.pane-history-collections-oral-history
.views-field-body {
float: right;
width: 63%;
}

/* news page */

.page-news .ds-2col .group-right {
width: 83% !important;	
}

/* career resources audience blurb */

#career-links {
margin-bottom: 60px !important;	
}

#career-links-text {
width: 62%;
padding-bottom: 0px;
}

#career-links-pic img {
padding-bottom: 0px;
}

/* stats data graphic teaser view */

.page-statistics-data-employment .ds-2col .group-right,
.page-statistics-data-highschool .ds-2col .group-right, 
.page-statistics-data-undergraduate .ds-2col .group-right, 
.page-statistics-data-graduate .ds-2col .group-right, 
.page-statistics-data-faculty .ds-2col .group-right, 
.page-statistics-data-women .ds-2col .group-right, 
.page-statistics-data-minorities .ds-2col .group-right, 
.page-statistics-data-international .ds-2col .group-right,
.page-statistics-data-astronomy .ds-2col .group-right
{
width: 44% !important;
}

/* top blurb rework */
 
.page-history-programs-niels-bohr-library-photos
.region-content {
background-image:url('/sites/default/files/history/esva-home/esva-top-blurb9.jpg');
background-repeat: no-repeat;
/*
background-size: 100%;
-moz-background-size: 100%;
-webkit-background-size: 100%;
*/
margin-top: 10px;
}
 
/* search interface on home page */
 
.page-history-programs-niels-bohr-library-photos
div.views-exposed-form {
margin-top: 230px;
margin-bottom: 45px;
padding: 5px 0px 5px 10px;
background: #fff;
width: 85%;
margin-left: auto;
margin-right: auto;
border: 1px solid #333;
border-radius: 3px;
-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
 
.page-history-programs-niels-bohr-library-photos
div.views-exposed-form .form-text {
width: 410px !important;
height: 25px;
font-size: 16px;
}
 
.page-history-programs-niels-bohr-library-photos div.views-exposed-form
.form-submit {
margin-top: 18px !important;
}

.page-esva-search div.views-exposed-form 
.form-submit {
margin-top: 18px !important; 
}

.node-type-esva-image div.views-exposed-form .form-submit {
margin-top: 18px !important;	
}

.page-esva-search div.views-exposed-form .form-submit,
.page-cart div.views-exposed-form .form-submit,
.page-checkout div.views-exposed-form .form-submit,
.page-node-10369 div.views-exposed-form .form-submit,
.page-node-10421 div.views-exposed-form .form-submit,
.page-node-10579 div.views-exposed-form .form-submit,
.page-node-50338 div.views-exposed-form .form-submit,
.page-node-50339 div.views-exposed-form .form-submit,
.page-user div.views-exposed-form .form-submit,
.page-user-my-images div.views-exposed-form .form-submit,
.page-user-orders div.views-exposed-form .form-submit
{
margin-top: 18px !important;	
}

/* EINSTEIN SLIDESHOW ONE OFF */
 
/* entire slideshow */
 
.view-history-einstein-calendar-slideshow
div.views_slideshow_cycle_main {
float: left;
height: auto !important;
width: 660px;
} 
 
/* image and caption */
 
.view-history-einstein-calendar-slideshow
div.views-slideshow-cycle-main-frame-row,
.page-history-programs-niels-bohr-library-photos-of-the-month
div.views_slideshow_cycle_slide {
width: 660px;
margin: 0px;
}
 
.view-history-einstein-calendar-slideshow
div.views-slideshow-cycle-main-frame {
float:left;
}
 
div.views-field-field-einstein-image {
border-radius: 3px;
border: 1px solid #333;
margin: 0px !important;
width: 660px;
}
 
div.views-field-field-einstein-slide-caption {
margin-top:15px;
}
 
div.views-field-field-einstein-slide-caption p {
color:#666;
line-height: 1.4em;
width: 660px;

}

/* slideshow pager */

.view-history-einstein-calendar-slideshow
.views-slideshow-controls-top {
float:left;  
width: 160px;
}

.view-history-einstein-calendar-slideshow
.views-slideshow-controls-top
.views-slideshow-pager-field-item  {
float: left; 
margin: 0px 5px 5px 0px;
cursor:pointer;
cursor:hand;
border: 1px solid #333;
border-radius: 3px;
opacity: 0.6 !important;
}  
 
.view-history-einstein-calendar-slideshow
div.views-slideshow-pager-field-item:hover {
opacity: 1.0 !important;
}

/* OH landing page featured transc. */

.page-history-programs-niels-bohr-library-oral-histories
.view-oral-history-transcripts
.ds-2col .group-right {
width: 71% !important;
}

/* FYI - iinline image float and caption at wide views */

.node-type-fyi .image_left {
width: 50% !important;
float: left;
margin: 5px 20px 0px 0px;
}

.node-type-fyi .image_right {
width: 50% !important;
float: right;
margin: 5px 0px 0px 20px;
}

.node-type-fyi .caption_left {
width: 50% !important;
float: left;
margin: 5px 20px 0px 0px;
}

.node-type-fyi .caption_right {
width: 50% !important;
float: right;
margin: 5px 0px 0px 20px;
}

.field-name-field-release-date {
float: left;
margin-right: 20px;
border-right: 1px solid #b3b3b3;
padding-right: 20px;
}

.field-name-field-fyi-number {
padding-top: 5px;  
}

/* FYI google search */

.block-171 .textfield {
width: 72%; 
}

/* subscribe herald */

.block-421, .block-441 {
width: 268px;
height: 55px;
margin: 20px 0px 20px 0px;
border: 1px solid #b3b3b3;
background: url(/sites/default/files/aipcorp/images/fyi/fyi-subscribe-wide.png);
background-repeat: no-repeat;
background-size: cover;
border-radius: 5px;
-webkit-border-radius; 5px;
-moz-border-radius: 5px;
}

.taxonomy-fyi
.ds-2col .group-right,
.view-fyi-yearly-archive
.ds-2col .group-right,
.view-fyi-home-page
.ds-2col .group-right,
.custom-fyi
.ds-2col .group-right
{
width: 75% !important;  
}


/* TEST CSS FOR MEDIA ELEMENT FLOATS AND CAPTION/CREDITS */

.media-float_image_left,
.media-float_left_colorbox
{
width: 50%;
float: left;
clear: both;
margin-right: 20px;
}

.media-float_image_right,
.media-float_right_colorbox
{
width: 50%;
clear: both;
float: right;
margin-left: 20px;
}

/* FYI Key topics customheader */

.view-fyi-custom-topics
.view-header img {
 margin-bottom: 20px; 
}


/* AIP home PAGE REDESIGN FOR 2016 */

.mission {
padding: 10px 20px 10px 20px;	
}

.home-menu {
padding-top: 10px;	
}

#top-story {
width: 854px;
height: 467px; 
}

.field-name-field-top-story-text {
width: auto;
position: absolute;
left: 10px;
bottom: 15px;
background: url('/sites/default/files/aipcorp/images/sitewide/trans-bg-new.png');
background-repeat: repeat-x;
}

#publishing, #ptol, #programs {
width: 31%;	
}

.owl-item .field-name-body {
height: 50px;
}

div.spot-programs-blurb h2 {
margin-top: 10px;
margin-bottom: 10px;
font-size: 24px;
}

.memsoc-logos-across {
margin: 20px auto 20px auto;
}

.memsoc-logos-across h2 {
border-bottom: 1px dotted #333;
padding-bottom: 5px;
}


/* MEMSOC LOGOS */

.memsoc-logos-across p {
float: left;
margin-right: 15px;
width: 100px;
text-align: center;
}

.memsoc-logos-across img {

}


/* sci award winners view */

.view-science-communication-award-winners
.ds-2col .group-right {
width: 75% !important;
}

/* stats rework */

.node-type-focuson-abstract 
.region-content-inner,
.node-type-statistics-graphic
.region-content-inner
{
padding-left: 35px;
padding-right: 35px;
}

/* STAFF VIEWS */

.view-aip-leadership
.ds-2col .group-left,
.view-government-relations-staff
.ds-2col .group-left
{
width: 170px !important; 
margin-right:  0px;
}

.view-aip-leadership
.ds-2col .group-right,
.view-government-relations-staff
.ds-2col .group-right
{
width: 63% !important; 
}

/* teaching guidez */

.view-history-teaching-guide-view
.group-right,
.view-materials-for-teachers-and-students
.group-right,
.page-taxonomy
.ds-2col-stacked-fluid
.group-right
{
width: 70%; 
float: left;
}

/* home page ctas */

#cta-left {
width: 48%; 
float: left;
margin: 0px 40px 30px 0px;
height: 125px;
}
 
#cta-right {
width: 48%;  
float: left;
height: 125px;
} 