@charset "utf-8";
/* CSS Document */

.faculty-content h1, .faculty-content h2, .faculty-content h3, .faculty-content h4, .faculty-content h6 span, .breadcrumb h2, .breadcrumb h3, .breadcrumb h4, .faculty-nav-heading, .event-item h3, .social-rss h6 span, .breadcrumb h6 span {color:#666666;}
.faculty-content .h1-style, .faculty-content .h2-style, .faculty-content .h3-style, .faculty-content .h4-style, .faculty-content .h6-style span, .breadcrumb .h2-style, .breadcrumb .h3-style, .breadcrumb .h4-style, .faculty-nav-heading, .event-item .h3-style, .social-rss .h6-style span, .breadcrumb .h6-style span {color:#666666;}
.faculty-content a, .faculty-content samp a {color:#1F00FF;}
.theme-color-background, .faculty-top-copy, .faculty-resource-copy, .event-item h4, .faculty-top h3, .faculty-pagination-active, .quicklinks-news-article h3, .news-article-nav h4, .news-image h3 {background:#1864a3 !important;}
.faculty-top-copy, .faculty-resource-copy, .event-item .h4-style, .faculty-top .h3-style, .quicklinks-news-article .h3-style, .news-article-nav .h4-style, .news-image .h3-style {background:#1864a3 !important;}
.faculty-image-container h4, .faculty-news-article .faculty-image-container h4 {background:#1864a3; color:#FFFFFF !important;margin-top: 0px !important;}
.faculty-image-container .h4-style, .faculty-news-article .faculty-image-container .h4-style {background:#1864a3; color:#FFFFFF !important;margin-top: 0px !important;}
.faculty-nav-heading {color:#1864a3 !important;}
.button {padding:5px; color:#FFFFFF !important; background:#1864a3 !important; font-family: 'open_sanssemibold_italic' !important; margin:15px 0px 0px 0px !important; font-size:13px !important;}
.rotator-content h2, .rotator-content .h2-style {background:rgba(0, 91, 171, 0.8);}
#faculty-slider .rotator-nav .rotator-nav-button-active {background:#1864a3;}
.theme-color-foreground,.download_links a{color:#1864a3 !important;}
.find-out-more-btn{background:#1864a3;}
.faculty-nav li a:hover{color: #1864a3 !important;}
.faculty-nav-active > a{color: #1864a3 !important;}

.table-striped a {	color: #1864a3; }
.table-striped th {
    color: #b4975b;
    border-top: 5px solid #1864a3;
    border-bottom: 1px solid #dfdace;
}