.top-menu > li > a{color: #fff;}
.top-menu > li:hover > a{color:#005bab;}
.main-sub-nav a{color: #333333;}
.main-sub-nav li:hover > a{color: #005bab;}
.top-nav a:hover > li{color: #005bab;}
.pink-button:hover {background-color: #a80720 !important; cursor: pointer;}
.info-button:hover {background-color: #5a88c6; cursor: pointer;}
.bottom-news h4:hover, .bottom-news .h4-style:hover{cursor: pointer; background-color: #fff; color: #1864a3 !important;}
.news-article-nav a {color: #005bab;}
/*transition-delay: 2s;
-webkit-transition-delay: 2s;*/

/*.faculty-content h4:hover {color: #005bab !important;}*/

/* Rory's frontend styling */
.twothirds {
    max-width: 780px;
    margin-top: 30px;
    /*width: 100%;*/
}
a.edit_icon{margin-left: 5px;}

.generic-content {
    font-family: 'open_sansregular';
    line-height: 22px;
    color: #666666;
    font-size: 14px;
    margin-bottom: 15px;
}
.generic-content h2, .generic-content .h2-style {
    color: #c48b3b;
    font-size: 30px;
    font-family: 'open_sanslight';
    margin-top: 7px;
    margin-bottom: 20px;
}
.generic-content h3, .generic-content .h3-syle {
    color: #c48b3b;
    font-size: 19px;
    font-family: 'open_sanslight';
    margin: 17px 0px 10px 0px;
}
.generic-content h3.generic-blurb, .generic-content .h3-style.generic-blurb {
    font-family: 'open_sansregular';
    line-height: 22px;
    font-size: 14px;
    border-radius: 5px 0 5px 0;
    padding: 10px;
    color: #444;
    background-color: #eee !important;
    text-align: justify;
    margin: 10px 0;
}
.generic-content p {
    font-family: 'open_sansregular';
    line-height: 22px;
    color: #666666;
    font-size: 14px;
    margin-bottom: 15px;
}

.generic-content strong {
    font-family: 'open_sanssemibold';
}

.frontend-pagination-nav {
    color: #b4975b;
    font-size: 13px;
    font-family: 'open_sanssemibold_italic';
    padding-bottom: 12px;
    display: table;
    width:100%;
}
.frontend-pagination-nav span.prev,
.frontend-pagination-nav a.prev {
    display: table-cell;
    text-align: left;
}
.frontend-pagination-nav span.next,
.frontend-pagination-nav a.next {
    display: table-cell;
    text-align: right;
}
.frontend-pagination-nav span.pages {
    text-align: center;
    display: table-cell;
}
.frontend-pagination-nav span.off {
    visibility: hidden;
}
.frontend-pagination-nav a {
    color: #005bab;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0px 0px 0px;
    z-index: 99;
    font-family: 'open_sanssemibold_italic';
}
form.frontend-form {
    /*display: table;*/
    width: 100%;
    padding-bottom: 10px;
}

form.frontend-form fieldset {
    position: relative;
}
form.frontend-form legend {
    color: #c48b3b;
    font-size: 19px;
    font-family: 'open_sanslight';
    padding: 17px 0px 10px 0px;
    position: relative;
}
form.frontend-form .form-field {
    padding-bottom: 5px;
    line-height: 36px;
}
.form-field {
    display: table;
    width: 96%;
}
form.frontend-form .form-field div.form-col {
    display: table-cell;
    width: 60%;
    position: relative;
}
form.frontend-form .form-field div.form-col:first-child {
    width: 40%;
    vertical-align: top;
}
form.frontend-form .form-field div.form-col.inset {
    background: #f9f2e2;
    padding: 1em;
}
form.frontend-form label {
    color: #666666;
    font-family: 'open_sansregular';
    line-height: 40px;
    font-size: 14px;
}

form.frontend-form label.required:after {
    content: "*";
}

form.frontend-form i.footnote {
    color: #666;
    font-family: 'open_sansregular';
    font-size:13px;
    font-style: italic;
}

form.frontend-form i.footnote b {
    font-style:normal;
    font-size: 14px;
}

form.frontend-form input,
form.frontend-form select,
form.frontend-form textarea {
    background: #fff;
    font-family: 'open_sansregular';
    display:block;
    font-size: 13px;
    padding: 8px;
    color: #666666;
    width: 100%;
    border: 3px solid #eee7d9;
    resize: none;
}

form.frontend-form textarea {
    height: 100px;
}

form.frontend-form button {
    background: #eee7d9;
    padding: 10px 13px 10px 13px !important;
    font-size: 13px !important;
    color: #666 !important;
    margin: 0px 15px 15px 0px !important;
    cursor: pointer;
}

form.frontend-form .form-field div.form-col.add-attendee a.remove {
    width: 18px;
    height: 18px;
    position: absolute;
    right: -13px;
    top: 11px;
    display: block;
    background: url(../img/del.png) no-repeat top left;
    color: red;
    cursor: pointer;
}

form.frontend-form .form-field div.form-col.add-attendee a.remove:hover {
    background-position: bottom left;
}

form.frontend-form button[type="submit"] {
    background: #005bab;
    padding: 10px 13px 10px 13px !important;
    font-size: 13px !important;
    color: #FFFFFF !important;
    margin: 0px 15px 15px 0px !important;
    cursor: pointer;
    border: 0px !important;

    font-family: 'open_sanssemibold';
}

form.frontend-form .invalid-side-note {
    color: #F63131;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    display: none;
}
form.frontend-form .form-col {width: 33% !important;}
form.frontend-form fieldset.collapser div.expander {
    display: none;
}

form.frontend-form fieldset.collapser legend.expander-action {
    cursor: pointer;
}

form.frontend-form fieldset.collapser legend.expander-action:after {
    content: " ";
    display:block;
    background: url(../img/open-arrow.jpg) no-repeat top left;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
    right: -30px;
}
form.frontend-form fieldset.collapser legend.expander-action.open:after {
    background: url(../img/close-arrow.jpg) no-repeat top left;
}

a.zp-captcha-img-regen {
    background: url(../img/regen.png) no-repeat center left;
    padding-left: 20px;
    font-family: 'open_sanssemibold';
    color: #005bab;
}

img.zp-captcha-img {
    padding: 1px;
    border: 3px solid #eee7d9;
    /*    width: 200px;
        height: 70px;*/
    background: #fff;
}

form.frontend-form .form-field div.form-col.inset input,
form.frontend-form .form-field div.form-col.inset select,
form.frontend-form .form-field div.form-col.inset textarea {
    background: #fff;
    width: 60%;
    min-width: 200px;
}
form.frontend-form .form-field div.form-col.inset img.zp-captcha-img {
    border: 3px solid #eee7d9;
}

li a.download {
    position: relative;
    display: block;
    border: 3px solid #eee7d9;
    padding: 5px 10px;
    padding-left: 40px;
    margin-bottom: 10px;
    color: #005bab;
    font-size: 19px;
    font-family: 'open_sanslight';
}
li a.download h3, li a.download .h3-style {
    color: #005bab;
    margin: 0;
    line-height: 30px;
}
li a.download p {
    font-family: 'open_sansregular';
    line-height: 20px;
    color: #666666;
    font-size: 12px;
    margin-bottom: 15px;
}
li a.download span.filesize {
    font-size: 12px;
    color: #666;
}
a.download-document {
    background: url(../img/extra/document.png) no-repeat 5px 5px;
}
a.download-picture {
    background: url(../img/extra/picture.png) no-repeat 5px 5px;
}

.generic-social {
    margin-bottom: 130px;
    margin-top: 10px;
}
.generic-social h5, .generic-social .h5-style {
    font-size: 12px;
    color: #444444;
}

.rss_img{
    vertical-align: bottom;
}
.collapse-faculty-nav{
    cursor: pointer;
}
/*GALLERY*/
.gallery-item {border-bottom:1px solid #dfdace; overflow:auto;}
.gallery-item h5, .gallery-item .h5-style {width:60px; padding:8px 0px 8px 0px !important; text-align:center; color:#666666; font-size:13px; border-bottom:1px solid #dfdace; border-left:1px solid #dfdace; border-right:1px solid #dfdace; display:inline-block; margin:0px 0px 12px 0px; background:#FFFFFF;}
.gallery-item h4, .gallery-item .h4-style {width:60px; padding:8px 0px 8px 0px !important; margin:10px 0px 0px 0px; text-align:center; color:#FFFFFF; font-size:13px; padding:5px; background:#005bab;}
.gallery-text {width:80%;}
.gallery-item h3, .gallery-item .h3-style {line-height:14px; color:#005bab; font-size:14px; margin: 0 0 0 100px; padding:1px 0px;}
.gallery-text h6, .gallery-text .h6-style {font-size:11px; color:#888888; margin:0px 0px 0px 25px; line-height:22px;}

.gallery-item h3 a, .gallery-item .h3-style a{font-size: 14px;}
.gallery-item a:hover h3, .gallery-item a:hover .h3-style{color: #e10729;}

.gallery-list {padding-top:20px; padding-bottom:80px;}
.gallery-list .gallery-item {padding-bottom:10px;  padding-top:10px;}
.gallery-list h4, .gallery-list .h4-style {color:#FFFFFF !important;}
.gallery-list h3, .gallery-list .h3-style {font-family: 'open_sanssemibold';}
.gallery-list h6, .gallery-list .h6-style {font-family: 'open_sanssemibold'; color:#888888; font-size:12px; margin-left: 100px}
.gallery-list .gallery-text {width:100%; padding-top: 4px;}

.nav-override li a, .nav-override li a:hover {
    color: #797878;
}

.nav-override li.faculty-nav-active a, .nav-override li.faculty-nav-active a:hover {
    color: #555555 !important;
}

.breadcrumb a, .breadcrumb a:hover {
    color: #777777;
}
.constant-container h5 a, .constant-container .h5-style a{color: #444444;}
.constant-container h5 a:hover, .constant-container .h5-style a:hover{color: #1864a3;}

.event-text a {
    color: #005bab;
}
/*
* Landing page overrides
*/
.faculty-resource-copy h6, .faculty-resource-copy .h6-style {
    display: block;
}
.openmore {cursor: pointer; padding-top:10px;}
.zp-block-menublock li {cursor: pointer}
.zp-block-menublock li:last-child{border-bottom: none;}
.loader{
    background: url(../img/loading_animation.gif) no-repeat top center;
    display: table;
    height: 280px;
    width: 100%;
}
.faculty-pageInner{
    display: table;
    margin: auto;
}
.faculty-pagination p{
    padding: 0px 0px 1px 0px;
    cursor: pointer;
    line-height: 20px;
}
.noresults{
    clear: both;
    font-family: 'open_sansregular';
    line-height: 22px;
    color: #666666;
    font-size: 14px;
    text-align: center;
    padding: 15px 0px 15px 0px;
}
.groupfilter h4, .groupfilter .h4-style{
    cursor: pointer;
}
.groupfilter h4:hover, .groupfilter .h4-style:hover{
    color: #1864a3 !important;
}
.search input{padding: 2px 5px 2px 5px;}
.search input[type="button"]{cursor: pointer;}
.search input[type="button"]:hover{color: #1864a3;}
.zp_pager_links{float:right;}
.whatshappening .zp_pager_links{float:right; margin-top: 5px;}
.zp_pager_links li {border: none !important;}
.whatshappening .zp_pager_links li {border: none !important; padding: 5px; font-size: 12px; float: left;font-family: 'open_sansregular';}
.zp_pager_links a{color: #c48b3b !important;}
.zp_pager_links li:hover a{color: #fff !important;}
.whatshappening .zp_pager_links li:hover a{color: #2271b6 !important;}
.zp_pager_links li:hover{border: none !important;}
.zp_pager_results{float:left; font-family: 'open_sansregular'; font-size: 12px; color: #c48b3b; line-height: 28px; margin-bottom: 10px;}
.pagination li.active {background: #2271b6;}
.pagination li.active a{color: #fff !important;}
.whatshappening .pagination li.active a:hover{color: #fff !important;}
.whatshappening .pagination li.active:hover{color: #fff !important;}
.search img{cursor: pointer;}
#quicklinks a{color: #808080;}
.footer-link a{color: #ccc;}
.footer-link a:hover{color: #5a88c6;}
/*news pages extras*/
.cream-bottom-border{
    width: 100%;
    border-bottom: 1px solid #e0dbd0;
    font-size: 12px;
    padding: 10px 0 10px 0;
    margin-bottom: 5px;
}
.download_links{ 
    font-style: italic;
    font-size: 12px;
    line-height: 20px;
}
.events, .research-news, .videos{
    padding: 0 0 15px 0;
}
.og-expander-inner{
    padding: 30px 30px;
}
.og-fullimg, .og-details{
    width: 40%;
}
.enquiry.notification{padding: 16px 10px;}
.constant-container .error{
    float: left;
    width: 100%;
    padding: 30px 0;
}
.constant-container .error img{
    padding-right: 15px;
}
.slider p, .slider-small p{
    height: auto;
}
.dropdown-top-subnav a{
    color: #777;
}
.nosearch{
    padding-top: 10px;
    text-align: center;
}
.news-search-results ul{
    margin-top: 0;
}
.resultsSelector{
    float: right;
    color: #1864a3;
    font-size: 19px;
    font-family: 'open_sanslight';
    line-height: 45px;
}
.resultsSelector label{
    font-size: 14px;
    margin-left: 5px;
    margin: 0 2px 0 5px;
}
.resultsSelector span{
    margin-right: 7px;
}
.resultsSelector input{
    vertical-align: middle;
}
.openclose{
    cursor: pointer;
}

.zp-printable {
    float: none;
    width: 100%;
    margin: 0;
    height: auto;
}
@page { sheet-size: A4; }
.search input::-webkit-input-placeholder {color:#FFF;} 
.search input:-moz-placeholder {color:#FFF; opacity:1;}
.search input::-moz-placeholder {color:#FFF; opacity:1;}
.search input:-ms-input-placeholder {color:#FFF;}
.footer img{width: 32px;}
.findmore{cursor: pointer;}
.dropdown-top-subnav{
    z-index: 999;
}
.quote-box{
    margin-bottom: 15px;
}
.faculty-column a img{
/*    margin: 6px 0px 0px 10px;*/    
    margin: 0px 0px 0px 0px;
}
#zp_siteProgrammes_index h1{
    /*font-size: 18px;
    color: #c48b3b;
    margin-top: 8px;
    margin-bottom: 5px;*/
}
#zp_siteProgrammes_index .search{
    /*width: 202px;*/
}
.staff-block-copy{
    width: 190px;
}
.staff-block-copy h5, .staff-block-copy .h5-style{
    line-height: 14px;
}
.searchgroup, .find-out-more-btn{
    cursor: pointer;
}
.redback{
    background-color: #e10729 !important;
}
.redfont{
    color: #e10729 !important;
}
.faculty-nav li a{
    color: #444;
}
.faculty-nav li a:hover{
    color: #5a88c6;
}

.faculty-content{
    line-height: 24px;
}
.gallery-block{
    min-height: 435px;
    margin-right: 3%;
}
.faculty-content table td img{
    vertical-align: top;
    margin-right: 10px;
}
.faculty-content h1, .faculty-content h2, .faculty-content .h1-style, .faculty-content .h2-style{
    line-height: 32px;
}
.faculty-content img{
    display: block;
}
.faculty-content li img{
    display: inline;
}
#aca_resources ul{
    margin-left: 0;
}
#aca_resources li{
    list-style: none;
}
#aca_resources h3, #aca_resources .h3-stle{
    margin-top: 14px;
}
ul.nav-tabs{
    margin-left: 0;
}
ul.nav-tabs li{
    list-style: none !important;
}
