@charset "utf-8";
/* CSS Document */

.rotator {
	width:100%;
	height:100%;
	position:relative;
}

.rotator-bg-container {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	z-index:1 !important;
}

#faculty-slider .rotator-bg-container {
display: none;
}

.rotator-content-container {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	z-index:3;
}

.z-up {
	z-index:4 !important;
}

.rotator-background {
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
	position:absolute;
	z-index:1;
}

.rotator-content, .rotator-content-2 {
	width:100%;
	margin:0 auto;
	height:100%;
	position:absolute;
	text-align:center;
}

.rotator-transitions {
	-webkit-transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	transition: all 1.2s ease;
}

.rotator-transitions2 {
	-webkit-transition: all 1.8s ease;
	-moz-transition: all 1.8s ease;
	-ms-transition: all 1.8s ease;
	-o-transition: all 1.8s ease;
	transition: all 1.8s ease;
}

.rotator-content img, .rotator-content-2 img {
    width: 100%;
    height: 100%;
}

.social_scroller_share{
    width: 15px !important;
    height: 15px  !important;
}

.slide-placeholder {
	display:none;
}

.rotator-nav {
	position:absolute;
	bottom:-5px;
	z-index:100;
	height:25px;
	/*right:50%;*/
	/*margin-right:-588px;*/
	right: 150px;
}

.rotator-nav-button {
	background:#c48b3b;
	height:5px;
	width:30px;
	float:left;
	cursor:pointer;
	margin:2px;
}

.rotator-nav-button-active {
	background:#e10729;
}

#slide-bg-top {
	left:0%;
	z-index:10;
}

#slide-bg-bot {
	left:0%;
	z-index:9;
}

#slide-content-left, #slide-content-left-2 {
	left:-100%;
}

#slide-content-mid, #slide-content-mid-2 {
	left:0%;
}

#slide-content-right, #slide-content-right-2 {
	left:100%;
}

.arrow {
	position:absolute;
	z-index:15;
	top:50%;
	margin-top:-50px;
	cursor:pointer;
}

.left-arrow {
	left:0px;
}

.right-arrow {
	right:0px;
}
