@charset "utf-8";
/* CSS Document */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
 caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

td{
	vertical-align: top;
}

#lists td { vertical-align:middle;}
#lists strong { margin-right: 0px;}
.aps_score{
	padding: 46px 200px 46px 200px;
	border: 1px solid #ccc;
	margin: 10px 0;
}
.aps_score span{
	font-size: 19px;
}
.aps_restart{
	background: #005bab;
	padding: 10px 13px 10px 13px !important;
	font-size: 13px !important;
	color: #FFFFFF !important;
	margin: 0px 15px 15px 0px !important;
	cursor: pointer;
	border: 0px !important;
	font-family: 'open_sanssemibold';
}
.gallery-block p{
	max-width: 300px;
}

.gallery-block .news-image .h3-style{
	width: 302px;
}
/* sticky news cats */
#sticky_news{
	position: fixed;
	width: 37px;
	height: 100px;
	left: 0px;
	top: 167px;
	z-index: 1000;
	cursor: pointer;
}
#sticky_news .cat_content{
	/*display: none;*/
	width: 170px;
	background-color: #f9f2e3;
	left: -170px;
	top: -2px;
	position: absolute;
	z-index: 1;
	min-height: 101px;
	padding-left: 10px;
	border: 1px solid #005bab;
}
#sticky_news .cat_content li{
	font-size: 13px;
	color: #444;
	line-height: 16px;
	border-bottom: 1px solid #e0dbd0;
	padding: 7px 15px 7px 0px;
	font-family: 'open_sanssemibold';
	position: relative;
	overflow: hidden;
}
#sticky_news .cat_heading img{
	margin: 0px 5px 2px 0px;
}
#sticky_news .cat_heading{
	height: 25px;
	width: 100px;
	text-align: center;
	position: fixed;
	background-color: #005bab;
	color: #FFF;
	font-size: 13px;
	margin: 36px 0px 0px -38px;
	padding: 5px;
	z-index: 2;
	border: 1px solid #005bab;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.faculty-content h4, .faculty-content .h4-style {
    font-family: 'open_sanssemibold';
    color:#969595 !important;
}
.groupfilter h4, .groupfilter .h4-style{
    font-size: 12px;
    border: 1px solid rgb(223, 218, 206);
    padding: 2px 10px;
    margin:10px 0px 0px 0px;
    display:inline-block;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
.contact_us_submit{
	margin: 10px 16px 0 0;
}
.social_scroller{
	font-family: 'open_sanssemibold_italic';
}
.social_scroller img{
	margin:2px 0px -3px 3px;
}
.social_scroller.rss_img, .social_scroller.find_out_more{
	border-right: 1px dashed #98989a;
	margin: 0 5px 0 5px;
	padding-right: 8px;
}
.social_scroller.find_out_more{
	color: #005bab !important;
}

.author{
	font-family: 'open_sanssemibold_italic';
	color: #444444 !important;
	font-size: 13px;
}
/* site index */
.site_index .wrapper{
	width: 50%;
	float: left;
	margin-top: 20px;
}
.site_index .wrapper .heading.category{
	width: 25%;
	float: right;
}
.site_index .wrapper .heading{
	float: left;
	width: 44%;
	font-size: 13px;
	font-family: 'open_sanssemibold';
	color: #1864a3;
	margin: 10px 0 10px 0;
}
.site_index .wrapper .heading span{
	font-family: 'open_sanssemibold_italic';
}
.site_index .wrapper .programme-search.category{
	width: 50%;
	float: right;
}
.site_index .wrapper .programme-search{
	margin:0;
	width: 55%;
	float: left;
}
.programme-search.category select{
	height: 100%;
	width: 100%;
	font-family: 'open_sanssemibold_italic';
	color: #959090;
	background: none;
}
.siteindex_blox.heading{
	background-color: #666666;
	padding-top: 4px;
	border-left: 3px solid #fff;
	border-right: 3px solid #fff;
	margin-left: -3px;
}
.siteindex_blox.data{
	border-left: 3px solid #fff;
	border-right: 3px solid #fff;
	margin-left: -3px;
}
.sitesTable .row div:nth-child(2){
	border-left: 3px solid #fff;
	border-right: 0px solid #fff;
	margin-left: -3px;
}
.siteindex_blox.heading h3, .siteindex_blox.heading .h3-style, .siteindex_blox.heading p{
	font-size: 12px;
	color: #fff;
	font-family: 'open_sanssemibold';
}
.sitesTable {
	margin-top: 10px;
}
.siteindex_blox {
	width: 50%;
	float: left;
	padding: 4px 10px;
}

.siteindex_blox h3,.siteindex_blox .h3-style, .siteindex_blox h3 a, .siteindex_blox .h3-style a  {
	font-size: 13px;
	font-family: 'open_sanssemibold';
	margin: 0px;
	color: #005bab;
	width: 69%;
	float: left;
	line-height: 25px;
}
.siteindex_blox p {
	color: #566470;
	font-size: 13px;
	line-height: 21px;
	font-family: 'open_sanssemibold';
	float: left;
	margin-top: 3px;
}
/* site index */

/* infinite scroller */
.infinite-loader{
    text-align: center;
    margin: 20px 0;
}
/* infinite scroller */

/* search */
.search_no_content{
	width: 100%;
	height: 70px;
	padding-top: 30px;
	color: #888;
	font-size: 15px;
	font-family: 'open_sanslight';
	font-style: oblique;
}
/* search */

#jPlay_wrapper{
    position: absolute !important;
    display: block;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black;
}
.mfp-inline-holder{
    padding-top: 40px;
    padding-bottom: 40px;
}
.mfp-inline-holder .mfp-close{
    color: white;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}
.mfp-inline-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}
.mfp-inline-holder .mfp-close {
    top: -40px;
}

/*popup content*/
.variable-content, vc-footer{
	cursor: pointer;
}
.vc-footer a{
	color: #b8b7b7 !important;
}

.vc-footer a:hover{
	color: #5a88c6 !important;
}

.variable-content-title{
	color: #005bab;
	font-size: 20px;
	font-family: 'open_sanslight';
	line-height: 28px;
	margin-bottom: 5px;
}
.variable-content-content, .variable-findus-content, .variable-findus-address .address{
	color: #444;
    font-size: 13px;
	font-family: 'open_sansregular';
	line-height: 23px;
}
.variable-findus-header, .variable-findus-address, .variable-findus-numbers{
	height: 40px;
	width: 100%;
	margin-bottom:10px;
}
.variable-findus-header .header{
	height: 40px;
	width: 100%;
	color: #005bab;
	font-size: 32px;
	font-family: 'open_sanslight';
	line-height: 28px;
}
.variable-findus-header .askus{
	color: #005bab;
	font-size: 22px;
	font-family: 'open_sanslight';
	text-align: right;
	margin-right: 22px;
}
.variable-findus-header .askus span{
	font-size: 16px;
}
.variable-findus-content{
	width: 50%;
	float: left;
}
.variable-findus-map{
	width: 50%;
	height: 300px;
}
.variable-findus-address .headertitle{
	margin-top: 10px;
	color: #005bab;
	font-size: 22px;
	font-family: 'open_sanslight';
	margin-right: 22px;
}
.variable-findus-numbers ul li{
	width: 50%;
	float: left;
	font-size: 13px;
	font-family: 'open_sanssemibold' !important;
}

.variable-findus-numbers .subheadertitle li{
	font-family: 'open_sanssemibold';
	color: #1864a3;
	font-size: 14px;
}

/*popup content*/

/*Key Calendars*/
.key-dates p{
	float: left;
	width: 230px;
	min-height: 2px;
}
.key-dates .full{
	float: left;
	width: 100% !important;
	min-height: 41px;
	padding-top: 10px;
}
.key-dates h2, .key-dates .h2-style{
	margin: 0px 0px 4px 0px !important;
}
.key-dates p:nth-child(even){
	width: 62px;
	margin-right: 0px;
	margin-bottom: 2px;
}
.keydatesTable{
    margin: 0px 0 20px 0;
}
.keydatesTable .month, .keydatesTable .day, .keydatesTable .event{
    display: table;
    width: 100%;
    height: 35px;
    clear: both;
    color: #444;
    font-size: 13px;
    font-family: 'open_sanslight';
    font-weight: bold;
}
.keydatesTable .event ul:nth-child(even){
    border: none !important;
}
.keydatesTable .month{
    font-size: 15px;
    margin: 20px 0 0 0;
    border-bottom:1px solid #e0dbd0;
}
.keydatesTable .month li{
    border:none !important;
    color: #1864a3;
    font-family: 'open_sanssemibold';
}
.keydatesTable .day li{
	color: #1864a3;
    display: table-cell;
    width: 30%;
    height: 14px;
    border-bottom: 1px solid #e0dbd0;
    border-left: 1px solid #e0dbd0;
    border-right: 1px solid #e0dbd0;
    padding: 10px;
    vertical-align: top;
}
.keydatesTable .event li:nth-child(2){
    width: 74px;
    color: #444 !important;
}

.keydatesTable .event li{
	color: #b4975b;
    display: table-cell;
    width: 70%;
    height: 14px;
    border-left: none;
    border-right: 1px solid #e0dbd0;
    padding: 10px;
}
#search_delete, #search_icon{
	cursor:pointer;
}
a .margin-top-7{
    margin-top: 5px !important;
}
.search_title, .search_title span{
	color: #666666;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 13px;
    font-family: 'open_sanslight';
    font-style: oblique;
}
.search_title span{
	color: #888;
	font-size:15px;
}
/*Key Calendars*/

/* error */
.error h1, .error .h1-style{
	margin-top: 30px !important;
	font-size: 70px !important;
}
.error h3, .error .h3-style{
	margin-top: 65px !important;
}
.error .blue-button{
	margin-top: 10px !important;
}
/* error */


/* Polls */
.faculty-nav-block h3, .faculty-nav-block .h3-style {font-size:13px; font-family: 'open_sanssemibold_italic'; color:#555555; padding:10px; background:#e6e0d3;}
.faculty-nav-block h3 span, .faculty-nav-block .h3-style span {color:#e10729;}
.faculty-nav-block li span {float:right;}
.faculty-nav-block .poll-heading {float:left; margin-top:-2px; width:20%;}
.poll {height:15px; background:#e6e0d3; border-radius:10px 10px 10px 10px; overflow:hidden; width:65%; display:inline-block; margin:0px 0px 0px 10px;}
.poll-stat {width:0%; background:#e10729; border-radius:10px 10px 10px 10px; height:100%; -webkit-transition: all 0.4s ease-in; -moz-transition: all 0.4s ease-in; -ms-transition: all 0.4s ease-in; -o-transition: all 0.4s ease-in; transition: all 0.4s ease-in;}
/* Polls */

.staff-block {background:#f9f2e2; border: #f3e3c2 1px solid; float:left; width:49%; margin:20px 5px 0px 0px; padding-right:20px; -moz-box-sizing: border-box; box-sizing: border-box;}
.staff-block img {margin-right:20px; display:inline-block; float:left;}
.staff-block h3, .staff-block h5,.staff-block .h3-style, .staff-block .h5-style, .staff-block a {color:#555555 !important; display:block; margin:8px 0px 8px 0px; padding:0px;}
.staff-block h3, .staff-block .h3-style {margin-top:20px;}
.staff-block .staff-block-copy {overflow:auto; display:inline-block; float:left;}
.staff-block:nth-child(odd) {/*float:right;*/}
.staff-block:last-child {margin-bottom:80px;}
.staff-block .find-out-more-btn {font-family: 'open_sanssemibold_italic';padding:8px; clear:both; display:inline-block; color:#1864a3 !important;background: none !important;}
.staff-block-copy h3, .staff-block-copy .h3-style{
	font-size:17px !important;
}
.staff-block-copy a{
	font-size:12px !important;
}
.staff-block-copy p{
	text-align: left !important;
}
.staff-block-copy ul{
margin-left: 10px !important;
border-bottom: 1px solid #e2dbca;
}
.staff-block-copy ul li{
	font-family: 'open_sanssemibold' !important;
	font-size: 13px !important;
}
.staff-block-copy ul li span{
	color: #005b63;
	padding-right: 10px;
}
.profile h4, .profile .h4-style {color:#222222 !important; font-size:18px; border:none; font-family: 'open_sansregular'; padding:0px; margin:15px 0px 20px 0px;}
.profile h3, .profile .h3-style {margin:-10px 0px 20px 0px;}
.profile p {margin-bottom:40px;}
.profile ul {margin:0px; margin-bottom:40px;}
.profile li {color:#444 !important; font-size:13px;}
.profile .staff-block {width:100%; margin:0px 0px 40px 0px; padding:40px;}
.profile .staff-block .staff-block-copy {width:75%;}
.profile .staff-block .staff-block-copy a {display:inline-block; color:#aa0202 !important; margin:0px;}
.profile .staff-block p {margin:0px 0px 5px 0px; border-bottom:1px solid #e2dbca; padding-bottom:5px; font-family: 'open_sanssemibold'; font-size:13px;}
.profile .staff-block p span {color:#005b63; font-size: 13px !important;padding-right: 10px;}


/* FAQ */
.faq-block {/*border-bottom:1px solid #dfdace;*/  padding:20px 0px 26px 0px; max-height:10px; font-family: 'open_sansregular'; overflow:hidden;}

faq-block h5-style{
    border: 1px solid #ccc;
padding: 0px 5px 25px 0px;
max-height: 10px;
font-family: 'open_sansregular';
overflow: hidden;
background-color: #F8F8F8;
margin-bottom: 10px;
}
.faq-block:last-child {margin-bottom:100px;}
.faq-block h5, .faq-block .h5-style {cursor: pointer; border:solid 1px #ccc; background-color: #E6E6E6; margin:0px; padding:0px; font-size:14px !important; /*color:#1864a3 !important;*/ margin-bottom:20px; margin-top:0px !important;}
.faq-block .h5-style {

/*background-image: url(/themes/up/img/programmes/bullet_icon.jpg);
background-repeat: no-repeat;
background-position: 0px;*/
padding-left: 10px;
}
.faq-block h5 span, .faq-block .h5-style span {color:#333333;}
.faq-block p {padding-left:20px; margin:0px;}
.faq-block p span {color:#333333;}
.faq-block .openclose {float: right;
font-size: 10px;
margin-top: -3px;
color: #444;
color: #b40838 !important;
padding-right: 10px;
padding-top: 5px;}


.faq-block-open .h5-style { background-color: #1864a3 !important; color: #fff !important;}
.faq-block-open .openclose { color: #fff !important;}
.faq-block-open {max-height:none;}
.faq h4, .faq .h4-style {margin:20px 10px 10px 0px !important; margin-bottom:20px !important; cursor: pointer;}
.faq > h5, .faq > .h5-style  {color:#005bab !important; /*margin-top:30px !important; margin-bottom:20px;*/ font-family: 'open_sanssemibold_italic';}
.faq > h5 img, .faq > .h5-style img {float:right; border:1px solid #666; margin:-7px 0px 0px 5px;}
/* FAQ */


body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
        width: 100% !important;
}

html, body {
	width:100%;
	height:100%;
	font-family: 'open_sanssemibold';
        background: #fff !important;
}

a {text-decoration:none;}
/* Nav */

.header {height:165px;}  /* New */

.top-nav-container {
	position:relative;
	z-index:999;
	top:0px;
	height:35px;
	width:100%;
	border-bottom:1px solid #e3e0e0;
	background:#FFFFFF;
}

.top-nav-container li {
	float:left;
	color:#5C5B5B;
	font-size:12px;
	margin:11px 14px 0px 0px;
}
.top-nav-container li:hover{
	color:#5a88c6 !important;
}
.nav-container-border {display:none;}
.top-nav {width:100%; height:47px;}
.top-nav ul {max-width:1170px; width:100%;	margin:0 auto;}
.top-nav li img {margin-top:-2px;}

.collapse-nav-heading {font-size:18px !important; color:#343434; font-family: 'open_sanslight'; border-bottom:1px solid #cdcdcd; padding:0px 0px 10px 0px; width:85%;}

.dropdown-top {
	margin:4px 3px 0px 0px;
	height:26px;
	width:160px;
	border:1px solid #808080;
	position:relative;
	cursor:pointer;
} /* New */

.small-btns {width:26px;}

.dropdown-top img {
	/*margin:10px;*/
}

.dropdown-top-subnav {
	position:absolute;
	top:24px;
	left:-1px;
	border:1px solid #808080;
	border-bottom:5px solid #B61A05;
	background:#FFFFFF;
	padding:5px 0px 5px 0px;
	min-width:160px;
	display:none;
}

.dropdown-top-subnav li {padding:5px 0px 5px 10px; margin:0px; width:100%;}
.dropdown-top-subnav li:hover {background:#f9f2e3; cursor:pointer;}

.topnav-icon {margin:0px !important;}

.dropdown-top p {
	font-size:12px;
	color:#777777;
	margin:5px 0px 5px 10px;
}

.menu-icon {background:#5a88c6; display:none; width:27px; height:26px;}
.menu-icon img {margin:5px;}

.search {
	background:#5a88c6;
	height:26px;
	margin:4px 0px 0px 0px;
	width:175px; /* New */
}

.programme-search-area .search {
	height:32px;
}

.programme-search-area .search img
{
    height: 32px;
}

.programme-search-area .search input {
	margin:4px 2px 2px 7px;
	background:none;
	border:none;
	font-size:12px;
	color:#FFFFFF;
	width:305px !important;
        height: 24px;
}

.search input {
	margin:4px 2px 2px 7px;
	background:none;
	border:none;
	font-size:12px;
	color:#FFFFFF;
	width:110px;
}

.search img {padding:5px; background:#e10729;}
.main-nav {width:100%; background:#005bab; height:37px; position:absolute; top:130px;} /* New */
.main-nav ul {max-width:1170px; width:100%;	margin:0 auto;}
.main-nav > ul > li > a {color:#FFFFFF;}
.logo {margin:9px 0px 19px 0px; width:270px;} /* New */
.social {margin:25px 0px 0px 0px;} /* New */
.social img {margin:0px 0px 0px 7px;}

.main-nav li {float:left; color:#FFFFFF; font-size:12px; margin:0px 0px 0px 0px; padding:10px 10px 17px 11px; cursor:pointer;} /* New */
.main-nav li:nth-child(2) {margin-left: -0.5rem; margin-right: 5px;}
.main-nav li:last-child {margin-right:-15px;}

.main-nav-first {margin-left:-15px !important;}
.main-nav li:hover {background:#f9f2e3; color:#5a88c6 !important;}
.main-nav li:hover > a  {background:#f9f2e3; color:#5a88c6 !important;}


.main-sub-nav {width:1200px; position:absolute; background:#f9f2e3; z-index:9999; height:0px; overflow:hidden; top:37px; left:50%; margin-left:-600px; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in;}
.main-sub-nav-border {position:absolute; height:5px; width:100%; bottom:0px; background:#B61A05; z-index:10;}
.main-sub-nav ul {width:100% !important; float:left; margin:28px 0px 15px 30px;}
.main-nav li .main-sub-nav li {color:#333333; font-size:12px; padding:0px 15px 12px 0px; float:none; line-height:15px; float:left; width:31%; margin:0px;}
.main-sub-nav li:hover {background:none !important;}
.sub-nav-heading {font-size:13px; margin:0px 30px 10px 0px !important; border-bottom:1px solid #999; padding:0px 0px 15px 0px !important; width:95% !important;}
.main-sub-nav-quote {width:62%; margin:30px;}
.main-sub-nav-quote-text {width:45%; position:relative;}
.main-sub-nav-quote-text p {color:#444; line-height:22px; font-size:12px; font-family: 'open_sanssemibold_italic'; margin-top:10px;}
.main-sub-nav-quote-text h6, .main-sub-nav-quote-text .h6-style {color:#999999; font-size:11px; font-family: 'open_sanssemibold_italic'; margin:5px 0px 0px 10px; line-height:16px;}
.main-sub-nav-quote-text h5, .main-sub-nav-quote-text .h5-style {color:#e17e36; margin:5px 0px 0px 10px;}
.main-sub-nav-quote-text .quote-right, .main-sub-nav-quote-text .quote-left {width:15px !important;}
.main-sub-nav-quote-text .quote-right {right:0px !important; position:absolute;}
.main-sub-nav-quote img {width:50%;}
.large-sub-ul {width:100% !important; margin:30px 30px 30px 30px !important;}
.sub-nav-no-float li {float:none !important; width:100% !important;}

.main-nav-tier-two {height:100%; position:absolute; right:0px; left:30%; bottom:0px; top:0px; background:#F3F3F3; margin:0px !important; padding:30px 20px 20px 30px; z-index:9; width:auto !important; border-left:10px solid #FFFFFF; display:none;}
.main-nav-tier-two li {width:48%; float:left; width:45%;}
.main-nav-tier-two li:hover {background:none !important;}
/* Nav */


/* Slider */
.slider_text{
	font-family: 'open_sansregular' !important;
	color: #525151 !important;
	font-size: 14px !important;
}
.slider_full .share_buttons{
	margin: 0px 0 -6px 0 !important;
}
.slider_full{
	min-width: 100% !important;
}
.slider {height:350px; border-bottom:1px solid #000000;} /* New */
.slider h2, .slider .h2-style {margin-top:228px; height:55px; display:inline-block; padding:15px; font-size:20px; color:#FFF; font-family: 'open_sanslight'; background:rgba(0, 0, 0, 0.8); font-weight: inherit;} /* New */
.slider p, .slider-small p {font-family: 'open_sansregular';	color:#525151; font-size:14px;
/*background:#FFFFFF;*/
background: rgba(255,255,255,0.91);
 padding:15px; text-align:left; margin-top:283px; height:40px; min-width:80%; line-height:18px; min-height: 66px;} /* New */
.slider p span,  .slider-small p span {font-size:13px;	color:#c48b3b;}
.slider-small p {margin-top: 234px}
.slider-small {max-width:1170px; width:100%; height:300px; margin:0 auto; position:relative;}
.slider-small .rotator-nav {right:25px; margin-right:0px;}
.slider-small .arrow {display:none;}
.slider-small .constant-container {height:100%;}
.slider-small h2, .slider-small .h2-style {position:absolute; margin-top: 191px; left:0px; padding:12px; background:rgba(0, 0, 0, 0.8); color:#FFFFFF; font-family: 'open_sanslight'; font-size:19px; font-weight: inherit;}
/* Slider */

/* Breadcrumb */
.breadcrumb {background:#f9f2e3; padding:15px 0px 15px 0px; float: left; width: 100%;}
.breadcrumb h6, .breadcrumb .h6-style {color:#444; font-size:12px;}
.breadcrumb h6 span, .breadcrumb .h6-style span {color:#444;}
.breadcrumb h4, .breadcrumb .h4-style  {font-family: 'open_sansregular'; font-size:15px; color:#c48b3b; margin-top:5px; font-weight: inherit;}
.breadcrumb h3, .breadcrumb .h3-style {color:#444; font-size:22px; font-family: 'open_sanslight'; text-align:right; margin-top:2px; font-weight: inherit;}
.breadcrumb h2, .breadcrumb .h2-style {color:#444; font-size:32px; font-family: 'open_sanslight'; margin-top:7px; font-weight: inherit;}


.breadcrumb h2 span, .breadcrumb .h2-style span {}
.breadcrumb a:hover{color:#5a88c6 !important;}
.breadcrumb a{color:#444 !important;}
/* Breadcrumb */

/* Faculty */
.faculty-video{ width: 100%;overflow: auto;position: relative;}
.faculty-top {overflow:hidden; height:300px;}
.faculty-top h3, .faculty-top .h3-style {position:absolute; right:0px; bottom:0px; z-index:3; padding:10px; background:#c48b3b; color:#FFFFFF; font-size:18px; font-family: 'open_sanslight';}
.faculty-top img {position:absolute; z-index:1; right:0px;}
.faculty-top-copy {position:relative; z-index:2; background:#c68f41; width:23%; height:100%; width:350px;}
.faculty-top-copy h4, .faculty-top-copy .h4-style {color:#FFFFFF; font-family: 'open_sansregular'; font-size:18px; line-height:25px; margin:32px 42px 0px 42px;}
.faculty-top-copy h5, .faculty-top-copy .h5-style {color:#FFFFFF; margin:15px 45px 0px 45px; font-family: 'open_sansregular'; font-size:15px;}
.faculty-top-copy p {color:#FFFFFF; font-size:13px; margin:5px 45px 0px 60px; max-width:60%; line-height:15px;}
.faculty-nav-subnav {margin-bottom:0px !important; padding-bottom:0px !important; position:absolute;}
.faculty-nav-subnav li {color:#444 !important; border:none !important;}
.faculty-subnav-plus {position:absolute; right:6px; top:5px; margin:0px !important; display:block !important;}

#faculty-slider {width:71%; position:absolute; right:0px; z-index:1; height:100%;}
#faculty-slider .rotator-nav {display:block; margin:0px; left:50px; bottom:0px;}
#faculty-slider .rotator-content {overflow:hidden;}
#faculty-slider .arrow {z-index:5 !important; margin-top:-40px;}
#faculty-slider #faculty-slider_left_arrow {margin-left:8px;}

.faculty-nav {width:350px; margin-top:10px; overflow:hidden;}
.faculty-nav ul, .faculty-nav-block {background:#f9f2e3; padding:0px 20px 5px 20px; margin:2px 0px 15px 0px; overflow:hidden; -webkit-transition: all 0.4s ease-in; -moz-transition: all 0.4s ease-in; -ms-transition: all 0.4s ease-in; -o-transition: all 0.4s ease-in; transition: all 0.4s ease-in; cursor: pointer;}
.faculty-nav-block {padding:15px 20px 25px 20px;}
.faculty-nav-block .faculty-nav-heading {border-bottom:1px solid #e0dbd0; padding-bottom:10px;}
.faculty-nav li {font-size:13px; color:#444; line-height:16px; border-bottom:1px solid #e0dbd0; padding:7px 15px 7px 0px; font-family: 'open_sanssemibold'; position:relative; overflow:hidden;}
.faculty-nav li input[type="radio"] {margin:1px 5px 0px 0px;}
.faculty-nav li img {display:none; margin:4px 5px 0px 0px;}

.faculty-nav-block ul {padding:20px 0px 0px 0px;}
.faculty-nav-block li {border:none; padding:0px 0px 7px 0px;}
.faculty-nav-block .pink-button {margin:0px !important; font-style:italic;}
.faculty-nav-heading {color:#c48b3b !important; font-size:14px !important;margin: 0 5px 0 0px !important;}
.faculty-nav-heading img {position:absolute; right:1px; top:5px; margin:0px !important;}
.faculty-nav-active {color:#555555 !important;}
.faculty-nav-active img, .faculty-nav-heading img {display:block !important;}
.menu-closed {height:30px !important;}

.faculty-content {width:780px; margin-top:10px;font-family: 'open_sansregular'; line-height:22px; color:#444; font-size:14px;}
.content-search {width:100%;}
.faculty-content h1, .faculty-content .h1-style {font-family: 'open_sansregular'; font-size:26px; margin-top:7px; margin-bottom:20px;}
.faculty-content h2, .faculty-content .h2-style {color:#c48b3b; font-size:26px; font-family: 'open_sanslight'; margin-top:7px; margin-bottom:20px; line-height: 34px; font-weight: inherit;}
.calendar {border:1px solid #cdcac5; background:#f9f2e2; padding:10px;}
.faculty-content h3, .faculty-content .h3-style {color:#c48b3b; font-size:19px; font-family: 'open_sanssemibold'; margin:17px 0px 10px 0px;}
.faculty-content h5, .faculty-content .h5-style {font-size:12px; color:#444444; margin-top:10px;}
.faculty-content h6, .faculty-content .h6-style {font-family: 'open_sansregular'; line-height:22px;color: #c48b3b;}
.faculty-content {color:#444; font-size:14px; margin:10px 0px 10px 0px;}

.faculty-content span{line-height:22px; list-style: disc; text-align: justify;}

.faculty-content p, .faculty-content ul li, .faculty-content ul li {font-family: 'open_sansregular'; line-height:22px; list-style: disc; }
.faculty-content ul li li { list-style-type: circle !important; }
.faculty-content ul li li li { list-style-type: square !important; }
.faculty-content p  {margin:9px 0 9px 0; }
.faculty-content p a, .faculty-content span a {margin:0 5px 0 0; }
.faculty-content a {font-size:14px; }
.faculty-content ul, ol {margin-bottom:20px; margin-left: 20px;}
.faculty-content li {font-family: 'open_sansregular'; line-height:18px; color:#444; font-size:14px;}
.faculty-content .error-img {margin:-20px 50px 40px 30px;}

.faculty-content p strong, .faculty-content p b, .faculty-content div strong{font-family: 'open_sanssemibold';margin-right: 5px;}

/*.faculty-content p em{font-family: 'open_sanssemibold_italic';}*/
em{font-style: italic;padding-right: 5px;}
.faculty-content p img{
    margin: auto;
   // padding: 15px 0px 15px 0px;
    /*display: inline !important;*/
}

.faculty-content .zp_pager_links .pagination {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.faculty-content .zp_pager_links .pagination li {
    display: inline-block;
}
.faculty-content .zp_pager_links .pagination li {
    background: none;
}
.faculty-content .zp_pager_links .pagination li a {
    padding: 6px 10px;
    margin: 0 5px;
    font-size: 12px;
    background-color: #f2f2f2;
}
.faculty-content .zp_pager_links .pagination li.active a {
    background: #2271b6;
}
.faculty-content .zp_pager_links .pagination li a:hover {
    background-color: #2271b6;
    color: #fff !important;
}
.faculty-content .zp_pager_links a {
    color: #333333 !important;
}

.faculty-column {width:49%; margin:10px 15px 20px 0px; overflow:hidden;}

.faculty-image-container {position:relative; overflow:hidden;}
.faculty-image-container img {position:relative; z-index:1;}
.faculty-image-container h4, .faculty-image-container .h4-style {/*position:absolute*/; z-index:2; bottom:0px; left:0px; padding:12px !important; background:#e20f30; color:#FFFFFF !important; border:none !important; font-size:14px !important; font-family: 'open_sanssemibold' !important;}
.faculty-social {margin-bottom:85px;clear: both;}
.faculty-social-item {position:relative; margin:10px 5px 0px 0px; height:60px; width:63px;}
.faculty-social-item img {position:absolute; bottom:0px;}
.faculty-social-item p {position:absolute; top:4px !important; width:100%; text-align:center; z-index:2; font-size:12px; color:#444444; margin:0px !important; padding:0px !important; line-height:22px !important;}
.faculty-social-item-bubble {position:absolute; top:0px;}

.event-img{
	padding: 1px;
	border: 1px solid #ddd;
	background-color: #eee;
}

.faculty-news {width:770px;}
.faculty-news h1, .faculty-news .h1-style {margin-top:25px !important;}
.faculty-news h4, .faculty-news .h4-style {margin-top:22px !important;}
.faculty-news-item {width:31%; margin-right:25px; margin-bottom:25px;margin-top:5px;}
.faculty-news h6, .faculty-news .h6-style {font-size:11px; color:#888888; margin:10px 0px 5px 0px;}
.faculty-news p {font-size:13px; color:#444; line-height:18px; margin:0px 0px 0px 0px;}

.news-search-results .search {width:100%; background:none; position:static !important; margin:0px 0px 10px 0px;}
.news-search-results .search input {width:87%; padding:9px; background:#FFFFFF; color:#666666; border:1px solid #cdcac5; font-size:13px; font-family: 'open_sanssemibold'; margin:0px; position:static !important;}
.news-search-results .search .btn {width:10%; background:#f9f2e2; padding:9px !important; border-left:0px;}
.news-search-results h5, .news-search-results .h5-style {font-size:13px; color:#808080; padding:20px 0px 20px 0px; width:100%; border-bottom:2px solid #e5e2de;}
.news-search-results ul {width:100%; border-bottom:1px solid #dddddd; height:35px; margin-top:20px;}
.news-search-results ul li {float:left; color:#808080; font-size:15px; height:35px; padding:10px 15px 10px 15px; border:1px solid #FFFFFF; border-bottom:none; list-style: none;}
.news-search-results .tab-active, .news-search-results ul li:hover {border:1px solid #dddddd; border-bottom:1px solid #FFFFFF; color:#444444; cursor:pointer;}
.news-search-results .pagination, .sitesTable .pagination {border:none; margin:0px 0px 0px 0px;color: #c48b3b !important;}
.news-search-results .pagination li {height:auto; width:auto; padding:5px 9px 5px 9px; font-size:12px;}
.news-search-results .pagination-active, .news-search-results .pagination li:hover{background:#2271b6; color:#FFFFFF;}

.sitesTable .pagination li {float: left; font-size:14px;height: 30px;font-family: 'open_sansregular';}
.sitesTable .pagination li a {padding: 5px 10px;color: #c48b3b;}
.sitesTable .pagination .current-page { background-color: #005bab; color: #fff;}
.sitesTable .pagination_wrapper {margin: 20px 0 30px 0;}
.sitesTable .pagination li a:hover {background:#2271b6; color:#FFFFFF;}

.news-search-result-block.staffprofiles .profile_link span, .news-search-result-block.academicprofiles .profile_link span, .news-search-result-block.websites .profile_link span{
	color: #005bab !important;
	font-family: 'open_sanssemibold_italic';
	font-size: 13px;
}
.news-search-results .staffprofiles.heading, .news-search-results .academicprofiles.heading, .news-search-results .websites.heading{
	font-size: 20px;
	margin-bottom: 0px;
}

.news-search-result-block {width:100%; overflow:auto; }
.news-search-result-block p {font-size:12px; margin-top:0; color:#888888 !important;}
.news-search-result-block h6, .news-search-result-block .h6-style {font-size:11px; margin:0px; color:#888888;}
.news-search-result-block h6 span, .news-search-result-block .h6-style span {color:#000; padding-right: 5px; }
h6.searchtype {font-size: 13px; color: #1864a3 !important;}
h6.searchtype span {color: #000 !important;}

.news-search-result-block h5, .news-search-result-block .h5-style {border:none; padding:0px; margin-bottom:5px; color: #1864a3; font-size: 14px;font-family: 'open_sanssemibold'; border-bottom: solid 2px #1864a3; line-height: 20px;}
.news-search-result-block .social-rss h6, .news-search-result-block .social-rss .h6-style  {color:#b4975b !important;}
.news-search-result-block .social-rss h6 span, .social-rss h6 span, .social-rss .h6-style span {color:#005bab !important;font-family: 'open_sanssemibold_italic';font-size: 13px;}
.news-search-result-block .social-rss h6 img, .news-search-result-block .social-rss .h6-style img {margin:4px 0px 0px 4px;}
.news-feed-rss{
    background: #e10729;
    padding: 5px 7px 6px 7px;
    margin: 15px 0px 0px 10px !important;
    color: #FFFFFF !important;
    font-size: 13px !important;
    cursor: pointer;
}
.site_link{cursor:pointer;}

.live_edit{
    font-family: 'open_sanssemibold_italic';
    color: #444444 !important;
    font-size: 13px;
    padding: 16px 10px 5px 10px;
    line-height: 16px;
}
.live_edit a{text-indent: -9999px;}
.edit_icon { background:url('../img/icons/icon_table_edit_new.png') no-repeat 0 0;display: inline-block; height: 18px; width: 18px;}
.edit_icon:hover { background-position: 0px -18px !important; }
 .news-back a, .faculty-content .news-back a {
 	color: #fff !important;
 }
/*.news-back a:hover {
 	color: #005bab !important;
 }*/
.news-back{
    font-family: 'open_sanssemibold_italic';
    font-size:13px;
    padding:5px 15px 5px 15px;
    margin-top: 10px;
    cursor: pointer;
    float: right;
    background-color: #e10729;
    color: #fff !important;
    border:1px solid #e10729;
}
/*
.news-back a:hover{
    color:#005bab !important;
    background-color: #f9f2e3;
    border:1px solid #dfdace;
}*/


.research_matters{
	border-right: solid 1px #ccc;
	padding-right: 8px;
}

/*share*/
.instagram_link, .facebook_link, .twitter_link, .youtube_link, .google_link, .linkedin_link{
    cursor:pointer;
}
.fb, .twitter{
    margin: -4px 0 0 10px;
}
.shareicon{
    cursor: pointer;
}
.shareclose{
    float:right;
}
.slider_full .share_buttons{
    left: 0px;
    /*float: left;*/
    width: 0px;
    padding: 0px 0 2px 2px;
    display: none;
    overflow-x: hidden;
    height: 20px;
    margin: 5px 0 -9px 0;
}

.social-rss .share_buttons{
    left: 0px;
    float: left;
    width: 0px;
    padding: 0px 0 2px 2px;
    display: none;
    overflow-x: hidden;
    height: 20px;
    margin: 5px 0 -9px 0;
}

.share_buttons .share_facebook{
    background: url(../img/icons/facebook_small.jpg) no-repeat top center;
}
.share_buttons .share_twitter{
    background: url(../img/icons/twitter_small.jpg) no-repeat top center;
}
.share_buttons .share_googleplus{
    background: url(../img/icons/googleplus_small.jpg) no-repeat top center;
}
.share_buttons .share_facebook, .share_buttons .share_googleplus, .share_buttons .share_twitter{
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 2px 2px 0 0;
    float: left;
}
.social-rss .socialtitle {
    color:#888;
    font-size:11px;
    font-family: 'open_sansregular';
}
/*share*/

.feed-rss{
    padding: 5px 7px 6px 7px;
    margin: 15px 0px 0px 10px !important;
    cursor: pointer;
}
.feed-rss a span, .feed-rss span{color: #b4975b !important;}

.news-article-nav {}
.news-article-nav p {font-size:13px; font-family: 'open_sanssemibold' !important; margin-bottom:5px;}
.news-article-nav p a {color:#005bab;}

.news-article-nav-image, .news-article-image {margin-bottom:15px; position:relative;width:100%; margin-bottom:15px; position:relative;}
.news-article-image {margin-left:15px;}
.news-article-nav-image h4, .news-article-image h4, .news-article-image .h4-style{/*position: absolute*/; z-index: 2; bottom: 0px; left: 0px; padding: 12px !important; background:rgba(225,7,41,1); width: 100%; color: #FFFFFF !important; border: medium none !important; font-size: 12px !important; font-family: 'open_sanssemibold' !important;}


.faculty-news-article .faculty-image-container h4, .faculty-news-article .faculty-image-container .h4-style {background:rgba(225,7,41,1); width: 100%; font-size: 12px !important;}
.news-article-nav-image img{}

.faculty-resource-block {width:31%; margin-right:26px; margin-top:15px; margin-bottom:20px;}
.faculty-resource-block .faculty-image-container h4, .faculty-resource-block .faculty-image-container .h4-style {background:#222222 !important; font-size:13px !important; color:#FFFFFF !important; min-height: 72px;}
.faculty-resource-copy {background:#f9f2e2;}
.faculty-resource-copy p {font-size:12px; color:#FFFFFF; line-height:17px; padding:15px 15px 0px 15px; margin: 0 0 9px 0; text-align: left;}
.faculty-resource-copy h6, .faculty-resource-copy .h6-style {display:inline-block; color:#FFFFFF; font-family: 'open_sanssemibold_italic'; font-size:12px; padding:14px 13px 13px 13px}
.faculty-resource-copy h6 span, .faculty-resource-copy .h6-style span {color:#FFFFFF !important;}
.faculty-resource-copy h6 img, .faculty-resource-copy .h6-style img {margin:8px 0px 0px 8px;}

.faculty-pagination p {width:20px; height:20px; float:left; margin:10px 8px 10px 0px; text-align:center; background:#f9f2e2; border:1px solid #dfdace; font-size:12px; }
.faculty-pagination-active {color:#FFFFFF !important;}

.faculty-search-box {width:35%; background:#f9f2e2; overflow:auto; margin:10px 10px 10px 0px; border: 1px solid #DFDACE;}
.faculty-search-box input {width:80%; border:none; padding:4px; background:none; font-size:12px; color:#666666; margin:2px;}
.faculty-search-box img {margin:6px;}
.search-heading {font-size:14px !important; border:none !important; padding:7px 0px 0px 0px !important;}

.faculty-department-results {margin:15px 0px 15px 0px; overflow:auto; padding: 0 30px 0 30px; display: table;}
.faculty-department-results td {width:50%; float:left; padding: 2px 15px 2px 15px; list-style: none !important; margin-left: 0 !important; display: table-cell;}
.faculty-department-results td a{ color:#444 !important; font-family: 'open_sanssemibold';  font-size: 12px;}
.faculty-department-results td a:hover{color:#5a88c6 !important;}
.faculty-department-results td:nth-child(odd){border-right:1px solid #dfdace;}

.line-bit {height:2px; width:15px; margin:15px 0px 5px 15px;}
.quote-box {width:100%; background:#f9f2e2; position:relative;}
.quote-box p {padding:45px 40px 0px 40px; font-family: 'open_sanssemibold_italic'; font-size:12px; color:#444; line-height:22px;}
.quote-box h5, .quote-box .h5-style {color:#e17e36; font-size:11px; font-family: 'open_sanssemibold_italic'; padding:15px 40px 45px 40px;}
.quote-box img {position:absolute;}
.quote-left, .quote-right {width:auto !important;}
.quote-box .quote-left {top:20px; left:40px;}
.quote-box .quote-right {bottom:20px; right:45px;}
/* Faculty */

/* Quicklink Blocks */
#quicklinks a, #quicklinks p, #langSwitch a, #langSwitch p {color: #5C5B5B !important;}
#langSwitch {
	width: 100px !important;
}
#langSwitch .dropdown-top-subnav{
	min-width: 100px !important;
}

.quicklinks {background:#f9f2e2; width:100%; overflow:auto; position:relative;}
.quicklinks h1, .quicklinks .h1-style {color:#444444; font-size:24px; font-family: 'open_sanslight'; margin:16px 0px 14px 0px;}
.gallery-container h1, .gallery-container .h1-style {color:#444444; font-size:18px; font-family: 'open_sanslight'; margin:16px 0px 0px 0px;}
.quicklinks h5, .quicklinks .h5-style {color:#444444; font-family: 'open_sanssemibold_italic'; font-size:13px; margin:13px 0px 14px 0px; padding:8px; background:#FFFFFF; border:1px solid #dfdace;}
.quicklinks h6, .quicklinks .h6-style {font-size:11px; color:#c48b3b; margin:10px 0px 5px 0px;}
.quicklinks p {font-size:13px; color:#444; line-height:18px; margin:0px 0px 0px 0px;}
.quicklinks-news-article .social-rss {margin:0px 0px 0px 0px !important;}
.quicklinks-news-article {width:21%; margin:0px 62px 15px 0px;}
.news-image {position:relative;}
.news-image img {position:relative; z-index:1; border-left: 1px solid #fff; border-top: 1px solid #fff; border-right: 1px solid #fff;}

.news-image h3, .news-image .h3-style {/*position:absolute;*/ bottom:0px; left:1px; padding:12px; background:rgba(225,7,41,1); z-index:2; color:#FFFFFF; font-size:12px;width: 100%; min-height: 58px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	line-height: 17px;
         font-weight: inherit;
}
.news_index h3, .news_index .h3-style {min-height: 60px; font-weight: inherit;}
.quicklink-block-large {width:458px; background:#FFFFFF; border:1px solid #dfdace; margin:22px 13px 22px 0px; height:155px;}
.quicklink-block-mid {width:31%; background:#FFFFFF; border:1px solid #dfdace; margin:12px 36px 12px 0px; height:137px; overflow:hidden;}
.quicklink-block-small {width:339px; background:#FFFFFF; border:1px solid #dfdace; margin:22px 13px 22px 0px; height:155px;}
.quicklink-block-mid h2, .quicklink-block-mid .h2-style {font-family: 'open_sansregular'; font-size:17px; color:#444444; border-bottom:1px solid #dfdace; border-top:5px solid #e10729; padding:12px 0px 12px 17px;	margin:0px 0px 8px 0px;}
.quicklink-block-mid h2 img, .quicklink-block-mid .h2-style img {margin:-5px 10px 0px 0px;}
.quicklink-block-mid p {font-size:12px; color:#666666; margin:0px 15px 2px 15px;}
.quicklink-block-mid p span {color:#e10729;}

.faculty-content p a.pink-button{color:#fff !important;}
.programme-search {margin:0px 0px 6px 15px; background:#f9f2e2; border:1px solid #dfdace; width:90%; height:32px;}
.programme-search input {color:#666666; border:none; padding:7px; width:70%; font-family: 'open_sanssemibold_italic'; background:none;}
.programme-search img {margin:7px;}

.programme-search-area div{width: 350px;}
.programme-search-area .search input {width: 200px;}
#zp_siteProgrammes_index .pink-button{width: 150px;
text-align: center;}
/* Quicklink Blocks */

/* News */
.featured {background:#FFFFFF;}
.featured .quicklinks-news-article {width:21%; margin:0px 62px 15px 0px;}
.featured .quicklinks-news-article p {height:65px;}
.featured .videos, .featured .sport-news {border:none; margin:0px 10px 20px 0px; width:48%; min-height:0px;}
.featured .faculty-social {margin-bottom:110px;}
.featured .video-thumb {margin-right:20px; width:65%;}
.featured .video-text {width:30%;}
.sport-news .news-image {margin-right:20px; width:46%;}
.sport-news .news-text {width:50%;}
.sport-news .news-text h6, .sport-news .news-text .h6-style {margin:0px;}
.sport-news .news-text h5, .sport-news .news-text .h5-style {margin:5px 0px 10px 0px; border:none; padding:0px; color:#444; font-family: 'open_sanssemibold'; line-height:16px; font-size:13px;}
.sport-news .news-text p {color:#888888; font-size:12px; line-height:16px;}

.news-feed {padding-bottom:20px;}
.news-feed-item {width:100%; padding:15px 0px 15px 0px; overflow:auto; border-bottom:1px solid #dfdace;}
.news-feed-item img {margin:0px 20px 0px 0px; width:20%;}
.news-feed-item-text {width:78%;}
.news-feed-item-text h5, .news-feed-item-text .h5-style {border:none; margin:0px 0px 10px 0px; padding:0px; font-size:13px; color:#1864a3; background:none;}
.news-feed-item-text h6, .news-feed-item-text .h6-style {margin:0px 0px 5px 0px; padding:0px;}
.news-feed-item-text h6 span, .news-feed-item-text .h6-style span {color:#555555;}
.news-feed-item-text p {color:#666666; font-size:12px; line-height:18px; margin:10px 0px 10px 0px;}
.news-pagination h6, .news-pagination .h6-style {margin:22px 5px 0px 0px; border-right:1px dashed #cac5b9; padding:0px 5px 0px 0px; color:#555555; font-family: 'open_sanssemibold_italic';}

.news-feed-social {margin-top:10px;}
.news-feed-social h4, .news-feed-social .h4-style {font-size:13px; color:#b4975b !important; border:none !important; margin:0px !important; padding:0px !important; font-family: 'open_sanssemibold_italic'; width:auto !important;}
.news-feed-social img {width:auto !important; margin:-2px 0px 0px 12px; position:relative;}
.news-feed-social .fb, .news-feed-social .twitter {position:relative;}
.news-feed-social .twitter {margin: -1px 0 0 10px;}
.news-feed-social h6, .news-feed-social .h6-style {position:absolute; top:2px; margin:0px !important; padding:0px !important; right:5px; color:#444444; line-height:normal;}
/* News */

/* Info block */
.info-block {width:70%; margin:20px 0px 0px 0px; position:relative;min-height: 430px;}
.about-image {float: right; padding-bottom: 20px; padding-right: 15px;}
.info-block h1, .info-block .h1-style {font-size:32px; font-family: 'open_sanslight'; color:#005bab; padding:35px 0px 15px 0px; position:relative; z-index:5;}
.info-block p {color:#444444; font-size:13px; font-family: 'open_sansregular'; line-height:22px; position:relative; z-index:99;padding-right: 15px;text-align: justify;}
.info-block a p {color:#005bab; font-size:13px; text-decoration:none; margin:15px 0px 15px 0px; z-index:99; font-family: 'open_sanssemibold_italic';}
.info-button {background:#005bab; width:190px; color:#FFFFFF; padding:16px; font-size:12px; margin:0px 15px 10px 0px;}
/* Info block */

/* What's Happening */
.whats-happening {width:28%; font-size:24px; color:#005bab; font-family: 'open_sanslight';padding-bottom: 15px;}
.whats-happening h2, .whats-happening .h2-style {margin:15px 0px 0px 0px;}
.whats-happening h4, .whats-happening .h4-style {color: #005bab; font-size:15px; font-family: 'open_sansregular'; margin:14px 0px 10px 0px; line-height: 20px;}
.whats-happening h5, .whats-happening .h5-style {color:#444; font-size:13px; font-family: 'open_sanssemibold';}
.whats-happening h5 a, .whats-happening .h5-style a {color:#b4975b !important;}
.whats-happening img {margin:10px 0px 10px 0px;}
.whats-happening p {color:#444444; font-size:13px; line-height:22px; font-family: 'open_sansregular';text-align: justify;}
/* What's Happening */

.nav-tabs {border-bottom:5px solid #f9f2e2; overflow:auto; margin:10px 0px 0px 0px !important;}
.nav-tabs li {float:left; padding:12px 25px 12px 25px; font-size:14px; background:#f9f2e2; margin:0px 10px 0px 0px; color:#4B4944 !important;}
.nav-tab-active, .nav-tabs li:hover {background:#f9f2e2 !important; color:#FFF !important; cursor:pointer;}
.nav-tabs li:hover {color:#4B4944 !important;}

/* Research */
.research {
	width:340px;
	background:#c48b3b;
	margin:20px 0px 20px 0px;
	position:relative;
	overflow:hidden;
	height:520px;
}

.research .arrow {display:none;}

.research .rotator-nav {
	position:absolute;
	left:6.5%;
	bottom:260px;
	width:auto;
	margin:auto;
}

.research .rotator-nav .rotator-nav-button {
	background:#d6ac72;
}

.research .rotator-nav .rotator-nav-button-active {
	background:#efcb99;
}

.research img {
	width:100%;
	margin:40px 0px 0px 0px;
}

.research h5, .research .h5-style {
	position:absolute;
	bottom:30px;
	background:#333333;
	color:#FFFFFF;
	font-size:13px;
	padding:11px;
	right:0px;
	text-align:left !important;
}

.research h4, .research .h4-style {
	position:absolute;
	top:0px;
	background:#d6ac72;
	color:#FFFFFF;
	font-size:13px;
	padding:11px;
	right:7%;
	text-align:left !important;
}

.research h3, .research .h3-style {
	color:#FFFFFF;
	width:85%;
	margin:0 auto;
	margin-top:60px;
	font-size:24px;
	font-family: 'open_sanslight';
	text-align:left !important;
}

.research p {color:#FFFFFF;	width:85%; margin:0 auto; font-size:12px; margin-top:10px; line-height:21px; font-family: 'open_sanssemibold_italic'; text-align:left !important;}
.research p span {color:#efcb99;}

/* Research */

/* News */
.news {
	width:810px;
	margin:20px 0px 20px 0px;
	position:relative;
}

.news h1, .news .h1-style {
	font-size:24px;
	font-family: 'open_sanslight';
	color:#444444;
	margin:0px 0px 15px 0px;
}

.news h4, .news .h4-style {
	font-family: 'open_sanssemibold_italic';
	color:#444444;
	font-size:13px;
	border:1px solid #dfdace;
	padding:5px 10px 5px 10px;
}
/* News */

/* Events */
.events, .videos {width:364px; margin:20px 35px 10px 0px; position:relative; overflow:hidden; /*border-bottom:1px solid #dfdace;*/ padding:0px 0px 0px 0px; /*min-height:245px;*/}
.events {border:none;}
.research_news{margin: 17px 0px 10px 0px;}
.bottom-news h1, .events h1, .bottom-news .h1-style, .events .h1-style {font-size:20px; font-family: 'open_sansregular'; color:#444444; margin:2px 0px 10px 0px;}
.bottom-news h4, .bottom-news .h4-style {font-family: 'open_sanssemibold_italic'; color:#444444; font-size:13px; border:1px solid #dfdace; padding:5px 10px 5px 10px; line-height: 17px;}
.bottom-news h3, .bottom-news .h3-style {font-size:15px; font-family: 'open_sanssemibold'; color:#005bab; padding:10px 0px 0px 0px; margin:0px 0px 10px 0px; line-height:20px;}
.bottom-news h5, .bottom-news .h5-style {font-size:11px; color:#666666; margin:0px 0px 12px 0px;}
.bottom-news p {color:#444; font-size:12px; line-height:21px;}
.event-item {border-bottom:1px solid #dfdace; overflow:auto;}
.event-item h5, .event-item .h5-style {width:60px; padding:8px 0px 8px 0px !important; text-align:center; color:#444; font-size:13px; border-bottom:1px solid #dfdace; border-left:1px solid #dfdace; border-right:1px solid #dfdace; display:inline-block; margin:0px 0px 12px 0px; background:#FFFFFF;}
.event-item h4, .event-item .h4-style {width:60px; padding:8px 0px 8px 0px !important; margin:10px 0px 0px 0px; text-align:center; color:#FFFFFF; font-size:13px; padding:5px; background:#005bab;}
.event-text {width:80%; padding-bottom: 10px;}
.event-text.empty h3, .event-text.empty .h3-style{
	padding: 10px 0px 5px 0px !important;
	font-size: 13px !important;
	color: #888888 !important;
}
.event-item.empty{
	border-bottom: 0px !important;
}
.event-item h3, .event-item .h3-style {line-height:14px; color:#005bab; font-size:14px; margin:0px 0px 0px 0px; padding:10px 0px 5px 25px;}
.event-text h6, .event-text .h6-style {font-family: 'open_sansregular';font-size:12px; color:#444; margin:0px 0px 0px 25px; line-height:14px;}

.events-list {padding-top:20px; padding-bottom:80px;}
.events-list .event-item {padding-bottom:10px;  padding-top:10px;}
.events-list h4, .events-list .h4-style {color:#FFFFFF !important;}
.events-list h3,.events-list .h3-style {margin:26px 0px 0px 0px; font-family: 'open_sanssemibold';}
.events-list h6, .events-list .h6-style {margin:32px 0px 0px 25px; font-family: 'open_sanssemibold'; color:#888888; font-size:12px;}
.events-list .event-text {width:100%;}
/* Events */

/* Video Thumb */
.videos p {font-size:12px; color:#444; margin:10px 0px 0px 0px; line-height:20px; clear:both;}
.videos h6, .videos .h6-style {font-size:11px;	color:#555555;	margin:10px 0px 0px 0px;}
.videos h6 span, .videos .h6-style span {color:#888888;}
.videos h6 img, .videos .h6-style img {margin:0px 3px 0px 3px;}

.video-segment {width:46%; margin-right:22px;}
.video-segment h5, .video-segment h6, .video-segment .h5-style, .video-segment .h6-style {margin:10px 0px 10px 0px; font-size:11px !important;}
.video-segment h5, .video-segment .h5-style {padding-left:7px; border-left:1px dashed #c8c2b4;}
.video-segment h6, .video-segment .h6-style {margin-right:7px;}
.video-thumb {position:relative; margin:5px 0px 0px 0px;}
.video-thumb h5, .video-thumb .h5-style {position:absolute; bottom:0px; right:0px; margin:0px; padding:5px; background:#000000; font-size:11px; color:#FFFFFF; border:none; width:auto !important;}

.videos-video-article {width:18%; margin:20px 0 0 0; min-height: 280px; padding: 0 1% 5px 1% !important;}
.faculty-video-article h4, .faculty-video-article .h4-style {background:#e10729 !important;}
.videos-video-article .video-segment{width: 100%; margin: 0 !important;}

.play-btn-icon {position:absolute; z-index:9; top:50%; left:50%; margin-top:-17px; margin-left:-17px;}
/* Video Thumb */

/* Gallery */
.gallery-container {overflow:visible;}
.og-grid {}
.gallery-container h2, .gallery-container .h2-style {margin-top:25px; color:#1864a3; font-size:30px; font-family: 'open_sanslight'; margin-bottom:20px;}
.gallery-icon {position:absolute; bottom:10px; right:10px; z-index:3;}

.gallery-img-large {height:300px; position:absolute; background:#f9f2e2; margin-top:10px; z-index:1;}

.og-grid {
	list-style: none;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	padding-bottom:50px;
	width:100%;
}

.og-grid li {
	display: inline-block;
	margin: 0px 10px 10px 0px;
	vertical-align: top;
	width:19%;
}

.og-grid li:nth-child(5n + 5) {margin-right:0px;}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #f9f2e2;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #f9f2e2;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 47%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3, .og-details .h3-style {
	font-weight: 300;
	font-size: 24px;
	padding: 0px 0 10px;
	margin-bottom: 10px;
	font-family: 'open_sanslight';
	color:#333333;
}

.og-details p {
	font-weight: 400;
	font-size: 13px;
	line-height: 22px;
	color: #999;
	font-family: 'open_sansregular';
	color:#444;
}

.og-details a {
	font-size: 13px;
	color: #FFFFFF;
	padding: 10px 10px;
	display: inline-block;
	margin: 20px 0 0;
	outline: none;
	background:#005bab;
	font-family: 'open_sanssemibold';
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3, .og-expander .h3-style { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { width:100%; margin-top:25px; height:auto; margin-bottom:25px;}
	.og-details { float: none; width: 100%; }
	.og-details p {display:none;}
	.og-details a {margin-top:0px;}

}
/* Gallery */

/* Contact page */
.contact {padding-bottom:30px;}
.contact p {margin:0px 0px 4px 0px; font-size:13px; line-height:18px; font-family: 'open_sansregular';}
.contact p span {width:160px; display:inline-block; color:#333333; font-family: 'open_sanssemibold';}
.contact p a {font-family: 'open_sanssemibold';}
.contact .cream-seperator {clear:both; margin-top:20px; margin-bottom:20px;}
.contact .quicklink-block-mid {width:48.7%; margin-right:15px;}
.contact .quicklink-block-mid:nth-child(2n + 2) {margin-right:0px;}
.contact .quicklink-block-mid p {width:90%; margin:0px 0px 8px 15px !important; font-size:12px; font-family: 'open_sanssemibold'; line-height:16px;}
.contact-map {height:350px; width:100%; margin-top:20px;}

.form-item {width:48%; margin:0px 10px 25px 0px; clear:both; float:left;}
.form-item-full {width:100%;}
.form-item:nth-child(2n + 2) {margin-right:0px; float:right; clear:none !important;}
.form-item label, .form-item input, .form-item textarea, .form-item select {width:100%; font-family: 'open_sanssemibold'; color:#444; font-size:13px; margin:10px 0px 0px 0px; padding:8px; border:3px solid #eee7d9; resize:none; box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.form-item label {font-size:13px; font-family: 'open_sanssemibold'; color:#444; border:none; padding:0px;}
.form-item select {-webkit-appearance: none; -moz-appearance:none; appearance:none; background: transparent;}
.form-item textarea {height:130px;}
/* Contact page */

/* Footer */
.footer {
	background:#444;
	width:100%;
	margin:0px 0px 0px 0px;
	padding:15px 0px 10px 0px;
	overflow:auto;
}

.footer-link {margin:0px 115px 0px 0px;	max-width:220px;}
.footer img {margin:0px 4px 0px 0px;}
.footer p {font-size:14px; color:#FFFFFF; padding:20px 0px 10px 0px; clear:both;}
.footer li {color:#CCC; font-size:12px; padding-bottom:10px; list-style:url(../img/bullet-arrow.png); margin:0px 0px 0px 12px; line-height:18px;}

.footer-heading {
	color:#FFFFFF !important;
	font-size:15px !important;
	list-style:none !important;
	margin:0px !important;
}

.footer-margin-top {margin-top:50px;}

.copyright {background:#111111;	margin:0px;	height:50px;}
.copyright p, .copyright li {color:#b8b7b7;	padding:18px 0px 0px 0px; font-size:12px;}
.copyright ul {margin:18px 0px 0px 0px; padding:0px;}
.copyright li {float:left; margin-left:10px; border-left:1px solid #b8b7b7; padding:0px 0px 0px 10px;}
.copyright li:hover { color:#5a88c6 !important;}
.copyright a {text-decoration:none; color:#b4975b;}
/* Footer */

/* Buttons */
.pink-button {background:#e10729 !important; padding:10px 7.5px 10px 7.5px !important; font-size:13px !important; color:#FFFFFF !important; margin:0px 10px 0px 15px !important; display:inline-block !important;}
.pink-button-it {background:#e10729; padding:13px 13px 13px 13px; font-family: 'open_sanssemibold_italic'; font-size:13px; color:#FFFFFF; margin:5px 15px 15px 15px; display:inline-block;}

.blue-button {background:#005bab; padding:10px 13px 10px 13px !important; font-size:13px !important; color:#FFFFFF !important; margin:0px 15px 15px 0px !important; display:inline-block !important; border:none !important; font-family: 'open_sanssemibold'; width:auto !important;}
.blue-button:hover {cursor:pointer; background:#0069c6;}

.find-out-more-btn {padding:5px 9px 5px 9px; background:#f9f2e2; margin:10px 0px 10px 0px !important; font-size:12px !important; color:#FFF !important; font-family: 'open_sanssemibold_italic' !important;}
/* Buttons */

/* General Use */
.social-rss h6, .social-rss .h6-style {color:#b4975b; font-size:13px; font-family: 'open_sanssemibold_italic'; margin:10px 7px 0px 0px !important; border-right:1px dashed #98989a; padding:0px 7px 0px 0px !important; min-width:45px;}
.social-rss h6 span, .social-rss .h6-style span {color:#005bab;}
.social-rss h6 img, .social-rss .h6-style img {margin:-1px 0px 0px 3px; width:auto !important;}
/* General Use */

/* Other */
.constant-container {max-width:1170px; width:100%; margin:0 auto; position:relative;}
.down-scroll-arrow {position:absolute; right:0px; top:50%; margin-top:-30px;}
.responsive-img {width:100%; max-width:100%; display: block;} /* New */
.margin-bottom {margin-bottom:32px;}
.margin-top {margin-top:50px;}
.border-top {border-top:1px solid #dfdace;}
.no-margin-right {margin-right:0px !important;}
.no-margin-left {margin-left:0px !important;}
.no-border {border:none !important;}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.responsive-hidden {display:none;}
.cream-seperator {height:1px; width:100%; background:#e0dbd0;}


.cream-bg {background:#f9f2e2 !important; overflow:auto;}
.gold-bg {background:#b4975b !important;}
.gold-text {color:#b4975b !important;}
.gold-bg {background:#b4975b !important;}
.gold-text {color:#b4975b !important;}
/* Other */


table th {font-family: 'open_sanslight';}

/*Blue Table styling*/
.blue-table { border-width: 0.5px; border-color: #1864a3; }
.blue-table th { text-align: left; background: #1864a3; border: solid 1px #1864a3 !important; color: #fff; padding: 5px; }
.blue-table th a {color: #fff !important; text-decoration: underline;}
.blue-table tr:first-child td {border-top: solid 1px #1864a3;}
.blue-table td { text-align: left; border-right: solid 1px #1864a3; border-bottom: solid 1px #1864a3; padding: 5px; background-color: #fff; }
.blue-table td:first-child { border-left: solid 1px #1864a3; }

.blue-table-striped tr:nth-child(even) { background-color: #E8F0F6; }
.blue-table-striped td { padding: 5px; border-right: solid 1px #fff; }
.blue-table-striped th { text-align: left; background: #1864a3; border-right: solid 1px #fff !important; color: #fff; padding: 5px; }
/*End of blue able styling*/

/*Dark Blue Table styling*/
.dark-blue-table  { border-width: 0.5px; border-color: #004881; }
.dark-blue-table th { text-align: left; background: #004881; border: solid 1px #004881; color: #fff; padding: 5px; }
.dark-blue-table th a {color: #fff !important; text-decoration: underline;}
.dark-blue-table tr:first-child td {border-top: solid 1px #004881;}
.dark-blue-table td { text-align: left; border-right: solid 1px #004881; border-bottom: solid 1px #004881; padding: 5px; background-color: #fff; }
.dark-blue-table td:first-child { border-left: solid 1px #004881; }

.dark-blue-table-striped tr:nth-child(even) { background-color: #E6EDF2; }
.dark-blue-table-striped td { padding: 5px; border-right: solid 1px #fff; }
.dark-blue-table-striped th { text-align: left; background: #004881; border-right: solid 1px #fff !important; color: #fff; padding: 5px; }
/*End of dark blue able styling*/

/*Gold Table styling*/
.gold-table  { border-width: 0.5px; border-color: #b4975b; }
.gold-table th { text-align: left; background: #b4975b; border: solid 1px #b4975b; color: #fff; padding: 5px; }
.gold-table th a {color: #fff !important; text-decoration: underline;}
.gold-table tr:first-child td {border-top: solid 1px #b4975b;}
.gold-table td { text-align: left; border-right: solid 1px #b4975b; border-bottom: solid 1px #b4975b; padding: 5px; background-color: #fff; }
.gold-table td:first-child { border-left: solid 1px #b4975b; }

.gold-table-striped tr:nth-child(even) { background-color: #F8F5EF; }
.gold-table-striped td { padding: 5px; border-right: solid 1px #fff; }
.gold-table-striped th { text-align: left; background: #b4975b; border-right: solid 1px #fff !important; color: #fff; padding: 5px; }
/*End of gold able styling*/

/*Green Table styling*/
.green-table  { border-width: 0.5px; border-color: #68831e; }
.green-table th { text-align: left; background: #68831e; border: solid 1px #68831e; color: #fff; padding: 5px; }
.green-table th a {color: #fff !important; text-decoration: underline;}
.green-table tr:first-child td {border-top: solid 1px #68831e;}
.green-table td { text-align: left; border-right: solid 1px #68831e; border-bottom: solid 1px #68831e; padding: 5px; background-color: #fff; }
.green-table td:first-child { border-left: solid 1px #68831e; }

.green-table-striped tr:nth-child(even) { background-color: #F0F3E8; }
.green-table-striped td { padding: 5px; border-right: solid 1px #fff; }
.green-table-striped th { text-align: left; background: #68831e; border-right: solid 1px #fff !important; color: #fff; padding: 5px; }
/*End of green able styling*/

/*Green Table styling*/
.light-blue-table  { border-width: 0.5px; border-color: #5a88c6; }
.light-blue-table th { text-align: left; background: #5a88c6; border: solid 1px #5a88c6; color: #fff; padding: 5px; }
.light-blue-table th a {color: #fff !important; text-decoration: underline;}
.light-blue-table tr:first-child td {border-top: solid 1px #5a88c6;}
.light-blue-table td { text-align: left; border-right: solid 1px #5a88c6; border-bottom: solid 1px #5a88c6; padding: 5px; background-color: #fff; }
.light-blue-table td:first-child { border-left: solid 1px #5a88c6; }

.light-blue-table-striped tr:nth-child(even) { background-color: #EEF3F9; }
.light-blue-table-striped td { padding: 5px; border-right: solid 1px #fff; }
.light-blue-table-striped th { text-align: left; background: #5a88c6; border-right: solid 1px #fff !important; color: #fff; padding: 5px; }
/*End of green able styling*/

/*Grey Table styling*/
.grey-table  { border-width: 0.5px; border-color: #EBEBEB; }
.grey-table th { text-align: left; background: #EBEBEB; border: solid 1px #EBEBEB; padding: 5px; }
.grey-table th a {color: #fff !important; text-decoration: underline;}
.grey-table tr:first-child td {border-top: solid 1px #EBEBEB;}
.grey-table td { text-align: left; border-right: solid 1px #EBEBEB; border-bottom: solid 1px #EBEBEB; padding: 5px; background-color: #fff; }
.grey-table td:first-child { border-left: solid 1px #EBEBEB; }

.grey-table-striped tr:nth-child(even) { background-color: #FBFBFB; }
.grey-table-striped td { padding: 5px; border-right: solid 1px #fff; }
.grey-table-striped th { text-align: left; background: #EBEBEB; border-right: solid 1px #fff !important; color: #fff; padding: 5px; }
/*End of grey able styling*/

/*Dark Grey Table styling*/
.dark-grey-table  { border-width: 0.5px; border-color: #7a7a7a; }
.dark-grey-table th { text-align: left; background: #7a7a7a; border: solid 1px #7a7a7a; color: #fff; padding: 5px; }
.dark-grey-table th a {color: #fff !important; text-decoration: underline;}
.dark-grey-table tr:first-child td {border-top: solid 1px #7a7a7a;}
.dark-grey-table td { text-align: left; border-right: solid 1px #7a7a7a; border-bottom: solid 1px #7a7a7a; padding: 5px; background-color: #fff; }
.dark-grey-table td:first-child { border-left: solid 1px #7a7a7a; }

.dark-grey-table-striped tr:nth-child(even) { background-color: #F2F2F2; }
.dark-grey-table-striped td { padding: 5px; border-right: solid 1px #fff; }
.dark-grey-table-striped th { text-align: left; background: #7a7a7a; border-right: solid 1px #fff !important; color: #fff; padding: 5px; }
/*End of dark grey able styling*/

/*Maroon Table styling*/
.maroon-table  { border-width: 0.5px; border-color: #570f1a; }
.maroon-table th { text-align: left; background: #570f1a; border: solid 1px #570f1a; color: #fff; padding: 5px; }
.maroon-table th a {color: #fff !important; text-decoration: underline;}
.maroon-table tr:first-child td {border-top: solid 1px #570f1a;}
.maroon-table td { text-align: left; border-right: solid 1px #570f1a; border-bottom: solid 1px #570f1a; padding: 5px; background-color: #fff; }
.maroon-table td:first-child { border-left: solid 1px #570f1a; }

.maroon-table-striped tr:nth-child(even) { background-color: #EEE7E8; }
.maroon-table-striped td { padding: 5px; border-right: solid 1px #fff; }
.maroon-table-striped th { text-align: left; background: #570f1a; border-right: solid 1px #fff !important; color: #fff; padding: 5px; }
/*End of maroon able styling*/

/*Orange Table styling*/
.orange-table  { border-width: 0.5px; border-color: #d85214; }
.orange-table th { text-align: left; background: #d85214; border: solid 1px #d85214; color: #fff; padding: 5px; }
.orange-table th a {color: #fff !important; text-decoration: underline;}
.orange-table tr:first-child td {border-top: solid 1px #d85214;}
.orange-table td { text-align: left; border-right: solid 1px #d85214; border-bottom: solid 1px #d85214; padding: 5px; background-color: #fff; }
.orange-table td:first-child { border-left: solid 1px #d85214; }

.orange-table-striped tr:nth-child(even) { background-color: #FBEEE8; }
.orange-table-striped td { padding: 5px; border-right: solid 1px #fff; }
.orange-table-striped th { text-align: left; background: #d85214; border-right: solid 1px #fff !important; color: #fff; padding: 5px; }
/*End of orange table styling*/

/*Pink Red Table styling*/
.pinkred-table  { border-width: 0.5px; border-color: #b40838; }
.pinkred-table th { text-align: left; background: #b40838; border: solid 1px #b40838; color: #fff; padding: 5px; }
.pinkred-table th a {color: #fff !important; text-decoration: underline;}
.pinkred-table tr:first-child td {border-top: solid 1px #b40838;}
.pinkred-table td { text-align: left; border-right: solid 1px #b40838; border-bottom: solid 1px #b40838; padding: 5px; background-color: #fff; }
.pinkred-table td:first-child { border-left: solid 1px #b40838; }

.pinkred-table-striped tr:nth-child(even) { background-color: #F8E6EB; }
.pinkred-table-striped td { padding: 5px; border-right: solid 1px #fff; }
.pinkred-table-striped th { text-align: left; background: #b40838; border-right: solid 1px #fff !important; color: #fff; padding: 5px; }
/*End of pink red table styling*/

/*Purple Table styling*/
.purple-table  { border-width: 0.5px; border-color: #5e163d; }
.purple-table th { text-align: left; background: #5e163d; border: solid 1px #5e163d; color: #fff; padding: 5px; }
.purple-table th a {color: #fff !important; text-decoration: underline;}
.purple-table tr:first-child td {border-top: solid 1px #5e163d;}
.purple-table td { text-align: left; border-right: solid 1px #5e163d; border-bottom: solid 1px #5e163d; padding: 5px; background-color: #fff; }
.purple-table td:first-child { border-left: solid 1px #5e163d; }

.purple-table-striped tr:nth-child(even) { background-color: #EFE8EC; }
.purple-table-striped td { padding: 5px; border-right: solid 1px #fff; }
.purple-table-striped th { text-align: left; background: #5e163d; border-right: solid 1px #fff !important; color: #fff; padding: 5px; }
/*End of purple table styling*/

/*Teal Table styling*/
.teal-table  { border-width: 0.5px; border-color: #005b63; }
.teal-table th { text-align: left; background: #005b63; border: solid 1px #005b63; color: #fff; padding: 5px; }
.teal-table th a {color: #fff !important; text-decoration: underline;}
.teal-table tr:first-child td {border-top: solid 1px #005b63;}
.teal-table td { text-align: left; border-right: solid 1px #005b63; border-bottom: solid 1px #005b63; padding: 5px; background-color: #fff; }
.teal-table td:first-child { border-left: solid 1px #005b63; }

.teal-table-striped tr:nth-child(even) { background-color: #E6EFEF; }
.teal-table-striped td { padding: 5px; border-right: solid 1px #fff; }
.teal-table-striped th { text-align: left; background: #005b63; border-right: solid 1px #fff !important; color: #fff; padding: 5px; }
/*End of teal table styling*/

/*Yellow Table styling*/
.yellow-table  { border-width: 0.5px; border-color: #ef9802; }
.yellow-table th { text-align: left; background: #ef9802; border: solid 1px #ef9802; color: #fff;  padding: 5px; }
.yellow-table th a {color: #fff !important; text-decoration: underline;}
.yellow-table tr:first-child td {border-top: solid 1px #ef9802;}
.yellow-table td { text-align: left; border-right: solid 1px #ef9802; border-bottom: solid 1px #ef9802; padding: 5px; background-color: #fff; }
.yellow-table td:first-child { border-left: solid 1px #ef9802; }

.yellow-table-striped tr:nth-child(even) { background-color: #FDF5E6; }
.yellow-table-striped td { padding: 5px; border-right: solid 1px #fff; }
.yellow-table-striped th { text-align: left; background: #ef9802; border-right: solid 1px #fff !important; color: #fff; padding: 5px; }
/*End of yellow table styling*/



/*Aditional Style*/
table td, th{padding: 5px;}
table p {margin: 0px !important; text-align: inherit !important;}
table td p {padding-bottom: 10px;}

.table-striped tr:nth-child(odd) { background-color: rgb(245, 245, 245); }
.table-striped a {	color: #b40838; }
.table-striped td { padding: 5px 10px;}
table.table-striped {border-width: 1px;background: #fff;}
.table-striped th {
	color: #b40838;
	text-align: left;
	padding: 5px 10px;
	font-size: 16px;
	font-family: open_sanssemibold;
	border-top: 5px solid #b40838;
	border-bottom: 1px solid #dfdace;
	font-family: 'open_sansregular';
	font-size: 15px;
	background-color: #fff;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  margin: 20px auto;
}

/*Update placeholder color*/

::-webkit-input-placeholder {
   color: #4B4944;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4B4944;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4B4944;
}

:-ms-input-placeholder {
   color: #4B4944;
}

h2 small, .h2-style small {font-size: 14px;}
.evenHead {line-height: 20px !important;}

.footer-popup p{
    margin:inherit;
    padding-bottom: 10px;
}

.footer-popup p strong{
    font-family: 'open_sanssemibold';
}

.footer-popup ul{
    list-style:circle;
    margin-left: 25px;
    margin-bottom: 10px;
}

.faq dt{
    padding: 5px;
    background-image: url(/themes/up/img/programmes/bullet_icon.jpg);
    background-repeat: no-repeat;
    background-position: 0px;
    padding-left: 20px;
}

.faq dd{
    padding: 0px 0px 0px 20px;

}

.faq-answer{
    padding-left: 20px;
    border-bottom: dashed 1px #ccc;
    padding-bottom: 20px;
}

.faq-question{
    font-family: 'open_sanssemibold' !important;
    color: #b40838;
}

.quicklink-block-mid {
    position: relative;
}

.buttons {
  bottom: 0;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 13px;
  position: absolute;
  width: 100%;
}

.buttons .pink-button {
  margin: 0 !important;
  padding-left: 10px;
}

a.refresh {
  background: url("../img/regen.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #005bab;
  font-family: "open_sanssemibold";
  padding-left: 20px;
}

.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 15px;
}

.right.social{
	position: relative;
}
.very-top-menu a[rel]:hover:after {
  content: attr(rel);
  padding: 8px 10px;
  color: #000000;
  font-family: "open_sanslight";
  position: absolute;
  left: 100px;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
   background: #F9F2E3;
}
.right.social a[rel]:hover:after {
	  content: attr(rel);
	  padding: 8px 10px;
	  color: #000000;
	  font-family: "open_sanslight";
	  position: absolute;
	  left: 0;
	  top: -38px;
	  z-index: 999;
	  white-space: nowrap;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  border-radius: 5px;
	  -moz-box-shadow: 0px 0px 4px #222;
	  -webkit-box-shadow: 0px 0px 4px #222;
	  box-shadow: 0px 0px 4px #222;
	  background: #F9F2E3;
}
strong{
    font-family: 'open_sanssemibold';
}

.faculty-content h1, .faculty-content .h1-style {
  color: #c48b3b;
  font-family: "open_sanslight";
  font-size: 26px;
  font-weight: inherit;
  line-height: 34px;
  margin-bottom: 20px;
  margin-top: 7px;
}
.faculty-top-copy, .faculty-resource-copy, .event-item h4, .event-item .h4-style, .faculty-top h3,.faculty-top .h3-style, .faculty-pagination-active, .quicklinks-news-article h3, .news-article-nav h4, .news-image h3, .quicklinks-news-article .h3-style, .news-article-nav .h4-style, .news-image .h3-style {
  background: none repeat scroll 0 0 #004881 !important;
}

.news-article-nav-image h4, .news-article-image h4, .news-article-nav-image .h4-style, .news-article-image .h4-style {
  background: none repeat scroll 0 0 rgba(225, 7, 41, 1);
  border: medium none !important;
  bottom: 0;
  color: #ffffff !important;
  font-family: "open_sanssemibold" !important;
  font-size: 12px !important;
  left: 0;
  padding: 12px !important;
  width: 100%;
  z-index: 2;
}

.h3-style.faq {
    color:#1864a3 !important;
    cursor: pointer;
    text-decoration: underline;
}

.video_thumb{
    width: 184px;
    height: 102px;
}

/* Tags */
.tags {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.tags li {
	float: left;
}

.tag {
	background: #eee;
	border-radius: 3px 0 0 3px;
	color: #999;
	display: inline-block;
	height: 20px;
	line-height: 18px;
	padding: 0 30px 0 10px;
	position: relative;
	margin: 0 8px 0 0;
	text-decoration: none;
	-webkit-transition: color 0.2s;

}

.tag::before {
	background: #fff;
	border-radius: 10px;
	/*box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);*/
	content: '';
	height: 5px;
	right:12px;
	position: absolute;
	width: 5px;
	top: 7px;
}

.tag::after {
	background: #fff;
	border-bottom: 10px solid transparent;
	border-left: 8px solid #eee;
	border-top: 10px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}
/*
.tag:hover {
	background-color: crimson;
	color: white !important;
}

.tag:hover::after {
	border-left-color: crimson;
}*/

#newsletter-content .tags {
	margin: 0;
}
#newsletter-content .tag { font-size: 12px; color: #999; cursor:default}

/* Common style */

figure.researchBanner {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width:364px;
	margin:20px 35px 20px 0px;
	background: #3085a3;
}

figure.researchBanner img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
	transition: opacity 0.35s;
}

figure.researchBanner:hover img {
	opacity: 0.8;
	transition-delay: 0.3s
}

figure.researchBanner h2 {
	font-size: 1.4em;
	font-weight: normal;
	padding-bottom: 0.4em;
	position: relative;
	background: rgba(0, 91, 171, 0.8);
	padding: 10px;
	text-align: center;
	float: left;
}
figure.researchBanner figcaption {
	position: absolute;
	top: 0;
	color: #fff;
	margin: 1.1em;
	font-family: 'open_sansregular';
	overflow: hidden;
}
figure.researchBanner .description{
	line-height: 1.35em;
	font-size: 0.85em;
	padding: 10px 15px;
	float: left;
	background: rgba(255,255,255,0.91);
	color: #444;
}

figure.researchBanner .links > a{
	color: #005bab;
}

figure.researchBanner .links{
	position: absolute;
	right: 1.4em;
	bottom: 1.4em;
	padding: 3px 6px;
	font-size: 0.8em;
	background: rgba(255,255,255,0.91);
	font-style: italic;
}

/* Yearbooks Styling
======================================================================== */



#yearbooks {}

    #yearbooks #yearbook-search {
        border-bottom: 1px solid #e2e2e2;
        padding: 20px 0;
        margin-bottom: 20px;
    }
    #yearbooks #yearbook-search.standalone {
        border-top: 1px solid #e2e2e2;
    }

    #yearbooks #yearbookTable_filter { display: none; }

        #yearbooks #yearbook-search .search-input {}

            #yearbooks #yearbook-search .search-input input {
                display: inline-block;
                *zoom: 1;
                *display: inline;
                line-height: 28px;
                padding: 5px 10px;
                width: 50%;
                vertical-align: top;
                margin-right: -4px;
            }

            #yearbooks #yearbook-search .search-bar input {
                width: 60%;
                padding: 9px;
                background: #fff;
                color: #666;
                border: 1px solid #cdcac5;
                font-size: 13px;
                font-size: 'open_sanssemibold';
                margin: 0px;
                margin-right: -4px;
                float: none;
            }

            #yearbooks #yearbook-search .search-bar .btn {
                width: 10%;
                background: #f9f2e2;
                padding: 9px !important;
                border-left: none;
                float: none;
                display: inline-block;
                *zoom: 1;
                *display: inline;
                cursor: pointer;
                border-radius: 0;
                vertical-align: top;
                line-height: normal;
            }

    #yearbooks .col {
        float: left;
        margin-right: 20px;
        max-width: 500px;
    }
    #yearbooks .col-right {
        float: right;
        margin-right: 0px;
    }
    #yearbooks .col.col-small {
        width: 65px;
    }
    #yearbooks .col-one-third {
        width: 30.5%;
        float: left;
        margin-right: 20px;
    }

        #yearbooks .col-onethird.first { clear: left; }

        #yearbooks .col-one-third.last { margin-right: 0px; }

        #yearbooks .block-image {
            position: relative;
            min-height: 130px;
            background-color: #969696;
            margin-bottom: 20px;
            background-size: cover;
        }

            #yearbooks .block-image .title {
                position: absolute;
                bottom: 15px;
                left: 0px;
                width: 100%;
                padding: 5px 15px;
                background-color: #5988c9;
                text-align: center;
            }

                #yearbooks .block-image .title h3 {
                    font-size: 14px;
                    font-weight: 400;
                    color: #fff;
                    margin: 0px;
                    width: 100%;
                }



    #yearbooks #yearbookTable_length {
    	margin-bottom: 20px;
    }

    	#yearbooks #yearbookTable_length select {

    	}
    #yearbooks .dataTables_wrapper .dataTables_info,
    #yearbooks .dataTables_paginate {
    	margin-top: 10px;
    	margin-bottom: 20px;
    }

    	#yearbooks .dataTables_paginate .paginate_button {
    		border: none;
    		background: transparent;
    		background-color: #f2f2f2;
    		font-size: 12px;
    		border-radius: 0;
    	 	margin: 0 5px;
    	}

    	#yearbooks .dataTables_length {}

    	#yearbooks .dataTables_paginate .paginate_button.current {
    		background-color: #e20629;
    	 	color: #fff!important;

    	}

    	#yearbooks .dataTables_paginate .paginate_button.previous {
    		margin-left: 0;
    	}
    	#yearbooks .dataTables_paginate .paginate_button.next {
    		margin-right: 0;
    	}

    #yearbooks table {
    	width: 100%;
    	margin-top: 20px;
    	border-bottom: none;
    	border: 1px solid #f2f2f2;
    }

    	#yearbooks table thead {}

    		#yearbooks table thead tr {}

    			#yearbooks table thead tr th {
    				background-color: #5988c9;
    				color: #fff;
    				text-align: left;
    				border-bottom: none;
    				padding: 8px 18px;
    			}

    			#yearbooks table thead tr th.actions {
    				width: 125px;
    			}

    	#yearbooks table tbody {}

    		#yearbooks table tbody tr {}

    			#yearbooks table tbody tr td {
    				text-align: left;
                                padding: 5px 18px;
                                font-size: 13px;
    				color: #333;
    				vertical-align: middle;
    			}

    				#yearbooks table tbody tr td.vtop { vertical-align: top; }
    				#yearbooks table tbody tr td.collapse-link {
                                    cursor: pointer;
                                    position: relative;
                                }
    				#yearbooks table tbody tr td.collapse-link .ui-icon {
                                    position: absolute;
                                    right: 0px;
                                    top: 8px;
                                }

    			#yearbooks table tbody tr.odd td {}

    			#yearbooks table tbody tr.even td {
    				background-color: #f2f2f2;
    			}

    			#yearbooks table tbody tr td a {
    				 color: #1F00FF;
    			}

                        #yearbooks table.striped tbody tr:nth-child(even) td {
                                background-color: #f2f2f2;
                        }

        #yearbooks .course-information table {
            word-break: break-all;
            float: none;
        }

        #yearbooks .course-information table thead tr th {
            padding: 2px;
        }

        #yearbooks .course-information table tbody tr td {
            padding: 2px;
            font-size: 11px;
        }

        #yearbooks table.modules td.code {
            white-space: nowrap;
        }
        
        #yearbooks table .tour-link {
            width: 25px;
            height: 25px;
            line-height: 20px;
            font-size: 14px;
            margin-left: 5px;
            margin-bottom: -2px;
            padding-left: -1px;
            position: relative;
            font-weight: normal;
            font-family: "open_sanslight";
        }
        
    	#yearbooks .site_menu {
    		padding-left: 10px;
    		padding-right: 10px;
    	}

    		#yearbooks .searchbg {
    			background-color: #5b89c7;
    			font-size: 14px;
    			color: #fff;
    			line-height: 15px;
    			padding: 7px 10px;
    		}

    			#yearbooks .searchbg input {
    				width: 91%;
    				border: 0;
    				color: #fff;
    				background-color: transparent;
    				font-size: 14px;
    				font-family: "open_sanssemibold";
    			}

    	#yearbooks .tab-content {}

    		#yearbooks .tab-content .tab-pane.active {
    			display: block;
    		}

    		#yearbooks .tab-content .tab-pane {
    			display: none;
    		}


    	#yearbooks #content-header {
    		width: 100%;
    		padding: 20px 0;
    		border-bottom: 1px solid #e2e2e2;
    	}


    		#yearbooks #content-header .title {
    			display: block;
    			float: left;
                width: 70%;
    		}

    		#yearbooks #content-header .actions {

    			width: 29%;
    			float: right;
    		}



	    		#yearbooks #content-header .title h3 {
	    			margin-top: 3px;
	    			font-size: 20px;
	    			color: #666666;
	    			font-family: 'open_sanslight';
	    			background-image: url(../img/icons/book-icon.png);
	    			padding-left: 30px;
	    			display: block;
	    			background-repeat: no-repeat;
	    		}

    			#yearbooks #content-header .btn-back {
    				background-color: #e40020;
    				color: #fff!important;
    				padding: 8px 12px;
    				font-style: italic;
    				font-size: 13px;
    				float: right;
                                font-family: 'open_sanssemibold';
    			}

    			#yearbooks .btn-pdf, .popover .btn-pdf {
    				background-color: #e40020;
    				color: #fff!important;
    				padding: 8px 12px;
    				font-style: italic;
    				font-size: 13px;
    				float: right;
                                font-family: 'open_sanssemibold';
    			}

    		#yearbooks #tabs {
    			margin-top: 20px;
    		}


    			#yearbooks #tabs .nav {
    				border-bottom: 0!important;
    			}

    				#yearbooks #tabs .nav li {
    					margin-right: 2px;
    					padding: 0;
    					font-family: 'open_sansregular';
    				}

    				#yearbooks #tabs .nav li:hover {
    					background-color: #efe6d3!important;
    				}

    				#yearbooks #tabs .nav li.active {
    					background-color: #b59857;
    				}

    					#yearbooks #tabs .nav li.active:hover {
    						background-color: #b59857!important;
    					}

    					#yearbooks #tabs .nav li a {
    						color: #444444!important;
    						font-size: 13px;
    						padding: 10px;
    						display: block;
    					}

    					#yearbooks #tabs .nav li.active a {
    						color: #fff;
    					}
    			#yearbooks #tabs .tab-content {
    				border: 1px solid #d8d8d8;
    				padding: 20px 15px;
    				margin-bottom: 20px;
    			}

    				#yearbooks #tabs .tab-content .tab-title {
    					font-size: 20px;
    					font-family: 'open_sanslight';
    					color: #666666;
    					margin-bottom: 20px;
    				}

    					#yearbooks #tabs .tab-content .left-col {
    						width: 65%;
    						float: left;
    					}

    					#yearbooks #tabs .tab-content .right-col {
    						float: right;
    						width: 30%;
    						margin-left: 5%;
    					}
                                        #yearbooks #tabs .tab-content a article {

    						color: #000;
    					}
    					#yearbooks #tabs .tab-content article {
    						padding: 10px 0;
    						border-bottom: 1px solid #f2f2f2;
    					}

    						#yearbooks #tabs .tab-content article h3 {
    							color: #0059ae;
    							margin: 10px 0;
    							font-family: 'open_sanslight';
    						}

    						#yearbooks #tabs #faculty {
    							position: relative;
    						}

    					#yearbooks #tabs .tab-nav {

    					}

    						#yearbooks .tab-nav.stick {
							    position: fixed;
							    top: 0;
							    z-index: 10000;
							}

    						#yearbooks #tabs .tab-nav .title {
    							background-color: #b59857;
    							color: #fff;
    							font-size: 14px;
    							font-family: 'open_sansregular';
    							display: block;
    							width: 100%;
    							padding: 15px 10px;
    						}

    						#yearbooks #tabs .tab-nav ul {
    							background-color: #f9f2e3;
    							padding: 10px;
    						}

    							#yearbooks #tabs .tab-nav ul li {
    								border-bottom: 1px solid #e0dbd0;
    								color: #444;
    								font-size: 13px;
    								line-height: 16px;
    								padding: 10px 0px;
    							}

    								#yearbooks #tabs .tab-nav ul li a {
    									color: #444;
    								}


    		#yearbooks .clearfix:after {
			   content: ".";
			   visibility: hidden;
			   display: block;
			   height: 0;
			   clear: both;
			}


			#yearbooks .btn {
				padding: 8px 10px;
				display: block;
				font-size: 13px;
                                margin-left: 10px;
                                margin-bottom: 5px;
                                line-height: 24px;
			}

				#yearbooks .btn.btn-primary {
					background-color: #e40020;
					color: #fff;
				}

					#yearbooks .btn-primary:focus,
					#yearbooks .btn-primary:active,
					#yearbooks .btn-primary:hover {
						background-color: #c60021;
						color: #fff;
					}

				#yearbooks .btn.btn-secondary {
					background-color: #0058ad;
					color: #fff!important;
					padding: 4px 6px;
					text-align: center;
					display: inline-block;
					*zoom: 1;
					*display: inline;
				}

					#yearbooks .btn-secondary:focus,
					#yearbooks .btn-secondary:active,
					#yearbooks .btn-secondary:hover {
						background-color: #236fb9;
						color: #fff!important;
					}
			#yearbooks .search-bar .btn {
                            line-height: normal;
                        }

					#yearbooks .faculty-content  .btn-secondary { color: #fff!important; }


	#yearbooks article.odd {}

	#yearbooks article.even.striped-block {
		background-color: #f2f2f2;
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px!important;
		padding-right: 15px!important;
	}

		#yearbooks #tabs .tab-content article.striped-block {
			border: none;
		}

			#yearbooks article.striped-block h3 {
				margin-top: 0!important;
				font-size: 13px;
			}

	#yearbooks .block-info {
		border-top: 1px solid #e2e2e2;
		border-bottom: 1px solid #e2e2e2;
		padding: 20px 0;
		margin-bottom: 20px;
	}

		#yearbooks .block-info h4 {
			font-size: 16px;
			font-family: 'open_sanslight';
			margin-bottom: 10px;
		}

		#yearbooks .block-info .left-col {
			float: left;
			width: 50%;
		}
		#yearbooks .block-info .right-col {
			float: right;
			width: 50%;
		}

		#yearbooks h3.course-type {
			padding-bottom: 20px;
			border-bottom: 1px solid #e2e2e2;
		}

		#yearbooks .search-results {
			margin-top: 20px;
		}

			#yearbooks .search-results .dataTables_length {
				margin-bottom: 20px;
			}

			#yearbooks .search-results table.list-table {
				border: none;
				margin-bottom: 20px;
			}

				#yearbooks table.list-table tr.odd td {
					border-bottom: 2px solid #fff;
				}

				#yearbooks table.list-table tr.even td {
					background-color: transparent;
					border-bottom: 2px solid #fff;
				}

				#yearbooks table.list-table tr.general_rules td {
					background-color: #eadfca;
				}
				#yearbooks table.list-table tr.faculty_rules td {
					background-color: #caddea;
				}
				#yearbooks table.list-table tr.programmes td {
					background-color: #caeae4;
				}
				#yearbooks table.list-table tr.modules td {
					background-color: #d7caea;
				}
				#yearbooks .search-results table.list-table tr td.code {
                                    white-space: nowrap;
                                }
                                

#yearbooks .zp_pager_links {}

	#yearbooks .zp_pager_links .pagination {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}

		#yearbooks .zp_pager_links .pagination li {
			display: inline-block;
			*zoom: 1;
			*display: inline;
		}

		#yearbooks .zp_pager_links .pagination li.active {
			background: none;
		}

			#yearbooks .zp_pager_links .pagination li a {
				border: none;
	    		background: transparent;
	    		background-color: #f2f2f2;
	    		font-size: 12px;
	    		border-radius: 0;
	    		padding: 6px 10px;
	    	 	margin: 0 5px;
	    	 	color: #333 !important;
			}
				#yearbooks .zp_pager_links .pagination li a:hover,
				#yearbooks .zp_pager_links .pagination li a:focus {
					background-color: #2271b6;
					color: #fff !important;
				}

			#yearbooks .zp_pager_links .pagination li.active a {
				background-color: #2271b6;
				color: #fff !important;
			}

			#yearbooks .zp_pager_links .pagination li.first { display: none; }

			#yearbooks .zp_pager_links .pagination li.last a { display: none; }

			#yearbooks .zp_pager { margin-top: 20px; }

#yearbooks .faculty-content.framed {
	border: 1px solid #d8d8d8;
	padding: 20px;
	margin-top: 12px;
}

#yearbooks .image-wrapper {
	max-height: 320px;
	overflow: hidden;
}

/* Accordion */
#yearbooks .accordion {}

	#yearbooks .accordion .ui-accordion-header {
		background-color: #f9f2e3;
		color: #444444;
		font-size: 13px;
		font-family: 'open_sanslight';
		font-weight: 400;
		cursor: pointer;
		outline: none!important;
		position: relative;
		padding: .5em .5em .5em .7em;
		width: 100%!important;
	}

		#yearbooks .accordion .ui-accordion-header::focus { outline: none!important; }

		#yearbooks .accordion .ui-accordion-header-active {
			background-color: #b59857!important;
			outline: none!important;
		}

		#yearbooks .accordion .ui-accordion-header .ui-accordion-header-icon {
			position: absolute;
			left: .5em;
			top: 50%;
			margin-top: -8px;
		}

		#yearbooks .ui-accordion-content {
			overflow: auto;
			box-sizing:content-box;
      		-moz-box-sizing:content-box;
      		min-height: unset;
		}

		#yearbooks .ui-state-default .ui-icon {
			background-image: url(/themes/up/img/ui-icons_888888_256x240.png);
			width: 16px;
			height: 16px;
			display: block;
			text-indent: -999999px;
		}

		#yearbooks .ui-icon-triangle-1-e { background-position: -32px -0px; }

		#yearbooks .accordion .ui-accordion-icons { padding-left: 2.2em; }

		#yearbooks #error { color: #e10729; }

		#yearbooks #course-accordion.accordion {}

			#yearbooks .course-information .section-header,
			#yearbooks #course-accordion .course-type {
				font-family: 'open_sanslight';
				font-weight: 400;
				background-color: #5a88c6;
				padding: 5px 15px;
				font-size: 1.3em;
				margin-top: 20px;
				color: #fff;
			}
			#yearbooks .course-information .section-header:first-child,
			#yearbooks #course-accordion .course-type:first-child { margin-top: 0px; }

			#yearbooks #course-accordion.accordion .accordion-header {
				font-size: 13px;
				color: #444;
				font-family: 'open_sanslight';
				font-weight: 400;
			}

			#yearbooks #course-accordion.accordion .ui-accordion-header {
				font-family: 'open_sansregular';
			}

			#yearbooks #course-accordion.accordion .ui-accordion-header-active { color: #fff; }
                        #yearbooks .col2 { width:48%; float:left;}



@media (max-width:750px) {

	#yearbooks .block-info .left-col {
		float: none;
		width: 100%;
	}
	#yearbooks .block-info .right-col {
		float: none;
		width: 100%;
	}

	#yearbooks #content-header .title {
		float: none;
		margin-bottom: 20px;
	}

	#yearbooks #content-header .btn {
		float: none;
	}

	#yearbooks #tabs .nav-tabs li {
        float: none;
        width: 100%;
    }

    #yearbooks #tabs .tab-content .right-col {
    	float: none;
    	width: 100%;
    	display: block;
    	margin: 0;
    	margin-bottom: 30px;
    }

    #yearbooks #tabs .tab-content .left-col {
    	float: none;
    	width: 100%;
    }

}

@media (max-width: 1170px) {
    #yearbooks .col {
        width: 100%;
        max-width: 100%;
    }
    #yearbooks .col-one-third {
        width: 100%;
    }

    #yearbooks #yearbook-search .search-bar {
        width: 100%;
    }
        #yearbooks #yearbook-search .search-bar input.field {
            width: 80%;
        }

        #yearbooks #yearbook-search .search-bar input.btn {
            width: 20%;
        }
}

@media (min-width: 1200px) {
	#zp_yearbooksFaculties_view .faculty-content { width: 820px; }
}
@media (min-width: 1170px) {
    #yearbooks table.programmes td.faculty {
        min-width: 200px;
    }
}

.dropdown-top.yearbooks-dropdown-top {
    display: inline-block;
    background-color: #FFFFFF;
    width: 90px;
    padding-left: 5px;
    margin-bottom: -3px;
}
.dropdown-top.yearbooks-dropdown-top p {
    font-size: 23px;
    line-height: 23px;
    margin: 0px;
    
}
.dropdown-top.yearbooks-dropdown-top .dropdown-top-subnav {
    width: 90px;
    min-width: 90px;
}
.dropdown-top.yearbooks-dropdown-top .dropdown-top-subnav li {
    padding: 0px;
    padding-left: 5px;
    font-size: 23px;
}

.dropdown-top.yearbooks-dropdown-top .dropdown-top-subnav a {
    color: #777777 !important;
}

/* Yearbooks Styling [END]
======================================================================== */

