/*
Theme Name : Green 
Version: 1.0.0
Author: Sen Manga
Tags: white, two-columns, left-sidebar, right-sidebar.
*/
@font-face { font-family: 'icomoon'; src:  url('../fonts/icomoon.eot?rbor6d'); src:  url('../fonts/icomoon.eot?rbor6d#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?rbor6d') format('truetype'), url('../fonts/icomoon.woff?rbor6d') format('woff'), url('../fonts/icomoon.svg?rbor6d#icomoon') format('svg'); font-weight: normal; font-style: normal; }
[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.icon-bell:before { content: "\e906"; }
.icon-search:before { content: "\e900"; }
.icon-eye:before { content: "\e901"; }
.icon-arrow-right:before { content: "\e902"; }
.icon-right:before { content: "\e902"; }
.icon-next:before { content: "\e902"; }
.icon-arrow-left:before { content: "\e903"; }
.icon-left:before { content: "\e903"; }
.icon-previous:before { content: "\e903"; }
.icon-th-list:before { content: "\e600"; }
.icon-th:before { content: "\e601"; }
.icon-th-large:before { content: "\e602"; }
.icon-file:before { content: "\e603"; }
.icon-file-text:before { content: "\e604"; }
.icon-stats:before { content: "\e605"; }
.icon-paper-plane:before { content: "\e606"; }
.icon-home:before { content: "\e904"; }
.icon-pencil:before { content: "\e905"; }
.icon-image:before { content: "\e90d"; }
.icon-camera:before { content: "\e90f"; }
.icon-horn:before { content: "\e91a"; }
.icon-books:before { content: "\e920"; }
.icon-folder:before { content: "\e92f"; }
.icon-folder-open:before { content: "\e930"; }
.icon-history:before { content: "\e94d"; }
.icon-pc:before { content: "\e956"; }
.icon-mobile:before { content: "\e958"; }
.icon-comment:before { content: "\e96d"; }
.icon-user:before { content: "\e971"; }
.icon-user-tie:before { content: "\e976"; }
.icon-cog:before { content: "\e994"; }
.icon-pie-chart:before { content: "\e99a"; }
.icon-stats-dots:before { content: "\e99b"; }
.icon-stats-bars:before { content: "\e99c"; }
.icon-meter:before { content: "\e9a6"; }
.icon-trash:before { content: "\e9ad"; }
.icon-upload:before { content: "\e9c8"; }
.icon-earth:before { content: "\e9ca"; }
.icon-flag:before { content: "\e9cc"; }
.icon-eye-blocked:before { content: "\e9d1"; }
.icon-star-full:before { content: "\e9d9"; }
.icon-warning:before { content: "\ea07"; }
.icon-add:before { content: "\ea0a"; }
.icon-cross:before { content: "\ea0f"; }
.icon-ok:before { content: "\ea10"; }
.icon-login:before { content: "\ea13"; }
.icon-logout:before { content: "\ea14"; }
.icon-top:before { content: "\ea3a"; }
.icon-bottom:before { content: "\ea3e"; }
.icon-share:before { content: "\ea82"; }
.icon-google-plus:before { content: "\ea88"; }
.icon-facebook:before { content: "\ea91"; }
.icon-twitter:before { content: "\ea96"; }

/* Main */
* { box-sizing: border-box }
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.42857143; color: #333; background-color: #fff; padding:0; margin:6px auto;}
td,th{font-size:12px;-webkit-text-size-adjust:none; padding: 0; }
ul{list-style-type: none; margin:0;padding:0}
ul,li { list-style:none;}
table{border-collapse:collapse;border-spacing:0;width:100%;}
.underline{text-decoration:underline}
.clear{clear:both}
.clearfix:before{  display: table; content: " ";}
.clearfix:after{ clear: both;}
.nowrap{white-space:nowrap}
.center{margin:0 auto}
.pull-left{float:left !important;}
.pull-right{float: right !important;}
.hidden{display:none !important}
.fade { opacity: 0; -webkit-transition: opacity .15s linear; -o-transition: opacity .15s linear; transition: opacity .15s linear; }
.fade.in { opacity: 1; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
code, kbd, pre, samp { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }
code { padding: 8px; font-size: 90%; color: #c7254e; background-color: #f9f2f4; border-radius: 4px; }
kbd { padding: 2px 4px; font-size: 90%; color: #fff; background-color: #333; border-radius: 3px; -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25); box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25); }
kbd kbd { padding: 0; font-size: 100%; font-weight: bold; -webkit-box-shadow: none; box-shadow: none; }
a{ text-decoration:none;}

.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
/* Container 
.container-fluid { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
*/
/* Header */
header{display:block; height:34px;}
header .logo{float:left; height: 36px;}
header .user-menu{float: right; margin: 6px; height:20px;}
header .user-menu a{ background: #32A336; padding:8px; color:#fff; border-radius:5px; border:1px solid #32A336; position: relative;}
header .user-menu .notification {position: relative; display: inline-block; width: 20px; height: 20px;}
header .user-menu .notification a{ background: none; color: #32A336; border: none;  }
header .user-menu .notification i[class^="icon-"],header .user-menu .notification i[class*="icon-"]{font-size: 30px; position: absolute; right: 0px; top: 0px;}
header .user-menu .notification #notification_container a,header .user-menu .notification #notification_title{color: #fff;}

header .user-menu .notification:after { position:absolute; right: 0px; bottom: 15px; background: #32A336; display:block; border:#ffffff 1px solid; border-radius:4px; padding:2px 3px; color:#ffffff; font-size:10px; line-height:1.0em; content:attr(data-unread); }

header .user-menu .user-profile { height:20px;}
header .user-menu .user-profile a{ background: none; border: none;  color: #000;}

header .user-menu .cover{vertical-align: middle; margin: -5px auto;} 

header .user-menu .dropdown {display: inline-block;}
header .user-menu .dropdown .dropdown-menu a{ background:none; border:none;}
header .user-menu .dropdown .dropdown-menu a:hover,header .user-menu .dropdown .dropdown-menu a.active{background: #32A336; background-size:auto 30px; color:#fff; border-radius:0px;}
header .user-menu .dropdown .dropdown-menu .roles{padding:20px;}

.badge { display: inline-block; min-width: 10px; padding: 3px 7px; font-size: 12px; font-weight: bold; line-height: 1; color: #fff; text-align: center; white-space: nowrap; vertical-align: baseline; background-color: #777; border-radius: 10px; }
.badge-notify{ background:red; position:absolute; right: 8px; }

/* Menu */
#menu{ height:37px; overflow:hidden;}
#menu .left,#menu .right{padding-left: 0;  margin-bottom: 0;}
#menu .left{ float:left;}
#menu .right{float:right; text-align: right; padding: 2px;}
#menu .right input[type="search"],#menu .right select{padding:4px;}
#menu .right input[type="submit"]{padding:4px; background: #32A336; background-size:auto 30px; border:1px solid #32A336; color:#fff; margin: 1px; cursor: pointer;}
#menu .right input[type="submit"]:hover{background:#fff; color:#000; }

.nav {  padding-left: 0;  margin-bottom: 0;  list-style: none;}
.nav > li {  position: relative;  display: block;}
.nav > li > a {  position: relative;  display: block;  padding: 9px 15px;}
.nav > li > a:hover,.nav > li > a:focus {  text-decoration: none;  background-color: #fff;}
.nav > li.disabled > a {  color: #777;}
.nav > li.disabled > a:hover,.nav > li.disabled > a:focus {  color: #777;  text-decoration: none;  cursor: not-allowed;  background-color: transparent;}
.nav .open > a,.nav .open > a:hover,.nav .open > a:focus {  background-color: #eee;  border-color: #337ab7;}
.nav .nav-divider {  height: 1px;  margin: 9px 0;  overflow: hidden;  background-color: #e5e5e5;}
.nav > li > a > img {  max-width: none;}
.nav-pills > li {  float: left;}
.nav-pills > li + li {margin-left: 1px;}
.nav-pills > li.active > a,.nav-pills > li.active > a:hover,.nav-pills > li.active > a:focus {  color: #000;  background-color: #fff;}

.top-nav-container {width:100%;z-index:999;background: #32A336 url("../img/slice.jpg"); background-size:auto 40px; border:1px solid #32A336;}
.top-nav-container-scroll {position:fixed;top:0;}
.menu-bar {margin-left:0px;padding-left:0}
.topnav a {padding: 3px;color:#fff;font-weight:bold;}
.topnav a:hover, .topnav a:active, .topnav a:focus {text-decoration:none;color: #000;font-weight:bold;}
.topnav a.active{background:#fff; color: #000;}

/* Top Series Menu */
#series-info{width:100%; border:1px solid #32A336; border-top:none; height:34px; }
/* Title #series-info .title{float:left; font-size:16px; padding: 4px; margin: 2px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 300px;}*/
#series-info .title{float:left; font-size:16px; padding: 4px; margin: 2px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 500px;}
#series-info .rank{float:right; font-weight:bold; font-size:16px; padding: 4px; margin: 2px;}
#series-info .filter{float:right; font-weight:bold; margin: 2px;}
#series-info .filter #horiznav_nav{border:none;}
#series-info .social { float:left; font-size:24px; }
#series-info .social a { padding:4px; }
#series-info .social a:hover{ text-decoration:underline;}
#series-info .social a.fb { color:#3B5998; }
#series-info .social a.gp { color:#DD4B39; }
#series-info .social a.tw { color:#55ACEE; }

/* AdminCP Menu */
.admincp-menu{ margin: 4px auto; }
.list-group { padding-left: 0; margin-bottom: 20px;}
.list-group-item { position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd;}
.list-group-item:first-child { border-top-left-radius: 4px; border-top-right-radius: 4px;}
.list-group-item:last-child { margin-bottom: 0; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;}
a.list-group-item { color: #000;}
a.list-group-item .list-group-item-heading { color: #333;}
a.list-group-item:hover,a.list-group-item:focus { color: #fff; text-decoration: none; background-color: #32A336; border-color: #32A336;  }
.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus { z-index: 2; color: #fff; background-color: #32A336; border-color: #32A336;}

/* Tab System */
.tabs{margin-top:10px;}
.tabs ul { list-style: none; width: auto; margin: 0px; padding-left: 10px; position: relative; }
.tabs li { float: left; margin-right: 5px; }
.tabs .tab-menu li a { font-size: 12px; text-transform: uppercase; font-weight: bold; position: relative;}
.tabs .tab-menu { height: 35px; overflow: hidden;}
.tabs .tabs_container { border: 1px solid #32A336; border-top: 3px solid #32A336; }
.tabs_view .tab-menu li { border: 1px solid #32A336; background: #fff; border-radius: 4px;}
.tabs_view .tab-menu li a { color: #32A336; display: block; height: 35px; padding: 8px; text-align: center; }
.tabs_view .tab-menu .selected, .tabs_view .tab-menu li:hover { background: #32A336; border: 1px solid #32A336; border-bottom: none !important; padding-bottom: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }
.tabs_view .tab-menu .selected a, .tabs_view .tab-menu li:hover a {  color: #fff; }

/* Section Aside */
section, aside { border:1px solid #32A336;margin:0.04%; margin-top: 4px; padding:0.04%; display:block;}
section {float: left; width: 75%;  }
aside {float: right;width: 24.5%;}

#content,#sidebar{padding: 2px; }
#content h1,#sidebar h1{font-size:16px; font-weight: normal; padding: 4px; margin: 0 auto; background: #32A336 url("../img/slice.jpg"); background-size:auto 30px; color:#fff;}
#sidebar{line-height: 20px;}
#sidebar .manga_of_the_week {padding:2px;}
#sidebar .manga_of_the_week .series-cover{float:left; border:2px solid #32A336; margin-right:8px;}
#sidebar .cover{ margin: 4px auto; width:300px; text-align:center;}
#sidebar .cover img { border: 2px solid #32A336; }


#series-menu, #horiznav_nav {padding:0 8px 4px 8px; margin-top:6px;	border-width:0px 0px 1px 0px;	border-color: #32A336;	border-style:solid;	line-height:1.4em}
#series-menu{ margin-top:10px; }
#series-menu ul,#horiznav_nav ul { display:inline;	margin-top:0;	padding-left:0;	margin-left:0;	font-family:arial, helvetica, sans-serif}
#series-menu ul li,#horiznav_nav ul li { margin:0;	padding:0px; height:16px; display:inline;	background:#fff}
#series-menu ul li a, #horiznav_nav ul li a {	padding:0.4em;	background:#fff;	color:#1d439b; text-decoration:none; font-family:Arial, Verdana;	font-weight:normal}
#series-menu li a.active,#series-menu ul li a:hover , #horiznav_nav ul li a.active,#horiznav_nav ul li a:hover { background: #32A336; background-size:auto 30px; color:#fff}


/* Series Description Page */
#content .headline{background: #32A336 url("../img/slice.jpg"); background-size:auto 30px; color:#fff; margin:0px; height:30px;}
#content .info{padding:4px; margin: 0px 0px 3px 0px; border: 1px solid #32A336;}
#content .info h1{color: #32A336; padding: 5px; background: none; border-bottom: 1px solid #32A336; font-size: 32px; font-weight: normal; font-family: georgia,times new roman,arial; margin: 0px 0px 5px; }
#content .info h1 a{color:#32A336;}
#content .info strong.data{margin-right:10px}
#content .info span.desc{margin-right:20px;font-size:14px}
#content .headline h1{font-size: 14px; font-weight:none; margin:0px; float:left; color:#fff;}
#content .headline .uploaded{float:right; margin:4px; font-size: 14px; padding-right:8px; text-align: center;}
#chapter-list{margin-top: 0.5%;}

/* Search Page */
#search-results{width:100% !important; float: none; padding:2px;}
#search-results .headline{background: #32A336 url("../img/slice.jpg"); background-size:auto 30px;  background-size:auto 30px; color:#fff; padding:4px; margin:0px; height:30px;}
#search-results .headline h1{font-size: 14px; font-weight: normal; font-weight:none; margin:0px; float:left;}
#search-results .headline .status,
#search-results .headline .sort_by{float:right; margin:0px; font-size: 14px; padding-right:8px; width: 4%; text-align: center;}

#search-results .info{ width:100%; max-height:100%; padding:4px;}
#search-results .info .cover{width: 55px;}
#search-results .info .cover img {  padding:1px; border:1px solid #32A336; }
#search-results .info .desc{float:right; width: 85%;}
#search-results .info .desc a {color:#32A336;}
#search-results .info .desc a.title{font-size:14px;}
#search-results .info .status,
#search-results .info .type{float:right; margin-top: 1.5em; font-size: 14px; width:4%; width: 5%; text-align: center;}
#search-results .info .data{padding:4px;}

table tr.odd, .odd ,#search-results .info:nth-child(odd) { background: #E5E4E2; color: #000;}

#search-results .button_add{ padding: 1px 4px;}
#search-results a.button_add:hover{background: #32A336; color:#fff;}

/* Text Version */
#text-version{width:100% !important; float: none; padding:2px;}
#text-version .headline{background: #32A336 url("../img/slice.jpg"); background-size:auto 30px;  background-size:auto 30px; color:#fff; padding:4px; margin:0px; height:30px;}
#text-version .headline h1{font-size: 14px; font-weight: normal; font-weight:none; margin:0px; float:left;}
#text-version .headline .upload_date,
#text-version .headline .latest_chapter{float:right; margin:0px; font-size: 14px; padding-right:8px; width: 10%; text-align: center;}

/* Footer */
#footer{ width: 100%; background: #32A336; background-size:auto 30px; padding: 4px; color: #fff; margin: 0 auto; margin-top:4px; border-radius: 5px 5px 0px 0px;}

#footer #horiznav_nav ul li {background: #32A336; }

#footerbg { background: #32A336 url("../img/slice.jpg"); margin: 4px auto; padding: 3px 0px 3px 10px; color: #FFF; font-weight: bold; text-transform: uppercase; text-align: center; }

/* Errors and Success */
#delete{color:#fff; border: 1px solid #fff; border-radius: 5px; background: #DF4A32; font-size: 16px; padding:20px;}
#success-msg,#error-msg{padding:8px;}
#error-msg{ color:#fff; border: 1px solid #fff; border-radius: 5px; background: #DF4A32;}
input.has-error,div.has-error{border: 1px solid #DF4A32 !important;}
#success-msg{ background: #32A336; background-size:auto 30px; color:#fff; border: 1px solid #fff; border-radius: 5px; }

.info-sign { border: 1px solid #32A336;	color: #800000; font-size:14px;font-weight:700;padding:30px 0; background:url('../img/info.png')left no-repeat;	text-align: center}

/* @group 404 */
#error {position:absolute;bottom:0;min-height:573px;width:100%;margin:0;background:url('../img/404.png') no-repeat;overflow:hidden}
#error .grass {position:absolute;bottom:0;width:100%;height:140px;background:url('../img/grass.png');left:800px}
/* @end */

#not-found,#video-error{ color: #32A336; padding: 24px; height: 300px; margin: 8px auto; text-align: center; font-size: 18px; }

#not-found h1,#video-error h1{font-size: 2.5em;}

/* Login Box */
.login-box{ position:relative; margin: 10px auto; width: 500px; background: #fff; }
.login.icons input[type="text"],.login.icons input[type="password"] { width:92%; border-left:none;}
.login-addon{ color:#38B63C; float:left; font-size:2.4em; width:8%; background:#fff; text-align:center;	border:1px solid #38B63C; border-right:none; }
.login-box .logo{text-align:center; padding:8px}
.lb-header{ position:relative; color: #00415d; margin: 5px 5px 10px 5px; padding-bottom:10px; border-bottom: 1px solid #32A336; text-align:center; height:30px;}
.lb-header a{ margin: 0 auto; padding: 10px 20px; text-decoration: none; color: #666; border-radius: 4px 4px 0 0; font-size: 15px; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; transition: all 0.1s linear;}
.lb-header a:hover,.lb-header .active{ color: #fff; background: #32A336; background-size:auto 40px;}
.social-login{ position:relative; float: left; width: 100%; height:auto; padding: 10px 0 15px 0; border-bottom: 1px solid #eee;}
.social-login a{ position:relative; float: left; width: 40%; text-decoration: none; color: #fff; border: 1px solid rgba(0,0,0,0.05); padding: 12px; border-radius: 2px; font-size: 12px; text-transform: uppercase; margin: 0 3%; text-align:center;}
.social-login a:hover{color:#fff;}
.social-login a i{ position: relative; float: left; width: 20px; height: 20px; bottom: 2px; margin-right: 8px; font-size:24px;}
.social-login a:first-child{ background: #49639F;}
.social-login a:last-child{ background: #DF4A32;}
.email-login,.email-signup,.user-forgot-password,.series-create{ position:relative; width: 100%; height:auto; text-align:left;}
.u-form-group{ width:100%; margin-bottom: 10px;}
.u-form-group.half{width: 20%;margin-right: 4px;display:inline-block;}
.u-form-group.half-40{width: 40%;margin-right: 4px;display:inline-block;}
.u-form-group.half-2{width: 15%;margin-right: 4px;display:inline-block;}
.u-form-group label{font-weight:bold;}
.u-form-group textarea,.u-form-group select,.u-form-group input[type="email"],.u-form-group input[type="text"],.u-form-group input[type="password"]{width: 100%; height:45px; outline: none; border: 1px solid #ddd; padding: 0 10px; border-radius: 2px; color: #333; -webkit-transition:all 0.1s linear; -moz-transition:all 0.1s linear; transition:all 0.1s linear;}
.u-form-group textarea:focus,.u-form-group select:focus,.u-form-group input:focus{ border-color: #32A336;}
.u-form-group textarea{height:100%; padding: 6px 12px}
.u-form-group button{width: 100%; background: #32A336; border: none; outline: none; color: #fff; font-size: 14px; font-weight: normal; padding: 14px 0; border-radius: 2px; text-transform: uppercase; cursor:pointer;}
.u-form-group button.reset{ background:#d9534f; }
.forgot-password{ width:50%; text-align: left; text-decoration: underline; color: #888; font-size: 0.75rem;}

/* Profile */
.verified{background:url("../img/verified.png") no-repeat; width:20px; height:20px; display: inline-block; }
#profile_img{ background-color: #fff; border-radius:5px;width: 200px; height: 200px; border: 1px solid #38B63C; text-align: center; margin:0 auto; position:relative;}
#upload-avatar{ background: rgba(0,0,0,0.35); color: #fff; bottom: 5px; position: absolute; right: 5px; padding: 5px 10px; cursor: pointer; }

/* Series Create */
.series-create,.profile-edit{ margin-top: 2px; padding: 10px; position:relative; display: block; }
.series-create .add-files{ background: #32A336; width: 100%; font-size: 14px; font-weight: normal; padding: 14px 0; border-radius: 2px; text-transform: uppercase; cursor: pointer; text-align: center; color: #fff; display: inline-table; }
.series-create .primary{color: #FFF; background-color: #3071A9; border-color: #285E8E;}
.series-create .warning{background-color: #F0AD4E; border-color: #EEA236;}
.series-create .delete{ display: inline-block; width: 100%; background: #d9534f; border: none; outline: none; color: #fff; font-size: 14px; font-weight: normal; padding: 14px 0; border-radius: 2px; text-transform: uppercase; cursor:pointer;text-align: center;}
.series-create .check-slug{ position: relative; }
.series-create .series-status{ bottom: 12px; right:10px; text-align:center; position: absolute; cursor: pointer;}
.series-create .series-status.success{ color:#38B63C; }
.series-create .series-status.error{ color:#d9534f; }
.series-chapter-list{ padding: 4px; }

/* Notification */
#notification_container {background-color: #fff; border: 1px solid #32A336; overflow: visible;position: absolute;top: 35px; right: 5px; width: 400px;z-index: 30;display: none; }
#notification_container:before{content: '';display: block;position: absolute;width: 0;height: 0; color: transparent; border: 10px solid; border-color: transparent transparent #32A336; margin-top: -20px; right:5px}
#notifications_body { height:300px; color: #000; padding: 4px; overflow-x:none; overflow-y: auto; }
#notification_title,
#notification_footer {background-color: #32A336;text-align: center;font-weight: bold;padding: 8px;font-size: 12px;border-top: 1px solid #32A336;}
#notification_title{text-align:left; border-bottom: 1px solid #dddddd;}
#notification_container .media{margin:0; padding:0;}
#notifications_body h1{font-size:14px; margin: 15px auto; font-weight: bold;}
#notification_title .mark-read{padding: 0px;}

/* Uploader */
#files .media-right{width:25%;}
#files .u-form-group.half{ width: 40%; }
#files .dz-image{position:relative;}
#files .dz-success-mark,#files .dz-error-mark{position:absolute;top:15px;left:14px; display:none;}
#files .dz-progress{background:#fff; border:1px solid #32A336; height:10px;}

.fileinput-button input{  position: relative; cursor: pointer; padding: 8px; width: 100%; height: 100%; overflow: hidden; }

/* Dropdown Menu */
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
top: 25px;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color:  #fff;
  position: absolute;
  top: -7px;
  right: 9px;
}


.dropdown-menu .pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* Breadcrumbs */
.location {width:100%; height:35px; margin-top:4px; border:1px solid #32A336; font-family:"Trebuchet MS",sans-serif;font-size:15px;color:#fff;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.location .inner {border:1px solid #fff;  background: #32A336 url("../img/slice.jpg"); background-size:auto 40px; background-size:auto 33px; height:33px;line-height:30px;padding-left:5px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.location .walk {display:block;float:left;height:33px;line-height:30px;overflow:hidden}
.location .inner .walk li {float:left;height:33px;line-height:33px;margin-right:5px;color:#fff}
.location .walk li a,.location .walk a {color:#fff}
.location .walk li.last a,.location .walk li.last a:link,.location .walk li.last a:visited {color:#fff}
.location .inner .Manga-box {float:right;height:35px;line-height:33px;padding:0px 3px 0 0}

/* Chapter Navigation */
#chapter-navigation {text-align:center;font-weight:bold;color:#000;background:#fff;margin:10px;padding:8px;margin-left:auto;margin-right:auto}
#chapter-navigation a {border:#32A336 1px solid;padding:8px;color:#32A336;text-decoration:none;background:#FFF;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#chapter-navigation a:hover {border: 1px solid #32A336; color:#ffffff; background: #32A336; background-size:auto 40px;}
#chapter-navigation span {margin:4px;padding:8px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#chapter-navigation span.current {border: 1px solid #32A336; color:#fff; background:#32A336}
#chapter-navigation span.disabled {border:1px solid #bbb; color:#929292}

/* Page Navigation */ 
#Navigation { font-weight: bold;  margin-bottom:10px; padding: 4px; height:40px}
#Navigation ul {margin:0; padding:0; list-style:none; float:left; margin-right:7px }
#Navigation ul li {float:left;margin-left:5px;height:3em; line-height:25px}
#Navigation ul li a {float:left;margin-left:5px; line-height:25px}
#Navigation li a.active,#Navigation li a.sel { border: 1px solid #32A336; color: #ffffff; background: #32A336; background-size:auto 40px; padding: 2px 10px;-moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#Navigation a { border: 1px solid #32A336; padding: 2px 10px; color: #32A336; text-decoration: none; background: #FFF; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;  }
#Navigation a:hover { border: 1px solid #32A336; color: #ffffff; background: #32A336; background-size:auto 40px; }
#Navigation span { padding: 2px 10px}

.pagination{display:inline-block; font-weight: bold; margin-bottom:10px; padding: 4px; height:40px;}
.pagination li{display:inline; height: auto; float:left;margin-left:5px; line-height:25px; }
.pagination ul{margin:0; padding:0; list-style:none; float:left; margin-right:7px }
.pagination li a{float:left;margin-left:5px; line-height:25px; }
.pagination li.active{ border: 1px solid #32A336; color: #ffffff; background: #32A336; background-size:auto 40px; padding: 2px 10px;-moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.pagination a{ border: 1px solid #32A336; padding: 2px 10px; color: #32A336; text-decoration: none; background: #FFF; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;  }
.pagination a:hover{ border: 1px solid #32A336; color: #ffffff; background: #32A336; background-size:auto 40px; }
.pagination li.disabled{ cursor: not-allowed; border: 1px solid gray; color: #000; padding: 2px 10px;-moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

/* Reader */
#reader {margin:3px auto;text-align:center; position: relative; }
#reader #picture {border:4px solid #32A336}
#reader .left-side,#reader .right-side{position:absolute;border:2px solid #32A336; width: 160px; height:600px; background: url("../img/block_sky.png"); display:none;}
#reader .left-side{left:0px; }
#reader .right-side{right:0px;}
#reader .left-side .close,#reader .right-side .close{ position: absolute; bottom: 100%; background: #32A336; right: 0px; display: block; color: #fff; padding: 4px; border-radius: 5px 5px 0px 0px; }

.images-list {text-align:center}
#img_list,#img_load {text-align:center;color:#000}
.picture {text-align:center;border-radius:5px;border:4px solid #32A336}
.pages {text-align:center;padding:4px;font-size:16px}
.pager {margin:3px auto;text-align:center;font-weight:bold;color:#000;background:#fff;padding:8px}
.pager a {border:#32A336 1px solid;padding:8px;color:#32A336;text-decoration:none;background:#FFF;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.pager select {padding:5px;font-weight:bold;color:#000;background:#fff;border:1px solid #32A336}
.pager a:hover {border: 1px solid #32A336; color:#ffffff; background: #32A336; background-size:auto 40px;}
.pager span {padding:8px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.pager span.current {border: 1px solid #32A336; color:#fff; background: #32A336; background-size:auto 30px;}
.pager span.disabled {border:1px solid #bbb; color:#929292}

/* Header Fixed */
a#Top,#Top{position:fixed;bottom:50%;right:20px;color:#fff;display:none;z-index:1030;text-decoration:underline; }
.btn-circle { width:30px; text-align:center; padding:6px 0; font-size:12px; line-height:1.42; color:#fff; border-radius: 5px; background: #32A336; background-size:auto 30px; border:1px solid #32A336; }
.fixed{position:fixed;top:0%;left:0%;right:0%;background:#fff; padding: 8px; height: 45px; border-bottom: 2px solid #32A336;}

/* Table */
td.data {width:300px}
table tr.headline {background: #32A336 url("../img/slice.jpg"); background-size:auto 30px; color:#fff;}
table td {padding: 4px}
table tr .series {padding-left: 3px}
td.upload_date{ text-align: right; }

/* List */
#list{width:100%; margin:3px;}
#list .hot_list{width:125px;display:inline-block;clear:both; vertical-align:top; text-align:center;}
#list .hot_list img{padding:1px;border:1px solid #32A336;}

/* Ajax Search */
.typeahead__list > li > a, .typeahead__dropdown > li > a { padding:0px !important; white-space:none; white-space: unset !important;}
.typeahead__container.hint .typeahead__field input {background: transparent url("../img/search.png") no-repeat 4px center !important; padding: 3px 3px 3px 25px; }
.ajax-search .typeahead__result .typeahead__list > li > a:hover, 
.ajax-search .typeahead__result.typeahead__list > li > a:focus, 
.ajax-search .typeahead__result .typeahead__list > li.active > a, .typeahead__dropdown > li > a:hover, 
.ajax-search .typeahead__result .typeahead__dropdown > li > a:focus, 
.ajax-search .typeahead__result .typeahead__dropdown > li.active > a{ color:#fff; background: #32A336; background-size:auto 80px;}
.ajax-search .typeahead__result .typeahead__list { width: 400px; max-height: 400px; overflow-y: auto; overflow-x: hidden; text-overflow: ellipsis;}
.ajax-search .typeahead__result .typeahead__list .result .info{ width:100%; max-height: 100%; padding: 4px;}
.ajax-search .typeahead__result .typeahead__list .result .info .cover{width: 55px; height:55px; display:inline-block; position: relative;}
.ajax-search .typeahead__result .typeahead__list .result .info .desc a.title{font-size:14px;}
.ajax-search .typeahead__result .typeahead__list .result .info .cover img {  padding:1px; border:1px solid #32A336; }
.ajax-search .typeahead__result .typeahead__list .result .info .desc{float:right; width: 85%;}
.ajax-search .typeahead__result .typeahead__list .result .info .cover .rank{ position: absolute; top: 0px; left: 0px; background: rgba(0,0,0,0.5); color: #fff; width: 100%; padding: 0 4px; }
.ajax-search .typeahead__result .typeahead__list .result .info .desc a {color:#32A336;}
.ajax-search .typeahead__result .typeahead__list .result .info .desc .title .author{font-style: italic;}
.ajax-search .typeahead__result .typeahead__list .result .info .desc .title{font-size:14px;
cursor:pointer;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;height:18px;vertical-align:middle;width:90%;line-height:18px;float:left;padding:0 5px; }
.ajax-search .typeahead__result .typeahead__list .result .info .desc .category{cursor:pointer;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis; vertical-align:middle;width:90%;line-height:35px;height: 24px;float:left;padding:0 5px; margin:2px auto; }

header .ajax-search{ float: left; width:20%; height:30px; margin-left: 2%;  }
header .ajax-search input[type="text"],header .ajax-search input[type="search"]{  border:1px solid #32A336; border-radius: 5px 0px 0px 5px; } 
header .ajax-search button[type="submit"]{border:1px solid #32A336; background: #32A336; background-size:auto 30px; color:#fff; cursor:pointer; border-radius:  0px 5px 5px 0px; }
header .ajax-search input{ font-size:14px; line-height:1.42857143; color:#555; border:1px solid #ccc; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075); }
header .ajax-search input[type="text"]:focus,header .ajax-search input[type="search"]:focus,textarea:focus { border-color:#66afe9;  }

header .ajax-search .search-input{ background: #FFF url("../img/search.png") no-repeat 4px center !important; padding: 3px 3px 3px 25px; }
header .ajax-search .search-loading{background: #FFF url("../img/loader.gif") no-repeat 4px center !important; padding: 3px 3px 3px 25px; }

/* BookMarks */


/* Media Unit */
.media { margin: 8px; text-align: center;}
.unit { display: inline-block; width: 32.55%; text-align: center; vertical-align: top; }

/* Media */
.media_box { padding:4px;}
.media_box:first-child {  margin-top: 0;}
.media_box,.media-body {  overflow: hidden;  zoom: 1;}
.media-body {  width: 10000px;}
.media-object {  display: block;}
.media_box .upload_time {width: 10%; }
.media_box .cover {width: 55px; height: 55px;}
.media_box .cover img {  padding:1px; border:1px solid #32A336; width: 50px; height: 50px;}
.media-right,.media > .pull-right {  padding-left: 10px;}
.media-left,.media > .pull-left {  padding-right: 10px;}
.media-left,.media-right,.media-body {  display: table-cell;  vertical-align: top;}
.media-middle {  vertical-align: middle;}
.media-bottom {  vertical-align: bottom;}
.media-heading {  margin-top: 0;  margin-bottom: 5px;}
.media-list {  padding-left: 0;  list-style: none;}
.media_box h1.media-heading{font-size:14px !important; background:none !important;}
.media_box h1.media-heading a{ color: #32A336;}

#rss { border:1px solid #32A336; border-radius: 5px; width:40%; padding:10px; float:left; position: relative; }
#rss * { vertical-align:middle }
#rss ul { padding-bottom:5px }
#rss li { height:22px; }
#rss .box { width:150px }
#rss fieldset a { vertical-align:top; text-decoration:none; }
#rss a { color:#014387; font-weight:400; }
#rss h1{ font-weight : bold; font-size: 14px !important; font-weight: 900 !important; }
a.rss { 	background:url("../img/feed.png") left top no-repeat; padding-left:25px; padding-bottom:2px; cursor:pointer; }

/* Category */
.capitalize { text-transform: capitalize;}
#category li { display: inline-block; width: 120px;}

#infscr-loading{background: #fff; letter-spacing:0; border-radius:10px; bottom:60px; color:#222; font-size:15px; font-weight:bold; left:50%; margin-left:-45px;  padding:10px 20px; position:fixed; text-align:center; z-index:100; border: 2px solid #32A336;}

/* genres */
.genres-manga{padding:20px 0;  min-height:460px;}
.genres-manga .top-search{position:inherit; top:auto; left:auto;}
.genres-manga .top-search-content input:-webkit-autofill{-webkit-box-shadow:0 0 0px 1000px #fff inset;}
.genres-list{letter-spacing:-4px; margin-bottom:30px;}
.genres-list li{display:inline-block; letter-spacing:0; width:33%; vertical-align:top;}
.genres-list li a{color:#000; border:1px solid #ddd; display:block; line-height:36px; text-align:center; margin:-1px -1px 0 0;}
.genres-list li a.select, .genres-list li a:active{color:#79b42b; background-color:#f3f3f3;}
.genres-list li a:hover{background:#32A336; color: #fff;}
.status-list{letter-spacing:-4px; text-align:center; margin: 8px auto;}
.status-list li{display:inline-block; letter-spacing:0; width:25%; vertical-align:top;}
.status-list li a{color:#000; border:1px solid #ddd; display:block; line-height:36px; text-align:center; margin:0 -1px 0 0;}
.status-list li a.active, .status-list li a:active{color:#fff; background-color:#32A336;}
.status-list li a.select i, .status-list li a:active i{color:#fff;}
.status-list li a:hover{background:#32A336; color: #fff;}

/* Search */
.top-search{position:absolute; left:0; top:15px; height:30px; width:100%;}
.top-search-content{position:relative; margin:0 10px; line-height:30px; padding:0 10px; border-radius:20px; border: 1px solid #32A336;}
.top-search-content input{border:none; background:none;}
.top-search-content input:-webkit-autofill{-webkit-box-shadow:0 0 0px 1000px #f9f9f9 inset;}
.top-search-content .search-text{width:100%; color:#000; font-size:15px; padding:3px 0; line-height:24px;}
.top-search-content .search-icon{position:absolute; top:0; right:0; color:#fff; cursor:pointer; text-align:center; line-height:30px; font-size:13px; background-color:#32A336; border-radius:20px; height:32px;}
/* title */
.title-black{height:36px; line-height:36px; padding:0 10px; color:#454545; font-size:14px;}
.title-green{font-size:18px; line-height:24px; margin:20px 0 10px; text-align:center; color:#32A336;}
.title-green span{font-weight:700; color:#32A336;}
.title-green a,.title-black a{color: #32A336;}
.title-green span.disabled { color: #929292;}

/* Chat */
#chat-btn{position: fixed; bottom:10px; left:5px; background:#32A336; color:#fff; border:1px solid #32A336; border-radius:5px; padding:8px; cursor: pointer;}
#chat-btn:disabled{opacity:0.5;}
#chat{ position: fixed; bottom: 10%; width:90%; height:452px; border: 1px solid #32A336; border-radius:5px; display:none; z-index:1030; background:#fff;}
#chat :after{content: ''; display: block;  position: absolute; left: 20px; top: 100%; width: 0; height: 0; border-top: 10px solid #32A336; border-bottom: 10px solid transparent; border-left: 10px solid transparent; border-right: 10px solid transparent; }
#chat .header,#chat .footer{background:#32A336; color: #fff; padding:8px;}
#chat .header .close{ float:right; text-align: center; cursor:pointer;}

/* Progress bars */
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}