@charset "EUC-JP";

/*
 * =============================================================
 * 追加　タイプA
 * =============================================================
 */

/*#easy_search */
#main .box_use_car_search .easy_search_wrapper {
    width: 388px;
    margin-bottom: 10px;
    float: left;
}

#main .box_use_car_search #easy_search {
	width: auto;
	padding: 8px 0 0 0;
	background: #fef3f3;
	border: 1px solid #ffc8c8;
}

#main .box_use_car_search #easy_search h3 {
    font-size: 117%;
    font-weight: bold;
    margin: 0;
    padding: 0 0 6px 14px;
	/* img.goo-net.com化 mod 20131219 */
	background:transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/caption/caption_red_mark.gif) no-repeat 0 2px;
}

#main .box_use_car_search #easy_search dl {
    width: auto;
    margin: 0 12px;
}
#main .box_use_car_search #easy_search dl.pref_order_wrapper {
    margin-bottom: 12px;
}

#main .box_use_car_search #easy_search dl.pref_order_wrapper dd {
	margin: 0 0 0 5px;
	padding: 3px 0 0 0;
	position: relative;
	z-index: 1;
}

#main .box_use_car_search #easy_search dl.pref_order_wrapper dd .pref_select_box {
	width: 360px;
	padding: 35px 35px 20px;
	display: none;
	background: #fff;
	border: 1px solid #ccc;
	position: absolute;
	top: 45px;
	left: -125px;
	z-index: 1;
}

#main .box_use_car_search #easy_search dl.pref_order_wrapper dd .pref_select_box .balloon_bg {
	position: absolute;
	top: -13px;
	left: 248px;
}

#main .box_use_car_search #easy_search dl.pref_order_wrapper dd .pref_select_box div { margin: 0 0 4px;}
#main .box_use_car_search #easy_search dl.pref_order_wrapper dd .pref_select_box div.all_prefectures { margin: 0 0 4px 62px;}

#main .box_use_car_search #easy_search dl.pref_order_wrapper dd .pref_select_box div label {
	display: inline-block;
	margin: 0 3px 0 0;
	padding: 3px 5px;
	background-color: #fafafa;
	border: 1px solid #cccccc;
	position: relative;
}

#main .box_use_car_search #easy_search dl.pref_order_wrapper dd .pref_select_box div label.checkBtn {
	background-color: #555555;
	color: #fff;
}

#main .box_use_car_search #easy_search dl.pref_order_wrapper dd .pref_select_box div input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

#main .box_use_car_search #easy_search dl.pref_order_wrapper dd .pref_select_box div span {
	display: inline-block;
	width: 50px;
	text-align: right;
	cursor: pointer;
}

#main .box_use_car_search #easy_search dl.pref_order_wrapper dd .pref_select_box div span.select_allowed {
	text-decoration: underline;
	cursor: pointer;
}

#main .box_use_car_search #easy_search dl.pref_order_wrapper dd .pref_select_box div.btn_border {
	margin: 20px 0 0;
	text-align: center;
}

#main .box_use_car_search #easy_search dl.pref_order_wrapper dd .pref_select_box div.btn_border a {
	width: 290px;
	margin: 0 auto;
	padding: 8px 0 6px;
	display: inline-block;
	background: url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/button/btn_red_2016.png) no-repeat top center;
	color: #fff;
	font-size: 134%;
	font-weight: bold;
	text-decoration: none;
}
#main .box_use_car_search #easy_search dl.pref_order_wrapper dd .pref_select_box div.btn_border a:hover { background: url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/button/btn_red_2016_hover.png) no-repeat top center;}

#main .box_use_car_search #easy_search dl dt{
    width: 80px;
    text-align: center;
    padding: 8px 5px 8px 0;
    float: left;
    font-size: 117%;
    font-weight: bold;
}

#main .box_use_car_search #easy_search dl dd{
    padding: 7px 0 0 0;
    float: left;
}

#main .box_use_car_search #easy_search dl dd select {
    margin-left: 5px;
    width: 133px;
    cursor :pointer;
    border: 1px solid #cccccc;
}

#main .box_use_car_search #easy_search dl dd a.pref_select {
	display: block;
	width: 270px;
	text-align: center;
	padding: 5px 0;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	background: url(http://img.goo-net.com/goo/common_v2/img/bg_btn_pref_select.png?161105) no-repeat;
}
#main .box_use_car_search #easy_search dl dd a.pref_select:hover { background: url(http://img.goo-net.com/goo/common_v2/img/bg_btn_pref_select_on.png?161105) no-repeat;}

#main .box_use_car_search #easy_search table {
    width: 368px;
    margin: 0 0 10px 10px;
    border-collapse: collapse;
}

#main .box_use_car_search #easy_search table tbody {
    width: 100%;
}
#main .box_use_car_search #easy_search table tbody tr {
    width: 100%;
}

#main .box_use_car_search #easy_search table td {
    width: 91px;
    height: 95px;
    border-right: 1px solid #fff7f2;
    border-bottom: 1px solid #fff7f2;
}

#main .box_use_car_search #easy_search table td.disabled_on .count span,
#main .box_use_car_search #easy_search table td.disabled_off .count span {
    color: #cccccc;
}

#main .box_use_car_search #easy_search table td label {
    width: 91px;
    height: 95px;
    display: block;
    cursor :pointer;
    line-height:1em;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

#main .box_use_car_search #easy_search table td span {
    display: block;
}

#main .box_use_car_search #easy_search table td span.chkbox {
    height: 75px;
    padding: 5px 5px 0 5px;
}

#main .box_use_car_search #easy_search table td span.chkbox input {
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 1em;
    height: 1em;
}

#main .box_use_car_search #easy_search table td span.type_name {
    display: none;
    line-height: 0;
}

#main .box_use_car_search #easy_search table td span.count {
    width: 91px;
    padding-top: 5px;
    text-align: center;
    display: block;
    position: absolute;
    top: 75px;
    left: 1px;
}

/* type image::mouseover_off */
#main .box_use_car_search #easy_search table td#wr_t1,
#main .box_use_car_search #easy_search table td#wr_t1.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat 0 0;}

#main .box_use_car_search #easy_search table td#wr_t2,
#main .box_use_car_search #easy_search table td#wr_t2.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat -91px 0;}

#main .box_use_car_search #easy_search table td#wr_t3,
#main .box_use_car_search #easy_search table td#wr_t3.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat -182px 0;}

#main .box_use_car_search #easy_search table td#wr_t4,
#main .box_use_car_search #easy_search table td#wr_t4.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat -273px 0;}

#main .box_use_car_search #easy_search table td#wr_t5,
#main .box_use_car_search #easy_search table td#wr_t5.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat 0 -96px;}

#main .box_use_car_search #easy_search table td#wr_t6,
#main .box_use_car_search #easy_search table td#wr_t6.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat -91px -96px;}

#main .box_use_car_search #easy_search table td#wr_t7,
#main .box_use_car_search #easy_search table td#wr_t7.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat -182px -96px;}

#main .box_use_car_search #easy_search table td#wr_t8,
#main .box_use_car_search #easy_search table td#wr_t8.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat -273px -96px;}

#main .box_use_car_search #easy_search table td#wr_t9,
#main .box_use_car_search #easy_search table td#wr_t9.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat 0 -192px;}

#main .box_use_car_search #easy_search table td#wr_t10,
#main .box_use_car_search #easy_search table td#wr_t10.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat -91px -192px;}

#main .box_use_car_search #easy_search table td#wr_t11,
#main .box_use_car_search #easy_search table td#wr_t11.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat -182px -192px;}

#main .box_use_car_search #easy_search table td#wr_t12,
#main .box_use_car_search #easy_search table td#wr_t12.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat -273px -192px;}

#main .box_use_car_search #easy_search table td#wr_t13,
#main .box_use_car_search #easy_search table td#wr_t13.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat 0 -288px;}

#main .box_use_car_search #easy_search table td#wr_t14,
#main .box_use_car_search #easy_search table td#wr_t14.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat -91px -288px;}

#main .box_use_car_search #easy_search table td#wr_t15,
#main .box_use_car_search #easy_search table td#wr_t15.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat -182px -288px;}

#main .box_use_car_search #easy_search table td#wr_t16,
#main .box_use_car_search #easy_search table td#wr_t16.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat -273px -288px;}

#main .box_use_car_search #easy_search table td#wr_t17,
#main .box_use_car_search #easy_search table td#wr_t17.mouseover_off { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_off_2016.gif?20161017) no-repeat -182px -288px;}

/* type image::mouseover_on */
#main .box_use_car_search #easy_search table td#wr_t1.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat 0 0;}

#main .box_use_car_search #easy_search table td#wr_t2.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat -91px 0;}

#main .box_use_car_search #easy_search table td#wr_t3.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat -182px 0;}

#main .box_use_car_search #easy_search table td#wr_t4.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat -273px 0;}

#main .box_use_car_search #easy_search table td#wr_t5.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat 0 -96px;}

#main .box_use_car_search #easy_search table td#wr_t6.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat -91px -96px;}

#main .box_use_car_search #easy_search table td#wr_t7.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat -182px -96px;}

#main .box_use_car_search #easy_search table td#wr_t8.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat -273px -96px;}

#main .box_use_car_search #easy_search table td#wr_t9.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat 0 -192px;}

#main .box_use_car_search #easy_search table td#wr_t10.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat -91px -192px;}

#main .box_use_car_search #easy_search table td#wr_t11.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat -182px -192px;}

#main .box_use_car_search #easy_search table td#wr_t12.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat -273px -192px;}

#main .box_use_car_search #easy_search table td#wr_t13.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat 0 -288px;}

#main .box_use_car_search #easy_search table td#wr_t14.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat -91px -288px;}

#main .box_use_car_search #easy_search table td#wr_t15.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat -182px -288px;}

#main .box_use_car_search #easy_search table td#wr_t16.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat -273px -288px;}

#main .box_use_car_search #easy_search table td#wr_t17.mouseover_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/default_02_on_2016.gif?20161017) no-repeat -182px -288px;}

/* type image::checked_on */
#main .box_use_car_search #easy_search table td#wr_t1.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat 0 0;}

#main .box_use_car_search #easy_search table td#wr_t2.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat -91px 0;}

#main .box_use_car_search #easy_search table td#wr_t3.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat -182px 0;}

#main .box_use_car_search #easy_search table td#wr_t4.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat -273px 0;}

#main .box_use_car_search #easy_search table td#wr_t5.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat 0 -96px;}

#main .box_use_car_search #easy_search table td#wr_t6.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat -91px -96px;}

#main .box_use_car_search #easy_search table td#wr_t7.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat -182px -96px;}

#main .box_use_car_search #easy_search table td#wr_t8.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat -273px -96px;}

#main .box_use_car_search #easy_search table td#wr_t9.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat 0 -192px;}

#main .box_use_car_search #easy_search table td#wr_t10.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat -91px -192px;}

#main .box_use_car_search #easy_search table td#wr_t11.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat -182px -192px;}

#main .box_use_car_search #easy_search table td#wr_t12.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat -273px -192px;}

#main .box_use_car_search #easy_search table td#wr_t13.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat 0 -288px;}

#main .box_use_car_search #easy_search table td#wr_t14.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat -91px -288px;}

#main .box_use_car_search #easy_search table td#wr_t15.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat -182px -288px;}

#main .box_use_car_search #easy_search table td#wr_t16.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat -273px -288px;}

#main .box_use_car_search #easy_search table td#wr_t17.checked_on label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_on_2016.gif?20161017) no-repeat -182px -288px;}

/* type image::checked_off */
#main .box_use_car_search #easy_search table td#wr_t1.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat 0 0;}

#main .box_use_car_search #easy_search table td#wr_t2.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat -91px 0;}

#main .box_use_car_search #easy_search table td#wr_t3.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat -182px 0;}

#main .box_use_car_search #easy_search table td#wr_t4.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat -273px 0;}

#main .box_use_car_search #easy_search table td#wr_t5.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat 0 -96px;}

#main .box_use_car_search #easy_search table td#wr_t6.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat -91px -96px;}

#main .box_use_car_search #easy_search table td#wr_t7.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat -182px -96px;}

#main .box_use_car_search #easy_search table td#wr_t8.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat -273px -96px;}

#main .box_use_car_search #easy_search table td#wr_t9.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat 0 -192px;}

#main .box_use_car_search #easy_search table td#wr_t10.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat -91px -192px;}

#main .box_use_car_search #easy_search table td#wr_t11.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat -182px -192px;}

#main .box_use_car_search #easy_search table td#wr_t12.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat -273px -192px;}

#main .box_use_car_search #easy_search table td#wr_t13.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat 0 -288px;}

#main .box_use_car_search #easy_search table td#wr_t14.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat -91px -288px;}

#main .box_use_car_search #easy_search table td#wr_t15.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat -182px -288px;}

#main .box_use_car_search #easy_search table td#wr_t16.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat -273px -288px;}

#main .box_use_car_search #easy_search table td#wr_t17.checked_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/checked_02_off_2016.gif?20161017) no-repeat -182px -288px;}

/* type image::disabled_off disabled_on */
#main .box_use_car_search #easy_search table td#wr_t1.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t1.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat 0 0;}

#main .box_use_car_search #easy_search table td#wr_t2.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t2.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat -91px 0;}

#main .box_use_car_search #easy_search table td#wr_t3.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t3.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat -182px 0;}

#main .box_use_car_search #easy_search table td#wr_t4.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t4.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat -273px 0;}

#main .box_use_car_search #easy_search table td#wr_t5.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t5.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat 0 -96px;}

#main .box_use_car_search #easy_search table td#wr_t6.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t6.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat -91px -96px;}

#main .box_use_car_search #easy_search table td#wr_t7.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t7.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat -182px -96px;}

#main .box_use_car_search #easy_search table td#wr_t8.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t8.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat -273px -96px;}

#main .box_use_car_search #easy_search table td#wr_t9.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t9.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat 0 -192px;}

#main .box_use_car_search #easy_search table td#wr_t10.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t10.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat -91px -192px;}

#main .box_use_car_search #easy_search table td#wr_t11.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t11.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat -182px -192px;}

#main .box_use_car_search #easy_search table td#wr_t12.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t12.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat -273px -192px;}

#main .box_use_car_search #easy_search table td#wr_t13.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t13.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat 0 -288px;}

#main .box_use_car_search #easy_search table td#wr_t14.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t14.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat -91px -288px;}

#main .box_use_car_search #easy_search table td#wr_t15.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t15.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat -182px -288px;}

#main .box_use_car_search #easy_search table td#wr_t16.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t16.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat -273px -288px;}

#main .box_use_car_search #easy_search table td#wr_t17.disabled_on label,
#main .box_use_car_search #easy_search table td#wr_t17.disabled_off label { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/easy_search/disabled_02_off_2016.gif?20161017) no-repeat -182px -288px;}

/* submit button */
#main .box_use_car_search #easy_search a.search_submit {
	width: 363px;
	height: 36px;
	margin: 0 0 10px 11px;
	display: block;
	font-size: 134%;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/button/btn_red_2016.png) no-repeat top left;
}

#main .box_use_car_search #easy_search a.search_submit:hover { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/button/btn_red_2016_hover.png) no-repeat top left;}

#main .box_use_car_search #easy_search a.disabled { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/button/btn_red_2016_disabled.png) no-repeat top left;}

#main .box_use_car_search #easy_search a.disabled:hover { background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/button/btn_red_2016_disabled.png) no-repeat top left;}

#main .box_use_car_search #easy_search a.search_submit span {
    width: 363px;
    height: auto;
    padding: 8px 0 0 0;
    _padding: 10px 0 0 0;
    display: block;
    cursor: pointer;
}

/* use_maker_list */
#main .box_use_car_search .use_maker_list_wrapper {
    width: 229px;
    margin-bottom: 10px;
    float: right;
}

#main .box_use_car_search .use_maker_list {
    background: #ffffff;
	padding: 8px 0 0 0;
    height: 550px;
}

#main .box_use_car_search .use_maker_list h3 {
    margin: 0;
    padding: 0 0 6px 14px;
    font-size: 117%;
    font-weight: bold;
	/* img.goo-net.com化 mod 20131219 */
	background:transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/caption/caption_red_mark.gif) no-repeat 0 2px;
}

#main .box_use_car_search .use_maker_list .car_count {
    margin: 0 13px 10px;
    border-bottom: 1px dotted #e60012;
    font-weight: bold;
}

#main .box_use_car_search .use_maker_list .car_count .type {
    width: 60px;
    float: left;
}

#main .box_use_car_search .use_maker_list .car_count .count {
    float: right;
}

#main .box_use_car_search .use_maker_list .car_count .count em {
    color: #e60012;
    font-weight: bold;
}

#main .box_use_car_search .use_maker_list .car_list {
    margin: 0 13px 8px;
}

#main .box_use_car_search .use_maker_list .car_list li {
    padding: 3px 0;
    background: #f2f2f2;
}

#main .box_use_car_search .use_maker_list .car_list li.even {
    background: #ffffff;
}

#main .box_use_car_search .use_maker_list .car_list li p {
    position: relative;
    top: 0;
    left: 0;
}

#main .box_use_car_search .use_maker_list .car_list li p img {
    vertical-align: middle;
}

#main .box_use_car_search .use_maker_list .car_list li p span {
    font-size: 84%;
    position: absolute;
    top: 3px;
    right: 2px;
    _right: 15px;
}

#main .box_use_car_search .use_maker_list .all_list {
    margin: 0 13px 15px;
}

#main .box_use_car_search .use_maker_list .all_list li{
    float: right;
    padding: 0 0 0 14px;
	/* img.goo-net.com化 mod 20131219 */
	background:transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/mark/icon_link.gif) no-repeat 0 3px;
}

#main .box_use_car_search .use_maker_list .all_list li a {
}

#main .box_use_car_search .particular_search {
    clear: both;
    padding: 10px 0;
    background: #ffffff;
}

#main .box_use_car_search .particular_search h3 {
    margin: 0;
    padding: 0 0 6px 14px;
    font-size: 117%;
    font-weight: bold;
	/* img.goo-net.com化 mod 20131219 */
	background:transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/caption/caption_red_mark.gif) no-repeat 0 2px;
}

#main .box_use_car_search .particular_search .culmun  {
    width: 294px;
}

#main .box_use_car_search .particular_search .left {
    margin-left: 13px;
    _margin-left: 6px;
    float: left;
}

#main .box_use_car_search .particular_search .right {
    margin-right: 13px;
    _margin-right: 6px;
    float: right;
}

#main .box_use_car_search .particular_search .culmun ul li {
    padding: 5px;
    background: #f2f2f2;
    position: relative;
    top: 0;
    left: 0;
}

#main .box_use_car_search .particular_search .culmun ul li span {
    position: absolute;
    top: 3px;
    _top: 3px;
    right: 5px;
    _right: 5px;
}

#main .box_use_car_search .particular_search .culmun ul li span em {
    color: #e60012;
    font-size: 125%;
    font-weight: bold;
}

#main .box_use_car_search .particular_search .culmun ul li.even {
    background: #ffffff;
}

/**
 * box_top_information
 * 汎用wrapper
 */
#main .box_top_information .tit_wrap {
    position: relative;
    top: 0;
    left: 0;
}

#main .box_top_information .tit_wrap h3 {
    margin: 0;
    padding: 0 0 6px 14px;
    font-size: 117%;
    font-weight: bold;
	/* img.goo-net.com化 mod 20131219 */
	background:transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/caption/caption_red_mark.gif) no-repeat 0 2px;
    position: relative;
    top: 0;
    left: 0;
}

#main .box_top_information .tit_wrap p.sub {
    color: #747474;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 5px;
}

#main .box_top_information .tit_wrap ul {
    position: absolute;
    top: -3px;
    left: 138px;
}

#main .box_top_information .tit_wrap ul li {
    color: #747474;
    font-weight: bold;
}

#main .box_top_information .tit_wrap ul li em {
    color: #E60012;
    font-size: 150%;
    padding-left: 8px;
    font-weight: bold;
}

/* market_search */
#main .box_top_information .market_search {
    clear: both;
    margin: 0 0 10px 0;
    padding: 10px 0;
    background: #ffffff;
}

#main .box_top_information .market_search.aucs {
	clear:none;
    margin: 0 0 10px 0;
    padding: 10px 0 10px 170px;
    background: #ffffff;
}

#main .box_top_information .market_search .select_wrap {
    margin:0 13px 10px 13px;
    border: 1px solid #ff6e0c;
    background: #fff5ef;
}

#main .box_top_information .market_search .select_wrap dl {
    width: 294px;
}

#main .box_top_information .market_search .select_wrap dl.l {
    float: left;
}

#main .box_top_information .market_search .select_wrap dl.r {
    float: right;
}

#main .box_top_information .market_search .select_wrap dl dt {
    width: 74px;
    line-height: 1em;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    float: left;
}

#main .box_top_information .market_search .select_wrap dl dd {
    padding: 11px 0 0 0;
    _padding: 11px 0 0 0;
    float: left;
}

#main .box_top_information .market_search .select_wrap dl dd select {
    width: 200px;
    height: 18px;
    border: 1px solid #cccccc;
}

#main .box_top_information .market_search .select_wrap dl dd select option {
    height: 18px;
}

/* result1 */
/* result2 */
#main .box_top_information .market_search .select_wrap dl.result1,
#main .box_top_information .market_search .select_wrap dl.result2 {
    width: auto;
}

#main .box_top_information .market_search .select_wrap dl.result1 dt,
#main .box_top_information .market_search .select_wrap dl.result2 dt {
    width: 170px;
    color: #792e29;
    padding: 15px 0 13px 0;
    font-size: 109%;
    text-align: center;
    font-weight: bold;
    float: left;
}

/* result1 */
#main .box_top_information .market_search .select_wrap dl.result1 dd {
    padding: 8px 0 0 0;
    float: left;
    font-weight: bold;
}

#main .box_top_information .market_search .select_wrap dl.result1 dd em {
    padding-right: 5px;
    font-size: 167%;
    color: #e60012;
    font-weight: bold;
}

/* result2 */
#main .box_top_information .market_search .select_wrap dl.result2 dd {
    padding: 12px 0 0 0;
    float: left;
    font-size: 125%;
    font-weight: bold;
}

#main .box_top_information .market_search .submit a {
    width: 279px;
    height: 36px;
    margin: 0 auto 0 auto;
    display: block;
    font-size: 134%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
	/* img.goo-net.com化 mod 20131219 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/button/btn_red_w279.png) no-repeat top left;
}

#main .box_top_information .market_search .submit a span {
    width: 279px;
    height: auto;
    padding: 8px 0 0 0;
    _padding: 10px 0 0 0;
    display: block;
    cursor: pointer;
}

#main .box_top_information .market_search .submit a:hover {
    background: transparent url(/common_v2/img/renewal/type_a/button/btn_red_w279_hover.png) no-repeat top left;
}

/* auction_car */
#main .box_top_information .auction_car {
    clear: both;
    padding: 10px 0;
    background: #ffffff;
}

#main .box_top_information .auction_car .tit_wrap ul {
    left: 199px;
}

#main .box_top_information .auction_car .auction_table_wrapper {
    padding: 0 13px 10px;
}

#main .box_top_information .auction_car .auction_table {
    width: 190px;
    border: 1px solid #cccccc;
    border-bottom:none;
    float: left;
}

#main .box_top_information .auction_car table.column2 {
    margin-left: 15px;
}

#main .box_top_information .auction_car table.column3 {
    float: right;
}

#main .box_top_information .auction_car .auction_table th {
    width: 68px;
    padding: 5px; 
    background: #f2f2f2;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

#main .box_top_information .auction_car .auction_table td {
    padding: 5px;
    border-bottom: 1px solid #cccccc;
}

#main .box_top_information .auction_car .auction_table td.titles {
    padding: 5px 5px 0 5px;
    border-bottom: 1px solid #FFFFFF;
}

#main .box_top_information .auction_car .auction_table td.pic {
    padding: 7px 0 5px 0;
    border: none;
    text-align: center;
}

#main .box_top_information .auction_car .auction_table tr.details th {
    height: 52px;
}

#main .box_top_information .auction_car .all_list {
    margin: 0 13px;
}

#main .box_top_information .auction_car .all_list li{
    float: right;
    padding: 0 0 0 14px;
	/* img.goo-net.com化 mod 20131219 */
	background:transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/mark/icon_link.gif) no-repeat 0 3px;
}

#main .box_top_information .auction_car .all_list li a {
}

/* inspection_search */
#main .box_top_information .inspection_search {
    clear: both;
    margin: 0 0 10px 0;
    padding: 10px 0;
    background: #ffffff;
}

#main .box_top_information .inspection_search .step_wrapper {
    margin-bottom: 10px;
    padding: 0 13px;
}

#main .box_top_information .inspection_search .step_style {
    width: 292px;
    height: 190px;
    border: 1px solid #ff7214;
}

#main .box_top_information .inspection_search .step_style .caption {
    height: 56px;
    margin-bottom: 8px;
    padding: 8px 10px 0 80px;
}

#main .box_top_information .inspection_search .step_style .caption h4 {
    margin-bottom: 3px;
    color: #792e29;
    font-size: 134%;
    font-weight: bold;
}

#main .box_top_information .inspection_search .step_style .caption p {
    color: #333333;
    font-size: 92%;
    line-height: 1em;
}

#main .box_top_information .inspection_search .step1 {
    float: left;
}

#main .box_top_information .inspection_search .step1 .caption {
	/* img.goo-net.com化 mod 20131219 */
	background: #fff5ef url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/inspection_search/inspection_search_step1.gif) no-repeat top left;
}

#main .box_top_information .inspection_search .step1 dl.zip dt {
    width: 63px;
    float: left;
    padding: 5px 0 5px 10px;
    font-weight:bold;
}

#main .box_top_information .inspection_search .step1 dl.zip dt span {
    color: #f6000e;
}

#main .box_top_information .inspection_search .step1 dl.zip dd {
    padding: 10px 0 0 0;
    float: left;
}

#main .box_top_information .inspection_search .step1 dl.zip dd input {
    border: 1px solid #cccccc;
    height: 18px;
}

#main .box_top_information .inspection_search .step1 dl.zip dd #zip1 {
    width: 40px;
}

#main .box_top_information .inspection_search .step1 dl.zip dd #zip2 {
    width: 49px;
}

#main .box_top_information .inspection_search .step1 dl.zip dd a {
    padding-left: 10px;
    font-size: 84%;
}

#main .box_top_information .inspection_search .step1 dl.distance dt {
    width: 63px;
    padding: 5px 0 5px 10px;
    font-weight: bold;
}

#main .box_top_information .inspection_search .step1 dl.distance dd {
    padding: 0 0 0 13px;
}

#main .box_top_information .inspection_search .step1 dl.distance dd p {
    width: 90px;
    float: left;
}

#main .box_top_information .inspection_search .step1 dl.distance dd p input {
    margin:0;
    padding: 0;
}

#main .box_top_information .inspection_search .step2 {
    float: right;
}

#main .box_top_information .inspection_search .step2 .caption {
	/* img.goo-net.com化 mod 20131219 */
	background: #fff5ef url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/inspection_search/inspection_search_step2.gif) no-repeat top left;
}

#main .box_top_information .inspection_search .step2 dl dt {
    width: 63px;
    float: left;
    padding: 5px 0 5px 10px;
    font-weight:bold;
}

#main .box_top_information .inspection_search .step2 dl dd {
    padding: 10px 0 0 0;
    float: left;
}

#main .box_top_information .inspection_search .step2 dl dd select {
    width: 205px;
    border: 1px solid #cccccc;
}

#main .box_top_information .inspection_search .step2 dl dd select option {
    height: 18px;
}

#main .box_top_information .inspection_search .btn input.img {
    width: 280px;
    height: 36px;
    margin: 0 auto;
    display: block;
}

/* mail_order */
#main .box_top_information .mail_order {
    clear: both;
    padding: 10px 0;
    background: #ffffff;
}

#main .box_top_information .mail_order .column1 {
    width: 597px;
    margin-left: 13px;
    _margin-left: 6px;
    margin-bottom: 20px;
}

#main .box_top_information .mail_order .column1 dl {
    width: 114px;
    margin-right: 4px;
    border: 1px solid #cccccc;
    float: left;
}

#main .box_top_information .mail_order .column1 dl.last {
    float: right;
    margin-right: 0;
}

#main .box_top_information .mail_order .column1 dl dt {
    padding: 1px;
    text-align: center;
}

#main .box_top_information .mail_order .column1 dl dd {
    text-align: center;
    padding: 10px 0 8px 0;
}


#main .box_top_information .mail_order .searchBtn a{
	background: url("http://img.goo-net.com/goo/common_v2/img/renewal/type_a/button/btn_parts_search.png") no-repeat;
	display: block;
	width: 280px;
	height: 36px;
	margin: 0 auto;
}


#main .box_top_information .mail_order .searchBtn a:hover{
	background: url("http://img.goo-net.com/goo/common_v2/img/renewal/type_a/button/btn_parts_search_hover.png") no-repeat;
}



/**
  * box_roundGrayRed
  * box_roundGrayを複製・変更
  **/
.box_roundGrayRed {
	margin: 0 0 10px 0;
	position: relative;
	z-index: 0;
}

.box_roundGrayRed .roundB { padding: 9px;}

.box_roundGrayRed .tit_area {
	height: 39px;
	margin-bottom: 10px;
}

.box_roundGrayRed .tit_area h1.tit,
.box_roundGrayRed .tit_area h2.tit {
	padding: 14px 0 5px 0;
	_padding: 8px 0 5px 0;
	float: left;
}

.box_roundGrayRed .tit_area h1.tit em,
.box_roundGrayRed .tit_area h2.tit em {
	margin: 0 10px 0 0;
	padding: 0 0 0px 50px;
	font-weight: bold;
	font-size: 180%;
	color: #e60012;
}

.box_roundGrayRed .tit_area h1.w230,
.box_roundGrayRed .tit_area h2.w230 {
    width: 230px;
}

.box_roundGrayRed .tit_area h1.icon_search_used_car,
.box_roundGrayRed .tit_area h2.icon_search_used_car { background: url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/icon/icon_search_used_car_2016.gif) no-repeat 0 5px;}

.box_roundGrayRed .tit_area h1.icon_buy_car,
.box_roundGrayRed .tit_area h2.icon_buy_car {
	background: url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/icon/icon_buy_car_2016.gif) no-repeat 0 5px;
}

.box_roundGrayRed .tit_area h1.icon_ride_car,
.box_roundGrayRed .tit_area h2.icon_ride_car { background: url(http://img.goo-net.com/goo/common_v2/img/renewal/type_a/icon/icon_ride_car_2016.gif) no-repeat 0 5px;}

#main .box_roundGrayRed .tit_area ul.car_count {
	float: right;
	padding: 12px 0 0 0;
	_padding: 14px 0 0 0;
}

#main .box_roundGrayRed .tit_area ul.car_count li{
	float: left;
	padding: 2px 6px 2px 6px;
	font-weight: bold;
}

#main .box_roundGrayRed .tit_area ul.car_count li img {
	margin: -2px 2px 0 0;
}

#main .box_roundGrayRed .tit_area ul.car_count li em {
	color: #f6000f;
	font-weight: bold;
	margin: 0 3px 0 5px;
}

#main .box_roundGrayRed .tit_area ul.car_count li:first-child {
	border-left: none;
	padding-left: 0px;
}

#main .box_roundGrayRed .tit_area ul.car_count li.judge {
	line-height: 1.6;
}

#main .box_roundGrayRed .tit_area ul.car_count li.judge em {
	color: #ff0000;
	font-size: 117%;
}

#main .box_roundGrayRed .tit_area ul.car_count li.oldCar {
	line-height: 1;
}

#main .box_roundGrayRed .tit_area ul.car_count li.oldCar em {
	font-size: 167%;
}

/* 追加ここまで============================================================= */


/* ANG_PRJ-1484 140920 kobashigawa */
#plusSection {
	margin: 0 10px 15px 13px;
}

#plusSection .plusArticle {
	float: left;
	margin-right: 10px;
	width: 290px;
}

* html #plusSection .plusArticle { display: inline; } /* ie6 */

#plusSection .plusArticle .figure {
	float: left;
	width: 71px;
}

#plusSection .plusArticle .txts {
	float: right;
	width: 205px;
}

#plusSection .plusArticle .txts dt {
	margin-bottom: 2px;
	font-size: 134%;
	font-weight: bold;
}


#plusSection .plusBtn {
	float: right;
	padding-top: 10px;
	width: 298px;
}

#plusSection .plusBtn ul {
	margin-left: -6px;
}

#plusSection .plusBtn li {
	float: left;
	margin-left: 6px;
	width: 146px;
}

* html #plusSection .plusBtn li { display: inline; } /* ie6 */


#main .box_use_car_search .particular_search .bannerArea { margin: 0 10px 15px 13px;}

#main .box_use_car_search .particular_search .bannerArea ul { width: 600px;}

#main .box_use_car_search .particular_search .bannerArea ul li {
	width: 294px;
	float: left;
}

#main .box_use_car_search .particular_search .bannerArea ul li:first-child { margin-right: 10px;}



/* use_maker_list btn */
#main .box_use_car_search .use_maker_list.btn .car_list { margin: 0 0 0 10px;}

#main .box_use_car_search .use_maker_list.btn .car_list li {
	margin: 0 10px 10px 0;
	padding: 0;
	float: left;
	background: none;
}

#main .box_use_car_search .use_maker_list.btn .car_list li a {
	width: 59px;
	height: 24px;
	padding: 13px 0 0 40px;
	display: block;
	color: #000;
	line-height: 1;
	text-decoration: none;
	background: url("http://img.goo-net.com/goo/common_v2/img/bg_btn_brand.png") no-repeat;
}

#main .box_use_car_search .use_maker_list.btn .car_list li.btn_lexus a { background-position: 0 0;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_toyota a { background-position: 0 -37px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_nissan a { background-position: 0 -74px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_honda a { background-position: 0 -111px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_mazda a { background-position: 0 -148px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_mitsubishi a { background-position: 0 -185px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_subaru a { background-position: 0 -222px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_daihatsu a { background-position: 0 -259px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_suzuki a { background-position: 0 -296px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_mitsuoka a { background-position: 0 -333px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_mercedes a {
	width: 64px;
	height: 29px;
	padding: 8px 0 0 35px;
	text-align: center;
	font-size: 11px;
	background-position: 0 -370px;
}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_bmw a { background-position: 0 -407px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_volkswagen a {
	width: 64px;
	height: 29px;
	padding: 8px 0 0 35px;
	text-align: center;
	font-size: 11px;
	background-position: 0 -444px;
}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_audi a { background-position: 0 -481px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_mini a { background-position: 0 -518px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_volvo a { background-position: 0 -555px;}

#main .box_use_car_search .use_maker_list.btn .car_list li.btn_lexus a:hover { background-position: -99px 0;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_toyota a:hover { background-position: -99px -37px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_nissan a:hover { background-position: -99px -74px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_honda a:hover { background-position: -99px -111px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_mazda a:hover { background-position: -99px -148px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_mitsubishi a:hover { background-position: -99px -185px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_subaru a:hover { background-position: -99px -222px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_daihatsu a:hover { background-position: -99px -259px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_suzuki a:hover { background-position: -99px -296px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_mitsuoka a:hover { background-position: -99px -333px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_mercedes a:hover { background-position: -99px -370px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_bmw a:hover { background-position: -99px -407px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_volkswagen a:hover { background-position: -99px -444px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_audi a:hover { background-position: -99px -481px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_mini a:hover { background-position: -99px -518px;}
#main .box_use_car_search .use_maker_list.btn .car_list li.btn_volvo a:hover { background-position: -99px -555px;}

#main .box_use_car_search .use_maker_list.btn .car_list li.even {
	background: #ffffff;
}

#main .box_use_car_search .use_maker_list.btn .car_list li p {
	position: relative;
	top: 0;
	left: 0;
}

#main .box_use_car_search .use_maker_list.btn .car_list li p img {
	vertical-align: middle;
}

#main .box_use_car_search .use_maker_list.btn .car_list li p span {
	font-size: 84%;
	position: absolute;
	top: 3px;
	right: 2px;
	_right: 15px;
}

#main .box_use_car_search .use_maker_list.btn .all_list.mb20 { margin: 0 0 0 10px}
#main .box_use_car_search .use_maker_list.btn .all_list { margin: 0 0 0 10px}

#main .box_use_car_search .use_maker_list.btn .all_list li {
	padding: 0;
	float: none;
	background: none;
}

#main .box_use_car_search .use_maker_list.btn .all_list li a {
	width: 209px;
	height: 23px;
	padding-top: 5px;
	display: block;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/bg_btn_brand_search_01_2016.png) no-repeat;
}
#main .box_use_car_search .use_maker_list.btn .all_list li a:hover { background:transparent url(http://img.goo-net.com/goo/common_v2/img/bg_btn_brand_search_01_on_2016.png) no-repeat;}