@charset "EUC-JP";

/*  fixed banner
---------------------------------------------------------- */
/* pattern A */
#fixedbannerA {
	display: none;
	position: fixed;
	_position: absolute;
	left: 0;
	bottom: -162px;
	z-index: 30;
	width: 100%;
	text-align: center;
}

#fixedbannerA .fixedbanner-inner {
	height: 162px;
	background: url(http://img.goo-net.com/img_v2/bg_kantei_a.png) repeat-x left top;
}

#fixedbannerA .bannerBody {
	position: relative;
	width: 1245px;
	height: 162px;
	margin: 0 auto;
	background: url(http://img.goo-net.com/img_v2/bg_kantei_a_body.png) no-repeat left top;
	z-index: 31;
	cursor: pointer;
}

#fixedbannerA .closebtn {
	position: absolute;
	left: 115px;
	top: 115px;
	z-index: 32;
	width: 23px;
	height: 22px;
	cursor: pointer;
}

#fixedbannerA .clickbtn {
	position: absolute;
	left: 945px;
	top: 113px;
	z-index: 32;
	width: 137px;
	height: 50px;
	cursor: pointer;
}

/* pattern B */
html,body { height: 100%;}

#fixedbannerB {
	display: none;
	position: fixed;
	_position: absolute;
	right: -171px;
	top: 0;
	z-index: 30;
	width: 171px;
	height: 100%;
}

#fixedbannerB .fixedbanner-inner {
	height: 100%;
	background: url(http://img.goo-net.com/img_v2/bg_kantei_b.png) repeat-y right top;
}

#fixedbannerB .bannerBody {
	position: relative;
	width: 171px;
	height: 860px;
	background: url(http://img.goo-net.com/img_v2/bg_kantei_b_body.png) no-repeat right top;
	z-index: 31;
	cursor: pointer;
}

#fixedbannerB .clickbtn {
	position: absolute;
	left: 114px;
	top: 319px;
	z-index: 32;
	width: 55px;
	height: 54px;
	cursor: pointer;
}

#fixedbannerB .closebtn {
	position: absolute;
	left: 148px;
	top: 2px;
	z-index: 32;
	width: 23px;
	height: 22px;
	cursor: pointer;
}


#fixedbannerB .catch {
	position: absolute;
	left: 32px;
	top: 353px;
	z-index: 32;
	width: 73px;
	height: 83px;
	cursor: pointer;
}

* html {
	height: 100%;
	overflow: hidden;
}

* html body {
	height: 100%;
	overflow: hidden;
}
* html .ie6-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
}

* html #fixedbannerA {
	position: absolute;
}
* html #fixedbannerB {
	position: absolute;
}

* html #fixedbannerA .fixedbanner-inner{
	margin-right: 16px;
}
* html #fixedbannerB .fixedbanner-inner {
	margin-right: 16px;
	height: expression(document.getElementById("fixedbannerB").offsetHeight - 16 + "px");
}