@charset "EUC-JP";

/*  reset
---------------------------------------------------------- */
#header_v2{
	color: #333333;
	font-size: 12px !important;
	font-family: "メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,sans-serif;
	line-height: 1.4;
	margin-top: 5px;
	margin-bottom: 9px;
}

body{
	behavior:url("/common/css/csshover2.htc");

}

body,
#header_v2 div,
#header_v2 table,
#header_v2 table th,
#header_v2 table td,
#header_v2 ul,
#header_v2 li,
#header_v2 dl,
#header_v2 dt,
#header_v2 dd,
#header_v2 h1,
#header_v2 p{
	margin: 0;
	padding: 0;
}

#header_v2 em{
	font-style: normal;
}

#header_v2 img{
	border: 0;
	vertical-align: top;
}

#header_v2 li{
	list-style: none;
}

#header_v2 table{
	border-spacing: 0;
	border-collapse: separate;
	*border-collapse:collapse;
}

/*  header
---------------------------------------------------------- */

/* #ie6-banner */
#header_v2 #ie6-banner{
	background: url("http://img.goo-net.com/common_v2/img/bg_topbnr_ie6.jpg") repeat-x scroll 0 0 transparent;
	height: 38px;
	margin-bottom: 10px;
	text-align: center;
}

#header_v2 #ie6-banner a{
	background: url("http://img.goo-net.com/common_v2/img/bg_topbnr_ie6.jpg") repeat-x scroll 0 0 transparent;
	color: #FFFFFF;
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding: 9px 0 5px;
	width: 100%;
}

#header_v2 #ie6-banner a:hover{
	background: url("http://img.goo-net.com/common_v2/img/bg_topbnr_ie6_ov.jpg") repeat-x scroll 0 0 transparent;
	text-decoration: none;
}

#header_v2 #ie6-banner a#set_usual span.bgIcon{
	background: url("http://img.goo-net.com/common_v2/img/icon_go_ie6.gif") no-repeat 0 1px;
	padding-left: 25px;
}

#header_v2 #ie6-banner a#set_usual span.ft15{
	font-size: 14px;
}
/* //#ie6-banner */


#header_v2 .inner{
	margin: 0 auto 7px;
	position: relative;
	width: 960px;
	z-index: 20;
}

/*-- logo --*/
#header_v2 #logo{
	margin-top: 8px;
	position: absolute;
	top: auto;
	left: 0;
}
/*
#header_v2 #logo a{
	display: block;
	width: 170px;
	height: 51px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(http://img.goo-net.com/common_v2/img/sprite_header.png) no-repeat 0 0;
}
*/

/*-- copy --*/

#header_v2 .inner h1.copy,
#header_v2 .inner p.copy {
	text-align: left;
	line-height: 1.4;
	color: #474747;
	width: 660px;
}

#header_v2 .top p.copy{
	position: absolute;
	top: 10px;
	left: 0;
}

/*-- ANG_PRJ-847 131126 kobashigawa --*/
#header_v2 .app_link {
	display: none;
	position: absolute;
	top: 0;
	left: 310px;
	padding-right: 8px;
}

#header_v2 .app_link a {
	color: #474747;
}

/*-- top --*/
#header_v2 .top{
	padding : 27px 0 0 0;
	margin: 0 299px 0 191px;
}

#header_v2 .top .search_bg {
	padding: 8px;
	background: #ebebeb;
}

#header_v2 .top .search{
	clear: both;
	padding: 4px;
	position: relative;
}

#header_v2 .top .search .bg{
	border: 2px solid #848484;
	height: 32px;
	width: 379px;
	background: #ffffff;
}

#header_v2 .top .search input{
	border: none;
}

#header_v2 .top .search input.txt{
	width: 373px;
	height: 31px;
	padding: 1px 0 0 6px;
	color: #333333;
	background: none;
	line-height: 1.5em;
	outline: none;
	position: relative;
	line-height: 2;
	font-size: 1.34em;
}

#header_v2 .top .search input.txt:focus{
	color: #000000;
	border: none;
}

/* submit */
#header_v2 .top .search .submit{
	width: 47px;
	height: 23px;
	position: absolute;
	top: 0;
	right: 0;
}

#header_v2 .top .search .submit a{
	width: 47px;
	height: 23px;
	display: block;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	padding: 4px 0 0 0;
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/header_search_btn.png) no-repeat top left;
}

#header_v2 .top .search .submit a:hover{
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/header_search_btn_hover.png) no-repeat top left;
}

#header_v2 .top .search .btn_roundGray{
	height: 36px;
	padding: 0;
	position: absolute;
	right: 8px;
	top: 4px;
	width: 70px;
}

#header_v2 .top .search .btn_roundGray a{
	width: 70px;
	height: 26px;
	display: block;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 0 0 0;
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/header_search_btn02.png) no-repeat top left;
	font-weight: bold;
}

#header_v2 .top .search .btn_roundGray a:hover{
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/header_search_btn02_hover.png) no-repeat top left;
}

/*-- side --*/
#header_v2 .side .utility{ height: 20px;}

#header_v2 .side .utility li{
	float: right;
	padding: 0 8px 0 8px;
	border-right: 1px solid #e5e5e5;
}

#header_v2 .side .utility li a{
	color: #474747;
}

#header_v2 .side .utility li:first-child{
	border: none;
}

#header_v2 .side .list{
	height: 38px;
	clear: both;
	text-align: right;
	position: absolute;
	top: 50px;
	right: 0;
}

#header_v2 .side .listTop {
	top: 0;
}

#header_v2 .side .list .mypage_btn,
#header_v2 .side .list .estimate_btn {
	width: 137px;
	height: 37px;
	float: left;
}

#header_v2 .side .list .mypage_btn a,
#header_v2 .side .list .estimate_btn a{
	width: 137px;
	height: 37px;
	display: block;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	line-height: 1.3;
	font-weight: bold;
}

#header_v2 .side .list .estimate_btn {
	margin-left: 5px;
}

#header_v2 .side .list .mypage_btn a {
	padding: 3px 0 0 0;
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/mypage_btn.png) no-repeat top left;
}
#header_v2 .side .list .estimate_btn a {
	padding: 11px 0 0 0;
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/estimate_btn.png) no-repeat top left;
}

#header_v2 .side .list .mypage_btn a:hover {
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/mypage_btn_hover.png) no-repeat top left;
}
#header_v2 .side .list .estimate_btn a:hover {
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/estimate_btn_hover.png) no-repeat top left;
}

#header_v2 .side .list .btn_roundBlueB a,
#header_v2 .side .list .btn_roundGreenB a,
#header_v2 .side .list .btn_roundRedB a {
	float: left;
	line-height: 1.3;
	font-weight: bold;
}

#header_v2 .side .list .btn_roundGray.mysearch {
	vertical-align: top;
}

/*  search 
---------------------------------------------------------- */
#header_v2.search .inner{
	z-index: 31;
}

#header_v2.search #nav{
	position: relative;
	z-index: 1;
}

#header_v2.search #nav .inner{
	z-index: 20;
}

/*  mysearch
---------------------------------------------------------- */
#header_v2.mysearch .inner {
	height: 70px;
}

#header_v2.mysearch #logo {
	top: 35px;
}

#header_v2.mysearch #nav .snav{
	float: left;
	margin-left: 0;
	padding: 0;
}

#header_v2.mysearch .side .utility{
	top: 68px;
}

/*  noLpNav
---------------------------------------------------------- */
#header_v2.noLpNav #nav .snav{
	float: left;
	padding: 0;
}

#header_v2.noLpNav .side .utility{
	top: 58px;
}

/*  noSearch
---------------------------------------------------------- */


/*  other
---------------------------------------------------------- */
#header_v2.other .inner {
	height: 70px;
}

#header_v2.other #logo {
	top: 35px;
}

#header_v2.other #nav .snav{
	float: left;
	margin-left: 0;
	padding: 0;
}

#header_v2.other .side .utility{
	top: 68px;
}


.box_banner{
	position: relative;
	z-index: 1;
}
/*  banner
---------------------------------------------------------- */
#header_v2.bannerBig #logo{
	top: 123px;
}

#header_v2.bannerBig .inner{
	height: 157px;
}

#header_v2.bannerBig .side .list{
	top: 40px;
}

#header_v2.bannerBig .bnr{
	margin-top: 55px;
	text-align: right;
}

/*  banner
---------------------------------------------------------- */
#header_v2.banner .bnr{
	margin-top: 10px;
	padding-left: 193px;
	width: 468px;
}

/*  long_copy
---------------------------------------------------------- */
#header_v2.long_copy .inner {
	height: auto;
}

#header_v2.long_copy .copy {
	width: 660px;
}

#header_v2.long_copy #logo {
	position: static;
	margin: 8px 0 10px;
}

/*  common
---------------------------------------------------------- */
#header_v2 .btn_roundGray,
#header_v2 .btn_roundBlueB,
#header_v2 .btn_roundGreenB,
#header_v2 .btn_roundRedB{
	float: left;
	height: 37px;
	width: 137px;
	margin-left: 5px;
}

#header_v2 .btn_roundGray a{
	display: inline-block;
	padding: 5px 0 4px 0;
	height: 17px;
	text-align: center;
	color: #ffffff;
	zoom: 1;
	text-decoration: none;
}

#header_v2 .btn_roundBlueB a,
#header_v2 .btn_roundGreenB a,
#header_v2 .btn_roundRedB a{
	display: inline-block;
	width: 135px;
	padding: 9px 0px 7px;
	height: 28px;
	text-align: center;
	color: #ffffff;
	zoom: 1;
	font-size: 100%;
	text-decoration: none;
}

/*-- bg --*/
#header_v2 .btn_roundGray a{
	width: 47px;
	height: 23px;
	display: block;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	padding: 4px 0 0 0;
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/header_search_btn.png) no-repeat top left;
	border:none;

}

#header_v2 .btn_roundGray a.bg_hover{
	background: transparent url(/common_v2/img/renewal/header/button/header_search_btn_hover.png) no-repeat top left;
}

#header_v2 .btn_roundGray a.bg_active{
	background-image: url(http://img.goo-net.com/common_v2/img/bg_btn_round_gray_body_active.png);
}

#header_v2 .btn_roundBlueB a{
	border:none;
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/mypage_btn.png) no-repeat top left;
	color: #FFFFFF;
	display: block;
	height: 35px;
	text-align: center;
	text-decoration: none;
	width: 137px;
	padding: 3px 0 0;
}

#header_v2 .btn_roundBlueB a.bg_hover{
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/mypage_btn_hover.png) no-repeat top left;

}

#header_v2 .btn_roundBlueB a.bg_active{
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/mypage_btn_hover.png) no-repeat top left;
}

#header_v2 .btn_roundGreenB a{
	border-left: 1px solid #128936;
	border-right: 1px solid #128936;
	background-image: url(http://img.goo-net.com/common_v2/img/bg_btn_round_green_body_b.png);
}

#header_v2 .btn_roundGreenB a.bg_hover{
	background-image: url(http://img.goo-net.com/common_v2/img/bg_btn_round_green_body_b_hover.png);
}

#header_v2 .btn_roundGreenB a.bg_active{
	background-image: url(http://img.goo-net.com/common_v2/img/bg_btn_round_green_body_b_active.png);
}

#header_v2 .btn_roundRedB a{
	border:none;
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/estimate_btn.png) no-repeat top left;
	color: #FFFFFF;
	display: block;
	height: 26px;
	text-align: center;
	text-decoration: none;
	width: 137px;
	padding: 12px 0 0;
}

#header_v2 .btn_roundRedB a.bg_hover{
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/estimate_btn_hover.png) no-repeat top left;
}

#header_v2 .btn_roundRedB a.bg_active{
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/button/estimate_btn_hover.png) no-repeat top left;
}


/*  clear fix
---------------------------------------------------------- */
#header_v2 div{
 /zoom: 1;
}

#header_v2 div:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 line-height: 0;
 visibility: hidden;
}

/*  contents
---------------------------------------------------------- */
#contents_width{
	margin: 0 auto;
	width: 960px;
}


#smartphoneBanner {
	text-align: center;
	display: block;
	width: 100%;
	height: 120px;
}


/*  #mainNav（#mainNav以下は新規書き換え）
---------------------------------------------------------- */

#header_v2 #mainNav img{
	vertical-align: top;
}

#header_v2 #mainNav{
	height: 58px;
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/main_navi_wrapper_bg.gif) repeat-x top left;
}

#header_v2 #mainNav .navIn {
	margin:0 auto;
	width: 960px;
	height: 56px;
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/main_navi_bg.gif) no-repeat top left;
}

#header_v2 #mainNav .navIn dl {
	float: left;
	height: 56px;
	display: block;
	/* img.goo-net.com化 mod 20131214 */
	background: transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/main_navi_separate.gif) no-repeat top left;
}

#header_v2 #mainNav .navIn dl.nodt {
	padding-top: 28px !important;
	height: 28px !important;
}

#header_v2 #mainNav .navIn dl dt {
	height: 21px;
	padding: 8px 0 0 0;
	color: #e60012;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
} 

#header_v2 #mainNav .navIn dl dd {
	height: 26px;
}

#header_v2 #mainNav .navIn dl dd ul li {
	height:25px;
	float: left;
	position: relative;
	top: 0;
	left: 0;
	z-index: 30;
	/* img.goo-net.com化 mod 20131214 */
	background:transparent url(http://img.goo-net.com/goo/common_v2/img/renewal/header/main_navi_menu_separate.gif) no-repeat right top;
}

#header_v2 #mainNav .navIn dl dd ul li.last {
	background: none;
}

#header_v2 #mainNav .navIn dl dd ul li a {
	font-size: 11px;
	width: auto;
	height:25px;
	padding-top: 5px;
	padding-left: 1px;
	padding-right: 1px;
	color: #2a2a2a;
	text-align: center;
	text-decoration: none;
	display: block;
	position: relative;
	top: 0;
	left: 0;
	z-index: 9999;
}

#header_v2 #mainNav .navIn dl dd ul li a.mouseover {
	padding-top: 4px;
	padding-left: 0;
	padding-right: 0;
	color: #e60012;
	/* img.goo-net.com化 mod 20131214 */
	background: #ffffff url(http://img.goo-net.com/goo/common_v2/img/renewal/header/main_navi_menu_hover_bg.gif) repeat-x right top;
	border-top: 1px solid #E60012;
	border-left: 1px solid #E60012;
	border-right: 1px solid #E60012;
}

#header_v2 #mainNav .navIn dl dd ul li a.mouseover_nodown {
	height: 20px;
	padding-top: 4px;
	padding-left: 0;
	padding-right: 0;
	/* img.goo-net.com化 mod 20131214 */
	background: #ffffff url(http://img.goo-net.com/goo/common_v2/img/renewal/header/main_navi_menu_hover_bg.gif) repeat-x right top;
	color: #e60012;
	border-top: 1px solid #E60012;
	border-left: 1px solid #E60012;
	border-right: 1px solid #E60012;
	border-bottom: 1px solid #E60012;
}

/* pullDown */
#header_v2 #mainNav .navIn dl .pullDown {
	width: 640px;
	height: auto;
	display: none;
	position: absolute;
	top: 29px;
	left: 0;
	z-index: 30;
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#header_v2 #mainNav .navIn dl .link_6 .pullDown {
	width: 604px;
}

#header_v2 #mainNav .navIn dl#mainLink4 .link_1 .pullDown {
	left: -568px;
}

#header_v2 #mainNav .navIn dl#mainLink3 .link_4 .pullDown {
	left: -285px;
	width: 390px;
}

#header_v2 #mainNav .navIn dl#mainLink1 .link_6 .pullDown,
#header_v2 #mainNav .navIn dl#mainLink1 .link_7 .pullDown,
#header_v2 #mainNav .navIn dl#mainLink1 .link_8 .pullDown {
	width: 390px;
}

#header_v2 #mainNav .navIn dl#mainLink3 .link_1 .pullDown .pullDownBanner {
	position: absolute;
	top: -2px;
	right: 3px;
	width: 160px;
	height: 198px;
}

#header_v2 #mainNav .navIn dl .pullDown ul li {
	float: none;
}

#header_v2 #mainNav .navIn dl .pullDown table {
	width: 100%;
	zoom:1;
	border-top: 1px solid #E60012;
	border-bottom: 3px solid #E60012;
	border-left: 1px solid #E60012;
	border-right: 1px solid #E60012;
	border-collapse: separate;
	border-spacing: 1px;
	background-color: #FFFFFF;
	table-layout:fixed;
	word-wrap:break-word;
}

#header_v2 #mainNav .navIn dl .pullDown table th {
	width: 130px;
	text-align: center;
	background: #f0f0f0;
	border-bottom: 1px solid #e3e3e3;
}

#header_v2 #mainNav .navIn dl .pullDown table td {
	border-bottom: 1px solid #e3e3e3;
	text-align: left;
	padding: 12px 10px;
}

#header_v2 #mainNav .navIn dl .pullDown table td ul li {
	height: auto;
	width: auto;
	float: left;
	background: none;
	padding: 0 10px;
	white-space: nowrap;
}

#header_v2 #mainNav .navIn dl .pullDown table td ul li a {
	display: inline;
	padding : 0;
	line-height: 2.0em;
	text-decoration: underline;
	color: auto;
	position: static;
	zoom: 1;
}

#header_v2 #mainNav .navIn dl .pullDown table td ul li a img {
	vertical-align: top;
}

#header_v2 #mainNav .navIn dl .pullDown table td ul .new {
	background: url(http://img.goo-net.com/goo/icon_new_simple.gif) no-repeat scroll right center;
	margin-right: 15px;
	padding-right: 35px;
}

#header_v2 #mainNav .navIn dl .pullDown table td ul li .limit {
	margin-right: 10px;
	zoom: 1;
}

#header_v2 #mainNav .navIn dl .pullDown table td ul li .limit img {
	vertical-align: middle;
}


/* mainLink1 */
#header_v2 #mainNav .navIn dl#mainLink1 {
	width: 477px;
	padding: 0 0 0 1px;
	background: none;
}

#header_v2 #mainNav .navIn dl#mainLink1 li.link_1 {
	width: 41px;
	padding-right: 2px;
}

#header_v2 #mainNav .navIn dl#mainLink1 li.link_2 {
	width: 41px;
	padding-right: 2px;
}

#header_v2 #mainNav .navIn dl#mainLink1 li.link_3 {
	width: 32px;
	padding-right: 2px;
}

#header_v2 #mainNav .navIn dl#mainLink1 li.link_4 {
	width: 53px;
	padding-right: 2px;
}

#header_v2 #mainNav .navIn dl#mainLink1 li.link_5 {
	width: 72px;
	padding-right: 2px;
}

#header_v2 #mainNav .navIn dl#mainLink1 li.link_6 {
	width: 73px;
	padding-right: 2px;
}

#header_v2 #mainNav .navIn dl#mainLink1 li.link_6 span {
	background: url(http://img.goo-net.com/common_v2/img/sprite_header.png) no-repeat scroll -219px 0 transparent;
	display: block;
	float: left;
	height: 21px;
	margin: -2px 0px 0 3px;
	width: 20px;
}

#header_v2 #mainNav .navIn dl#mainLink1 li.link_7 {
	width: 78px;
	padding-right: 2px;
}

#header_v2 #mainNav .navIn dl#mainLink1 li.link_7 span {
	background: url(http://img.goo-net.com/common_v2/img/header_gooplus.gif) no-repeat scroll 0 0 transparent;
	display: block;
	float: left;
	height: 17px;
	margin-left: 3px;
	width: 17px;
}

#header_v2 #mainNav .navIn dl#mainLink1 li.link_8 {
	width: 73px;
}

#header_v2 #mainNav .navIn dl#mainLink1 li.link_8 span {
	background: url(http://img.goo-net.com/common_v2/img/pc_logo_hosyo.gif) no-repeat scroll 0 0 transparent;
	display: block;
	float: left;
	height: 19px;
	margin-top: -1px;
	margin-left: 3px;
	width: 19px;
}


/* mainLink2 */
#header_v2 #mainNav .navIn dl#mainLink2 {
	width: 83px;
	padding: 0 0 0 3px;
}

#header_v2 #mainNav .navIn dl#mainLink2 li.link_1 {
	width: 83px;
}

#header_v2 #mainNav .navIn dl#mainLink2 li.link_2 {
	width: 94px;
}

/* mainLink3 */
#header_v2 #mainNav .navIn dl#mainLink3 {
	width: 317px;
	padding: 0 0 0 3px;
}

#header_v2 #mainNav .navIn dl#mainLink3 li.link_1 {
	width: 61px;
	padding-right: 2px;
}

#header_v2 #mainNav .navIn dl#mainLink3 li.link_2 {
	width: 62px;
	padding-right: 2px;
}

#header_v2 #mainNav .navIn dl#mainLink3 li.link_3 {
	width: 85px;
}

#header_v2 #mainNav .navIn dl#mainLink3 li.link_4 {
	width: 105px;
}

/* mainLink4 */
#header_v2 #mainNav .navIn dl#mainLink4 {
	width: 72px;
	padding: 0 1px 0 3px;
}

#header_v2 #mainNav .navIn dl#mainLink4 li.link_1 {
	width: 72px;
}

#header_v2 #mainNav .navIn dl#mainLink4 li.link_2 {
	width: 110px;
	padding-right: 2px;
}

#header_v2 #mainNav .navIn dl#mainLink4 li.link_3 {
	width: 70px;
}

/*-- ANG_PRJ-1014 140128 kobashigawa --*/
#searchBalloon {
	background: url(http://img.goo-net.com/goo/common_v2/img/renewal/header/search_balloon.gif) no-repeat scroll left top transparent;
	position: absolute;
	top: -36px;
	right: 24px;
	width: 138px;
	height: 35px;
	text-align: center;
}

#searchBalloon p {
	padding-top: 6px;
}

/*-- ANG_PRJ-980 140214 kobashigawa --*/
#header_v2 .BalloonB {
	background: url(/common_v2/img/renewal/header/balloon_bg.gif) no-repeat scroll 0 0 transparent;
	float: left;
	width: 132px;
	height: 37px;
	text-align: left;
}

#header_v2 .BalloonB p a {
	display: block;
	padding: 3px 10px 0 12px;
	line-height: 1.3;
	color: #333333;
	text-decoration: none;
}

#header_v2 .BalloonB p em {
	margin: 0 2px;
	color: #e60012;
	font-size: 109%;
	font-weight: bold;
}

/*-- ANG_PRJ-1254 140613 kobashigawa --*/
#header_v2 .side #goola {
	position: absolute;
	top: 24px;
	right: 0;
	width: 180px;
}

#header_v2 .side #goola #fsform {
	position: relative;
}

#header_v2 .side #goola #fsform .bg {
	background: url(http://img.goo-net.com/goo/common_v2/img/renewal/header/Goola_line.gif) no-repeat scroll 0 0 transparent;
}

#header_v2 .side #goola #fsform .bg .txt {
	width: 119px;
	height: 20px;
	padding: 1px 0 0 22px;
	color: #333333;
	background: none;
	border: none;
	outline: none;
	position: relative;
	line-height: 1.5;
}

#header_v2 .side #goola #fsform .GoolaBtn {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
}

/* ANG_PRJ-2335
-------------------------------------- */
#header_v2 .inner .top .search #tab {
	top: -20px;
	left: auto;
	position: absolute;
}

#header_v2 .inner .top .search #tab .tab_search_area li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	border-right: 1px solid #e5e5e5;
	line-height: 1.4;
	height: 17px;
}

#header_v2 .inner .top .search #tab .tab_search_area li a {
	padding: 0 8px 0 8px;
	text-decoration: none;
}

#header_v2 .inner .top .search #tab .tab_search_area li.tab01 a {
	padding-left: 2px;
}

#header_v2 .inner .top .search #tab li a {
	color: #333;
}

#header_v2 .inner .top .search #tab li a.cur,
#header_v2 .inner .top .search #tab .tab_search_area .tab05 .cur {
	color: #e60012;
	font-weight: bold;
}

#header_v2 .inner .top .search #tab li a:hover,
#header_v2 .inner .top .search #tab .tab_search_area_list_inner option:hover {
	color: #e60012;
	font-weight: bold;
}

#header_v2 .inner .top .search #tab .tab_search_area .tab05 .cur option {
	color: #333;
	font-weight: normal;
}

#header_v2 .inner .top .search #tab .tab05 .tab_search_area_list_inner {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: Helvetica, "ヒラギノ角ゴ Pro W3",HiraKakuPro-W3, Osaka, "メイリオ",Meiryo, "ＭＳ Ｐゴシック",verdana, arial, sans-serif;
	display: inline-block;
	color: #333;
	line-height: 1;
	background: url("http://img.goo-net.com/common_v2/img/icn_arrow_gray.png") no-repeat 94%;
	background-size: 9px 6px;
	border: none;
	padding-left: 8px;
	vertical-align: middle;
	height: 17px;
	width: 125px;
	cursor: pointer;
}

/* ie11 */
@media all and (-ms-high-contrast:none) {
	*::-ms-backdrop, #header_v2 .inner .top .search #tab .tab05 .tab_search_area_list_inner {
		line-height: 1;
		padding-top: 4px;
	}
}

/* ie10以降 */
@media all and (-ms-high-contrast:none){
	#header_v2 .inner .top .search #tab .tab05 .tab_search_area_list_inner {
		line-height: 1;
		padding-top: 0;
	}
}

/* edge */
@supports (-ms-accelerator:true) {
	#header_v2 .inner .top .search #tab .tab05 .tab_search_area_list_inner {
		line-height: 1;
		height: 20px;
		padding-top: 1px;
	}
}

/* firefox */
@-moz-document url-prefix() {
	#header_v2 .inner .top .search #tab .tab05 .tab_search_area_list_inner {
		line-height: 1;
		height: 21px;
	}
}

#header_v2 .inner .top .search #tab .tab_search_area li a.active,
#header_v2 .inner .top .search #tab .tab_search_area li a.on {
	color: #e60012;
	font-weight: bold;
}

#header_v2 .inner .top .search .bg #suggest {
	display: none;
	background-color: #fff;
	border: 2px solid #999;
	font-size: 1.3em;
	line-heigh: 2px;
	z-index: 9;
	margin: 0;
	padding: 4px 4px;
	position: absolute;
	top: 42px;
	left: 4px;
	width: 371px;
	cursor: default;
}

#header_v2 .inner .top .search .bg #suggest #suggest_ul li {
	border-bottom: 1px solid #ccc;
}

#header_v2 .inner .top .search .bg #suggest #suggest_ul li:last-child {
	border-bottom: none;
}

#header_v2 .inner .top .search .bg #suggest #suggest_ul li span {
	padding: 5px;
}

/* GOO_IDENTIFIED_CARS-26/ヘッダエリア
 ----------------------------------------- */
#header_v2 .inner {
	margin: 0 auto 5px;
}

#header_v2 .new {
	background: #fff;
	font-size: 100%;
	font-weight: normal;
	height: 65px;
}

#header_v2.banner .new .bnr {
	margin: 0;
	padding-top: 5px;
	padding-left: 294px;
}

*:first-child+html #header_v2.banner .new .bnr {
	padding-left: 114px !important;
}

#header_v2 .inner #logo,
#header_v2 .inner .top .search #tab,
#header_v2 .inner .new .side .list {
	position: relative;
}

#header_v2 .inner h1,
#header_v2 .inner h1.copy,
#header_v2 .inner p.copy {
	text-align: right;
	width: auto;
}

#header_v2 #logo,
#header_v2 .top {
	float: left;
}

#header_v2 .new .side {
	width: 148px;
	float: right;
	margin-top: 7px;
	position: relative;
}

#header_v2 #logo {
	margin-top: 0;
}

#header_v2 .new .top {
	margin: 0 0 0 29px;
	padding: 0;
	width: 537px;
}

#header_v2 .new .top .search {
	padding: 5px 4px 2px;
}

#header_v2 .inner .top .search #tab {
	margin-bottom: 5px;
	position: static;
}

#header_v2 .new .top .search .bg {
	background-color: #fde9e9;
	border: 1px solid #848484;
	width: 440px;
}

#header_v2 .new .top .search input.txt {
	padding: 1px 6px 0;
	width: 428px;
}

#header_v2 .inner .new .top .search .bg #suggest {
	top: 67px;
	left: 4px;
	width: 430px;
}

#header_v2 .new .top .search .btn_roundGray {
	right: 17px;
	top: 29px;
	height: 34px;
}

#header_v2 .new .top .search #tab .tab_search_area li {
	border-right-style: none;
}

#header_v2 .inner .new .top .search #tab .tab_search_area li a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	line-height: 1.4;
	height: 17px;
	border-right: 1px solid #e5e5e5;
}

#header_v2 .inner .new .top .search #tab .tab05 .tab_search_area_list_inner {
	vertical-align: top\9;
	vertical-align: middle;
	height: 21px;
	width: 110px;
}

#header_v2 .new .top .search .btn_roundGray a {
	background: #d52724;
	background: -webkit-linear-gradient(#f73430, #9c0c0a);
	background: -moz-linear-gradient(#f73430, #9c0c0a);
	background: -ms-linear-gradient(#f73430, #9c0c0a);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f73430', endColorstr='#9c0c0a', GradientType=0);
	border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	height: 24px;
	vertical-align: middle;
}

#header_v2 .new .top .search .btn_roundGray a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
	-moz-opacity: 0.8;
}

#header_v2 .new .side .list .btn_roundRedB {
	width: 148px;
	margin: 0;
}

#header_v2 .new .side .list .btn_roundRedB a {
	background: #ea0707;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.78, #da0000), color-stop(0.00, #f73a3a));
	background: -webkit-linear-gradient(top, #f73a3a 0%, #da0000 78%);
	background: -moz-linear-gradient(top, #f73a3a 0%, #da0000 78%);
	background: -ms-linear-gradient(top, #f73a3a 0%, #da0000 78%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f73a3a', endColorstr='#da0000', GradientType=0);
	border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
	width: 148px;
}

#header_v2 .new .side .list .btn_roundRedB a:not(:target),
#header_v2 .new .top .search .btn_roundGray a:not(:target) {
	filter: none\9;
}

#header_v2 .new .side .list .btn_roundRedB a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
	-moz-opacity: 0.8;
}

#header_v2 .new .side .list a span {
	background: url("http://img.goo-net.com/common_v2/img/icn_email_top.png") no-repeat 0;
	background-size: 18px 13px;
	padding-left: 22px;
}

#header_v2 .new .side .mainNav_inner04 {
	position: absolute;
	top: 63px;
	right: 0;
}

#header_v2 .new .side .mainNav_inner04 p {
	color: #206fc0;
	border-bottom: 2px solid #206fc0;
	text-align: left;
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 3px;
}

#header_v2 .new .side .mainNav_inner04 .mainNav_list {
	width: 148px;
}

.box_banner{
	z-index: 0;
}

/* GOO_IDENTIFIED_CARS-26/グローバルナビ
 ----------------------------------------- */
#header_v2 #mainNav.new {
	background-position: bottom left;
	text-align: left;
	padding-bottom: 10px;
	height: auto;
	min-height: 58px;
}

#header_v2 .new #mainNav_area {
	margin: 0 auto 2px;
	width: 960px;
}

#header_v2 .new #mainNav_area .mainNav_inner01,
#header_v2 .new #mainNav_area .mainNav_inner02,
#header_v2 .new #mainNav_area .mainNav_inner03 {
	float: left;
}

#header_v2 .new #mainNav_area p.mainNav_ttl {
	color: #e60012;
	border-bottom: 2px solid #e60012;
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 3px;
}

#header_v2 .new #mainNav_area .mainNav_inner04 p {
	color: #206fc0;
	border-bottom: 2px solid #206fc0;
}

#header_v2 .new #mainNav_area li,
#header_v2 .new .side .mainNav_list li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 4px;
	vertical-align: top;
	position: relative;
}

#header_v2 .new #mainNav_area .mainNav_list_inner {
	z-index: 30;
}

/*   ドロップダウンメニュー用   */
#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown {
	background: url("http://img.goo-net.com/goo/common_v2/img/icn_arrow_up.png") no-repeat 784px 0;
	background-size: 12px 8px;
	display: none;
	left: -757px;
	position: absolute;
	height: auto;
	width: 1014px;
	z-index: 1000;
}

#header_v2 .new #mainNav_area li:first-child,
#header_v2 .new .side .mainNav_list li:first-child {
	margin-left: 0;
}

#header_v2 .new #mainNav_area ul.nav_dropdown {
	position: absolute;
}

#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown_subNav_area {
	background-color: #fff;
	border-top: 2px solid #ec2f2f;
	border-radius: 3px;
	border-left: 2px solid #f1f1f1;
	border-bottom: 2px solid #f1f1f1;
	border-right: 2px solid #f1f1f1;
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	box-shadow: 0px 1px 3px #7b7b7b;
		-moz-box-shadow: 0px 1px 3px #7b7b7b;
		-o-box-shadow: 0px 1px 3px #7b7b7b;
		-ms-box-shadow: 0px 1px 3px #7b7b7b;
	margin: 8px 0 0;
	padding: 20px;
	height: auto;
}

#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner01,
#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner02,
#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner03,
#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner04 {
	/*min-height: 418px;
	height: auto!important;*/
	height: 467px;
	float: left;
}

#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner02,
#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner03,
#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner04 {
	padding-left: 10px;
}

#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner01,
#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner02,
#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner03 {
	border-right: 1px solid #d9d7d7;
}

#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner01 {
	width: 247px;
}

#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner01 .subNav_item li {
	width: 116px;
}

#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner02 {
	width: 271px;
}

#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner02 .subNav_item li {
	width: 128px;
}

#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner03 {
	width: 197px;
}

#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner04 {
	width: 222px;
}

#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner03 .subNav_item li,
#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown .subNav_inner04 .subNav_item li {
	width: 205px;
}

#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown_subNav_area .subNav_block p {
	color: #0a0a0a;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}

#header_v2 .new #mainNav_area .mainNav_list_inner .dropdown_subNav_area .subNav_block span {
	display: inline-block;
	font-size: 10px;
	font-weight: normal;
}

#header_v2 .new #mainNav_area li .dropdown .dropdown_subNav_area .subNav_item {
	padding: 0 5px;
}

#header_v2 .new #mainNav_area li .dropdown .dropdown_subNav_area .subNav_item li {
	margin: 0 0 10px 0;
}

#header_v2 .new #mainNav_area li .dropdown .dropdown_subNav_area .subNav_item li.column1 {
	width: 205px;
}

*:first-child+html #header_v2 .new #mainNav_area li .dropdown .dropdown_subNav_area .subNav_item li {
	margin-bottom: 6px;
}

#header_v2 .new #mainNav_area li .dropdown .dropdown_subNav_area .subNav_item a {
	background: url("http://img.goo-net.com/goo/common_v2/img/icn_arrow_right.png") no-repeat left;
	border-style: none;
	display: inline-block;
	padding: 0 10px;
	text-align: left;
	width: auto;
}

#header_v2 .new #mainNav_area li .dropdown .dropdown_subNav_area .txtLink a {
	border-style: none;
	background: #fff;
	padding: 0;
	display: inline-block;
	width: auto;
}

#header_v2 .new #mainNav_area li .dropdown .dropdown_subNav_area .subNav_item a:hover,
#header_v2 .new #mainNav_area li .dropdown .dropdown_subNav_area .txtLink a:hover {
	text-decoration: underline;
}
/*   ドロップダウンメニュー用 END   */

#header_v2 .new #mainNav_area .mainNav_inner01,
#header_v2 .new #mainNav_area .mainNav_inner02 {
	width: 280px;
}

#header_v2 .new #mainNav_area .mainNav_inner01,
#header_v2 .new #mainNav_area .mainNav_inner02,
#header_v2 .new #mainNav_area .mainNav_inner03 {
	margin-right: 14px;
}

#header_v2 .new #mainNav_area .mainNav_inner03 {
	width: 210px;
}

#header_v2 .new #mainNav_area .mainNav_inner01 .mainNav_list li a,
#header_v2 .new #mainNav_area .mainNav_inner02 .mainNav_list li a,
#header_v2 .new #mainNav_area .mainNav_inner03 .mainNav_list li a,
#header_v2 .new .side .mainNav_inner04 .mainNav_list li a {
	display: block;
	color: #080808;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #f1f0f0), color-stop(0.00, #fff));
	background: -webkit-linear-gradient(#fff, #f1f0f0);
	background: -moz-linear-gradient(#fff, #f1f0f0);
	background: -o-linear-gradient(#fff, #f1f0f0);
	border: 1px solid #d4d2d2;
	border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	width: 65px;
}

#header_v2 .new .side .mainNav_inner04 .mainNav_list li a {
	width: 70px;
}

#header_v2 .new #mainNav_area .mainNav_inner04 .mainNav_list {
	width: 148px;
}

#header_v2 .new #mainNav_area .mainNav_inner01 .mainNav_list li a:focus,
#header_v2 .new #mainNav_area .mainNav_inner02 .mainNav_list li a:focus,
#header_v2 .new #mainNav_area .mainNav_inner03 .mainNav_list li a:focus,
#header_v2 .new #mainNav_area .mainNav_inner01 .mainNav_list li a:hover,
#header_v2 .new #mainNav_area .mainNav_inner02 .mainNav_list li a:hover,
#header_v2 .new #mainNav_area .mainNav_inner03 .mainNav_list li a:hover,
#header_v2 .new #mainNav_area .mainNav_inner03 .mainNav_list li a.mouseover {
	color: #fa2626;
	border-color: #fa2626;
}

#header_v2 .new .side .mainNav_inner04 li a:hover,
#header_v2 .new .side .mainNav_inner04 li a:focus {
	color: #206fc0;
	border-color: #206fc0;
}

/* firefox */
@-moz-document url-prefix() {
	#header_v2 .new .top .search .btn_roundGray {
		top: 27px;
	}
}


/* ANG_PRJ-2428
-------------------------------------- */

#header_v2 .free_word_box{
	width: 560px;
	padding: 30px 50px 30px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #545454;
	position: absolute;
	top: 97px;
	left: 280px;
	display: none;
	z-index: 100;
	*z-index: 1000;
}

#header_v2 .free_word_box .balloon_bg{
	position: absolute;
	top: -13px;
	left: 322px;
}

#header_v2 .free_word_box dt{
	float: left;
	font-weight: bold;
	margin-bottom: 20px;
	width: 160px;
	padding-top: 2px;
}

#header_v2 .free_word_box dd{
	float: right;
	margin-bottom: 20px;
	width: 400px;
}

#header_v2 .free_word_box dd div{
	margin-bottom: 4px;
}

#header_v2 .free_word_box .search_target select{
	width: 180px;
}

#header_v2 .free_word_box .keyword input{
	width: 260px;
}

#header_v2 .free_word_box .price input{
	width: 95px;
	margin-right: 5px;
	vertical-align: middle;
}

#header_v2 .free_word_box .price span{
	display: block;
	margin-bottom: 5px;
}

#header_v2 .free_word_box .price .price_check input{
	width: auto;
	margin-right: 3px;
}

#header_v2 .free_word_box .model_year select,
#header_v2 .free_word_box .mileage select{
	width: 100px;
}

#header_v2 .free_word_box .model_year .fast_select,
#header_v2 .free_word_box .mileage .fast_select{
	margin-right: 10px;
}

#header_v2 .free_word_box .model_year .second_select,
#header_v2 .free_word_box .mileage .second_select{
	margin-left: 10px;
}


#header_v2 .free_word_box .prefectures dd label,
#header_v2 .free_word_box .sort dd label{
	display: inline-block;
	padding: 3px 5px;
	background-color: #fafafa;
	position: relative;
	border: 1px solid #cccccc;
	margin-right: 3px;
}

#header_v2 .free_word_box .prefectures dd label.checkBtn,
#header_v2 .free_word_box .sort dd label.checkBtn{
	background-color: #555555;
	color: #fff;
}

#header_v2 .free_word_box .prefectures dd div span,
#header_v2 .free_word_box .sort dd div span{
	display: inline-block;
	width: 50px;
	text-align: right;
	cursor: pointer;
}

#header_v2 .free_word_box .prefectures dd input,
#header_v2 .free_word_box .sort dd input{
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	*width: 0;
	*left: 0;
}

#header_v2 .free_word_box .sort dd label{
	padding: 5px 5px;
}

#header_v2 .free_word_box #submit_button{
	background-color: #fafafa;
	border: 1px solid #cccccc;
	*border: none;
	padding: 10px 40px;
	color: #666666;
	font-weight: bold;
	margin-right: 10px;
	text-decoration: none;
}

#header_v2 .free_word_box .btn_border{
	*border: 1px solid #cccccc;
	*display: inline-block;
}

#header_v2 .free_word_box .thirdArea div{
	text-align: left;
	margin-left: 160px;
}

#header_v2 .free_word_box .thirdArea div .clear_btn{
	cursor: pointer;
}

#header_v2 .free_word_box .prefectures dd div span.select_allowed{
	text-decoration: underline;
	cursor: pointer;
}

#header_v2 .free_word_box dd div.all_prefectures{
	margin-left: 62px;
}

#header_v2 .bg{
	position: relative;
}

#header_v2 .bg .detailed_search_btn{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100000;
	background-color: #FFFFFF;
}

#header_v2 .bg .detailed_search_btn a{
	text-decoration: none;
	color: #838383;
	padding: 9px 8px 0 8px;
	display: block;
	border-left: 1px solid #c3c3c3;
	height: 23px;
}

#header_v2 .top .search input.txt{
	width: 291px;
}

#header_v2 .inner .new .top .search .bg #suggest{
	top: 37px;
	left: -1px;
}
