@charset "EUC-JP";
figure {
	width: 100%;
	margin: 0;
}


/* car_detail */

/* detail 車名横ロゴエリア */
.leftLogoSpace {
	 float:left;
	 margin-right:5px;
}.leftLogoSpace img {
	width: 44px;;
}
.rightCarName {
	 float:left;
}




/*  detail あんしん、まる見え */
.carDetailPriceTop {
	background-color: #f6f6f6;
	border:1px solid #dddddd;
	padding:20px 10px;
	margin-bottom: 8px;
	color: #8c8c8c;
}
.priceTopInner1 {
	text-align: center;
}

.priceTopInner1 .logoArea {
	margin-bottom: 10px;
}
.priceTopInner1 .logoArea img {
	width: 260px;
}
.priceTopInner4 {
	margin-top: 12px;
	text-align: center;
}

.carDetailPriceTop .explain02 {
	margin-top: 15px;
}
.makersQuality {
	text-align: center;
	margin: 20px 0px;
}
.makersQualityLogo {
	margin-bottom: 5px;
}
.makersQualityLogo img {
	width: 100%;
}
.priceTopInner4 figure {
	margin: auto;
}


.priceTopInner3 {
	margin-top: 12px;
}
.priceTopInner3 .gooKanteiLogo,
.priceTopInner3 .gookanteiHyoukaMini {
    width: 55%;
    float: left;
    margin-top: 3px;
}

.priceTopInner3 .gooKanteiLogo {
	width: 40%;
	padding: 3px 7px 0;
}
.priceTopInner3 .gooKanteiLogo img {
	width: 100%;
}
.priceTopInner3 .gookanteiHyoukaMini table {
	margin-bottom: 0 !important;
	float: left;
	font-size: 12px;
}
.gookanteiHyoukaMini td:nth-child(1) {
	width: 19% !important;
}
.gookanteiHyoukaMini td:nth-child(2) {
	width: 40% !important;
}
.gookanteiHyoukaMini td:nth-child(3) {
	width: 40% !important;
}
.priceTopInner3 .statue {
	color: #0a2167;
}
.priceTopInner3 .statue.star img {
	margin-right:2px;
	width: 11px;
}	

/*   車両状態評価書エリア  */

/*  detail 共通  */
.gooKanteiHyoukaTable,
#gooKanteiHyoukaPaper {
	margin-top: 24px;
}
#gooKanteiHyoukaPaper {
	margin-bottom: 24px;
}

.hyoukaTitle {
	font-size: 18px;
}
.hyoukaTitleExplain {
	font-size: 12px;
	border-top: 2px solid gray;
	margin-top: 12px;
	padding: 14px 0;
}
.gooKanteiQuality {
	border: 1px solid #010101;
	padding: 10px 0px;
}
.carExterior,
.carInterior,
.carEngine,
.carRepair {
	float: left;
	width: 45%;
	padding: 5px 10px;
}
.qualityInnetTitle {
	display: inline-block;
	width: 40%;
	font-weight: bold;
	font-size: 18px;
	vertical-align: 3px;
}
.qualityInnetTitle .titleSmall {
	font-size: 14px;
}
.qualityRank1 {
	display: inline-block;
	width: 10%;
	color: #ff0000;
	font-size: 28px;
}
.qualityRank2 {
	display: inline-block;
	color: #ff0000;
	font-size: 24px;
}

.qualityStarImg {
	display: inline-block;
	vertical-align: 20px;
}



.qualityExplain {
	margin-top: 8px;
}
.gookanteiHyoukaPaper .hyoukaPaper {
	text-align: center;
}

.hyoukaPaper {
	margin-top:10px;
	text-align: center;
}
.hyoukaPaper img {
	width: 60%;
}
#gooKanteiHyoukaPaper .aboutKanteiLink {
	text-align: right;
}

.provision_area .includeTarget .nintei_reg.textm th {
	width: 150px;
}
.provision_area .includeTarget .nintei_reg.textm td {
	width: 430px;
}
.provision_area .includeTarget .nintei_reg.textm td a {
	width: 430px;
	display: block;
	word-wrap: break-word;
}
#certification_regulation.provision_area .wrapTitleImg img {
	max-width: initial;
	width: auto;
}
#certification_regulation.provision_area .nintei_reg.textm th {
	width: 150px;
}
#certification_regulation.provision_area .nintei_reg.textm td {
	width: 430px;
}
#certification_regulation.provision_area .nintei_reg.textm td a {
	width: 430px;
	display: block;
	word-wrap: break-word;
}


/*  car_detail  */














/*      cars_list      */

/*       cars_list & cars_list_world  idsearch部分   */
.attention.idSearch {
	padding:10px 20px;
	background-color: #fee34a;
}

.carsCheckLogo {
	float:left;
	width: 34px;
	margin-right:10px;
}
.carsCheckLogo img {
	width: 100%;
}
.idSearch .judge {
	 float:left;
	 padding-top:10px;
}


#main .box_searchCondition #pattern1.searchWrap_01 .column .other .attention p.judge {
	width: 105px;
}
#main .box_searchCondition #pattern1.searchWrap_01 .column .other .attention p.dealer {
	width: 125px;
}






/* 車名横ロゴエリア */
.wrapTitleIdLogo {
	float: left;
    width: 30px;
    margin-top: 1px;
    margin-right: 10px;
}
.wrapTitleIdLogo img {
	width: 100%;
}



/*  メーカーロゴエリア  */

.makerHosyouLogo {
	text-align: center;
	margin-top: 4px;
}
.makerHosyouLogo img {
	width: 100%;
}
.quepone1 .buyPack,
.quepone2 .buyPack {
	float:left;
	width:40%;
	height: 18px;
	border:1px solid gray;
	font-size:10px;
	margin:8px 0 5px 10px;
	line-height: 18px;
	background-color: lightgrey;
}
.quepone1 .testDriveBooking,
.quepone2 .testDriveBooking {
	float:left;
	width:40%;
	height: 18px;
	border:1px solid #089ec0;
	color: #089ec0;
	font-size:10px;
	margin:8px 0 5px 10px;
	line-height: 18px;
	background-color: #fff;
}
.quepone1 .icon_packprice .icon_wrap_01,
.quepone2 .icon_packprice .icon_wrap_01 {
	width:45%;
	padding-right: 10px !important;
	margin-top: 8px;
}
.quepone2 {
	margin-bottom: 10px;
}

#main .box_item_detail .quepone1 .icon_packprice span {
	float: left !important;
	margin: 8px 0 5px 10px;
	padding: 0!important;
}

/*  car_list 鑑定部分   */

.gooKantei01.idlogo_quality {
	border: 1px solid #e5e5e5 !important;
	width: auto !important;
	padding: 5px;
	margin-top: 3px;
	/*background-color: #fff5db !important;*/
}
.gooKantei01.idlogo_quality .gookanteiListdt {
	width: 40px !important;
	 margin-right: 3px;
}
.gooKantei01.idlogo_quality .gookanteiList01 {
	width: 75px;
	margin-right: 12px;
	padding: 2px 0 0 !important;
}
.gooKantei01.idlogo_quality .gookanteiList01 img {
	width: 100%;
	margin: 0;
}
.gooKantei01.idlogo_quality .gookanteiListdt img {
	width: 100%
}
.gooKantei01.idlogo_quality .star.gookanteiList02 {
	 width:auto;
	 margin-top: 4px;
	 color: #0a2167;
	 font-size: 12px;
	 margin-right: 8px;
}
.gooKantei01.idlogo_quality .star.gookanteiList02 .gooKanteiListLogo {
	 float:left;
	 width:29px;
	 margin-top: -4px;
	 margin-right: 8px;
}
.gooKanteiListDetail01 .interior {
	margin-top: 2px;
}
.gooKanteiListDetail01 span {
	width: 2em !important;
}
.gooKanteiListDetail01 .rank {
	padding-top: 1px;
	width: 95px;
}

.gooKanteiListDetail02 span {
	width: 5em !important;
}
.gooKantei01.idlogo_quality .star.gookanteiList02 .gooKanteiListDetail01,
.gooKantei01.idlogo_quality .star.gookanteiList02 .gooKanteiListDetail02 {
	 float:left;
}
.gooKantei01.idlogo_quality .gookanteiList03.style00,
.gooKantei01.idlogo_quality .gookanteiList03.style02 {
	width: 149px;
	margin: 4px 0 0 0;
}

.gooKantei01.idlogo_quality .gookanteiList03.style03 {
	width: 113px;
	margin: 4px 0 0 0;
}

.gooKantei01.idlogo_quality .gookanteiList03.style00 img,
.gooKantei01.idlogo_quality .gookanteiList03.style02 img,
.gooKantei01.idlogo_quality .gookanteiList03.style03 img {
	width: 100%;
	margin: 0;
}


.gooKantei01.idlogo_quality .star.gookanteiList02.col2 {
	width: 119px;
	padding: 0;
	margin-right: 4px;
}

.gooKantei01.idlogo_quality .star.gookanteiList02.col2 .gooKanteiListLogo {
	width: 34px;
	margin-top: 0;
	margin-right: 0;
}

.gooKantei01.idlogo_quality .star.gookanteiList02.col2 .gooKanteiListLogo img {
	margin: 0;
	float: none;
}

.gooKantei01.idlogo_quality .star.gookanteiList02.col2 .gooKanteiListDetail01 { width: 85px;}
.gooKantei01.idlogo_quality .star.gookanteiList02.col2 .gooKanteiListDetail02 { float: none;}

.gooKantei01.idlogo_quality .star.gookanteiList02.col2 .exterior,
.gooKantei01.idlogo_quality .star.gookanteiList02.col2 .interior {
	margin: 0;
	float: left;
}

.gooKantei01.idlogo_quality .star.gookanteiList02.col2 .exterior span,
.gooKantei01.idlogo_quality .star.gookanteiList02.col2 .interior span { margin: 3px 3px 0px 3px;}

.gooKantei01.idlogo_quality .star.gookanteiList02.col2 .rank {
	width: auto;
	float: left;
	font-size: 137%;
	font-weight: bold;
}


/*  写真下バナーエリア   */

.imageUnderBunner{
	 width: 240px;
	 padding: 0 5px;
	 margin-top: 5px;
	 margin-left: -4px;
}
.leftUnderBunner{
	 float: left;
	 width: 118px;
	 margin-right: 4px;
	 margin-top: 4px;
}
.leftUnderBunner img {
	width: 100%;
}
.rightUnderBunner {
	 float: left;
	 width: 118px;
	 margin-top: 4px;
}
.rightUnderBunner img {
	width: 100%;
}
.wideUnderBunner {
	padding-top: 4px;
}
.wideUnderBunner img {
	width: 100%;
}

/*     car_list    */





/*    id車両台数表示横    */

/* goo-net used */
.box_searchUsedCar div.tit {
	margin-top: 8px;
}
.box_searchUsedCar div.tit ul li {
	border: none !important;
}
.box_searchUsedCar div.tit .oldCarLogo {
	padding: 2px 6px 2px 2px;
	margin-top: -8px;
	width: 34px;
}
.box_searchUsedCar div.tit .oldCarLogo img {
	width: 100%;
}
.box_searchUsedCar .judgment {
	width: 625px;
	height: 76px;
	background: white;
}



/*   goo-net used maker   */
.box_searchUsedCar .lineTit div.tit {
	margin-top: 5px;
}

/* goo-net top */
.box_roundGrayRed .tit_area {
	height: 45px;
	padding-top: 6px;
}
.box_roundGrayRed .tit_area .oldCarLogo {
	padding: 2px 6px 2px 2px;
	margin-top: -8px;
	width: 34px;
}
.box_roundGrayRed .tit_area .oldCarLogo img {
	width: 100%;
}
.box_use_car_search .idBunnerArea {
	height: 76px;
	background: white;
	margin-bottom: 10px;
}

/*    id車両台数表示横    */






/*    goola     */

/*     goola メーカーロゴ     */
.carExplainDetail {
	width: 725px;
	float: left;
}
.carExplainDetail div {
	float: left;
}
.carExplainDetail .wrapMakerLogo {
	width: 300px;
	margin-top: -5px;
}
.carExplainDetail .wrapMakerLogo img{
	width: 100%;
}

.carExplainDetail .carDetailInfo01 {
	width: 392px;
    float: right;
    font-size: 12px;
    line-height: 15px;
    margin-top: 4px;
    margin-right: 30px;
}
.carExplainDetail .carDetailInfo02 {
	font-size: 12px;
    margin: 10px 0px 14px;
}

/*     車両状態評価書取得      */
.gooKanteiGoola01,
.gooKanteiGoola02,
.gooKanteiGoola03 {
	float: left;
	width: 350px;
    height: 37px;
    background-color: #fef8e3;
    border: 1px solid #e5e5e5;
    padding: 3px 5px 3px 4px;
}
.gooKanteiGoolaList10 {
	float: left;
	margin-top: 2px;
	margin-right: 6px;
}
.gooKanteiGoola01 .gooKanteiGoolaList10 {
	margin-right: 7px;
}
.gooKanteiGoolaList10 img {
	width: 32px;
}


.gooKanteiGoolaList20 {
	float: left;

}
.gooKanteiGoolaList20 img {
 height: 100%;
}
.gooKanteiGoolaList30 {
	float: left;
	line-height: 20px;
	padding-left: 36px;
    background-image: url(http://img.goo-net.com/common_v2/img/iphone/icon_kantei.png);
    background-size: contain;
    background-repeat: no-repeat;
	margin-right: 6px;
	margin-top: 2px;
}

.gooKanteiGoolaList31 {
	float: left;
	padding-left: 115px;
    background-image: url(http://img.goo-net.com/common_v2/img/iphone/icon_kantei.png);
    background-size: contain;
    background-repeat: no-repeat;
	margin-right: 8px;
}
.gooKanteiGoolaList30 div,
.gooKanteiGoolaList31 div  {
	font-size: 11px;
    font-weight: bold;
	color: #0a2167;
}
.gooKanteiGoolaList30 .goolaRank,
.gooKanteiGoolaList31 .goolaRank {
    font-size: 14px;
    margin-left: 2px;
}
.gooKanteiGoolaList30 .goolaRank img,
.gooKanteiGoolaList31 .goolaRank img {
	vertical-align: middle;
	margin: 0 0 0 1px;
}

.gooKanteiGoolaList40.checkQuality {
	float: right;
	margin-top: 5px;
	margin-right: 4px;
	width: 50%;
}

.gooKanteiGoolaList40.getQuality {
	float: right;
	margin-top: 5px;
	margin-right: 4px;
	width: 50%;
}
.gooKanteiGoolaList40 img {
	width: 100%;
}


.underDetail {
	padding-right: 40px;
	clear: both;
}
.underDetailBtnArea {
	float: right;
    width: 310px;
}
.underDetailBtnArea .fast {
	float: right;
	margin-right: 10px;
}
.underDetailBtnArea a:hover img {
	opacity: 0.6;
}
.underDetailBtnArea .checkAndEstimate {
	float: right;
}

.underDetail figure {
	-webkit-margin: 0px !important;
	margin: 0px;
}

/*   goola     */























































/*           sp ページ          */


/*  sp_cars_list  */


/*      車両トップライン        */
.cassetteAreaIdcars {
	border-top: 2px solid #0a2167;
    box-shadow: 0px 2px 3px rgba(000,000,000,0.5);
    -moz-box-shadow: 0px 2px 3px rgba(000,000,000,0.5);
    -webkit-box-shadow: 0px 2px 3px rgba(000,000,000,0.5);
}


/*      メーカーロゴエリア         */
.cassetteList .cassetteArea div .txtArea .detailsAera ul li.icon.makerLogo {
	width: 250px;
}
.cassetteList .cassetteArea div .txtArea .detailsAera ul li.icon.makerLogo img {
	width: 80% !important;
}


/*    id車両評価書エリア     */
.premiumPlusGoo,
.safetyOnly {
	padding: 7px;
	margin: 0 10px 10px 10px;
	border: 1px solid #f2ef94;
	border-radius: 3px;
}
.premiumPlusGoo .spGooKanteiLogo,
.safetyOnly .spGooKanteiLogo {
	float: left;
	width: 37px;
}
.premiumPlusGoo .spGooKanteiLogo img,
.safetyOnly .spGooKanteiLogo img {
	width: 100%;
}
.premiumPlusGoo .spCheckBtn01,
.safetyOnly .spCheckBtn02,
.safetyOnly .spCheckBtn03 {
	float: right;
	padding-top: 5px;
}


/*      goo鑑定       */
.premiumPlusGoo .spCheckBtn01 {
	width: 129px;
}
.premiumPlusGoo .spCheckBtn01 img {
	width: 100%;
}
.premiumPlusGoo  .innerPremiumGoo {
	height: 38px;
	padding-left: 45px;
    background: url(http://img.goo-net.com/common_v2/img/iphone/icon_kantei.png) no-repeat 5px -1px;
    background-size: contain;
}


.premiumPlusGoo .gookanti.qed01 {
	float: left;
    font-size: 14px !important;
    color: #0a2267;
    width: 180px;
    margin: auto;
    margin-top: 2px;
    padding: 0px !important;
    background-color: transparent !important;
}
.premiumPlusGoo .gookanti.qed01 .contentHyouka {

}
.premiumPlusGoo .gookanti.qed01 .contentHyoukaRow2 {
	margin-top: 1px;
}
.premiumPlusGoo .gookanti.qed01 .hyokakoumoku {
	margin-right: -3px;
	font-size: 13px;
	color: #7b7a77;
}
.premiumPlusGoo .gookanti.qed01 .stars {
	display: inline-block;
    margin: 0 0 0px 3px;
    padding-top: 1px;
}
.premiumPlusGoo .gookanti.qed01 .stars img {
	width: 13px;
}
@media screen and (max-width: 320px) {
	.premiumPlusGoo .gookanti.qed01 .stars {
	    margin: 0 0 0px 1px;
	    padding-top: 4px;    
	}
	.premiumPlusGoo .gookanti.qed01 .stars img {
		width: 10px;
		height: 9px;
	}
	.premiumPlusGoo  .innerPremiumGoo {
		height: 38px;
		padding-left: 38px;
	    background: url(http://img.goo-net.com/common_v2/img/iphone/icon_kantei.png) no-repeat 0px -1px;
	    background-size: contain;
	}
}

/*     あんしん、まる見え    */
.innerSafety {
	min-width: 50px;
	max-width: 77px;
    padding-left: 5px;
}
.innerSafety .spSafetyLogo {
	display: table-cell;
    height: 37px;
    vertical-align: middle;
}
.innerSafety img {
	width: 100%;
}
.safetyOnly .spCheckBtn02,
.safetyOnly .spCheckBtn03 {
	width: 189px;
	margin-right: 2px;
}
.safetyOnly .spCheckBtn02 img,
.safetyOnly .spCheckBtn03 img {
	width: 100%;
}


/*  sp_cars_list  */






/*     sp_research_index  */

.searchIdCars {
	padding: 20px;
	background-color: #fee34a;
}
.searchIdExplain{
	height: 16px;
	font-size: 14px;
	margin-left: 10px;
	display: inline-block;
}
.searchIdQuestion {
	display: inline-block;
	width: 16px;
	height:16px;
	color: white;
	text-align: center;
	line-height: 16px;
	background-color: lightblue;
	border-radius: 50%;
	margin-left: 10px;
}
/*     sp_research_index  */






/*    car_detail    */

/*     車名横idロゴ      */
#titleArea.identTtl h1 {
	background: none;
	padding-left: 0px;
}
#titleArea.identTtl {
	padding: 6px;
}
#titleArea.identTtl .tAreaIdLogo {
	float: left;
	width: 37px;
	height: 39px;
	margin-right: 7px;
}
#titleArea.identTtl .tAreaIdLogo img {
	width: 100%;
}



/*     id鑑定エリア      */
.wrapKanteiArea {
	background-color: #ececec;
	border-top: 3px solid #101a79;
	padding-top: 10px;
	margin-bottom: 10px;
}

.wrapKanteiArea .kanteiAreaTitle {
	margin: 0px 10px 10px;
	text-align: center;
}
.wrapKanteiArea .kanteiAreaTitle img {
	width: 250px;
}
.wrapKanteiArea .underTitleString {
	margin-top: 12px;
}
.getQpaperBtn {
	height: 43px;
    width: 307px;
    margin: 10px auto;
    text-align: center;
    background: url(http://img.goo-net.com/common_v2/img/iphone/idcars/bg_req_idreport_m.png);
    font-size: 15px;
    line-height: 40px;
    font-weight: bold;
    color: #272b9c;
    margin-bottom: 20px;
}

/*     スライド        */


.wrapTitleImg {
	text-align:center;
	padding: 12px 15px 10px;
}
.wrapTitleImg img {
	width: 100%;
	max-width: 250px;
}
.wrapKanteiArea .gooKanteiBox {
	background-color: white !important;
}
.gooKanteiBox.premium,
.gooKanteiBox.gooKantei {
	background-color: white !important;
	border: 1px solid #e5e5e5;
	position: relative;
}
.gooKanteiBox.premium .footBtn,
.gooKanteiBox.gooKantei .footBtn {
	padding: 10px 0;
    font-size: 13px;
    color: #000;
    text-align: center;
    background: #ddd;
    background-image: url("http://img.goo-net.com/common_v2/img/iphone/icon_arrow_under.png");
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 14px 8px;
    border-top: 1px solid #e3e3e3;
	
}
.gooKanteiBox.premium .footBtn.open,
.gooKanteiBox.gooKantei .footBtn.open { 
	background-image: url("http://img.goo-net.com/common_v2/img/iphone/icon_arrow_over.png");
}
.gooKanteiBox.premium .filter,
.gooKanteiBox.gooKantei .filter {
	content: "";
	width: 100%;
	height: 150px;
	background: linear-gradient(to bottom, transparent 80%, #ffffff);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(0.8, rgba(255,255,255,0)), to(#fff));
	position: absolute;
	top: 0px;
	display: block;
}
.gooKanteiBox.premium .innerFrame,
.gooKanteiBox.gooKantei .innerFrame {
	overflow: hidden;
	height: 150px;
	background-color: transparent;
	display: block;
}


.gooKanteiBox.gooKantei h3 {
	margin-bottom: 4px;
	padding: 12px 15px 0;
	color: #000;
	font-size: 14px;
	font-weight: bold;
}
.gooKanteiBox.gooKantei dl {
	display: table;
	margin: 0 auto 10px;
	border-collapse: separate;
	border-spacing: 10px 0;
	text-align: left;
}
.gooKanteiBox.gooKantei dt,
.gooKanteiBox.gooKantei dd {
	display: table-cell;
	vertical-align: middle;
}
.gooKanteiBox.gooKantei dt {
	width: 42px;
}
.gooKanteiBox.gooKantei dd table th,
.gooKanteiBox.gooKantei dd table td {
	padding: 0 10px 0 0;
	vertical-align: text-bottom;
}
.gooKanteiBox.gooKantei dd table th {
	font-size: 11px;
	font-weight: normal;
	color: #545454;
}
.gooKanteiBox.gooKantei dd table td {
	font-size: 14px;
	font-weight: bold;
	color: #0a2167 !important;
}
.gooKanteiBox.gooKantei dd table td.stars {
	font-size: 20px;
}
.gooKanteiBox.gooKantei dd table td.stars img {
	margin-right: 3px;
}
.gooKanteiBox.gooKantei .innerFrame .date {
	margin-bottom: 8px;
	font-size: 10px;
	color: #545454;
	text-align: right;
}
.gooKanteiBox.gooKantei .innerFrame .about {
	margin-bottom: 10px;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.gooKanteiBox.gooKantei .innerFrame .about span {
	font-size: 11px;
}
.gooKanteiBox.gooKantei .innerFrame .about .scor {
	margin-left: 10px;
	font-size: 20px;
	color: #0a2167;
}
.gooKanteiBox.gooKantei .innerFrame .about .stars {
	margin-left: 10px;
	font-size: 19px;
	color: #0a2167;
}
.gooKanteiBox.gooKantei .innerFrame .about .stars img {
	margin-right: 3px;
}
.gooKanteiBox.gooKantei .innerFrame .about .notice {
	margin-left: 10px;
	font-size: 14px;
	color: #0a2167;
}
.gooKanteiBox.gooKantei .innerFrame .text {
	margin-bottom: 20px;
}
.gooKanteiBox.gooKantei .innerFrame .sampleView {
	margin-bottom: 6px;
}
.gooKanteiBox.gooKantei .innerFrame .sampleView a {
	display: block;
	padding: 10px 0 10px 10px;
	color: #000;
	background: url("http://img.goo-net.com/common_v2/img/iphone/icon_link_arrow.png") no-repeat 97% center ;
	background-size: 7px 10px;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
}
.gooKanteiBox.gooKantei .innerFrame .kanteiApp {
	margin-bottom: 15px;
}
.gooKanteiBox.gooKantei .innerFrame .kanteiApp a {
	display: block;
	padding: 10px 0;
	background: #00378a;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: 0px 2px 0px rgba(0,41,104,1),inset 0px 0px 0px rgba(255,255,255,0);
		-moz-box-shadow: 0px 2px 0px rgba(0,41,104,1),inset 0px 0px 0px rgba(255,255,255,0);
		-webkit-box-shadow: 0px 2px 0px rgba(0,41,104,1),inset 0px 0px 0px rgba(255,255,255,0);
	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
}
.gooKanteiBox.gooKantei .innerFrame .kanteiAppQuestion {
	padding-bottom: 15px;
	text-align: right;
}
.gooKanteiBox.gooKantei .innerFrame .kanteiAppQuestion a {
	padding: 3px 0 0 20px;
	color: #333;
	background: url("http://img.goo-net.com/common_v2/img/iphone/icon_question_gray.png") no-repeat left center ;
	background-size: 14px 14px;
}



.gooKanteiBox.hyoukasyo {
	background-color: #ececec !important;
	border: none;
	padding-bottom: 1px;
}
gooKanteiBox.hyoukasyo h3 {
	float: left;
}
.gooKanteiBox.hyoukasyo .clickPopUp {
	font-size: 100%;
	font-weight: normal;
	width:55%;
	position:absolute;
	top: 15px;
	right: 0px;
	text-align: right;
}
.gooKanteiBox.hyoukasyo .wrapHyoukaPaper {
	margin: 10px 20px 20px;
	text-align: center;
}
.wrapHyoukaPaper img {
	width: 100%;
}
.wrapHyoukaPaper .sizeA4 {
	width: 50%;
}
.gooKanteiBox.hyoukasyo .aboutKanteiLink {
	text-align: right;
}

.gooKanteiBox.premium table {
	text-align: left;
	border-top: 1px #e6e6e6 solid;
}

.gooKanteiBox.premium th {
	width: 20%;
	padding: 6px 6px 6px 9px;
	background: #f5f5f5;
	border-bottom: 1px #e6e6e6 solid;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

.gooKanteiBox.premium td {
	width: 60%;
	padding: 6px 6px 6px 9px;
	border-bottom: 1px #e6e6e6 solid;
	vertical-align: middle;
}



.thisCarGooPlus {
	padding: 16px 8px;
	max-width: 468px;
	margin: auto;
}
.thisCarGooPlus .wrapGooPlusLogo {
	width: 22%;
	text-align: right;
	float: left;
	margin-top: 4px;
}
.thisCarGooPlus .wrapGooPlusLogo img {
	width: 100%;
}
.thisCarGooPlus .wrapExplain {
	width: 76%;
	padding-left: 3px;
	float: left;
}
.thisCarGooPlus .help {
	color: #fff;
	float: left;
    width: 15px;
    height: 15px;
    margin: 4px;
    background: grey;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
}
.thisCarGooPlus .explain {
	float: left;
	width: 90%;
	position: relative;
	top: 50%;
	margin-top: 0.5em;
}
@media screen and (max-width: 467px) {
	.thisCarGooPlus .explain {
		margin-top: -0.05em;
	}
}
.thisCArGooPlus .linkdeco {
	text-decoration: underline !important;
}


/*   Line   */
.lineBtn {
	font-size: 11px;
    margin-bottom: 10px;
}
.lineBtn .lineCall img {
	width: 100%;
	margin-bottom: 5px;
}
.lineBtn .aboutline {
	font-size: 11px;
}
.lineBtn .aboutline span {
	color: #ff0000;
}


/*    car_detail   */

/*   mainAreaBnr 20160804   */
.box_roundWhite.boxInner .box_searchBrand {
	padding: 10px 10px 0 10px;
}

.box_roundWhite.boxInner .box_searchBrand .txt {
	border-bottom: 1px solid #ccc;
	margin: 0 0 15px 0;
	padding: 10px 0 15px;
}

#main .box_searchBrand .list.first {
	border-top-style: none;
	padding-top: 0;
}

/*phase2*/
/* お気に入り　モーダル表示*/
#confirmOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 99999;
	background: rgba(0,0,0,0.3);
}
#wrapConfirmWindow {
	position: absolute;
	top: 50%;
	margin-top: -60px;
	width: 100%;
}
#confirmWindow {
	width: 90%;
	max-width: 310px;
	background: #ffffff;
	padding: 15px 0 0;
	margin: auto;
	border-radius: 10px;
	border: 1px solid #c6c6c6;
}
#confirmWindow .confirmTxt {
	width: 100%;
	font-size: 18px;
	text-align: center;
	max-width: 250px;
	font-weight: bold;
	line-height: 24px;
	margin: 0 auto 20px;
}
#confirmWindow .confirmBtnArea {
	width: 100%;
	margin: auto;
	border-top: 1px solid #c6c6c6;
}
#confirmWindow .confirmBtnArea li {
	float: left;
	width: 50%;
	cursor: pointer;
}
#confirmWindow .confirmBtnArea .right {
	float: right;
	border-left: 1px solid #c6c6c6;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
#confirmWindow .confirmBtnY,
#confirmWindow .confirmBtnN {
	display: block;
	width: 100%;
	height: 20px;
	padding: 8px 0;
	color: #6666ff;
	text-align: center;
	font-size: 18px;
	vertical-align: middle;
}
