#debug {
	display:none;
	margin: 1em;
	border: 1px solid #ee7f00;
}

#debug h2, #debug h3 {
	font-family:'Gill Sans W04 Roman',arial,sans-serif;
	background-color: #ee7f00;
	color: #fff;
	padding: 2em 0.5em;
}

#debug h3 {
	background-color: #e1e1e1;
	color: #3a3a3a;
}

#debug tr {
	font-size:1em;
	font-family:monospace;
}

#debug .error,#debug .error + tr {
	background-color:red;
}

#debug .warning,#debug .warning + tr {
	background-color:orange;
}

#debug .notice,#debug .notice + tr {
	background-color:#ff0;
}

#debug .notice + tr,#debug .error + tr {
	margin-bottom:1em;
}

#debug table tr {
  border: 1px solid #c8c8c8
}

#debug table tr td {
  border-left: 1px solid #c8c8c8
}

#debug tbody tr:first-child {
  display: none;
}

#debug table {
  width: 100%;
}

#debug td {
  padding: 0.1em;
}

#debug #templateusage td {
  font-size: 0.9em;
}

#debug #templateusage {
  border-right: 1px solid #c8c8c8
}

#debug #templateusage td:nth-child(5), #debug #templateusage td:nth-child(6) {
  display: none;
}