/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* Responsive Video -->> Start */
.responsive-video {

    position: relative;
    padding-bottom: 56%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    z-index:0;
}
.responsive-video iframe,
.responsive-video object,
.responsive-video video,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


.overlay {
    position: absolute;
    top: 0;
    right:0;
    margin-top: 0px;
    margin-right:50px;
    z-index:1;
}
/* Responsive Video <<-- Ende */

html,button,input,select,textarea {
	color:#3a3a3a;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
	background:#b3d4fc;
	text-shadow:none;
}

::selection {
	background:#b3d4fc;
	text-shadow:none;
}

/*
 * A better looking default horizontal rule
 */
hr {
	display:block;
	margin:4em 0;
	padding:0;
	height:1px;
	border:0;
	border-top:1px solid #c8c8c8;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
	vertical-align:middle;
}

.module .content img {
	max-width:100%;
	height:auto;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
	margin:0;
	padding:0;
	border:0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	resize:vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
	margin:.2em 0;
	padding:.2em 0;
	background:#e1e1e1;
	color:#000;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*,:after,:before {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

body {
	margin:0;
}

[class*='col-'] {
	display:inline;
	float:left;
	padding-right:20px;
}

[class*='col-']:last-of-type {
	padding-right:0;
}

.col-1-3:last-of-type {
	padding-right:20px;
}

.grid {
	overflow:hidden;
	margin:0 auto;
	max-width:1210px;
	width:100%;
}

.grid,body,html {
	min-width:970px;
}

.grid:after {
	display:table;
	clear:both;
	content:"";
}

.grid .grid {
	padding-left:0;
}

.grid-pad {
	padding:0 0 0 20px;
}

.grid-pad > [class*='col-']:last-of-type {
	padding-right:20px;
}

.push-right {
	display:inline;
	float:right;
}

/* Content Columns */
.col-1-1 {
	width:100%;
}

.col-2-3,.col-8-12 {
	width:66.66%;
}

.col-1-2,.col-6-12 {
	width:50%;
}

.col-1-3,.col-4-12 {
	width:33.33%;
}

.col-1-4,.col-3-12 {
	width:25%;
}

.col-1-5 {
	width:20%;
}

.col-1-6,.col-2-12 {
	width:16.667%;
}

.col-1-7 {
	width:14.28%;
}

.col-1-8 {
	width:12.5%;
}

.col-1-9 {
	width:11.1%;
}

.col-1-10 {
	width:10%;
}

.col-1-11 {
	width:9.09%;
}

.col-1-12 {
	width:8.33%;
}

/* Layout Columns */
.col-11-12 {
	width:91.66%;
}

.col-10-12 {
	width:83.333%;
}

.col-9-12 {
	width:75%;
}

.col-5-12 {
	width:41.66%;
}

.col-7-12 {
	width:58.33%;
}

/* \Simple Grid */

/*********** Internet Explorer *************/
.ie9 a.btn,.lt-ie9 a.btn,.ie9 input[type=submit],.lt-ie9 input[type=submit],
.ie9 a.btn.orange,.lt-ie9 a.btn.orange,.ie9 input[type=submit].orange,.lt-ie9 input[type=submit].orange,
.ie9 a.btn.blue,.lt-ie9 a.btn.blue,.ie9 input[type=submit].blue,.lt-ie9 input[type=submit].blue {
	padding-top:0.7em;
	height: 54px;
	background:#e1e1e1 url(../images/background-btn-ie.png) no-repeat left top;
	background-position:left center;
	background-repeat:no-repeat;
}

.ie9 a.btn.orange,
.lt-ie9 a.btn.orange {
	color:#393c43;
/* 	background: #e1e1e1 url(../images/background-btn-ie-orange.png) no-repeat left top; */
}

.ie9 a.btn.blue,
.lt-ie9 a.btn.blue {
	color:#393c43;
/* 	background: #e1e1e1 url(../images/background-btn-ie-blue.png) no-repeat left top; */
}
.lt-ie8 .easy-form input {
	margin:0;
}

.lt-ie8 #navi-middle .navi a {
	height:20px;
}

.lt-ie9 .checkbox input[type=checkbox] {
	display:inline;
}

.lt-ie9 #navi-top .switch {
  margin-top: -13px;
}

.lt-ie9 .checkbox label {
	visibility:hidden;
}

.lt-ie9 .checkbox input {
	width:auto;
}

.lt-ie9 .checkbox span {
	padding-left:6px;
}

.lt-ie9 .gray {
	border-top:1px solid #e1e1e1;
}

.lt-ie9 .is-sticky #navi-content {
	border-bottom:1px solid #e1e1e1;
}

/*********** Macintosh *************/
.mac .checkbox label {
	top:-5px;
}

.mac .sagmk-dots span {
	padding-top:.15em;
}

.mac h1,.mac h2,.mac h3,.mac h4 {
  line-height: .9em;
}

.mac .accordion h1,.mac .accordion h2,.mac .accordion h3,.mac .accordion h4 {
  padding-top:0.75em;
  background-position-y:17px;
  line-height: 1.5;
}

.mac h2.ui-state-active, .mac h3.ui-state-active, .mac h4.ui-state-active {
  background-position-y:-270px;
}

.mac #switcher li a,.mac #switcher li span,.mac #navi-top .switch {
  padding:12px 15px 4px 32px;
}

.mac .h-normal .navi {
  padding-top:14px;
}

.mac #navi-top .switch {
	margin-top:-16px;
}

.mac #stage .title {
  padding-top: inherit;
}

.mac #navi-content a,.mac #navi-content span {
  padding-top: 0.7em;
}

.mac a.btn,input[type=submit] {
  padding-top: 1em;
}

.mac form input, .mac form textarea {
  padding-top: 1.3em;
}

.mac .full-form input[type=text],.mac .full-form input[type=password], .mac .full-form input[type=email], .mac .full-form select, .mac .full-form .select {
  padding-top: 1em;
}

.mac .heapBox .holder {
  padding-top: 0.75em
}



/*********** FONT SETTINGS *************/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video {
	outline:0;
	border:0;
	font-size:100%;
	vertical-align: baseline;
	background:transparent;
	-webkit-font-smoothing:antialiased;
}

body {
	margin:0;
	padding:0;
	background:#fff;
	font-weight:400;
	-webkit-font-smoothing:antialiased;
}

@font-face {
	font-family:"Gill Sans W04 Light";
	src:url(fonts/gill-sans/1122854/99f44245-9d58-4190-a64e-a3376f8b53b3.eot?#iefix);
	src:url(fonts/gill-sans/1122854/99f44245-9d58-4190-a64e-a3376f8b53b3.eot?#iefix) format("eot"),
	url(fonts/gill-sans/1122854/bef137ae-8972-46a3-9a77-f0453736e755.woff) format("woff"),
	url(fonts/gill-sans/1122854/c4072f74-697b-4348-a99d-a43bc92d5416.ttf) format("truetype"),
	url(fonts/gill-sans/1122854/2f1959a9-36af-4490-bdb5-aec3ca90bbb2.svg#2f1959a9-36af-4490-bdb5-aec3ca90bbb2) format("svg");
}

@font-face {
	font-family:"Gill Sans W04 Roman";
	src:url(fonts/gill-sans/1122863/c575cf0c-7e15-4f49-913a-af4676e20343.eot?#iefix);
	src:url(fonts/gill-sans/1122863/c575cf0c-7e15-4f49-913a-af4676e20343.eot?#iefix) format("eot"),
	url(fonts/gill-sans/1122863/39ede25d-544d-4537-8668-3e9af68a26ec.woff) format("woff"),
	url(fonts/gill-sans/1122863/fe7e264f-3a4a-40c8-85eb-f9e2cb4b6f21.ttf) format("truetype"),
	url(fonts/gill-sans/1122863/f45aa0ef-7101-4ac6-84f9-fce14d01e189.svg#f45aa0ef-7101-4ac6-84f9-fce14d01e189) format("svg");
}

body,select,input,textarea,.cita,.title strong,.title b, h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, #content-list b {
	font-family:'Gill Sans W04 Light',arial,sans-serif;
}

#navi-content .navi .selected span,.module table .subline,.ui-accordion-header,.info,a.btn,input[type=submit],strong,b,#index.stuck #indexlist,#index.stuck #indexlist b, .chapter h4 {
	font-family:'Gill Sans W04 Roman',arial,sans-serif;
}

.superscript {
  font-family:arial,sans-serif;
}

body {
	letter-spacing:.02em;
	line-height:normal;
}

h1,h2,h3,h4,.tel {
	word-wrap:normal;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	hyphens:none;
}

h1,h2,h3,h4 {
	padding-top:.25em;
	padding-bottom:.5em;
	font-size:2.25em;
	line-height:1;
}

h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, #indexlist b, b, strong {
  font-weight: normal;
}

#stage h1, #stage h2, #stage h3, #stage h4 {
  line-height: .9em;
}

.tel,th {
	padding-top:.25em;
	padding-bottom:.5em;
  font-size:2em;
  line-height:.9;
}

a.back {
	text-transform:uppercase;
}

.title {
	padding-bottom:.25em;
	text-transform:uppercase;
	font-size:4em;
}

.infotext {
	display:block;
	padding-right:20px;
	padding-left:10px;
	font-size:2em;
	line-height:1.1;
}

h2.infotext {
  line-height: 1.1;
}

.col-1-1 .infotext {
	padding:0;
}

.title b {
	display:block;
	padding-top:0;
	padding-bottom:.25em;
	font-weight:400;
	font-size:.5625em;
	line-height:1;
}

.infotext small {
	font-size:.5625em;
	line-height:1.1;
}

.superscript {
	position:relative;
	top:-22px;
	padding:2px 0 0;
	height:10px;
	color:#fff;
	font-size:10px;
/*  border: 1px solid #fff;  */
	width:10px;
}

.superscript.big {
	top:-8px;
}

.popup-content:hover .superscript {
	border-color:#3a3a3a;
	color:#3a3a3a;
}

.small {
	font-size:.75em;
	line-height:1.1;
}

.accordion h1,.accordion h2,.accordion h3,.accordion h4 {
	line-height:1.5;
/* 	font-size:1em; */
}

#navi-top,#lang-top {
	font-size:.875em;
}

.cita {
	font-style:italic;
	font-size:1.2em;
	line-height:1.2em;
}

.sagmk-dots {
}

h1 + p,h2 + p,h3 + p,h4 + p,h1 + .paragraph,h2 + .paragraph,h3 + .paragraph,h4 + .paragraph {
}

span[href]:hover {
}

p,.paragraph,
#stage .paragraph {
	margin-top:0;
	padding-top:0;
/* 	word-wrap:break-word; */
/*
	-webkit-hyphens:auto;
	-moz-hyphens:auto;
	hyphens:auto;
*/
	line-height:1.3;
/* 	font-size:1em; */
}

#stage p,#stage paragraph {
	word-wrap:normal;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	hyphens:none;
}

p:last-child,.paragraph:last-child {
	margin-bottom:0;
	padding-bottom:0;
}

table,ul,ol,p,.paragraph,.accordion h1,.accordion h2,.accordion h3,.accordion h4, .btn, form, a.back {
	font-size:1.125em;
}

.switch {
  font-size: 1.275em;
}
#switcher {
  font-size: 1.125em;
}
#footer-bottom .navi {
  font-size: 0.85em;
}

/*********** END FONT SETTINGS *************/
#mod-interest h2,#mod-interest h3,#mod-interest h4 {
}

.small {
}

/********************************/
/*!                             */
/*  				Colors              */
/*                              */
/********************************/
/*************************/
/*! #3a3a3a Schwarz      */
/*  #959595 Grau         */
/*  #c8c8c8 Mittelgrau   */
/*  #e1e1e1 Hellgrau     */
/*  #f2f2f2 Fond         */
/*                       */
/*  #ee7f00 Orange       */
/*  #f7a93f Orange hell  */
/*                       */
/*  #0066b1 Blau         */
/*  #6ba5d9 Blau hell    */
/*************************/
body,.paragraph {
	color:#3a3a3a;
}

a {
	color:#0066b1;
}

nav a,#footer-top a,nav.header #switcher a,nav.header #switch a,.switch a,nav.header #switcher .selected span,nav.header #switch .selected span,.switch .selected span {
	color:#959595;
}

a:hover,nav a:hover,#footer-top a:hover,#footer-bottom a:hover,#navi-content a:hover,nav.header #switcher a:hover,nav.header #switch a:hover,.switch a:hover {
	color:#ee7f00;
}

h1.colored,h2.colored,h3.colored,h4.colored {
/* line-height: 0.8em; */
/* padding-bottom: 0.8em */
	color:#ee7f00;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

h1 + h2,p + h1,p + h2,p + h3,p + h4 {
	padding-top:.8em;
}

p {
	margin-top:0;
}

p:last-child {
	margin-bottom:0;
	padding-bottom:0;
}

a.btn,nav a,#footer-top a {
	text-decoration:none;
}

.navi {
	margin:0;
	padding:0;
	height:auto;
}

#head .navi li {
	float:left;
}

.navi li {
	display:inline;
}

map > area,
map > area:active,
map > area:focus {outline: none; border:0; }

img + p,img + span + h1,img + span + h2,img + span + h3,img + span + h4,img + h1,img + h2,img + h3,img + h4, a + h3 {
	margin-top:.25em;
}

.h-normal {
	float:right;
	margin-top:1em;
	width:auto;
}

.h-normal .navi {
	float:left;
	padding-top:10px;
	width:auto;
}

#navi-top a,#lang-top a,#lang-top .selected span,#navi-top .selected span {
	padding:0 .5em;
}

#lang-top li {
	border-right:1px solid #c8c8c8;
}

#lang-top li:last-child {
	border-right:none;
}

#head {
	margin-bottom:40px;
	background:#efefef;
	-webkit-box-shadow:0 -20px 10px -20px #e1e1e1 inset;
	-moz-box-shadow:0 -20px 10px -20px #e1e1e1 inset;
	box-shadow:0 -20px 10px -20px #e1e1e1 inset;
}

nav.header-products {
	float:right;
	padding:20px 8px 0;
	width:auto;
}

nav.header-products li {
	float:left;
	margin-left:25px;
	padding-right:25px;
	width:auto;
	border-right:1px solid #e1e1e1;
	vertical-align:bottom;
}

nav.header-products li:last-child {
	padding-right:0;
	border-right:none;
}

nav.header-products a {
	opacity:.3;
}

nav.header-products a:hover {
	opacity:1;
}

nav.header-products .selected {
	opacity:1;
}

nav.header {
	text-align:right;
/* line-height: 2em;  */
}

nav.header ul {
	display:inline;
}

nav.header #switcher,nav.header #switch,.iphone_switch_container,.switch {
	display:inline;
	text-transform:uppercase;
}

#logo a#claimless {display: block; overflow: hidden; width: 224px; height: 50px; margin-bottom: 12px;}
#logo h4.claim { text-align: left; font-size: 170%; width: auto; position: absolute; padding: 0; margin: 0 0 0 270px; margin-top: -38px; }

#switcher {
	float:left;
	margin-bottom:0;
	padding-left:0;
	width:auto;
	text-align:left;
	margin-top:.75em;
}

#switcher li {
	float:left;
	width:auto;
}

#switcher li a,#switcher li span,#navi-top .switch {
	float:left;
	padding:8px 15px 8px 32px;
	width:auto;
	border-top:1px solid #fff;
	border-right:1px solid #fff;
	border-left:1px solid #fff;
	background:#efefef url(../images/background-btn-switch.png) no-repeat 10px 12px;
}

#navi-top .switch {
	margin:-12px 10px 0;
}

#switcher li.selected span,.switch.selected span {
	background-color:#fff;
	background-position:10px -29px;
}

#switcher li:first-child a {
	padding-right:16px;
	border-right:none;
}

#navi-middle {
	position:relative;
	top:20px;
	z-index:10;
	height:20px;
	text-align:right;
/* margin-top: 3em;  */
	background:url(../images/background-navi.png) no-repeat right center;
}

#navi-middle .grid-pad {
	padding-top:0;
}

#navi-middle .navi a,#navi-middle .navi span {
	display:inline-block;
	padding:20px;
	height:60px;
	background:#eee;
	background-image:-webkit-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:-moz-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:-o-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:linear-gradient(white 0%,#e1e1e1 100%);
}

#navi-middle .navi span.selected {
	background-color:#ee7f00;
	background-image:none;
	color:#fff;
}

#stage {
	margin:0 auto;
	height:460px;
	background:url(../images/background-start1.jpg) no-repeat top center;
/*  background-size: 100% auto;  */
/*	max-width:1800px;	*/
}

#stage .content {
	visibility:hidden;
	margin-top:120px;
	padding:20px 100px 15px 25px;
	background:transparent url(../images/background-teaser.png) repeat-y right top;
}

#stage .content p a.btn, #stage .content p a.btn:visited, #stage .content p a.btn:hover { margin: 0.8em 0 0.6em; }

#stage .title{
  padding-top: 0;
}

#stage .title b {
}

#stage .title b i {
	color:#ee7f00;
	font-style:normal;
}

#stage .title + p, #stage .title + .paragraph {
  margin-bottom: 0.5em;
}
.lhPlus {
	line-height: 1.1em !important;
	padding-bottom:.25em;
	text-transform:uppercase;
	font-size:4em;
}
.lhPlus b {
	display:block;
	padding-top:0;
	padding-bottom:.25em;
	font-weight:400;
	font-size:.5625em;
	line-height:1.2em;
}

#nostage {
	margin-top:20px;
}

#navi-content {
	z-index:800;
	padding-top:0;
	width:100%;
	background:#fff;
}

#navi-content .navi {
	display:inline;
	float:left;
	width:auto;
	text-transform:uppercase;
}

#navi-content li {
	display:inline;
	float:left;
	width:auto;
}

#navi-content li.selected + li a,#navi-content li.selected a,#navi-content li.selected span,#navi-content li:first-child a,#navi-content li:first-child {
	border-left:none;
}

#navi-content a,#navi-content span {
	display:inline;
	float:left;
	margin:.4em 0;
	padding:.5em 15px .5em;
	width:auto;
	border-left:1px solid #e1e1e1;
	color:#393c43;
}

#navi-content .selected {
	background:#ee7f00;
}

#navi-content .selected a,#navi-content .selected span {
	color:#fff;
}

#main-container {
}

.info {
	padding-top:15px;
	padding-bottom:15px;
	background-color:#ee7f00;
/* 		height: auto;  */
	color:#fff;
/* line-height: 1em;  */
}

.info .small,.info small {
	display:block;
}

#keyfacts {
	width:100%;
}

#keyfacts td {
	vertical-align:middle;
}

#keyfacts .infotd {
	width:30%;
	padding-bottom: 3px;
}

#keyfacts a {
    color: #FFF;
}
#keyfacts a:hover {
    color: #FFF;
    text-decoration: none;
}

.info.custom-info table td {
	vertical-align: left;
}
.info.custom-info table h4 {
	font-size:1.65em; text-align: left; padding-left: 20px; padding-top: 0.70em; padding-bottom:0.25em;
}
.info.custom-info table p {
	text-align: left; padding-left: 20px;
}
.info.custom-info table p a, .info.custom-info table p a:visited {
	color:#fff !important;
}
.info.custom-info table p a:hover {
	color:#0066b1 !important;
}

.slider {
	margin:3em 0;
}

.slider p,.slider h2,.img-wrapper {
	display:block;
	margin:0 25px;
}

.content .img-wrapper {
	padding-right:2em;
	padding-left:2em;
}

.slider h2 {
	margin-top:1em;
}

.img-wrapper {
	overflow:hidden;
	padding-right:2em;
	padding-left:2em;
	border:10px solid #e1e1e1;
	background:#fff;
}

.full-gray .img-wrapper {
	border-color:#fff;
}

.slider a .img-wrapper:hover {
	border-color:#ee7f00;
}

.flex-viewport {
	margin:0 75px;
}

#slider .flex-viewport {
	margin:0;
}

#footer-top {
	padding-top:100px;
	border-top:1px solid #EAEAEA;
}

.full-gray + #footer-top {
	border-top:none;
}

#footer-top h2 {
	padding-top:10px;
}

#footer-top ul {
	margin-left:0;
	padding-left:0;
}

#footer-top ul li {
	padding:6px 0;
}

.footer-image {
  height:72px;
}

#footer-bottom {
	padding:25px 0 20px;
	min-height:130px;
	height:90px;
	height:auto!important;
	background-color:#272727;
	color:#fff;
}

#footer-bottom a {
	color:#fff;
	text-decoration:none;
}

#footer-bottom .navi {
	margin-top:10px;
}

#footer-bottom .navi li {
	padding:0 20px;
}

#footer-bottom .tel {
	padding-bottom:.4em;
	font-size: 1.6em;
}

/*
.flexslider {  text-align: center;  }
*/
.slide-function .bg {
	background:url(../images/background-slider-new.png) no-repeat 47px 187px;
}

.is-sticky #navi-content {
	border-collapse:separate;
	-webkit-box-shadow:0 0 10px 0 #e1e1e1;
	-moz-box-shadow:0 0 10px 0 #e1e1e1;
	box-shadow:0 0 10px 0 #e1e1e1;
}

#top-link {
	position:fixed;
	right:0;
	bottom:190px;
	z-index:1000;
	display:block;
	display:none;
	width:72px;
	height:60px;
	border:1px solid #f2f2f2;
	border-right:none;
	background:url(../images/background-up.png) no-repeat left top;
}

/*********** CLASSES *************/
#navi-content a.back,a.back {
	clear:both;
	padding-left:20px;
	width:auto;
	border-left:none;
	background:url(../images/background-btn-switch.png) no-repeat left -72px;
	text-decoration:none;
}
#back-nav a.back {
	background:url(../images/background-btn-switch.png) no-repeat left -85px;
	color:#3a3a3a;
}
#back-nav a.back:hover { 
	color: #ee7f00;
}
iframe {
	margin-bottom:1em;
}

iframe.iframe-border {
	border:1px solid #e1e1e1;
}
iframe[name=google_conversion_frame] {
	position: absolute; margin-bottom: 0em !important; bottom: -13px;
}
.text-right {
	text-align:right;
}

.highlight,#footer-top .highlight a,.selected a,.selected span {
	color:#ee7f00;
}

.center {
	margin:0 auto;
	text-align:center;
}

.grid-pad > [class*="col-"]:last-of-type .right {
	padding-right:0;
}

.right {
	text-align:right;
}

.push-right.right .normal {
	float:right;
}

.gray {
	border-collapse:separate;
	-webkit-box-shadow:inset 0 0 10px -10px #e1e1e1;
	-moz-box-shadow:inset 0 0 10px -10px #e1e1e1;
	box-shadow:inset 0 10px 10px -10px #e1e1e1;
}

.full-gray {
	background-color:#f2f2f2;
	-webkit-box-shadow:inset 0 0 10px 0 #e1e1e1;
	-moz-box-shadow:inset 0 0 10px 0 #e1e1e1;
	box-shadow:inset 0 0 10px 0 #e1e1e1;
}

.icon-box {
	padding-bottom:10px;
	padding-left:20px;
	border-right:1px solid #EAEAEA;
}

.icon-box,.country-box {
	margin-bottom:60px;
}

.icon-box:first-child {
	padding-left:0;
}

.mobile {
	margin:30px 0;
	text-align:center;
}

/*
#example-one a img, #example-one a           { border: none; overflow: hidden; float: left; }
#example-one a:hover                         { border: 3px solid black; }
#example-one a:hover img                     { margin: -3px; }
*/
.clickbox {
	position:relative;
}

.clickbox span {
	position:absolute;
	top:0;
	z-index:100;
	display:block;
	width:100%;
	border:10px solid transparent;
}

.clickbox a {
	color:#272727;
	text-decoration:none;
}

.module {
	padding-top:100px;
	padding-bottom:100px;
}

.module table {
	margin:3em 0 2em;
	width:100%;
}

.ui-accordion-content .module table {
	margin:0em 0 1em;
}

.module table tr th {
}

.module table tr th,.module table tr td {
	padding:10px 20px;
/* border-right: 20px solid #fff; */
	border-right:1px solid #e1e1e1;
}

.module table .subline {
	text-transform:uppercase;
}

.module table tr td:last-child,.module table tr th {
	border-right:none;
}

.module table tr th {
}

.module table tr th {
	border-right:none;
}

.module table tr td.small,.module p.small {
}

.module table tr th i {
	color:#ee7f00;
	font-style:normal;
}

.module table tr.colored td {
	background-color:#f2f2f2;
}

.module .full-gray table tr.colored td {
	background-color:#e1e1e1;
}

.module .full-gray table tr.colored th,.module .full-gray table tr.colored td {
	border-color:#fff;
}

.full-gray table tr.colored td {
	background-color:#fff;
}

.module table tr th.center,.module table tr td.center,.module table tr td.true {
	text-align:center;
}

.module table tr span.true {
	padding:10px 20px;
	background:url(../images/icon-benefit.png) no-repeat top left;
}

.module table .text-center {
	text-align:center;
}

table.normal {
	margin-top:0;
}

table.normal tr td {
	padding:0;
}

.st {
	padding:6%;
	min-height:234px;
	height:234px;
	height:auto!important;
	background:transparent url(../images/background-st.png) no-repeat top left;
	background-size:90% auto;
}

.st[class*="col-"]:last-of-type {
	padding-right:6%;
}

.st h2 {
	color:#ee7f00;
	text-transform:uppercase;
	letter-spacing:-.08em;
}

.st p,/*
#mod-interest p,#mod-interest h2 {
	margin-top:.2em;
}

*/
/* #mod-interest [class*="col-"] {
	margin-top:1em;
}

*/
#mod-interest img {
	width:100%;
	height:auto;
}

.tel span, #stage .tel, .contactPerson .tel span {
	padding:15px 0 5px 30px;
	background:transparent url(../images/background-tel.png) no-repeat left center;
}

.tel p {
	margin-bottom:0;
/* line-height:normal;  */
}

.sm-fb,.sm-t,.sm-g {
	display:inline;
	float:left;
	margin-right:15px;
	width:28px;
	height:28px;
	font-size:0;
}

.sm-fb {
	background:transparent url(../images/sm-sprites.png) no-repeat left center;
}

.sm-t {
	background:transparent url(../images/sm-sprites.png) no-repeat center center;
}

.sm-g {
	background:transparent url(../images/sm-sprites.png) no-repeat right center;
}

.accordion {
	margin-top:2em;
	width:70%;
	border-bottom:1px solid #e1e1e1;
}

.accordion div {
	padding-bottom:10px;
	padding-left:20px;
}

.accordion div p:first-child {
	margin-top:0;
}

.ui-accordion-header {
	padding:.5em 20px;
	border-top:1px solid #e1e1e1;
	background:url(../images/list-accordion.png) no-repeat left 15px;
	cursor:pointer;
}

.ui-accordion-header:first-child {
	border-top:none;
}

.ui-accordion-header:hover {
	color:#ee7f00;
}

h2.ui-state-active,h3.ui-state-active,h4.ui-state-active {
	background-position:left -272px;
	color:#ee7f00;
}

.accordion .ui-accordion-content {
	padding:20px;
	margin-bottom: 0;
}

.ac-open {
	margin-top:.25em;
	width:70%;
	border-bottom:1px solid #e1e1e1;
}

.ac-open:hover {
	color:#ee7f00;
}

.checklist,.ulist {
	margin-left:0;
	padding-left:0;
}

.checklist li {
	padding:10px 0 15px 40px;
	background:url(../images/icon-benefit.png) no-repeat left top;
}

.ulist li {
	padding:10px 0 5px 25px;
	background:url(../images/icon-bullet.png) no-repeat 5px 14px;
}

.ulist ul li {
	margin-left:20px;
	padding:5px 0 0 5px;
	background:none;
	list-style:decimal;
}

.ulist ul.ulist {
	margin-top:10px;
}

.ulist ul.ulist li {
	margin-left:0;
	padding:5px 0 5px 25px;
	background:url(../images/icon-bullet.png) no-repeat 5px 9px;
	list-style:none;
}

#footer-top .selected {
	color:#ee7f00;
}

.movie {
	position:relative;
}

.btn-movie {
	position:absolute;
	display:block;
	width:153px;
	height:153px;
	background:url(../images/icon-play-gray.png) no-repeat top left;
}

.full-gray .btn-movie {
	background-image:url(../images/icon-play.png);
}

.w100 {
	width:100%;
}

.easy-form {
	padding:40px;
	width:auto;
	border:1px solid #c8c8c8;
}

.full-gray .easy-form,.full-gray .full-form input[type=text],.full-gray .full-form input[type=password],.full-gray .full-form input[type=email],.full-gray .full-form select,.full-gray .full-form .select,.full-gray .full-form textarea {
	border-color:#fff;
}

.easy-form input {
	display:inline;
	float:left;
	padding:1em;
	width:auto;
	border:1px solid #c8c8c8;
}

.easy-form .btn {
	display:inline;
	float:right;
	margin-top:0;
}

.full-form .formline {
	display:inline;
	float:left;
	margin-top:.5em;
	width:100%;
}

.full-form label {
	display:inline;
	float:left;
	padding-top:.5em;
	padding-right:3%;
	width:27%;
}

.full-form input[type=text],.full-form input[type=password],.full-form input[type=email],.full-form select,.full-form .select,.full-form textarea {
	display:inline;
	float:left;
	padding:.5em;
	width:40%;
	height:2.5em;
	border:1px solid #c8c8c8;
}
.full-form select.multiple-select {height:20em;}
.full-form.big input[type=text],.full-form.big input[type=password],.full-form.big input[type=email] {
	width:73%;
}

.full-form textarea {
	width:70%;
	height:10em;
}

.full-form .forminfo,.full-form .formerror {
	display:inline;
	float:left;
	margin-left:10px;
	padding:10px;
	padding-left:40px;
	width:30%;
	background:none;
	background:url(../images/info.png) no-repeat 10px 8px;
	color:#393c43;
}

.full-form .forminfo {
	position:absolute;
	z-index:10;
	visibility:hidden;
	background-color:#f2f2f2;
	opacity:0;
}

.easy-form input:focus,.full-form input[type=text]:focus,.full-form input[type=password]:focus,.full-form input[type=email]:focus,.full-form select:focus,.full-form textarea:focus {
	border-color:#ee7f00;
}

.checkbox input[type=checkbox] {
	display:none;
}

.checkbox {
	position:relative;
	display:inline;
	margin:0;
	width:auto;
}

.checkbox input {
	margin-left:0;
	width:0;
}

.checkbox span {
	padding-left:30px;
}

.full-form label.labelcheckbox {
	padding:0;
}

.checkbox label {
	position:absolute;
	top:0;
	padding-right:0;
	width:20px;
	height:20px;
	background:#fff;
	cursor:pointer;
}

.checkbox label:after {
	position:absolute;
	top:0;
	left:4px;
	padding-right:20px;
	width:20px;
	height:12px;
	border:2px solid #ee7f00;
	border-top:none;
	border-right:none;
	background:transparent;
	content:'';
	opacity:0;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter:alpha(opacity=0);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

.checkbox label:hover::after {
	opacity:.3;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	filter:alpha(opacity=30);
}

.checkbox input[type=checkbox]:checked + label:after {
	opacity:1;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter:alpha(opacity=100);
}

.full-form .formline {
	position:relative;
}

.full-form select {
	position:relative;
}

span.select {
	position:absolute;
	bottom:0;
	left:27%;
	z-index:1;
	width:50%;
	background:#fff url(../images/select.png) no-repeat right center;
	cursor:default;
/* line-height: 1em; */
}

.full-form select option:hover {
}

.heapBox a {
	padding:.5em 0 .4em;
}

.form-captcha {
	float:left;
	overflow:hidden;
	width:18%;
	text-align:right;
}

.full-form input[type="text"].captcha-input {
	width:22%;
}

.mt0 {
	margin-top:0!important;
}

.mt1 {
	margin-top:1em;
}

.mt2 {
	margin-top:2em;
}

.mt3 {
	margin-top:3em;
}

.mt4 {
	margin-top:4em;
}

.mt5 {
	margin-top:5em;
}


.mr1 { margin-right: 1em;}
.mr2 { margin-right: 2em;}
.mr3 { margin-right: 3em;}
.mr4 { margin-right: 4em;}
.mr5 { margin-right: 5em;}


.ml1 { margin-left: 1em;}
.ml2 { margin-left: 2em;}
.ml3 { margin-left: 3em;}
.ml4 { margin-left: 4em;}
.ml5 { margin-left: 5em;}

/*######## HEAP BOX #########*/
.heapBox {
	display:inline-block;
	clear:both;
	margin-bottom:-.35em;
	width:40%;
/* line-height:2.5em; */
	position:relative;
}

.heapBox .holder {
	border-top:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;
	border-left:1px solid #c8c8c8;
}

.heapBox .handler {
	border-top:1px solid #c8c8c8;
	border-right:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;
}

.full-gray .heapBox .holder {
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
	border-left:1px solid #FFF;
}

.full-gray .heapBox .handler {
	border-top:1px solid #FFF;
	border-right:1px solid #FFF;
	border-bottom:1px solid #FFF;
}

.heapBox.active .holder,.full-gray .heapBox.active .holder {
	border-top:1px solid #ee7f00;
	border-bottom:1px solid #fff;
	border-left:1px solid #ee7f00;
}

.heapBox.active .handler,.full-gray .heapBox.active .handler {
	border-top:1px solid #ee7f00;
	border-right:1px solid #ee7f00;
	border-bottom:1px solid #fff;
}

.heapBox.active div.heap,.full-gray .heapBox.active .heap {
	z-index:21;
	border-right:1px solid #ee7f00;
	border-bottom:1px solid #ee7f00;
	border-left:1px solid #ee7f00;
}

/*
.heapBox.active {
	border-left: 1px solid #ee7f00;
	border-top: 1px solid #ee7f00;
	border-right: 1px solid #ee7f00;
}
*/
.heapBox * {
	margin:0;
	padding:0;
}

.heapBox.disabled .holder {
	color:#FFBC46;
}

.heapBox a {
	color:#fff;
	text-decoration:none;
}

.heapBox .holder {
	overflow:hidden;
	width:75%;
	height:2.5em;
	background:#fff;
	color:#3a3a3a;
	text-indent:.8em;
}

.heapBox .handler {
	width:25%;
	height:2.5em;
	background:#fff url(../images/select.png) no-repeat right center;
}

.heapBox .holder,.heapBox .handler {
	position:relative;
	z-index:10;
	float:left;
}

.heapBox div.heap {
	position:absolute;
	top:2.5em;
	left:0;
	display:none;
	overflow:hidden;
	width:100%;
	list-style-type:none;
}

.heapBox .heap .heapOptions {
	display:block;
}

.heapBox .heap .heapOptions .heapOption {
	position:relative;
	z-index:20;
	display:block;
/* height:2.5em; */
/*
border-left: 1px solid #ee7f00;
border-right: 1px solid #ee7f00;
*/
}

.heapBox .heap .heapOptions .heapOption a {
	display:block;
	width:100%;
	background:#fff;
	color:#3a3a3a;
	text-indent:.8em;
}

.heapBox .heap .heapOptions .heapOption a:hover {
	background:#ee7f00;
	color:#fff;
}

.heapBox .heap .heapOptions .heapOption a.selected {
	background:#ee7f00;
	color:#fff;
}

/*#############################*/
#shopslist,#shopitems {
	float:left;
	padding-left:0;
	width:100%;
}

#shopslist li,#shopitems li {
	float:left;
	margin:.935%;
	width:18.1%;
	height:100px;
	border:1px solid #e1e1e1;
	vertical-align:center;
	text-align:center;
}

#shopslist li a,#shopitems li a {
  float: left;
  width: 100%;
  height: 100%;
}

#shopslist li img,#shopitems li img {
	display:table-cell;
	margin:0 auto;
	max-width:80%;
	max-height:80%;
	height:auto;
	vertical-align:center;
	text-align:center;
}

#shopslist .ml0,#shopitems .ml0 {
	margin-left:0;
}

#shopslist .mr0,#shopitems .mr0 {
	margin-right:0;
}

.full-gray #shopslist li,.full-gray #shopitems li {
	background-color:#fff;
}

#shopitems li {
	width:18.1%;
}

.content .contactPerson,.contactPerson {
	padding:34px;
	border:1px solid #c8c8c8;
	background:#fff;
}

.contactPerson img {
	display:inline;
	float:left;
	width:130px;
	height:auto;
	background:#e1e1e1;
}

.contactPerson h2,.contactPerson p {
	padding-left:164px;
}

.content .contactPerson.noimage h2,.content .contactPerson.noimage p {
	padding-left:0;
}

.contactPerson .tel {
	padding-top:.4em;
	padding-bottom:0;
}

.contactPerson a {
/* color: #ee7f00; text-decoration: none; */
}

.max {
	position:absolute;
	top:10px;
	right:10px;
	z-index:1;
	display:block;
	width:71px;
	height:71px;
	background:url(../images/icon-glasses.png) no-repeat center center;
	cursor:pointer;
}

.sagmk-slider .btn {
	position:absolute;
	bottom:0;
	z-index: 201;
}

#sagmk-slider-2 .sagmk-slide .sagmk-img {
	width:60%;
}

#sagmk-slider-2 .sagmk-slide .sagmk-img img {
	max-width:100%;
	width:auto;
}


th.eyecatcher {
  position: relative;
  display: block;
  width: auto;
}

.module table tr th.eyecatcher {
  padding-right: 52px;
}

th.eyecatcher img {
  position: absolute;
  top: -30px;
  right: 0;
}




a.btn,input[type=submit] {
	left:0!important;
	z-index:200;
	display:inline-block;
	margin-top:2em;
	padding:.8em 40px .8em 70px;
	border:1px solid #c8c8c8;
	background-image:url(../images/background-btn.png),-webkit-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:url(../images/background-btn.png),-ms-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:url(../images/background-btn.png),-moz-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:url(../images/background-btn.png),-o-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:url(../images/background-btn.png),linear-gradient(white 0%,#e1e1e1 100%);
	background-position:left center;
	background-repeat:no-repeat;
	color:#393c43;
}

a.btn:hover,input[type=submit]:hover {
	background-image:url(../images/background-btn.png),-webkit-linear-gradient(white 0%,#c8c8c8 100%);
	background-image:url(../images/background-btn.png),-ms-linear-gradient(white 0%,#c8c8c8 100%);
	background-image:url(../images/background-btn.png),-moz-linear-gradient(white 0%,#c8c8c8 100%);
	background-image:url(../images/background-btn.png),-o-linear-gradient(white 0%,#c8c8c8 100%);
	background-image:url(../images/background-btn.png),linear-gradient(white 0%,#c8c8c8 100%);
	background-position:left center;
	background-repeat:no-repeat;
}

.btn.orange {
	background-image:url(../images/background-btn-white.png),-webkit-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/background-btn-white.png),-ms-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/background-btn-white.png),-moz-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/background-btn-white.png),-o-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/background-btn-white.png),linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-position:left center;
	background-repeat:no-repeat;
	color:#FFF;
}

.btn.orange:hover {
	background-image:url(../images/background-btn-white.png),-webkit-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/background-btn-white.png),-ms-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/background-btn-white.png),-moz-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/background-btn-white.png),-o-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/background-btn-white.png),linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-position:left center;
	background-repeat:no-repeat;
	color:#FFF;
}
.btn.orangestar {
	background-image:url(../images/star.png),-webkit-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/star.png),-ms-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/star.png),-moz-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/star.png),-o-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/star.png),linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-position:left center;
	background-repeat:no-repeat;
	color:#FFF;
}

.btn.orangestar:hover {
	background-image:url(../images/star.png),-webkit-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/star.png),-ms-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/star.png),-moz-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/star.png),-o-linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-image:url(../images/star.png),linear-gradient(#f7a93f 0%,#ee7f00 100%);
	background-position:left center;
	background-repeat:no-repeat;
	color:#FFF;
}
.btn.blue {
	background-image:url(../images/background-btn-white.png),-webkit-linear-gradient(#6ba5d9 0%,#0066b1 100%);
	background-image:url(../images/background-btn-white.png),-ms-linear-gradient(#6ba5d9 0%,#0066b1 100%);
	background-image:url(../images/background-btn-white.png),-moz-linear-gradient(#6ba5d9 0%,#0066b1 100%);
	background-image:url(../images/background-btn-white.png),-o-linear-gradient(#6ba5d9 0%,#0066b1 100%);
	background-image:url(../images/background-btn-white.png),linear-gradient(#6ba5d9 0%,#0066b1 100%);
	background-position:left center;
	background-repeat:no-repeat;
	color:#FFF;
}

.btn.blue:hover {
	background-image:url(../images/background-btn-white.png),-webkit-linear-gradient(#6ba5d9 0%,#0066b1 100%);
	background-image:url(../images/background-btn-white.png),-ms-linear-gradient(#6ba5d9 0%,#0066b1 100%);
	background-image:url(../images/background-btn-white.png),-moz-linear-gradient(#6ba5d9 0%,#0066b1 100%);
	background-image:url(../images/background-btn-white.png),-o-linear-gradient(#6ba5d9 0%,#0066b1 100%);
	background-image:url(../images/background-btn-white.png),linear-gradient(#6ba5d9 0%,#0066b1 100%);
	background-position:left center;
	background-repeat:no-repeat;
	color:#FFF;
}

a.btn.monitor, a.btn.monitor:visited {
	left:0!important;
	z-index:200;
	display:inline-block;
	margin-top:2em;
	padding:1.2em 40px 1em 70px;
	border:1px solid #c8c8c8;
	background-image:url(../images/icon-monitor.png),-webkit-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:url(../images/icon-monitor.png),-ms-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:url(../images/icon-monitor.png),-moz-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:url(../images/icon-monitor.png),-o-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:url(../images/icon-monitor.png),linear-gradient(white 0%,#e1e1e1 100%);
	background-position:left center;
	background-repeat:no-repeat;
	color:#393c43;
	line-height: 1.3;
	font-size: 1.125em;
	min-width: 360px;
}
a.btn.monitor:hover {
	background-image:url(../images/icon-monitor.png),-webkit-linear-gradient(white 0%,#c8c8c8 100%);
	background-image:url(../images/icon-monitor.png),-ms-linear-gradient(white 0%,#c8c8c8 100%);
	background-image:url(../images/icon-monitor.png),-moz-linear-gradient(white 0%,#c8c8c8 100%);
	background-image:url(../images/icon-monitor.png),-o-linear-gradient(white 0%,#c8c8c8 100%);
	background-image:url(../images/icon-monitor.png),linear-gradient(white 0%,#c8c8c8 100%);
	background-position:left center;
	background-repeat:no-repeat;
}
a.btn.smartphone, a.btn.smartphone:visited {
	left:0!important;
	z-index:200;
	display:inline-block;
	margin-top:2em;
	padding:1.2em 40px 1em 70px;
	border:1px solid #c8c8c8;
	background-image:url(../images/icon-smartphone.png),-webkit-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:url(../images/icon-smartphone.png),-ms-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:url(../images/icon-smartphone.png),-moz-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:url(../images/icon-smartphone.png),-o-linear-gradient(white 0%,#e1e1e1 100%);
	background-image:url(../images/icon-smartphone.png),linear-gradient(white 0%,#e1e1e1 100%);
	background-position:left center;
	background-repeat:no-repeat;
	color:#393c43;
	line-height: 1.3;
	font-size: 1.125em;
	min-width: 360px;
}
a.btn.smartphone:hover {
	background-image:url(../images/icon-smartphone.png),-webkit-linear-gradient(white 0%,#c8c8c8 100%);
	background-image:url(../images/icon-smartphone.png),-ms-linear-gradient(white 0%,#c8c8c8 100%);
	background-image:url(../images/icon-smartphone.png),-moz-linear-gradient(white 0%,#c8c8c8 100%);
	background-image:url(../images/icon-smartphone.png),-o-linear-gradient(white 0%,#c8c8c8 100%);
	background-image:url(../images/icon-smartphone.png),linear-gradient(white 0%,#c8c8c8 100%);
	background-position:left center;
	background-repeat:no-repeat;
}

.btnW100 {
	float:left;
	width:100%;
}

/******************* PopUps *********************/
.popup-content {
	cursor:pointer;
}

.white-popup,.login-popup {
	position:relative;
	margin:20px auto;
	padding:20px;
	max-width:800px;
	width:auto;
	background:#FFF;
}

.login-popup {
	max-width:600px;
}

.login-popup label {
	width:40%;
}

.login-popup .full-form input[type="text"],.login-popup .full-form input[type="password"] {
	width:60%;
}

#acc-full .accordion {
width: 100%;
margin-top: 0;
}

#acc-full td:nth-child(4) {
color: #c8c8c8;
}

/* ==========================================================================
	ADDITIONAL CLASSES
	========================================================================= */
.shoplist {width:100%; position:relative, display:block; margin-top:30px;}
.shoplist .shoplist-item {display:block; float:left; width:340px; height:160px; margin: 0px 0px 30px 30px;}
.shoplist .shoplist-item a, .shoplist .shoplist-item a:visited {border: 10px solid #ddd; display:block; height:140px; padding:30px 0px; text-align:center; width:300px; text-decoration:none; outline:none; }
.shoplist .shoplist-item a:hover {border: 10px solid #ee7f00; text-decoration:none;}
.shoplist .shoplist-item a img {border:none; outline:none; }
.nl-infobox {background-color:#f2f2f2; -webkit-box-shadow:inset 0 0 10px 0 #e1e1e1; -moz-box-shadow:inset 0 0 10px 0 #e1e1e1; box-shadow:inset 0 0 10px 0 #e1e1e1; padding:20px 30px; margin-bottom: 30px;}
.nl-infobox-small {margin-top:50px;}
.center-image {text-align: center;}
.center-image img {margin-bottom: 30px;}


/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
	overflow:hidden;
	border:0;
	background-color:transparent;
/* IE 6/7 fallback */
	*text-indent:-9999px;
}

.ir:before {
	display:block;
	width:0;
	height:150%;
	content:"";
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
	display:none!important;
	visibility:hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
	position:absolute;
	overflow:hidden;
	clip:rect(0 0 0 0);
	margin:-1px;
	padding:0;
	width:1px;
	height:1px;
	border:0;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	position:static;
	overflow:visible;
	clip:auto;
	margin:0;
	width:auto;
	height:auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
	visibility:hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,.clearfix:after {
	content:" ";
/* 1 */
	display:table;
/* 2 */
}

.clearfix:after {
	clear:both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
	*zoom:1;
}




/* FORM FIXES */
#initial-popup {}
#initial-popup .uppercase {text-transform: uppercase;}
#initial-popup .title {font-size:2em !important; color:#ee7f00; padding-bottom: 5px;}
#initial-popup p {}

#customer-form #b2c-url,
#customer-form #b2c-bankcode,
#customer-form #b2c-trx-nr,
#customer-form #b2c-trx-date { display: none; }

.eq-width {min-width:300px;}
[lang="de-DE"] .eq-width {min-width:340px;}
[lang="es-ES"] .eq-width {min-width:320px;}
[lang="it-IT"] .eq-width {min-width:394px;}
[lang="pl-PL"] .eq-width {min-width:350px;}

/* unverified shopsystems */
#shopitemsUnverified {
	float:left;
	padding-left:0;
	width:100%;
}

#shopitemsUnverified li {
	float:left;
	margin:.935%;
	width:18.1%;
	height:100px;
	border:1px solid #e1e1e1;
	vertical-align:center;
	text-align:center;
	background-color: #ffffff;
}

#shopitemsUnverified li a {
  float: left;
  width: 100%;
  height: 100%;
}

#shopitemsUnverified li img {
	display:table-cell;
	margin:0 auto;
	max-width:80%;
	max-height:80%;
	height:auto;
	vertical-align:center;
	text-align:center;
}

#shopitemsUnverified .ml0 {
	margin-left:0;
}

#shopitemsUnverified .mr0 {
	margin-right:0;
}

.full-gray #shopitemsUnverified li {
	background-color:#fff;
}

#shopitemsUnverified li {
	width:18.1%;
}
#shopitemsUnverified li {
	position:relative;
	height:140px;
}

#shopitemsUnverified li span {
	position:absolute;
	right:0;
	bottom:0;
	padding:10px;
	background-color:#fff;
	text-align:right;
	opacity: 0.5;
	font-size: 0.7em;
}

/*
#shopitems li {display: none;}
#shoptimes li.active {display: inline-block;}

#shopitemsUnverified li {display: none;}
#shoptimesUnverified li.active {display: inline-block;}
*/


#verified-shops-handler, #unverified-shops-handler {text-align: center; width: 100%; float: left; display: inline-block; color: #666;}
#verified-shops-handler p, #unverified-shops-handler p { text-align: center; font-size: 0.8em; color: #666;}


.module.further-shopsystems {padding-top: 0px; padding-bottom: 0px;}
.further-shopsystems .accordion {width:100% !important; margin-bottom: 2em; border-bottom: 0px solid #fff;}
.further-shopsystems .accordion h4 {}


.stage-blue-button {position: absolute; margin-left: 600px; top: 60px;}

/* Integration Center */
#nop-bottom {padding-bottom: 0px;}
#nop-top, #nop-top .module {padding-top: 0px; padding-bottom: 60px;}

/* Login Modal */

.login-popup {padding:0px;}
.login-popup h2 {padding:20px 20px 14px; background-color:#efefef; border:10px solid #ffffff;}
.login-popup #register-form {margin:10px 30px 20px;}
.login-popup #register-now {background-color:#efefef; margin:0px 10px; padding:20px 20px; font-size: 1.125em;}
.login-popup #register-now p {display:inline; font-size: 1.125em;}
.login-popup #register-now a, .login-popup #register-now a:visited {color:#ee7f00; font-size: 1.125em;}
.login-popup #register-now a:hover {color:#3a3a3a;}
.login-popup #register-hint {background-color:#ee7f00; margin:0px 10px; border-bottom: 10px solid #ffffff; padding:20px; color:#ffffff;}
.login-popup #register-hint p {display: inline; font-size: 1.125em;}
.login-popup #register-hint a, .login-popup #register-hint a:visited {color:#ffffff; font-size: 1.125em;}
.login-popup #register-hint a:hover {color:#3a3a3a;}

.content a.fine, .content a.fine:visited {text-decoration: none; display: inline-block; width:262px; text-align: center;}
a.btn.orangedownload {margin-top:0em !important;}

#customer-landingpages-overview {padding: 30px;}
#customer-landingpages-overview h2 {color: #ee7f00; display: inline-block; width: 100%; padding: 0px; text-transform: uppercase;}
#customer-landingpages-overview table {width:100%;}
#customer-landingpages-overview table td:nth-child(even) {padding-left: 20px;}

/*******************************************************************************************/
/* start changes adaptive approach */
/*******************************************************************************************/

.uk-offcanvas {background: rgba(0,0,0,0.4);}
.uk-offcanvas-bar {background:#efefef; padding:0px 0px 0px 0px; width: 85%; max-width: 460px; min-width: 240px; border-right: 0px solid #888;}
.uk-offcanvas-bar .uk-grid>* {padding-left: 0;}

/* Clear list styles */
.uk-offcanvas-bar ul {margin:0px; padding: 0px;}
.uk-offcanvas-bar ul li {margin:0px; padding:0px;}
.uk-offcanvas-bar ul ul li {margin:0px; padding:0px;}

#oc-navigation .uk-grid {height:100%; min-height: 100%;}
/* Tabbed toggles */
#oc-tab {background-color: #eeeeee;}
#oc-navigation .uk-nav.uk-nav-side {margin-top: 20px;}
#oc-navigation .uk-nav.uk-nav-side li {}
#oc-navigation .uk-nav.uk-nav-side li a, #oc-navigation .uk-nav.uk-nav-side li a:visited {padding:22px 15px 20px 25px;}
#oc-navigation .uk-nav.uk-nav-side li a:hover {}
.uk-nav-side>li.uk-active>a, 
#oc-navigation .uk-nav.uk-nav-side>li.uk-active>a,
.uk-nav-side>li.uk-active>a:visited, 
#oc-navigation .uk-nav.uk-nav-side>li.uk-active>a:visited {background:#fff; color:#ee7f00;}

#oc-navigation #oc-navi-corporate {margin:20px 30px;}
#oc-navigation #oc-navi-corporate a, #oc-navigation #oc-navi-corporate a:visited { padding:14px 15px 12px 32px; width:auto; border:1px solid #ddd; background:#ffffff url(../images/background-btn-switch.png) no-repeat 10px 14px; color:#ee7f00; font-size: 1.2em; margin-bottom: 5px; font-weight: normal; outline: none; text-decoration: none;}
#oc-navigation #oc-navi-corporate li.selected a, #oc-navigation #oc-navi-corporate li.selected a:visited {outline:none; text-decoration: none; background:#ddd url(../images/background-btn-switch.png) no-repeat 10px 14px; color:#555;}
#oc-navigation #oc-navi-corporate li.selected a:hover, #oc-navigation #oc-navi-corporate a:hover {outline:none; text-decoration: none; background:#ee7f00 url(../images/background-btn-switch.png) no-repeat 10px 14px; color:#fff;}

#oc-content {background-color: #ffffff; min-height: 100% !important;}
#oc-navigation #oc-navi-content {padding: 20px 30px; background-color: #ffffff; }
#oc-navigation #oc-navi-content a, #oc-navigation #oc-navi-content a:visited { color:#ee7f00; padding: 0px 0px 10px 0px; }
#oc-navigation #oc-navi-content a:hover {}
#oc-navigation #oc-navi-content ul {}
#oc-navigation #oc-navi-content ul li {}
#oc-navigation #oc-navi-content ul ul { margin: 2px 0px 20px; padding: 0px;}
#oc-navigation #oc-navi-content ul ul li {}
#oc-navigation #oc-navi-content ul ul li a, #oc-navigation #oc-navi-content ul ul li a:visited { padding: 13px 15px 9px; border-bottom: 5px solid #ffffff; display: block; background-color: #efefef; color:#333333;}
#oc-navigation #oc-navi-content ul ul li a:hover { text-decoration: none; background-color: #dddddd;}
#oc-navigation #oc-navi-content ul ul ul { margin: 0px; padding: 0px;}
#oc-navigation #oc-navi-content ul ul ul li {}
#oc-navigation #oc-navi-content ul ul ul li a, #oc-navigation #oc-navi-content ul ul ul li a:visited { background-color:#aaa; color:#fff;}
#oc-navigation #oc-navi-content ul ul ul li a:hover {background-color: #999;}

#oc-navigation #oc-navi-content li.uk-nav-header { padding-bottom: 12px; text-align: center;}
#oc-navigation #oc-navi-content li.uk-nav-header img {}

.fullline {clear:both; float: none;}
.fullline-mb20 {clear: both; float: none; margin-bottom: 40px; display: inline-block;}
.cac {text-align: center;}
.cac p {color: #999;}
/*
 * Mobile Classes
 */

.mobile {display:none;}
.visible-handheld {display:none !important;}

#head-handheld {width: 100%; margin: 4px 0px 0px; display: inline-block; float: left;}
/* Ersatz-Navigation for mobile devics */
#navi-top-mobile {}
#navi-top-mobile a.navi-top-mobile-brand, #navi-top-mobile a.navi-top-mobile-brand:visited { width: 100%; float: left; padding: 14px 0px 0px 4px;}
#navi-top-mobile a.navi-top-mobile-brand:hover {}
#navi-top-mobile ul {position: absolute; right: 20px; top: 10px;}
#navi-top-mobile ul li {}
#navi-top-mobile ul li.inactive { display: none; }
#navi-top-mobile ul li.active {}
ul#navi-top-mobile-dropdown {}
ul#navi-top-mobile-dropdown li {}
ul#navi-top-mobile-dropdown li a, ul#navi-top-mobile-dropdown li a:visited {}
ul#navi-top-mobile-dropdown li a:hover {}


#navi-content ul.navi li.content-nav-toggle {}
#navi-content ul.navi li.content-nav-toggle a, #navi-content ul.navi li.content-nav-toggle a:visited { padding: 4px 5px 2px; margin: 0; border-left: 0px solid #e1e1e1; color: #666666 !important;}
#navi-content ul.navi li.content-nav-toggle { display: none;}

.handheld #navi-content ul.navi li a { display: none;}
.handheld #navi-content ul.navi li.mcicon, .handheld #navi-content ul.navi li.mcicon a { display: block; background-color: #fff; padding: .2em 7px 0em;}

ul#navi-top-mobile-dropdown { position: relative !important; left:0px !important; top: 0px !important; display: block; float: none; width:100%;}
ul#navi-top-mobile-dropdown li { float: none !important; display: inline-block; margin: 0 0 0 0; padding: 0 0 0 0; list-style: none; width:100%; }
ul#navi-top-mobile-dropdown li a, ul#navi-top-mobile-dropdown li a:visited { padding:14px 15px 12px 32px; width:100%; border:1px solid #ddd; background:#efefef url(../images/background-btn-switch.png) no-repeat 10px 14px; color:#ee7f00; font-size: 1.2em; margin-bottom: 5px; font-weight: normal; outline: none; text-decoration: none; display: inline-block; }
ul#navi-top-mobile-dropdown li a.active, ul#navi-top-mobile-dropdown li a.active:visited { outline:none; text-decoration: none; background:#ddd url(../images/background-btn-switch.png) no-repeat 10px 14px; color:#555; }
ul#navi-top-mobile-dropdown li a:hover {outline:none; text-decoration: none; background:#ee7f00 url(../images/background-btn-switch.png) no-repeat 10px 14px; color:#fff;}

ul#sec-switcher {position: relative; display: block; padding: 30px;}
ul#sec-switcher .btn { margin-top: 0px; margin-bottom: 6px; padding: 1.3em 40px 1em 70px !important; font-size: 1.3em; }
ul#sec-switcher .selected a.btn { margin-top: 0px; margin-bottom: 6px; background: #dddddd url(../images/background-btn-switch.png) no-repeat 40px -17px !important; color:#999999; font-size: 1.3em;}

.documents p b {font-size: 1.125em;}


/*
 * END Mobile Classes 
 */

@media handheld,only screen and (max-width: 1080px) {
	body {
	}

	h1,h2,h3,h4,th {
		font-size:1.5em;
	}

	.title {
		font-size:3em;
	}

	.infotext {
	}

	.title b {
		font-size:.5625em;
	}

	.infotext small {
	}

	.small {
	}

	.accordion h1,.accordion h2,.accordion h3,.accordion h4 {
	}

	.img100 img {
		width:100%;
		height:100%;
	}

	.col-1-3 img {
		width:70%;
		height:70%;
	}

	#logo .col-1-3 img {
  	width: 224px;
  	height: 70px;
	}

	#footer-top .col-1-3 img {
		width:auto;
		height:auto;
	}

	#navi-content .navi a, #navi-content .navi span,#navi-content a.back {
    font-size: .9em;
	}
	#navi-content .navi a, #navi-content .navi span {
		font-size: 1.1em; padding-top:0.6em;
	}
	#navi-content a.back {
  	background-position-y: -76px;
	}
    #footer-bottom .tel {
        font-size: 1.4em;
    }
}

@media handheld,only screen and (max-width: 970px) {

	.visible-handheld {display: block !important;}
	.hidden-handheld {display:none;}

	h1, h2, h3, h4, th { font-size: 1.5em; }
	.title { font-size: 2.7em;}
	table, ul, ol, p, .paragraph, .accordion h1, .accordion h2, .accordion h3, .accordion h4, .btn, form, a.back { font-size: 1.025em;}

	.grid,body,html { min-width:320px; }
	.grid {	width: 100%; min-width: 0; margin-left: 0px; margin-right: 0px; padding-left: 20px; padding-right: 20px; }

	#stage [class*='col-'] {	width: 50%; float: none; margin-left: 0px;	margin-right: 0px; margin-top: 0; margin-bottom: 0;	padding-left: 0; padding-right: 0; }
	#stage .grid {width: 60%;}
	.module [class*='col-'] {	width: auto; float: none; margin-left: 0px;	margin-right: 0px; margin-top: 0; margin-bottom: 0;	padding-left: 0; padding-right: 0; }
	.module { padding-top: 42px; padding-bottom: 48px; }

	#mod-interest .module .col-1-2 { width:50%; float: left; padding-right: 20px; }

	.content div { padding: 0; }
	.accordion { width: 98%; }
	
	#head {margin-bottom: 10px;}
	#head .col-5-12, #head .col-7-12 { width: 50%; float: none; margin: 0; padding: 0;}
	#head #navi-top {display:none;} 


	#logo {}
	#logo .col-1-3 { width: 100%; float: none; padding: 0; display: none;}
	#logo .col-1-3 .content { text-align: center;}
	#logo .col-2-3 { width: 100%; float: none; padding: 0;}
	#logo .col-2-3 .content { width:100%; text-align: center;}
	
	#logo a#claimless {display: none;}
	#logo h4.claim { text-align: center; font-size: 170%; width: auto; position: relative; padding: 30px 0 10px 0; margin: 0 0 0 0; margin-top: 0px; }
	
	#integrationcenter.handheld .grid {overflow: hidden !important;}
	#integrationcenter #logo .col-1-3 { padding: 20px 0px 0px; display: inline-block; }
	#integrationcenter #logo .col-1-3 .content { text-align: left;}
	#integrationcenter #logo .col-1-3 img {width:154px; height: auto;}

	#switcher li {display:none;}
	#switcher li.selected {display:block;}
	#switcher li.more {display:block;}
	#switcher li.more a, #switcher li.more a:visited {background-image: none; background-color: #efefef; padding: 9px 15px 2px 15px !important;}
	#switcher li.more a:hover {background-image: none; background-color: #efefef;}
	
	.push-right img { width:40% !important; height:auto !important; margin: 20px 30%;}
	.push-right .content table { width:100% !important;}
	.push-right .content table img { width:70% !important; height: auto !important; margin: 0 15%;}
	
	#footer-top {}
	#footer-top .col-8-12 { width:100%; padding-right: 0px; }
	#footer-top .col-8-12 .icon-box { padding:0 0 0 20px; }
	#footer-top .col-8-12 .content :first-child { padding-left: 0px !important; }
	#footer-top .col-8-12 .content :last-child { border-right:0px solid #eaeaea;}
	#footer-top .col-4-12 { width: 100%; border-top: 1px solid #eaeaea; padding-top: 20px;}
	#footer-top .col-4-12 .footer-image { height:auto;}
	/*#footer-top .country-box .col-1-2 { width: 100%;}*/
	#footer-top .country-box .col-1-2 ul {height:auto !important;}
	#footer-top .country-box .col-1-2 ul li { width: 49%; float: left;}

	#footer-bottom .col-1-3 { width: 100%; text-align: center; }
	#footer-bottom .col-1-3 .content p {display: inline-block; margin-bottom: 16px;}
	#footer-bottom .col-1-3 .content p :last-child {margin-right: 0px;}

	.info #keyfacts {}
	.info #keyfacts td { width: 8.33%;}
	.info #keyfacts td.infotd { width: 25%; }
	.info #keyfacts .infoimg img { width: 50px !important; height: auto !important;}
	.info #keyfacts .infotd .infotext { font-size: 1.4em; }
	.info #keyfacts .infotd .infotext sup { font-size: .5em; top: -12px; }
	.info .js-popup {font-size: 0.8em; }

	
	#navi-content-sticky-wrapper #navi-content .grid, #navi-content-sticky-wrapper #navi-content .grid-pad {padding: 0 0 0 8px;}
	.handheld #navi-content {background-color: #ee7f00;}
	.handheld #navi-content .navi {width: 100%;}
	
	#head .col-6-12 {width:25%}
	#head #snc.col-6-12 { width:75% !important;}
	
	#shopslist li, #shopitems li {width:31.3%;}
	
	.full-form label {width:35%;}
	.full-form input[type=text], .full-form input[type=password], .full-form input[type=email], .full-form select, .full-form .select, .full-form textarea {width:60%;}
	.heapBox {width:60%;}
	.full-form input[type="text"].captcha-input { width: 25%;}
	.form-captcha {width:38%;}
	.form-captcha img {width:70% !important; height: 34px !important; margin: 0px auto 20px;}

	.stage-blue-button {margin-left: 70%; top:30px;}
}
@media handheld,only screen and (max-width: 700px) {
	#stage .grid { width: 70%;}
	.stage-blue-button {margin-left: 60%; top:24px;}
	
}
@media handheld,only screen and (max-width: 580px) {
	#stage { height: 400px; }
	#stage .grid { width: 80%;}
	
	.title { font-size: 2.4em;}
	h1, h2, h3, h4, th { font-size: 1.4em; }
	table, ul, ol, p, .paragraph, .accordion h1, .accordion h2, .accordion h3, .accordion h4, .btn, form, a.back { font-size: .925em;}

	.module { padding-top: 32px; padding-bottom: 38px; }

	#switcher li a, #switcher li span, #navi-top .switch {font-size: .8em; background-position: 10px 10px; }
	#switcher li.selected span, .switch.selected span {background-position: 10px -30px;}
	.mac #switcher li a, .mac #switcher li span, .mac #navi-top .switch {padding: 10px 15px 4px 32px;}

	.h-normal .navi {padding-top: 10px;}
	.mac .h-normal .navi {padding-top: 10px;}

	nav.header-products { display: table; float: none; width: 100%; padding: 20px 0px 0px;}
	.header-products .navi { display: table-row;}
	.header-products .navi li { display: table-cell; min-height: 40px; vertical-align: middle; float: none; padding:0 25px; margin: 0;}
	nav.header-products li:last-child { padding-right: 25px;}
	.header-products .navi li img { width:auto !important; height: 38px !important;}

	#footer-top { font-size: .9em; padding-top: 30px; }
	#footer-top .footer-image, #footer-top ul {}
	#footer-top .footer-image { height: 60px;}
	#footer-top .footer-image img { width: auto !important; height: 45px !important;}
	.icon-box, .country-box {margin-bottom: 30px;}


	.content {text-align: center;}
	.content h1, .content h2, .content h3, .content h4, .content p, .content td, .content li, .content a, .content .formline, .info .content {text-align: left;}
	.content #shopslist a {text-align: center;}
	#footer-bottom .content p { text-align: center; }
	
	.push-right img { width:70% !important; height:auto !important; margin: 20px auto;}
	.push-right .content table { width:100% !important;}
	.push-right .content table img { width:70% !important; height: auto !important; margin: 0 15%;}

	.checklist li {background-size: 26px 26px; background-position: 2px 4px;}
	
	a.btn, input[type=submit] {font-size:1.05em;}

	.ui-accordion-header { background-position: left 14px !important; font-size:.95em !important;}
	.ui-accordion-content table {margin: 0em 0 0em; }
	.ui-accordion-content table tr th, .ui-accordion-content table tr td { padding: 10px 10px !important;}
	.ui-accordion-content table tr td ul.ulist { margin:0px;}
	
	/*SAGMK Slider */
	.slide-function .bg {background:none;}
	.sagmk-slider {min-width:200px;}
	.sagmk-slide .slide-content {width:90%; height: auto;}
	
	.sagmk-slider-fb .sagmk-slide .sagmk-img {left:20%;}
	.sagmk-slide .sagmk-img {width:60%; text-align: center;}
	.sagmk-dots {top:190px; text-align: center; display: inline-block; width: 100%; margin: 0 auto; left: 0px !important;}
	.sagmk-dots span {width:1.5em; height:1.5em; font-size: 1.5em; margin: 0 .5em !important; right: 0 !important; left: 0 !important;}
	.sagmk-dots .sagmk-dots-current, .sagmk-dots .sagmk-dots-current:first-child {font-size: 1.5em; margin: 0px .5em !important; right: 0 !important; left: 0 !important; top: 0px;}
	
	.full-form { clear:both; float: none; border: none; display: inline-block;}
	.form-captcha img {width:70% !important; height: 34px !important; margin: 0px auto 20px;}
	
	.contactPerson img { float:none;}
	.contactPerson h2,.contactPerson p { padding-left:0px;}
}
@media handheld,only screen and (max-width: 480px) {
	#stage .grid {width: 90%;}

	.title { font-size: 2.3em;}
	h4,th {font-size: 1.2em; }
	table, ul, ol, p, .paragraph, .accordion h1, .accordion h2, .accordion h3, .accordion h4, .btn, form, a.back { font-size: .85em;}

	.module { padding-top: 26px; padding-bottom: 32px; }

	.header-products .navi li { padding: 0 23px; }
	.header-products .navi li img { width:auto !important; height: 34px !important;}

	#footer-top { font-size: .9em; padding-top: 27px; }
	#footer-top .footer-image { height: 50px; }
	#footer-top .footer-image img { width: auto !important; height: 35px !important; }

	.info #keyfacts .infoimg img { width: 40px !important; height: auto !important;}

	a.btn, input[type=submit] {font-size:1.15em;}
	
	#head .grid-pad > [class*='col-6-12']:last-of-type {padding-right:0px !important;}
	.tel {font-size:1.6em;}
	
	.col-1-2.mt0.push-right .content {margin-top: 30px !important;}
	.stage-blue-button {margin-left: 54%; top:20px;}
} 
@media handheld,only screen and (max-width: 420px) {
	#stage .grid {width: 100%;}
	.title { font-size: 2.1em;}

	.header-products .navi li { padding: 0 20px; }
	.header-products .navi li img { width: auto !important; height: 30px !important; }

	#footer-top { font-size: .8em; padding-top: 24px; }
	#footer-top .footer-image { height: 45px;}
	#footer-top .footer-image img { height: 30px !important; }
	
	#shopslist li, #shopitems li {width:47.3%;}
	
	.stage-blue-button {margin-left: 50%; top:20px;}
}

@media handheld,only screen and (max-width: 360px) {
	#head .grid {padding-left: 10px; padding-right: 0px;}
	#navi-top-mobile a.navi-top-mobile-brand, #navi-top-mobile a.navi-top-mobile-brand:visited {padding-left: 10px;}
	#navi-top-mobile ul {right: 12px;}

	#logo {padding-left: 0px; padding-right: 0px;}
	#head #switcher li span, #head #switcher li a {font-size: 0.7em; padding:10px 15px 8px 32px;}
	#head .h-normal .navi {padding-top: 9px; font-size: 0.8em;}

	nav.header-products {padding: 15px 0 0;}
	.header-products .navi li {min-height: 32px;}
	.header-products .navi li img {height: 24px !important;}

	.title {font-size: 1.8em;}

	#footer-top .footer-image img {height: 26px !important;}
	
	.stage-blue-button {margin-left: 40%; top:10px;}
}

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */

}

@media print,(-o-min-device-pixel-ratio: 54),(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */

}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
	* {
		background:transparent!important;
		color:#000!important;
		text-shadow:none!important;
	/* Black prints faster: h5bp.com/s */
		box-shadow:none!important;
	}

	a,a:visited {
		text-decoration:underline;
	}

	a[href]:after {
		content:" (" attr(href) ")";
	}

	abbr[title]:after {
		content:" (" attr(title) ")";
	}

	/*
		     * Don't show links for images, or javascript/internal links
		     */
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content:"";
	}

	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
		word-wrap: break-word;
		max-width: 100%;
		display: inline-block;
		padding: 10px 20px;
	}

	thead {
		display:table-header-group;
	/* h5bp.com/t */
	}

	tr,img {
		page-break-inside:avoid;
	}

	img {
		max-width:94.6%!important;
		width:95%;
	}

	@page {
		margin:.5cm;
	}

	p,h2,h3,h4 {
		orphans:3;
		widows:3;
	}

	h2,h3,h4 {
		page-break-after:avoid;
	}
}