.sagmk-slider{
	width: 100%;
	min-width: 520px;
	height: 500px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
/* 	background: transparent url(../images/waves.gif) repeat 0% 0%; */
/*
	border-top: 8px solid #efc34a;
	border-bottom: 8px solid #efc34a;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;
*/
	-webkit-transition: background-position 1.4s ease-in-out 0.3s;
	-moz-transition: background-position 1.4s ease-in-out 0.3s;
	-o-transition: background-position 1.4s ease-in-out 0.3s;
	-ms-transition: background-position 1.4s ease-in-out 0.3s;
	transition: background-position 1.4s ease-in-out 0.3s;
}
.sagmk-slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: left;
}
.sagmk-slide-current{
	z-index: 100;
}
.sagmk-slider-fb .sagmk-slide{
	left: 100%;
}
.sagmk-slider-fb  .sagmk-slide.sagmk-slide-current{
	left: 0px;
}
.sagmk-slide h3,
/* .sagmk-slide p, */
.sagmk-slide .slide-content,
.sagmk-slide .sagmk-link,
.sagmk-slide .sagmk-img{
	position: absolute;
	opacity: 0;
	left: 110%;
}
.sagmk-slider-fb .sagmk-slide h3,
.sagmk-slider-fb .sagmk-slide .slide-content,
.sagmk-slider-fb .sagmk-slide .sagmk-link{
	left: 5%;
	opacity: 1;
}
.sagmk-slider-fb .sagmk-slide .sagmk-img{
	left: 60%;
	opacity: 1;
}
.sagmk-slide h3{
	width: 50%;
	top: 260px;
	color: #ee7f00;
/* 	font-size: 2em; */
/* 	line-height: 1.2em; */
	overflow: hidden;
/*
	color: #fff;
	font-size: 66px;
	width: 50%;
	top: 60px;
	white-space: nowrap;
	z-index: 10;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-weight: 700;
*/
}




.sagmk-slide .slide-content{
	width: 50%;
	top: 310px;
/* 	color: #ee7f00; */
	font-size: 1em;
/* 	line-height: 26px; */
/* 	overflow: hidden; */
	overflow-y: auto;
	padding-right: 10px;
	height: 190px;
}

#sagmk-slider-2 .sagmk-slide h3{
	position: static;
	width: auto;
	top: auto;
	left: auto;

}

#sagmk-slider-2 .slide-content{
	top: 50px;
	left: 0;
	width: 33.3%;
	height: auto;
}


.sagmk-slide .sagmk-img{
	text-align: center;
	width: 40%;
	top: 0;
	height: auto;
	line-height: 250px;
	left: 110%; /*60%*/
}

.sagmk-slide .sagmk-img img {
	width: 100%;
	height: auto;
}

.sagmk-slide .sagmk-link{
	bottom: 0px; /*depends on p height*/
	text-align: center;
}


#sagmk-slider .sagmk-dots {
	left: 2em;
}
#sagmk-slider-2 .sagmk-dots{
	top: auto;
	bottom: 0;
	text-align: center;
	width: 100%;
}

#sagmk-slider-2 .sagmk-dots span {
	display: inline-block;
	position: relative;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	margin: 3px;
	cursor: pointer;
	font-size: 0;
	border: 1px solid #cfcfcf;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(218,218,218,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(218,218,218,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(218,218,218,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(218,218,218,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(218,218,218,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(218,218,218,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=0 );
}

.sagmk-dots {
	position: absolute;
	text-align: center;
	left: 0;
	top: 128px;
	z-index: 200;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.sagmk-dots span:first-child {
	margin-left: 2.8em;
}

.sagmk-dots span {
	background: #3a3a3a;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	position: relative;
	display: inline-block;
	font-size: 2em;
	color: #fff;
	margin: 0;
	right: 3em;
	margin-left: 1.4em;
	cursor: pointer;
	line-height: 1.5em;
}

.sagmk-dots span:hover {
  background-color: #ee7f00;
}

.sagmk-dots .sagmk-dots-current,
.sagmk-dots .sagmk-dots-current:first-child {
	background: #ee7f00;
	font-size: 4em;
	right: 0.5em;
	margin-right: 1em;
	margin-left: 0;
	top: 0.15em;
}
.sagmk-dots span + span.sagmk-dots-current  {
	margin-left: 0em;
	left: -0.7em;
}

#sagmk-slider-2 .sagmk-dots .sagmk-dots-current {
	top: 0;
	border-color: #ee7f00;
}

#sagmk-slider-2 .sagmk-dots span.sagmk-dots-current{
	background: #ee7f00;
}

.sagmk-arrows{
	-moz-user-select: none;
	-webkit-user-select: none;
}
.sagmk-arrows span{
	position: absolute;
	top: 50%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #e4b42d;
	cursor: pointer;
	z-index: 200;
	opacity: 0;
	box-shadow:
		1px 1px 1px rgba(0,0,0,0.1) inset,
		1px 1px 1px rgba(255,255,255,0.1);
	-webkit-transition: opacity 0.4s ease-in-out 0.2s;
	-moz-transition: opacity 0.4s ease-in-out 0.2s;
	-o-transition: opacity 0.4s ease-in-out 0.2s;
	-ms-transition: opacity 0.4s ease-in-out 0.2s;
	transition: opacity 0.4s ease-in-out 0.2s;
}
.sagmk-slider:hover .sagmk-arrows span{
	opacity: 1;
}
.sagmk-arrows span:after{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	left: 5px;
	background: transparent url(../images/arrows.png) no-repeat top left;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.sagmk-arrows span:hover:after{
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.sagmk-arrows span:active:after{
	box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}
.sagmk-arrows span.sagmk-arrows-next:after{
	background-position: top right;
}
.sagmk-arrows span.sagmk-arrows-prev{
	left: 15px;
}
.sagmk-arrows span.sagmk-arrows-next{
	right: 15px;
}

.sagmk-slide-current h3,
.sagmk-slide-current .slide-content,
.sagmk-slide-current .sagmk-link{
	left: 5%;
	opacity: 1;
}
.sagmk-slide-current .sagmk-img{
	left: 60%;
	opacity: 1;
}

#sagmk-slider-2 .sagmk-img{
	left: 35%;
}
/* Animation classes and animations */

/* Slide in from the right*/
.sagmk-slide-fromright h3{
	-webkit-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	animation: fromRightAnim1 0.6s ease-in 0.8s both;
}
.sagmk-slide-fromright .slide-content{
	-webkit-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	animation: fromRightAnim2 0.6s ease-in 0.8s both;
}
#sagmk-slider-2 .sagmk-slide-fromright .slide-content {
	-webkit-animation: fromRightAnim1-2 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim1-2 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim1-2 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim1-2 0.6s ease-in 0.8s both;
	animation: fromRightAnim1-2 0.6s ease-in 0.8s both;
}
.sagmk-slide-fromright .sagmk-link{
	-webkit-animation: fromRightAnim3 0.4s ease-in 1.2s both;
	-moz-animation: fromRightAnim3 0.4s ease-in 1.2s both;
	-o-animation: fromRightAnim3 0.4s ease-in 1.2s both;
	-ms-animation: fromRightAnim3 0.4s ease-in 1.2s both;
	animation: fromRightAnim3 0.4s ease-in 1.2s both;
}
.sagmk-slide-fromright .sagmk-img{
	-webkit-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	animation: fromRightAnim4 0.6s ease-in 0.8s both;
}
#sagmk-slider-2 .sagmk-slide-fromright .sagmk-img{
	-webkit-animation: fromRightAnim4-2 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim4-2 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim4-2 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim4-2 0.6s ease-in 0.8s both;
	animation: fromRightAnim4-2 0.6s ease-in 0.8s both;
}
@-webkit-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 5%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-webkit-keyframes fromRightAnim1-2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4-2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 35%; opacity: 1; }
}

@-moz-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 5%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromRightAnim1-2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@-moz-keyframes fromRightAnim4-2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 35%; opacity: 1; }
}

@-o-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 5%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromRightAnim1-2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 35%; opacity: 1; }
}

@-ms-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 5%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromRightAnim1-2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@-ms-keyframes fromRightAnim4-2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 35%; opacity: 1; }
}

@keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 5%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromRightAnim1-2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@keyframes fromRightAnim4-2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 35%; opacity: 1; }
}

/* Slide in from the left*/
.sagmk-slide-fromleft h3{
	-webkit-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}
.sagmk-slide-fromleft .slide-content{
	-webkit-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	animation: fromLeftAnim2 0.6s ease-in 0.6s both;
}
#sagmk-slider-2 .sagmk-slide-fromleft .slide-content{
	-webkit-animation: fromLeftAnim2-2 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim2-2 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim2-2 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim2-2 0.6s ease-in 0.6s both;
	animation: fromLeftAnim2-2 0.6s ease-in 0.6s both;
}
.sagmk-slide-fromleft .sagmk-link{
	-webkit-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	-moz-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	-o-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	-ms-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	animation: fromLeftAnim3 0.4s ease-in 1.2s both;
}
.sagmk-slide-fromleft .sagmk-img{
	-webkit-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	animation: fromLeftAnim4 0.6s ease-in 0.6s both;
}
#sagmk-slider-2 .sagmk-slide-fromleft .sagmk-img{
	-webkit-animation: fromLeftAnim4-2 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim4-2 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim4-2 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim4-2 0.6s ease-in 0.6s both;
	animation: fromLeftAnim4-2 0.6s ease-in 0.6s both;
}
@-webkit-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 5%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-webkit-keyframes fromLeftAnim2-2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4-2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 35%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 5%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim2-2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4-2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 35%; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 5%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromLeftAnim2-2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@-o-keyframes fromLeftAnim4-2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 35%; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 5%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromLeftAnim2-2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4-2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 35%; opacity: 1; }
}

@keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 5%; opacity: 0; }
	100%{ left: 5%; opacity: 1; }
}
@keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromLeftAnim2-2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@keyframes fromLeftAnim4-2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 35%; opacity: 1; }
}

/* Slide out to the right */
.sagmk-slide-toright h3{
	-webkit-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-moz-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-o-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-ms-animation: toRightAnim1 0.6s ease-in 0.6s both;
	animation: toRightAnim1 0.6s ease-in 0.6s both;
}
.sagmk-slide-toright .slide-content{
	-webkit-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-moz-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-o-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-ms-animation: toRightAnim2 0.6s ease-in 0.3s both;
	animation: toRightAnim2 0.6s ease-in 0.3s both;
}
#sagmk-slider-2 .sagmk-slide-toright .slide-content{
	-webkit-animation: toRightAnim2-2 0.6s ease-in 0.3s both;
	-moz-animation: toRightAnim2-2 0.6s ease-in 0.3s both;
	-o-animation: toRightAnim2-2 0.6s ease-in 0.3s both;
	-ms-animation: toRightAnim2-2 0.6s ease-in 0.3s both;
	animation: toRightAnim2-2 0.6s ease-in 0.3s both;
}
.sagmk-slide-toright .sagmk-link{
	-webkit-animation: toRightAnim3 0.4s ease-in both;
	-moz-animation: toRightAnim3 0.4s ease-in both;
	-o-animation: toRightAnim3 0.4s ease-in both;
	-ms-animation: toRightAnim3 0.4s ease-in both;
	animation: toRightAnim3 0.4s ease-in both;
}
.sagmk-slide-toright .sagmk-img{
	-webkit-animation: toRightAnim4 0.6s ease-in both;
	-moz-animation: toRightAnim4 0.6s ease-in both;
	-o-animation: toRightAnim4 0.6s ease-in both;
	-ms-animation: toRightAnim4 0.6s ease-in both;
	animation: toRightAnim4 0.6s ease-in both;
}
#sagmk-slider-2 .sagmk-slide-toright .sagmk-img{
	-webkit-animation: toRightAnim4-2 0.6s ease-in both;
	-moz-animation: toRightAnim4-2 0.6s ease-in both;
	-o-animation: toRightAnim4-2 0.6s ease-in both;
	-ms-animation: toRightAnim4-2 0.6s ease-in both;
	animation: toRightAnim4-2 0.6s ease-in both;
}
@-webkit-keyframes toRightAnim1{
	0%{ left: 5%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
	0%{ left: 5%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
	0%{ left: 5%;  opacity: 1; }
	99%{ left: 5%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-webkit-keyframes toRightAnim2-2{
	0%{ left: 0;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4-2{
	0%{ left: 35%;  opacity: 1; }
	30%{ left: 30%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim1{
	0%{ left: 5%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
	0%{ left: 5%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
	0%{ left: 5%;  opacity: 1; }
	99%{ left: 5%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim2-2{
	0%{ left: 0;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4-2{
	0%{ left: 35%;  opacity: 1; }
	30%{ left: 30%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim1{
	0%{ left: 5%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
	0%{ left: 5%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
	0%{ left: 5%;  opacity: 1; }
	99%{ left: 5%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim2-2{
	0%{ left: 0;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4-2{
	0%{ left: 35%;  opacity: 1; }
	30%{ left: 30%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim1{
	0%{ left: 5%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
	0%{ left: 5%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
	0%{ left: 5%;  opacity: 1; }
	99%{ left: 5%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim2-2{
	0%{ left: 0;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4-2{
	0%{ left: 35%;  opacity: 1; }
	30%{ left: 30%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim1{
	0%{ left: 5%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
	0%{ left: 5%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
	0%{ left: 5%;  opacity: 1; }
	99%{ left: 5%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim2-2{
	0%{ left: 0;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4-2{
	0%{ left: 35%;  opacity: 1; }
	30%{ left: 30%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

/* Slide out to the left*/
.sagmk-slide-toleft h3{
	-webkit-animation: toLeftAnim1 0.6s ease-in both;
	-moz-animation: toLeftAnim1 0.6s ease-in both;
	-o-animation: toLeftAnim1 0.6s ease-in both;
	-ms-animation: toLeftAnim1 0.6s ease-in both;
	animation: toLeftAnim1 0.6s ease-in both;
}
.sagmk-slide-toleft .slide-content{
	-webkit-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	-moz-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	-o-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	-ms-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	animation: toLeftAnim2 0.6s ease-in 0.3s both;
}
#sagmk-slider-2 .sagmk-slide-toleft .slide-content{
	-webkit-animation: toLeftAnim2-2 0.6s ease-in 0.3s both;
	-moz-animation: toLeftAnim2-2 0.6s ease-in 0.3s both;
	-o-animation: toLeftAnim2-2 0.6s ease-in 0.3s both;
	-ms-animation: toLeftAnim2-2 0.6s ease-in 0.3s both;
	animation: toLeftAnim2-2 0.6s ease-in 0.3s both;
}
.sagmk-slide-toleft .sagmk-link{
	-webkit-animation: toLeftAnim3 0.4s ease-in both;
	-moz-animation: toLeftAnim3 0.4s ease-in both;
	-o-animation: toLeftAnim3 0.4s ease-in both;
	-ms-animation: toLeftAnim3 0.4s ease-in both;
	animation: toLeftAnim3 0.4s ease-in both;
}
.sagmk-slide-toleft .sagmk-img{
	-webkit-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-moz-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-o-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-ms-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	animation: toLeftAnim4 0.6s ease-in 0.6s both;
}
#sagmk-slider-2 .sagmk-slide-toleft .sagmk-img{
	-webkit-animation: toLeftAnim4-2 0.6s ease-in 0.6s both;
	-moz-animation: toLeftAnim4-2 0.6s ease-in 0.6s both;
	-o-animation: toLeftAnim4-2 0.6s ease-in 0.6s both;
	-ms-animation: toLeftAnim4-2 0.6s ease-in 0.6s both;
	animation: toLeftAnim4-2 0.6s ease-in 0.6s both;
}
@-webkit-keyframes toLeftAnim1{
	0%{ left: 5%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
	0%{ left: 5%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
	0%{ left: 5%;  opacity: 1; }
	99%{ left: 5%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-webkit-keyframes toLeftAnim2-2{
	0%{ left: 0;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4-2{
	0%{ left: 35%;  opacity: 1; }
	40%{ left: 45%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim1{
	0%{ left: 5%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
	0%{ left: 5%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
	0%{ left: 5%;  opacity: 1; }
	99%{ left: 5%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim2-2{
	0%{ left: 0;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4-2{
	0%{ left: 35%;  opacity: 1; }
	40%{ left: 45%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
	0%{ left: 5%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
	0%{ left: 5%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
	0%{ left: 5%;  opacity: 1; }
	99%{ left: 5%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim2-2{
	0%{ left: 0;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4-2{
	0%{ left: 35%;  opacity: 1; }
	40%{ left: 45%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
	0%{ left: 5%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
	0%{ left: 5%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
	0%{ left: 5%;  opacity: 1; }
	99%{ left: 5%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim2-2{
	0%{ left: 0;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4-2{
	0%{ left: 35%;  opacity: 1; }
	40%{ left: 45%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}


@keyframes toLeftAnim1{
	0%{ left: 5%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
	0%{ left: 5%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
	0%{ left: 5%;  opacity: 1; }
	99%{ left: 5%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@keyframes toLeftAnim2-2{
	0%{ left: 0;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4-2{
	0%{ left: 35%;  opacity: 1; }
	40%{ left: 45%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}