/*#de-body {
	min-height: 600px;
	padding: 0 0 24px 0;
}*/

.navbar.affix {
    top: 0;
    width: 100%;
    z-index: 10;
}

h1, h2, h3, h4, .brand {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

