.de-body-content {
    position: relative;
}

@media (min-width: 300px) {
    .header-container {
        width: 100%;
    }
    .main-nav-short-text {
        display: none;
    }
    .main-nav-full-text {
        display: block;
    }
}

@media (min-width: 992px) {
    .header-container {
        width: 970px;
    }
    .main-nav-short-text {
        display: block;
    }
    .main-nav-full-text {
        display: none;
    }
    .main-nav-no-wrap{
        white-space: nowrap;
    }
}
@media (min-width: 1200px) {
    .header-container {
        width: 1170px;
    }
    .main-nav-short-text {
        display: none;
    }
    .main-nav-full-text {
        display: block;
    }
}

@media (max-width: 992px) {

    #header-tophat {
      display: none;
    }
    #de-logo img {
        width: 150px;
    }
    .header-content {
        padding: 5px 0;
    }
    .header-sm {
        display: block;
    }

    .de-mobile-nav {
        height: 100%;
        overflow: hidden;
    }

    .de-body-content {
        -webkit-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out;
        left: 0;
    }

    .de-mobile-nav .de-body-content {
        left: 200px;
    }

    .de-mobile-nav #header-navigation {
        display: block;
    }

    #header-navigation {
        display: block;
        position: absolute;
        left: -200px;
        top:0;
        float: none;
        background: #232323;
        width: 200px;
        overflow-y: scroll;
    }


    #main-navigation .header-dropdown-menu a {
        color: #57a4d0;
    }

    #main-navigation {
      padding: 0;
    }

    #main-navigation li.main-nav-item {
      float: none;
    }

    #main-navigation > li > a {
      padding: 8px 6px 8px 12px;
      display: block;
    }


    .main-navigation-subtitle {
        position: relative;
        top: 0;
        left: 0;
        padding: 3px 6px 3px 12px;
        background: #121212;
        border-bottom: 1px rgba(255,255,255,0.1) solid;
    }

    #main-navigation > li {
      padding: 0;
    }

    #main-navigation .active .header-dropdown-menu .nav-aro {
      display: none;
    }

    .header-dropdown-toggle, .header-dropdown-link {
      border-bottom: 1px rgba(255,255,255,0.1) solid;
    }

    .header-dropdown-toggle span,
    .header-dropdown-link span {
        position: absolute;
        right: 12px;
        top: 18px;
    }

    .header-dropdown-toggle span.glyphicon-chevron-right,
    .header-dropdown-link span.glyphicon-chevron-right {
        top: 12px;
        color: #454545;
    }

    #main-navigation .header-dropdown-menu {
      /*display: block;*/
      position: relative;
      left: 0;
      top: 0;
      padding: 0;
    }

    #main-navigation .sub-nav-content {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      display: none;
      height: auto;
      min-height: 1px;
    }


    #main-navigation .header-dropdown-menu ul {
      width: auto;
    }

    .header-dropdown-content {
        background: none;
    }


    #footer-linkset1 a {
        text-align: left;
        padding: 4px 6px;
        font-size: 0.75em;
    }

    #footer-linkset2 {
        display: none;
    }

    #footer-copyright {
      font-size: 0.9em;
      line-height: 18px;
    }

}
