body{
	background-color:#fff;
	font-family:serif;
	font-size:12pt;
	font-size:12pt;
}

html body div.bodywrapper div#StructureGlobale div#StructureMenuHaut ,
html body div.bodywrapper div#StructureGlobale div#StructureMenuHaut *,
html body div.bodywrapper div#StructureGlobale div#StructureFooter,
html body div.bodywrapper div#StructureGlobale div#StructureFooter *,
html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div#leftColumn,
html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div#leftColumn *,
html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div#rightColumn,
html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div#rightColumn *,
div.backToTop,
html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div#middleColumn * div.backToTop,
.cnirTools,
html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div#middleColumn div.cnirTools,
html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div#middleColumn div.actualite div.cnirTools,
#cookie-banner,
.pagination,
.glossaryDefinition,
.paginationCTP+#Navigation{
	display:none;
}

/*#StructureTop > *:not(#Logo){
	display:none;
}*/

#StructureTop #adherent,
#StructureTop #lien_services,
#StructureTop #StrutureMenuBas,
#StructureTop #StructureRecherche{
	display:none;
}


html body div.bodywrapper div#StructureGlobale div#StructureTop{
	height:100px !important;
	background-color: #ffffff !important;
	background-image:  none !important;
}

html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div#FilAriane ul.cnirbreadcrumb > li {
    float: left;
    list-style-type: none;
    text-shadow: 0 1px 0 #ffffff;
}

html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div#FilAriane:after,
html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div#FilAriane ul.cnirbreadcrumb:after,
html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div#FilAriane + div{
	clear:both;
}

html body div.bodywrapper{
	background-color: #ffffff !important;
	background-image:none !important;
	margin:0px;
	height:100%;
}

html body div.bodywrapper div#StructureGlobale{
	margin:0px;
	width:100%;
	display:block !important;
}
html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper{
	margin:0px;
	width:100%;
}
html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div div#middleColumn{
	float:none  !important;
	width:100% !important;
}

html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div#FilAriane ul.cnirbreadcrumb{
	padding:0px 0px 20px 0px !important;
	margin:10px 0px 20px 0px !important;
}

h1{
page-break-before: avoid;
}

.printOnly,
html body div.bodywrapper div#StructureGlobale div#StructureTop #Logo{
	display:block !important;
}

.printOnly{
	padding-bottom:15px !important;
}

html body div.bodywrapper div#StructureGlobale div#StructureTop #Logo{
	position:relative;
	top: 0px !important;
	left:0px;
	margin-bottom:30px !important;
}

html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div#FilAriane{
	margin:15px 0;
}

img{
	border:none !important;
}

html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div.cols2 div#middleColumn div#BlockResultatRecherche div#NavigationNewRecherche,
html body div.bodywrapper div#StructureGlobale div#StructureCorpsWrapper div.cols2 div#middleColumn div#BlockResultatRecherche ul li a.infobulle{
	display:none !important;
}

tr {page-break-inside: avoid;}

#ColonneMillieuResultat{
	float:none !important;
	width:100% !important;
}