/* CSS Document */

/* --
CSS Reseter
CSSLab © 2007
Basado en: Yahoo UI Reset CSS, Eric Meyer's Reworked Reset y experiencias personales
-- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

a img, iframe {
	border: none;
	vertical-align: top;
}

ol, ul {
	list-style: none;
}

input, textarea, select, button {
	font-size: 100%;
	font-family: inherit;
}

select {
	margin: inherit;
}

/* Fixes incorrect placement of numbers in ol's in IE6/7 */
ol { margin-left:2em; }


/* ========================================= clearfix == */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* CSS Document */

/* ----------------- */
/*     GENERALES     */
/* ----------------- */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	background: #E8E1C5;
}

	.dentro {
		width: 100%;
		margin: 0 auto;
		float: left;
	}
	
	/* ----- menu corporativo ----- */
	#menu_corp_cont {
		/*width: 990px;*/
	}
	
	/* ----- #header ----- */
	#header {
		/*visibility: hidden;*/
	}
	
	/* ----- #content ----- */
	#content {
	width: 930px;
	}
		#content .dentro {
		    background:url(../images/bkg_content.jpg) 0 0 repeat-y;
		    height: 100%;
		    overflow: hidden;
		    width: 889px;
		    /*width: 943px;*/
		    padding: 20px 21px;
		}
		
		#main {
			width: 584px;
			margin-right: 10px;
			float: left;
			margin-top: 12px;
		}
		
		#side {
			width: 300px;
			float: left;
		}
	

#menu_corp_cont {
	background: #dae1f4;
	font-family: Georgia, "Times New Roman", Times, serif; 	
}
	#menu_corp_cont ul {
		list-style: none;
		border: 1px solid #becbd3;
		overflow: hidden;
		width: 990px;
		margin: 0 auto;
	}
		#menu_corp_cont ul li {
			float: left;
			padding: 2px 12px;
			text-align: center;
			border-right: 1px solid #becbd3;
			background: #fff;
		}
			#menu_corp_cont .ultimo {
				border: 0px;
				padding: 2px 20px;
			}
			#menu_corp_cont .emol {
				background: #d9e2f4;
			}
			#menu_corp_cont .emol_white {
				background: #fff;
			}
			#menu_corp_cont .emol_gris {
				background: #eaeae5;
			}
			#menu_corp_cont .emol_blue {
				background: #dfe5ea;
			}
			
			#menu_corp_cont a {
				color: #000;
				text-decoration: none;
			}
				#menu_corp_cont a:hover {
					text-decoration: underline;
				}
/* === header === */
	#header {
	    position: relative;
	    width: 922px;
	    background: #FFF;
	    margin: 0 auto 0 7px;
	    z-index: 9999;
	    float: left;
	}

	#header .dentro {
 	    /*background: url(../images/bkg_header.jpg) 0 0 no-repeat; */
		position: relative;
		border-left:1px solid #999;
		border-right:1px solid #999;
	    background: url(../images/header_n_guioteca.jpg) 0 0 no-repeat;
	    border-bottom: 1px solid #c0c0c0;
	}

	#header h1 {
		width: 355px;
		height: 102px;
		text-indent: -9999px;
		overflow: hidden;
	}
	#header h1 a {
		display: block;
		height: 102px;
	}
	
	#header a {
		text-decoration: none;
	}

	#header:before, #header:after {
	    z-index: -1;
	    position: absolute;
	    content: "";
	    bottom: 15px;
	    left: 10px;
	    width: 50%;
	    top: 80%;
	    max-width: 300px;
	    background: #777;
	    -webkit-box-shadow: 0 15px 10px #777;
	    -moz-box-shadow: 0 15px 10px #777;
	    box-shadow: 0 15px 10px #777;
	    -webkit-transform: rotate(-3deg);
	    -moz-transform: rotate(-3deg);
	    -o-transform: rotate(-3deg);
	    -ms-transform: rotate(-3deg);
	    transform: rotate(-3deg);
	}

	#header:after {
	    -webkit-transform: rotate(3deg);
	    -moz-transform: rotate(3deg);
	    -o-transform: rotate(3deg);
	    -ms-transform: rotate(3deg);
	    transform: rotate(3deg);
	    right: 10px;
	    left: auto;
	}
	
	#buscador_header {
		position: absolute;
		right: 15px;
		top: 42px;
		width: 365px;
	}
		#buscador_header li {
		}
		#searchform {
			height: 26px;
			padding: 5px;
		}
			#searchform input {
				/*border: 0px;*/
				color: #999;
				/*padding: 5px 0px;*/
			}
			#searchform #s {
				float: left;
			}
			#searchform #searchsubmit {
				text-indent: -9999px;
				overflow: hidden;
				float: left;
				cursor: pointer;

			    background: url(../images/lupa_bus.jpg) no-repeat center center #f1921a;
			    position: absolute;
			    right: 8px;
			    top: 9px;
			    height: 22px;
			    width: 64px;
			    -webkit-border-radius: 2px;
			    -moz-border-radius: 2px;
			    border-radius: 2px;
			    border: 0px;

			}
			#buscador_header .pregunta {
				font-size: 25px;
				color: #fff;
				text-align: center;
			}
			#buscador_header .amarillo {
				color: #e2ff3a;
			}
			
	#registro_header {
		font:normal 12px Arial, Verdana;
		position: absolute;
		overflow: hidden;
	    background: #fff;
	    font-size: 11px;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	    padding: 4px;
	    border: 1px solid #d3d3d1;
	    top: 16px;
	    right: 18px;
	}
		#registro_header strong{
			font-weight: bold;
			font-size: 12px;
		}
		#registro_header li {
			float: left;
			padding: 0px 10px;
			border-right: 1px solid #f1921c;
			color: #666;
		}
		#registro_header a {
			color: #44a2ae;
			text-decoration: none;
		}
		#registro_header a:hover {
			text-decoration: underline;
		}
		#registro_header .borderless {
			border: 0px;
		}
		#registro_header .selected {
			color: #fff601;
		}
	#header .serguia {
		border: 0px;
	}
		#header .serguia a {
		    font-size: 12px;
		    color: #44a2ae;
			font-weight:bold;
		}
		#header .serguia a:hover {
			text-decoration: underline;
		}
	
	#header .btn_emol {
		position: absolute;
		bottom: 50px;
		right: 25px;
		width: 61px;
		height: 20px;
		background: url('../images/emol.jpg') left top no-repeat;
		text-indent: -9999px;
		overflow: hidden;
		display: block;
	}

	#s {
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    border-radius: 2px;
	    padding: 8px 0px 7px 8px;
	    border: 1px solid #48a1b3;
	    width: 98%;
	}

		
	/* -- .login -- */	
	#header .login {
		width: 204px;
		height: 171px;
		position: absolute;
		right: 84px;
		top: 20px;
		background: #f3eed8;
		padding: 18px;
		font-weight: bold;
		display: none;
	}
	#header .login label {
		color: #000;
		font-size: 14px;
	}
	#header .login input {
/*		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 3px;*/
		margin: 0 0 10px 0;
		height: 20px;
		width: 204px;
	}	
	#header .login .btn_login {
		border: 1px solid #437e9e;
		background: url('../images/btn_login.jpg') left top repeat-x;
		width: 62px;
		padding: 2px 0px;
		margin: 2px 0 12px 0;
		height: 25px;
	} 
	#header .login a {
		font-size: 11px;
		font-weight: normal;
		color: #000;
		text-decoration: underline;
		display: block;
	}
		#header .login a:hover {
			text-decoration: none;
		}	
			
		
		
	h1, h2, h3, h4 {
		font-family: Georgia, "Times New Roman", Times, serif;
	}

/* --#migas --*/
	#migas {
		background:url('../images/bkg_breadcrumbs.jpg') 0 0 no-repeat;
		padding: 5px 0 0 21px;
		color: #FFF;
		margin:0 0 15px -21px;
		height:38px;
		font:normal 14px Arial, Verdana;
	 }
	 #migas span{
		font:normal 19px Georgia,"Times New Roman",Times,serif;
	 }
	#migas li {
		float: left;
		padding: 2px 3px;
		color: #000;
	}
	#migas a {
		color: #FFF;
		text-decoration: none;
	}
		#migas a:hover {
			text-decoration: underline;
		}
		#migas li.selected {
			color: #FFF;
			font-size: 14px;
			font-weight: bold;
		}
		
/* --#principal --*/
	#principal {
		width: 624px;
		height: 230px;
		padding: 10px;
		background-color: #348b9c;
		margin-bottom: 15px;
		*margin-bottom: 18px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
		.content_ppal {
			overflow: hidden;
			height: 220px;
		}
		#principal img {
			float: left;
/*			width: 333px;
			height: 217px; */
		}
		#principal .video-portada {
			float: left;
			width: 333px;
			height: 217px;
		}
		#principal .post_body {
			width: 226px;
			float: left;
			padding: 10px 0 0 10px;
		}
			#principal .post_categoria {
				font:normal 12px Georgia, "Times New Roman", Times, serif;
				color: #FFF !important;
				padding: 0;
			}
				#principal .post_categoria a {
					font-weight:normal;
					color: #FFF;
					text-decoration: none;
				}
					#principal .post_categoria a:hover {
						text-decoration: underline;
					}
			#principal .post_titulo {
				font:normal 19px Georgia, "Times New Roman", Times, serif;
				color: #CAFEFC;
				padding: 0;
				margin-bottom: 5px;
			}
				#principal .post_titulo a {
					color: #CAFEFC;
					text-decoration: none;
					font-weight: normal;
				}
					#principal .post_titulo a:hover {
						text-decoration: underline;
					}
			#principal .post_resumen {
				line-height:17px;
				color:#FFF;
				padding: 5px 0 0 0;
				width:210px;
			}
			#principal p, #principal div {
			padding: 0 0 5px 0;
		}
			
/* --#destacado_dia --*/			
	#destacado_dia {
		width: 644px;
	}
		#destacado_dia h2 {
	 	    background:url(../images/bkg_destacado_dia.jpg) 0 0 no-repeat; 
			font-size: 22px;
			padding: 5px 0 0 21px;
			color: #FFF;
			margin:15px 0 0 -21px;
			height:38px;
			width:90%;
			float:left;
			font-weight:normal;
		}
		.destacado_dia_posts {
			float:left;
			background:#F3F3F3;
			padding:2px 20px 10px;
			border-top:1px solid #D5D5D5;
			border-bottom:1px solid #D5D5D5;
			overflow:hidden;
		}
		#destacado_dia .post_body {
			position: relative;
			width: 135px;
			height:230px;
			float: left;
			margin:8px;
		}
		#destacado_dia .post_body img {
			float:left;
			border:133px;
			height: 131px;
			border:1px solid #999;
		}
		#destacado_dia .soporte_cat {
			float:left;
			padding: 0;
		}
		#destacado_dia .post_categoria {
			float:left;
			color: #3B82C2;
			font-size: 12px;
			padding:0;
			height:37px;
			line-height:14px;
		}
		#destacado_dia a {
			/*float:left;*/
			display: block;
		}
		#destacado_dia .post_categoria a { 
			float:left;
			font-weight: bold;
			color: #3B82C2;
			text-decoration: none;
				*font-family:tahoma, arial;
		}
			#destacado_dia .post_categoria a:hover { 
				text-decoration: underline;
			}
		#destacado_dia .post_resumen {
			float:left;
			font-weight: normal;
			padding: 7px 0;
		}
		#destacado_dia .post_resumen a {
			font-weight: normal;
			color: #666;
			text-decoration: none;
		}
			#destacado_dia .post_resumen a:hover {
				text-decoration: underline;
			}
		#destacado_dia .marginless {
			margin: 0px;
		}


#otras_guias {
  margin-top: 15px;
}

.contenedor_mas_v_compartido {
	float: left; 
	width:100%;
	overflow: hidden; 
	margin-bottom: 30px; 
	margin-top: 20px; 
}

#otras_guias h2 {
                        background:url('../images/bkg_destacado_dia_celeste.jpg') 0 0 no-repeat;
                        font-size: 22px;
                        padding: 5px 0 0 21px;
                        color: #FFF;
                        margin:0 0 1px -21px;
                        height:38px;
                        width:100%;
                        clear:left;
                        font-weight:normal;
                }


/* --.columna --*/
	.columna {
		width: 300px;
		float: left;
		position: relative;
		margin-top: 20px;
	}
/* --.pespecial --*/	
	.pespecial {
		float:left;
		margin-bottom: 20px;
	}	
	.pespecial img {
		border: 4px solid #E4E4E4;
/*		width: 294px;
		height: 174px; */
	}
	.pespecial a{
		float:left;
	}
		.pespecial .post_body {
			float:left;
			padding: 5px 9px;
		}
		.pespecial .post_categoria {
			float:left;
			font-size:12px;
			padding-bottom: 5px;
		}
			.pespecial .post_categoria a {
				color: #186EBB;
				text-decoration: none;
				font-weight:bold;
				*font-family:tahoma, arial;
			}
			.pespecial .post_categoria a:hover {
				text-decoration: underline;
			}
		.pespecial .post_titulo {
			float:left;
			clear:left;
			font-size: 16px;
			color: #e5b62a;
			font-weight: normal;
			padding-bottom: 5px;
		}
			.pespecial .post_titulo a {
				font-weight: normal;
				color:#186EBB;
				text-decoration: none;
			}
			.pespecial .post_titulo a:hover {
				text-decoration: underline;
			}
		.pespecial .post_resumen {
			color:#186EBB;
			padding-bottom: 5px;
		}
			.pespecial .post_resumen a {
				color:#186EBB;
				text-decoration: none;
			}
				.pespecial .post_resumen a:hover {
					text-decoration: underline;
				}
		.pespecial p, .pespecial div {
			padding: 0 0 5px 0;
		}
/* --#mas_comentado --*/			
		#caja_comentado {
			float:left;
			background: url('../images/bkg_comentado.jpg') 210px 80px no-repeat;
			width:300px;
		}
			#caja_comentado h2 {
				font-size: 16px;
				font-weight: bold;
				padding: 0 0 0 5px;
				height: 26px;
				line-height: 26px;
				text-transform: uppercase;
				border-left: 20px solid #1F7284;
				color: #1F7284;
				border-top: 1px solid #cecece;
				border-bottom: 1px solid #cecece;
				border-right: 1px solid #cecece;
				margin-bottom: 10px;
			}	
			#caja_comentado .post_categoria {
				color: #8d9fa3;
				padding: 0px 5px 2px 5px;
				font-weight: bold;
			}
				#caja_comentado .post_categoria a {
					color: #8d9fa3;
					text-decoration: none;
					border-bottom: 1px solid #ebebeb;
					display: block;
					margin-bottom: 5px;
				}
					#caja_comentado .post_categoria a:hover {
						text-decoration: underline;
					}
			#caja_comentado .post_titulo {
				padding: 0px 5px 5px 5px;
				font-size: 14px;
				color: #1F7284;
				font-weight: bold;
				line-height: 14px;
			}
				#caja_comentado .post_titulo a {
					color: #1F7284;
					text-decoration: none;
				}
					#caja_comentado .post_titulo a:hover {
						text-decoration: underline;
					}
			#caja_comentado .post_resumen {
				padding: 0px 5px 10px 5px;
			}

/* --.destacados --*/
	.columna.col-derecha{
		float: left;
		background-color: #F1FDFD;
		margin: 20px 0 0 27px;
		padding: 0;
		border: 1px solid #DADADA;
		width: 255px;
	}
	.columna.col-derecha .col-der-dentro{
	border-top:5px solid #0B93AD;
	border-bottom:2px solid #0B93AD;
	}
		.destacados {
			padding: 12px 15px;
			border-bottom:1px dotted #999;
		}
			.destacados .post_categoria {
				font-size: 12px;
				*font-family:Tahoma;
				color: #747273;
				padding-bottom: 5px;
			}
			.destacados .post_categoria a {
				font-weight: bold;
				color: #747273;
				text-decoration: none;
				display: block;
					*font-family:tahoma, arial;
				}
				.destacados .post_categoria a:hover {
					text-decoration: underline;
				}
			.destacados .post_titulo {
				color: #727473;
				font-size: 15px;
				font-weight:normal;
				padding-bottom: 5px;
			}
				.destacados .post_titulo a {
					color: #747273;
					text-decoration: none;
				}
				.destacados .post_titulo a:hover {
					text-decoration: underline;
				}
			.destacados .post_resumen {
				font-size: 12px;
			}
		.destacados-separador{
			overflow:hidden;
			border-bottom:1px dashed #D5D5D5;
			width:604px;
		}
		.sombra {
			position: absolute;
			bottom: -2px;
			right: -20px;
		}
		
/* --.banner_gde --*/			
		#soporte_banner {
			width: 940px;
			height: 355px;
			background: #f3f2ed;
			clear: both;
			padding: 50px 0 0 0;
		}
			.banner_bajo {
				width: 720px;
				height: 300px;
				background: #fff;
				margin: 0 auto;
			}
/* -- .ser_guia --*/
	.ser_guia {
		width: 644px;
		min-height: 159px;
		height: auto!important;
		height: 159px;
		background: #f3f2ed url('../images/bkg_guia_form.jpg') left top no-repeat;
	}
		.pregunta_guia {
			padding-bottom: 20px;
		}
			.pregunta_guia .cat_id {
				font-size: 28px;
				font-weight: bold;
				color: #ff9205;
				padding: 30px 0 30px 160px;
			}
			.pregunta_guia .detalle_guia{
				padding: 0 0 15px 160px;
			}
			.linea_bottom {
				height: 2px;
				border-bottom: 1px solid #d4d5cf;
			}			
/* -- #soporte_contenido --*/
	  #soporte_contenido {
	  	background: #f3f2ed url('../images/bkg_soporte_contenido.jpg') left bottom no-repeat;
		width: 644px;
		padding: 30px 0px 30px 0px;
		margin-bottom: 20px;
	  }
	  	#soporte_contenido.especial {
			padding: 0px 0px 30px 0px;
		}
		#soporte_contenido.especial h4, #soporte_contenido.especial p{
			padding-left: 20px;
		}
		#soporte_contenido h2, #soporte_contenido h4, #soporte_contenido h4 {
			font-weight: bold;
		}
		#soporte_contenido h2 {
			font-size: 28px;
			color: #958c6b;
			padding: 0 0 15px 20px;
		}
		#soporte_contenido h3 {
			font-size: 18px;
			padding: 0 0 10px 20px;
		}
		#soporte_contenido h4 {
			font-size: 14px;
			padding: 0 0 10px 20px;
		}
		#soporte_contenido .post_body {
			margin-bottom: 15px;
		}
		#soporte_contenido .principios {
			padding: 20px;
			/*border: 1px solid #d1d0cb;*/
			/*margin: 0px 20px 20px 20px;*/
			margin:0px;
			font-size:14px;
			line-height:20px;
		}
			.post_body p, .post_body div {
				padding: 0 0 15px 20px;
			}
			.post_body a {
				font-weight: bold;
				text-decoration: underline;
				color: #778c8d;
			}
		#soporte_contenido .principios h4 {
			padding: 0 0 10px 0;
		}
		#soporte_contenido .principios li {
			padding: 0 0 10px 0;
			margin: 0 0 0 40px;
			list-style: square;
		}
			/* -- formularios --*/
			fieldset legend {
				display: none;
			}
			
			#olvido_pass, #nuevo_usuario {
				margin-bottom: 20px;
			}
				#olvido_pass ul {
				}
				
			#nuevo_usuario {
				overflow: hidden;
			}
				#nuevo_usuario ul {
					float: left;
					margin-bottom: 10px;
				}
				 	#nuevo_usuario li {
						/*padding: 0 0 0 10px;*/
					}
				 	#nuevo_usuario .lista_izq {
						width: 280px;
						border-right: 1px solid #bcbbb6;
					}
					#nuevo_usuario .lista_der {
						width: 280px;
						padding-left: 15px;
					}
					#olvido_pass li {
						padding: 0 0 5px 0;
					}
					#olvido_pass .btn, #nuevo_usuario .btn, #contactenos .btn {
						margin-top: 5px;
						width: 80px;
					}
					#olvido_pass input, #nuevo_usuario input {
						margin-bottom: 10px;
						width: 262px;
					}
			#contactenos {
				/*outline: 1px solid red;*/
			}
				#contactenos input {
					margin-bottom: 10px;
					width: 262px;
				}
				#contactenos textarea {
					margin-bottom: 10px;
					width: 542px;
					height: 80px;
				}
				#contactenos .separa_top {
				padding-top: 25px;
				}
				
			.destaca_mail {
				color: #a19886;
				font-weight: bold;
			}
			.alerta {
				padding: 0 0 0 15px;
			}
			.izq {
				width: 280px;
				float: left;
			}
			.der {
				width: 280px;
				float: right;
			}
			.lista_ancho {
				clear: both;
			}
			/* -- #si_contact_form --*/
			#si_contact_form {
				overflow: hidden;
				padding: 0 20px;
				width: 540px;
			}
			#si_contact_form div {
				padding: 0 0 5px 0;
			}
			#si_contact_message {
				width: 97%;
				height: 80px;
			}
			#si_contact_captcha_code {
				background: #fbfbfb;
				border: 1px solid #e5e5e5;
				width: 97%;
				font-size: 24px;
				margin: 2px 6px 16px 0px;
				padding: 3px;
			}
			#si_contact_form .small {
				font-size: 10px;
			}
			/* -- .wpcf7 --*/
			.wpcf7 {
				overflow: hidden;
				padding: 20px 50px !important;
				width: 540px;
			}
			.wpcf7 input{
				width: 300px;
			}
			.wpcf7 textarea{
				width: 400px;
				height: 100px;
			}
			.wpcf7 p {
				padding: 0 0 5px;
				line-height: 25px;
			}
			.wpcf7 .boton input{
				width: 60px;
			}
			.wpcf7 .small {
				font-size: 10px;
			}
			/* -- #sub_herramientas --*/
			.post_body #sub_herramientas {
				overflow: hidden;
				padding: 15px 0 15px 15px;
				border-top: 1px solid #d4d3ce;
				margin-top: 15px;
			}
				.post_body #sub_herramientas li {
					float: left;
					padding: 5px;
					list-style: none;
					margin: 0;
				}
				.post_body #sub_herramientas a {
					color: #f18a14;
				}

	/* -- .archivebody --*/	
	.archivebody {
		border-bottom: 1px solid #dbdcd7;
		padding:0 15px 10px 0;
		margin:10px 10px 0px 0px;
		overflow: hidden;
		
	}
		.archivebody .comentarios {
			text-align: right;
			clear: both;
		}
			.archivebody .comentarios a {
				color: #98a0a3;
				text-decoration: none;
			}
			.archivebody .comentarios a:hover {
				text-decoration: underline;
			}
		
		.archivebody img {
			float: left;
			border: 3px solid #e1e2dc;
			margin: 0 15px 5px 0;
		}
		
		.archivebody .postheader h3 {
			color: #000;
			font-size: 20px;
			margin-bottom: 10px;
		}
			.archivebody .postheader h3 a {
				color:#000;
				text-decoration: none;
			}
				.archivebody .postheader h3 a:hover {
				text-decoration: underline;
				}
	.archivebody .postbody {
		margin: 0 0 20px 0;
	}

	/* -- .postheader --*/		
	.postdate {
		border-bottom: 1px solid #d5d5d5;
		padding-bottom: 3px;
		margin-bottom: 20px;
	}
		.postdate .fecha {
			color: #a0a0a0;
			font-size: 11px;
		}
		.postdate .btn_compartir {
			float: right;
		}
		.postdate .btn_compartir a {
			color: #a0a0a0;
			text-decoration: none;
			background: url('../images/btn_compartir.jpg') left top no-repeat;
			padding: 0 0 0 18px;
		}
			.postdate .btn_compartir a:hover {
				text-decoration: underline;
				color: #f60;	
			}
		
		.nav_pages {
			overflow: hidden;
			margin-bottom: 40px;
		}
			.nav_pages li {
				float: left;
				padding: 5px 10px;
				margin-right: 4px;
				border: 1px solid #999;
				font-weight: bold;
			}
				.nav_pages a {
					text-decoration: none;
					color: #FF9205;
					display: block;
				}
				.nav_pages a:hover {
					text-decoration: underline;
				}

	.cabecera {
		margin-top: 30px;
		
		border-left: 20px solid #1f7284;
		border-top: 1px solid #cecece;
		border-bottom: 1px solid #cecece;
		border-right: 1px solid #cecece;
		height: 26px;
		margin-bottom: 30px;
		margin-right: 6px;
		background: #fff;
		overflow: hidden;
	}
		.compartida {
			border-left: 20px solid #5b5b5b;
		}
	.cabecera h2, .cabecera a  {
		font-size: 16px;
		font-weight: bold;
		padding: 0 0 0 5px;
		line-height: 26px;
		text-transform: uppercase;
		color: #5b5b59;
		float: left;
	}
		.cabecera a {
			color: #5b5b59;
			text-decoration: none;
		}
			.cabecera a:hover  {
				text-decoration: underline;
			}
		.cabecera .date {
			float: left;
			padding: 0;
			color: #a68f6d;
			border-left: 1px solid #a68f6d;
			padding-left: 5px;
			margin: 5px 0 0 10px;
			font-weight: bold;
		}
			
	.postheader h2 {
		color: #f7a500;
		font-size: 28px;
		margin-bottom: 10px;
	}
	.postheader h3 {
		color: #f7a500;
		font-size: 22px;
		margin-bottom: 10px;	
	}
	.postheader h4 {
		color: #f7a500;
		font-size: 18px;
		margin-bottom: 10px;
	}
		.postheader h2 a, .postheader h3 a, .postheader h4 a {
			color:#f7a500;
			text-decoration: none;
		}
			.postheader h2 a:hover, .postheader h3 a:hover, .postheader h4 a:hover {
			text-decoration: underline;
			}
			
	.postheader .bajada {
		margin-bottom: 30px;
		font-size: 16px;
		font-weight: bold;
	}
	.postheader .ver_categoria {
		color: #ff9205;
		font-weight: bold;
		text-decoration: none;
	}
	
	.postbody {
		margin: 0 0 40px 0;
		color: #020202;
	}
		.postbody .sop_img {
			float: left;
			margin: 0 15px 15px 0;
			border-bottom: 1px dotted #c3c3c3;
		}
		.postbody img{
			margin: 0 15px 15px 0;
			float: left;			
		}
		.sop_img img {
			clear: both;
		}
		.postbody .det_foto {
			text-align: right;
			padding: 5px 0 3px 0;
	
		}
		.postbody a {
			text-decoration: none;
			/*color: #0087ae;*/
			color: #0c74a9;
			font-weight: bold;
		}
		.postbody a:hover {
			text-decoration: underline;
		}
		.postbody p {
			margin-bottom: 15px;
			text-align: justify;
		}
		/* --- listas ----*/
		.postbody ul {
			padding: 15px 10px;
			margin-left: 2em;
		}
		.postbody li {
			padding: 3px 0;
			/*background: url('../images/bullet_side_caja.jpg') left top no-repeat;*/
			list-style: square; 
		}
		.postbody ol {
			padding: 15px 10px;
		}
			.postbody ol li {
			list-style: decimal;
			}
		.postbody dl {
			padding: 15px 0;
			margin-left: 2em;
		}
		.postbody dt {
			font-weight: bold;
		}
		.postbody dd {
			margin-bottom: 3px;
		}

	/* comentarios */		
	#postmeta{
		background: url('../images/bkg_tit_comentarios.jpg') left top no-repeat;
		height: 25px;
		padding: 35px 0 0 0;
		overflow: hidden;
		border-bottom: 5px solid #d2cec2;
		margin-bottom: 26px;
	}
	.tit_comentarios {
		color: #e5c21c;
		font-size: 22px;
		padding: 0 0 0 20px;
		font-family: Georgia, "Times New Roman", Times, serif; 
	}
	.num_comentarios {
		float: right;
		padding: 6px 15px 0 0;
		color: #e5c21c;
	}
	.com_num {
		color: #fff;
		font-weight: bold;
		margin-left: 5px;	
	}
		.num_comentarios a {
			color: #fff;
			font-weight: bold;
			padding-left: 5px;
		}
	.caja_comentario {
		border-bottom: 1px solid #dbdbd9;
		margin: 10px 0 10px 0;
		color: #606060;
	}
		.caja_comentario .commentauthor {
			color: #255ba1;
			font-weight: bold;
		}
			.caja_comentario .commentauthor a { 
				color: #0066cd;
			}
		.commentmetadata {
			font-size: 11px;
		}
		.commentbody {
			margin: 10px 0 10px 0;
		}
		.caja_comentario a {
			color:#0c74a9;
			font-weight:bold;
			text-decoration:none;
		}
			.caja_comentario a:hover {
				text-decoration: underline;
			}
	.respuesta {
		padding: 0 0 0 75px;
/*		background: url('../images/bkg_respuesta.jpg') left top no-repeat;*/
	}
		.respuesta .commentauthor, .respuesta .commentauthor a {
			color: #7eba03;
		}
		.respuesta .commentbody {
			color: #7eba03;
		}
		.detalle_com {
			overflow: hidden;
			font-size: 11px;
			padding: 0 0 5px 15px;
		}
		.comment-author, .comment-date, .comment-time {
			float: left;
			margin-right: 10px;
		}
		.comment-author {
			font-size: 12px;
			color: #0066cb;
			font-weight: bold;
			text-transform: capitalize;
		}
		.comment-date, .comment-time {
			padding-top: 1px;
		}
		.comment-content {
			padding: 0 0 15px 15px;
		}
		.identificador {
			padding: 10px 0 3px 0;
			color: #a7916c;
		}
			.identificador a {
				color: #a7916c;
				font-weight: bold;
				margin-right: 10px;
			}
		.comment {
			border-bottom: 1px dotted #cececc;
			padding-top: 15px;
		}
		#commentform #comment {
			margin-bottom: 10px;
		}
		#commentform #submit {
			border: 0;
			background: #5b5b5b;
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
		}

	.enlace {
		color:#0C74A9;
		font-weight:bold;
		text-decoration:none;
	}

	/* ---- #pag_error ----*/
	#pag_error {
		width: 400px;
		margin: 0 auto;
		padding: 30px 0px 50px 0;
		text-align: center;
	}
		#pag_error .encabezado {
			
		}
		#pag_error h2 {
			font-size: 24px;
			padding: 5px 0;
		}
		#pag_error li {
			padding: 3px 0px;
		}
		
		#searchform_central {
			padding: 10px 0;
		}
			#searchform_central #s{
				border: 1px solid #d7d7d7;
				background: #fff;
				padding: 2px;
			}
			#searchform_central #searchsubmit {
				background: #5b5b5b;
				border: none;
				padding: 3px 12px;
				color: #fff;
				font-weight: bold;
			}
		.busqueda {
			padding: 5px 0 10px 0;
			border-bottom: 1px dotted #d7d7d7;
			margin-bottom: 10px;
		}
	

	/* ======== Carrusel ========= */
	#principal .jcarousel-skin.jcarousel-container-horizontal {width: 600px;}
	#principal .jcarousel-skin .jcarousel-clip-horizontal {width: 600px; height: 217px;}
	#principal .jcarousel-skin .jcarousel-item {width: 600px; height: 190px;}
	#principal .jcarousel-skin .jcarousel-item-horizontal {margin-right: 15px;}
	#principal .jcarousel-skin .jcarousel-item-placeholder {background: #fff; color: #000;}
	/* Horizontal Buttons */
	#principal .jcarousel-skin .jcarousel-next-horizontal {overflow: hidden; position: absolute; top: 70px; right: 0px; width: 43px; height: 59px; cursor: pointer; background: transparent url('../images/boton-carrusel-der.png') 0 0 no-repeat;}
	#principal .jcarousel-skin .jcarousel-next-horizontal:hover { background-position: 0px -59px;}
	#principal .jcarousel-skin .jcarousel-next-horizontal:active {background-position: 0px -59px;}
	#principal .jcarousel-skin .jcarousel-next-disabled-horizontal,
	#principal .jcarousel-skin .jcarousel-next-disabled-horizontal:hover,
	#principal .jcarousel-skin .jcarousel-next-disabled-horizontal:active {cursor: default; background-position: -9px -28px;}
	#principal .jcarousel-skin .jcarousel-prev-horizontal {overflow: hidden; position: absolute; top: 70px; left: 0px; width: 43px; height: 59px; cursor: pointer; background: transparent url('../images/boton-carrusel-izq.png') 0 0 no-repeat;}
	#principal .jcarousel-skin .jcarousel-prev-horizontal:hover {background-position: 0 -59px;}
	#principal .jcarousel-skin .jcarousel-prev-horizontal:active {background-position: 0 -59px;}
	#principal .jcarousel-skin .jcarousel-prev-disabled-horizontal,
	#principal .jcarousel-skin .jcarousel-prev-disabled-horizontal:hover,
	#principal .jcarousel-skin .jcarousel-prev-disabled-horizontal:active {cursor: default; background-position: 0 -28px;}
	/* This <div> element is wrapped by jCarousel around the list and has the classname "jcarousel-container" */
	#principal .jcarousel-container {position: relative;}
	#principal .jcarousel-clip {z-index: 2; padding: 0; margin: 0; overflow: hidden; position: relative;}
	#principal .jcarousel-list {z-index: 1; overflow: hidden; position: relative; top: 0; left: 0; margin: 0; padding: 0;}
	#principal .jcarousel-item { float: left; list-style: none; /* We set the width/height explicitly. No width/height causes infinite loops. */ width: 100px; height: 100px;}
	/* The buttons are added dynamically by jCarousel before the <ul> list (inside the <div> described above) and have the classnames "jcarousel-next" and "jcarousel-prev" */
	#principal .jcarousel-next {z-index: 3; display: none;}
	#principal .jcarousel-prev {z-index: 3; display: none;}

	/* ====== Coda Slider ====== */
	.coda-slider-wrapper { padding: 20px 0 }
	/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
	.coda-slider-no-js .coda-slider { height: 220px; overflow: auto !important; padding-right: 20px }
	/* Change the width of the entire slider (without dynamic arrows) */
	.coda-slider, .coda-slider .panel { width: 300px; height: 220px;} 
	/* Change margin and width of the slider (with dynamic arrows) */
	.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width: 600px }
	.coda-slider-wrapper.arrows .coda-slider { margin: 0 10px }
	/* Arrow styling */
	.coda-nav-left a, .coda-nav-right a { background: #000; color: #fff; padding: 5px; width: 100px }
	/* Panel padding */
	.coda-slider .panel-wrapper { padding: 20px }
	/* Preloader */
	.coda-slider p.loading { padding: 20px; text-align: center }
	/* Don't change anything below here unless you know what you're doing */
	/* Tabbed nav */
	.coda-nav {
		overflow: hidden;
		position: absolute;
		bottom: 20px;
		/*right: 10px;*/
		right: 0px;
		z-index: 10;
		
	}
	.coda-nav ul { /* clear: both; display: block; margin: auto; */
		float: right;
		padding: 5px 5px 0 0;
	}
	.coda-nav ul li {float: left; display: inline;}
	.coda-nav ul li a.current { display: block; width: 11px; height: 11px; background: url('../images/tabs_noticias.jpg') 0 0 no-repeat; }
	.coda-nav ul li a { /* background: #000; color: #fff; display: block; float: left; margin-right: 1px; padding: 3px 6px; text-decoration: none; */
		background: url('../images/tabs_noticias.jpg') -11px 0 no-repeat;
		/*float: left;*/
		display: block;
		height: 11px;
		width: 11px;
		text-indent: -9999px;
		overflow: hidden;
		margin: 0 0 0 3px;
	 }
	/* Miscellaneous */
	.coda-slider-wrapper { clear: both; overflow: auto }
	.coda-slider { float: left; overflow: hidden; position: relative }
	.coda-slider .panel { display: block; float: left }
	.coda-slider .panel-container { position: relative }
	.coda-nav-left, .coda-nav-right { float: left }
	.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none }
	.subtit_blogs {
		position: absolute;
		/*right: 80px;*/
		left: 10px;
		bottom: 18px;
		z-index: 9;
		font-size: 11px;
		font-family: Arial, Helvetica, sans-serif;
	}
	/* pagina login */
	#tml-page {
	padding: 0 30px;
	}
	#tml-page p.message {
		border: none;
		background: #dfded8;
		margin-bottom: 25px;
	}
	#wp-submit-tml-page {
		border: 0px;
		background: #5b5b5b;
		color: #fff;
		padding: 2px 10px;
		font-weight: bold;
		cursor: pointer;
	}
	.tml-links {
		display: none;
	}

	#sidebar {
		float: left;
		padding-bottom: 20px;
		width: 33.1%;
	}
		#sidebar li {
		}
		
		/* --#banner --*/
		#banner {
			margin-bottom: 10px;
		}
		
		/* --#blogs --*/
		#blogs {
			background: url('../images/bkg_blogs.jpg') 0 0 no-repeat;
		}
			#blogs-title {
				background: url('../images/bkg_h3_blogs.jpg') left top no-repeat;
				height: 37px;
				width:285px;
				padding:6px 20px 0 0;
				margin:0 0 0 -4px;
				text-align:right;
				font-weight:normal;
				color: #FFF;
				font-size: 22px;
				padding-left: 20px;
			}
			#blogs #titulares{
				float:left;
				margin:30px 0 0 0;
			}			
			#blogs .nav_blogs {
				clear: both;
				background: #f3f2ed url('../images/bkg_blogs.jpg') left bottom no-repeat;
				overflow: hidden;
				border-top: 1px solid #e7e6e2;
				padding-top: 5px;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 11px;
			}
			#blogs .nav_blogs ul {
				float: right;
				margin-right: 5px;
			}
			#blogs .nav_blogs li {
				float: left;
				display: inline;
				height: 32px;
				padding-left: 5px;
			}
				#blogs .tit_navs {
					padding: 0px 3px;
				}	
				.nav_blogs li a {
					background: url('../images/bkg_tabs_blogs.jpg') -11px 3px no-repeat;
					width: 11px;
					height: 16px;
					display: block;
					text-indent: -9999px;
				}
				.nav_blogs li a.current {
					background: url('../images/bkg_tabs_blogs.jpg') 0px 3px no-repeat;
				}
				

/* -- Caja destacado Blogs -- */
#destacado-blogs-title {
	height: 37px;
	width: 94%;
	background: url('../images/bkg_titulo_destacado_blogs.jpg') left top no-repeat;
	padding:6px 19px 0 0;
	margin:0 0 0 -4px;
	text-align:right;
	font-weight:normal;
	color: #FFF;
	font-size: 22px;
	padding-left: 20px;
}

.pdestacado-blogs {
	border:1px solid #999;
	margin:15px 0;
}
.pdestacado-blogs .destacado-blogs-imagen{
	width:100%;
	height:192px;
	overflow:hidden;
}
.pdestacado-blogs .destacado-blogs-imagen img{
/*
	width:298px;
	height:192px;
	*/
	width: 100%;
}
.pdestacado-blogs .post_categoria{
	padding:10px 10px 0 10px;
}
.pdestacado-blogs .post_categoria a{
	color:#B73E09;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
		*font-family:arial black;
		*font-weight:normal;
}
.pdestacado-blogs .post_categoria a:hover{
	text-decoration:underline;
}
.pdestacado-blogs .post_titulo{
	padding:0 10px;
}
.pdestacado-blogs .post_titulo a{
	color:#B73E09;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
}
.pdestacado-blogs .post_titulo a:hover{
	text-decoration:underline;
}
.pdestacado-blogs .post_resumen{
	font:normal 13px Georgia,"Times New Roman",Times,serif;
	padding:10px;
	border-bottom:2px solid #3FB4C5;
}



				/* -- #caja_comentado --*/
		#caja_comentado, #get-recent-comments, .widget_recent_comments {
			margin-bottom: 15px;
			background: url('../images/bkg_comentado.jpg') 205px bottom no-repeat;
		}
		
		#caja_comentado h2, #get-recent-comments h2, .widget_recent_comments h2 {
			font-size: 16px;
			font-weight: bold;
			padding: 0 0 0 5px;
			height: 26px;
			line-height: 26px;
			text-transform: uppercase;
			border-left: 20px solid #1F7284;
			color: #1F7284;
			border-top: 1px solid #cecece;
			border-bottom: 1px solid #cecece;
			border-right: 1px solid #cecece;
			margin-bottom: 10px;
		}
			.widget_recent_comments h2 {
				margin-bottom: 0px;
			}
			#caja_comentado .post_titulo, #get-recent-comments .post_titulo, widget_recent_comments .post_titulo {
				padding: 0px 5px 5px 5px;
				font-size: 14px;
				color: #1F7284;
				font-weight: bold;
				line-height: 14px;
			}
				#caja_comentado .post_titulo a, #get-recent-comments .post_titulo a {
					color: #1F7284;
					text-decoration: none;
				}
					#caja_comentado .post_titulo a:hover, #get-recent-comments .post_titulo a:hover {
						text-decoration: underline;
					}
			#caja_comentado .post_resumen, #get-recent-comments .post_resumen {
				padding: 0px 5px 10px 5px;
			}
/*				#caja_comentado .post_resumen a {
					display: none;
				}*/
			
			#caja_comentado .det_comentarios, #get-recent-comments .det_comentarios {
				padding: 0px 0 4px 0;
				color: #9a9a9a;
				font-size: 11px;
				text-align: right;
				border-bottom: 1px solid #ebebeb;
				margin-bottom: 15px;
			}
				#caja_comentado .det_comentarios a, #get-recent-comments .det_comentarios a {
					color: #8ba9b5;
					text-decoration: none;
				}
				#caja_comentado .det_comentarios a:hover, #get-recent-comments .det_comentarios a:hover {
					text-decoration: underline;
				}
				#recentcomments li {
					padding: 10px 0px 10px 18px;
					border-bottom: 1px solid #ebebeb;
					background: url('../images/bullet_side_caja.jpg') 7px 13px no-repeat;
					font-size: 10px;
				}
					#recentcomments li a {
						color: #666;
						font-weight: bold;
						text-decoration: none;
						font-size: 12px;
					}
						#recentcomments li a:hover {
							text-decoration: underline;
						}
				
		/* --#side_caja --*/
		.side_caja, .widget_links, .widget_recent_entries, .rp_widget, .widget_categoryposts, .widget_views {
			border: 1px solid #cecece;
			margin-bottom: 15px;
		}
			.side_caja h3, .widget_links h2, .widget_recent_entries h2, .rp_widget h2, 
			.widget_categoryposts h2, .masleido h2, .widget_views h2 {
				font-size: 16px;
				font-weight: bold;
				padding: 0 0 0 5px;
				height: 26px;
				line-height: 26px;
				text-transform: uppercase;
			}
				/* -- #masleido --*/
				#masleido, .masleido, .widget_views {
					background: url('../images/bkg_masleido.jpg') 205px bottom no-repeat;
				}
					#masleido h3, .masleido h2, .widget_views h2 {
						border-left: 20px solid #e60418;
						color: #e60418;
					}
					.widget_views p {
						padding: 3px 0;
					}
				/* -- #publicados --*/
				#publicados, .widget_recent_entries {
					background: url('../images/bkg_publicados.jpg') 205px bottom no-repeat;
				}
					#publicados h3, .widget_recent_entries h2 {
						border-left: 20px solid #ff9700;
						color: #ff9700;
					}
				/* -- #sugerencias --*/
				#sugerencias {
					background: url('../images/bkg_sugerencias.jpg') 205px bottom no-repeat;
				}
					#sugerencias h3 {
						border-left: 20px solid #1f7284;
						color: #1f7284;
					}
				/* -- #links --*/
				#links, .widget_links {
					background: url('../images/bkg_links.jpg') 205px bottom no-repeat;
				}
					#links h3, .widget_links h2 {
						border-left: 20px solid #646464;
						color: #646464;
					}
				/* -- #temas --*/
				#temas, .widget_categoryposts {
					background: url('../images/bkg_temas.jpg') 205px bottom no-repeat;
				}
					#temas h3, .widget_categoryposts h2{
						border-left: 20px solid #646464;
						color: #646464;
					}
				/* -- #relacionados --*/
				#relacionados, .rp_widget {
					background: url('../images/bkg_relacionados.jpg') 205px bottom no-repeat;
				}
					#temas h3, .rp_widget h2{
						border-left: 20px solid #ff9900;
						color: #646464;
					}
															
					
			.side_caja li, .blogroll li, .widget_recent_entries li, .rp_widget li, .widget_categoryposts li, .widget_views li {
				border-top: 1px solid #cecece;
				padding: 10px 5px 10px 18px;
				background: url('../images/bullet_side_caja.jpg') 7px 13px no-repeat;
			}
			.side_caja a, .blogroll a, .widget_recent_entries a, .rp_widget a, .widget_categoryposts a, .widget_views a {
				text-decoration: none;
				color: #666;
				font-weight: bold;
			}
			.side_caja a:hover, .blogroll a:hover, .widget_recent_entries a:hover, .rp_widget a:hover, .widget_categoryposts a:hover, .widget_views a:hover {
				text-decoration: underline;
			}
			
			
		/* -- .caja_tags --*/
		.caja_tags, .widget_tag_cloud {
			margin-bottom: 15px;
			border-top: 1px solid #cecece;
		}
			.caja_tags  h3, .widget_tag_cloud h2 {
				font-size: 16px;
				font-weight: bold;
				padding: 0 0 0 5px;
				height: 26px;
				line-height: 26px;
				text-transform: uppercase;
				border-left: 20px solid #1f7284;
				border-right: 1px solid #cecece;
				border-bottom: 1px solid #cecece;
				color: #1f7284;
			}
			.caja_tags .tags {
				border-top: 1px solid #cecece;
				padding: 10px;
			}
			.widget_tag_cloud ul{
				padding:5px 0 0 0;
			}
			.widget_tag_cloud li{
				display:inline;
				padding:0 5px 0 0;
			}
			.caja_tags .tags a, .widget_tag_cloud a {
				text-decoration: none;
				color: #1f7284;
				float:left;
				padding:0 3px 0 0;
			}
				.caja_tags .t_medio {
					font-size: 16px;
				}
				.caja_tags .t_mediomayor {
					font-size: 20px;
				}
				.caja_tags .t_mayor {
					font-size: 24px;
					font-weight: bold;
				}
		
		
/* Caja de Redes Sociales (28.04.2011) */
		
div.networks {
    border: 1px solid #e4e4e4;
    border-top: 0 none;
    width: 300px;
    height: 275px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #039;
    margin-bottom: 20px;
}

div.networks div span {
    color: #900;
}

div.networks div strong {
    font-weight: bold;
}

div.networks a {
    color: #039 !important;
	text-decoration: none;
}

div.networks div.twitter p {
    background: url(../images/twitter_icon.gif) 9px 9px no-repeat;

    padding: 8px 0 0 40px;
    margin: 0;
    margin-bottom: 5px;
    height: 27px;
}

div.networks div.facebook p {
    background: url(../images/facebook_icon.gif) 9px 9px no-repeat;
    padding: 10px 0 0 40px;
    margin: 0;
    height: 27px;
}

div.networks div.facebook iframe {
    margin: 10px;
}

h3.networks-title {
    background: url(../images/bkg_h3_blogs.jpg) left top no-repeat;
    height: 37px;
    width: 285px;
    padding: 6px 20px 0 0;
    margin: 0 0 0 -4px;
    text-align: right;
    font-weight: normal;
    color: white;
    font-size: 22px;
    padding-left: 20px;
}

/* Fin Caja Redes Sociales */
#footer {
	clear: both;
	overflow: hidden;
	font-size: 11px;
	width: 930px;
	margin-left: 7px;
}

	#footer .dentro {
		background:#3B717B url('../images/bkg_footer.jpg') left top repeat-x;
		border:1px solid #999;
		border-top:none;
		position: relative;
		height: 150px;
		overflow: hidden;
		max-width: 922px;
	}

	#footer a {
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 12px;
	}
		#footer a:hover {
			text-decoration: underline;
		}
	
	#herramientas {
		position: absolute;
		top: 33px;
		left: 31px;
		padding: 10px 0;
	}
		#herramientas li {
			float: left;
			padding: 8px 22px;
			border-right: 1px dotted #999;
		}
		#herramientas .borderless {
			border: 0px;
		}
		
		#footer .btn_emol_footer,  #footer .btn_certifica, #footer .btn_iab {
			position: absolute;
			text-indent: -9999px;
			overflow: hidden;
		}
		#footer .btn_emol_footer {
			right: 25px;
			top: 39px;
			width: 103px;
			height: 34px;
			background: url('../images/emol_footer.jpg') left top no-repeat;
		}
		#footer .condiciones {
			top: 87px;
			left: 530px;
			color: #fff;
			position: absolute;
		}
		#footer .condiciones2 {
		    top: 125px;
		    right: 148px;
		    color: #fff;
		    position: absolute;
		}
		
		#footer .condiciones a {
			color: #fff;
			text-decoration: none;
			font-weight: normal;
			font-size: 12px;
		}
		#footer .condiciones2 a {
			color: #fff;
			text-decoration: none;
			font-weight: normal;
			font-size: 12px;
		}
			#footer .condiciones a:hover {
				color: #ccc;
			}
			#footer .condiciones2 a:hover {
				color: #ccc;
			}
		#footer .btn_certifica {
			right: 75px;
			top: 30px;
			width: 95px;
			height: 19px;
			background: url('../images/btn_certifica.jpg') left top no-repeat;
		}
		#footer .btn_iab {
			right: 20px;
			top: 15px;
			width: 43px;
			height: 33px;
			background: url('../images/btn_iab.jpg') left top no-repeat;
		}
/* CSS Document */

/* ----------------- */
/*     ESTILOS PARA FORMULARIOS OCUPADOS CON PLUGIN "SI CAPTCHA Anti-Spam"     */
/* ----------------- */

#log-tml-page,
#pwd-tml-page,
#user_login-tml-page,
#user_email-tml-page,
#pass1-tml-page,
#pass2-tml-page,
#si_contact_name,
#si_contact_email,
#si_contact_email2,
#si_contact_subject,
#si_contact_ex_field2,
#si_contact_ex_field3,
#si_contact_ex_field4,
#si_contact_ex_field5,
#si_contact_ex_field6,
#si_contact_ex_field7,
#si_contact_ex_field8
{
	width: 300px;
}

#tml-page p label{
	display:block;
	padding:0 0 5px 0;
}
#tml-page p .input{
	display:block;
}
#tml-page .message{
	padding:10px;
}
#tml-page .forgetmenot label, #tml-page .forgetmenot input{
	display:inline;
}
#si_contact_form textarea{
	height:100px !important;
	width:400px !important;
}
#captcha_code[style]{
	width: 200px !important;
	border: 1px solid #A7A6AA !important;
	font-size: 13px !important;
	margin: 0 !important;
	padding: 2px 1px !important;
}
#si_contact_captcha_code[style]{
	width: 200px !important;
	border: 1px solid #A7A6AA !important;
	font-size: 13px !important;
	margin: 0 !important;
	padding: 2px 1px !important;
}
.infiniteCarousel {
  width: 620px;
  position: relative;
}

.infiniteCarousel .wrapper {
  width: 614px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
/*  overflow: auto;*/
  overflow: hidden;
  min-height: 222px;
  margin: 0;
  position: absolute;
  top: 0;
}

.infiniteCarousel .wrapper ul {
  /* width: 9999px; */
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 20px 20px 10px 20px;
  height: 220px;
  width: 614px;
}

.infiniteCarousel .arrow {
  display: block;
  height: 59px;
  width: 50px;
  text-indent: -999px;
  position: absolute;
  top: 90px;
  cursor: pointer;
}

.infiniteCarousel .forward {
  background: url(../images/boton-carrusel-der.png) no-repeat 0 0;
  right: 10px;
}

.infiniteCarousel .back {
  background: url(../images/boton-carrusel-izq.png) no-repeat 0 0;
  left: 10px;
}

.infiniteCarousel .forward:hover {
  background-position: 0 -59px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -59px;
}

.page p {
    line-height: 1.5;
}

.page strong {
    font-weight: bold;
}

/* NUEVOS ESTILOS 2014 */

h2.destacados-diarios {
	background: url(http://g.cdn.ecn.cl/static/css/portada/images/bkg_destacado_dia.jpg) 0 0 no-repeat;
	font-size: 22px;
	padding: 8px 0 0 21px;
	color: white;
	margin: 15px 0 0 -22px;
	height: 36px;
	width: 670px;
	float: left;
	font-weight: normal;
	font-family: Georgia, Arial, sans-serif;
}

h2.opinion {
	background: url(../images/bkg_preguntas_guia_naranjo.png) 0 0 no-repeat;
	font-size: 22px;
	padding: 8px 0 0 21px;
	color: white;
	margin: 15px 0 0 -21px;
	height: 36px;
	width: 100%;
	float: left;
	font-weight: normal;
	font-family: Georgia, Arial, sans-serif;
}

.destacados_principales_guio {
	float: left;
	width: 100%;
	font-family: Georgia, Arial, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #e8e1c5;
	margin-bottom: 15px;
}

.destacado_principal_guio {
	float: left;
	width: 96%;
	border-bottom: 1px solid #e8e1c5;
	padding: 0 0 15px 0;
	margin: 0 0 17px 0;
}

.destacado_principal_guio_img {
	float: left;
	margin-right: 10px;
}

.destacado_principal_guio h2 {
	font-size: 14px;
	padding-bottom: 3px;
}

.destacado_principal_guio h2 a {
	text-decoration: none;
	color: #319998;
}

.destacado_principal_guio h2 a:hover {
	text-decoration: underline;
	color: #319998;
}

.destacado_principal_guio h3 {
	font-size: 23px;
	line-height: 27px;
	font-weight: normal;
}

.destacado_principal_guio h3 a {
	text-decoration: none;
	color: #000;
}

.destacado_principal_guio h3 a:hover {
	text-decoration: underline;
	color: #000;
}

.destacado_principal_guio p {
	font-family: Arial, sans-serif;
	font-weight: normal;
	line-height: 18px;
}

.destacado_secundario_guio {
	float: left;
	width: 276px;
	margin-right: 10px;
	/*margin-bottom: 20px;*/
	height: 355px;
}

.destacado_secundario_guio img {
	width: 100%;
}

.destacado_secundario_guio:first-child {
	float: left;
	width: 96%;
	border-bottom: 1px solid #e8e1c5;
	padding: 0 0 10px 0;
	margin: 0 0 12px 0;
	height: auto;
}

.destacado_secundario_guio_img:first-child {
    float: left;
    margin-right: 10px;
    width: 100%;
    max-width: 274px;
}

.destacado_secundario_guio:first-child h2 {
	font-size: 14px;
	padding-bottom: 3px;
	font-weight: bold;
	width: 46%;
}

.destacado_secundario_guio:first-child h2 a {
	text-decoration: none;
	color: #319998;
}

.destacado_secundario_guio:first-child h2 a:hover {
	text-decoration: underline;
	color: #319998;
}

.destacado_secundario_guio:first-child h3 {
	font-size: 23px;
	line-height: 27px;
	font-weight: normal;
	width: 46%;
}

.destacado_secundario_guio:first-child h3 a {
	text-decoration: none;
	color: #000;
}

.destacado_secundario_guio:first-child h3 a:hover {
	text-decoration: underline;
	color: #000;
}

.destacado_secundario_guio:first-child p {
	font-family: Arial, sans-serif;
	font-weight: normal;
	line-height: 18px;
	width: 98%;
}

.destacado_secundario_guio:nth-child(2) , .destacado_secundario_guio:nth-child(3) {
	border-bottom: 1px solid #e8e1c5;
	margin-bottom: 12px;
}





.destacado_secundario_guio_img {
	float: left;
}

.destacado_secundario_guio h2 {
	font-size: 14px;
	padding-bottom: 3px;
	float: left;
	width: 100%;
	padding-top: 6px;
	font-weight: bold;
}

.destacado_secundario_guio h2 a {
	text-decoration: none;
	color: #319998;
}

.destacado_secundario_guio h2 a:hover {
	text-decoration: underline;
	color: #319998;
}

.destacado_secundario_guio h3 {
	float: left;
	width: 100%;
	padding-bottom: 3px;
	font-size: 17px;
	font-weight: normal;
}

.destacado_secundario_guio h3 a {
	text-decoration: none;
	color: #000;
}

.destacado_secundario_guio h3 a:hover {
	text-decoration: underline;
	color: #000;
}

.destacado_secundario_guio p {
	font-family: Arial, sans-serif;
	font-weight: normal;
	line-height: 18px;
}

.banner_nuevo_guio {
	float: left;
    width: 100%;
    max-width: 560px;
	/*background: #e9e9e9;
	border: 1px solid #9b999a;*/
	padding: 3px 3px 3px 3px;
}

.banner_nuevo_guio img {
	width: 100%;
}

/* DESTACADOS DIARIOS */

#destacado_dia .destacado_diarios_guio {
	float: left;
	width: 90%;
	padding: 11px 0 8px 0;
	font-family: Georgia, Arial, sans-serif;
}

#destacado_dia .diarios_guio_bor {
	border-bottom: 1px solid #e8e1c5;
}

#destacado_dia .diarios_guio_bor:last-child {
	border:0;
}


#destacado_dia .destacado_diarios_guio_img {
	float: left;
	width: 170px;
	margin: 0 15px 0 10px; 
}

#destacado_dia .destacado_diarios_guio_img img {
	width: 100%;
}

#destacado_dia .destacado_diarios_guio h4 {
	font-size: 14px;
	padding-bottom: 3px;
	font-weight: normal;

}

#destacado_dia .destacado_diarios_guio h4 a {
	text-decoration: none;
	color: #319998;
}

#destacado_dia .destacado_diarios_guio h4 a:hover {
	text-decoration: underline;
	color: #319998;
}

#destacado_dia .destacado_diarios_guio h3 {
	font-size: 17px;
	line-height: 20px;
	font-weight: normal;
}

#destacado_dia .destacado_diarios_guio h3 a {
	text-decoration: none;
	color: #000;
}

#destacado_dia .destacado_diarios_guio h3 a:hover {
	text-decoration: underline;
	color: #000;
}

#destacado_dia .destacado_diarios_guio p {
	font-family: Arial, sans-serif;
	font-weight: normal;
	line-height: 18px;
	font-size: 13px;
}

/* DESTACADOS OPINIÓN */

.destacado_opinion_guio_contenedor {
	float: left;
	font-family: Georgia, Arial, sans-serif;
	width: 100%;
	border-bottom: 1px solid #f7c27e;
	margin-bottom: 15px;
}

.destacado_opinion_guio {
	float: left;
	width: 46%;
	padding: 11px 0 11px 0;
	margin-right: 15px;
	height: 180px;
	border-bottom: 1px solid #f7c27e;
}

.destacado_opinion_guio:nth-last-child(1) {
	border:0;
}

.destacado_opinion_guio:nth-last-child(2) {
	border:0;
}



.destacado_opinion_guio_img {
	float: left;
	width: 123px;
	margin: 0 10px 0 0; 
}

.destacado_opinion_guio_img img {
	width: 100%;	
}

.destacado_opinion_guio h2 {
	font-size: 12px;
	font-weight: normal;

}

.destacado_opinion_guio h2 a {
	text-decoration: none;
	color: #000;
}

.destacado_opinion_guio h2 a:hover {
	text-decoration: underline;
	color: #000;
}

.destacado_opinion_guio h3 {
	font-size: 14px;
	line-height: 17px;
	font-weight: bold;

	float: left;
	width: 50%;
}

.destacado_opinion_guio h3 a {
	text-decoration: none;
	color: #333;
}

.destacado_opinion_guio h3 a:hover {
	text-decoration: underline;
	color: #333;
}

.destacado_opinion_guio p {
	font-family: Arial, sans-serif;
	font-weight: normal;
	line-height: 16px;
	font-size: 13px;
	color: #666;
}

/* REDES SOCIALES */

.red_sociales_sb {
	display: inline-block;
	font-family: Arial,sans-serif;
	width: 298px;
	border-left:1px solid #acbe8a;
	border-right:1px solid #acbe8a;
	border-bottom:1px solid #b1b1b1;
	border-top:10px solid #acbe8a;
	position: relative;
	background: #FFF;
	margin: 0 auto 10px auto;
	height: 54px;
}


.red_sociales_sb:before, .red_sociales_sb:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 3px;
	width: 50%;
	top: 60%;
	max-width: 300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.red_sociales_sb:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 3px;
    left: auto;
}

.red_sociales_sb_txt {
	float: left;
	padding-top: 10px;
	width: 43%;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	color: #49a2b4;
}

.red_soc_icons {
	float: right;
	padding-top: 10px;
}

.red_soc_icons_i {
	float: left;
	margin-right: 10px;
}

@media (max-width: 1024px) { 

.cont_blogs_guio, .cont_red_soc_guio , .cont_mas_visto_guio , .cont_destacado_blogs_guio , .cont_publ_adxion_sidebar {
	display: none;
}

.nm_zones {
	top:530px !important;
	left:615px !important;	
}



}

/* IPAD */
/* .cont_publi_tab {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
}

.nm_zones {
	position: relative;
	top: 0;
	left: 0;
}

.nm_zone_inner {
	position: static !important;
} */