/*section{ width:100%; margin-bottom: 5px;}*/
section { width: 922px; margin-bottom: 5px; overflow: hidden; position: relative; /*left: -13px; */}

#features .content{margin:auto;padding:5px 0px;width:770px; position: relative; left: 2px;}

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; /*overflow: hidden;*/ display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url(../img/ajax-loader.gif) center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: auto; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Icons */
@font-face { font-family: "slick"; src: url("../slick/slick/fonts/slick.eot"); src: url("../slick/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("../slick/slick/fonts/slick.woff") format("woff"), url("../slick/slick/fonts/slick.ttf") format("truetype"), url("../slick/slick/fonts/slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 136px; /*width: 30px;*/ width: 39px; line-height: 0; font-size: 0; cursor: pointer; /*background: #9cc253;*/ color: transparent; top: 0; /*margin-top: -10px;*/ padding: 0; border: none; outline: none; /*border: 1px solid #6c8738;*/}
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }
.slick-disabled {opacity: 0.5;}

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.85; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -78px; background: url("../img/fecha_ant.png") 0 0 no-repeat;}
.slick-prev:before { /*content: "\2190"; */}

.slick-next { right: -74px; background: url("../img/fecha_sig.png") 0 0 no-repeat;}
.slick-next:before { /*content: "\2192"; */}

/* Dots */
.slick-slider { margin-bottom: 0px; }

.slick-dots { position: absolute; bottom: -6px; list-style: none; display: block; text-align: right; padding: 0px; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0px; padding: 0px; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; outline: none; }
.slick-dots li button:focus { outline: none; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; width: 20px; height: 20px; font-family: "slick"; font-size: 38px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { opacity: 0.75; }


/* IMG CARROS */
.contenedor_notas_carro_guio {
	float: left;
}

.img_carro_guio {
	float: left;
	height: 130px;
	/* overflow: hidden; */
	/*background: #f9d3a4;*/
	background: #48a1b1;
}

.img_carro_guio a {
	height: auto;
	/*color: #676767;*/
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.img_carro_guio a:hover {
	text-decoration: underline;
	color: #fff;

}

.img_carro_guio a span {
	width: 114px;
	height: auto;
	max-height: 41px;
	font-size: 12px;
	line-height: 15px;
	transition: max-height .5s ease;
	-webkit-transition: max-height .5s ease;

	position: absolute;
	left: 0;
	bottom: 0;
	padding: 3px 5px 5px 5px;

	/*line-height: 1.15em;
	font-weight: 700;*/
	overflow: hidden;
}

.img_carro_guio a:hover span {
	max-height: 136px;
}

.txt_carro_guio {
	float: left;
	width: 116px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	line-height: 13px;
	padding: 4px;
	height: 58px;
	overflow: hidden;
	/*background: #f9d3a4;*/
	background: #48a1b1;
}

.txt_carro_guio a {
	color: #676767;
	text-decoration: none;
}

.txt_carro_guio a:hover {
	color: #000;
	text-decoration: underline;
}


/*.slick-track div.slick-slide {
	opacity: 0.5;
}

.slick-track div.slick-cloned {
	opacity: 0.5;
}

.slick-track div.slick-active {
	opacity: 1;	
}*/

