ul.most-viewed-items {
	clear: both;
	padding: 10px;
	border: 1px solid #ECECEC;
	overflow: hidden;
}

ul.most-viewed-items li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 10px;
}

ul.most-viewed-items li a.thumbnail {
    float: left;
    margin-right: 7px;
}

    ul.most-viewed-items li a.thumbnail img {
        width: 50px;
        height: 50px;
        border: 1px solid #ECECEC;
    }


ul.most-viewed-items li h3.title {
    font-weight: normal;
    padding: 0;
    margin: 0;
}

ul.most-viewed-items li a {
    font-family: Arial, sans-serif;
    text-decoration: none;
}

ul.most-viewed-items li a:hover {
    text-decoration: underline;
}


    ul.most-viewed-items li a.category,
    ul.most-viewed-items li a.category:visited {
        color: #333;
        font-size: 11px;
        margin-top: 3px;
        margin-bottom: 2px;
        display: block;
    }

    ul.most-viewed-items li h3.title a,
    ul.most-viewed-items li h3.title a:visited {
        color: #039;
        font-size: 11px;
    }

	ul.most-viewed-items li span.pageviews {
		color: #333;
		font-size: 10px;
		margin-top: 5px;
	}