#modal-mask
{   
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #ccc;
    display: none;
}
#pcl-modal-loading
{   
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9001;
    background-color: red;
    padding: 4px;
    font-weight: bold;
    color: white;
    display: none;
}
#pcl-modal
{
    position: absolute;
    left: 0;
    top: 0;
    display: none; 
    z-index: 9998;
    background-color: #f3f2ed;
    overflow: hidden;
    width: 644px;
    height: 410px;
}   
#pcl-modal-closer
{
    position: absolute;
    z-index: 9998;
    right: 4px;
    top: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url(close.png) top left no-repeat;
}   
/* sobreescribiendo estilos provenientes del theme */
#pcl-modal #content,
#pcl-modal .dentro,
#pcl-modal #main
{
	margin: 0;
	padding: 0;
	background: #f3f2ed;
	width: auto;
	height: auto;
	clear: both;
}

#pcl-modal #soporte_contenido
{
	background: #f3f2ed;
	width: 644px;
	padding: 30px 0px 30px 0px;
	margin-bottom: 20px;
}
#pcl-modal #soporte_contenido h2
{
	font-size: 28px;
	color: #958c6b;
	padding: 0 0 15px 20px;
}

#log-pcl-page,
#pwd-pcl-page,
#user_login-pcl-page,
#user_email-pcl-page,
#pass1-pcl-page,
#pass2-pcl-page
{
        width: 300px;
}

#pcl-page p label{
        display:block;
        padding:0 0 5px 0;
}
#pcl-page p .input{
        display:block;
}
#pcl-page .message{
        padding:10px;
}
#pcl-page .forgetmenot label, #pcl-page .forgetmenot input{
        display:inline;
}

