.head-search {
  position: relative;
  margin: 0;
  width: 100%;
}

.head-search_text {
  width: 100%;
  max-width: 400px;
  min-width: 180px;
  height: 50px;
  position: relative;
  float: right;
  margin: 0;
  padding: 10px 60px 10px 15px; 
  border: 1px solid #ccc;
  background-color: #fff;
  text-overflow: ellipsis;
}

.head-search_text:focus {
  width: 200%;
  outline: none;
}

.head-search_submit {
  position: absolute;
  right: 0;
  font-size: 22px; 
  padding: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.head-search_submit:hover {
  color: #f86323;
}

@font-face {
  font-family: "stihi";
  src: url("/styles/fonts/stihi.eot");
  src: url("/styles/fonts/stihi.eot?#iefix") format("embedded-opentype"),
  url("/styles/fonts/stihi.woff") format("woff"),
  url("/styles/fonts/stihi.ttf") format("truetype"),
  url("/styles/fonts/stihi.svg#stihi") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"]:before {
  font-family: "stihi" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;c
}

.icon {
  display: inline-block;
  vertical-align: top;
}

.icon-search:before             {content: "\e001";}

.doplink {
  color: #808080;
}

.doplink:hover {
  color: #FF4000;
}
