@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
/* mgid main css */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
}
body {
	font: 14px 'PT Sans', Arial, Myriad Pro, Tahoma, Geneva, sans-serif;
	line-height: 20px;
	color: #626262;
	background: #f8f8f8;
	margin: 0px;
}
body.main {
	background: url("../images/back_img/main.jpg") no-repeat scroll center 0px #f8f8f8;
}
a {
	background: transparent;
	text-decoration: none;
}
a:active, a:hover {
	outline: 0;
}
b, strong {
	font-weight: bold;
}
img {
	border: 0;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	outline: none;
}
button {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	outline: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align-last: auto;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	color: #626262;
	text-decoration: none;
}
a:focus {
	outline: none;
}
p {
	margin: 0 0 21px;
}
ul, ol {
	margin-top: 0;
	margin-bottom: 0px;
	padding: 0px;
	list-style: none;
}
ul ul, ol ul, ul ol, ol ol {
	margin-bottom: 0;
}
.center {
	text-align: center;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	*display: inline-block;
	_width: 100%;
}
.clr, .clear {
	clear: both;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #000;
	opacity: 0.7;
}
input:-moz-placeholder, textarea:-moz-placeholder {
	color: #000;
	opacity: 0.7;
}
input::-moz-placeholder, textarea::-moz-placeholder {
	color: #000;
	opacity: 0.7;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #000;
	opacity: 0.7;
}
.placeholder {
	color: #000;
	opacity: 0.7;
}
input:focus::-webkit-input-placeholder {
	color:transparent;
}
input:focus:-moz-placeholder {
	color:transparent;
}
input:focus::-moz-placeholder {
	color:transparent;
}
input:focus:-ms-input-placeholder {
	color:transparent;
}
textarea:focus::-webkit-input-placeholder {
	color:transparent;
}
textarea:focus:-moz-placeholder {
	color:transparent;
}
textarea:focus::-moz-placeholder {
	color:transparent;
}
textarea:focus:-ms-input-placeholder {
	color:transparent;
}
#wrapper {
	width: 100%;
	min-width: 960px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.container__center{
	text-align: center;
}
.container > .wrap {
	padding: 0px 10px;
}
.main .header {
	height: 418px;
}
/* small header */
.small_header .i_login .signup {
	background-color: #c20509;
	text-align: center;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	behavior: url(css/PIE.htc);
	position: relative;
	width: 90px;
	height: 41px;
	display: block;
	padding-top: 9px;
}
.small_header .container {
	height: 45px;
}
.small_header .i_login {
	top: 2px;
}
.small_header .i_logo {
	top: 5px;
	height: 34px;
}
.small_header .i_logo a {
	display: block;
	height: 34px;
	width: 63px;
}
.small_header .top_menu {
	padding-top: 2px;
	height: 45px;
}
.small_header .top_menu ul li {
	margin-right: 48px;
}
.small_header .top_menu ul li a {
	background: none;
	padding-top: 10px;
	height: 41px;
	padding-left: 34px;
}
.small_header .top_menu ul li a .ico {
	height: 31px;
	width: 31px;
	top: 6px;
}
.small_header .top_menu ul li a.l_testimonials .ico {
	background: url("../images/small_inside_menu_icons.png") no-repeat scroll 7px 4px transparent;
}
.small_header .top_menu ul li a.l_casestudies .ico {
	background: url("../images/small_inside_menu_icons.png") no-repeat scroll -21px 4px transparent;
}
.small_header .top_menu ul li a.l_pressroom .ico {
	background: url("../images/small_inside_menu_icons.png") no-repeat scroll -49px 4px transparent;
}
.small_header .top_menu ul li a.l_requestcallback .ico {
	background: url("../images/small_inside_menu_icons.png") no-repeat scroll -73px 4px transparent;
}
.small_header .top_menu ul li a.l_testimonials:hover .ico, .small_header .top_menu ul li.active a.l_testimonials .ico {
	background: url("../images/small_inside_menu_icons.png") no-repeat scroll 7px -24px transparent;
}
.small_header .top_menu ul li a.l_casestudies:hover .ico, .small_header .top_menu ul li.active a.l_casestudies .ico {
	background: url("../images/small_inside_menu_icons.png") no-repeat scroll -21px -25px transparent;
}
.small_header .top_menu ul li a.l_pressroom:hover .ico, .small_header .top_menu ul li.active a.l_pressroom .ico {
	background: url("../images/small_inside_menu_icons.png") no-repeat scroll -49px -25px transparent;
}
.small_header .top_menu ul li a.l_requestcallback:hover .ico, .small_header .top_menu ul li.active a.l_requestcallback .ico {
	background: url("../images/small_inside_menu_icons.png") no-repeat scroll -73px -25px transparent;
}
.pg_CaseStadies.small_container .static-text {
	color: #FFFFFF;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}
/* ##small header## */
.header .wrap {
	position: relative;
}
.w_logo {
	display: block;
	width: 104px;
	height: 53px;
	overflow: hidden;
	position: absolute;
	top: 22px;
	left: 10px;
}
.w_logo a {
	display: block;
	width: 99px;
	height: 53px;
}
.w_logo a img {
	width: 100%;
	height: 100%;
}
.w_login {
	position: absolute;
	top: 36px;
	right: 10px;
	white-space: nowrap;
}
.w_login .login {
	height: 28px;
	color: #2b397b;
	font-size: 12px;
	font-weight: 700;
	background-color: #fff;
	display: block;
	float: left;
	padding: 4px 7px;
}
.w_login .login:hover {
	background-color: #f8f8f8;
}
.w_login .signup {
	height: 28px;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	background-color: #c20509;
	display: block;
	float: left;
	padding: 4px 7px;
}
.w_login .signup:hover {
	background-color: #db0005;
}
.title_page {
	margin-left: 200px;
	margin-right: 200px;
	padding-top: 35px;
	height: 133px;
}
.title_page h1 {
	color: #2b397b;
	font-size: 21px;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
	text-align: center;
	margin-bottom: 4px;
}
.title_page .slogan {
	color: #666666;
	font-size: 12px;
	text-align: center;
}
.main_menu {
	height: 285px;
	overflow: hidden;
	position: relative;
}
.main_menu .item {
	position: absolute;
	bottom: 0px;
	width: 460px;
}
.main_menu .item.advertisers {
	left: 0px;
}
.main_menu .item.publishers {
	right: 0px;
}
.main_menu .item a {
	display: block;
	overflow: hidden;
	padding: 42px 55px 0px;
	position: relative;
}
.main_menu .advertisers a {
	background-color: #c20509;
}
.main_menu .publishers a {
	background-color: #2b397b;
}
.main_menu .i_name {
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	text-align: center;
	line-height: 30px;
	margin-bottom: 25px;
}
.main_menu .i_desc {
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
	height: 115px;
	position: relative;
	z-index: 2;
}
.main_menu .i_desc .text {
	padding-bottom: 21px;
}
.main_menu .btn_goto_page {
	color: #fff;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	padding: 3px 15px 4px;
	margin: 0 auto;
	width: 155px;
	border: 1px solid #fff;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
	transition: all 0.6s ease 0s;
	white-space: nowrap;
}
.main_menu .btn_goto_page span {
	display: block;
	padding-right: 15px;
	background: url("../images/btn_arrow.png") no-repeat scroll right center transparent;
}
.main_menu a:hover .btn_goto_page {
	background-color: #fff;
	color:  #C20509;
}
.main_menu .item.publishers a:hover .btn_goto_page {
	color:  #2B397B;
}
.main_menu a:hover .btn_goto_page span {
	background: url("../images/btn_arow_2.png") no-repeat scroll right center transparent;
}
.main_menu .item.publishers a:hover .btn_goto_page span {
	background: url("../images/btn_arow_1.png") no-repeat scroll right center transparent;
}
.whiteBlock {
	width: 100%;
	min-width: 960px;
	margin: 0 auto;
	background-color: #fff;
}
.menu_category {
	background: url("../images/under.png") no-repeat scroll center bottom transparent;
	padding-top: 35px;
	padding-bottom: 44px;
}
.menu_category ul {
	text-align: center;
	line-height: 0px;
	font-size: 0px;
	letter-spacing: -1px;
}
.menu_category ul li {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	line-height: 18px;
	font-size: 14px;
	letter-spacing: normal;
	margin: 0px 45px;
}
.menu_category ul li a {
	display: block;
	background-color: #f8f8f8;
	text-align: center;
	width: 146px;
	height: 146px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
	padding-top: 43px;
	color: #696969;
	behavior: url(css/PIE.htc);
	position: relative;
}
.menu_category ul li a:hover {
	color: #c20509;
}
.menu_category ul li a .ico {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto 2px;
}
.menu_category a.testimonials .ico {
	background: url("../images/menu_icons.png") no-repeat scroll 4px 0px transparent;
}
.menu_category a.casestudies .ico {
	background: url("../images/menu_icons.png") no-repeat scroll -42px 0px transparent;
}
.menu_category a.pressroom .ico {
	background: url("../images/menu_icons.png") no-repeat scroll -86px 0px transparent;
}
.menu_category a.requestcallback .ico {
	background: url("../images/menu_icons.png") no-repeat scroll -128px 0px transparent;
}
.menu_category a.testimonials:hover .ico {
	background: url("../images/menu_icons.png") no-repeat scroll 4px -42px transparent;
}
.menu_category a.casestudies:hover .ico {
	background: url("../images/menu_icons.png") no-repeat scroll -42px -42px transparent;
}
.menu_category a.pressroom:hover .ico {
	background: url("../images/menu_icons.png") no-repeat scroll -86px -42px transparent;
}
.menu_category a.requestcallback:hover .ico {
	background: url("../images/menu_icons.png") no-repeat scroll -128px -42px transparent;
}
.statistic_data {
	text-align: center;
	line-height: 0px;
	font-size: 0px;
	letter-spacing: -1px;
	padding-top: 62px;
	height: 178px;
}
.statistic_data .item {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	line-height: 22px;
	font-size: 14px;
	letter-spacing: normal;
	margin: 0px 32px;
}
.statistic_data .title {
	color: #c20509;
	font-size: 26px;
	text-align: center;
	margin-bottom: 3px;
}
.statistic_data .desc {
	text-align: center;
	font-size: 12px;
	color: #888888;
	line-height: 16px;
}
/* footer */
.footer {
	background-color: #f8f8f8;
	border-top: 1px solid #f0eeee;
	width: 100%;
	min-width: 960px;
	margin: 0 auto;
	position: relative;
}
.footer .wrap {
	padding-top: 45px;
	padding-bottom: 20px;
	position: relative;
}
.over {
	overflow: hidden;
}
.foot_menu-wrap {
	float: left;
	overflow: hidden;
}
.foot_menu {
	float: left;
	margin-right: 10px;
	width: 180px;
}
.footer h3 {
	color: #666666;
	font-size: 14px;
	font-weight: 700;
	padding: 0px;
	margin: 0px 0px 10px;
}
.foot_menu ul {
	margin-bottom: 21px;
}
.foot_menu ul li {
	font-size: 12px;
}
.foot_menu ul li a {
	color: #9f9f9f;
}
.foot_menu ul li a:hover {
	color: #666666;
	text-decoration: underline;
}
.foot_menu ul li img {
	display: block;
}
ul.partners {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	margin-top: -20px;
}
ul.partners li {
	display: inline-block;
	vertical-align: bottom;
}
ul.partners li + li {
	margin-left: 45px;
}
ul.partners a {
	display: inline-block;
	vertical-align: top;
}
ul.partners p {
	margin-bottom: 0;
}
.foot_menu ul.soc a {
	padding-left: 30px;
	display: inline-block;
	position: relative;
}
.foot_menu ul.soc li {
	margin-bottom: 1px;
}
.foot_menu ul.soc a .ico {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 18px;
	z-index: 10;
}
.foot_form {
	float: right;
	width: 370px;
	background-color: #fff;
	margin-bottom: 10px;
}
.foot_form h3 {
	margin-bottom: 18px;
}
.contant_form {
	position: relative;
	padding: 15px 25px;
}
.contant_form .cols {
	float: left;
	margin-right: 10px;
	width: 155px;
}
.contant_form .cols.last {
	margin-right: 0px;
}
.foot_form textarea {
	width: 100%;
	resize: none;
	height: 70px;
	font-size: 12px;
	padding: 3px 10px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border-top: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
	background-color: #f8f8f8;
	-webkit-appearance: none;
	-moz-appearance: none;
	behavior: url(css/PIE.htc);
}
.foot_form input.textfild {
	width: 100%;
	height: 27px;
	line-height: 27px;
	font-size: 12px;
	padding: 0px 10px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border-top: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
	background-color: #f8f8f8;
	-webkit-appearance: none;
	-moz-appearance: none;
	behavior: url(css/PIE.htc);
}
.form_line {
	margin-bottom: 9px;
}
input.formBtn {
	cursor: pointer;
	border: 0px solid #fff;
	text-align: center;
	color: #fff;
	font-size: 12px;
	background-color: #c20509;
	height: 28px;
	line-height: 28px;
	padding: 0px 30px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
input.formBtn:hover {
	background-color: #db0005;
}
.form_btn_line {
	padding-top: 3px;
}
.error {
	color: #c20509;
	font-size: 12px;
	line-height: 14px;
	padding: 2px 0px 3px;
}
.contact-form .runtime_error {
	clear: both;
}
input.error_fild {
	border: 1px solid #c20509 !important;
}
textarea.error_fild {
	border: 1px solid #c20509 !important;
}
.error_fild .ui-selectmenu-button {
	border: 1px solid #c20509 !important;
}
/*pub-20772*/
.foot__columns {
	position: relative;
	float: left;
	width: 570px;
	vertical-align: top;
	margin-top: 20px;
	margin-bottom: 40px;
}
.foot__columns .column {
	display: inline-block;
	width: 180px;
	margin-right: 6px;
}
.foot__columns p {
	margin-bottom: 0;
}
.foot__columns .up-events p {
	font-size: 12px;
	color: #9f9f9f;
	line-height: 1.2;
}
.foot__columns p.partners__title {
	font-weight: 700;
	color: #666;
}
.foot__columns .up-events li + li {
	margin-top: 15px;
}
.foot__columns ul.partners li {
	display: block;
}
.foot__columns ul.partners li + li {
	margin-top: 30px;
	margin-left: 0;
}
.foot__columns .partners {
	position: relative;
	top: 5px;
}
.foot__columns .column.up-events {
	position: absolute;
	right: 0;
	top: -85px;
}
.foot__columns .column.up-events li:hover p.partners__title {
	text-decoration: underline;
}
/* ###footer### */

/* inside header */
.inside_page .header {
	position: relative;
	background-color: #fff;
	height: 104px;
}
.inside_page .header.small_header {
	height: 50px;
}
.inside_page .header .container {
	min-width: 960px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
	background-color: #FFFFFF;
}
.inside_page .header .container .wrap {
	width: 960px;
	margin: 0 auto;
}
.i_logo {
	display: block;
	width: 94px;
	height: 53px;
	overflow: hidden;
	position: absolute;
	top: 27px;
	left: 10px;
}
.i_logo a {
	display: block;
	width: 94px;
	height: 50px;
	position: relative;
}
.i_logo a img {
	height: 100%;
	width: 100%;
}
.i_login {
	position: absolute;
	top: 25px;
	right: 10px;
}
.i_login .signup {
	background-color: #c20509;
	text-align: center;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	border-radius: 26px;
	behavior: url(css/PIE.htc);
	position: relative;
	width: 50px;
	height: 50px;
	display: block;
	padding-top: 14px;
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
.i_login .signup:hover {
	background-color: #db0005;
}
.top_menu {
	height: 102px;
	margin-left: 131px;
	margin-right: 70px;
	padding-top: 25px;
}
.top_menu ul {
	overflow: hidden;
}
.top_menu ul li {
	float: left;
	margin-right: 25px;
}
.top_menu ul li a {
	display: block;
	color: #696969;
	font-size: 14px;
	position: relative;
	padding-left: 58px;
	padding-top: 18px;
	height: 50px;
	z-index: 2;
	background: url("../images/round.png") no-repeat scroll 0px 0px transparent;
}
.top_menu ul li a:hover, .top_menu ul li.active a {
	color: #c20509;
}
.top_menu ul li a .ico {
	display: inline-block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.top_menu ul li a.l_testimonials .ico {
	background: url("../images/inside_menu_icons.png") no-repeat scroll 12px 8px transparent;
}
.top_menu ul li a.l_casestudies .ico {
	background: url("../images/inside_menu_icons.png") no-repeat scroll -35px 8px transparent;
}
.top_menu ul li a.l_pressroom .ico {
	background: url("../images/inside_menu_icons.png") no-repeat scroll -81px 8px transparent;
}
.top_menu ul li a.l_requestcallback .ico {
	background: url("../images/inside_menu_icons.png") no-repeat scroll -120px 11px transparent;
}
.top_menu ul li a.l_testimonials:hover .ico, .top_menu ul li.active a.l_testimonials .ico {
	background: url("../images/inside_menu_icons.png") no-repeat scroll 12px -39px transparent;
}
.top_menu ul li a.l_casestudies:hover .ico, .top_menu ul li.active a.l_casestudies .ico {
	background: url("../images/inside_menu_icons.png") no-repeat scroll -35px -40px transparent;
}
.top_menu ul li a.l_pressroom:hover .ico, .top_menu ul li.active a.l_pressroom .ico {
	background: url("../images/inside_menu_icons.png") no-repeat scroll -81px -40px transparent;
}
.top_menu ul li a.l_requestcallback:hover .ico, .top_menu ul li.active a.l_requestcallback .ico {
	background: url("../images/inside_menu_icons.png") no-repeat scroll -120px -38px transparent;
}
.general_menu {
	position: fixed;
	top: 102px;
	left: 0px;
	width: 100%;
	min-width: 960px;
	height: 45px;
	z-index: 1000;
	overflow: hidden;/*display: none;*/
}
.small_header .general_menu {
	top: 45px;
}
.general_menu ul {
	position: relative;
	height: 35px;
	width: 960px;
	margin: 0 auto;
}
.general_menu ul li {
	float: left;
	width: 280px;
	position: relative;
}
.general_menu ul li.m_advertisers {
	background-color: #c20509;
}
.general_menu ul li.m_publishers {
	background-color: #2b397b;
	text-align: right;
}
.general_menu ul li.m_advertisers:before {
	position: absolute;
	width: 10000px;
	height: 35px;
	background-color: #c20509;
	content: " ";
	top: 0px;
	right: 0px;
}
.general_menu ul li.m_publishers:after {
	position: absolute;
	width: 10000px;
	height: 35px;
	background-color: #2b397b;
	content: " ";
	top: 0px;
	left: 280px;
}
.general_menu ul li.m_publishers.active:after {
	left: 680px;
}
.general_menu ul li.active {
	text-align: center;
	width: 680px;
}
.noactive-menu .general_menu ul li.m_advertisers {
	text-align: center;
	width: 480px;
}
.noactive-menu .general_menu ul li.m_publishers {
	text-align: center;
	width: 480px;
}
.noactive-menu .general_menu ul li.m_publishers:after {
	left: 460px;
}
.general_menu ul li a {
	display: block;
	color: #fff;
	height: 35px;
	padding: 6px 10px;
	font-size: 15px;
	position: relative;
}
.general_menu ul li a .arrow {
	display: none;
	height: 12px;
	width: 44px;
	position: absolute;
	left: 50%;
	margin-left: -22px;
	top: 32px;
}
.general_menu ul li.active a .arrow {
	display: block;
}
.general_menu ul li.m_advertisers a .arrow {
	background: url("../images/menu_arrows.png") no-repeat scroll -56px 0px transparent;
}
.general_menu ul li.m_publishers a .arrow {
	background: url("../images/menu_arrows.png") no-repeat scroll 0px 0px transparent;
}
/* #inside header# */

/* tabs advertiser and publisher */
.menu-case-tab {
	background-color: #f8f8f8;
	border-top: 1px solid #ccc;
	width: 100%;
	height: 44px;
}
.menu-case-tab li {
	float: left;
	height: 45px;
	margin-top: -2px;
}
.menu-case-tab li.ui-tabs-active {
	border-left: 1px solid #E9EBF2;
	border-right: 1px solid #E9EBF2;
}
.menu-case-tab li a {
	color: #9f9f9f;
	font-size: 12px;
	padding: 12px 25px;
	display: block;
	position: relative !important;
	height: 44px;
}
.menu-case-tab li.ui-tabs-active a {
	background-color: #fff;
	color: #666666;
}
.case-study-tabs .photo-tab {
	position: relative;
	margin-bottom: 28px;
	height: 98px;
}
.case-study-tabs .photo-tab .name-tab {
	position: absolute;
	left: 20px;
	top: 30px;
	font-size: 14px;
	color: #9f9f9f;
}
.case-study-tabs .photo-tab .name-tab span {
	text-transform: uppercase;
	color: #666666;
	margin-left: 5px;
}
.case-study-tabs .photo-tab .goal {
	position: absolute;
	left: 20px;
	top: 54px;
	font-size: 14px;
	color: #9f9f9f;
	line-height: 16px;
	width: 300px;
}
.case-study-tabs .photo-tab .goal span {
	color: #2b397b;
	text-transform: uppercase;
	margin-left: 5px;
}
.case-study-tabs .list-cases {
}
.case-study-tabs .list-cases .line-list {
	text-align: justify;
	line-height: 0;
	font-size: 1px;
	zoom: 1;
	height: 115px;
	border-bottom: 1px solid #ececec;
	margin-bottom: 18px;
}
.case-study-tabs .list-cases .line-list.last {
	border-bottom: 0px solid #fff;
}
.case-study-tabs .list-cases .line-list:after {
	width: 100%;
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	content: "";
	display: inline-block;
}
.case-study-tabs .list-cases .itm {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	text-align: center;
	line-height: normal;
	font-size: 14px;
	width: 130px;
}
.case-study-tabs .c-name .label {
	display: block;
	color: #9f9f9f;
}
.case-study-tabs .c-name .value {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	color: #666666;
}
.case-study-tabs .c-name .value.up {
	color: #2b397b;
	padding-left: 14px;
	background: url("../images/up.png") no-repeat scroll 0px 2px transparent;
}
.case-study-tabs .case-ico {
	margin-bottom: 12px;
}
/* select style */
.ui-selectmenu-button {
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	background-color: #f8f8f8;
	border-top: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	color: #555555;
	font-weight: normal;
	width: 100% !important;
}
.ui-selectmenu-button {
	outline: none;
}
.ui-selectmenu-button span.ui-selectmenu-text {
	display: block;
	line-height: 21px;
	font-size: 12px;
	overflow: hidden;
	padding: 3px 30px 2px 9px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ui-selectmenu-button span.ui-icon {
	left: auto;
	position: absolute;
	right: 0px;
	top: 0;
	height: 26px;
	border-left: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	width: 22px;
	background: url("../images/select-arrow.png") no-repeat scroll 4px 10px transparent;
	display: block;
	overflow: hidden;
	text-indent: -99999px;
}
.ui-selectmenu-button:hover span.ui-icon {
	background-color: #f2f2f2;
}
.ui-selectmenu-menu {
	display: none;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	z-index: 1000;
	background-color: #FFFFFF;
	width: 100%;
}
.ui-selectmenu-open {
	display: block;
}
.ui-menu {
	display: block;
	list-style: none outside none;
	margin: 0;
	outline: medium none;
	padding: 0;
	font-size: 12px;
}
.ui-menu .ui-menu {
	position: absolute;
}
.ui-menu .ui-menu-item {
	cursor: pointer;
	margin: 0;
	min-height: 0;
	padding: 5px 9px;
	position: relative;
	line-height: 14px;
	outline: none;
}
.ui-menu .ui-menu-divider {
	border-width: 1px 0 0;
	font-size: 0;
	height: 0;
	line-height: 0;
	margin: 5px 0;
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
	background-color: #f8f8f8;
}
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item {
	padding-left: 2em;
}
.ui-menu .ui-icon {
	bottom: 0;
	left: 0.2em;
	margin: auto 0;
	position: absolute;
	top: 0;
}
.ui-menu .ui-menu-icon {
	left: auto;
	right: 0;
}
.ui-selectmenu-menu .ui-menu {
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 1px;
	border: 1px solid #d3d3d3;
	color: #222222;
	max-height: 162px;
	width: 100% !important;
}
#containerSelect {
	position: relative;
}
/* sequence-arrow */
.sequencers .sequence-next, .sequencers .sequence-prev {
	color: #FFFFFF;
	cursor: pointer;
	display: none;
	font-size: 12px;
	height: 52px;
	min-width: 48px;
	position: absolute;
	top: 240px;
	width: 39px;
	z-index: 20;
}
.sequencers .wrap-prevnext {
	position: relative;
}
.sequencers .sequence-prev {
	left: 0px;
}
.sequencers .sequence-next {
	right: 0px;
}
.sequencers .sequence-next .ico, .sequencers .sequence-prev .ico {
	height: 52px;
	width: 48px;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	z-index: 100;
	position: relative;
	border: 1px solid #D3D3D3;
	background: url("../images/sequence-arrow.png") no-repeat scroll 0px 0px #f8f8f8;
}
.sequencers .sequence-next .ico {
	background: url("../images/sequence-arrow.png") no-repeat scroll -18px 18px #c20509;
	border: 1px solid #c20509;
}
.sequencers .sequence-prev .ico {
	background: url("../images/sequence-arrow.png") no-repeat scroll 19px 18px #f8f8f8;
}
.sequencers .sequence-prev:hover .ico {
	background: url("../images/sequence-arrow.png") no-repeat scroll 19px -47px #f8f8f8;
}
.sequencers .sequence-next .text-next-btn {
	position: absolute;
	right: -47px;
	top: 0;
	width: 95px;
	border: 1px solid #d3d3d3;
	border-right: 0px solid #d3d3d3;
	background-color: #fff;
	height: 52px;
}
.sequencers .text-next-btn .text {
	font-size: 12px;
	color: #c20509;
	line-height: 12px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	height: 35px;
	width: 94px;
	padding-left: 3px;
	padding-right: 3px;
}
.sequencers .text-next-btn .num-page {
	font-size: 12px;
	color: #696969;
	height: 15px;
	line-height: 15px;
	text-align: center;
	background-color: #f8f8f8;
}
.sequencers .text-next-btn .num-page .num-current-page {
	color: #c20509;
}
/* checkbox style */
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0 none;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	border-collapse: collapse;
	content: "";
	display: table;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0;
}
.checkboxStyler .form-line {
	margin-bottom: 9px !important;
}
.checkboxStyler .ui-button {
	background: url("../images/checkbox.png") no-repeat scroll 0px 0px transparent;
	padding-left: 30px;
	display: block;
	min-height: 20px;
}
.checkboxStyler .ui-button.ui-state-active {
	background: url("../images/checkbox.png") no-repeat scroll 0px -49px transparent;
}
.checkboxStyler .ui-button .ui-button-text {
	display: block;
	line-height: normal;
	color: #767b7f;
	font-size: 12px;
}
/* chat online */
.onlineChat {
	position: absolute;
	right: 10px;
	top: -40px;
	z-index: 1000;
}
.icoChat {
	position: relative;
	width: 51px;
	height: 59px;
	background: url("../images/chat.png") no-repeat scroll 0px 0px transparent;
	z-index: 1001;
	cursor: pointer;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.icoChat:hover {
	top: -2px;
}
.wrapOlineChat {
	position: relative;
	width: 51px;
	height: 59px;
}
.formOnlineChat {
	position: absolute;
	bottom: 25px;
	right: 2px;
	width: 370px;
	background-color: #f8f8f8;
	border-top: 3px solid #c20509;
	padding: 0px 24px 19px;
	display: none;
	border-bottom: 1px solid #D9D9D9;
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
}
.formOnlineChat .form_line, .PopupForm .form_line {
	margin-bottom: 12px;
}
.formOnlineChat .content, .PopupForm .content {
	position: relative;
}
.chatHeader, .PopupHeader {
	padding-bottom: 14px;
	padding-top: 12px;
	position: relative;
	min-height: 46px;
}
.chatHeader .title, .PopupHeader .title {
	color: #666666;
	font-weight: 700;
	font-size: 14px;
}
.chatHeader .turnChatWind, .PopupHeader .turnPopup {
	position: absolute;
	top: 11px;
	right: 14px;
	text-indent: -9999px;
	overflow: hidden;
	width: 20px;
	height: 20px;
	background: url("../images/wins_ico.png") no-repeat scroll 4px -88px transparent;
}
.chatHeader .turnChatWind:hover, .PopupHeader .turnPopup:hover {
	background: url("../images/wins_ico.png") no-repeat scroll 4px -103px transparent;
}
.chatHeader .closeChatWind, .PopupHeader .closePopup {
	position: absolute;
	top: 11px;
	right: -6px;
	text-indent: -9999px;
	overflow: hidden;
	width: 20px;
	height: 20px;
	background: url("../images/wins_ico.png") no-repeat scroll -24px -88px transparent;
}
.chatHeader .closeChatWind:hover, .PopupHeader .closePopup:hover {
	background: url("../images/wins_ico.png") no-repeat scroll -24px -112px transparent;
}
.chatMessageContainer {
	background-color: #fff;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	width: 100%;
	font-size: 12px;
	margin-bottom: 13px;
	overflow-y: hidden;
	height: 136px;
	line-height: 17px;
}
.chatMessageContainer .Container {
	padding-top: 8px;
	padding-bottom: 8px;
}
.chatMessageContainer .itemMessage {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}
.chatMessageContainer .itemMessage .userName {
	color: #a6a6a6;
	font-weight: 700;
}
.chatMessageContainer .itemMessage .userMessage {
	color: #666666;
}
.formFildsChat input[type="text"], .PopupForm input[type="text"] {
	background-color: #fff;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.formFildsChat input.fildNameUser {
	float: left;
	width: 151px;
}
.formFildsChat input.fildEmailUser {
	float: right;
	width: 162px;
}
.formFildsChat textarea.fildEmailUser, .PopupForm textarea {
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	resize: none;
	font-size: 12px;
	padding: 6px 10px;
	height: 70px;
}
.Popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 2000;
	display: none;
}
.PopupShadow {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url("../images/shadow.png") repeat scroll 0px 0px transparent;
	z-index: 1;
}
.PopupForm {
	width: 370px;
	background-color: #f8f8f8;
	border-top: 3px solid #c20509;
	border-bottom: 1px solid #D9D9D9;
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	padding: 0px 24px 19px;
	z-index: 2;
	position: relative;
	margin: -150px auto 0;
	top: 50%;
}
.Popup .ui-selectmenu-button {
	background-color: #fff;
}
.Popup .titleTimeZone {
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	color: #2b397b;
	margin-bottom: 13px;
}
#PopupRequestCallBack .time-label {
	float: left;
	font-size: 14px;
	margin-right: 10px;
	margin-top: 4px;
	font-weight: 700;
	color: #2b397b;
}
#containerTimeFrom {
	float: left;
	width: 120px;
	position: relative;
	margin-right: 15px;
}
#containerTimeTo {
	float: right;
	width: 120px;
	position: relative;
}
/* Guidelines page */
.StaticTextContent {
	min-height: 650px;
	background: url("../images/back_img/guidelines.jpg") no-repeat scroll center 0px #ffffff;
}
.StaticTextContent.samples-new {
	background-position: center -90px;
}
.StaticTextContent .titlePage {
	padding-top: 37px;
	height: 145px;
	padding-bottom: 47px;
}
.StaticTextContent.samples-new .titlePage {
	padding-top: 3px;
	height: 55px;
	padding-bottom: 3px;
}
.StaticTextContent .titlePage h1 {
	font-size: 38px;
	line-height: 45px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	text-align: center;
	margin: 0px;
}
.StaticTextContent .titlePage p {
	color: #fff;
	text-align: center;
	font-size: 24px;
	margin: -20px 0 0;
}
.guideBody {
	margin-left: 90px;
	margin-right: 90px;
	color: #9f9f9f;
	font-size: 14px;
	line-height: 23px;
	padding-top: 30px;
}
.guideBody > .wrap {
	padding: 0px 80px 30px;
}
.guideBody h2,
.guideBody h3, .guideBody .h3,
.guideBody h4,
.guideBody h5,
.guideBody h6 {
	text-align: center;
	margin: 0 0 25px;
	font-weight: 700;
	color: #696969;
	font-size: 14px;
}
.guideBody p {
	font-size: 14px;
	line-height: 23px;
}

.guidelines .content-img {
	margin-bottom: 21px;
}
.guidelines .img {
	position: relative;
	display: block;
	width: auto;
	height: auto;
	margin: 0 auto;
}
.guideBody ul {
	list-style: disc outside none;
	margin-bottom: 21px;
}
.guideBody ul li {
	margin: 0 0 5px 30px;
}
div.table {
	display:table;
	width:100%;
	border-bottom: solid 1px #ccc;
	margin-top: 10px;
}
div.table div {
	display:table-row;
}
div.table div div {
	display: table-cell !important;
	border-left: solid 1px #ccc;
	border-top: solid 1px #ccc;
	padding:10px 10px 5px;
	text-align: center;
}
div.table div img {
	width:16px;
	height:16px;
}
div.table div div:last-child {
	border-right: solid 1px #ccc;
}
div.table .thead p {
	font-size:18px;
	font-weight:bold;
	text-align:center;
	margin:0 !important;
	color:#696969;
}
div.table p {
	font-weight:bold;
	margin:0 !important;
	text-align: left;
}
.guideBody a {
	color: #0084C2;
	text-decoration: underline;
}
.guideBody a:hover {
	text-decoration: none;
}
.guideBody .tos ul {
	list-style: none;
}
.guideBody .tos ul li {
	margin: 0 0 15px 0px;
}
.tos ul li ul {
	margin: 0 0 0 26px;
}
.guidelines ol {
	counter-reset: list;
	margin-bottom: 21px;
}
.guidelines ol > li {
	list-style: none;
	margin: 0 0 5px 10px;
}
.guidelines ol > li:before {
	content: counter(list, upper-alpha) ") ";
	counter-increment: list;
	margin-right: 4px;
}
/* **Guidelines page** */


/* testimonials */
.pg_testimonials {
	height: 627px;
	overflow: hidden;
	position: relative;
	background: url("../images/back_img/testimonials.jpg") no-repeat scroll center 0px transparent;
}
.pg_testimonials.small_container {
	height: 577px;
}
.staticPage .container {
	position: relative;
}
.staticPage .titlePage {
	position: relative;
	height: 70px;
}
.staticPage .titlePage h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 38px;
	font-weight: bold;
	line-height: 50px;
	margin: 0px;
	position: absolute;
	top: 23px;
	left: 10px;
}
.pg_testimonials .photo {
	text-align: center;
	background-color: #fff;
	overflow: hidden;
	float: left;
	width: 120px;
	height: 120px;
	margin-top: 190px;
	margin-left: 40px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
	position: relative;
	zoom: 1;
	behavior: url(css/PIE.htc);
}
.pg_testimonials .photo img {
	width: 110px;
}
.pg_testimonials .photo .wr_photo {
	display: table-cell;
	width: 120px;
	height: 120px;
	vertical-align: middle;
}
.pg_testimonials .content-comment {
	float: left;
	width: 490px;
	margin-left: 68px;
	margin-top: 82px;
}
.pg_testimonials .author-comment {
	margin-bottom: 20px;
	height: 50px;
}
.pg_testimonials .author-comment .domen {
	color: #0084c2;
	font-size: 14px;
	margin-right: 15px;
}
.pg_testimonials .author-comment .name {
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
}
.pg_testimonials .content-comment .text-comment {
	font-size: 16px;
	color: #fff;
	line-height: 23px;
	vertical-align: middle;
	display: table-cell;
	height: 195px;
}
#sliderTestimonials .flex-control-nav {
	top: -25px;
	border-bottom: 1px solid #621325;
	height: 18px;
	width: 630px;
	left: 315px;
}
#sliderTestimonials .flex-viewport {
	margin: 0 80px;
}
/* PressRoom */
.PressRoom {
	height: 627px;
	overflow: hidden;
	position: relative;
	background: url("../images/back_img/PressRoom.jpg") no-repeat scroll center 0px transparent;
}
.PressRoom.small_container {
	height: 577px;
}
.PressRoom .tema {
	color: #fff;
	text-align: center;
	padding-top: 33px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 60px;
}
.item-pressnews {
	color: #fff;
	overflow: hidden;
	margin-left: 10px;
	width: 770px;
	margin-bottom: 30px;
}
.item-pressnews .photo {
	width: 160px;
	height: 66px;
	text-align: center;
	overflow: hidden;
	float: left;
	margin-right: 60px;
	margin-left: 20px;
	behavior: url(css/PIE.htc);
}
#sliderPressBlog .item-pressnews .photo {
	width: 66px;
	margin-left: 112px;
	background-color: #fff;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
}
.item-pressnews .photo img {
	height: 66px;
}
.item-pressnews .content-comment {
	position: relative;
	float: left;
	width: 470px;
}
.item-pressnews .name {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 11px;
}
.item-pressnews a:hover .name {
	text-decoration: underline;
}
.item-pressnews .text-comment {
	height: 20px;
	overflow: hidden;
}
.item-pressnews .date {
	color: #d9d9d9;
	font-size: 12px;
}
.item-pressnews a {
	display: block;
	overflow: hidden;
	color: #fff;
}
.item-pressnews .moreNews {
	background: url("../images/readMore.png") no-repeat scroll 0px 4px transparent;
	color: #0084c2;
	font-size: 12px;
	text-decoration: underline;
	padding-left: 20px;
	display: block;
	line-height: 14px;
	height: 18px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.item-pressnews a:hover .moreNews {
	text-decoration: none;
}
.PressRoom .tema a {
	color: #0084c2;
	text-decoration: underline;
}
.PressRoom .tema a:hover {
	text-decoration: none;
}
.staticPage .ui-tabs .ui-tabs-nav {
	border-bottom: 1px solid #c20509;
	position: absolute;
	top: -35px;
	left: 318px;
	width: 630px;
}
.staticPage .ui-tabs .ui-tabs-nav li {
	border-bottom-width: 0;
	float: left;
	list-style: outside none none;
	margin: 1px 0.2em 0 0;
	padding: 0;
	position: relative;
	top: 0;
	white-space: nowrap;
	text-align: center;
	min-width: 120px;
}
.staticPage .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	display: block;
	padding: 4px 20px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.staticPage .ui-tabs .ui-state-active a {
	background-color: #c20509;
}
#tabsTextPage {
	position: relative;
}
.item-docs {
	margin-bottom: 19px;
	margin-left: 160px;
	width: 490px;
	padding-top: 10px;
}
a.press-doc {
	background: url("../images/docs.png") no-repeat scroll 0px 5px transparent;
	padding-left: 50px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	font-size: 15px;
	color: #fff;
	text-decoration: underline;
	min-height: 28px;
	overflow: hidden;
	line-height: 23px;
}
a.press-doc:hover {
	text-decoration: none;
}
.item-twitter {
	width: 570px;
	margin-left: 110px;
}
#sliderPressNews .flex-viewport {
	margin: 0 80px;
}
#sliderPressBlog .flex-viewport {
	margin: 0 80px;
}
.PressRoom .flex-direction-nav a {
	top: 130px;
}
.PressRoom .flex-control-nav {
	top: -127px;
}
.contentPresStatic {
	padding: 0px 80px;
}
/* Case Stadies */
#sliderCaseAdvertisers .flex-viewport {
	padding-bottom: 40px;
}
.pg_CaseStadies {
	height: 627px;
	overflow: hidden;
	position: relative;
	background: url("../images/back_img/Case-Studies.jpg") no-repeat scroll center 0px transparent;
}
.small_container.pg_CaseStadies {
	height: 577px;
}
.pg_CaseStadies .list-cases {
	text-align: justify;
	line-height: 0;
	font-size: 1px;
	zoom: 1;
	height: 134px;
	margin-left: 113px;
	margin-right: 113px;
	position: relative;
}
.pg_CaseStadies .list-cases:after {
	width: 100%;
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	content: "";
	display: inline-block;
}
.pg_CaseStadies .list-cases .itm {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	text-align: center;
	line-height: normal;
	font-size: 14px;
	width: 113px;
	position: relative;
	height: 134px;
}
.pg_CaseStadies .list-cases .itm .c-name {
	position: absolute;
	left: 0px;
	width: 113px;
	top: 57px;
}
.pg_CaseStadies .c-name .label {
	display: block;
	color: #9f9f9f;
}
.pg_CaseStadies .c-name .label span {
	display: block;
	font-size: 12px;
}
.pg_CaseStadies .c-name .value {
	margin-top: 3px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	color: #fff;
}
.pg_CaseStadies .c-name .more {
	display: block;
	color: #fff;
	font-size: 11px;
	font-weight: 700;
}
.pg_CaseStadies .more.more-gray {
	color: #9f9f9f;
}
.pg_CaseStadies .el1 {
	position: relative;
	left: -15px;
}
.pg_CaseStadies .el2 {
	position: relative;
	left: -15px;
}
.pg_CaseStadies .el3 {
	position: relative;
	left: -3px;
}
.pg_CaseStadies .list-cases.block .itm, .pg_CaseStadies .list-cases.block7 .itm, .pg_CaseStadies .list-cases.block8 .itm {
	width: 87px;
	white-space: nowrap;
}
.pg_CaseStadies .list-cases.block .itm .c-name, .pg_CaseStadies .list-cases.block7 .itm .c-name, .pg_CaseStadies .list-cases.block8 .itm .c-name {
	width: 87px;
}
.pg_CaseStadies .c-name .value.up {
	font-weight: 700;
	padding-left: 14px;
	background: url("../images/up-red.png") no-repeat scroll 0px 2px transparent;
}
.pg_CaseStadies .case-ico {
	margin-bottom: 12px;
}
.pg_CaseStadies .item-case {
	padding-top: 32px;
	position: relative;
}
.title-case-info {
	overflow: hidden;
	height: 130px;
	position: relative;
}
.title-case-info .photo {
	position: absolute;
	top: 0px;
	width: 116px;
	overflow: hidden;
	left: 127px;
}
.title-case-info .info {
	margin-left: 318px;
	margin-top: 10px;
	width: 620px;
	overflow: hidden;
	position: relative;
}
.title-case-info .num-case {
	color: #e3e3e3;
	font-size: 14px;
	margin-bottom: 5px;
}
.title-case-info .name {
	color: #2b397b;
	font-size: 36px;
	line-height: 38px;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.title-case-info .goal {
	font-size: 18px;
	color: #fff;
}
.title-case-info .slogan {
	font-size: 18px;
	text-transform: uppercase;
	color: #d1ced1;
	margin-bottom: 6px;
}
.title-case-info .goal span {
	color: #d1ced1;
	margin-right: 5px;
}
.title-case-info .goal div {
	margin-left: 49px;
}
.item-case .content-case {
	margin-left: 77px;
	margin-right: 77px;
	height: 215px;
	color: #fff;
	font-size: 16px;
	line-height: 23px;
}
.item-case .content-case-vertical:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
	margin-right: -5px;
}
.item-case .content-case__in {
	display: inline-block;
	vertical-align: middle;
}
.item-case .content-case p {
	margin-left: 50px;
	margin-right: 50px;
}
.item-case .content-case p span {
	font-weight: 700;
	margin-right: 5px;
}
.pg_CaseStadies .static-text {
	color: #e3e3e3;
	font-size: 18px;
	margin-left: 32px;
	margin-right: 32px;
	font-weight: 700;
}
/* About Us */
.pg_AboutUs {
	height: 627px;
	position: relative;
	color: #fff;
	background: url("../images/back_img/About.jpg") no-repeat scroll center 0px transparent;
}
.small_container.pg_AboutUs {
	height: 577px;
}
.pg_AboutUs .list-policies {
	text-align: justify;
	line-height: 0;
	font-size: 1px;
	zoom: 1;
	height: 134px;
}
.pg_AboutUs .list-policies:after {
	width: 100%;
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	content: "";
	display: inline-block;
}
.pg_AboutUs .list-policies a {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	text-align: center;
	line-height: 15px;
	padding-top: 5px;
	padding-bottom: 7px;
	font-size: 12px;
	width: 200px;
	background-color: #c20509;
	color: #fff;
}
.pg_AboutUs .list-policies a:hover {
	background-color: #db0005;
}
.item-wrap-about {
	padding: 0 80px;
}
#tabs-policies .item-wrap-about {
	padding-top: 70px;
}
.item-wrap-about h1 {
	text-align: center;
	font-size: 36px;
	line-height: 40px;
	color: #fff;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 38px;
}
.item-wrap-about .mission {
	text-align: center;
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 65px;
}
.item-wrap-about .policies {
	text-align: center;
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 38px;
}
#tabs-history .item-wrap-about {
	font-size: 16px;
	line-height: 23px;
	padding-top: 55px;
}
.small_container #tabs-history .item-wrap-about {
	padding-top: 40px;
}
.item-wrap-about .list-date {
	padding-bottom: 20px;
}
.item-wrap-about .item-date {
	position: relative;
	margin-bottom: 17px;
}
.item-wrap-about .item-date .year {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 20px;
	color: #ebebeb;
	font-weight: 700;
}
.item-wrap-about .item-date .event {
	position: relative;
	padding-left: 83px;
}
.item-wrap-about .pre-history {
	text-align: center;
	margin-bottom: 35px;
}
.item-wrap-about .res-history {
	text-align: center;
}
.contact-info {
	overflow: hidden;
	font-size: 16px;
	line-height: 23px;
	margin: 0 38px 15px;
	padding-top: 60px;
	height: 240px;
}
#tabs-contactus .columnfirst {
	float: left;
	width: 325px;
}
#tabs-contactus .columnlast {
	float: right;
	width: 325px;
}
#tabs-contactus input::-webkit-input-placeholder, #tabs-contactus textarea::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}
#tabs-contactus input:-moz-placeholder, #tabs-contactus textarea:-moz-placeholder {
	color: #fff;
	opacity: 1;
}
#tabs-contactus input::-moz-placeholder, #tabs-contactus textarea::-moz-placeholder {
	color: #fff;
	opacity: 1;
}
#tabs-contactus input:-ms-input-placeholder, #tabs-contactus textarea:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}
.contact-info .country {
	font-size: 21px;
	text-transform: uppercase;
	float: left;
}
.contact-info .address {
	float: left;
	margin-left: 12px;
	margin-top: 2px;
}
.contact-info .city {
	margin-bottom: 12px;
}
.contact-form {
	margin-left: 38px;
	margin-right: 38px;
}
.contact-form .form_line {
	margin-bottom: 15px;
}
.contact-form textarea {
	width: 100%;
	resize: none;
	height: 100px;
	font-size: 12px;
	padding: 3px 10px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #82888d;
	background-color: #172936;
	color: #fff;
	behavior: url(css/PIE.htc);
}
.contact-form input.textfild {
	width: 100%;
	height: 27px;
	line-height: 27px;
	font-size: 12px;
	padding: 0px 10px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #82888d;
	background-color: #172936;
	color: #fff;
	behavior: url(css/PIE.htc);
}
.contact-form .form_line_btn {
	text-align: right;
}
.contact-form .formBtn {
	width: 110px;
}
#containerContactSubject {
	position: relative;
}
#tabs-contactus .ui-selectmenu-button {
	background-color: #172936;
	border: 1px solid #82888d;
	color: #FFFFFF;
}
#tabs-contactus .ui-selectmenu-button span.ui-icon {
	border-bottom: 0px solid #D3D3D3;
	border-left: 1px solid #82888d;
	background-color: #fff;
}
#tabs-contactus .ui-selectmenu-button:hover span.ui-icon {
	background: url("../images/select-arrow.png") no-repeat scroll 4px -40px #fff;
}
a.redBtn {
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-size: 12px;
	background-color: #c20509;
	height: 28px;
	line-height: 28px;
	padding: 0px 40px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
a.redBtn:hover {
	background-color: #db0005;
}
.jobDescription {
	float: left;
	width: 390px;
	margin-right: 27px;
	line-height: 23px;
}
.skillsExperience {
	float: left;
	width: 360px;
	line-height: 23px;
}
#tabs-careers .item-wrap-about {
	padding-top: 45px;
}
.small_container #tabs-careers .item-wrap-about {
	padding-top: 35px;
}
#tabs-careers .name-post {
	padding-left: 230px;
	margin-bottom: 36px;
}
.small_container #tabs-careers .name-post {
	margin-bottom: 20px;
}
#tabs-careers .name-post h2 {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	font-size: 14px;
	line-height: 20px;
	margin: 0px;
	font-weight: 700;
	margin-right: 17px;
	text-transform:uppercase;
}
#tabs-careers .name-post span {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
.careers__list {
	margin-left: 3px;
	padding: 25px 0 0;
}
.careers__list > li {
	margin-left: -3px;
	width: 50%;
}
.careers__list h2 {
	margin: 15px 0;
	line-height: 1.1;
}
.careers__list h2 a {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
}
.careers__list h2 a span {
	margin-left: 3px;
	text-transform: none;
	font-weight: normal;
}
.careers-popup__wrap {
	display: none;
}
.careers-popup__wrap .careers-shadow {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .4);
}
.careers-popup {
	position: absolute;
	z-index: 9999;
	overflow: auto;
	top: 0;
	left: 75px;
	right: 75px;
	width: 800px;
	margin: 0 auto;
	padding: 23px;
	background-color: #f8f8f8;
}
.careers-popup__inner {
	padding: 20px 30px;
	max-height: 1010px;
	background-color: #fff;
	border: 1px solid #d9d9d9;
}
.careers-popup {
	color: #696969;
}
.careers-popup ul.mark li:before {
	color: #696969;
}
.careers-popup h3 {
}
.careers-popup .careers-popup-title {
	font-size: 16px;
	color: #626262;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.mtop20 {
	margin-top: 20px;
}
.careers-popup .careers-popup-title span {
	margin-left: 3px;
	font-weight: normal;
	text-transform: none;
}
.careers-popup .careers-close {
	position: absolute;
	top: 4px;
	right: 2px;
	text-indent: -9999px;
	overflow: hidden;
	width: 20px;
	height: 20px;
	background: url("../images/wins_ico.png") no-repeat scroll -24px -88px transparent;
}
.requirements h3 {
	margin: 0px 0px 20px;
	font-size: 16px;
	font-weight: 700;
}
ul.mark {
	line-height: 23px;
	margin-bottom: 29px;
}
ul.mark li {
	line-height: 23px;
	position: relative;
	text-indent: 14px;
}
@-moz-document url-prefix() {
	#sliderCareers ul.mark li {
		line-height: 21px;
		font-size:13px;
	}
	#sliderCareers p {
		font-size:13px;
	}
}
ul.mark li:before {
	position: absolute;
	width: 10px;
	height: 35px;
	color: #fff;
	font-size: 35px;
	content: ".";
	top: -10px;
	left: -14px;
}
.requirements {
	overflow: hidden;
	min-height: 376px;
}
.StaticTextContent .column-widget {
	float: left;
	width: 610px;
}
.StaticTextContent .column-sidebar {
	float: right;
	width: 310px;
}
#samples-tabs .column-widget, #samples-tabs .column-sidebar {
	margin-top: 0;
}
.guideBody #samples-tabs {
	margin-top: -30px;
}
/*.StaticTextContent .column-widget{
	float: left;
	width: 610px;
}
.StaticTextContent .column-sidebar{
	float: right;
	width: 310px;
}*/
.widget-page .guideBody {
	margin-left: 10px;
	margin-right: 10px;
}
.widget .widget-conteiner {
	padding: 0px 20px 20px;
}
.StaticTextContent .widget {
	border: 1px solid #2B397B;
	margin-bottom: 25px;
}
.StaticTextContent .widget h3 {
	background-color: #2B397B;
	line-height: 30px;
	margin-bottom: 20px;
	color: #fff;
}
.widget #MarketGidScriptRootC11103 .main2525 {
	overflow: hidden;
	margin-left: 4px;
}
.widget #MarketGidScriptRootC11104 .mgtiz4657 {
	overflow: hidden;
	margin-left: 4px;
}
.widget #MarketGidComposite11104 .mgtab4657 h2 {
	width: 190px;
	height: 48px;
}
.widget .view h2 {
	width: 190px;
}
.widget #MarketGidComposite11102 .mgl {
	font-size: 14px;
}
.successfull_mess {
	text-align: center;
	font-weight: 700;
	padding-bottom: 30px;
	padding-top: 10px;
}
.footer .copy {
	color: #9f9f9f;
	font-size: 12px;
}
.footer .mobile-link a {
	color: #9f9f9f;
	font-size: 12px;
	text-decoration: underline;
}
.footer .mobile-link a:hover {
	text-decoration: none;
}
.contact-form #tos-box a {
	text-decoration: underline;
}
.contact-form #tos-box a:hover {
	text-decoration: none;
}
.footer .events {
	margin-bottom: 25px;
}
.footer .events a {
	display: inline-block;
	width: 375px;
	height: 67px;
	background: url("../images/EPMA-Best-Lead-Generation--Campaign.gif") no-repeat;
}
.footer .events a:nth-child(2) {
	background: url("../images/EPMA-Best-Performance-Marketing-Technology.gif") no-repeat;
	margin-left: 40px;
}
/* 404 */
.Page404 {
	background: url("../images/back_img/404.jpg") no-repeat scroll center 0 #ffffff;
	min-height: 650px;
}
.Page404 .titlePage {
	height: 145px;
	padding-bottom: 47px;
	padding-top: 47px;
}
.Page404 .titlePage h1 {
	color: #fff;
	font-size: 38px;
	font-weight: 700;
	line-height: 45px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}
.Page404 .slogan {
	text-align: center;
	font-weight: 700;
	color: #2b397b;
	font-size: 16px;
	line-height: 22px;
	height: 135px;
	padding-top: 45px;
}
.MasonryNews {
	margin: 0 0 0 12px;
}
.list_news_masonry {
	margin: 0 auto;
}
.list_news_masonry .item {
	float: left;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	width: 200px;
	margin-bottom: 12px;
	position: relative;
}
.list_news_masonry .item .photo_news {
	position: relative;
	width: 200px;
	overflow: hidden;
}
.list_news_masonry .item img {
	display: block;
}
.list_news_masonry .item .price {
	background-color: #ca2625;
	color: #fff;
	text-align: right;
	position: relative;
	font-size: 18px;
	font-weight: bold;
	line-height: 32px;
	padding-right: 12px;
}
.list_news_masonry .item .price a {
	color: #fff;
}
.list_news_masonry .item .price span.old_price {
	position: absolute;
	top: 0px;
	left: 12px;
	color: #e5e5e5;
	text-decoration: line-through;
}
.list_news_masonry .item .price span.new_price2 {
	position: absolute;
	top: 0px;
	left: 12px;
	color: #fff;
	display: none;
}
.list_news_masonry .item:hover .price span.new_price2 {
	display: block;
}
.list_news_masonry .item:hover .price span.old_price {
	display: none;
}
.list_news_masonry .item .price span.new_price {
	color: #fff;
}
.list_news_masonry .item .price span.persent {
	color: #fff;
	display: none;
}
.list_news_masonry .item:hover .price span.new_price {
	display: none;
}
.list_news_masonry .item:hover .price span.persent {
	display: block;
	text-align: center;
	padding-left: 12px;
}
.list_news_masonry .item .name_news {
	font-weight: bold;
	color: #323232;
	font-size: 15px;
	display: block;
	line-height: 18px;
	width: 168px;
}
.list_news_masonry .item a:hover .name_news {
	color: #3f47a3;
}
.list_news_masonry .item p {
	margin: 0;
	line-height: 16px;
	padding-top: 5px;
	font-size: 13px;
}
.list_news_masonry .item .name_inphoto {
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	width: 100%;
	background: url(../images/shadow2.png) repeat scroll 0px 0px transparent;
}
.list_news_masonry .item .name_inphoto a {
	display: block;
	padding: 10px;
	color: #fff;
}
.list_news_masonry .item:hover .name_inphoto a {
	background: url(../images/shadow2.png) repeat scroll 0px 0px transparent;
}
.list_news_masonry .price.red a {
	color: #f12a26;
}
.list_news_masonry .category {
	color: #fff;
	font-size: 11px;
	font-style: italic;
	position: absolute;
	right: 0;
	text-align: right;
	top: 10px;
	width: 137px;
	z-index: 3;
	background: url(../images/category.png) repeat-y scroll 0px 0px transparent;
}
.list_news_masonry .category a {
	color: #fff;
	display: block;
	font-style: italic;
	padding: 1px 10px;
}
.list_news_masonry .descript {
	background-color: #fff;
	padding: 12px;
	position: relative;
}
.item-case .content-column-case {
	color: #fff;
	font-size: 14px;
	margin-top: -20px;
	line-height: 21px;
	margin-left: 45px;
	margin-right: 45px;
	overflow: hidden;
}
.item-case .content-column-case b {
	font-size: 16px;
}
.item-case .content-column-case .col.first-col {
	width: 425px;
}
.item-case .content-column-case .col {
	float: left;
	width: 400px;
	margin: 0px 0px 0px 20px;
}
.item-case .content-column-case .col .line {
	margin-bottom: 5px;
}
/*--------------- Samples Page 14.01.2016 -----------------*/
.no-margin {
	margin: 0;
}
#samples-tabs {
	padding-bottom: 200px;
}
.samples-tabs {
	font-size: 14px;
	color: #9f9f9f;
}
.samples-tabs:after {
	content: '';
	display: table;
	clear: both;
}
.guideBody .samples-tabs li {
	float: left;
	margin: 0;
	padding: 0;
	width: 33.3%;
	line-height: 41px;
	list-style: none;
	list-style-type: none;
	background-color: #f8f8f8;
	border-bottom: 1px solid #ccc;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.guideBody #samples-tabs, .guideBody #samples-tabs p {
	line-height: 1.42857;
}
.samples-tabs li:hover {
	color: #fff;
	background-color: #ccc;
	border-bottom: 1px solid #ccc;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.samples-tabs li.ui-tabs-active {
	color: #2B397B;
	background-color: transparent;
	border-bottom: 1px solid transparent;
}
.samples-tabs li a {
	display: block;
	text-align: center;
	color: inherit;
	text-decoration: none;
}
#samples-tabs-1, #samples-tabs-2 {
	position: relative;
}
#samples-tabs-1 {
	min-height: 524px;
	background-image: url("../images/samples-bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto;
}
#samples-tabs-2 {
	min-height: 512px;
	background-image: url("../images/samples-phone-bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto;
}
#samples-tabs-1:after, #samples-tabs-2:after, #samples-tabs-3:after {
	content: '';
	display: table;
	clear: both;
}
.samples-tabs__inner {
	position: relative;
	overflow: hidden;
}
.samples-tabs__inner:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0;
	z-index: 1;
	background-color: transparent;
	-webkit-transition: background-color 0.7s, width 0s 0.7s;
	-o-transition: background-color 0.7s, width 0s 0.7s;
	transition: background-color 0.7s, width 0s 0.7s;
}
.samples-tabs__inner.is-active:after {
	width: 100%;
	background-color: rgba(0, 0, 0, .8);
	-webkit-transition: background-color 0.7s, width 0s;
	-o-transition: background-color 0.7s, width 0s;
	transition: background-color 0.7s, width 0s;
}
#samples-tabs-1 .samples-tabs__in {
	position: relative;
	top: 29px;
	left: 1px;
	margin: 0 auto;
	width: 683px;
	height: 428px;
	background-color: #fff;
	overflow-y: auto;
}
#samples-tabs-2 .samples-tabs__in {
	position: relative;
	top: 61px;
	left: 1px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	width: 221px;
	height: 391px;
	background-color: #fff;
	overflow-y: auto;
}
#samples-tabs-2 .samples-tabs__in > p {
	margin-bottom: 10px;
	font-size: 11px;
	color: #9f9f9f;
}
#samples-tabs-1 .samples-tabs__in .samples-tabs__content {
	margin-right: 230px;
	padding-left: 15px;
}
#samples-tabs-1 .samples-tabs__in .samples-tabs__content > p {
	margin-bottom: 20px;
	font-size: 12px;
	color: #9f9f9f;
}
.samples-tabs__title, #samples-tabs-1 .samples-tabs__in .samples-tabs__content .samples-tabs__title, #samples-tabs-2 .samples-tabs__in .samples-tabs__title {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 21px;
	color: #000;
	font-weight: bold;
	text-align: center;
}
#samples-tabs-2 .samples-tabs__in .samples-tabs__title {
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#samples-tabs-1 .samples-tabs__in .samples-tabs__content > img {
	margin-bottom: 20px;
	width: 100%;
}
#samples-tabs-2 .samples-tabs__inner > img {
	margin-bottom: 5px;
	width: 100%;
}
#samples-tabs-1 .ads-top {
	padding: 10px 15px;
}
#samples-tabs-2 .ads-top {
	padding-top: 10px;
}
#samples-tabs-1 .widget-conteiner, #samples-tabs-2 .widget-conteiner {
	padding-top: 20px;
}
#samples-tabs-1 .samples-tabs__in .samples-tabs__sidebar {
	float: right;
	width: 230px;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
}
/* tooltips */
.samples-tabs__tooltip {
	position: relative;
	width: 100px;
	padding: 7px 3px;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	background-color: #c20509;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.samples-tabs__tooltip__help {
	position: absolute;
	top: 0;
	display: none;
	width: 200px;
	padding: 25px 5px;
	color: #9f9f9f;
	text-align: center;
	background-color: #f8f8f8;
	z-index: 3;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.samples-tabs__tooltip__help:hover {
	color: #fff;
	background-color: #ccc;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.samples-tabs__tooltip:hover .samples-tabs__tooltip__help {
	display: block;
}
#samples-tabs-1 .samples-tabs__tooltip-1 {
	position: absolute;
	left: 0;
	top: 200px;
}
#samples-tabs-2 .samples-tabs__tooltip-1 {
	position: absolute;
	left: 220px;
	top: 220px;
}
#samples-tabs-1 .samples-tabs__tooltip-2 {
	position: absolute;
	left: 0;
	top: 250px;
}
#samples-tabs-2 .samples-tabs__tooltip-2 {
	position: absolute;
	right: 220px;
	top: 220px;
}
.samples-tabs__tooltip-1:after, .samples-tabs__tooltip-2:after {
	opacity: 0;
	content: '';
	position: absolute;
	top: 10px;
	left: 100%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 5px;
	border-color: transparent transparent transparent #c20509;
	z-index: 2;
}
#samples-tabs-2 .samples-tabs__tooltip-2:after {
	content: '';
	left: auto;
	right: 100%;
	border-width: 4px 5px 4px 0;
	border-color: transparent #c20509 transparent transparent;
}
.samples-tabs__tooltip-1 .samples-tabs__tooltip__help, .samples-tabs__tooltip-2 .samples-tabs__tooltip__help {
	left: 100%;
}
#samples-tabs-2 .samples-tabs__tooltip-2 .samples-tabs__tooltip__help {
	left: auto;
	right: 100%;
}
#samples-tabs-1 .samples-tabs__tooltip-3 {
	position: absolute;
	right: 0;
	top: 185px;
}
#samples-tabs-1 .samples-tabs__tooltip-4 {
	position: absolute;
	right: 0;
	top: 250px;
}
.samples-tabs__tooltip-3:after, .samples-tabs__tooltip-4:after {
	opacity: 0;
	content: '';
	position: absolute;
	top: 10px;
	right: 100%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 5px 4px 0;
	border-color: transparent #c20509 transparent transparent;
	z-index: 2;
}
.samples-tabs__tooltip-1:hover::after, .samples-tabs__tooltip-2:hover::after, .samples-tabs__tooltip-3:hover::after, .samples-tabs__tooltip-4:hover::after {
	content: '';
	opacity: 1;
}
.samples-tabs__tooltip-3 .samples-tabs__tooltip__help, .samples-tabs__tooltip-4 .samples-tabs__tooltip__help {
	right: 100%;
}
.samples-tabs__hidden {
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	left: 50%;
	margin-left: -240px;
	text-align: center;
	z-index: 2;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
.samples-tabs__hidden .popup_title {
	line-height: 1.3;
}
.samples-tabs__hidden #MarketGidComposite38557 img.mcimg, .samples-tabs__hidden #MarketGidComposite38557 .mgline:hover img {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
.samples-tabs__title {
	border-top: 2px solid #c1c1c1;
}
#samples-tabs-2 .samples-tabs__title {
	background: #C6C6F8;
}

/* ------------ mgid-list ------------ */
.mgid-list {
	margin: 0 0 23px;
}
.mgid-list + .mgid-list {
	margin-bottom: 32px;
}
.mgid-list + .mgid-list .mgid-list__item:last-child {
	border-bottom: 1px solid #e9ebf2;
}
.mgid-list__title {
	text-align: center;
	margin: 0 0 4px;
	font-weight: 700;
	color: #696969;
	font-size: 14px;
}
.mgid-list__item {
	display: block;
	position: relative;
	padding: 0 60px 0 218px;
	margin: 0;
	font-size: 14px;
	color: rgb(159, 159, 159);
	border-bottom: 1px solid #e9ebf2;
}
.mgid-list__item > div {
	display: table;
	width: 100%;
	height: 143px;
}
.mgid-list__item > div > div {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding: 10px 0;
}
.mgid-list__item:last-child {
	border-bottom: none;
}
.mgid-list__item:last-child {
	margin-bottom: 0;
}
.mgid-list__item:before {
	content:'';
	position: absolute;
	width: 67px;
	height: 67px;
	top: 50%;
	left: 114px;
	margin-top: -33px;
	background: url("../images/mgid-list.png") no-repeat;
	background-size: 68px 476px;
}
.mgid-list__item_1:before {background-position: 0 0;}
.mgid-list__item_2:before {background-position: 0 -68px;}
.mgid-list__item_3:before {background-position: 0 -136px;}
.mgid-list__item_4:before {background-position: 0 -204px;}
.mgid-list__item_5:before {background-position: 0 -272px;}
.mgid-list__item_6:before {background-position: 0 -340px;}
.mgid-list__item_7:before {background-position: 0 -409px;}
/* ------------ /mgid-list ------------ */

/* ------------ site-tabs ------------ */
.site-tabs {
	padding: 32px 0 34px;
}
.site-tabs h3 {
	margin-bottom: 17px;
}
.site-tabs__controls {
	margin-bottom: 27px;
}
.site-tabs__title {
	color: #c81d21 !important;
	margin-bottom: 22px !important;
}
.site-tabs__controls-main {
	display: none;
}
.site-tabs__controls-wrap {
	text-align: left;
	margin: 0 -4px;
	padding: 0 0 0 4px;
}
.site-tabs__controls-item {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 11px 2px;
	font-size: 13px;
	color: #696969;
	height: 33px;
	width: 203px;
	line-height: 33px;
	background: #ebebeb;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-transition: background 0.3s ease, color 0.3s ease;
	transition: background 0.3s ease, color 0.3s ease;
}
.site-tabs__controls-item:nth-child(3n-2) {
	margin-left: 0;
}
.site-tabs__controls-item.active,
.site-tabs__controls-item:hover {
	background: #c81d21;
	color: #fff;
}
.site-tabs__content + p {
	padding-top: 22px;
}
.site-tabs__relevancy-pic {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 43px auto 32px;
}
.site-tabs__content-wrap > *:last-child {
	margin-bottom: 0;
}
.site-tabs ul li {
	margin: 0 0 4px 15px;
}
.site-tabs .content-img {
	padding: 14px 0 0;
	margin-bottom: 15px;
}
.site-tabs__icon {
	background: url("../images/creative-guidelines/site-tabs__icons.png") no-repeat;
	background-size: 36px 102px;
}
.site-tabs__icon_1 {
	width: 34px;
	height: 34px;
	background-position: -1px -1px;
}
.site-tabs__icon_2 {
	display: block;
	width: 32px;
	height: 32px;
	background-position: -2px -70px;
}
.site-tabs__icon_3 {
	display: block;
	width: 32px;
	height: 32px;
	background-position: -2px -37px;
}
.site-tabs__bottom {
	display: block;
	margin: 0 auto 30px;
}
.site-tabs__headlines-frame {
	display: block;
	width: 340px;
	margin: 0 auto 30px;
	padding: 8px 8px 9px;
	border: 5px solid #ebebeb;
	text-align: center;
}
.site-tabs__headlines-pic {
	display: block;
	height: 231px;
	margin-bottom: 17px;
	background-size: cover;
	background-position: center;
}
.site-tabs__headlines-title {
	display: block;
	font-size: 14px;
	color: rgb(43, 57, 123);
	line-height: 1.143;
	font-weight: 700;
	letter-spacing: -0.4px;
	margin-bottom: 0;
	height: 39px;
	overflow: hidden;
	border: 3px solid #c81d21;
	padding: 0 25px;
}
.site-tabs__headlines-txt {
	display: block;
	font-size: 14px;
	color: rgb(98, 98, 98);
	line-height: 1.143;
	height: 32px;
	overflow: hidden;
}
.site-tabs__thumbnails-frame {
	display: block;
	width: 340px;
	margin: 0 auto 26px;
	padding: 5px 5px 12px;
	border: 5px solid #ebebeb;
	text-align: center;
}
.site-tabs__thumbnails-pic {
	display: block;
	position: relative;
	height: 236px;
	margin-bottom: 17px;
	background-size: cover;
	background-position: center;
	border: 2px solid #fff;
}
.site-tabs__thumbnails-pic:before {
	position: absolute;
	content: '';
	top: -4px;
	left: -4px;
	right: -4px;
	bottom: -4px;
	border: 3px solid #c81d21;
}
.site-tabs__thumbnails-title {
	display: block;
	font-size: 14px;
	color: rgb(43, 57, 123);
	line-height: 1.143;
	font-weight: 700;
	letter-spacing: -0.4px;
	margin-bottom: 3px;
	height: 34px;
	overflow: hidden;
	padding: 0 30px;
}
.site-tabs__thumbnails-txt {
	display: block;
	font-size: 14px;
	color: rgb(98, 98, 98);
	line-height: 1.143;
	height: 32px;
	overflow: hidden;
	padding: 0 30px;
}
/* ------------ /site-tabs ------------ */

/* ------------ double-list ------------ */
.double-list {
	padding-top: 15px;
	text-align: justify;
}
.double-list:after {
	display: inline-block;
	width: 100%;
	content: '';
}
.double-list__item {
	display: inline-block;
	vertical-align: top;
	width: 48.5%;
	text-align: left;
}
.double-list__item h5 {
	text-align: left;
	margin-bottom: 12px;
}
/* ------------ /double-list ------------ */

/* ------------ relevance-support ------------ */
.relevance-support {
	text-align: justify;
	padding: 0 42px 0;
	margin-bottom: 48px;
}
.relevance-support:after {
	display: inline-block;
	width: 100%;
	content: '';
}
.relevance-support__item {
	display: inline-block;
	position: relative;
	width: 244px;
	padding: 8px 8px 12px;
	border: 5px solid #ebebeb;
	text-align: center;
}
.relevance-support__item .site-tabs__icon {
	position: absolute;
	z-index: 2;
	top: -17px;
	left: 50%;
	margin-left: -16px;
}
.relevance-support__pic {
	display: block;
	height: 147px;
	margin-bottom: 12px;
	background-size: cover;
}
.relevance-support__title {
	display: block;
	font-size: 14px;
	color: rgb(43, 57, 123);
	line-height: 1.143;
	font-weight: 700;
	letter-spacing: -0.4px;
	margin-bottom: 3px;
	height: 32px;
	overflow: hidden;
}
.relevance-support__txt {
	display: block;
	font-size: 14px;
	color: rgb(98, 98, 98);
	line-height: 1.143;
	height: 32px;
	overflow: hidden;
}
/* ------------ /relevance-support ------------ */

/* ------------ about-titles ------------ */
.about-titles {
	padding: 26px 0 0;
}
.about-titles__headline {
	font-size: 20px !important;
	text-transform: uppercase;
	margin-bottom: 20px !important;
}
.about-titles__list {
	display: block;
	counter-reset: item;
}
.about-titles__item {
	display: table;
	width: 100%;
	min-height: 99px;
	margin: 0 !important;
	border-bottom: 1px solid #e9ebf2;
}
.about-titles__cell:first-child {
	width: 29.3%;
}
.about-titles__cell {
	display: table-cell;
	vertical-align: middle;
	padding: 8px 0;
}
.about-titles__cell b {
	color: #696969;
}
.about-titles__cell span {
	display: block;
}
.about-titles__caption {
	position: relative;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.25;
	color: #696969;
}
.about-titles__caption i {
	display: inline-block;
	vertical-align: top;
	font-style: normal;
	max-width: 145px;
}
.about-titles__caption:before {
	content: counter(item)'.';
	counter-increment: item;
	display: inline-block;
	margin-right: 4px;
}
/* ------------ /about-titles ------------ */

/* ------------ best-practices ------------ */
.best-practices {
	padding-top: 24px;
}
.best-practices__headline {
	font-size: 20px !important;
	text-transform: uppercase;
	margin-bottom: 45px !important;
}
.best-practices__row {
	text-align: justify;
	margin-bottom: 67px;
}
.best-practices__row:after {
	display: inline-block;
	width: 100%;
	content: '';
}
.best-practices__item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 39.517%;
	padding: 8px;
	border: 5px solid #ebebeb;
}
.best-practices__item .site-tabs__icon {
	position: absolute;
	top: 18px;
	right: -10px;
}
.best-practices__pic {
	display: block;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 147px;
}
.best-practices__title {
	position: absolute;
	top: 8px;
	right: -121px;
}
.best-practices__title > span {
	display: table;
	background: #f8f8f8;
	width: 116px;
	height: 50px;
}
.best-practices__title > span > span {
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	font-weight: 700;
	color: #666;
	text-align: left;
	padding-left: 14px;
	letter-spacing: -0.5px;
}
.best-practices__title > span > span > span {
	display: block;
}
.best-practices__item + .best-practices__item .best-practices__title {
	left: -121px;
	right: auto;
	top: 105px;
}
.best-practices__item + .best-practices__item .best-practices__title > span > span {
	text-align: right;
	padding: 0 14px 0 0;
}
.best-practices__item + .best-practices__item .site-tabs__icon {
	right: auto;
	left: -9px;
	top: 115px;
}
/* ------------ /best-practices ------------ */

/* ------------ to-top ------------ */
.to-top {
	position: fixed;
	left: 50%;
	bottom: 5px;
	margin-left: -32px;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: #ecedee;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.to-top_shown {
	opacity: 1;
}
.to-top:before {
	content:'';
	position: absolute;
	width: 22px;
	height: 22px;
	top: 27px;
	left: 21px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	-webkit-transition: border 0.3s ease;
	transition: border 0.3s ease;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.to-top:hover:before {
	border-left-color: #676767;
	border-top-color: #676767;
}
/* ------------ /to-top ------------ */