.popSignup, .popShare {width: 885px;}
.popLogin {width: 360px;}
.popDownVideo {width: 420px;}
.popCropper {width: 540px;}
.popsaveClip {width: 930px;}
.popup {position: fixed; top: 15%; left: 0; right: 0; margin: 0 auto; background: #fff; font-size: 14px; line-height: 17px; z-index: 10005 !important; color: #5c5f63; font-family: 'CenturyGothic';}
.popup a {text-decoration: none;} .popup a:hover {text-decoration: underline;}
.popup h2 {font-size: 26px; color: #f2f3f2; background: #2C3340; border-bottom: solid 8px #E2E6EE; padding: 0 0 0 30px; line-height: 62px; font-family: 'CenturyGothic';}
.popup p {padding: 0 0 15px 0;} .popup p.smallTxt {font-size: 11px;}
.popFoot {padding: 20px 60px; border-top: solid 2px #E2E6EE; text-align: center;}
.popBtn {width: 100%; height: 40px; border-radius: 5px; color: #fff; font-size: 18px; font-family: 'CenturyGothic';}
.popBtn.blue {background: #0a84d2;} .popBtn.green {background: #4CA82C;} .popBtn.red {background: #ee0000;}
.popBtn.blue:hover {background: #0a84d2;} .popBtn.green:hover {background: #4ca82c;} .popBtn.red:hover {background: #ee0000;}
.popFootTwoBtns button {width: 45%;}
.popIn {padding: 30px 60px;}
.closePop {cursor: pointer;}
.closePop:before {position: absolute; top: 17px; right: 24px; color: #f2f3f2; font-size: 30px; content: "\e606";}
.popInp, .popArea {border: solid 1px #E2E6EE; border-radius: 5px; width: 100%; margin: 0 0 15px 0; padding: 0 0 0 45px; height: 40px; color: #999; font-size: 15px; font-family: 'CenturyGothic'; font-style: italic; position: relative; z-index: 1;}
.forgotLink {display: block; font-size: 14px; font-family: 'CenturyGothic'; text-align: center; margin: 25px 0 -10px 0;}
.checkboxBlock input {margin: 0 5px 15px 0; vertical-align: -2px;}
.inpOut {position: relative;}
.inpOut i {color: #0a84d2; position: absolute; top: 8px; left: 15px; width: 15px; text-align: center; z-index: 2;}
.inpOut i.inpIconKey {left: auto; right: 7px; width: 30px; cursor: pointer;}
.inpOut i.inpIconKey.dis:before {color: #666;}
.inpIconUn:before {content: "\e60f"; font-size: 24px;}
.inpIconPass:before {content: "\e632"; font-size: 22px;}
.inpIconMail:before {content: "\e61e"; font-size: 22px;}
.inpIconKey:before {content: "\e633"; font-size: 22px; background: #fff; display: block; border: solid 1px #E2E6EE; border-radius: 3px;}
.inpIconEye:before {content: "\e611";}
.popHalf {float: left; width: 50%;}
.popHalfLeft {border-right: solid 2px #E2E6EE; padding-right: 60px; margin: 0 -60px 0 0;}
.passStrong .errorTxt {color: #4ca82c;} .passWeek .errorTxt {color: #e0b82d;} .passMed .errorTxt {color: #96A92C;}
.passBotBorder {height: 40px; position: absolute; top: 0; left: 0; border-radius: 0 0 0 5px;}
.passWeek .passBotBorder {border-bottom: solid 2px #e0b82d; width: 33.33%;}
.passMed .passBotBorder {border-bottom: solid 2px #96A92C; width: 66.66%;}
.passStrong .passBotBorder {border-bottom: solid 2px #e0b82d; width: 100%; border-radius: 0 0 5px 5px;}
.popHalfRight {color: #0a84d2; font-size: 19px; font-family: 'CenturyGothic'; text-align: center !important; padding: 24px 59px 30px 59px; line-height: normal;}
.popHalfRight .plTitle {font-size: 36px; line-height: 25px; padding: 0 0 10px 0;}
.popMembers {padding: 7px 0 0 0;}
.popMembers img {display: block; float: left; margin: 0 1px 1px 0; width: 80px;}
.popMembersCount div {float: left; width: 39px; height: 43px; background: url(/images/numback.png) no-repeat 0 0; color: #191919; font-size: 35px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-align: center; margin: 0 2px 2px 2px;}
.popMembersCount span {display: block; color: #2c3340; font-size: 19px; font-family: Tahoma; float: left; padding: 20px 2px 0;}
.popShare .popInp {font-style: normal; padding: 0 0 0 15px;}
.embedVariants span {line-height: 26px; display: block; float: left; margin: 0 20px 0 0;}
.embVar {float: left; margin: 0 20px 15px 0; line-height: 24px; background: #0a84d2; border: solid 1px #0a84d2; border-radius: 3px; color: #fff; font-size: 14px; font-family: 'CenturyGothic'; padding: 0 12px;}
.embVar:hover, .embVar.act {cursor: pointer; background: #fff; color: #5c5f63; border: solid 1px #E2E6EE; border-bottom: solid 1px #0a84d2; position: relative;}
.embVar.act:after, .embVar:hover:after {content: "\e60c"; color: #0a84d2; position: absolute; top: 19px; left: 56px;}
.popArea {margin: 0 0 3px 0; padding: 10px 15px; height: 105px; line-height: 17px; font-style: normal;}
.underPopAreaTxt {font-size: 11px; text-align: right;}
.popDownVideo .loadingMore {font-size: 15px; right: auto; top: auto; position: relative;}
.popDownVideo .loadingMore span {position: absolute; left: 10px; top: 5px; color: #666; font-size: 12px;}
.popDownVideo .loadingMore i {margin: 0 10px 0 0; vertical-align: -4px;}
.popDownVideo .loadingMore i::before {font-size: 25px;}
.popFootBtns {text-align: right; padding: 25px 0 10px 0; border-top: solid 1px #D0D0D0;}
.popFootBtns button {display: inline-block; margin: 0 0 0 20px !important;}
.stepsForm {padding: 25px 0;} .stepsForm .sortingBlock {float: left;}
.stepsForm span.sp {display: block; float: left; width: 95px; margin: 5px 0 0 20px; color: #666; font-size: 12px; font-weight: bold;}
.stepsForm .sortRight {width: 210px; margin: 0 0 15px 10px;}
.sortRightSm {width: 80px !important;} .sortRightSm2 {width: 120px !important;}
.stepsForm .simpleInp {height: 26px; width: 300px; margin: 0 0 15px 10px; line-height: 0;}
.stepsForm .simpleArea {height: 83px; width: 580px; margin: 0 0 15px 10px;}
.stepsForm .sortRightHide {right: auto; left: 100% !important;}
.stepsForm .sortNewSelHide {right: auto; left: 10px !important;}
.stepsForm .friendsList {margin: 0;}
.stepsForm .friendsList li {padding: 7px; background: none; margin: 3px;}
.stepsForm .friendsList li.act {border: solid 2px #4ca82c; padding: 5px;}
.stepsForm .sortingBlock .filterInp {width: 150px; margin: 0 0 25px 0;}
.stepsForm .xBtn {right: 10px; top: 6px;}
.spopFl {height: 290px; overflow: auto;}
.sAv {width: 100px; height: 100px; float: left; background: #fff url(/images/avatar_m.png) no-repeat center center; border: solid 1px #D0D0D0; margin: 0 10px;}
.sAv img {width: 100px; height: 100px;}
.stepsForm .buttonsGroup button {margin: 0 0 10px 0 !important; float: none !important; height: 30px; width: 98px !important;}
.spopFirst {text-align: center; padding: 25px 0;}
.spopFirst .inpOut {width: 363px; height: 41px; border: solid 1px #e2e6ee; margin: 20px auto 0 auto; background: #FAFAFA; position: relative;}
.spopFirst .inpOut input {position: absolute; height: 35px; color: #999; font-style: italic; font-size: 14px; top: 3px; left: 65px; width: 280px; border: 0; background: #FAFAFA;}
.popEditAv .spopFirst {padding: 0; border-bottom: solid 1px #D0D0D0;}
.dvNlock {border-bottom: solid 1px #D0D0D0; padding: 25px 0; text-align: center;}
.spopFirst small {font-size: 11px; color: #999; line-height: 26px;}
.popSteps .closePop:before {top: 5px;}
.popHalf {width: 50%; float: left; text-align: left;}
.buttHalf .popHalf {padding: 15px 35px 0 35px;}
.createLink {display: block; width: 278px; height: 57px; text-decoration: none !important; margin: 10px 0 0 0; color: #fff; font-size: 20px; font-weight: bold; padding: 7px 0 0 65px;}
.createLink i {display: block; font-size: 12px;}
.createPA {border: solid 1px #3A3A3A; background: #4f4f4f; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmNGY0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjY2NjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #4f4f4f 0%, #666667 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#666667)); background: -webkit-linear-gradient(top,  #4f4f4f 0%,#666667 100%); background: -o-linear-gradient(top,  #4f4f4f 0%,#666667 100%); background: -ms-linear-gradient(top,  #4f4f4f 0%,#666667 100%); background: linear-gradient(to bottom,  #4f4f4f 0%,#666667 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#666667',GradientType=0 );}
.createPP {border: solid 1px #4ca82c; background: #3fbb3f; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmYmIzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZWFmM2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #3fbb3f 0%, #3eaf3e 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3fbb3f), color-stop(100%,#3eaf3e)); background: -webkit-linear-gradient(top,  #3fbb3f 0%,#3eaf3e 100%); background: -o-linear-gradient(top,  #3fbb3f 0%,#3eaf3e 100%); background: -ms-linear-gradient(top,  #3fbb3f 0%,#3eaf3e 100%); background: linear-gradient(to bottom,  #3fbb3f 0%,#3eaf3e 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fbb3f', endColorstr='#3eaf3e',GradientType=0 );}
.createLink:before {float: left; font-size: 34px; margin: 5px 15px 0 -45px;}
.createPA:before {content: "\e641";} .createPP:before {content: "\e640";}
.spopFirst .checkInp {margin: 0 10px 0 0; vertical-align: -1px;}
.spopFirst p {padding: 20px 0 0;}
.popLogBtn {margin: 20px auto !important; display: inline-block !important;}
.popup .tmTabs a {border-top: solid 1px #FCFCFC; font-size: 14px; line-height: 35px;}
.popup .tmTabs a:hover, .popup .tmTabs a.act {border-top: solid 1px #D0D0D0; border-bottom: solid 1px #FCFCFC;}
.lblTxt {font-style: normal; font-size: 11px; line-height: 0; margin: 0 0 15px 0; display: block;}
.lblTxt.error {color: #f55656;} .lblTxt.succes {color: #4ca82c;}
.lblTxt i {position: absolute; top: 4px; right: 5px; width: auto !important; height: auto !important; border: 0 !important; left: auto !important;}
.popSteps .lblTxt i {top: 5px; right: -25px;}
.lblTxt.error i:before {content: "\e63a"; font-size: 17px;}
.lblTxt.succes i:before {content: "\e63b"; font-size: 17px !important;}
.lblTxt1 {margin: 52px 0 0 0; text-align: right;}
.errDiv {position: relative; float: left;}
.errDiv .lblTxt {padding: 0 0 0 10px;}
.popFootsmall {border-top: 1px solid #d0d0d0;padding-top: 12px;}
.chooseBlock {color: #666; font-size: 18px; padding: 8px 0 0 0; line-height: 30px;}
.cbOverflow {height: 200px; overflow: auto; margin: 0 0 0 -9px;}
.cbAvItem {display: block; float: left; margin: 9px;}
#editAvatar .cbAvItem {width: 80px;} #editCover .cbAvItem {width: 368px;}
.cbAvItem:hover, .cbAvItemAct {outline: 5px solid #4ca82c; cursor: pointer;}
.embedBlock {padding: 10px 0 0 0;}
.embLeft, .embRight {width: 49%; font-size: 13px; color: #666; line-height: 19px;}
.embLeft b, .embRight b {display: block; float: left; margin: 0 0 15px 0;}
.embRight b {margin: -4px 0 -15px 0;}
.smalTxt {font-size: 11px;}
.botBtns {text-align: center; padding: 25px 0 10px 0;}
.botBtns button {margin: 0 10px 0 11px !important; float: none; display: inline-block;}
.saveClipthumb {float: left; padding: 20px; width: 270px;}
.uiBotSaveclip {float: left;}
.popsaveClip .uibRightBlock {width: 33.4%;}.popSignup, .popShare {width: 885px;}
.popLogin {width: 360px;}
.popDownVideo {width: 420px;}
.popCropper {width: 540px;}
.popsaveClip {width: 930px;}
.popup {position: fixed; top: 15%; left: 0; right: 0; margin: 0 auto; background: #fff; font-size: 14px; line-height: 17px; z-index: 10005 !important; color: #5c5f63; font-family: 'CenturyGothic';}
.popup a {text-decoration: none;} .popup a:hover {text-decoration: underline;}
.popup h2 {font-size: 26px; color: #f2f3f2; background: #2C3340; border-bottom: solid 8px #E2E6EE; padding: 0 0 0 30px; line-height: 62px; font-family: 'CenturyGothic';}
.popup p {padding: 0 0 15px 0;} .popup p.smallTxt {font-size: 11px;}
.popFoot {padding: 20px 60px; border-top: solid 2px #E2E6EE; text-align: center;}
.popBtn {width: 100%; height: 40px; border-radius: 5px; -webkit-border-radius: 5px; color: #fefefe; font-size: 18px; font-family: 'CenturyGothic';}
.popBtn.blue {background: #0B84D1;} .popBtn.green {background: #4CA82C;} .popBtn.red {background: #c83d34;}
.popBtn.blue:hover {background: #0d9af4;} .popBtn.green:hover {background: #58BF34;} .popBtn.red:hover {background: #E34B3E;}
.popFootTwoBtns button {width: 45%;}
.popIn {padding: 30px 60px;}
.closePop {cursor: pointer;}
.closePop:before {position: absolute; top: 17px; right: 24px; color: #f2f3f2; font-size: 30px; content: "\e606";}
.popInp, .popArea {border: solid 1px #E2E6EE; border-radius: 5px; -webkit-border-radius: 5px; width: 100%; margin: 0 0 15px 0; padding: 0 0 0 45px; height: 40px; color: #9ea0a4; font-size: 15px; font-family: 'CenturyGothic'; font-style: italic; position: relative; z-index: 1;}
.forgotLink {display: block; font-size: 14px; font-family: 'CenturyGothic'; text-align: center; margin: 25px 0 -10px 0;}
.checkboxBlock input {margin: 0 5px 15px 0; vertical-align: -2px;}
.inpOut {position: relative;}
.inpOut i {color: #0B84D1; position: absolute; top: 8px; left: 15px; width: 15px; text-align: center; z-index: 2;}
.inpOut i.inpIconKey {left: auto; right: 7px; width: 30px; cursor: pointer;}
.inpOut i.inpIconKey.dis:before {color: #666;}
.inpIconUn:before {content: "\e60f"; font-size: 24px;}
.inpIconPass:before {content: "\e632"; font-size: 22px;}
.inpIconMail:before {content: "\e61e"; font-size: 22px;}
.inpIconKey:before {content: "\e633"; font-size: 22px; background: #F0EFEF; display: block; border: solid 1px #E2E6EE; border-radius: 3px; -webkit-border-radius: 3px;}
.inpIconEye:before {content: "\e611";}
.popHalf {float: left; width: 50%;}
.popHalfLeft {border-right: solid 2px #E2E6EE; padding-right: 60px; margin: 0 -60px 0 0;}
.passStrong .errorTxt {color: #4CA92C;} .passWeek .errorTxt {color: #e0b82d;} .passMed .errorTxt {color: #96A92C;}
.passBotBorder {height: 40px; position: absolute; top: 0; left: 0; border-radius: 0 0 0 5px; -webkit-border-radius: 0 0 0 5px;}
.passWeek .passBotBorder {border-bottom: solid 2px #e0b82d; width: 33.33%;}
.passMed .passBotBorder {border-bottom: solid 2px #96A92C; width: 66.66%;}
.passStrong .passBotBorder {border-bottom: solid 2px #e0b82d; width: 100%; border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px;}
.popHalfRight {color: #0b84d1; font-size: 19px; font-family: 'CenturyGothic'; text-align: center !important; padding: 24px 59px 30px 59px; line-height: normal;}
.popHalfRight .plTitle {font-size: 36px; line-height: 25px; padding: 0 0 10px 0;}
.popMembers {padding: 7px 0 0 0;}
.popMembers img {display: block; float: left; margin: 0 1px 1px 0; width: 80px;}
.popMembersCount div {float: left; width: 39px; height: 43px; background: url(/images/numback.png) no-repeat 0 0; color: #414141; font-size: 35px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-align: center; margin: 0 2px 2px 2px;}
.popMembersCount span {display: block; color: #2c3340; font-size: 19px; font-family: Tahoma; float: left; padding: 20px 2px 0;}
.popShare .popInp {font-style: normal; padding: 0 0 0 15px;}
.embedVariants span {line-height: 26px; display: block; float: left; margin: 0 20px 0 0;}
.embVar {float: left; margin: 0 20px 15px 0; line-height: 24px; background: #0B84D1; border: solid 1px #0B84D1; border-radius: 3px; -webkit-border-radius: 3px; color: #fff; font-size: 14px; font-family: 'CenturyGothic'; padding: 0 12px;}
.embVar:hover, .embVar.act {cursor: pointer; background: #fff; color: #5c5f63; border: solid 1px #E2E6EE; border-bottom: solid 1px #0B84D1; position: relative;}
.embVar.act:after, .embVar:hover:after {content: "\e60c"; color: #0B84D1; position: absolute; top: 19px; left: 56px;}
.popArea {margin: 0 0 3px 0; padding: 10px 15px; height: 105px; line-height: 17px; font-style: normal;}
.underPopAreaTxt {font-size: 11px; text-align: right;}
.popDownVideo .loadingMore {font-size: 15px; right: auto; top: auto; position: relative;}
.popDownVideo .loadingMore span {position: absolute; left: 10px; top: 5px; color: #666; font-size: 12px;}
.popDownVideo .loadingMore i {margin: 0 10px 0 0; vertical-align: -4px;}
.popDownVideo .loadingMore i::before {font-size: 25px;}
.popFootBtns {text-align: right; padding: 25px 0 10px 0; border-top: solid 1px #D0D0D0;}
.popFootBtns button {display: inline-block; margin: 0 0 0 20px !important;}
.stepsForm {padding: 25px 0;} .stepsForm .sortingBlock {float: left;}
.stepsForm span.sp {display: block; float: left; width: 95px; margin: 5px 0 0 20px; color: #666; font-size: 12px; font-weight: bold;}
.stepsForm .sortRight {width: 210px; margin: 0 0 15px 10px;}
.sortRightSm {width: 80px !important;} .sortRightSm2 {width: 120px !important;}
.stepsForm .simpleInp {height: 26px; width: 300px; margin: 0 0 15px 10px; line-height: 0;}
.stepsForm .simpleArea {height: 83px; width: 580px; margin: 0 0 15px 10px;}
.stepsForm .sortRightHide {right: auto; left: 100% !important;}
.stepsForm .sortNewSelHide {right: auto; left: 10px !important;}
.stepsForm .friendsList {margin: 0;}
.stepsForm .friendsList li {padding: 7px; background: none; margin: 3px;}
.stepsForm .friendsList li.act {border: solid 2px #7DCA10; padding: 5px;}
.stepsForm .sortingBlock .filterInp {width: 150px; margin: 0 0 25px 0;}
.stepsForm .xBtn {right: 10px; top: 6px;}
.spopFl {height: 290px; overflow: auto;}
.sAv {width: 100px; height: 100px; float: left; background: #fff url(/images/avatar_m.png) no-repeat center center; border: solid 1px #D0D0D0; margin: 0 10px;}
.sAv img {width: 100px; height: 100px;}
.stepsForm .buttonsGroup button {margin: 0 0 10px 0 !important; float: none !important; height: 30px; width: 98px !important;}
.spopFirst {text-align: center; padding: 25px 0;}
.spopFirst .inpOut {width: 363px; height: 41px; border: solid 1px #D1D1D1; margin: 20px auto 0 auto; background: #FAFAFA; position: relative;}
.spopFirst .inpOut input {position: absolute; height: 35px; color: #999; font-style: italic; font-size: 14px; top: 3px; left: 65px; width: 280px; border: 0; background: #FAFAFA;}
.popEditAv .spopFirst {padding: 0; border-bottom: solid 1px #D0D0D0;}
.dvNlock {border-bottom: solid 1px #D0D0D0; padding: 25px 0; text-align: center;}
.spopFirst small {font-size: 11px; color: #999; line-height: 26px;}
.popSteps .closePop:before {top: 5px;}
.popHalf {width: 50%; float: left; text-align: left;}
.buttHalf .popHalf {padding: 15px 35px 0 35px;}
.createLink {display: block; width: 278px; height: 57px; text-decoration: none !important; margin: 10px 0 0 0; color: #fff; font-size: 20px; font-weight: bold; padding: 7px 0 0 65px;}
.createLink i {display: block; font-size: 12px;}
.createPA {border: solid 1px #3A3A3A; background: #4f4f4f; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmNGY0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjY2NjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #4f4f4f 0%, #666667 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#666667)); background: -webkit-linear-gradient(top,  #4f4f4f 0%,#666667 100%); background: -o-linear-gradient(top,  #4f4f4f 0%,#666667 100%); background: -ms-linear-gradient(top,  #4f4f4f 0%,#666667 100%); background: linear-gradient(to bottom,  #4f4f4f 0%,#666667 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#666667',GradientType=0 );}
.createPP {border: solid 1px #399F39; background: #3fbb3f; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmYmIzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZWFmM2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #3fbb3f 0%, #3eaf3e 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3fbb3f), color-stop(100%,#3eaf3e)); background: -webkit-linear-gradient(top,  #3fbb3f 0%,#3eaf3e 100%); background: -o-linear-gradient(top,  #3fbb3f 0%,#3eaf3e 100%); background: -ms-linear-gradient(top,  #3fbb3f 0%,#3eaf3e 100%); background: linear-gradient(to bottom,  #3fbb3f 0%,#3eaf3e 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fbb3f', endColorstr='#3eaf3e',GradientType=0 );}
.createLink:before {float: left; font-size: 34px; margin: 5px 15px 0 -45px;}
.createPA:before {content: "\e641";} .createPP:before {content: "\e640";}
.spopFirst .checkInp {margin: 0 10px 0 0; vertical-align: -1px;}
.spopFirst p {padding: 20px 0 0;}
.popLogBtn {margin: 20px auto !important; display: inline-block !important;}
.popup .tmTabs a {border-top: solid 1px #FCFCFC; font-size: 14px; line-height: 35px;}
.popup .tmTabs a:hover, .popup .tmTabs a.act {border-top: solid 1px #D0D0D0; border-bottom: solid 1px #FCFCFC;}
.lblTxt {font-style: normal; font-size: 11px; line-height: 0; margin: 0 0 15px 0; display: block;}
.lblTxt.error {color: #f55656;} .lblTxt.succes {color: #7DCA10;}
.lblTxt i {position: absolute; top: 4px; right: 5px; width: auto !important; height: auto !important; border: 0 !important; left: auto !important;}
.popSteps .lblTxt i {top: 5px; right: -25px;}
.lblTxt.error i:before {content: "\e63a"; font-size: 17px;}
.lblTxt.succes i:before {content: "\e63b"; font-size: 17px !important;}
.lblTxt1 {margin: 52px 0 0 0; text-align: right;}
.errDiv {position: relative; float: left;}
.errDiv .lblTxt {padding: 0 0 0 10px;}
.popFootsmall {border-top: 1px solid #d0d0d0;padding-top: 12px;}
.chooseBlock {color: #666; font-size: 18px; padding: 8px 0 0 0; line-height: 30px;}
.cbOverflow {height: 200px; overflow: auto; margin: 0 0 0 -9px;}
.cbAvItem {display: block; float: left; margin: 9px;}
#editAvatar .cbAvItem {width: 80px;} #editCover .cbAvItem {width: 368px;}
.cbAvItem:hover, .cbAvItemAct {outline: 5px solid #00C000; cursor: pointer;}
.embedBlock {padding: 10px 0 0 0;}
.embLeft, .embRight {width: 49%; font-size: 13px; color: #666; line-height: 19px;}
.embLeft b, .embRight b {display: block; float: left; margin: 0 0 15px 0;}
.embRight b {margin: -4px 0 -15px 0;}
.embSizes a {display: block; float: left; font-size: 11px; color: #666; line-height: 19px; height: 20px; width: 90px; border: solid 1px #CBCBCB; margin: 0 0 0 8px; position: relative; text-align: center; text-decoration: none; box-shadow: inset 0 1px 0 0 #fff; -webkit-box-shadow: inset 0 1px 0 0 #fff; background: #f9f9f9; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #f9f9f9 0%, #eaeaea 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#eaeaea)); background: -webkit-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%); background: -o-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%); background: -ms-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%); background: linear-gradient(to bottom,  #f9f9f9 0%,#eaeaea 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eaeaea',GradientType=0 );}
.embSizes a.act, .embSizes a:hover {border-bottom: solid 2px #167AC6; background: #fff;}
.smalTxt {font-size: 11px;}
.botBtns {text-align: center; padding: 25px 0 10px 0;}
.botBtns button {margin: 0 10px 0 11px !important; float: none; display: inline-block;}
.saveClipthumb {float: left; padding: 20px; width: 270px;}
.uiBotSaveclip {float: left;}
.popsaveClip .uibRightBlock {width: 33.4%;}.ps-container {-ms-touch-action: none; overflow: hidden !important;}
.ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {display: block;}
.ps-container.ps-in-scrolling {pointer-events: none;}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {background-color: #eee; opacity: 0.9;}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {background-color: #999;}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {background-color: #eee; opacity: 0.9;}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {background-color: #999;}
.ps-container > .ps-scrollbar-x-rail {display: none; z-index: 10; position: absolute; border-radius: 4px; opacity: 0; -webkit-transition: background-color .2s linear, opacity .2s linear; -moz-transition: background-color .2s linear, opacity .2s linear; transition: background-color .2s linear, opacity .2s linear; bottom: 0; height: 8px;}
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {position: absolute; background-color: #aaa; border-radius: 4px; -webkit-transition: background-color .2s linear; -moz-transition: background-color .2s linear; transition: background-color .2s linear; bottom: 0; height: 8px;}
.ps-container > .ps-scrollbar-y-rail {display: none; z-index: 10; position: absolute; border-radius: 4px; opacity: 0; -webkit-transition: background-color .2s linear, opacity .2s linear; -moz-transition: background-color .2s linear, opacity .2s linear; transition: background-color .2s linear, opacity .2s linear; right: 0; width: 8px;}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {position: absolute; background-color: #aaa; border-radius: 4px; -webkit-transition: background-color .2s linear; -moz-transition: background-color .2s linear; transition: background-color .2s linear; right: 0; width: 8px; }
.ps-container:hover.ps-in-scrolling {pointer-events: none;}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {background-color: #eee; opacity: 0.9;}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {background-color: #999;}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {background-color: #eee; opacity: 0.9;}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {background-color: #999;}
.ps-container:hover > .ps-scrollbar-x-rail, .ps-container:hover > .ps-scrollbar-y-rail {opacity: 0.6;}
.ps-container:hover > .ps-scrollbar-x-rail:hover {background-color: #eee; opacity: 0.9;}
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {background-color: #999;}
.ps-container:hover > .ps-scrollbar-y-rail:hover {background-color: #eee; opacity: 0.9;}
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {background-color: #999;}
.folFlag {background: url(/images/flags.png) no-repeat 0 0; height: 11px; width: 16px; display: block;}
.folFlag.flag-ad {background-position: -16px 0;}
.folFlag.flag-ae {background-position: -32px 0;}
.folFlag.flag-af {background-position: -48px 0;}
.folFlag.flag-ag {background-position: -64px 0;}
.folFlag.flag-ai {background-position: -80px 0;}
.folFlag.flag-al {background-position: -96px 0;}
.folFlag.flag-am {background-position: -112px 0;}
.folFlag.flag-an {background-position: -128px 0;}
.folFlag.flag-ao {background-position: -144px 0;}
.folFlag.flag-ar {background-position: -160px 0;}
.folFlag.flag-as {background-position: -176px 0;}
.folFlag.flag-at {background-position: -192px 0;}
.folFlag.flag-au {background-position: -208px 0;}
.folFlag.flag-aw {background-position: -224px 0;}
.folFlag.flag-az {background-position: -240px 0;}
.folFlag.flag-ba {background-position: 0 -11px;}
.folFlag.flag-bb {background-position: -16px -11px;}
.folFlag.flag-bd {background-position: -32px -11px;}
.folFlag.flag-be {background-position: -48px -11px;}
.folFlag.flag-bf {background-position: -64px -11px;}
.folFlag.flag-bg {background-position: -80px -11px;}
.folFlag.flag-bh {background-position: -96px -11px;}
.folFlag.flag-bi {background-position: -112px -11px;}
.folFlag.flag-bj {background-position: -128px -11px;}
.folFlag.flag-bm {background-position: -144px -11px;}
.folFlag.flag-bn {background-position: -160px -11px;}
.folFlag.flag-bo {background-position: -176px -11px;}
.folFlag.flag-br {background-position: -192px -11px;}
.folFlag.flag-bs {background-position: -208px -11px;}
.folFlag.flag-bt {background-position: -224px -11px;}
.folFlag.flag-bv {background-position: -240px -11px;}
.folFlag.flag-bw {background-position: 0 -22px;}
.folFlag.flag-by {background-position: -16px -22px;}
.folFlag.flag-bz {background-position: -32px -22px;}
.folFlag.flag-ca {background-position: -48px -22px;}
.folFlag.flag-catalonia {background-position: -64px -22px;}
.folFlag.flag-cd {background-position: -80px -22px;}
.folFlag.flag-cf {background-position: -96px -22px;}
.folFlag.flag-cg {background-position: -112px -22px;}
.folFlag.flag-ch {background-position: -128px -22px;}
.folFlag.flag-ci {background-position: -144px -22px;}
.folFlag.flag-ck {background-position: -160px -22px;}
.folFlag.flag-cl {background-position: -176px -22px;}
.folFlag.flag-cm {background-position: -192px -22px;}
.folFlag.flag-cn {background-position: -208px -22px;}
.folFlag.flag-co {background-position: -224px -22px;}
.folFlag.flag-cr {background-position: -240px -22px;}
.folFlag.flag-cu {background-position: 0 -33px;}
.folFlag.flag-cv {background-position: -16px -33px;}
.folFlag.flag-cw {background-position: -32px -33px;}
.folFlag.flag-cy {background-position: -48px -33px;}
.folFlag.flag-cz {background-position: -64px -33px;}
.folFlag.flag-de {background-position: -80px -33px;}
.folFlag.flag-dj {background-position: -96px -33px;}
.folFlag.flag-dk {background-position: -112px -33px;}
.folFlag.flag-dm {background-position: -128px -33px;}
.folFlag.flag-do {background-position: -144px -33px;}
.folFlag.flag-dz {background-position: -160px -33px;}
.folFlag.flag-ec {background-position: -176px -33px;}
.folFlag.flag-ee {background-position: -192px -33px;}
.folFlag.flag-eg {background-position: -208px -33px;}
.folFlag.flag-eh {background-position: -224px -33px;}
.folFlag.flag-england {background-position: -240px -33px;}
.folFlag.flag-er {background-position: 0 -44px;}
.folFlag.flag-es {background-position: -16px -44px;}
.folFlag.flag-et {background-position: -32px -44px;}
.folFlag.flag-eu {background-position: -48px -44px;}
.folFlag.flag-fi {background-position: -64px -44px;}
.folFlag.flag-fj {background-position: -80px -44px;}
.folFlag.flag-fk {background-position: -96px -44px;}
.folFlag.flag-fm {background-position: -112px -44px;}
.folFlag.flag-fo {background-position: -128px -44px;}
.folFlag.flag-fr {background-position: -144px -44px;}
.folFlag.flag-ga {background-position: -160px -44px;}
.folFlag.flag-gb {background-position: -176px -44px;}
.folFlag.flag-gd {background-position: -192px -44px;}
.folFlag.flag-ge {background-position: -208px -44px;}
.folFlag.flag-gf {background-position: -224px -44px;}
.folFlag.flag-gg {background-position: -240px -44px;}
.folFlag.flag-gh {background-position: 0 -55px;}
.folFlag.flag-gi {background-position: -16px -55px;}
.folFlag.flag-gl {background-position: -32px -55px;}
.folFlag.flag-gm {background-position: -48px -55px;}
.folFlag.flag-gn {background-position: -64px -55px;}
.folFlag.flag-gp {background-position: -80px -55px;}
.folFlag.flag-gq {background-position: -96px -55px;}
.folFlag.flag-gr {background-position: -112px -55px;}
.folFlag.flag-gs {background-position: -128px -55px;}
.folFlag.flag-gt {background-position: -144px -55px;}
.folFlag.flag-gu {background-position: -160px -55px;}
.folFlag.flag-gw {background-position: -176px -55px;}
.folFlag.flag-gy {background-position: -192px -55px;}
.folFlag.flag-hk {background-position: -208px -55px;}
.folFlag.flag-hm {background-position: -224px -55px;}
.folFlag.flag-hn {background-position: -240px -55px;}
.folFlag.flag-hr {background-position: 0 -66px;}
.folFlag.flag-ht {background-position: -16px -66px;}
.folFlag.flag-hu {background-position: -32px -66px;}
.folFlag.flag-ic {background-position: -48px -66px;}
.folFlag.flag-id {background-position: -64px -66px;}
.folFlag.flag-ie {background-position: -80px -66px;}
.folFlag.flag-il,.folFlag.flag-he {background-position: -96px -66px;}
.folFlag.flag-im {background-position: -112px -66px;}
.folFlag.flag-in {background-position: -128px -66px;}
.folFlag.flag-io {background-position: -144px -66px;}
.folFlag.flag-iq {background-position: -160px -66px;}
.folFlag.flag-ir {background-position: -176px -66px;}
.folFlag.flag-is {background-position: -192px -66px;}
.folFlag.flag-it {background-position: -208px -66px;}
.folFlag.flag-je {background-position: -224px -66px;}
.folFlag.flag-jm {background-position: -240px -66px;}
.folFlag.flag-jo {background-position: 0 -77px;}
.folFlag.flag-jp {background-position: -16px -77px;}
.folFlag.flag-ke {background-position: -32px -77px;}
.folFlag.flag-kg {background-position: -48px -77px;}
.folFlag.flag-kh {background-position: -64px -77px;}
.folFlag.flag-ki {background-position: -80px -77px;}
.folFlag.flag-km {background-position: -96px -77px;}
.folFlag.flag-kn {background-position: -112px -77px;}
.folFlag.flag-kp {background-position: -128px -77px;}
.folFlag.flag-kr {background-position: -144px -77px;}
.folFlag.flag-kurdistan {background-position: -160px -77px;}
.folFlag.flag-kw {background-position: -176px -77px;}
.folFlag.flag-ky {background-position: -192px -77px;}
.folFlag.flag-kz {background-position: -208px -77px;}
.folFlag.flag-la {background-position: -224px -77px;}
.folFlag.flag-lb {background-position: -240px -77px;}
.folFlag.flag-lc {background-position: 0 -88px;}
.folFlag.flag-li {background-position: -16px -88px;}
.folFlag.flag-lk {background-position: -32px -88px;}
.folFlag.flag-lr {background-position: -48px -88px;}
.folFlag.flag-ls {background-position: -64px -88px;}
.folFlag.flag-lt {background-position: -80px -88px;}
.folFlag.flag-lu {background-position: -96px -88px;}
.folFlag.flag-lv {background-position: -112px -88px;}
.folFlag.flag-ly {background-position: -128px -88px;}
.folFlag.flag-ma {background-position: -144px -88px;}
.folFlag.flag-mc {background-position: -160px -88px;}
.folFlag.flag-md {background-position: -176px -88px;}
.folFlag.flag-me {background-position: -192px -88px;}
.folFlag.flag-mg {background-position: -208px -88px;}
.folFlag.flag-mh {background-position: -224px -88px;}
.folFlag.flag-mk {background-position: -240px -88px;}
.folFlag.flag-ml {background-position: 0 -99px;}
.folFlag.flag-mm {background-position: -16px -99px;}
.folFlag.flag-mn {background-position: -32px -99px;}
.folFlag.flag-mo {background-position: -48px -99px;}
.folFlag.flag-mp {background-position: -64px -99px;}
.folFlag.flag-mq {background-position: -80px -99px;}
.folFlag.flag-mr {background-position: -96px -99px;}
.folFlag.flag-ms {background-position: -112px -99px;}
.folFlag.flag-mt {background-position: -128px -99px;}
.folFlag.flag-mu {background-position: -144px -99px;}
.folFlag.flag-mv {background-position: -160px -99px;}
.folFlag.flag-mw {background-position: -176px -99px;}
.folFlag.flag-mx {background-position: -192px -99px;}
.folFlag.flag-my {background-position: -208px -99px;}
.folFlag.flag-mz {background-position: -224px -99px;}
.folFlag.flag-na {background-position: -240px -99px;}
.folFlag.flag-nc {background-position: 0 -110px;}
.folFlag.flag-ne {background-position: -16px -110px;}
.folFlag.flag-nf {background-position: -32px -110px;}
.folFlag.flag-ng {background-position: -48px -110px;}
.folFlag.flag-ni {background-position: -64px -110px;}
.folFlag.flag-nl {background-position: -80px -110px;}
.folFlag.flag-no {background-position: -96px -110px;}
.folFlag.flag-np {background-position: -112px -110px;}
.folFlag.flag-nr {background-position: -128px -110px;}
.folFlag.flag-nu {background-position: -144px -110px;}
.folFlag.flag-nz {background-position: -160px -110px;}
.folFlag.flag-om {background-position: -176px -110px;}
.folFlag.flag-pa {background-position: -192px -110px;}
.folFlag.flag-pe {background-position: -208px -110px;}
.folFlag.flag-pf {background-position: -224px -110px;}
.folFlag.flag-pg {background-position: -240px -110px;}
.folFlag.flag-ph {background-position: 0 -121px;}
.folFlag.flag-pk {background-position: -16px -121px;}
.folFlag.flag-pl {background-position: -32px -121px;}
.folFlag.flag-pm {background-position: -48px -121px;}
.folFlag.flag-pn {background-position: -64px -121px;}
.folFlag.flag-pr {background-position: -80px -121px;}
.folFlag.flag-ps {background-position: -96px -121px;}
.folFlag.flag-pt {background-position: -112px -121px;}
.folFlag.flag-pw {background-position: -128px -121px;}
.folFlag.flag-py {background-position: -144px -121px;}
.folFlag.flag-qa {background-position: -160px -121px;}
.folFlag.flag-re {background-position: -176px -121px;}
.folFlag.flag-ro {background-position: -192px -121px;}
.folFlag.flag-rs {background-position: -208px -121px;}
.folFlag.flag-ru {background-position: -224px -121px;}
.folFlag.flag-rw {background-position: -240px -121px;}
.folFlag.flag-sa {background-position: 0 -132px;}
.folFlag.flag-sb {background-position: -16px -132px;}
.folFlag.flag-sc {background-position: -32px -132px;}
.folFlag.flag-scotland {background-position: -48px -132px;}
.folFlag.flag-sd {background-position: -64px -132px;}
.folFlag.flag-se {background-position: -80px -132px;}
.folFlag.flag-sg {background-position: -96px -132px;}
.folFlag.flag-sh {background-position: -112px -132px;}
.folFlag.flag-si {background-position: -128px -132px;}
.folFlag.flag-sk {background-position: -144px -132px;}
.folFlag.flag-sl {background-position: -160px -132px;}
.folFlag.flag-sm {background-position: -176px -132px;}
.folFlag.flag-sn {background-position: -192px -132px;}
.folFlag.flag-so {background-position: -208px -132px;}
.folFlag.flag-somaliland {background-position: -224px -132px;}
.folFlag.flag-sr {background-position: -240px -132px;}
.folFlag.flag-ss {background-position: 0 -143px;}
.folFlag.flag-st {background-position: -16px -143px;}
.folFlag.flag-sv {background-position: -32px -143px;}
.folFlag.flag-sy {background-position: -48px -143px;}
.folFlag.flag-sz {background-position: -64px -143px;}
.folFlag.flag-tc {background-position: -80px -143px;}
.folFlag.flag-td {background-position: -96px -143px;}
.folFlag.flag-tf {background-position: -112px -143px;}
.folFlag.flag-tg {background-position: -128px -143px;}
.folFlag.flag-th {background-position: -144px -143px;}
.folFlag.flag-tj {background-position: -160px -143px;}
.folFlag.flag-tk {background-position: -176px -143px;}
.folFlag.flag-tl {background-position: -192px -143px;}
.folFlag.flag-tm {background-position: -208px -143px;}
.folFlag.flag-tn {background-position: -224px -143px;}
.folFlag.flag-to {background-position: -240px -143px;}
.folFlag.flag-tr {background-position: 0 -154px;}
.folFlag.flag-tt {background-position: -16px -154px;}
.folFlag.flag-tv {background-position: -32px -154px;}
.folFlag.flag-tw {background-position: -48px -154px;}
.folFlag.flag-tz {background-position: -64px -154px;}
.folFlag.flag-ua {background-position: -80px -154px;}
.folFlag.flag-ug {background-position: -96px -154px;}
.folFlag.flag-um {background-position: -112px -154px;}
.folFlag.flag-us {background-position: -128px -154px;}
.folFlag.flag-uy {background-position: -144px -154px;}
.folFlag.flag-uz {background-position: -160px -154px;}
.folFlag.flag-va {background-position: -176px -154px;}
.folFlag.flag-vc {background-position: -192px -154px;}
.folFlag.flag-ve {background-position: -208px -154px;}
.folFlag.flag-vg {background-position: -224px -154px;}
.folFlag.flag-vi {background-position: -240px -154px;}
.folFlag.flag-vn {background-position: 0 -165px;}
.folFlag.flag-vu {background-position: -16px -165px;}
.folFlag.flag-wales {background-position: -32px -165px;}
.folFlag.flag-wf {background-position: -48px -165px;}
.folFlag.flag-ws {background-position: -64px -165px;}
.folFlag.flag-ye {background-position: -80px -165px;}
.folFlag.flag-yt {background-position: -96px -165px;}
.folFlag.flag-za {background-position: -112px -165px;}
.folFlag.flag-zanzibar {background-position: -128px -165px;}
.folFlag.flag-zm {background-position: -144px -165px;}
.folFlag.flag-zw {background-position: -160px -165px;}
.folFlag.flag-en {background-position: -176px -165px;}
.navBar {width: 100%; font-size: 12px; border-top: solid 1px #DDE3EC; background: #fff; position: fixed; z-index: 1000; bottom: 0; left: 0;}
.navBar .title {margin: -5px -15px 0; background: #EAEEF3; padding: 25px 15px; font-size: 1.3em; cursor: pointer; color: #0a84d2;}
.navBar .title span {display: inline-block;}
.navBarDefault {height: 80px; background: #fff;}
.navBarDefault .nbcItem {color: #95999F; text-decoration: none; position: relative;}
.navBarInner {display: none; background-color: #EBEEF3; padding: 0 15px;}
.navBarControls {width: 92%;}
.navBarCustom {width: 8%; border-left: 1px solid #DDE3EC; height: 100%; position: relative; cursor: pointer; padding: 22px 0 0 0; text-align: center;}
.navBarControls, .navBarCustom {float: left; -webkit-box-sizing: border-box; box-sizing: border-box; height: 80px;}
.navBarCustom i {display: block; width: 6px; height: 6px; margin: 3px auto; background-color: #95999f; border-radius: 100%;}
.nbcItem:hover .navIcon, .navBarCustom:hover {color: #2C3340;}
.navBarCustom:hover i {background: #2C3340;}
.nbcItem {width: 25%; float: left; text-align: center; padding: 15px; box-sizing: border-box; -webkit-box-sizing: border-box; cursor: pointer; white-space: nowrap;}
.nbcItem i {font-size: 25px; margin: 0px auto 2px; position: relative; display: table;}
.navBarControls .nbcItem i {margin: 3px auto 3px;}
.nbcItem a {text-decoration: none; color: inherit; display: block;}
.navVids:before {content: "\e630";}
.navVids2:before {content: "\e609";}
.navPl:before {content: "\e600";}
.navPh:before {content: "\e607";}
.navCh:before {content: "\e62d";}
.navDb:before {content: "\e653";}
.navNot:before {content: "\e63c";}
.navWtW:before {content: "\e630"; vertical-align: -4px !important;}
.navBm:before {content: "\e648";}
.navCc:before {content: "\e64f";}
.navCu:before {content: "\e626";}
.navFoling:before {content: "\e62e";}
.navFolers:before {content: "\e62f";}
.navPs:before {content: "\e625";}
.navWl:before {content: "\e617";}
.navLv:before {content: "\e602";}
.navFv:before {content: "\e613";}
.navSch:before {content: "\e62c";}
.navMc:before {content: "\e62b";}
.navMf:before {content: "\e62a";}
.navPd:before {content: "\e629";}
.navSets:before {content: "\e628";}
.navMess:before {content: "\e605";}
.navReq:before {content: "\e644";}
.navProf:before {content: "\e60f";}
.navUpl:before {content: "\e627";}
.navChat:before {content: "\e639";}
.navNotif:before {content: "\e63c";}
.navHist:before {content: "\e638";}
.niClose:after {content: "\e64e"; vertical-align: -1px; margin: 0 0 0 10px;}
.navBarControls .navCh:before {font-size: 31px; line-height: 20px;}
.navBarControls .navDb:before {font-size: 36px; line-height: 16px; vertical-align: -5px;}
.navBarControls .navVids:before {font-size: 32px; line-height: 20px; vertical-align: -5px;}
.navNum {font-style: normal; background: #0a84d2; font-size: 14px; color: #fff; line-height: 23px; padding: 2px 8px 0; border-radius: 5px; position: absolute; top: -10px; right: -13px;}
.nbcTitle {color: #95999F; text-align: right; line-height: 3em; font-size: 1.3em;}
.ncbTitle:before {content: "\e63f"; margin: -1px 10px 0 0; font-size: 1.3em; float: left;}
.navCustGrid {margin: 0 -15px;}
.navCustGrid .nbcItem {box-sizing: border-box; -webkit-box-sizing: border-box; border: 1px solid #EBEEF3; background: #fff; position: relative; width: calc(100%/4); height: calc(100vw/5); padding: 5% 0;}
.navCustGrid .nbcItem i {color: #2C3340;}
.navBarCustomize .ttlActionLink {float: right; color: #2C3340;}
.navBarCustomizeM {background: #EAEEF3;}
.navBarCustomizeM .navCustGrid {background: #EAEEF3; margin: -2% 0 0 0;}
.navBarCustomizeM .navCustGrid .nbcItem {margin: 2%; padding: 6% 0; width: calc(84% / 4); height: calc(100vw / 5); border-radius: 15px;}
.navBarCustomizeM .navCustGrid .nbcItem i {font-size: 80px;}
.nbcContItem {background: #fff; padding: 0 0 0 90px; position: relative; display: block;}
.nbcContItem:hover, .niClose:hover {text-decoration: none;}
.nbcContItem i.navNum {position: absolute; top: 17px; right: 20px; font-style: normal;}
.nbcContItem span {padding: 20px 60px 20px 5px; color: #2c3340; display: block; font-size: 1.4em; border-bottom: solid 1px #EBEEF3;}
.nbcContItem span:before {vertical-align: -3px; width: 36px; display: inline-block; margin: 0 25px 0 -60px; font-size: 1.5em;}
.navBar.navBarCustomize .navBarDefault {display: none;}
.opened {display: block;}
.scrollable {overflow: scroll; height: 400px;}
.navBar.navBarCustomize:before, .navBar.navBarDashboard:before {position: fixed; top: 0; left: 0; content: ' '; display: block; background-color: rgba(0,0,0,0.74); width: 100%; height: 100%; z-index: 999;}
.navBarDefault, .navBarInner {z-index: 1000; position: relative;}
.navCustGrid .nbcItemEmpty {border: dashed 2px #ccc; background: inherit; display: none;}
.navIcon b {padding: 3px 5px 1px;}
.navBarCustomizeM .navCustGrid .nbcItem {
	animation: jiggle 0.2s infinite;
	-webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
}
@keyframes jiggle {0% {transform: rotate(-1deg);}
	50% {transform: rotate(1deg);}
}
@-webkit-keyframes jiggle {0% {-webkit-transform: rotate(-1deg);}
	50% {-webkit-transform: rotate(1deg);}
}
@-moz-keyframes jiggle {0% {-moz-transform: rotate(-1deg);}
	50% {-moz-transform: rotate(1deg);}
}
@media (min-width:1500px) {
	.navCustGrid .nbcItem i {font-size: 80px;}
	.navCustGrid .nbcItem {padding: 4% 0; width: calc(100% / 6); height: calc(100vw / 7);}
	.navBarCustomizeM .navCustGrid .nbcItem {width: calc(76% / 6); height: calc(100vw / 8); padding: 3% 2%;}
}
@media (max-width:1499px) and (min-width:1200px) {
	.navCustGrid .nbcItem i {font-size: 50px;}
	.navNum {right: 41%;}
	.navCustGrid .nbcItem {width: calc(100% / 6); height: calc(100vw / 6);}
	.navBarCustomizeM .navCustGrid .nbcItem {width: calc(84% / 4); height: calc(100vw / 5);}
}
@media (max-width:1199px) and (min-width:1000px) {
	.navBarCustomizeM .navCustGrid .nbcItem i, .navCustGrid .nbcItem i {font-size: 50px;}
}
@media (max-width:999px) and (min-width:600px) {
	.navCustGrid .nbcItem i, .navBarCustomizeM .navCustGrid .nbcItem i {font-size: 50px;}
	.navBarCustomizeM .navCustGrid .nbcItem {padding: 5% 0;}
}
@media (max-width:599px) {
	.nbcItem {padding: 15px 0; font-size: 11px;}
	.navCustGrid .nbcItem i, .navBarCustomizeM .navCustGrid .nbcItem i {font-size: 25px;}
	.navBarCustomizeM .navCustGrid .nbcItem {font-size: 10px;}
	.navBarControls .navNum {font-size: 10px; line-height: 16px; padding: 0 5px; top: -5px; right: -5px;}
	.navIcon b {font-size: 9px; padding: 3px 3px 0 3px; top: -2px;}
	.nbcContItem {padding: 0 0 0 70px;}
	.nbcContItem span {font-size: 1.2em;}
	.nbcContItem span:before {margin: 0 15px 0 -50px; font-size: 1.4em;}
}
@media (max-height:399px) and (orientation: landscape) {
	.navCustGrid .nbcItem {width: calc(100% / 6); height: calc(100vw / 6);}
	.navCustGrid .nbcItem i, .navBarCustomizeM .navCustGrid .nbcItem i {font-size: 25px;}
}#imfb {
	position:fixed;
	bottom:0;
	right:0;
	height:150px;
	width:250px;
	z-index:99999;
	display:none;
}

#imfb a {
	position:absolute;
	right: 5px;
	top: -12px;
	background:#fff;
	border:1px solid #000;
	padding:5px 8px;
	color:#000;
}
