body {
    background: #FFF none repeat scroll 0% 0%;
    font-family: Verdana,sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
	-webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}
a {
    color: #336699;
    text-decoration: none;
    font-size: 14px;
}
a:hover {
    color: #0285FF;
    text-decoration: underline;
}
.headerlogotop {
   background-image: url("headbg.png");
background-repeat: repeat-x;
background-size: auto auto;
background-position: 0px 0px;
padding: 0px;
margin: 0px;
border-bottom: 1px solid #000;
background-color: #062B44;
text-align: center;
}
.switch_box {
    border-bottom: 1px solid #02A0AB;
    border-color: #02A0AB;
    padding: 3px;
    background-color: #E5E5E5;
    text-align: center;
    margin-bottom: 0px;
}
.search_box {
    margin: 0px;
    text-align: center;
    font-family: verdana;
    padding: 15px;
    overflow: hidden;
    line-height: 26px;
    background-color: #F3F3F3;
}
.search-field {
    width: 62%;
    margin: 0px;
    font-size: 20px;
    padding: 6px 0px 1px;
}
h1 {
    color: #FFF;
    font-weight: bold;
    padding: 7px 4px 7px 13px;
    margin: 0px;
    font-size: 15px;
    line-height: 25px;
    background-color: #04688F;
}
.keywrd {
    padding: 0px;
    margin: 0px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    text-align: center;
	color: #8D8D8D;
	line-height: 18px;
}
.iteam1 {
border-bottom: 2px solid #fff;
	background-color: rgb(243, 243, 243);
    padding: 4px;
}
.iteam1:hover {
background-color: #E9E9E9;

}
p {
    margin: 0px;
    padding: 0px;
}
.ytimg {
    vertical-align: middle;
    margin: 1px;
    border: 1px solid #CCC;
	padding: 2px;
} 
.yt_list_title {
max-height: 75px;
overflow: hidden;
display: block;
line-height: 18px;
}
.iteamblank {
padding: 8px;
overflow: hidden;
line-height: 26px;
background-color: #F3F3F3;
}
.paging {text-align:center; }
.paging .item
	{
    display: block;
    float: left;
    background-color: #04688F;
    color: #FFF;
    cursor: pointer;
    font-size: 15px;
    line-height: 8px;
    padding: 9px 16px;
    margin-right: 5px;
    border-radius: 0px;
    transition: background-color 0.2s ease 0s;
    text-decoration: none;
	}
.paging .item:hover
	{ text-decoration:none; background-color:#555; }
.searchhist {
    border: 1px solid #DFDFDF;
    border-radius: 0px;
    margin: 1px 0px 3px;
    text-align: left;
    background-color: #EFEFEF;
    font-family: verdana;
    font-size: 13px;
    color: #666;
    padding: 8px;
    overflow: hidden;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
a.morelink {
text-decoration: none;
outline: medium none;
height: 23px;
line-height: 24px;
background-color: #E8F0F6;
padding: 0px 3px;
border-radius: 2px;
width: -moz-fit-content;
display: inline-block;
border: 1px solid #CEE5F6;
}
.nojava {
    color: #A70000;
    padding: 5px;
    margin: 0px;
    font-size: 15px;
    line-height: 20px;
    background-color: #F3E9B2;
    border: 1px solid #F5BC48;
}
.footer {
    background-color: #434343;
    color: #A6A6A6;
    padding: 0px 10px;
}
.footer-text {
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    padding: 15px 0px;
}
.footer a {
    color: #FFF;
}
.adboxdiv {
border-bottom: 2px solid #FFF;
padding: 4px;
background-color: #F3F3F3;
}
.adboxdiv1 {
border-bottom: 0px solid #FFF;
padding: 4px;
}
.sortcatinfo {
padding: 8px;
overflow: hidden;
line-height: 26px;
background-color: #EBEBEB;
border-bottom: 1px solid #D2D2D2;
font-size: 12px;
}
.sortcatinfo  a{
	font-size: 12px;
}
.sortbox_iteam {
border-radius: 2px;
border: 1px solid #CAD8F3;
background: #F8F2DE none repeat scroll 0% 0%;
padding: 0px 2px;
float: left;
margin-left: 3px;
margin-bottom: 2px;
line-height: 22px;
}
.info_item {
background-color: #F3F3F3;
    padding: 5px;
}
.detils_item {
    background: #F6F6F6 none repeat scroll 0% 0%;
    padding: 6px 0px 6px 6px;
    margin: 0px;
    line-height: 20px;
    border-bottom: 1px solid #ECECEC;
	font-size: 14px;
}
.whButton {
  background-image: url("whaticon.png");
   background-repeat:no-repeat;
	background-color:#29B502;
}
.whButton ,.fbButton	{
	border-radius:1px;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	font-weight: bold;
	text-shadow:0px 1px 0px #154682;
	width: 92px;
    height: 30px;
	position:relative;
}
.whButton .fbButton:hover {
	color:#ffffff;
	text-decoration:none;
}
.whButton .fbButton:active {
	position:relative;
	top:1px;
}
.fbButton {
  background-image: url("fbshare.png");
  background-repeat:no-repeat;
	background-color:#4965A0;
	}
.button {
text-decoration: none;
padding: 6px 8px;
margin: 1px 0px 0px 0px;
font-size: 18px;
text-transform: uppercase;
background: #04688F;
color: #FFF;
border: 1px solid #0F4B78;
outline: 0px none;
border-radius: 2px;
font-weight: bold;
}

.button:hover {
    background: #027A91;
	color: #F3F2F2;
	text-decoration: none;
}	
.rbutton {
color: rgb(255, 25, 25);
background-color: rgb(255, 222, 222);
border-radius: 2px;
padding: 3px;
border: 1px solid rgb(255, 186, 186);
}
.playvideo { position: relative; }
.playvideo a{
left: 140px;
border: 1px solid #AAA;
padding: 0px 7px 1px;
top: 80px;
background-color: #000;
position: absolute;
display: block;
color: #ffffff;
text-decoration: none;
cursor:pointer;
}

.frm_box {
	max-width: 770px;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

}
.error{
color: #A41111;
background-color: #FFECEC;
border: 1px solid #FFDCDC;
}
.ok{
color: #018302;
background-color: #ECFFF0;
border: 1px solid #C2E6C7;
}	
.error, .ok{
padding: 3px 4px 3px 8px;
margin: 0px;
font-size: 15px;
line-height: 25px;
}
.chbutton {
	text-decoration: none;
font-family: Verdana, Geneva, sans-serif;
	display: inline-block;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	color: #444;
	
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	cursor: pointer;
	text-align: center;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	padding: 0 7px;
	text-decoration: none;
	margin-left: 3px;
}

.chbutton:hover {
	background-color: #F8F8F8;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	
	border: 1px solid #C6C6C6;
	color: #333;
	
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

  .chbutton.blue {
    font-size: 14px;
    background-color: #2b57a0;
    background-image: -webkit-linear-gradient(top,#0088ca,#0571b1);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #027db5;
    color: white;
}

.chbutton.blue:hover {
	text-decoration: none;
	border: 1px solid #2F5BB7;
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
/* INPUTS */
input, select, textarea {-webkit-appearance:none; -moz-appearance:none; border:3px solid #ccc; padding:2px 5px; background-color: #E6F1FC; font-size:1.7em; font-family:'Open Sans', sans-serif;}
input[type="submit"] {cursor:pointer;	border: 2px solid #1B869E; padding:0px 5px; background:#15A1BD; color:#fff;}
input[type="submit"]:hover {background: #333;}
select {max-width:100%; -webkit-appearance:menulist; -moz-appearance:menulist;}
