@charset "Shift_JIS";

/* **************************************************

Name: top_print.css

Description: Print CSS for Hitachi.co.jp top page

Create: 2014.02.13
Update: 2016.04.28

Copyright 2014 Hitachi, Ltd.

***************************************************** */



body {
	width: 965px;
	background-color: #fff;
	overflow: hidden;
}



/* Skip Link
=========================================================================================== */

#top {
	width: 965px;
	height: 30px;
	margin: 0 auto;
	background: #fff url("/image/jp/r1/bg_for_print.gif") no-repeat 0 0;
}
#top a {display: none;}



/* Header
=========================================================================================== */

#HeaderArea {width: 100%;}
.JS #HeaderArea {
	position: absolute;
	z-index: 6;
	top: 30px !important;
	margin-top: 0 !important;
}
#HeaderArea:before {display: none;}


/* --- Search Box --- */

#Search .BtnOpen a.Current {background: none #ccc;}
#Search .BtnOpen a.Current:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 6;
	width: 0;
	height: 0;
	bottom: -8px;
	left: 50%;
	margin: 0 0 0 -15px;
	border-top: solid 15px #ccc;
	border-left: solid 15px transparent;
	border-right: solid 15px transparent;
}

#SearchArea {background-color: rgba(0, 0, 0, .8);}

#Search dt {color: #fff;}

#Search li a:link,
#Search li a:visited {color: #fff;}
#Search li a:hover,
#Search li a:active {color: #fff;}


/* --- Country/Region Selector --- */

#CountryRegion .BtnOpen a.Current {background: none #ccc;}
#CountryRegion .BtnOpen a.Current:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 6;
	width: 0;
	height: 0;
	bottom: -8px;
	left: 50%;
	margin: 0 0 0 -15px;
	border-top: solid 15px #ccc;
	border-left: solid 15px transparent;
	border-right: solid 15px transparent;
}

#CountryRegionArea {background-color: rgba(0, 0, 0, .8);}

#CountryRegion .Inner h2 a:link,
#CountryRegion .Inner h2 a:visited {color: #fff;}
#CountryRegion .Inner h2 a:hover,
#CountryRegion .Inner h2 a:active {color: #fff;}

#CountryRegion .Inner h3 a {
	border-top: solid 1px #444;
	border-bottom: solid 1px #444;
}
#CountryRegion .Inner h3 a:link,
#CountryRegion .Inner h3 a:visited {color: #fff;}

#CountryRegion .Inner ul.Global {border-left: solid 1px #444;}

#CountryRegion .Inner li {
	position: relative;
	color: #fff;
	background-image: none;
}
#CountryRegion .Inner ul:not(.Global) li:after {
	content: "";
	position: absolute;
	display: block;
	width: 4px;
	height: 4px;
	top: 8px;
	left: 5px;
	background-color: #999;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}

#CountryRegion .Inner li a:link,
#CountryRegion .Inner li a:visited {color: #fff;}
#CountryRegion .Inner li a:hover,
#CountryRegion .Inner li a:active {color: #fff;}


/* --- Ultra Global Navigation --- */

#UltraGlobalNavi .BtnOpen a.Current {background: none #b1000e;}
#UltraGlobalNavi .BtnOpen a.Current:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 6;
	width: 0;
	height: 0;
	bottom: -8px;
	left: 50%;
	margin: 0 0 0 -15px;
	border-top: solid 15px #b1000e;
	border-left: solid 15px transparent;
	border-right: solid 15px transparent;
}

.SuperGlobalNavi {background-color: rgba(0, 0, 0, .8);}

.SuperGlobalNavi h2 a:link,
.SuperGlobalNavi h2 a:visited {color: #fff;}
.SuperGlobalNavi h2 a:hover,
.SuperGlobalNavi h2 a:active {color: #fff;}

.SuperGlobalNavi ul.SubMenu:after {border-bottom: solid 1px #444;}

.SuperGlobalNavi h3 a:link,
.SuperGlobalNavi h3 a:visited {color: #fff;}
.SuperGlobalNavi h3 a:hover,
.SuperGlobalNavi h3 a:active {color: #fff;}

.SuperGlobalNavi li a:link,
.SuperGlobalNavi li a:visited {color: #fff;}
.SuperGlobalNavi li a:hover,
.SuperGlobalNavi li a:active {color: #fff;}

#TopCover {
	position: fixed;
	z-index: 5;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
}



/* You Tube
=========================================================================================== */

#ModalYouTubeCover {
	display: none;
	position: fixed;
	top: 0 !important;
	left: 0;
	width: 100%;
	height: 100% !important;
	background-color: #fff;
	z-index: 100;
}

#ModalYouTube {
	display: none;
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
	left: 0 !important;
	padding: 0 !important;
	z-index: 102;
}

#ModalYouTube .Inner {
	position: relative;
	width: 853px !important;
	height: 530px !important;
	margin: 300px auto 0 !important;
	background-color: #000;
	box-shadow: 0 0 35px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 0 35px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .4);
	-o-box-shadow: 0 0 35px rgba(0, 0, 0, .4);
	-ms-box-shadow: 0 0 35px rgba(0, 0, 0, .4);
}

#ModalYouTube .Movie,
#ModalYouTube .Movie iframe {
	width: 853px !important;
	height: 480px !important;
}

#ModalYouTube .Title {
	height: 50px;
	background-color: #f2f2f2;
	overflow: hidden;
}

#ModalYouTube .Title p {
	display: table-cell;
	height: 50px;
	padding: 0 80px 0 20px;
	vertical-align: middle;
	font-size: 90%;
	font-weight: bold;
	line-height: 130%;
	color: #575757;
}

#ModalYouTube .BtnClose {
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 130%;
}

#ModalYouTube .BtnClose a {
	display: table-cell;
	min-width: 50px;
	height: 30px;
	padding: 20px 5px 0;
	font-size: 76%;
	text-align: center;
	background-image: url(../../../image/jp/r1/icon/icon_close.gif);
	background-position: center 7px;
	background-repeat: no-repeat;
	vertical-align: middle;
}
#ModalYouTube .BtnClose a:link,
#ModalYouTube .BtnClose a:visited {
	color: #fff;
	background-color: #e60027;
	text-decoration: none;
}
#ModalYouTube .BtnClose a:hover,
#ModalYouTube .BtnClose a:active {
	color: #fff;
	background-color: #b1000e;
	text-decoration: none;
}



/* Video / Image
=========================================================================================== */

#TopImg {
	position: absolute;
	width: 100%;
	top: 80px !important;
	left: 0;
	right: 0;
}

#TopImg .Inner {
	width: 965px !important;
	margin: 0 auto;
}
.JS #TopImg .Inner {
	position: relative;
	height: 500px !important;
	top: 0 !important;
	left: 0 !important;
	overflow: hidden;
}

#TopImg .Inner div {
	width: 100%;
	height: 500px;
	overflow: hidden;
	background-color: #000;
}
.JS #TopImg .Inner div {
	position: absolute;
	display: none;
	height: 100%;
	top: 0;
	left: 0;
}
.JS #TopImg #TopImg1 {display: block;}

#TopImg img {
	width: 100%;
	margin: -21px 0 0;
}
#TopImg .FirstImg {display: none;}
#TopImg .LastImg {
	display: inline;
	opacity: .7;
}

#TopMovie {display: none;}

.NoticeArea {
	width: 935px;
	margin: 0 auto 20px;
	padding: 15px 15px 0;
	background-color: #f2f2f2;
	overflow: hidden;
}
.JS .NoticeArea {margin-top: 20px;}
.JS .NoticeArea + .NoticeArea {margin-top: 0;}

.NoticeArea h2 {
	margin: 0;
	padding: 0 0 10px;
	font-size: 90%;
	font-weight: bold;
	color: #575757;
	background-image: none;
}



/* Main
=========================================================================================== */

#Main {
	position: relative;
	z-index: 4;
	width: 965px;
	margin: 0 auto !important;
}
.JS #Main {
	min-height: 0 !important;
	padding: 50px 0 0 !important;
}

.JS #StatementArea .Inner {
	position: relative;
	width: 100%;
	height: 500px;
}
.JS #StatementArea .Inner:before {
	content: "";
	display: inline-block;
	width: 0;
	height: 100%;
	margin: 0 0 0 -.36em;
	vertical-align: middle;
}

.YouTubeLink {position: relative;}

.YouTubeLink:before {
	content: "";
	position: absolute;
	z-index: 1;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	background-color: #e60027;
	opacity: .5;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.YouTubeLink:after {
	content: "";
	position: absolute;
	z-index: 1;
	width: 36px;
	height: 36px;
	top: 50%;
	left: 50%;
	margin: -18px 0 0 -18px;
	background-color: #e60027;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.PC .YouTubeLink:hover:before,
.PC .YouTubeLink:active:before,
.PC .YouTubeLink:hover:after,
.PC .YouTubeLink:active:after {background-color: #b1000e;}

.YouTubeLink .Img {
	position: relative;
	display: block;
}
.YouTubeLink .Img:after {
	content: "";
	position: absolute;
	z-index: 2;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	margin: -9px 0 0 -3px;
	border-left: solid 9px #fff;
	border-top: solid 9px transparent;
	border-bottom: solid 9px transparent;
}

#StatementArea .Statement {
	position: relative;
	display: block;
	width: 50%;
	height: 400px;
	padding: 100px 0 0;
	page-break-inside: avoid;
}
.JS #StatementArea .Statement {
	position: static;
	display: inline-block;
	height: auto;
	padding: 0;
	vertical-align: middle;
}
.JS #StatementArea .Statement:not(#Statement1) {display: none;}
#StatementArea .Statement.RightAdjust,
.JS #StatementArea .Statement.RightAdjust {
	padding-left: 50%;
	text-align: left;
}

#StatementArea .Statement .Copy {
	margin: 0 0 0 -1.4%;
	padding: 0 0 10px;
}

#StatementArea .Banner {overflow: hidden;}

#StatementArea .Banner li {
	position: relative;
	float: left;
	width: 50%;
}

#StatementArea .Banner li a {
	display: block;
	font-size: 90%;
	text-align: center;
	background-color: #000;
	overflow: hidden;
}
#StatementArea .Banner li a:link,
#StatementArea .Banner li a:visited,
#StatementArea .Banner li a:hover,
#StatementArea .Banner li a:active {
	color: #fff;
	text-decoration: none;
}

#StatementArea .Banner li a strong {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #fff;
	background: url(/image/jp/r5/top/top_bg_menu.png) repeat-x left bottom;
}

#StatementArea .Banner li a strong span {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 10px 15px;
	font-weight: normal;
	line-height: 140%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.PC #StatementArea .Banner li a img {
	transition: transform .2s ease-out, opacity .2s linear;
	-moz-transition: -moz-transform .2s ease-out, opacity .2s linear;
	-webkit-transition: -webkit-transform .2s ease-out, opacity .2s linear;
	-o-transition: -o-transform .2s ease-out, opacity .2s linear;
	-ms-transition: -ms-transform .2s ease-out, opacity .2s linear;
}
.PC #StatementArea .Banner li a:hover img,
.PC #StatementArea .Banner li a:active img {
	opacity: .7;
	transform:scale(1.1);
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
}



/* Video Controller
=========================================================================================== */

.JS #VideoControl {
	position: absolute;
	width: 100%;
	height: 25px;
	bottom: 10px;
	left: 0;
	text-align: center;
}

#VideoControl ul {
	display: none;
	overflow: hidden;
}

.JS #VideoControl .Indicator {
	float: left;
	width: 19px;
	height: 19px;
	margin: 4px 12px 0 0;
	overflow: hidden;
}

.JS #VideoControl #VideoPlay {
	float: left;
	width: 27px;
	height: 27px;
	margin: 0 12px 0 0;
	cursor: pointer;
}
.JS #VideoControl .NoIndicator #VideoPlay {
	width: 85px;
	margin: 0;
	background-image: url(/image/jp/r5/top/top_text_play.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 53px 54px;
}
.JS #VideoControl .NoIndicator #VideoPlay.Current {background-position: bottom right;}

.JS #VideoControl .Indicator a {
	position: relative;
	display: block;
	width: 11px;
	height: 11px;
	margin: 4px;
	text-indent: -9999px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.JS #VideoControl .Indicator a:link,
.JS #VideoControl .Indicator a:visited,
.JS #VideoControl .Indicator a:hover,
.JS #VideoControl .Indicator a:active {background-color: #fff;}
.PC #VideoControl .Indicator a:hover,
.PC #VideoControl .Indicator a:active,
.JS #VideoControl .Indicator.Current a {background-color: #e6000e !important;}

.JS #VideoControl .Indicator a:before {
	content: "";
	position: absolute;
	display: none;
	width: 19px;
	height: 19px;
	top: -4px;
	left: -4px;
	background-color: #e6000e;
	opacity: .5;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.PC #VideoControl .Indicator a:hover:before,
.PC #VideoControl .Indicator a:active:before,
.JS #VideoControl .Indicator.Current a:before {display: block;}

.JS #VideoControl #VideoPlay a {
	position: relative;
	display: block;
	width: 19px;
	height: 19px;
	margin: 4px;
	text-indent: -9999px;
	background-color: #e6000e;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.JS #VideoControl #VideoPlay a:before {
	content: "";
	position: absolute;
	display: block;
	width: 27px;
	height: 27px;
	top: -4px;
	left: -4px;
	background-color: #e6000e;
	opacity: .5;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.JS #VideoControl #VideoPlay a:after {
	content: "";
	position: absolute;
	display: block;
	width: 3px;
	height: 11px;
	top: 50%;
	left: 50%;
	margin: -5.5px 0 0 -4.5px;
	border-left: solid 3px #fff;
	border-right: solid 3px #fff;
}
.JS #VideoControl #VideoPlay.Current a:after {
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -2px;
	border-left: solid 5px #fff;
	border-right: 0 none;
	border-top: solid 5px transparent;
	border-bottom: solid 5px transparent;
}
.PC #VideoControl #VideoPlay:hover a,
.PC #VideoControl #VideoPlay:hover a:before {background-color: #b1000e;}

#StatementArea .Note {
	position: absolute;
	height: 20px;
	bottom: 12px;
	right: 0;
}

#StatementArea .Note img {
	max-width: 100%;
	height: auto;
}



/* News Ticker
=========================================================================================== */

#MainMenuSet {padding: 40px 0 0;}
.JS #MainMenuSet {padding: 0;}

.JS #News {
	position: relative;
	width: 965px;
	margin: 0 auto;
	background-color: #222;
	overflow: hidden;
}

.JS #News h2 {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	background-image: none !important;
}

#News h2,
#NewsControl {display: none;}

#News noscript .ButtonStyle1 a {
	width: 25%;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.JS #News h2 span {
	padding: 0;
	font-size: 83%;
	font-weight: normal;
	line-height: 160%;
	background-color: transparent;
}

.JS #News h2 a {
	display: table-cell;
	min-width: 131px;
	height: 39px;
	padding: 1px 5px 0 15px;
	vertical-align: middle;
	background-image: none;
}
.JS #News h2 a:link,
.JS #News h2 a:visited {
	color: #fff;
	background-color: #e60027;
	text-decoration: none;
}
.JS #News h2 a:hover,
.JS #News h2 a:active {
	color: #fff;
	background-color: #b1000e;
	text-decoration: none;
}

.JS #News h2 a:after {
	content: "";
	display: inline-block;
	width: 18px;
	height: 16px;
	margin: 0 0 0 3px;
	background-image: url(../../../image/jp/r1/icon/icon_link_right_white_hd.gif);
	background-repeat: no-repeat;
	vertical-align: middle;
	background-size: 16px 16px;
	-moz-background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	-o-background-size: 16px 16px;
	-ms-background-size: 16px 16px;
}
.JS #News h2 a:link:after,
.JS #News h2 a:visited:after {background-position: top left;}
.JS #News h2 a:hover:after,
.JS #News h2 a:active:after {background-position: top right;}

.JS #News .DateListStyle2 {display: none;}

.JS #News #NewsBody {
	position: absolute;
	width: 724px !important;
	height: 1.6em;
	top: 0;
	bottom: 0;
	left: auto !important;
	right: 0 !important;
	margin: auto;
	text-indent: 0;
	overflow: hidden;
}

.JS #News #NewsBodyInner {
	padding: 0 10px 0 15px;
	font-size: 90%;
	white-space: nowrap;
	color: #fff;
}

.JS #News #NewsBodyInner a {
	padding: 0 17px 0 13px;
	color: #fff;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 16px 16px;
	-moz-background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	-o-background-size: 16px 16px;
	-ms-background-size: 16px 16px;
}
.JS #News #NewsBodyInner a:link,
.JS #News #NewsBodyInner a:visited {
	background-image: url(../../../image/jp/r1/icon/icon_link_right_hd.gif);
	text-decoration: none;
}
.JS #News #NewsBodyInner a:hover,
.JS #News #NewsBodyInner a:active {
	background-image: url(../../../image/jp/r1/icon/icon_link_right_hover_hd.gif);
	text-decoration: underline;
}

.JS #News #NewsBodyInner img {
	margin-left: 5px;
	vertical-align: middle;
}

.JS #NewsControl {
	float: left;
	display: block;
	width: 90px;
}

.JS #NewsControl li {
	float: left;
	overflow: hidden;
}

.JS #NewsControl li a {
	position: relative;
	display: block;
	width: 30px;
	height: 40px;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	text-indent: -9999px;
}
.JS #NewsControl li a:link,
.JS #NewsControl li a:visited,
.JS #NewsControl li a:hover,
.JS #NewsControl li a:active  {background-color: #e60027;}
.PC #NewsControl li a:hover,
.PC #NewsControl li a:active {background-color: #b1000e;}

.JS #NewsControl #NewsPlay a:after {
	content: "";
	position: absolute;
	display: block;
	width: 3px;
	height: 11px;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -4px;
	border-left: solid 3px #fff;
	border-right: solid 3px #fff;
}
.JS #NewsControl #NewsPlay a.Current:after {
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -1px;
	border-left: solid 5px #fff;
	border-right: 0 none;
	border-top: solid 5px transparent;
	border-bottom: solid 5px transparent;
}

.JS #NewsControl #NewsPrev a:after {
	content: "";
	position: absolute;
	display: block;
	width: 7px;
	height: 7px;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -3px;
	border-bottom: solid 2px #fff;
	border-left: solid 2px #fff;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

.JS #NewsControl #NewsNext a:after {
	content: "";
	position: absolute;
	display: block;
	width: 7px;
	height: 7px;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -6px;
	border-bottom: solid 2px #fff;
	border-right: solid 2px #fff;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}



/* Main Menu
=========================================================================================== */

#MainMenu {
	width: 965px;
	margin: 0 auto;
	overflow: hidden;
}

#MainMenu li {
	position: relative;
	float: left;
	width: 25%;
}

#MainMenu a {
	display: block;
	font-size: 90%;
	text-align: center;
	overflow: hidden;
	background-color: #000;
}
#MainMenu a:link,
#MainMenu a:visited,
#MainMenu a:hover,
#MainMenu a:active {
	color: #fff;
	text-decoration: none;
}

.PC #MainMenu a img {
	transition: transform .2s ease-out, opacity .2s linear;
	-moz-transition: -moz-transform .2s ease-out, opacity .2s linear;
	-webkit-transition: -webkit-transform .2s ease-out, opacity .2s linear;
	-o-transition: -o-transform .2s ease-out, opacity .2s linear;
	-ms-transition: -ms-transform .2s ease-out, opacity .2s linear;
}
.PC #MainMenu a:hover img,
.PC #MainMenu a:active img {
	opacity: .7;
	transform:scale(1.1);
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
}

#MainMenu strong {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #fff;
	background: url(/image/jp/r5/top/top_bg_menu.png) repeat-x left bottom;
}

#MainMenu span {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 10px 15px;
	font-weight: normal;
	line-height: 140%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}



/* Recommend
=========================================================================================== */

#Recommend {
	width: 965px;
	margin: 0 auto;
	padding: 20px 0 0;
}

#Recommend .Title {display: none;}

#Recommend .Column1,
#Recommend .Column2 {
	position: relative;
	margin: 0;
	height: 18.125em;
	min-height: 290px;
	color: #fff;
	background-color: #000;
	overflow: hidden;
	page-break-inside: avoid;
}
#Recommend .Column1 {width: 25%;}
#Recommend .Column2 {width: 50%;}

#Recommend .Stock {
	color: #333;
	background-color: #fff;
}
#Recommend .FacebookWidget {
	color: #333;
	background-color: #f6f7f8;
}
#Recommend .Facebook {background-color: #363636;}
#Recommend .Twitter {background-color: #2a2a2a;}
#Recommend .Red1 {background-color: #e60027;}
#Recommend .Red2 {background-color: #b1000e;}
#Recommend .Red3 {background-color: #9a000c;}
#Recommend .Red4 {background-color: #86000a;}
#Recommend .Gray1 {background-color: #2a2a2a;}
#Recommend .Gray2 {background-color: #363636;}
#Recommend .Gray3 {background-color: #424242;}
#Recommend .Gray4 {background-color: #4e4e4e;}

#Recommend .Column1 a,
#Recommend .Column2 a {
	display: block;
	height: 100%;
}
#Recommend .Column1 a:link,
#Recommend .Column1 a:visited,
#Recommend .Column1 a:hover,
#Recommend .Column1 a:active,
#Recommend .Column2 a:link,
#Recommend .Column2 a:visited,
#Recommend .Column2 a:hover,
#Recommend .Column2 a:active {
	color: #fff;
	text-decoration: none;
}
#Recommend .Stock a:link,
#Recommend .Stock a:visited,
#Recommend .Stock a:hover,
#Recommend .Stock a:active {color: #333;}

#Recommend .Tweet a:link,
#Recommend .Tweet a:visited {text-decoration: underline;}
#Recommend .Tweet a:hover,
#Recommend .Tweet a:active {text-decoration: none;}

#Recommend .FacebookWidget a:link,
#Recommend .FacebookWidget a:visited {
	text-decoration: underline;
	color: #c02;
}
#Recommend .FacebookWidget a:hover,
#Recommend .FacebookWidget a:active {
	text-decoration: none;
	color: #b1000e;
}

.PC #Recommend .Red1 a:after,
.PC #Recommend .Red2 a:after,
.PC #Recommend .Red3 a:after,
.PC #Recommend .Red4 a:after,
.PC #Recommend .Stock a:after,
.PC #Recommend .Facebook a:after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0;
	transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	-ms-transition: opacity .2s linear;
}
.PC #Recommend .Red1 a:hover:after,
.PC #Recommend .Red1 a:active:after,
.PC #Recommend .Red2 a:hover:after,
.PC #Recommend .Red2 a:active:after,
.PC #Recommend .Red3 a:hover:after,
.PC #Recommend .Red3 a:active:after,
.PC #Recommend .Red4 a:hover:after,
.PC #Recommend .Red4 a:active:after,
.PC #Recommend .Stock a:hover:after,
.PC #Recommend .Stock a:active:after,
.PC #Recommend .Facebook a:hover:after,
.PC #Recommend .Facebook a:active:after {opacity: .3;}

#Recommend .StockImg {
	padding: 30px 0 0;
	text-align: center;
}

#Recommend .Tweet {padding: 15px 5px 0;}

#Recommend .Tweet iframe {height: 17.188em !important;}

#Recommend .Tweet a {margin: 0 10px;}

#Recommend .Twitter .TextArea {
	padding-top: 10px;
	background-color: #2a2a2a;
}

#Recommend .Twitter .TextArea:before {
	content: "";
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	height: 40px;
	background-image: url(/image/jp/r5/top/top_bg_twitter.png);
}

#Recommend .FacebookWidget .FbBox {margin: -70px 0 0;}

#Recommend .Facebook .FbBox {
	position: relative;
	z-index: 1;
	max-height: 9em;
	padding: 65px 15px 0;
	overflow: hidden;
	background-image: url(/image/jp/r5/top/icon/icon_facebook.png);
	background-repeat: no-repeat;
	background-position: center 25px;
	background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	-webkit-background-size: 30px 30px;
	-o-background-size: 30px 30px;
	-ms-background-size: 30px 30px;
}

#Recommend .Facebook .FbBox p {
	font-size: 83%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

#Recommend .Tweet a,
#Recommend .FacebookWidget .FbBox a {font-size: 90%;}

#Recommend .Thumb {
	position: relative;
	width: 110px;
	height: 110px;
	top: 2em;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}

#Recommend .TextArea {
	position: absolute;
	z-index: 1;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 60px 0 0;
}

#Recommend .Img + .TextArea {background: url(/image/jp/r5/top/top_bg_recommend.png) repeat-x;}
#Recommend .Stock .Img + .TextArea {background: none;}

#Recommend .TextArea p {
	padding: 0 15px 10px 15px;
	font-size: 90%;
	line-height: 140%;
}

#Recommend .Column1 .Tag,
#Recommend .Column2 .Tag {
	min-height: 30px;
	margin: 0 15px;
	padding: 5px 0;
	border-top: solid 1px rgba(255, 255, 255, .2);
}
#Recommend .Stock .Tag,
#Recommend .FacebookWidget .Tag {border-top: solid 1px rgba(0, 0, 0, .1);}
#Recommend .Red1 .Tag,
#Recommend .Red2 .Tag,
#Recommend .Red3 .Tag,
#Recommend .Red4 .Tag {border-top: solid 1px rgba(255, 255, 255, .3);}
#Recommend .Facebook .Tag,
#Recommend .Twitter .Tag,
#Recommend .Gray1 .Tag,
#Recommend .Gray2 .Tag,
#Recommend .Gray3 .Tag,
#Recommend .Gray4 .Tag {border-top: solid 1px rgba(255, 255, 255, .15);}

#Recommend .Column1 .Tag:before,
#Recommend .Column2 .Tag:before {
	content: "";
	display: inline-block;
	width: 0;
	height: 30px;
	margin: 0 0 0 -.36em;
	background-color: #c00;
	vertical-align: middle;
}

#Recommend .Column1 .Tag ul,
#Recommend .Column2 .Tag ul {
	display: inline-block;
	margin: 0 0 0 2px;
	vertical-align: middle;
}

#Recommend .Column1 .Tag li,
#Recommend .Column2 .Tag li {
	float: left;
	font-size: 67%;
	padding: 0 10px;
	border-left: solid 1px rgba(255, 255, 255, .2);
}
#Recommend .Stock .Tag li,
#Recommend .FacebookWidget .Tag li {border-left: solid 1px rgba(0, 0, 0, .1);}
#Recommend .Red1 .Tag li,
#Recommend .Red2 .Tag li,
#Recommend .Red3 .Tag li,
#Recommend .Red4 .Tag li {border-left: solid 1px rgba(255, 255, 255, .3);}
#Recommend .Facebook .Tag li,
#Recommend .Twitter .Tag li,
#Recommend .Gray1 .Tag li,
#Recommend .Gray2 .Tag li,
#Recommend .Gray3 .Tag li,
#Recommend .Gray4 .Tag li {border-left: solid 1px rgba(255, 255, 255, .15);}

#Recommend .Column1 .Tag li:first-child,
#Recommend .Column2 .Tag li:first-child {
	padding: 0 10px 0 0;
	border-left: 0 none;
}

#Category {display: none;}
.JS #Category {
	display: block;
	position: relative;
	margin: 40px 0 0;
	padding: 0 0 10px;
	background-color: #222;
}
#Category:after {
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	top: -15px;
	left: 50%;
	margin: 0 0 0 -15px;
	border-bottom: solid 15px #222;
	border-left: solid 15px transparent;
	border-right: solid 15px transparent;
}

#Category h2,
#Category h3 {
	width: 965px;
	margin: 0 auto;
	padding: 20px 0 15px;
	font-size: 76%;
	font-weight: normal;
	text-align: center;
	color: #fff;
	background-image: none;
}

#Category ul {
	width: 965px;
	margin: 0 auto;
	overflow: hidden;
}

#Category li {
	float: left;
	width: 25%;
	font-size: 76%;
}
#Category li:nth-child(4n+1) {clear: both;}

#Category li a {
	position: relative;
	display: inline-block;
	margin: 0 15px 13px 0;
	padding: 0 0 0 25px;
}
#Category li a:link,
#Category li a:visited,
#Category li a:hover,
#Category li a:active {
	color: #fff;
	text-decoration: none;
}
#Category li a:after {
	content: "";
	position: absolute;
	display: block;
	width: 17px;
	height: 17px;
	top: 0;
	left: 0;
	border: solid 1px #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.PC #Category li a:hover:after,
.PC #Category li a:active:after,
#Category li.Current a:after {
	width: 15px;
	height: 15px;
	border: solid 2px #e60027;
}

#Category li a:before {
	content: "";
	position: absolute;
	display: none;
	width: 7px;
	height: 7px;
	top: 6px;
	left: 6px;
	background-color: #e60027;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.PC #Category li a:hover:before,
.PC #Category li a:active:before,
#Category li.Current a:before {display: block;}



/* Contents
=========================================================================================== */

#Contents {
	position: relative;
	z-index: 3;
	padding: 40px 0 0;
}


/* --- Information --- */

#Contents .Column2 {position: relative;}

#Contents .ImportantInfo {
	position: absolute;
	top: 10px;
	right: 10px;
}

#Contents .ImportantInfo li {
	float: left;
	white-space: nowrap;
}

#Contents .ImportantInfo li img {
	margin-right: 10px;
	vertical-align: middle;
}

#Contents .ImportantInfo li a:link,
#Contents .ImportantInfo li a:visited {color: #333;}
#Contents .ImportantInfo li a:hover,
#Contents .ImportantInfo li a:active {color: #b1000e;}



/* Page Top Link
=========================================================================================== */

.PageTop {padding-top: 20px;}



/* Footer
=========================================================================================== */

/* --- Fat Banner --- */

.FatBanner {
	position: relative;
	z-index: 3;
}

.FatBanner .SmallTextStyle {
	height: 3.6em;
	font-size: 83%;
	line-height: 110%;
}


/* --- Footer List --- */

.FooterList {
	position: relative;
	clear: both;
	z-index: 3;
	background-color: #f2f2f2;
	border-top: solid 1px #fff;
}

.FooterListSet {
	width: 935px;
	margin: 0 auto;
	padding: 10px 0 15px;
}

.FooterList ul {margin: 0;}


/* --- Fat Menu --- */

.FatMenuWide {
	position: relative;
	z-index: 3;
}


/* --- Footer --- */

#Footer {
	position: relative;
	z-index: 3;
}



/* Share Buttons
=========================================================================================== */

ul#ShareButtons {
	margin: 0 0 -15px;
	text-align: right;
}

ul#ShareButtons li {
	display: inline-block;
	overflow: hidden;
}

ul#ShareButtons li#SbGplusone {
	width: 83px;
	height: 28px;
}

ul#ShareButtons li#SbFacebook {
	width: 124px;
	height: 28px;
}

ul#ShareButtons li#SbTwitter {
	width: 90px;
	height: 28px;
	font-size: 90%;
	text-align: left;
}

ul#ShareButtons li iframe.twitter-share-button {width: 118px !important;}

ul#ShareButtons li#SbHatena {}



/* for Responsive Web Design
=========================================================================================== */

.Under995 #Search .BtnOpen a.Current:after,
.Under995 #CountryRegion .BtnOpen a.Current:after,
.Under995 #UltraGlobalNavi .BtnOpen a.Current:after {display: none !important;}

.Under995 #TopImg,
.Under995 #TopMovie {margin-top: 0 !important;}

.Under995 #TopCover {display: none !important;}
