
*     { font-size: 1.0em; line-height: 1.35em; }
big   { font-size: larger; }
small { font-size: smaller; }

h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0em 0.1em;
	font-family: 'Trebuchet MS', Tahoma, sans-serif;
	font-weight: bold;
	font-variant: normal;
}

h1 { font-size: 2.00em; }
h2 { font-size: 1.78em; }
h3 { font-size: 1.59em; }
h4 { font-size: 1.41em; }
h5 { font-size: 1.26em; }
h6 { font-size: 1.12em; }

.maintitle {
	margin: 0.1em 0em 0.1em;
	border-bottom: 1px solid #999;
}

.subtitle {
	margin: 0em 0em 0.5em;
	font-size: 1.0em;
	font-weight: normal;
	color: #999;
}

p {
	margin: 0.5em 0em 1.0em;
}

a img {
	border: none;
}

a {
	text-decoration: none;
}

a:link {
	color: #491;
}

a:active, a:hover {
	color: #4a1;
}

a:visited {
	color: #582;
}


html {
	margin: 0px;
	padding: 0px;
	font-size: x-small;
}

body {
	margin: 0px;
	padding: 0px;
	background: #eee;
	position: relative;
	font-family: Tahoma, sans-serif;
	font-size: 127%;
}

#page {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #efe;
	color: #020;
	z-index: 0;
}

#header {
	// background: url('gradient-bu.png') repeat-x bottom;
	background: url('banner-background.jpg') no-repeat center;
	border-bottom: 1px solid #999;
	z-index: 2;
}

#billboard {
	background: url('billboard-background.jpg') no-repeat center;
	min-width: 780px;
	margin: 0px 0px -120px;
	z-index: 1;
}

#billboard-inner {
	position: relative;
	width: 780px;
	height: 480px;
	margin: 0px auto;
}

#body {
	min-width: 780px;
	z-index: 2;
}

#body-inner {
	width: 780px;
	margin: 0px auto;
	padding: 0px;
}

#maincol {
	margin-right: 33%;
	padding: 64px 10px 10px 10px;
}

#sidecol {
	float: right;
	width: 33%;
	margin: 0px;
	padding: 10px 0px;
}

#footer {
	clear: both;
	background: white url('gradient-td.png') repeat-x top;
	border-top: 1px solid #999;
	z-index: 1;
}

#footer-inner {
	width: 760px;
	margin: 0px auto;
	padding: 0px 10px 10px;
	font-size: smaller;
}

#legalnotices {
	color: #999;
}

#banner {
	position: relative;
	margin: 0px 10px;
	height: 64px;
	min-width: 760px;
}

#banner-logo {
	position: absolute;
	top: 8px;
	left: 0px;
}

#banner-logotext {
	position: absolute;
	top: 4px;
	left: 64px;
	margin: 0px;
	padding: 56px 0px 0px 0px;
	height: 0px;
	width: 257px;
	background: url('logotext.png') no-repeat;
	overflow: hidden;
}

#banner-slogan {
	position: absolute;
	top: 15px;
	left: 340px;
	margin: 0px;
	padding: 48px 0px 0px 0px;
	height: 0px;
	width: 288px;
	background: url('slogan.png') no-repeat;
	overflow: hidden;
}

#banner-pikachu {
	position: absolute;
	top: 0px;
	right: 0px;
}

#bulbapedia-banner {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 600px;
	height: 135px;
}

#bulbapedia-logoicon {
	position: absolute;
	top: 0px;
	left: 0px;
}

#bulbapedia-logotext {
	position: absolute;
	top: 32px;
	left: 140px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: Georgia, serif;
	font-weight: normal;
	font-variant: small-caps;
	font-size: 36px;
	color: #3e7614;
}

#bulbapedia-slogan {
	position: absolute;
	top: 64px;
	left: 144px;
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 1.26em;
	color: #3e7614;
}

#bulbapedia-linkbar {
	position: absolute;
	top: 100px;
	left: 140px;
	padding: 0px 0.9em;
	border: 1px solid #491;
	border-radius: 0.9em;
	-moz-border-radius: 0.9em;
	-webkit-border-radius: 0.9em;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 90%;
}

#billboard-blurb {
	display: none;
	position: absolute;
	top: 240px;
	left: 80px;
	width: 480px;
	font-family: Georgia, serif;
	font-size: 2.0em;
	color: #333;
}

#bulbapedia-search {
	position: absolute;
	top: 160px;
	left: 72px;
	margin: 0px;
	width: 464px;
	border: 1px solid #8a8;
	background: white url('gradient-bu.png') repeat-x bottom;
	color: #333;
}

#bulbapedia-search .leftcol {
	padding: 8px;
	width: 32px;
	background: none;
}

#bulbapedia-search .rightcol {
	margin-left: 48px;
}

#search-examples {
	margin-bottom: 0px;
	font-size: smaller;
	color: #999;
}

#bulbanews-sidebar #bulbanews-logo {
	display: block;
	margin: 0.1em auto;
}

#bulbagarden-linkbar { 
	padding: 1px 0px;
	min-width: 780px;
	background: #cfc url('linkbar-gradient.png') repeat-x bottom;
	text-align: center;
	border-bottom: 1px solid #8a8;
	z-index: 3;
}

.linkbar {
	display: block;
	margin: 0px;
	padding: 2px;
}

.linkbar li {
	display: inline;
	padding: 0em 0.2em;
}

.linkbar a {
	text-decoration: none;
	padding: 1px 2px;
}

.linkbar a:link {
	color: #491;
}

.linkbar a:hover {
	background: #efe;
	outline: 1px solid #693;
}

.linkbar a:active {
	background: #afa;
	outline: 1px solid #693;
}

.floatcontainer {
	width: 100%;
	overflow: auto;
}

.sitebox,
.sitebox2,
.sidebar,
.sidebar-sitebox {
	border: 1px solid #999;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	overflow: auto;
	margin: 1.0em auto;
}

.sitebox {
	background: white url('gradient-rl.png') repeat-y 112px;
}

.sitebox2 {
	background: white url('gradient-bu.png') repeat-x bottom;
}

.sidebar,
.sidebar-sitebox {
	background: white url('gradient-lr.png') repeat-y left;
}

.sidebar-sitebox {
	text-align: center;
}

.sitebox .leftcol {
	float: left;
	text-align: center;
	width: 160px;
	border-right: 1px solid #999;
}

.sitebox .rightcol {
	margin-left: 160px;
	border-left: 1px solid #999;
	padding: 4px 8px;
}

.sitebox2 .leftcol {
	display: none;
}

.sitebox2 .rightcol,
.sidebar-inner {
	padding: 4px 8px;
}

.sitebox .rightcol .maintitle,
.sitebox2 .rightcol .maintitle,
.sidebar-inner .maintitle {
	margin: -4px -8px 0.1em;
	padding: 0em 8px;
}

.sitebox2 .rightcol hr,
.sitebox2 .rightcol hr,
.sidebar-inner hr {
	margin: 0px -8px;
	border: none;
	border-bottom: 1px solid #999;
}

.sitebox .linkbar,
.sitebox2 .linkbar,
.sidebar-inner .linkbar {
	background: #cfc;
	margin: 0.5em -8px -4px;
	text-align: center;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius: 0px 0px 8px 8px;	
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.sitebox .rightcol .linkbar {
	border-bottom-left-radius: 0px;
	-moz-border-radius: 0px 0px 8px 0px;
	-webkit-border-bottom-left-radius: 0px;	
}

#searchform div {
	text-align: center;
}

#searchInput {
	width: 66.7%;
}

.feeditem-title {
	margin: 0.1em 0em 0.1em;
	border-bottom: 1px solid #8a8;
}

.feeditem-title a:link, .feeditem-title a:visited {
	color: inherit;
	text-decoration: none;
}

.feeditem-title a:hover, .feeditem-title a:active {
	color: #4a1;
}

.feeditem-date {
	margin: 0.1em 0em 0.1em;
	font-size: 0.90em;
	color: #8a8;
}

.feeditem-summary {
	text-align: justify;
}
