@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
html{ font:12px/22px ''; font-family:Arial, Helvetica,'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#3e3e3e; background-color:#FFF;}
body{ width:100%; margin:0 auto;word-break: break-all;}
ul,li{ list-style:none;}
a{ font:12px/22px Arial, Helvetica,'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#3e3e3e; text-decoration:none;}
a:hover{color:#0062b0; text-decoration:none;}
img{ border:none;vertical-align: top;}
.left{ float:left;}
.right{ float:right;}
.line{ clear:both; float:left; overflow:hidden; width:100%; height:1px; border-top:1px dashed #e3e3e3;}
.font12{ font:12px/22px Arial, Helvetica,'Microsoft Yahei', 'Hiragino Sans GB', sans-serif color:#3e3e3e;}
.font12gry{ font:12px/22px Arial, Helvetica,'Microsoft Yahei', 'Hiragino Sans GB', sans-serif color:#9c9b9b;}
table{ border-collapse:collapse;}
*:focus{ outline:none;}
.clearfix{*zoom: 1;}
.clearfix:after{ display:table; content:''; clear:both;}
header,main,aside,section,article,footer{ display:block;}