@charset "utf-8";

/* CSS Document */

/*++++++++++++++++++++++++++++++++首页+++++++++++++++++++++++++++*/

/*------顶部通栏广告------*/
.inAction {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}

/*------首页导航------*/
.ebHade {
    width: 100%;
    height: 76px;
    border-bottom: 3px solid #0062b0;
}
.ebHadeCont {
    width: 1000px;
    height: 76px;
    margin: 0 auto;
}
.ebHadeCont .divLogo {
    float: left;
    width: 223px;
    height: 76px;
}
.ebHadeCont .divLogo a {
    display: block;
    padding: 23px 0;
}
.hadeRight {
    float: right;
    width: 620px;
    height: 76px;
}
.selectDivIn {
    float: left;
    overflow: hidden;
    width: 300px;
    height: 34px;
    margin: 24px 10px 0 0;
}
.selectDivIn input {
    float: left;
    height: 34px;
    border: none;
}
.selectDivIn .textInput {
    width: 240px;
    padding: 0 0 0 15px;
    background: url(http://imgs.ebrun.com/images/201501/sele_bg02.jpg) no-repeat left top;
    font: 16px/34px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #999999;
}
.selectDivIn .buttonInput {
    width: 45px;
    background: url(http://imgs.ebrun.com/images/201501/sele_bg02.jpg) no-repeat right top;
    cursor: pointer;
}
.foucinput {
    color: #333333;
}
.hadeRight ul {
    display: block;
    float: left;
    width: 308px;
}
.hadeRight ul li {
    position: relative;
    display: block;
    float: left;
    height: 50px;
    margin: 20px 0 0 10px;
    z-index: 999999;
}
.hadeRight ul .qiubd_show {
    display: block;
    width: 64px;
    height: 40px;
    background: url(http://imgs.ebrun.com/images/201505/icon40.jpg) left top no-repeat;
}
.hadeRight ul .eb_vip {
    display: block;
    width: 70px;
    height: 38px;
    margin-top: 1px;
    background: url(http://imgs.ebrun.com/images/2017/eb-vip.png) left bottom no-repeat;
}
.hadeRight ul .eb_vip:hover {
    display: block;
    width: 70px;
    height: 38px;
    margin-top: 1px;
    background: url(http://imgs.ebrun.com/images/2017/eb-vip.png) left top no-repeat;
}
.hadeRight ul .qiubd_show:hover {
    background: url(http://imgs.ebrun.com/images/201505/icon45.jpg) left top no-repeat;
}
.hadeRight ul .weixin_show {
    display: block;
    width: 40px;
    height: 40px;
    background: url(http://imgs.ebrun.com/images/201501/icon19.jpg) left top no-repeat;
}
.hadeRight ul .weixin_show:hover {
    background: url(http://imgs.ebrun.com/images/201505/icon41.png) left top no-repeat;
}
.hadeRight ul .shouji_show {
    display: block;
    width: 40px;
    height: 40px;
    background: url(http://imgs.ebrun.com/images/201501/icon20.jpg) left top no-repeat;
}
.hadeRight ul .shouji_show:hover {
    background: url(http://imgs.ebrun.com/images/201505/icon42.png) left top no-repeat;
}
.hadeRight ul .showWei {
    display: none;
    position: absolute;
    width: 140px;
    height: 168px;
    left: -50px;
    top: 42px;
    background: url(http://imgs.ebrun.com/images/201501/show_bg.png) no-repeat left top;
}
.hadeRight ul .showWei img {
    float: left;
    width: 112px;
    height: 112px;
    margin: 25px 0 0 15px;
}
.hadeRight ul .showWei span {
    display: block;
    clear: both;
    float: left;
    overflow: hidden;
    width: 120px;
    padding: 0 10px;
    font: 12px/30px Times New Roman, SimSun, Serif;
    color: #8c8c8c;
}
.hadeRight ul .showWeiLong {
    height: 336px;
    background: url(http://imgs.ebrun.com/images/201507/show_bg02.png) no-repeat left top;
}
.hadeRight ul .showWei .img23 {
    margin: 10px 0 0 15px;
}
.hadeRight ul .loginDiv {
    display: none;
    position: absolute;
    width: 116px;
    height: 197px;
    right: 0;
    top: 42px;
    background: url(http://imgs.ebrun.com/images/201501/show_bg01.png) no-repeat left top;
}
.hadeRight ul .loginDiv a {
    display: block;
    float: left;
    width: 80px;
    padding: 0 18px;
    font: 16px/36px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.hadeRight ul .loginDiv a:hover {
    color: #0062b0;
}
.hadeRight ul .loginDiv .firstA {
    overflow: hidden;
    height: 36px;
    margin-top: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hadeRight ul li .imgIcon img {
    display: block;
    border-radius: 50%;
}

/*------首页菜单------*/
.ebMenu {
    width: 100%;
    height: 88px;
    background-color: #fbfbfb
}
.menuCont {
    width: 1000px;
    height: 58px;
    margin: 0 auto;
}
.menuCont ul {
    display: block;
    float: left;
    height: 52px;
    padding: 2px 0;
}
.menuCont ul li {
    display: block;
    float: left;
    margin: 0 22px;
    width: 60px;
}
.menuCont ul li a {
    font: 15px/26px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.menuCont ul li a:hover {
    color: #0062b0;
}
.menuCont .wF364 {
    width: 366px;
    overflow: hidden;
}
.menuCont .wF240 {
    width: 237px;
}
.menuCont .wF160 {
    width: 158px;
}
.menuCont ul .wf35 {
    width: 35px;
}
.menuCont ul .wfbold a {
    font-weight: bold;
}
.vLine {
    overflow: hidden;
    float: left;
    width: 1px;
    height: 42px;
    background-color: #cbcbcb;
    margin: 8px 13px;
}
.menu_icon{
	width:100%;
	height:30px;
	background:#f6f4f4;
	}
.menu_icon ul{
	width:977px;
	height:30px;
	padding-left:23px;
	margin:0 auto;}
.menu_icon ul li{
	float:left;
	margin-right:28px;
	}
.menu_icon li img{
	display:block;
	float:left;
	margin-right:7px;
	}
.menu_icon li a{
	display:block;
	float:left;
	display:inline-block;
	font: 13px/32px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
	color:#323232;
	}
.menu_icon li a:hover{
	font: 13px/32px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
	color:#0062b0;
	}			

/*------首页左侧栏模块儿------*/
.indexLeft {
    clear: both;
    float: left;
    width: 640px;
    margin-top: 5px;
}
.indexFire {
    display: block;
    float: left;
    overflow: hidden;
    width: 640px;
    height: 80px;
    margin-top: 25px;
}
.indexFire dt, .indexFire dd {
    display: block;
    float: left;
    overflow: hidden;
}
.indexFire dt {
    width: 120px;
    height: 80px;
}
.indexFire dd {
    width: 440px;
    height: 28px;
    padding-left: 10px;
}
.indexFire .titleDd {
    width: 510px;
    height: 26px;
    margin-bottom: 4px;
}
.indexFire dd a {
    font: 14px/28px Times New Roman, SimSun, Serif;
    color: #333;
}
.indexFire dd .fimal {
    font-family: arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
}
.indexFire dd em {
    padding: 0 10px;
    font-style: normal;
    font: 14px/28px Times New Roman, SimSun, Serif;
    color: #bfbfbf;
}
.indexFire .ddH {
    display: block;
    float: left;
    overflow: hidden;
    width: 510px;
}
.indexFire .ddH a {
    font: 22px/26px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.indexFire a:hover {
    color: #0062b0;
}
.indexFire .ddFire {
    display: block;
    float: right;
    width: 46px;
    background: url(http://imgs.ebrun.com/images/201501/icon22.jpg) no-repeat left center;
    padding-left: 24px;
    font: 14px/26px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.indexFire .ddFire a {
    font: 14px/26px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.indexFire .ddFire a:hover {
    font: 14px/26px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.indexFire .darIcon {
    background: url(http://imgs.ebrun.com/images/201501/icon30.jpg) no-repeat left center;
}

/*------首页左侧栏标题------*/
.indexH {
    clear: both;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 46px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 2px solid #0062b0;
    margin-top: 30px;
}
.mtH {
    margin-top: 35px;
}
.indexH h3 {
    display: block;
    float: left;
    height: 46px;
    padding-left: 4px;
    font: bold 24px/46px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.indexH a {
    font: bold 24px/46px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.indexH a:hover {
    color: #0062b0;
}
.indexH .advice {
    display: block;
    float: left;
    width: 70px;
    height: 30px;
    margin-top: 7px;
    margin-left: 30px;
}
.indexH span {
    display: block;
    float: right;
    width: 470px;
    height: 46px;
    text-align: right;
}
.indexH span a {
    display: block;
    position: relative;
    float: right;
    margin: 0 15px;
    font: 17px/47px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #8c8c8c;
}
.indexH span .mar_19 {
    margin-right: 19px;
}
.indexH span a img {
    position: absolute;
    top: 2px;
    right: -18px;
}

/*------频道模块儿------*/
.indexSolid {
    height: 130px;
}
.indexSolid dt {
    width: 150px;
    height: 130px;
}
.indexSolid dt img {
    width: 150px;
    height: 100px;
}
.indexSolid dt span {
    display: block;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 28px;
    border-bottom: 2px solid #0062b0;
    background-color: #fafafa;
    text-align: center;
}
.indexSolid dt span a {
    font: 14px/28px Times New Roman, SimSun, Serif;
    color: #333;
}
.indexSolid dd {
    width: 470px;
    height: 34px;
    padding-left: 20px;
}
.indexSolid dd a {
    font-size: 16px;
    font-family: arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
}
.indexSolid dd em {
    padding: 0 10px;
    font-style: normal;
    font: 14px/28px Times New Roman, SimSun, Serif;
    color: #dadada;
}
.indexSolid .titleDd {
    width: 470px;
    margin-bottom: 8px;
}
.indexSolid .ddH {
    width: 470px;
}

/*------两个带标题小模块儿------*/
.listSolid {
    clear: both;
    float: left;
    overflow: hidden;
    width: 640px;
    height: 518px;
    margin-top: 30px;
}
.singSolid {
    float: left;
    overflow: hidden;
    width: 300px;
}
.singMar {
    margin-top: 15px;
}
.singSolid .rH3 {
    overflow: hidden;
    width: 100%;
    height: 46px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 2px solid #0062b0
}
.singSolid .rH3 span, .singSolid .rH3 span a, .singSolid .rH3 h3 a {
    font: bold 24px/46px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
    background: none;
}
.singSolid .rH3 span a:hover {
    color: #0062b0;
}
.singSolid .rH3 h3 a:hover {
    color: #0062b0;
}
.right {
    float: right;
}

/*-------与电商会议模块相同--------*/
.meetDiv {
    overflow: hidden;
    clear: both;
    float: left;
    width: 100%;
    margin-top: 15px;
}
.meetDiv p {
    padding: 5px 0 20px 0;
    font: 16px/16px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.meetDiv p a {
    font: 16px/16px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.meetDiv p a:hover {
    font: 16px/16px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #0062b0;
}
.meetDiv dl {
    display: block;
    width: 100%;
    height: 60px;
    padding-bottom: 12px;
}
.meetDiv dl dt, .meetDiv dl dd {
    display: block;
    float: left;
    overflow: hidden;
}
.meetDiv dl dt, .meetDiv dl dt img {
    width: 120px;
    height: 60px;
}
.meetDiv dl dd {
    width: 160px;
    height: 60px;
    padding-left: 10px;
    font: 13px/22px Times New Roman, SimSun, Serif;
    color: #8c8c8c;
}
.meetDiv dl dd a {
    font: 13px/22px Times New Roman, SimSun, Serif;
    color: #8c8c8c;
}
.meetDiv dl dd a:hover {
    font: 13px/22px Times New Roman, SimSun, Serif;
    color: #8c8c8c;
}
.meetDiv dl .widthDt {
    width: 120px;
}
.meetDiv dl .widDd {
    width: 190px;
}
.meetDiv dl .widthDt img {
    width: 120px;
    height: 80px;
}

/*-------首页右侧模块儿--------*/
.indexRight {
    float: right;
    width: 320px;
    margin-top: 30px;
}
.indexSoll {
    overflow: hidden;
    width: 320px;
    height: 210px;
}
.chanSolid {
    clear: both;
    float: left;
    display: block;
    width: 318px;
    padding: 6px 0;
    border: 1px solid #e6e6e6;
    margin-top: 20px;
}
.chanSolid li {
    display: block;
    overflow: hidden;
    width: 294px;
    height: 24px;
    padding: 0 12px;
}
.chanSolid li a {
    display: block;
    float: left;
    font: 12px/24px Times New Roman, SimSun, Serif;
    color: #999999;
}
.chanSolid li a:hover {
    color: #0062b0;
}
.chanSolid li span {
    display: block;
    float: left;
    border: 1px solid #6ec789;
    border-radius: 2px;
    padding: 0 5px;
    margin: 3px 0 0 10px;
    font: 12px/16px Times New Roman, SimSun, Serif;
    color: #6ec789;
}
.indexRight .rH3 {
    clear: both;
    float: left;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid #0062b0;
}
.indexRight .rH3 p {
    position: relative;
    float: left;
    height: 26px;
    margin: 12px 10px 0 0;
    padding: 0px 5px;
    background: #e2625a;
    font: 20px/26px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #ffffff;
}
.indexRight .rH3 p img {
    display: block;
    position: absolute;
    right: -5px;
    top: 0px;
}
.indexRight .rH3 span, .indexRight .rH3 a {
    line-height: 50px;
}
.indexRight .rH3 span {
    font-size: 20px;
}

/*--------首页品牌栏目--------*/
.brand {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 5px;
}
.brand dl {
    display: block;
    float: left;
    overflow: hidden;
    width: 100%;
    margin-top: 15px;
}
.brand dl dt, .brand dl dd {
    display: block;
    float: left;
    overflow: hidden;
}
.brand dl dt {
    position: relative;
    width: 80px;
    height: 80px;
}
.brand dl dt img {
    position: absolute;
    left: 0;
    top: -100%;
    width: 80px;
    border-radius: 50%;
    height: 80px;
    z-index: 3;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all .35s;
    -ms-transition: all .35s;
}
.brand dl:hover dt img {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    transform: translateY(80px);
    -ms-transform: translateY(80px);
}
.brand dl dt a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 14px;
    padding: 58px 0 6px 0;
    font: 14px/14px Times New Roman, SimSun, Serif;
    text-align: center;
    z-index: 4;
}
.brand dl dd {
    display: block;
    float: left;
    width: 230px;
    height: 49px;
    padding-left: 10px;
}
.brand dl dd a {
    font: 13px/22px Times New Roman, SimSun, Serif;
    color: #8c8c8c;
}
.brand dl .titddH {
    margin: 10px 0 5px 0px;
    height: 16px;
}
.brand dl .titddH a {
    font: 16px/16px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all .35s;
    -ms-transition: all .35s;
}
.brand dl .titddH a:hover {
    color: #0062b0;
}
@-webkit-keyframes move {
    0% {
        color: #1b90c7;
    }
    100% {
        color: #FFF;
    }
}
@keyframes move {
    0% {
        color: #1b90c7;
    }
    100% {
        color: #FFF;
    }
}
@-moz-keyframes move {
    0% {
        color: #1b90c7;
    }
    100% {
        color: #FFF;
    }
}
@-ms-keyframes move {
    0% {
        color: #1b90c7;
    }
    100% {
        color: #FFF;
    }
}
.brand .tit01 {
    background: url(http://imgs.ebrun.com/images/201505/tit_bg00.jpg) no-repeat left top;
}
.brand .tit01 dt a {
    color: #1b90c7;
}
.brand .tit01:hover dt a {
    -webkit-animation: move .03s 0.15s linear forwards;
    -moz-animation: move .03s 0.15s linear forwards;
    animation: move .03s 0.15s linear forwards;
    -ms-animation: move .03s 0.15s linear forwards;
}
.brand .tit02 {
    background: url(http://imgs.ebrun.com/images/201607/tit_bg_011ckx.jpg) no-repeat left top;
}
.brand .tit02 dt a {
    color: #0eb659;
}
.brand .tit02:hover dt a {
    -webkit-animation: move .03s 0.15s linear forwards;
    -moz-animation: move .03s 0.15s linear forwards;
    animation: move .03s 0.15s linear forwards;
    -ms-animation: move .03s 0.15s linear forwards;
}
.brand .tit03 {
    background: url(http://imgs.ebrun.com/images/201505/tit_bg02.jpg) no-repeat left top;
}
.brand .tit03 dt a {
    color: #e59332
}
.brand .tit03:hover dt a {
    -webkit-animation: move .03s 0.15s linear forwards;
    -moz-animation: move .03s 0.15s linear forwards;
    animation: move .03s 0.15s linear forwards;
    -ms-animation: move .03s 0.15s linear forwards;
}
.brand .tit04 {
    background: url(http://imgs.ebrun.com/images/201505/tit_bg03.jpg) no-repeat left top;
}
.brand .tit04 dt a {
    color: #e55432
}
.brand .tit04:hover dt a {
    -webkit-animation: move .03s 0.15s linear forwards;
    -moz-animation: move .03s 0.15s linear forwards;
    animation: move .03s 0.15s linear forwards;
    -ms-animation: move .03s 0.15s linear forwards;
}
.brand .tit04 dd {
    position: relative;
    margin-left: 10px;
    overflow: hidden;
    width: 230px;
    height: 80px;
    padding: 0;
    border-radius: 10px;
}
.brand .tit04 dd img {
    overflow: hidden;
    width: 230px;
    height: 80px;
}
.brand .tit04 dd span {
    display: block;
    position: absolute;
    width: 100%;
    height: 36px;
    left: 0;
    bottom: 0;
    text-align: center;
    z-index: 15;
}
.brand .tit04 dd span a {
    display: block;
    width: 100%;
    height: 36px;
    overflow: hidden;
    font: 16px/36px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #FFF;
}
.brand .tit04 dd .opacitySpan {
    overflow: hidden;
    border-radius: 10px;
    background: url(http://imgs.ebrun.com/images/201501/bg08.png) repeat-x left top;
    z-index: 14;
}
.email_ding {
    position: relative;
    float: left;
    margin-top: 25px;
    height: 36px;
    width: 100%;
}
.email_ding1 {
    float: left;
    width: 243px;
    height: 34px;
    font: 14px/34px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #b8b8b8;
    border: 1px solid #0062b0;
    border-radius: 3px;
    text-indent: 7px;
}
.email_ding3 {
    float: left;
    width: 243px;
    height: 34px;
    background: url(http://imgs.ebrun.com/images/201505/em_succ.png) 7px 10px no-repeat;
    font: 16px/34px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #000000;
    border: 1px solid #0062b0;
    border-radius: 3px;
    text-indent: 30px;
}
.email_ding4 {
    float: left;
    width: 243px;
    height: 34px;
    background: url(http://imgs.ebrun.com/images/201505/em_fail.png) 7px 10px no-repeat;
    font: 16px/34px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #000000;
    border: 1px solid #0062b0;
    border-radius: 3px;
    text-indent: 30px;
}
.email_ding2 {
    width: 77px;
    height: 36px;
    margin-left: -2px;
    font: 14px/36px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    background: #0062b0;
    color: #ffffff;
    border: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}
.email_succ {
    position: absolute;
    left: 8px;
    top: 10px;
    width: 87px;
    height: 16px;
}
.email_fail {
    display: none;
    position: absolute;
    left: 8px;
    top: 10px;
    width: 87px;
    height: 16px;
}
.brand .needBtn {
    display: block;
    float: left;
    width: 92px;
    height: 28px;
    border: 1px solid #0062b0;
    border-radius: 3px;
    margin: 15px 0 0 113px;
    font: 14px/28px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #0062b0;
    text-align: center;
}
.brand .needBtn:hover {
    background-color: #0062b0;
    color: #fff;
}

/*------首页活力榜-----*/
.indexLive {
    clear: both;
    float: left;
    width: 320px;
}
.tabLive {
    clear: both;
    float: left;
    width: 320px;
    margin-top: 8px;
}
.mhotsoildl {
    display: block;
    float: left;
    width: 320px;
}
.mhotsoildl dd {
    display: block;
    float: left;
    width: 320px;
    font: 12px/18px Arial, Helvetica, sans-serif;
    color: #3e3e3e;
}
.mhotsoildl dd span {
    display: block;
    float: left;
    overflow: hidden;
    width: 26px;
    font: 18px/40px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #e2625a;
}
.mhotsoildl dd .numSpan {
    width: 90px;
    font: 14px/40px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.mhotsoildl dd .numSpan a {
    font: 14px/40px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.mhotsoildl dd .numSpan a:hover {
    font: 14px/40px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.mhotsoildl dd .colorspan {
    color: #8c8c8c;
}
.mhotsoildl dd p {
    display: block;
    float: left;
    overflow: hidden;
    width: 190px;
    height: 40px;
}
.mhotsoildl dd p a {
    font: 16px/40px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.mhotsoildl dd img {
    float: left;
}
.mhotsoildl dd p a:hover {
    color: #0062b0;
}
.mhotsoildl dd a {
    font: 12px/20px Arial, Helvetica, sans-serif;
    color: #3e3e3e;
}
.hotsoildl {
    display: block;
    float: right;
    margin-top: -5px;
    width: 294px;
    height: 40px;
    background: url(http://imgs.ebrun.com/images/201501/bg09.jpg) no-repeat left top;
}
.hotsoildl dd {
    display: block;
    float: left;
    overflow: hidden;
    width: 265px;
    height: 40px;
    padding: 0 10px 0 10px;
}
.hotsoildl dd a {
    display: block;
    overflow: hidden;
    margin-top: 12px;
    height: 24px;
    font: 14px/24px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.hotsoildl dd a:hover {
    color: #0062b0;
}
.liveNext {
    display: block;
    clear: both;
    width: 34px;
    height: 34px;
    margin-left: 145px;
    background: url(http://imgs.ebrun.com/images/201501/btn_bg01.jpg) no-repeat left top;
}
.liveNext:hover {
    background-position: right top;
}
.livePrev {
    display: block;
    clear: both;
    width: 34px;
    height: 34px;
    margin-left: 145px;
    background: url(http://imgs.ebrun.com/images/201501/btn_bg02.jpg) no-repeat left top;
}
.livePrev:hover {
    background-position: right top;
}

/***********活力榜下线通知************/
.announcement{
	width:274px;
	padding:13px 24px;
	margin-top:20px;
	background:#fefcec;
	border:1px solid #ebe4ad;
	border-radius:6px;
	font:14px/22px 'Microsoft Yahei'; color:#f76a24;
}
/*------首页电商会议-----*/
.indexMeet {
    clear: both;
    float: left;
    width: 320px;
}
.indexMeet dl {
    display: block;
    overflow: hidden;
    float: left;
    width: 320px;
    height: 92px;
    margin-top: 20px;
}
.indexMeet dl dt, .indexMeet dl dd {
    display: block;
    float: left;
    height: 92px;
}
.indexMeet dl dt {
    width: 70px;
}
.indexMeet dl dt img {
    width: 70px;
    height: 92px;
}
.indexMeet dl dd {
    width: 235px;
    height: 92px;
    padding-left: 15px;
}
.indexMeet dl .titeH {
    height: 18px;
    margin-bottom: 3px;
}
.indexMeet dl .titeH a {
    font: 16px/18px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
}
.indexMeet dl .titeP {
    height: 48px;
}
.indexMeet dl .titeP a {
    font: 13px/22px Times New Roman, SimSun, Serif;
    color: #8c8c8c;
}
.indexMeet dl .titeIcon {
    height: 20px;
    margin-top: 3px;
}
.indexMeet dl .titeIcon span {
    display: block;
    float: left;
    width: 117px;
    height: 20px;
    background: url(http://imgs.ebrun.com/images/201501/icon25.jpg) no-repeat left top;
}
.indexMeet dl .titeIcon span a {
    padding-left: 28px;
    font: 13px/20px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.indexMeet dl .titeIcon .leftIcon {
    background: url(http://imgs.ebrun.com/images/201501/icon24.jpg) no-repeat left top;
}

/*------首页电商数据-----*/
.selectDiv {
    float: right;
    width: 150px;
    margin: 10px 20px 0 0;
}
.selectDiv input {
    float: left;
    height: 32px;
    border: none;
}
.selectDiv .textInput {
    width: 89px;
    padding: 0 0 0 15px;
    background: url(http://imgs.ebrun.com/images/201501/sele_bg.jpg) no-repeat left top;
    font: 16px/32px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #999999;
}
.selectDiv .buttonInput {
    width: 46px;
    background: url(http://imgs.ebrun.com/images/201501/sele_bg.jpg) no-repeat right top;
    cursor: pointer;
}
.selectDiv .foucinput {
    color: #333333;
}
.indextSele {
    margin-top: 15px;
}
.indextSele .textInput {
    height: 24px;
    background: url(http://imgs.ebrun.com/images/201501/sele_bg03.jpg) no-repeat left top;
    font: 16px/24px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #999999;
}
.indextSele .buttonInput {
    height: 24px;
    background: url(http://imgs.ebrun.com/images/201501/sele_bg03.jpg) no-repeat right top;
}

/*------首页关键字模块-----*/
.keyWord {
    display: table;
    overflow: hidden;
    clear: both;
    float: left;
    width: 320px;
    margin-bottom: 10px;
}
.keyWord li {
    display: block;
    float: left;
    overflow: hidden;
    width: 105px;
    height: 28px;
    background-color: #53a2e1;
    margin: 1px 1px 0 0;
}
.keyWord li a {
    display: block;
    height: 28px;
    font: 14px/28px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #FFF;
    text-align: center;
}

/*.keyWord li a:hover{ color:#53a2e1; background-color:#FFF;}*/
.indexRight .rHMt {
    margin-top: -10px;
}
.indexRight .rHMt0 {
    margin-top: 0px;
}

/*------首页轮播图模块-----*/
.indexScroll {
    clear: both;
    float: left;
    width: 320px;
    height: 180px;
    margin-top: 10px;
}
.wH {
    height: 210px;
    margin-top: 0;
}
.slideshow {
    position: relative;
    overflow: hidden;
    height: 180px;
    width: 320px;
    margin: 0 auto;
}
.slideshow a {
    float: left;
    display: inline;
}
.slideshow .img {
    position: absolute;
    width: 320px;
    height: 180px;
    overflow: hidden
}
.slideshow .img span {
    position: absolute;
    width: 19999px;
    display: block
}
.slideshow .btns {
    z-index: 10;
    position: absolute;
    width: 320px;
}
.slideshow .btns b {
    position: absolute;
    width: 112px;
    display: block;
    height: 15px;
    overflow: hidden;
    top: 156px;
    right: -10px;
}
.slideshow .btns b i {
    float: left;
    overflow: hidden;
    width: 10px;
    height: 11px;
    margin-left: 5px;
    background: url(http://imgs.ebrun.com/images/201501/li_bg.png) no-repeat;
    font-size: 0px;
    cursor: pointer;
}
.slideshow .btns b i.on {
    background: url(http://imgs.ebrun.com/images/201501/currentli.png) no-repeat left top;
    cursor: default
}
.slideshow .btns span {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 28px;
    height: 50px;
    top: 64px;
    cursor: pointer;
}
.slideshow .btns .prev {
    left: 0px;
    background: url(http://imgs.ebrun.com/images/201501/btn_slideshow_left.png) no-repeat;
}
.slideshow .btns .next {
    right: 0px;
    background: url(http://imgs.ebrun.com/images/201501/btn_slideshow_right.png) no-repeat;
}
.slideshow .img span div {
    position: relative;
    float: left;
    width: 320px;
    height: 180px;
}
.slideshow .img .opactiy {
    position: absolute;
    display: block;
    width: 320px;
    height: 50px;
    left: 0;
    bottom: 0;
    background: url(http://imgs.ebrun.com/images/201501/bg03.png) repeat-x left top;
}
.slideshow .img .sChanp {
    position: absolute;
    display: block;
    width: 200px;
    height: 36px;
    left: 0;
    bottom: 0;
    padding: 14px 0 0 10px;
}
.slideshow .img .sChanp a {
    font: 16px/36px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #ffffff;
}
.soH, .soH .img, .soH .img span div {
    height: 210px;
}
.soH .btns b {
    top: 188px;
}
.soH .btns span {
    top: 80px;
}

/*****************首页轮播图模块2********************/
.indexScroll2 {
    clear: both;
    float: left;
    width: 320px;
    height: 150px;
    margin-top: 10px;
}
.slideshow2 {
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 320px;
    margin: 0 auto;
}
.slideshow2 a {
    float: left;
    display: inline;
}
.slideshow2 .img {
    position: absolute;
    width: 320px;
    height: 150px;
    overflow: hidden
}
.slideshow2 .img span {
    position: absolute;
    width: 19999px;
    display: block
}
.slideshow2 .btns {
    z-index: 10;
    position: absolute;
    width: 320px;
}
.slideshow2 .btns b {
    position: absolute;
    width: 112px;
    display: block;
    height: 20px;
    overflow: hidden;
    top: 124px;
    left: 50%;
}
.slideshow2 .btns b i {
    float: left;
    overflow: hidden;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background: url(http://imgs.ebrun.com/images/201507/currentli3.png) no-repeat;
    cursor: pointer;
    font: 12px/20px Times New Roman, SimSun, Serif;
    color: #a7a7a7;
    text-align: center;
}
.slideshow2 .btns b i.on {
    background: url(http://imgs.ebrun.com/images/201507/currentli2.png) no-repeat left top;
    cursor: default;
    color: #fff;
}
.slideshow2 .btns span {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 28px;
    height: 50px;
    top: 64px;
    cursor: pointer;
}
.slideshow2 .btns .prev {
    left: 0px;
    background: url(http://imgs.ebrun.com/images/201501/btn_slideshow_left.png) no-repeat;
}
.slideshow2 .btns .next {
    right: 0px;
    background: url(http://imgs.ebrun.com/images/201501/btn_slideshow_right.png) no-repeat;
}
.slideshow2 .img span div {
    position: relative;
    float: left;
    width: 320px;
    height: 180px;
}
.slideshow2 .img .opactiy {
    position: absolute;
    display: block;
    width: 320px;
    height: 50px;
    left: 0;
    bottom: 0;
    background: url(http://imgs.ebrun.com/images/201501/bg03.png) repeat-x left top;
}
.slideshow2 .img .sChanp {
    position: absolute;
    display: block;
    width: 200px;
    height: 36px;
    left: 0;
    bottom: 0;
    padding: 14px 0 0 10px;
}
.slideshow2 .img .sChanp a {
    font: 16px/36px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #ffffff;
}
.soH, .soH .img, .soH .img span div {
    height: 210px;
}
.soH .btns b {
    top: 188px;
}
.soH .btns span {
    top: 80px;
}

/*------首页底部横栏-------*/
.indexCooper {
    clear: both;
    overflow: hidden;
    width: 1000px;
    padding-top: 40px;
}
.inCopDiv {
    float: left;
    overflow: hidden;
    width: 230px;
    margin-right: 26px;
    border-bottom: 1px solid #e6e6e6;
}
.inCopDiv dl, .inCopDiv dl dd, .inCopDiv dl dt {
    display: block;
    overflow: hidden;
    width: 100%;
}
.inCopDiv dl {
    border-top: 2px solid #0062b0;
}
.inCopDiv dl dt {
    height: 40px;
}
.inCopDiv dl dt img {
    float: left;
    margin: 0 8px 0 10px;
}
.inCopDiv .tota {
    display: block;
    float: left;
    font: bold 18px/40px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.inCopDiv .morea {
    display: block;
    float: right;
    background: url(http://imgs.ebrun.com/images/201501/icon05.jpg) no-repeat right 10px;
    padding-right: 27px;
    font: normal 14px/40px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #8c8c8c;
}
.inCopDiv a:hover {
    color: #0062b0;
}
.inCopDiv .morea:hover {
    font: normal 14px/40px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    background-position: right -66px;
}
.inCopDiv dd {
    position: relative;
    height: 115px;
}
.inCopDiv dd img {
    width: 230px;
    height: 115px;
}
.inCopDiv dd .opacity {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 210px;
    height: 30px;
    left: 0;
    bottom: 0;
    padding: 20px 10px 0 10px;
    z-index: 14;
    background: url(http://imgs.ebrun.com/images/201501/bg03.png) repeat-x left top;
}
.inCopDiv dd .opacity a {
    font: 16px/30px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #FFF;
}
.m0 {
    margin-right: 0;
}
.doubLink a {
    float: left;
    width: 100px;
}
.inLan {
    clear: both;
    float: left;
    width: 1000px;
    margin-top: 40px;
}
.inLan div {
    position: relative;
    float: left;
    overflow: hidden;
    width: 314px;
    height: 157px;
    margin-right: 28px;
}
.inLan .mr0 {
    margin: 0;
}
.inLan div span {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 294px;
    height: 30px;
    left: 0;
    bottom: 0;
    padding: 20px 10px 0 10px;
    z-index: 14;
    background: url(http://imgs.ebrun.com/images/201501/bg03.png) repeat-x left top;
}
.inLan div span a {
    font: 16px/30px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #FFF;
}

/*------首页底部链接-------*/
.indexFoot {
    border-top: 3px solid #0062b0;
}
.indexFoot .chanFtab {
    float: left;
    width: 650px;
    margin-top: -20px;
    padding-right: 0;
}
.indexFoot .chanFtab p {
    display: block;
    width: 100%;
    height: 60px;
}
.indexFoot .chanFtab p img {
    float: left;
    margin: 10px 10PX 0 0;
}
.indexFoot .chanFtab p i {
    display: block;
    float: left;
    font: bold 25px/55px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #0062b0;
    font-style: italic;
}
.indexFoot .chanFtab span {
    display: block;
    overflow: hidden;
    float: left;
    height: 30px;
    width: 70px;
    margin-right: 40px;
}
.indexFoot .chanFtab span a {
    font: 16px/30px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.indexFoot .chanFtab span a:hover {
    color: #0062b0;
}
.indexFoot .chanFtab .wSpan {
    width: 55px;
}
.indexFoot .chanFtab .wSpan1 {
    margin-right: 8px;
}
.footecent dl dd .twoa {
    background: url(http://imgs.ebrun.com/images/201501/icon11.jpg) no-repeat left -48px;
    line-height: 22px;
}
.footecent dl dd .twoa:hover {
    line-height: 22px;
}

/*------首页页底修改-------*/
.indexFooter {
    height: 60px;
}
.indexFooter .indexFooter_40 {
    width: 35%;
    float: left;
    text-align: right;
}
.indexFooter .indexFooter_60 {
    width: 65%;
    float: left;
    text-align: right;
}
.indexFooter .indexFooter_none {
    margin-right: 0;
}
.indexFooter .letHs, .indexFooter .letHs1 {
    display: block;
    clear: both;
    float: left;
    text-align: left;
    font: normal 12px/24px Times New Roman, SimSun, Serif;
    color: #666;
}
.indexFooter .letHs1 h1 {
    display: inline;
    font: normal 12px/24px Times New Roman, SimSun, Serif;
    color: #666;
}

/*------首页页底切换tab-------*/
.indexTable {
    clear: both;
    float: left;
    width: 1000px;
    margin: 0 auto;
}
.ebHome_downLink {
    clear: both;
    float: left;
    overflow: hidden;
    width: 645px;
    margin-top: 26px;
}
.ebHome_downLink ul {
    display: block;
    padding-top: 5px;
    height: 115px;
}
.downLink_tit, .meeting_tit {
    position: relative;
    border-bottom: solid 1px #eaeaea;
    height: 35px;
}
.downLink_con {
    overflow: hidden;
    zoom: 1;
}
.downLink_tit em {
    position: absolute;
    overflow: hidden;
    background: #0062b0;
    width: 65px;
    top: 34px;
    height: 2px;
}
.downLink_tit a, .meeting_tit {
    font: normal 16px/34px Microsoft YaHei, HELVETICA;
    margin-right: 10px;
    cursor: pointer
}
.downLink_tit a {
    display: block;
    float: left;
    width: 70px;
    height: 34px;
    color: #666;
}

/*.downLink_tit a:hover{ font-weight:bold;}*/
.downLink_con li {
    float: left;
    display: block;
    width: auto;
    margin-right: 30px;
    white-space: nowrap;
}
.downLink_con li a {
    font: 12px/24px Times New Roman, SimSun, Serif;
    color: #666;
}
.mt0 {
    margin-top: 0;
}
.rightText {
    display: block;
    float: right;
    overflow: hidden;
    width: 320px;
    margin-top: 30px;
}
.rightText dt {
    display: block;
    position: relative;
    height: 32px;
    border-bottom: 1px solid #eaeaea;
}
.rightText dt a {
    display: block;
    float: left;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 30px;
    border-bottom: 2px solid #0062b0;
    font: 16px/26px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    font-weight: bold;
    color: #666;
}
.rightText dt a:hover {
    color: #0062b0;
}
.rightText dd {
    display: block;
    padding-top: 4px;
}
.rightText dd span {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 24px;
}
.rightText dd a {
    font: 12px/24px Times New Roman, SimSun, Serif;
    color: #666;
}
.rightText dd a:hover {
    color: #0062b0;
}

/*==================================电商热词详情页================================*/
.chanLeft {
    clear: both;
    float: left;
    width: 660px;
}
.chanRight {
    float: right;
    width: 300px;
    margin-top: 30px;
}

/*------面包屑导航-----*/
.titleNav {
    clear: both;
    overflow: hidden;
    width: 660px;
    padding-bottom: 2px;
    background: none;
}
.titleNav h1, .titleNav span, .titleNav a {
    display: inline-block;
    margin-right: 15px;
    font: 16px/64px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
}
.titleNav h1 {
    display: block;
    float: left;
    color: #0062b0;
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
}
.titleNav span {
    color: #999999;
}
.titleNav a:hover {
    font: 16px/64px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #0062b0;
}

/*----------电商热词详情页菜单----------*/
.tabMenu {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #e6e6e6;
}
.tabMenu li {
    display: block;
    float: left;
    width: 110px;
    height: 49px;
    cursor: pointer;
    font: 17px/49px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
    text-align: center;
}
.tabMenu .overLi {
    width: 108px;
    height: 46px;
    border-left: 1px solid #e6e6e6;
    border-top: 3px solid #0062b0;
    border-right: 1px solid #e6e6e6;
    background-color: #FFF;
    font: 17px/43px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
}

/*------左侧table标签-----*/
.tabDiv {
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.tabborder {
    border-top: 1px solid #e6e6e6;
}
.topLine {
    border-top: 1px solid #e6e6e6;
}
.chanlTitle {
    display: block;
    width: 660px;
    height: 45px;
    margin-top: 20px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #FFF;
    z-index: 999;
}
.chanlTitlePos {
    margin: 0;
    border-top: 1px solid #e6e6e6;
}
.chanlTitle li {
    display: block;
    float: left;
    height: 42px;
}
.chanlTitle li a {
    padding: 0 12px;
    font: 17px/42px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333333;
}
.chanlTitle li a:hover {
    color: #0062b0;
}
.chanlTitle li h2 {
    padding: 0 15px;
    font: normal 17px/42px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333333;
    border-bottom: 3px solid #0062b0;
}
.chanlDiv {
    overflow: hidden;
    width: 650px;
    height: 180px;
    padding: 0 5px;
    border-bottom: 1px solid #e6e6e6;
}
.titleP {
    display: block;
    overflow: hidden;
    width: 650px;
    height: 60px;
}
.titleP img {
    float: left;
    margin: 20px 10px 0 0;
}
.titleP span {
    display: block;
    float: left;
    width: auto;
}
.titleP span a {
    font: normal 22px/60px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333333;
}
.titleP span a:hover {
    color: #0062b0;
}
.chanlDiv dl {
    clear: both;
    float: left;
    display: block;
    width: 650px;
}
.chanlDiv dl dt, .chanlDiv dl dd {
    display: block;
    float: left;
    overflow: hidden;
}
.chanlDiv dl dt {
    width: 150px;
    height: 100px;
}
.chanlDiv dl dd {
    position: relative;
    width: 470px;
    padding: 0 10px 0 20px;
}
.chanlDiv dl dd p {
    display: block;
    overflow: hidden;
    margin-top: -7px;
    width: 100%;
    height: 84px;
    font: 14px/28px Times New Roman, SimSun, Serif;
    color: #8c8c8c;
}
.chanDay {
    height: 24px;
}
.chanDay span {
    display: block;
    float: left;
    font: 12px/24px Times New Roman, SimSun, Serif;
    color: #8c8c8c;
}
.chanDay span em {
    color: #e2625a;
    font-style: normal;
}
.chanDay .right {
    float: right;
}
.chanDay a {
    display: none;
    float: left;
    height: 22px;
    border: 1px solid #53a2e1;
    border-radius: 3px;
    padding: 0 10px;
    margin-left: 10px;
    font: 12px/22px Times New Roman, SimSun, Serif;
}

/*------页底引用频道页----*/
.chanFoot {
    border-top: 3px solid #0062b0;
}
.chanFtab {
    float: left;
    width: 560px;
    padding-right: 90px;
    margin-top: -30px;
}
.chanFtab p {
    display: block;
    width: 100%;
    height: 60px;
}
.chanFtab p img {
    float: left;
    margin-right: 10px;
}
.chanFtab p i {
    display: block;
    float: left;
    font: bold 25px/55px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #0062b0;
    font-style: italic;
}
.chanFtab span {
    display: block;
    overflow: hidden;
    float: left;
    height: 30px;
    width: 70px;
    margin-right: 40px;
}
.chanFtab span a {
    font: 16px/30px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.chanFtab span a:hover {
    color: #0062b0;
}
.chanFtab .wSpan {
    width: 55px;
}
.chanFtab .wSpan1 {
    margin-right: 8px;
}
.chanFoot .footecent dl dd .twoa {
    background: url(http://imgs.ebrun.com/images/201501/icon11.jpg) no-repeat left -48px;
    line-height: 22px;
}
.chanFoot .footecent dl dd .twoa:hover {
    line-height: 22px;
}

/*------右侧模块儿----*/
.chanRight {
    margin: 0;
}

/***************亚马逊政策******************/
.more_amazon {
    clear: both;
    float: left;
    width: 100%;
}
.more_amazon a {
    display: block;
    border: 1px solid #0062b0;
    font: 18px/40px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #0062b0;
    width: 298px;
    height: 40px;
    border-radius: 4px;
    margin-top: 12px;
    text-align: center;
    background: #ffffff;
    color: #0062b0;
}
.more_amazon a:hover {
    background: #0062b0;
    color: #ffffff;
}
.hotWordH {
    display: block;
    clear: both;
    float: left;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-bottom: 2px solid #dfdfdf;
    font: 20px/50px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.cri {
    display: block;
    padding-top: 8px;
    font: 14px/26px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
    margin-top: 10px;
    float: left;
}
.company {
    clear: both;
    float: left;
    width: 100%;
}
.company span {
    display: block;
    float: left;
    width: 88px;
    height: 85px;
    margin-top: 20px;
    border: 1px solid #b6b6b6;
    border-radius: 6px;
    background-color: #f1f1f1;
}
.company span img {
    width: 88px;
    height: 63px;
}
.company span .titlea {
    display: block;
    width: 88px;
    height: 22px;
    font: 12px/22px Times New Roman, SimSun, Serif;
    color: #333333;
    text-align: center;
}
.company span .titlea:hover {
    color: #0062b0;
}
.company .mlr {
    margin: 20px 15px 0 15px;
}
.kwx {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 15px;
}
.kwx a {
    display: block;
    float: left;
    height: 40px;
    padding: 0 20px;
    background-color: #e4eefb;
    margin: 5px 3px 0 0;
    font: 14px/40px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #52a3e3;
    white-space: nowrap;
}

/*==================================电商热词首页================================*/
.hoWaHead {
    width: 100%;
    height: 76px;
    border-top: 3px solid #0062b0;
}
.hoWaCont {
    width: 1000px;
    height: 76px;
    margin: 0 auto;
}
.hoWaCont p {
    display: block;
    float: left;
    width: 400px;
    height: 76px;
}
.hoWaCont p img {
    float: left;
    margin: 17px 10px 0 0;
}
.hoWaCont p i {
    display: block;
    float: left;
    font: bold 30px/60px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #0062b0;
    font-style: italic;
}
.hoWaCont .selectDivIn {
    float: right;
}
.hoWaTitle {
    height: 45px;
    border-bottom: 2px solid #dadada;
    font: italic bold 24px/42px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #0062b0;
}
.hoWlist {
    display: block;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 9px 0;
}
.hoWlist li {
    display: block;
    float: left;
    overflow: hidden;
    width: 126px;
    height: 36px;
    margin: 0 20px;
}
.hoWlist li a {
    font: 14px/36px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
}
.hoWlist li a:hover {
    color: #0062b0;
}

/*---------对联--------*/
.distich {
    position: absolute;
    z-index: 99999;
    _position: absolute;
    top: 26px;
}
.distich a {
    display: block;
    padding: 4px;
    text-align: right;
    clear: both;
}
.distich_left {
    left: 0;
}
.distich_left a {
    text-align: left;
}
.distich_rig {
    right: 0;
}

/*两会*/
.warp .Meeting {
    float: left;
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 280px;
    margin: 15px auto 0px auto;
    background: url(http://imgs.ebrun.com/images/201603/ztzb.jpg) no-repeat left top #0d4caa;
	/*background: url(http://imgs.ebrun.com/images/201603/zthg.jpg) no-repeat left top #0d4caa;*/
}
.Meeting_title {
    width: 630px;
    height: 26px;
    margin: 0px auto;
    padding-top: 47px;
}
.Meeting_title a.h24 {
    font: 24px/26px Arial, Hiraginosana GB, Microsoft Yahei;
    color: #FFF;
}
.Meeting_title a.h14 {
    margin-left: 10px;
    font: 14px/26px Arial, Hiraginosana GB, Microsoft Yahei;
    color: #FFF;
}
.Meeting .pos {
    position: absolute;
    top: 0px;
    right: 30px;
    width: 90px;
    height: 23px;
}
.meet {
    width: 947px;
    height: 26px;
    margin: 15px 0px 0px 27px;
    background-color: #f5f5f5;
}
.Meeting .meet .span {
    display: inline-block;
    float: left;
    width: 60px;
    height: 26px;
    margin-right: 13px;
    background-color: #f9a934;
    color: #fff;
    font: 13px/26px Times New Roman, SimSun, Serif;
    text-align: center;
}
.Meeting .meet .texiao {
    position: relative;
    float: left;
    width: 870px;
    height: 26px;
    overflow: hidden;
}
.Meeting .meet .texiao .new {
    position: absolute;
    left: 0px;
    top: 0px;
    float: left;
    width: 870px;
}
.Meeting .meet .texiao .new li {
    height: 26px;
}
.Meeting .meet .texiao .new li span {
    display: block;
    float: left;
    height: 26px;
    margin-right: 30px;
}
.Meeting .meet .texiao .new li span a {
    display: block;
    float: left;
    height: 26px;
    font: 13px/26px Times New Roman, SimSun, Serif;
    color: #555555;
}
.Meeting .meet .new li span a:hover {
    color: #0062b0;
}
.Meeting_dl {
    float: left;
    margin: 18px 0px 0px 27px;
}
.Meeting_dl dl {
    display: block;
    float: left;
    width: 150px;
    margin-right: 9px;
}
.Meeting_dl dl dt {
    height: 100px;
}
.Meeting_dl dl dd a {
    display: block;
    overflow: hidden;
    width: 150px;
    height: 30px;
    font: 12px/30px Times New Roman, SimSun, Serif;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.Meeting_dl dl dd a:hover {
    color: #f9a934;
}
.Meeting .Meeting_dl .Meeting_tips {
    overflow: hidden;
    float: left;
    width: 292px;
    height: 132px;
    background-image: none;
    margin: 0px 0px 0px 15px;
}
.Meeting .Meeting_tips li {
    background: url(http://imgs.ebrun.com/images/201501/dian_27.png) no-repeat left center;
    padding-left: 14px;
}
.Meeting .Meeting_tips li a {
    display: block;
    overflow: hidden;
    font: 14px/26px Times New Roman, SimSun, Serif;
    color: #FFF;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.Meeting .Meeting_tips li a:hover {
    color: #f9a934;
}
.bottom_f {
    position: fixed;
    _position: absolute;
    left: 50%;
    margin-left: -500px;
    bottom: 0;
    z-index: 10001;
    width: 1000px;
}

/*.dialogPush{ overflow: hidden; position: fixed;_position:absolute;left:50%;margin-left:-152px; top:100%;z-index:10001; width:440px; height: 84px; border: 1px solid #faa570; background: #fafafa; display:none; }*/
.dialogPush {
    position: absolute;
    overflow: hidden;
    left: 50%;
    margin-left: -220px;
    top: -84px;
    width: 440px;
    height: 84px;
    border: 1px solid #faa570;
    background: #fafafa;
    display: none;
}
.dialogPush img {
    display: block;
    float: left;
    margin-top: -1px;
}
.dialogPush a {
    color: #333333;
}
.dialogPush  p {
    float: left;
    width: 287px;
    height: 64px;
    margin: 10px 0 0 12px;
    font: 22px/32px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif
}
.close {
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    background: url(http://imgs.ebrun.com/images/201505/kuaixun_icon1.png) left top no-repeat;
    margin: 32px 0 0 15px;
}
.close:hover {
    background: url(http://imgs.ebrun.com/images/201505/kuaixun_icon2.png) left top no-repeat;
}
.dialogPush2 {
    width: 1000px;
    position: relative;
}

/*.dialogPush2{ position: fixed;_position:absolute;left:50%;margin-left:-500px; top:100%;; z-index:1000; width:1000px; height:150px; margin-top:-150px;}*/
.close2 {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
    background: url(http://imgs.ebrun.com/images/201508/ad_b01.png) left top no-repeat;
}
.close2:hover {
    background: url(http://imgs.ebrun.com/images/201508/ad_b02.png) left top no-repeat;
}
.advice_r {
    display: none;
    position: fixed;
    right: 25px;
    bottom: 0;
    width: 20px;
    z-index: 1001
}
.chongbo {
    display: block;
    width: 10px;
    float: left;
    background: #000;
    font: 12px/14px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #fff;
    z-index: 2;
}
.chongbo:hover {
    color: #fff;
}
.close3 {
    display: block;
    width: 10px;
    float: left;
    background: #e1e1e1;
    font: 12px/14px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #666;
    z-index: 2;
}
.close3:hover {
    color: #666;
}
.details_s {
    width: 54px;
    height: 54px;
    margin-top: -208px;
    background: url(http://imgs.ebrun.com/images/201511/saoma.png);
    cursor: pointer;
}
.details_q {
    width: 54px;
    height: 54px;
    margin-top: -152px;
    background: url(http://imgs.ebrun.com/images/201511/qbd02.png);
    cursor: pointer;
}
.details_e {
    width: 106px;
    height: 130px;
    margin-top: -340px;
}
.pub_rigFloat a {
    display: block;
    width: 100%;
    height: 100%;
}

/*************首页修改*****************/
.linkAS a {
    overflow: hidden;
    width: 305px;
    height: 28px;
    white-space: normal;
    text-overflow: clip;
}

/*****************双11*********************/
.doubleOne {
    clear: both;
    position: relative;
    width: 1000px;
    margin: 0 auto 0 auto;
    padding: 20px 0 14px 0;
    border-bottom: 2px solid #ffdeca;
}
.doubleOne_title {
    display: block;
    width: 1000px;
    height: 46px;
    background: #000000;
}
.doubleOne_title .blackfive_p {
    background: url(http://imgs.ebrun.com/images/201511/blackfive_five.png) left 5px no-repeat;
    padding-left: 40px;
}
.doubleOne_title p {
    float: left;
    margin-left: 300px;
    font: 26px/46px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #fff;
}
.doubleOne_title p a {
    font: 26px/46px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #fff;
}
.doubleOne_title .countDown {
    float: left;
    width: 89px;
    height: 26px;
    margin: 10px 0 0 6px;
    padding-left: 15px;
    background: url(http://imgs.ebrun.com/images/201511/blackfive_red.png) center top no-repeat;
}
.doubleOne_title .countDown span {
    display: block;
    float: left;
    font: 14px/26px Times New Roman, SimSun, Serif;
    color: #fff;
}
.doubleOne_title .countDown .countdown {
    width: 20px;
    height: 19px;
    margin: 4px 4px 0 4px;
    background: url(http://imgs.ebrun.com/images/201511/blackfive_circle.png) center top no-repeat;
    font: 14px/19px Times New Roman, SimSun, Serif;
    color: #e7141a;
    text-align: center;
}
.doubleOne_title .doubleOne_img {
    position: relative;
    float: right;
    margin: 4px 3px 0 4px;
}
.doubleOne_weixin {
    display: none;
    position: absolute;
    right: -3px;
    bottom: 39px;
    z-index: 999999999999;
}
.doubleOne_content {
    width: 1000px;
    margin-top: 26px;
}
.doubleOne_content_wenzi {
    overflow: hidden;
    float: left;
    width: 354px;
    margin-left: 26px;
}
.doubleOne_content_wenzi p a {
    overflow: hidden;
    display: block;
    height: 32px;
    font: 22px/32px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333333;
}
.doubleOne_content_wenzi p a:hover {
    color: #0675cb;
}
.doubleOne_content_wenzi ul {
    margin-top: 8px;
}
.doubleOne_content_wenzi li {
    float: left;
    height: 30px;
    padding-left: 10px;
    background: url(http://imgs.ebrun.com/images/201510/doubleOne_dian.png) left 14px no-repeat;
}
.doubleOne_content_wenzi li a {
    display: block;
    overflow: hidden;
    height: 30px;
    font: 16px/30px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333333;
}
.doubleOne_content_wenzi li a:hover {
    color: #0675cb;
}
.doubleOne_content_dl {
    float: left;
    margin-left: 14px;
}
.doubleOne_content_dl dl {
    float: left;
    margin-left: 12px;
}
.doubleOne_content_dl dt {
    width: 180px;
    height: 100px;
}
.doubleOne_content_dl dd {
    margin-top: 4px;
}
.doubleOne_content_dl dd a {
    overflow: hidden;
    display: block;
    width: 182px;
    height: 24px;
    font: 14px/24px Times New Roman, SimSun, Serif;
    color: #333;
    text-align: center;
}
.doubleOne_content_dl dd a:hover {
    color: #0675cb;
}
.doubleOne_bottom {
    clear: both;
    position: relative;
    overflow: hidden;
    height: 38px;
    margin-top: 12px;
}
.doubleOne_bottom p {
    float: left;
    width: 76px;
    height: 30px;
    margin: 4px 0 0 26px;
    font: 14px/30px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #fff;
    background: #ffb241;
    text-align: center;
}
.doubleOne_bottom ul {
    position: absolute;
    left: 102px;
    width: 678px;
    margin-top: 4px;
    background: #f5f5f5;
}
.doubleOne_bottom li {
    float: left;
    overflow: hidden;
    width: 678px;
    height: 30px;
    margin-left: 8px;
}
.doubleOne_bottom li span {
    display: block;
    overflow: hidden;
    float: left;
    width: 218px;
    height: 30px;
}
.doubleOne_bottom li a {
    font: 14px/30px Times New Roman, SimSun, Serif;
    color: #333;
}
.doubleOne_bottom li a:hover {
    color: #0675cb;
}
.go_double11 {
    float: right;
    width: 100px;
    height: 36px;
    margin-right: 25px;
    border-radius: 3px;
    border: 1px solid #f13030;
}
.go_double11 a {
    display: block;
    width: 88px;
    height: 36px;
    padding-left: 12px;
    background: url(http://imgs.ebrun.com/images/201510/double11_left.png) 83px 13px no-repeat;
    font: 16px/36px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #f13030;
}

/**********************下载页面********************/
.download_head {
    width: 100%;
    height: 64px;
    background: #f3f3f3;
}
.download_head_con {
    width: 1000px;
    height: 64px;
    margin: 0 auto;
}
.download_head_con ul {
	height:62px;
	overflow:hidden;
}
.download_head_con div {
    float: left;
    margin-left: 14px;
}
.download_head_con div img {
    vertical-align: middle;
    margin: 0 10px 9px 0;
}
.download_head_con div span {
    font: bold italic 24px/64px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #0c64c4;
}
.download_head_con ul {
    float: right;
	padding-right: 40px;
}
.download_head_con li {
    float: left;
}
.download_head_con li img {
  margin: 31px 20px 0 20px;
}
.download_head_con li a {
  display: block;
  height: 62px;
  font: 18px/66px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
  color: #333333;
}
.download_head_con li .download_morea {
  font: 18px/60px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
  color: #0c64c4;
  border-top: 7px solid #0c64c4;
}
.download_head_con h1 a.download_morea {
  font: 18px/52px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
}
.download_head_con li a:hover {
  font: 18px/52px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
  color: #0c64c4;
  border-top: 7px solid #0c64c4;
}
.download_content {
    width: 100%;
    height: 688px;
    background: url("http://imgs.ebrun.com/images/201511/download_banner.jpg") center center no-repeat;
    background-size: cover;
}
.download_main {
    width: 1000px;
    height: 688px;
    margin: 0 auto;
}
.download_content_left {
    float: left;
    width: 430px;
    height: 688px;
}
.download_content_right {
    float: left;
    margin-left: 72px;
    padding-top: 182px;
}
.download_content_right dl {
    padding-left: 32px;
}
.download_content_right dt {
    float: left;
    width: 70px;
    height: 70px;
}
.download_content_right dd {
    float: left;
    margin-left: 18px;
    font: 64px/70px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #fff;
}
.download_content_right p {
    clear: both;
    padding-left: 32px;
    margin: 14px 0 64px 0;
}
.download_content_right ul {
    float: left;
}
.download_apple a {
    display: block;
    width: 232px;
    height: 62px;
    background: url("http://imgs.ebrun.com/images/201511/download_apple.png") center top no-repeat;
}
.download_apple a:hover {
    background: url("http://imgs.ebrun.com/images/201511/download_apple.png") center bottom no-repeat;
}
.download_android a {
    display: block;
    width: 232px;
    height: 62px;
    background: url("http://imgs.ebrun.com/images/201511/download_android.png") center top no-repeat;
}
.download_android a:hover {
    background: url("http://imgs.ebrun.com/images/201511/download_android.png") center bottom no-repeat;
}
.download_apple {
    margin-bottom: 20px;
}
.download_erweima {
    float: left;
    margin-left: 30px;
}
.download_erweima p {
    padding: 0;
    margin: 0;
    font: 14px/28px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #84baf4;
    text-align: center;
}
.download_middle {

	
    width: 1000px;
    margin: 0 auto;
}
.download_middle_left {
    float: left;
    width: 500px;
}
.download_middle_left p {
    padding: 30px 0 14px 0;
    font: 24px/36px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
    border-bottom: 1px solid #c1c1c1;
}
.download_middle_left_ul ul {
    padding-top: 18px;
}
.download_middle_left_ul li {
    width: 500px;
    height: 36px;
}
.download_middle_left_ul li a {
    overflow: hidden;
    display: inline-block;
    width: 392px;
    height: 36px;
    padding-left: 8px;
    margin-bottom: 6px;
    font: 16px/36px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #333;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.download_middle_left_ul li a:hover {
    color: #0c61c1;
}
.download_middle_left_ul li span {
    font: 16px/36px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #999;
}
.download_middle_right {
    float: left;
    width: 388px;
    margin-left: 60px;
    padding-top: 36px;
}
.download_middle_right li {
    float: left;
    margin-right: 6px;
}
.download_middle_right li a {
    display: block;
    width: 125px;
    height: 125px;
}
.download_middle_right_li1 {
    background: url(http://imgs.ebrun.com/images/201511/download_qq.png) center top;
}
.download_middle_right_li1:hover {
    background: url(http://imgs.ebrun.com/images/201511/download_qqh.png) center top;
}
.download_middle_right_li2 {
    background: url(http://imgs.ebrun.com/images/201511/download_weixin.png) center top;
}
.download_middle_right_li2:hover {
    background: url(http://imgs.ebrun.com/images/201511/download_weixinh.png) center top;
}
.download_middle_right .download_middle_right_li3 {
    margin-right: 0;
    background: url(http://imgs.ebrun.com/images/201511/download_weibo.png) center top;
}
.download_middle_right .download_middle_right_li3:hover {
    background: url(http://imgs.ebrun.com/images/201511/download_weiboh.png) center top;
}
.download_middle_right_p {
    padding: 25px 0 8px 0;
    font: 16px/30px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #999;
    text-align: center;
}
.download_middle_right_dl dl {
    width: 57px;
    float: left;
    margin-right: 25px;
}
.download_middle_right_dl dt {
    width: 57px;
    height: 57px;
    margin: 0 auto;
}
.download_middle_right_dl dd {
    font: 12px/30px Times New Roman, SimSun, Serif;
    color: #333;
    text-align: center;
}
.download_middle_right_dl dd a {
    font: 12px/30px Times New Roman, SimSun, Serif;
    color: #333;
    text-align: center;
}
.download_middle_right_dl .download_mar0 {
    margin-right: 0;
}
.download_middle_right_dl .download_big {
    width: 68px;
    margin: 0 20px 0 -6px;
}
.download_footer {
    clear: both;
    width: 100%;
    height: 110px;
    margin-top: 32px;
    background: #f3f3f3;
}
.footer_ul {
    clear: both;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    margin-top: 45px;
    padding-top: 14px;
}
.footer_ul li {
    display: block;
    text-align: center;
    font: 12px/24px Times New Roman, SimSun, Serif;
    color: #999999;
}
.footer_ul li a {
    display: inline-block;
    margin: 0 15px;
    font: 12px/24px Times New Roman, SimSun, Serif;
    color: #999999;
}
.footer_ul li a:hover {
    font: 12px/24px Times New Roman, SimSun, Serif;
    color: #999999;
}
.footer_ul li font {
    font-family: Arial, Helvetica, sans-serif;
}

/************首页页轮播图gai************/
.chanScroll_sy {
    clear: both;
    float: left;
    width: 320px;
    height: 160px;
    margin-top: 26px;
}
.slidesshow_sy {
    position: relative;
    overflow: hidden;
    height: 160px;
    width: 320px;
    margin: 0 auto;
}
.slidesshow_sy a {
    float: left;
    display: inline;
}
.slidesshow_sy .img {
    position: absolute;
    width: 320px;
    height: 160px;
    overflow: hidden
}
.slidesshow_sy .img span {
    position: absolute;
    width: 19999px;
    display: block
}
.slidesshow_sy .btns {
    z-index: 10;
    position: absolute;
    width: 320px;
}
.slidesshow_sy .btns b {
    position: absolute;
    width: 112px;
    display: block;
    height: 15px;
    overflow: hidden;
    top: 137px;
    right: -12px;
}
*html .slidesshow_sy .btns b {
    position: absolute;
    width: 112px;
    display: block;
    height: 15px;
    overflow: hidden;
    top: 156px;
    right: 0;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://imgs.ebrun.com/images/201601/sorllbg.png");
    background: none;
}
.slidesshow_sy .btns b i {
    float: left;
    overflow: hidden;
    width: 10px;
    height: 11px;
    margin-left: 5px;
    background: url(http://imgs.ebrun.com/images/201501/li_bg.png) no-repeat;
    font-size: 0;
    cursor: pointer;
}
.slidesshow_sy .btns b i.on {
    background: url(http://imgs.ebrun.com/images/201501/currentli.png) no-repeat left top;
    cursor: default
}
.slidesshow_sy .btns span {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 28px;
    height: 50px;
    top: 54px;
    cursor: pointer;
}
.slidesshow_sy .btns .prev {
    left: 0px;
    background: url(http://imgs.ebrun.com/images/201501/btn_slideshow_left.png) no-repeat;
}
.slidesshow_sy .btns .next {
    right: 0px;
    background: url(http://imgs.ebrun.com/images/201501/btn_slideshow_right.png) no-repeat;
}
.slidesshow_sy .img span div {
    position: relative;
    float: left;
    width: 320px;
    height: 160px;
}
.slidesshow_sy .img .opactiy {
    position: absolute;
    display: block;
    width: 320px;
    height: 50px;
    left: 0;
    bottom: 0;
    background: url(http://imgs.ebrun.com/images/201501/bg03.png) repeat-x left top;
}
.slidesshow_sy .img .sChanp {
    position: absolute;
    display: block;
    width: 201px;
    height: 36px;
    left: 0;
    bottom: 0;
    padding: 14px 0 0 10px;
}
.slidesshow_sy .img .sChanp a {
    font: 16px/36px Arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color: #ffffff;
}


/***************产品中心********************/
.three {
  width: 980px;
  margin: 24px auto 0 auto;
  padding-left: 20px;
}
.three dl {
  float: left;
  margin-right: 13px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-bottom: none;
}
.three dd {
  width: 309px;
  height: 28px;
  font: 14px/28px Arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
  color: #fff;
  text-align: center;
}
.chan01 {
  margin-top: 1px;
}
.three .chan01:hover {
  margin-top: 1px;
  border: 2px solid #1b70e3;
  border-bottom: none;
}
.chan01 dd {
  background: #1b70e3
}
.three .chan02:hover {
  border: 2px solid #01b1bc;
  border-bottom: none;
}
.chan02 dd {
  background: #01b1bc
}
.three .chan03:hover {
  border: 2px solid #384dc9;
  border-bottom: none;
}
.chan03 dd {
  background: #384dc9
}
.chan_read {
  width: 978px;
  margin: 0 auto;
  padding: 0 2px 0 20px;
  background: #f6f6f6;
}
.read_title strong {
  font: bold 26px/92px Arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
  color: #333333;
}
.read_title span {
  margin-left: 8px;
  font-size: 14px;
  color: #999999;
}
.chan_read_dl {
  clear: both;
}
.chan_read_dl dl {
  float: left;
  width: 308px;
  height: 79px;
  margin: 0 16px 16px 0;
  padding-top: 19px;
  border: 1px solid #e6e6e6;
  background: #fff;
}
.chan_read_dl dt {
  float: left;
  margin-left: 30px;
}
.chan_read_dl dt img {
  width: 60px;
  height: 60px;
}
.chan_read_dl dd {
  float: left;
  margin-left: 30px;
}
.chan_read_dl dd p {
  font-size: 20px;
  line-height: 36px;
  color: #333333;
}
.chan_read_dl dd span {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
.chan_ebrun {
  width: 978px;
  margin: 0 auto;
  padding: 0 2px 80px 20px;
  background: #fff;
}
.chan_ebrun_dl {
  clear: both;
}
.chan_ebrun_dl dl {
  position: relative;
  float: left;
  width: 308px;
  height: 79px;
  margin: 0 16px 16px 0;
  padding-top: 19px;
  border: 1px solid #e6e6e6;
}
.chan_ebrun_dl dt {
  float: left;
  margin-left: 26px;
}
.chan_ebrun_dl dt img {
  width: 68px;
  height: 68px;
  border: 1px soild #e5e5e5;
}
.chan_ebrun_dl dd {
  float: left;
  margin-left: 17px;
}
.chan_ebrun_dl dd p {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
.chan_ebrun_dl dd span {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  display: block;
  margin: 4px 0 8px;
}
.chan_ebrun_dl dd a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(http://imgs.ebrun.com/images/201604/chan_ewm.png) left top no-repeat;
  padding-right: 40px;
}
.chan_ebrun_dl .chan_ewm {
  display: none;
  position: absolute;
  left: 140px;
  top: 65px;
  width: 200px;
  height: 200px;
  margin: 0;
  z-index: 99;
}
.chan_ewm img {
  width: 196px;
  height: 196px;
  border: 2px solid #828282;
}
./*chan_ebrun_dl dl:hover .chan_ewm {
  display: block;
}*/
.focus {
  position: relative;
  width: 100%;
  height: 385px;
  overflow: hidden;
}
.focus .focus-list {
  position: absolute;
  top: 0;
  left: 0;
  height: 385px;
}
.focus .focus-list li {
  float: left;
  width: 100%;
  height: 385px;
}
.focus .focus-list li a {
  display: block;
  width: 100%;
  height: 100%;
}
.focus-item1 {
  background: url("http://imgs.ebrun.com/images/temp/1.jpg") no-repeat center top;
}
.focus-item2 {
  background: url("http://imgs.ebrun.com/images/temp/2.jpg") no-repeat center top;
}
.focus-item3 {
  background: url("http://imgs.ebrun.com/images/temp/3.jpg") no-repeat center top;
}
.focus ul li img, .focus ul li a {
  display: block;
}
.focus .focus-icon {
  position: absolute;
  bottom: 17px;
  left: 0;
  width: 100%;
  height: 15px;
  text-align: center;
}
.focus .focus-icon li {
  display: inline-block;
  margin: 0 8px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.focus .focus-icon li.current {
  background: rgba(255, 255, 255, 1);
}

/******为上下载页************/
.ebrun-ws-banner {
  height: 689px;
  background: url("http://imgs.ebrun.com/images/201604/ws_banner.jpg") no-repeat center top;
}
.ebrun-main {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.ebrun-btns {
  position: absolute;
  top: 392px;
  left: 42px;
  z-index: 2;
  width: 230px;
  height: 140px;
  overflow: hidden;
}
.ebrun-btns a {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}
.ebrun-btns a, .ebrun-btns a:hover {
  background: url("http://imgs.ebrun.com/images/201604/ws_down_btn.png") no-repeat;
}
.ebrun-btns .ios-btn {
  background-position: 0 0;
}
.ebrun-btns .ios-btn:hover {
  background-position: -240px 0;
}
.ebrun-btns .android-btn {
  margin-top: 20px;
  background-position: 0 -70px;
}
.ebrun-btns .android-btn:hover {
  background-position: -240px -70px;
}
.ebrun-ws-tips {
  padding: 85px 0 63px;
}
.ebrun-ws-tips img {
  display: block;
  _dipslay: inline;
  float: left;
  margin: 0 13px 0 40px;
}
.ebrun-ws-tips p {
  font-size: 18px;
  color: #999;
  line-height: 36px;
  padding-right: 36px;
}
.feedback {
  padding-top: 85px;
  padding-bottom: 115px;
}
.feedback-main {
  _display: inline;
  float: left;
  margin-left: 93px;
  margin-right: 34px;
}
.feedback p {
  color: #333;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 10px;
}
.forms-input {
  border: 1px solid #d4d4d4;
  width: 442px;
}
.text-area {
  height: 174px;
  padding: 12px 13px;
  resize: none;
  color: #999;
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 30px;
}

.feedback  .no_kong{
	width:470px;
	margin-bottom:30px;
	font:14px/20px 'Microsoft Yahei'
	; color:#f60d0d;
	text-align:right;
}

.text_area_none {
    border: 1px solid #f60d0d;
    width: 442px;
	margin-bottom:0;
}

.text {
  padding: 0 13px;
  height: 38px;
  line-height: 38px;
}
.submit {
  display: block;
  width: 160px;
  height: 45px;
  margin-top: 33px;
  background: url("http://imgs.ebrun.com/images/201604/submit.jpg") no-repeat;
}
.ad {
  float: left;
}
.ad img {
  display: block;
}
.chan_read_wrap {
  width: 100%;
  background: #f6f6f6;
  margin-top: 27px;
}
.read_title h2 {
  float: left;
  font: bold 26px/92px Arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
  color: #333333;
}
.read_title span {
  display: block;
  float: left;
  margin-left: 8px;
  font-size: 14px;
  color: #999999;
  line-height: 92px;
}

.ad-feadback {
  float: left;
  width: 320px;
  height: 380px;
  overflow: hidden;
}

.ad-feadback a {
  position: static;
  display: block;
  width: auto;
  height: auto;
}


.ad-feadback {
  float: left;
  width: 320px;
  height: 380px;
  overflow: hidden;
}

.ad-feadback a {
  position: static;
  display: block;
  width: auto;
  height: auto;
}
/* 新增广告 */
.ad{
  width: 800px;
  height: 350px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -175px;
  z-index: 999;
  opacity:1;
}
.ad .ad_bg{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.ad .ad_img{
  width: 650px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.ad a{
  width: 34px;
  height: 35px;
  position: absolute;
  right: -14px;
  top: -13px;
  background: url(http://imgs.ebrun.com/images/201605/close2.png) center top no-repeat;
}
.ad2{
  position: fixed;
  right: 30px;
  bottom: 15px;
  display: none;
}
.ad2 .close3{
  float: right;
}

/*冯涛修改20160630*/
.brand .tit01 {background: url("http://imgs.ebrun.com/images/201505/tit_bg00.jpg") no-repeat left top;}
.brand .tit02 {background: url("http://imgs.ebrun.com/images/201607/tit_bg_011ckx.jpg") no-repeat left top;}
/*徐晶晶修改2016092*/
.inAction,.gloActionDiv,.chanAction{ overflow: hidden; position: relative;padding: 0;}
.gloActionDiv{ margin-top: 20px;}
.chanAction{ clear:both; float:left; margin-top: 30px;}
.atvPoP2016{ position: absolute; bottom: 0; left: 0; height: 20px; background: rgba(0,0,0, .5); padding: 0 5px; border-radius: 0 2px 2px 0;  font: 12px/20px 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color: #fff;}

