@charset "utf-8";
/* CSS Document */
.navmenu{ min-width:1200px;height:55px; border-top:3px solid #0062b0;}
.navmenu ul{ display:block; float:left;height:55px;}
.navmenu .plul{ padding-left:30px;}
.navmenu ul li{ display:block; float:left; height:55px; width:auto; padding:0 15px;}
.navmenu ul li a{ font:16px/54px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#333333;}
.navmenu ul li a:hover{ color:#0062b0;}
.navmenu ul .logoli{ width:111px; height:55px; padding:0 10px 0 0;}
.navmenu ul .moreli{ position:relative; width:85px; height:auto; padding:0 0 0 20px; background:url(http://imgs.ebrun.com/images/201501/icon01.jpg) no-repeat 60px 22px;}
.navmenu ul .moreliover{position:relative; width:85px; height:276px; padding:0 0 0 19px; background:url(http://imgs.ebrun.com/images/201501/icon01.jpg) no-repeat 59px 21px #FFF; border:1px solid #cccccc; z-index:9999;}
.navmenu ul .moreliover a{ line-height:52px;}
.navmenu ul .moreli ul{ display:none; width:85px; height:auto; padding:0;}
.navmenu ul .moreliover ul li{width:85px; height:36px; padding:0;}
.navmenu ul .moreliover ul a{ font:16px/36px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#333333;}
.navmenu ul .moreliover ul a:hover{ color:#0062b0;}
.navmenu .selog{ float:right; position:relative; width:auto; padding:6px 30px 0 0;}
.selog .actiona{ display:block; float:right; overflow:hidden; width:100px; height:35px; margin:3px 10px 0 0;}
.selog .selectDiv{ float:right; overflow:hidden; width:190px; height:32px;margin:6px 15px 0 0;}
.selog .selectDiv input{ float:left; height:32px;border:none;}
.selog .selectDiv .textInput{width:130px; padding:0 0 0 15px; background:url(http://imgs.ebrun.com/images/201501/sele_bg.jpg) no-repeat left top;  font:16px/32px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#999999;}
.selog .selectDiv .buttonInput{ width:45px;background:url(http://imgs.ebrun.com/images/201501/sele_bg.jpg) no-repeat right top; cursor:pointer;}
.selog .selectDiv .foucinput{ color:#333333;}
.logina{ display:block; float:right; width:68px; height:30px; margin-top:6px; border:1px solid #bfbfbf; border-radius:3px; font:16px/30px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#999999; text-align:center;}
.logina:hover{color:#0062b0; border-color:#0062b0;}
.loginCha{ border:none;}
.loginCha:hover{color:#0062b0; border:none;}

/*------登陆后下拉菜单------*/
.showLiDiv{float:right;position:relative; width:auto; height:55px; right:0; margin-left:5px;}
.longinover{ overflow:hidden; position:absolute; right:-1px; top:-6px; border-left:1px solid #fbfbfb; border-right:1px solid #fbfbfb; padding-right:10px; z-index:9999; text-align:left; z-index:99999;}
.longinover p{ display:block; float:left; width:auto; zoom:1; padding:0;}
.longinover p:after{ clear:both; display:table; content:"";}
.longinover p span{ display:block; float:right; overflow:hidden; height:55px; width:77px; *display:inline-block;*float:none;padding-right:25px; margin-right:10px; margin-left:5px; background:url(http://imgs.ebrun.com/images/201501/ku_icon04.png) no-repeat center right;font:16px/55px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#333;white-space:nowrap;text-overflow:ellipsis;}
.longinover p .imgspan{display:block; float:left; overflow:hidden; *display:inline-block; width:40px; height:40px; border-radius:50%; margin:9px 9px 0 14px ;}
.longinover p .overspan{background:url(http://imgs.ebrun.com/images/201501/ku_icon05.png) no-repeat center right;}
.longinover div{ position:absolute; left:66px;  padding:0; text-indent:0; top:48px;z-index: 999; background-color: #fff; display:none; clear:both; float:left; }
.longinover div a{ display:block; clear:both; width:85px;font:16px/36px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#333;}
.longinover div a:hover{ color:#0062b0;}
.longinoverin{ border:1px solid #CCC; border-top:none; background-color:#FFF;height:160px;}
.longinoverin div{ display:block;}
.longinoverin p .imgspan{ margin:9px 9px 0 12px ;}
.longinover p .namep{ display:block; float:left; overflow:hidden; width:auto; height:55px;}
.longinover p .namep i{display:block; float:left; overflow:hidden; width:auto; height:55px; white-space:inherit; font-style:normal;text-overflow:ellipsis;}
/*---------滚动置顶菜单----------*/
.postMenu{ position:absolute; left:0; top:0; width:100%; background-color:#fbfbfb; border-bottom:1px solid #cccccc; z-index:19999999;}
/*--------分页------*/
.pagdiv{ clear:both; float:left; width:100%; margin:25px 0 0 0; padding-bottom:18px;}
.pagdiv .jiaing{ display:block; height:18px; padding-bottom:25px; text-align:center; font:18px/18px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#0062b0;}
.pagdiv ul{ display:block; width:100%; height:34px; text-align:center;}
.pagdiv ul li{height:34px; width:auto;}
.pagdiv ul li a{ display:inline-block; border:1px solid #d9d9d9; padding:0 13px; margin-right:6px; font: bold 14px/32px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#0062b0;}
.pagdiv ul li a:hover{ text-decoration:none; border:1px solid #0062b0; color:#0062b0;}
.pagdiv ul li .ahover{text-decoration:none; background-color:#0062b0; border:1px solid #0062b0; color:#FFF;}
.pagdiv ul li .ahover:hover{color:#FFF;}
.pagdiv ul li .prev{ width:60px; padding:0 0 0 12px; background:url(http://imgs.ebrun.com/images/201501/pag_icon01.jpg) no-repeat 10px center; text-align:center;}
.pagdiv ul li .next{ width:60px; padding:0 12px 0 0; background:url(http://imgs.ebrun.com/images/201501/pag_icon.jpg) no-repeat 56px center; text-align:center;}
/*-------页底--------*/
.footer{ clear:both; width:1000px; height:100px; margin:0 auto; border-top:1px solid #eaeaea; margin-top:45px; padding-top:14px;}
.footer li{ display:block; text-align:center; font:12px/24px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#666;}
.footer li a{ display:inline-block; margin:0 15px;font:12px/24px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#666;}
.footer li a:hover{font:12px/24px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#0062b0;}
.footer li font{ font-family:Arial, Helvetica, sans-serif;}
/*-------页底广告--------*/
.footeraction{ clear:both; float:left; overflow:hidden; width:100%; border-top:3px solid #cccccc; margin-top:32px;}
.footecent{ width:1000px; margin:0 auto; padding-top:30px; min-width:1000px;}
.footecent ul{ display:block; float:left; overflow:hidden; width:444px; height:138px;}
.footecent ul li{ display:block; float:left;white-space:nowrap;  margin:0 10px 10px 0;}
.footecent ul li a{ display:block; float:left; border:1px solid #bfbfbf; border-radius:3px; padding:0 14px; font:16px/34px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#333;white-space:nowrap;}
.footecent ul li a:hover{font:16px/34px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#ef7d36; border-color:#ef7d36;}
.footecent ol{ display:block; float:left; overflow:hidden; width:117px; margin:0 45px 0 45px;}
.footecent ol li{ display:block; height:40px; margin-bottom:10px;}
.footecent ol li a{ display:block; float:left; height:40px; padding-left:52px; font:16px/40px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#666;}
.footecent ol li .sinaa{ background:url(http://imgs.ebrun.com/images/201501/icon07.jpg) no-repeat left bottom;}
.footecent ol li .qqa{background:url(http://imgs.ebrun.com/images/201501/icon08.jpg) no-repeat left bottom;}
.footecent ol li .za{background:url(http://imgs.ebrun.com/images/201501/icon09.jpg) no-repeat left bottom;}
.footecent ol li a:hover{font:16px/40px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#333;background-position:left top;}
.footecent dl{ display:block; float:left; width:162px;}
.footecent .mr{ margin-right:25px;}
.footecent dl dd{ display:block; width:100%; height:44px;}
.footecent dl dd a{ display:block; height:44px; padding-left:50px; font:16px/22px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#666;}
.footecent dl dd a:hover{font:16px/22px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; background-position:left top;}
.footecent dl dd .firsta{ background:url(http://imgs.ebrun.com/images/201501/icon10.jpg) no-repeat left -48px;}
.footecent dl dd .twoa{ background:url(http://imgs.ebrun.com/images/201501/icon11.jpg) no-repeat left -48px;}
.footecent dl dt img{ margin:12px 0 0 50px;}
/*=====登录弹出层=======*/
.showshade{position: fixed;left: 0;top: 0;z-index: 999991000;width: 100%;height: 100%;
    background: -webkit-radial-gradient(center center,ellipse,rgba(15,15,15,.2) 20%,rgba(0,0,0,.7) 100%);
background: -moz-radial-gradient(center center,ellipse,rgba(15,15,15,.5) 20%,rgba(0,0,0,1) 100%);
}
.showbox{position: absolute;left: 50%;top: 50%;z-index: 999991001;width: 341px;margin-left: -210px; margin-top: -150px; padding: 10px 40px 30px;background-color: #fff;border-radius: 3px;}
.showbox li{margin-top: 20px;}
.showbox input{width: 316px;height: 48px;padding: 0 11px;border: solid 1px #dadada;font: 16px/27px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color: #8c8c8c;}
.showbox .showClose{margin-top: 0;}
.showbox .showClose a{float: right;display: block;width: 15px;height: 14px;margin-right: -30px;background: url(http://imgs.ebrun.com/images/201501/close.png) left top no-repeat;}
.showbox .showClose a:hover{background-position: left bottom;}
.showbox .nomt6{margin-top: 6px;}
.showok input{width: 340px;height: 50px;border:0;background-color: #0062b0;font: 20px/27px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;color: #ffffff; cursor:pointer;}
.chebox{zoom: 1;width: 341px; height: 18px;}
.chebox:after{content: "";display: table; clear: both;}
.chebox span{display: inline-block;height: 18px;font: 14px/18px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color: #8c8c8c;vertical-align: top;}
.chebox span input{width: 18px;height: 18px;border:0;padding: 0;margin-right: 6px;vertical-align: top;}
.chebox span a{font: 14px/18px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color: #8c8c8c;vertical-align: top;}
.chebox .fl{float: left; }

.fr{float: right;}
.showbox .solidred{border: 1px solid #e2625a}
.showbox p{margin-top: 10px;font: 14px/14px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;color: #e2625a;}
/*======微信弹出层=======*/
.showWi{display: none;}
.eb_wei{position: absolute;left: 50%;top: 50%;z-index: 999991001;width: 341px;margin-left: -210px; margin-top: -150px; background-color: #fff;width: 460px;height: 340px;border-radius: 3px;}
.eb_wei p{margin: 44px 0 0 60px;font:bold 18px/27px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;color: #0062b0;}
.eb_wei img{display: block;width: 148px;height: 148px;margin: 47px auto 0;}

/*----带icon图标的链接-----*/
.linkA{ clear:both; float:left; width:100%; padding:9px 0 14px 0;}
.linkA a{display:block; overflow:hidden; height:30px; width:265px; padding-left:15px; font:16px/30px Arial, Helvetica,'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#333; background:url(http://imgs.ebrun.com/images/201501/icon06.jpg) no-repeat left 11px; white-space:nowrap;text-overflow:ellipsis;}
.linkA a:hover{font:16px/30px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#0062b0; background-position: left -17px;}
/*----广告位-----*/
.chanAction{ clear:both; overflow:hidden; width:100%; padding-top:30px;}
.gloActionDiv{ clear:both; float:left; overflow:hidden; width:1000px; padding-top:20px;}
.xiAction{ clear:both; overflow:hidden; width:100%; margin:20px 0 -10px 0; background-color:#e4e4e4;}
.xiAction img{ width:100%;}
.leftAction{ clear:both; float:left; width:100%; margin-bottom:35px;}
.pt25{ padding-top:25px;}
.pt10{ padding-top:10px;}
.pt40{ padding-top:40px;}
/*--------页面结构三大模块-------*/
.warp{ position:relative; clear:both; width:1000px; margin:0 auto;}
.warpLeft{float:left; width:640px;}
.warpRight{ float:right; width:280px;}
/*------右侧栏标题-----*/
.rHM30{ margin-top:30px;}
.rH3{ clear:both; display:block; height:48px; border-top:2px solid #e6e6e6; font:18px/48px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#333333;}
.rH3 span{ display:block; float:left;font:20px/48px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#333333;}

.rH3 h3{ display:block; float:left;font:20px/48px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#333333;}

.rH3 strong{ display:block; float:left;font: normal 20px/48px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#333333;}
.rH3 span p{ float:left;}
.rH3 span h1{ float:left;font:20px/48px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#333333;}
.rH3 a{ display:block; float:right; background:url(http://imgs.ebrun.com/images/201501/icon05.jpg) no-repeat right 15px; padding-right:27px; font: normal 14px/48px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#8c8c8c;}
.rH3 a:hover{font: normal 14px/48px arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#0062b0; background-position:right -61px;}
.rH3 .subA{ background:none; padding-right:18px;}
/*------右侧浮动按钮返回顶部，意见反馈-----*/
.pub_rigFloat,.pub_rigFloat1{position:fixed;_position:absolute;z-index: 1;}
.detail_top{width:54px;height:54px;background:url(http://imgs.ebrun.com/images/201501/ton_bg.jpg) no-repeat right top;cursor:pointer;margin-top:-40px;}
.detail_topbg{ background:url(http://imgs.ebrun.com/images/201501/ton_bg.jpg) no-repeat left top;}
.pub_select div{ float:left;}
.details{width:54px;height:54px;background:url(http://imgs.ebrun.com/images/201511/kui_bg.png);cursor:pointer; margin-top:-96px;}
.serviceNav{ width: 100%; height:1.9rem; background-color: #FFF; border-bottom: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1; position: relative;}
.serNav li{float: left; text-align: center; width: 5.3rem; border-right: 1px solid #e1e1e1; height: 1.9rem; cursor: pointer;}
.serNav li:nth-child(3){ border: none;}
.serNav li span{ font: .65rem/1.9rem ''; color: #6e6e6e;}
.serNav li span:nth-child(2){display: inline-block;  width: 0.525rem; height: 0.375rem; margin-left: .2rem; background: url(http://imgs.ebrun.com/images/201501/play_icon2.png) left top no-repeat; background-size: 100%;}

.serNav_D{ position: absolute; left: 0; top: 1.925rem; width: 16rem; z-index: 99; background: #ffffff; border-bottom: 3px solid #f7baa5; overflow: hidden;  max-height: 8.5rem; overflow-y: auto; }
.serNav_D dl{ display: block; overflow: hidden; width: 14.75rem;   padding: .5rem .625rem ;border-bottom: 1px solid #f2f2f2;}
.serNav_D dt{ display: block; float: left; width: 4.45rem; height: 1.45rem; border: 1px solid #e1e1e1;}
.serNav_D dt img{ width: 4.45rem; height: 1.45rem;}
.serNav_D dd{ float: left; margin-left: .5rem;}
.serNav_D dd img{ display: inline-block; width: .525rem; height: .575rem; margin-right: .125rem; margin-top: .15rem;}
.serNav_D span{ border: none; color: #999; vertical-align:middle;}
.serNav_D dd p:nth-child(1){ width: 9.5rem; font: .5rem/.75rem ''; height: .75rem; overflow: hidden; margin-top: -.125rem;}
.serNav_D dd p:nth-child(2){ font: .5rem/.75rem ''; margin-top: 0.125rem;}
.serNav_D dd p:nth-child(2) span:nth-child(2){ margin-left: .5rem;}

.serNav_Y{ position: absolute; left: 0; top: 1.925rem; width: 16rem; overflow: hidden; z-index: 99; background: #ffffff;border-bottom: 3px solid #f7baa5;  max-height: 8.5rem; overflow-y: auto;}
.serNav_Y a{ display: block; padding: 0 .625rem; font: .65rem/1.65rem  ''; color: #6e6e6e; border-bottom: 1px solid #f2f2f2;}

.serNav_S{position: absolute; left: 0; top: 1.925rem; width: 16rem; overflow: hidden; z-index: 99; background: #ffffff;  border-bottom: 3px solid #f7baa5;  max-height: 8.5rem; overflow-y: auto;}
.serNav_S_ul { width: 4.75rem; max-height: 8.5rem; overflow: hidden; overflow-y: auto;}
.serNav_S_ul li{  position: relative; width: 4.75rem; height: 1.65rem; border-bottom: 1px solid #f2f2f2; box-sizing: border-box;}
.serNav_S_ul li a{ display: block; width: 3.5rem; font: .65rem/1.65rem ''; background: #ffffff; color: #6e6e6e; padding: 0 .625rem;}

.serNav_S_ul2 li{border-bottom: none; width: 4.75rem;}

.serNav_S_shi{ position: absolute;left: 4.75rem; top: 0; width: 10rem; overflow: hidden; max-height: 8.5rem; overflow-y: auto;}
.serNav_S_shi li{ width: 10rem; height: 1.65rem; padding: 0 .625rem;}
.serNav_S_shiwu li{width: 10rem; height: 1.65rem; padding: 0 .625rem;border-bottom: 1px solid #f2f2f2; box-sizing: border-box;}
.serNav_S_shi li a{ display: block; width: 4.75rem; font: .65rem/1.65rem ''; color: #6e6e6e;}

.screen_black{position: relative;}
.screen_bg{ position: absolute; left: 0; top:1px; width: 100%; height: 100%; background: #000000; opacity: .4; display: none;}
/*徐晶晶广告位样式修改2016092*/
.inAction,.gloActionDiv,.chanAction{ overflow: hidden; position: relative;padding: 0;}
.gloActionDiv{ margin-top: 20px;}
.chanAction{ clear:both; float:left; margin-top: 30px;}
.atvPoP2016{ position: absolute; bottom: 0; left: 0; height: 20px; background: rgba(0,0,0, .5) ; padding: 0 5px; border-radius: 0 2px 2px 0;  font: 12px/20px 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color: #fff;}

.inAction{width: 1000px;margin: 0 auto;}

/**广告之后隐藏样式**/
.ebj0{display:none;}


/************2016.11.11***lm****过期要删除*******/
.eleven-one-x{
	position:relative;
	width:100%;
	margin-top:40px;
	padding:0 30px 18px 30px;
	box-sizing:border-box;
	border:3px solid #ee2634;
    background:#fff;
}
.eleven-one-x-pleasure{
	position: absolute;
    left: 50%;
    top: -25px;
    background: #fff;
    text-align: center;
    width: 80%;
    margin-left: -40%;
}
.eleven-one-x-pleasure img{
	width:93%;
}
.eleven-one-x-espec img{
	margin-top:34px;
	width:100%;
}
.eleven-one-x-ques{
	width:100%;
	height:48px;
	margin:20px 0;
	overflow:hidden;
    font:18px/24px Arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color:#333;
}
.eleven-one-x dl{
	position:relative;
	width:100%;
	margin-bottom:20px;
}
.eleven-one-x dl:hover dd{
	display:none;
}
.eleven-one-x dt img{
	width:100%;
	height:
}
.eleven-one-x dd{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.55)
}
.eleven-one-x dd a{
	display:block;
	width:172px;
	height:44px;
	overflow:hidden;
	margin:36px auto;
    font: 17px/22px Arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color:#fff;
}
.eleven-right-p3{
	overflow:hidden;
	width:100%;
	height:20px;
	margin:0 auto;
    font: bold 18px/20px Arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color:#333;
	text-align:center;
}
.eleven-right-bottom{
	width:100px;
	height:100px;
	margin:15px auto 15px auto;
	border:3px solid #ee2634;
	background:#fff;
}
.eleven-right-bottom img{
	width:100px;
	height:100px;
}
.eleven-right-p4{
	width:100%;
    font: 13px/18px Arial, Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    color:#333;
	text-align:center;
}
/******广告位******/
.advert{ position:relative; clear:both; width:100%; margin-top:20px; border-bottom:1px solid #e6e6e6; padding-bottom:20px;}
.advert span{
	display:block;
	position:absolute;
	width:42px;
	height:22px;
	background:url(../images/icon57.png) left top no-repeat;
	font:14px/22px 'simson'; color:#fff;
	text-align:center;
	}
.advertDiv{ clear:both; overflow:hidden; width:100%; border-bottom:1px solid #e6e6e6; padding-bottom:20px;}
.advertH{ clear:both; width:100%; height:62px;}
.advertH span,.advertH font{ display:block;}
.advertH span,.advertH span a{ float:left; width:570px; font:22px/62px Arial, Helvetica,'Microsoft Yahei', 'Hiragino Sans GB', sans-serif; color:#333333;}
.advertH span a:hover{ color:#0062b0;}
.advertH font{ float:right; width:70px; font:12px/62px ''; text-align:right; color:#8c8c8c;}
