.cbp-hrmenu {
	width: 100%;
	/*margin-top: 2em; */
	/* border-bottom: 4px solid #47a3da; */
	/* border-bottom: 1px solid; */
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	/* width: 90%; */
	/* max-width: 70em; */
	/* margin: 0 auto; */
	margin-left: 1em;
	/* padding: 0 1.875em; */
}

.cbp-hrmenu > ul > li {
	display: inline-block;
}

.cbp-hrmenu > ul > li > a {
	font-weight: 700;
	padding-left: 0.5em;
	padding-right: 0.5em; 
	/* padding: 0.5em 2em; */
	/* color: #999; */
	display: inline-block;
}

.cbp-hrmenu > ul > li > a:hover {
	/* color: #47a3da; */
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
/*	color: #fff;
	background: #47a3da;
*/
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
/*	background: #47a3da; */
/*	width: 100%; */
	left: 0;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	/* padding-bottom: 3em; */
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	/* width: 25%; */
	float: left;
	/* padding: 0 2em 0; */
	padding-right: 0.5em;
	margin-right: 1em;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
}

.cbp-hrsub h4 {
/*	color: #afdefa; */
	padding: 0.2em 0 0.2em;
	margin: 0;
/*	font-size: 160%;
	font-weight: 300;
*/
}

/* Examples for media queries */
/*
@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 1000px) {
	.cbp-hrsub h4 {
		font-size: 120%;
	}
	.cbp-hrmenu .cbp-hrsub-inner > div a {
		line-height: 1em;
	}
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
	}
}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 120%;
		border: none;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 4px solid #47a3da;
	}

	.cbp-hrmenu > ul > li > a { 
		display: block;
		padding: 1em 3em;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: relative;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}
*/
