/* embedded Gudea font, *.woff applies to IE9+ and other modern browsers */
@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  src: local('Gudea'), url(/nfoaa/fonts/gudea/Z6xYy_2MlN1cUISkeodEPA.woff) format('woff');
}
@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 700;
  src: local('Gudea Bold'), local('Gudea-Bold'), url(/nfoaa/fonts/gudea/6M2RKly85u67vSsXH0-zqvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Gudea';
  font-style: italic;
  font-weight: 400;
  src: local('Gudea Italic'), local('Gudea-Italic'), url(/nfoaa/fonts/gudea/7K8okIOV072GIwnptze9lg.woff) format('woff');
}

* {	margin:  0;	padding: 0;}
a img, frameset {	border: 0;}
html, body, div, span, object, h1, h2, h, h4, h5, h6, p, em, img, form, input, label, legend, table, tr, th, td, hr {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;}
table {	border-collapse: separate;	border-spacing: 0;}
body {	margin: 0 auto;	font: normal 12px arial;	color: #222;	background: url("/images/structure/new_nfo_bg.jpg") no-repeat center top;}
:focus {outline: 0;}
.ib { display: inline-block; }
#pagebox {	position: relative;	margin: 0 auto;	width: 962px;padding:0 9px;}
#pagecontent {	clear:both;	width:962px;	padding: 0 0 10px 0px; margin-top:10px; position:relative;	background: #fff; -webkit-border-radius-topright: 3px; border-top-right-radius: 3px;	-webkit-border-radius-topleft: 3px; border-top-left-radius: 3px;} 

/* ---------- Header and Brand --------- */
#logolayer {	float:left;width:274px;	height:69px; margin-top:-17px;	z-index:100;}

#mssgHdr a:link, #mssgHdr a:visited {	font: bold 13px arial;	text-decoration: none;}
#mssgHdr a:hover {color:#ff9f3b;}
#mssgHdrNFO { float:right;background:url(/images/structure/joinInfo_bg.png) no-repeat;width:167px; height:33px; }
#mssgHdrNFO a:link, #mssgHdrNFO a:visited {	font: bold 12px arial;	text-decoration: none;}
#mssgHdrNFO a:hover {color:#ff9f3b;}

#header {	width:962px;	height:94px;	margin:0 auto;	z-index:1;	text-align:right;	font: 11px Arial, Helvetica, sans-serif;	padding:0;}
#header a{	font-weight:bold;}

.nav-wrap {display:none; /* responsive nav hidden at full width */ }

#memberinfo {	position:absolute;	height:16px;	font:13px Arial, Helvetica, sans-serif;	widht:10%;	top:0px;	right:0px;	z-index:110;	padding:5px 20px 10px 10px;	background:#eeece7 url('../images/structure/memberinfoback.png') repeat-y;	-webkit-border-radius-bottomright: 3px;        border-bottom-right-radius: 3px;	-webkit-border-radius-bottomleft: 3px;    border-bottom-left-radius: 3px;	-webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 2px 1px rgba(0, 0, 0, 0.1), -1px 0 1px rgba(0, 0, 0, 0.1);    -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 2px 1px rgba(0, 0, 0, 0.1), -1px 0 1px rgba(0, 0, 0, 0.1);    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 2px 1px rgba(0, 0, 0, 0.1), -1px 0 1px rgba(0, 0, 0, 0.1);}
#memberinfoblock {	list-style:none;	margin:0;	padding:0;}
#memberinfoblock a {	font:13px normal Arial, Helvetica, sans-serif;}
#memberinfoblock li{	float:left;	margin:0;	position:relative;	background:url('../images/structure/memberdivide.png') top right no-repeat;}
#memberinfoblock li.signinTop {	padding:0 0 0 10px;	background:none;}
#memberinfoblock li.signinTop a {	font-weight:bold;}
#memberinfoblock li.infoitem a.active {	font-weight:bold;}
#memberinfoblock li.infoitem {	padding:0 10px 0 10px;}

#globalnav {float:right;	margin:42px 0 14px 0;	z-index:110;	color:#266ab6;	word-spacing:1px;font-size: 13px;}

#center-rail ul {list-style-type:none;position:relative;	}
#center-rail {	float:left;	width:670px;	padding:30px 0 30px 10px;	margin: 0px;	background:#FFF;	}
#center-rail-full {	float:left;	width:942px;	padding:30px 10px 30px 10px;	margin: 0;	background:#FFF;}
#center-sect-1 {	margin:20px 0 0 0;}
#center-sect-2 {	margin:10px 0 0 0;}
#center-sect-3 {	margin:30px 0 0 0;}

.print {	float:right;	margin-top:6px;	font:11px Arial, Helvetica, sans-serif;}
.promoad img{	float:left;	padding:0;	margin:20px 0 6px 20px;}

/*----------------Form Elements-------------------*/
#form {	height:30px;	margin: 0 0 15px 0;	border: 1px solid #CCC;}
.formbox1 {  margin:5px 0 10px 0;	width:80px;	padding: 6px 25px 6px 5px; background-color:#fff;	border:1px solid #c2c1bc;	-webkit-border-radius: 3px;     border-radius: 3px; /*text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset; box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset;*/}
.formbox2 { margin:5px 0 10px 0;	width:155px;	padding: 6px 25px 6px 5px; background-color:#fff;	border:1px solid #c2c1bc;	-webkit-border-radius: 3px;     border-radius: 3px; /*text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset; box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset;*/}
.formSignIn { margin:5px 0 5px 0;	width:179px;	padding: 6px 25px 6px 5px; background-color:#fff;	border:1px solid #c2c1bc;	-webkit-border-radius: 3px;     border-radius: 3px; /*text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset; box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset;*/}
.formbox3 {  margin:5px 0 10px 0;	width:250px;	padding: 6px 25px 6px 5px; background-color:#fff;	border:1px solid #c2c1bc;	-webkit-border-radius: 3px;     border-radius: 3px; /*text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset; box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset;*/}
.formbox4 { margin:5px 0 10px 0;	width:400px;	padding: 6px 25px 6px 5px;background-color:#fff;	border:1px solid #c2c1bc;	-webkit-border-radius: 3px;     border-radius: 3px; /*text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset; box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2) inset;*/}
.button {	background: #ea8113; /* Old browsers */	background: -moz-linear-gradient(top, #ffb52a 0%, #f38710 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb52a), color-stop(100%,#f38710)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top, #ffb52a 0%,#f38710 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top, #ffb52a 0%,#f38710 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top, #ffb52a 0%,#f38710 100%); /* IE10+ */	background: linear-gradient(to bottom, #ffb52a 0%,#f38710 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb52a', endColorstr='#f38710',GradientType=0 ); /* IE6-9 */	border: 1px solid #b76717;	;	-webkit-border-radius:3px;	border-radius:3px;	border-top:1px solid #fe9a31;	border-bottom:1px solid #ba6a17;	border-left:1px solid #da8023;	border-right:1px solid #da8023;	display:inline-block;	color:#fff;	font: bold 11px Arial, Helvetica, sans-serif;	text-transform:uppercase;	padding:3px 15px;	-webkit-box-shadow:  -1px 1px 3px 1px rgba(0, 0, 0, 0.1); box-shadow:  -1px 1px 3px 1px rgba(0, 0, 0, 0.1);}
.button a {	text-decoration:none;	color:#fff;}
.button:hover, .button:focus { background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffb568), color-stop(1, #fa9934) );	background:-moz-linear-gradient( center top, #ffb568 5%, #fa9934 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb568', endColorstr='#fa9934');	background-color:#fca64d;	color:#fff;}
.button:active {	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff9f3b), color-stop(1, #ea8113) );	background:-moz-linear-gradient( center top, #ff9f3b 5%, #ea8113 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9f3b', endColorstr='#ea8113');	background-color:#ea8113;	-webkit-box-shadow:inset 0px 2px 1px 0px #ea8e2f;    -moz-box-shadow:inset 0px 2px 1px 0px #ea8e2f;    box-shadow:inset 0px 2px 1px 0px #ea8e2f;	color:#fff;}

.clear { clear:both; }
.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

#resources-sv {	position: absolute;	top: 350px;	left:25px;}
#resources-sv p {line-height: 25px;font:normal 13px arial;}
#ratesterms-sv {	position: absolute;	top:94px;	left:25px;}
#ratesterms-sv p {line-height: 25px;font:normal 13px arial;}
#calculators-sv {	position: absolute;	top:207px;	left:25px;}
#calculators-sv p {font:normal 13px arial;}

#like-sv {	position: absolute;	top:515px;	left:25px;}
#like-sv p {line-height: 25px;font:normal 13px arial;}

/* ---------- Core Design Styles ---------- */
hr {	clear:both;	width:672px;    background-color: #e0e3e6;	border:none;    height: 1px;}
li {	margin:0;	line-height:20px;}
a img { 	border:0; }

p {font:normal 13px Arial, Helvetica, sans-serif;margin: 0 0 10px 0; line-height: 19px;}
p.intro { font-size:15px;line-height:22px; }
.aside {margin-bottom:30px;padding:20px 20px 10px;}
.ltblue {background-color:#eff3f7;}
h1 {margin:0;padding:0 0 8px 0;font-family:'Gudea', arial, sans-serif;font-size: 30px;font-style:normal;font-weight:700;color:#222;text-shadow:0px 1px 0px rgba(255, 255, 255, 0.6);}
/* FORMER H2 */
/*h2 {	margin:0;	padding:0 0 10px 0;	font: bold 22px 'Gudea', arial, sans-serif;	color:#0d335d;	text-shadow:0px 1px 0px rgba(255, 255, 255, 0.6);}*/
 h2{
	font: 22px Arial, Helvetica, sans-serif;
	color: #222;
	margin:0;	
	padding:0 0 10px 0;	
 }
h3 {margin:0;padding:0 0 10px 0;font: bold 18px 'Gudea', arial, sans-serif;	color:#0d335d;	text-shadow:0px 1px 0px rgba(255, 255, 255, 0.6);}
h4 {margin:0;padding:0 0 10px 0;font: bold 15px arial, sans-serif;	color:#0d335d;}
h5 {margin:0;padding:0 0 10px 0;font: bold 13px arial, sans-serif;	color:#1c1d1e;}

a:link, a:visited { color:#266ab6;text-decoration:none;outline:0; }
a:hover { color:#ff9f3b;text-decoration:none;outline:0; }
a:focus { color:#ff9f3b;outline:0; }
*:focus { outline:0; }

.positive { color:#6eb400; }
.negative { color:#d31313; }

.download:after { content: url('/images/icons/icon_download.png');margin-left:5px; }
.globalLinkOut:after { content: url('/images/icons/global_icon_link_out.png');margin-left:5px; }
.secure:after { content: url('/images/icons/icon_secure.png');margin-left:5px; }

/* ---------- Right Rail ---------- */
/* ---------- Update Module ---------- */
#right-rail {	float:left;	padding:30px 0 0 0;	width:260px;	position:relative;background:#fff;}
#right-rail p{margin:0 0 10px 0; padding:0 10px 0 0; line-height:18px;}

/*--Used with new pages where right rail is within center-rail-nfo--*/
#rightRail {	float:left;	padding:2px 0px 0 0px;	width:280px;	position:relative;background:#fff;}
#rightRail p {margin:0 0 10px 0; padding:0 10px 0 0; line-height:18px;}

.cont-feat{float:left; width:450px;}
.feat-btn{float:left; width:200px;}
.feat-btn p{margin:15px 0 0 20px;}


#rightrail {	position: absolute;	top:94px;	left:24px;}
#rightrail p {font: normal 13px arial;}

#rightrail li { list-style:none;margin-left:-20px;}

.rrheader {	height:24px;	border:1px solid #d5d2cc;	padding:10px 13px 10px 13px;	-webkit-border-top-right-radius: 3px;	-webkit-border-top-left-radius: 3px;			border-top-right-radius: 3px;	border-top-left-radius: 3px;	background:#dedcd5 url('/images/structure/rr_header_back.png') repeat-x;}
.update-multi {	border-top:1px solid #f9f9f7;	border-bottom:1px solid #d5d2cc;	padding:10px 5px 10px 13px;	background:#eae7df url('/images/structure/bg_rightrail_pattern.png');}

.update {	border-top:1px solid #f9f9f7;	padding:10px 13px 10px 13px;	margin-bottom:20px;	-webkit-border-bottom-right-radius: 3px;	-webkit-border-bottom-left-radius: 3px;		border-bottom-right-radius: 3px;	border-bottom-left-radius: 3px;	background:#eae7df url('/images/structure/bg_rightrail_pattern.png');}
.update-multi li { list-style:none;}
.update li { list-style:none;}
#updatefooter {	border-top:1px solid #f9f9f7;	padding:10px 13px 10px 13px;	margin-bottom:20px;	-webkit-border-bottom-right-radius: 3px;	-webkit-border-bottom-left-radius: 3px;		border-bottom-right-radius: 3px;	border-bottom-left-radius: 3px;	background:#eae7df url('/images/structure/bg_rightrail_pattern.png');}
#updatefooter a{	text-shadow:0px 1px 0px rgba(255, 255, 255, 0.6);}

/* ---------- Quick Actions Module ---------- */
#quickactions {	border-top:1px solid #f9f9f7;	padding:10px 13px 10px 13px;	margin-bottom:20px;	-webkit-border-bottom-right-radius: 3px;	-webkit-border-bottom-left-radius: 3px;		border-bottom-right-radius: 3px;	border-bottom-left-radius: 3px;	background:#eae7df url('images/bg_rightrail_pattern.png');}

/* ---------- Account Services Module ---------- */
#accountservices {	border-top:1px solid #f9f9f7;	padding:10px 13px 10px 13px;	background:#eae7df url('images/bg_rightrail_pattern.png');	border-bottom:1px solid #d5d2cc;}

/* ---------- Right Rail Ad ---------- */
#abpromo {	padding:0 0 20px 0;	border:none;}

/* ---------- Rates Ribbon Layout ---------- */
#rates_ribbon {	clear:both;	display:block;	width:942px; 	height:50px;	-webkit-border-radius: 3px;     border-radius: 3px 3px 3px 3px;	padding:10px 8px;	margin-bottom:30px;	border-bottom:1px solid #c5d5e8;	border-left:1px solid #dde9f7;	border-right:1px solid #dde9f7;	border-top:1px solid #e2edfa;
background: #f2f7fd;
background: -webkit-gradient(linear, top, bottom, from(#f2f7fd), to(#e9f1fc)); /* for webkit browsers */
background-image: -webkit-linear-gradient(#f2f7fd, #e9f1fc); /* for webkit browsers */
background: -moz-linear-gradient(top,  #f2f7fd,  #e9f1fc); /* for firefox 3.6+ */}
#rates_ribbon li { margin: -10px 12px 0 0; padding:0 5px 0 0;line-height:35px;text-align:left;display:inline-block;zoom: 1;list-style-type:none;background:url('/images/rates_div.gif') right no-repeat; }
#rates_ribbon li.firstrate {margin: -10px 13px 0 10px;}
#rates_ribbon li a{	font-weight:bold;}
#rates_ribbon .ratecopy {	margin-left:4px;	font:11px Arial, Helvetica, sans-serif;	color:#7c7e81;	margin-right:15px;}
#rates_ribbon .ratedisplay {	position:relative;	display:inline-block;	font:/*bold 38px*/ 30px 'Gudea', sans-serif;	color:#1c1d1e;	margin-top:-14px;}
#rates_ribbon .percent {	font:16px 'Gudea', sans-serif;	font-weight:normal;	color:#1c1d1e;	vertical-align:super; margin-left:1px;}
#rates_ribbon .apr {font:11px Arial, Helvetica, sans-serif;color:#7c7e81;margin-left:-13px;margin-left:-5px\9;position:relative;z-index:9;}
#rates_ribbon .apr a:link, #rates_ribbon .apr a:visited {	font:11px Arial, Helvetica, sans-serif;cursor:pointer;}
#rates_ribbon .apr a:hover, #rates_ribbon .apr a:focus {color:#ff9f3b;text-decoration:none;outline:0;}
#rates_ribbon .moreratesbutton { height:24px;	position:relative;	float:right;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#265c99', endColorstr='#1e4e84');background:#1e4e84 url("../images/double_arrow.png") no-repeat scroll 100px 18px;		background: url("../images/double_arrow.png") no-repeat scroll 100px 18px, -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #265c99), color-stop(1, #1e4e84) );	background:url("../images/double_arrow.png") no-repeat scroll 100px 18px, -moz-linear-gradient( center top, #265c99 5%, #1e4e84 100% );	background-color:#1e4e84 url("../images/double_arrow.png") no-repeat scroll 100px 18px;	-webkit-border-radius:3px;	border-radius:3px;	display:inline-block;	color:#fff;	font: bold 15px arial;	-webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.1),0px 1px 6px rgba(0, 0, 0, 0.1),inset 0px 1px 0px 0px #7095be;    -moz-box-shadow:-1px 1px 3px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 6px rgba(0, 0, 0, 0.1),inset 0px 1px 0px 0px #7095be;    box-shadow:-1px 1px 3px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.1),0px 1px 6px rgba(0, 0, 0, 0.1),inset 0px 1px 0px 0px #7095be;margin: 3px 7px 0 0;padding: 12px 23px 8px 13px;}
#rates_ribbon .moreratesbutton a {	text-decoration:none;	color:#fff; position:relative; top:10px;}
#rates_ribbon .moreratesbutton:hover, #rates_ribbon .moreratesbutton:focus { background:url("../images/double_arrow.png") no-repeat scroll 100px 18px, -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3477c2), color-stop(1, #265c99) );	background:url("../images/double_arrow.png") no-repeat scroll 100px 18px, -moz-linear-gradient( center top, #265c99 5%, #265c99 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3477c2', endColorstr='#265c99');	background:#1e4e84 url("../images/double_arrow.png") no-repeat scroll 100px 18px;	color:#fff;cursor:pointer;}

compareLnkBg {background: url(/images/compLnkBg.gif); height: 20px; float: left; font: bold 13px arial; padding-top:5px; color: #fff;}

.signinbox:focus { background-color:#fffdf2; border:1px solid #ff9e13;box-shadow:0 0 5px #b9d4e9; }
.formSignIn:focus {background-color:#fffdf2; border:1px solid #ff9e13;box-shadow:0 0 5px #b9d4e9; }
.formbox:focus, .formbox1:focus, .formbox2:focus, .formbox3:focus{	background-color:#fffdf2;    border:1px solid #ff9e13;	box-shadow:0 0 5px #b9d4e9;}
.overlay{   background-color: #000;   opacity: .5;   filter: alpha(opacity=50);   position: fixed; top: 0; left: 0;   width: 100%; height: 100%;   z-index: 99999;}
.overlayimg{  position: absolute;  z-index: 11;  left: 50px;  top: 50px;}
#galleria{height:378px; width:962px; padding: 10px 0 0 0;}


/* --------------------------- Footer --------------------------- */
#footercontainer {position:relative;clear:both;width:100%;height:100%;margin:0 auto;padding:0;}
#navyfooter {position:relative;	width:962px; height:100%; margin:0 auto; padding:16px 10px 0;}
#footercontainer, #navyfooter {background: #e9e6de url('/images/structure/footer_bg.jpg') repeat-x;}
#navyfooter ul li {line-height:14px;margin:7px 0; }
#footerblock {position:relative;	width: 150px;	padding:0px 10px 30px 0;	float:left;}
#footerblocklast {position:relative;	width: 150px;	height:auto;	padding:0 0 30px;	float:left;}
.footertitle {font:bold 12px Arial, Helvetica, sans-serif;	font-weight: bold;	color: #0d335d;	margin-bottom:8px;}
ul.footermenu li {font:12px/20px Arial, Helvetica, sans-serif; list-style-type:none; margin-left:-40px;}
#subfooterlogo {float:left;margin-right:20px; width:74px;}
#subfooternav {float:left;width:850px;	padding:0px 10px 10px 0;font: normal 12px Arial, Helvetica, sans-serif;color:#4e4f51;}
#subnav {float:left;	width:100%;	line-height: 18px;}
#footercopy {	width:100%;	padding:15px 0 0 0;	float:left;	line-height: 15px;}
#footercopyright {	width:100%;	padding:10px 0 0 0;	font-size: 11px;float:left;line-height: 15px;color:#7c7e82;}
.discl {font:12px Arial; color:#989898; line-height:15px;}
.vert-divider {	background:  url(/images/hr-dotted.png) repeat-y;	float: left;	height: 700px;	width: 4px;}
.footerCntrs {float:left; width:197px; min-height:20px; padding:10px 0 20px 40px; color:#7c7e82;}
.aboutCopy {padding:0 0 10px; width:224px;}
.mission {font-style:italic;}
.mission:before, .mission:after {content:'"';}
.socialCopy {width:224px;}
.footerCntrs ul li {list-style:none; margin:0 0 0 16px; line-height:18px!important;}
.footerContHdr {font:bold 13px arial;	color:#222;	text-transform:uppercase;	margin-bottom:10px;}
.socialIconsFtr {height:24px;	margin-top:15px;}
.socialIconsFtr a {float:left;	height:24px; width:24px; display:block;	font-size:0px; overflow:hidden; margin:0 16px 15px 0; background-image:url('/images/structure/home_icons_gray.png');}
.socialIconsFtr a.fb {background-position:-24px 0;}
.socialIconsFtr a.tw {background-position:-24px -44px;}
.socialIconsFtr a.yt {background-position:-24px -88px;}
.socialIconsFtr a.li {background-position:-24px -132px;}
.socialIconsFtr a.insta {background-position:-24px -308px; margin-right:0;}
.socialIconsFtr a.blog {background-position:-24px -264px;}
.socialIconsFtr a:hover.fb, .socialIconsFtr a:focus.fb {background-position:0 0;}
.socialIconsFtr a:hover.tw, .socialIconsFtr a:focus.tw {background-position:0 -44px;}
.socialIconsFtr a:hover.yt, .socialIconsFtr a:focus.yt {background-position:0 -88px;}
.socialIconsFtr a:hover.li, .socialIconsFtr a:focus.li {background-position:0 -132px;}
.socialIconsFtr a:hover.insta, .socialIconsFtr a:focus.insta {background-position:0 -308px;}
.socialIconsFtr a:hover.blog, .socialIconsFtr a:focus.blog {background-position:0 -264px;}
.footerLine {width:100%; height:3px; border:0;background-color: #235791; margin-bottom:20px; clear:both;}
.footerPipe {color:#999; margin:0 4px;}
.bestbanks {float:right; margin-right:-5px; margin-top:-15px; padding-bottom:70px;}


/* Modal window / facebox title */
.modalTitle {position:absolute; top:20px; left:15px; font:bold 16px/16px Arial, helvetica, sans-serif; color:#fff;}
h3.modalTitle {text-shadow:none;}
.addShadow { 
 -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.1),0px 1px 6px rgba(0, 0, 0, 0.1),inset 0px 1px 0px 0px #7095be;
    -moz-box-shadow:-1px 1px 3px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 6px rgba(0, 0, 0, 0.1),inset 0px 1px 0px 0px #7095be;
         box-shadow:-1px 1px 3px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.1),0px 1px 6px rgba(0, 0, 0, 0.1),inset 0px 1px 0px 0px #7095be;
}
/* contact us header */
#contact_header {font: normal 13/19px arial;width: 440px;height:45px;}
#contact_header tr td{border-bottom: 1px solid #e7e7e7;}
#contact_header thead tr th {background:url("/images/bg-th.png") repeat-x scroll 0 0 transparent;	border-left:2px solid #fff;	font: bold 13/19px arial;	padding: 4px;text-align: left;}
#contact_header td {font: normal 13/19px arial;	padding: 4px 2px 4px 4px;}
#contact_header td.card_name {	font: bold 13/19px arial;padding-left:4px;color: #333;}
#contact_header tr:hover, #contact_header tr:focus {background:#f6f9fd;}
#contact_header ul {font-size: 95%;	margin: 0 0 0 0;}
#note{ font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #7c7e82; float:left; margin-top:10px;}
#note p{margin:0px; font-size: 11px;}

/* GLOBAL LARGE ORANGE BUTTON *****************************/
.OrangeBtnLrg{color: #fff!important;display: inline-block;float: left;font: bold 16px Arial,Helvetica,sans-serif;padding: 5px 10px;position: relative;text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);background: #ffd380; /* Old browsers */	background: -moz-linear-gradient(top,  #ffd380 0%, #ffae17 5%, #ff8e10 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd380), color-stop(5%,#ffae17), color-stop(100%,#ff8e10)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffd380 0%,#ffae17 5%,#ff8e10 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffd380 0%,#ffae17 5%,#ff8e10 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffd380 0%,#ffae17 5%,#ff8e10 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffd380 0%,#ffae17 5%,#ff8e10 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd380', endColorstr='#ff8e10',GradientType=0 ); /* IE6-9 */border:solid 1px  #ef840f;border-radius:4px; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);}
.OrangeBtnLrg:hover, .OrangeBtnLrg:focus { background: #ffd587; /* Old browsers */	background: -moz-linear-gradient(top,  #ffd587 0%, #feb735 5%, #fd9e1e 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd587), color-stop(5%,#feb735), color-stop(100%,#fd9e1e)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffd587 0%,#feb735 5%,#fd9e1e 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffd587 0%,#feb735 5%,#fd9e1e 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffd587 0%,#feb735 5%,#fd9e1e 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffd587 0%,#feb735 5%,#fd9e1e 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd587', endColorstr='#fd9e1e',GradientType=0 ); /* IE6-9 */}
.OrangeBtnLrg:active{	background: #ffd380; /* Old browsers */	background: -moz-linear-gradient(top,  #ffd380 0%, #fda014 5%, #f4870c 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd380), color-stop(5%,#fda014), color-stop(100%,#f4870c)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffd380 0%,#fda014 5%,#f4870c 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffd380 0%,#fda014 5%,#f4870c 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffd380 0%,#fda014 5%,#f4870c 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffd380 0%,#fda014 5%,#f4870c 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd380', endColorstr='#f4870c',GradientType=0 ); /* IE6-9 */	border-color: #e47b0a;	box-shadow: none;}

/* GLOBAL SMALL ORANGE BUTTON *****************************/
.OrangeBtnSm{color: #fff!important;display: inline-block;float: left;font: bold 11px Arial,Helvetica,sans-serif;text-transform:uppercase;padding: 3px 10px;position: relative;text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);background: #ffd380; /* Old browsers */	background: -moz-linear-gradient(top,  #ffd380 0%, #ffae17 5%, #ff8e10 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd380), color-stop(5%,#ffae17), color-stop(100%,#ff8e10)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffd380 0%,#ffae17 5%,#ff8e10 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffd380 0%,#ffae17 5%,#ff8e10 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffd380 0%,#ffae17 5%,#ff8e10 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffd380 0%,#ffae17 5%,#ff8e10 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd380', endColorstr='#ff8e10',GradientType=0 ); /* IE6-9 */border:solid 1px  #ef840f;border-radius: 4px;box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);}
.OrangeBtnSm:hover, .OrangeBtnSm:focus { background: #ffd587; /* Old browsers */	background: -moz-linear-gradient(top,  #ffd587 0%, #feb735 5%, #fd9e1e 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd587), color-stop(5%,#feb735), color-stop(100%,#fd9e1e)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffd587 0%,#feb735 5%,#fd9e1e 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffd587 0%,#feb735 5%,#fd9e1e 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffd587 0%,#feb735 5%,#fd9e1e 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffd587 0%,#feb735 5%,#fd9e1e 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd587', endColorstr='#fd9e1e',GradientType=0 ); /* IE6-9 */}
.OrangeBtnSm:active{	background: #ffd380; /* Old browsers */	background: -moz-linear-gradient(top,  #ffd380 0%, #fda014 5%, #f4870c 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd380), color-stop(5%,#fda014), color-stop(100%,#f4870c)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffd380 0%,#fda014 5%,#f4870c 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffd380 0%,#fda014 5%,#f4870c 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffd380 0%,#fda014 5%,#f4870c 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffd380 0%,#fda014 5%,#f4870c 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd380', endColorstr='#f4870c',GradientType=0 ); /* IE6-9 */	border-color: #e47b0a;	box-shadow: none;}


.BlueBtnSm{color: #fff!important;display: inline-block;float: left;font: bold 11px Arial,Helvetica,sans-serif;text-transform:uppercase;padding: 3px 10px;position: relative;text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);background: #175b9e; /* Old browsers */	background: -moz-linear-gradient(top,  #175b9e 0%, #155599 5%, #0e478a 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#175b9e), color-stop(5%,#155599), color-stop(100%,#0e478a)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #175b9e 0%, #155599 5%, #0e478a 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #175b9e 0%, #155599 5%, #0e478a 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #175b9e 0%, #155599 5%, #0e478a 100%); /* IE10+ */	background: linear-gradient(to bottom,  #175b9e 0%,#155599 5%,#0e478a 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#175b9e', endColorstr='#0e478a',GradientType=0 ); /* IE6-9 */border:solid 1px  #063d73;border-radius: 4px;box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);}
.BlueBtnSm:hover, .BlueBtnSm:focus { background: #1961ab; /* Old browsers */	background: -moz-linear-gradient(top,  #1961ab 0%, #1559a2 5%, #104e96 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1961ab), color-stop(5%,#1559a2), color-stop(100%,#104e96)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #1961ab 0%,#1559a2 5%,#104e96 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #1961ab 0%,#1559a2 5%,#104e96 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #1961ab 0%,#1559a2 5%,#104e96 100%); /* IE10+ */	background: linear-gradient(to bottom,  #1961ab 0%,#1559a2 5%,#104e96 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1961ab', endColorstr='#104e96',GradientType=0 ); /* IE6-9 */}
.BlueBtnSm:active{	background: #155498; /* Old browsers */	background: -moz-linear-gradient(top,  #155498 0%, #145195 5%, #0d4180 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#155498), color-stop(5%,#145195), color-stop(100%,#0d4180)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #155498 0%,#145195 5%,#0d4180 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #155498 0%,#145195 5%,#0d4180 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #155498 0%,#145195 5%,#0d4180 100%); /* IE10+ */	background: linear-gradient(to bottom,  #155498 0%,#145195 5%,#0d4180 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#155498', endColorstr='#0d4180',GradientType=0 ); /* IE6-9 */	border-color: #022f5a;	box-shadow: none;}

/* GLOBAL LARGE GRAY BUTTON *****************************/
.GrayBtnLrg{
	color: #222!important; display: inline-block; float: left;font: bold 16px Arial,Helvetica,sans-serif;padding: 5px 10px;position: relative;text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f7f9 5%, #e9ecef 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#f4f7f9), color-stop(100%,#e9ecef)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f7f9 5%,#e9ecef 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffffff 0%,#f4f7f9 5%,#e9ecef 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f7f9 5%,#e9ecef 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffffff 0%,#f4f7f9 5%,#e9ecef 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ecef',GradientType=0 ); /* IE6-9 */border:solid 1px #c7cace;border-radius: 4px 4px 4px 4px;-webkit-border-radius: 4px;-grey-border-radius: 4px;box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);}
.GrayBtnLrg:hover, .GrayBtnLrg:focus { background: #ffffff; /* Old browsers */	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfcfd 5%, #edf0f3 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#fbfcfd), color-stop(100%,#edf0f3)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfcfd 5%,#edf0f3 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffffff 0%,#fbfcfd 5%,#edf0f3 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfcfd 5%,#edf0f3 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffffff 0%,#fbfcfd 5%,#edf0f3 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edf0f3',GradientType=0 ); /* IE6-9 */}
.GrayBtnLrg:active{	background: #ffffff; /* Old browsers */	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f7f9 5%, #e7eaed 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#f4f7f9), color-stop(100%,#e7eaed)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f7f9 5%,#e7eaed 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffffff 0%,#f4f7f9 5%,#e7eaed 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f7f9 5%,#e7eaed 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffffff 0%,#f4f7f9 5%,#e7eaed 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7eaed',GradientType=0 ); /* IE6-9 */border-color: #aeafb3;	box-shadow: none;}

/* GLOBAL SMALL GRAY BUTTON *****************************/
.GrayBtnSm{color: #222!important; display: inline-block; float: left;font: bold 11px Arial,Helvetica,sans-serif;padding:3px 10px;position: relative;text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);background: #ffffff; /* Old browsers */	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f7f9 5%, #e9ecef 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#f4f7f9), color-stop(100%,#e9ecef)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f7f9 5%,#e9ecef 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffffff 0%,#f4f7f9 5%,#e9ecef 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f7f9 5%,#e9ecef 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffffff 0%,#f4f7f9 5%,#e9ecef 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ecef',GradientType=0 ); /* IE6-9 */border:solid 1px #c7cace;border-radius: 4px 4px 4px 4px;-webkit-border-radius: 4px;-grey-border-radius: 4px;box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);}
.GrayBtnSm:hover, .GrayBtnSm:focus { background: #ffffff; /* Old browsers */	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfcfd 5%, #edf0f3 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#fbfcfd), color-stop(100%,#edf0f3)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfcfd 5%,#edf0f3 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffffff 0%,#fbfcfd 5%,#edf0f3 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfcfd 5%,#edf0f3 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffffff 0%,#fbfcfd 5%,#edf0f3 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edf0f3',GradientType=0 ); /* IE6-9 */}
.GrayBtnSm:active{	background: #ffffff; /* Old browsers */	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f7f9 5%, #e7eaed 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#f4f7f9), color-stop(100%,#e7eaed)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f7f9 5%,#e7eaed 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffffff 0%,#f4f7f9 5%,#e7eaed 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f7f9 5%,#e7eaed 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffffff 0%,#f4f7f9 5%,#e7eaed 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7eaed',GradientType=0 ); /* IE6-9 */border-color: #aeafb3;	box-shadow: none;}	


/* GLOBAL LARGE GREEN BUTTON *****************************/
.GreenBtnLrg{color: #fff!important;display: inline-block;float: left;font: bold 16px Arial,Helvetica,sans-serif;padding: 7px 14px;position: relative;text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);background: #79cb3d; /* Old browsers */	background: -moz-linear-gradient(top,  #79cb3d 0%, #75c838 5%, #5db61b 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79cb3d), color-stop(5%,#75c838), color-stop(100%,#5db61b)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #79cb3d 0%,#75c838 5%,#5db61b 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #79cb3d 0%,#75c838 5%,#5db61b 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #79cb3d 0%,#75c838 5%,#5db61b 100%); /* IE10+ */	background: linear-gradient(to bottom,  #79cb3d 0%,#75c838 5%,#5db61b 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79cb3d', endColorstr='#5db61b',GradientType=0 ); /* IE6-9 */border:solid 1px  #489e09;border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);}

.GreenBtnLrg:hover, .GreenBtnLrg:focus { background: #79cc3c; /* Old browsers */	background: -moz-linear-gradient(top,  #79cc3c 0%, #75c838 5%, #6cc52a 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79cc3c), color-stop(5%,#75c838), color-stop(100%,#6cc52a)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #79cc3c 0%,#75c838 5%,#6cc52a 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #79cc3c 0%,#75c838 5%,#76cc52a 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #79cc3c 0%,#75c838 5%,#6cc52a 100%); /* IE10+ */	background: linear-gradient(to bottom,  #79cc3c 0%,#75c838 5%,#6cc52a 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79cc3c', endColorstr='#6cc52a',GradientType=0 ); /* IE6-9 */}

.GreenBtnLrg:active{	background: #79cb3d; /* Old browsers */	background: -moz-linear-gradient(top,  #79cb3d 0%, #79cb3d 5%, #5db61b 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79cb3d), color-stop(5%,#79cb3d), color-stop(100%,#56b015)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #79cb3d 0%,#79cb3d 5%,#5db61b 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #79cb3d 0%,#79cb3d 5%,#5db61b 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #79cb3d 0%,#79cb3d 5%,#5db61b 100%); /* IE10+ */	background: linear-gradient(to bottom,  #79cb3d 0%,#56b015 5%,#5db61b 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79cb3d', endColorstr='#5db61b',GradientType=0 ); /* IE6-9 */	border-color: #489e09;	box-shadow: none;}


/* GLOBAL LARGE ORANGE BUTTON 2 *****************************/
.OrangeBtnLrg2{color: #fff!important;display: inline-block;float: left;font: bold 16px Arial,Helvetica,sans-serif;padding: 8px 16px;position: relative;text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);background: #ffd380; /* Old browsers */	background: -moz-linear-gradient(top,  #ffd380 0%, #ffae17 5%, #ff8e10 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd380), color-stop(5%,#ffae17), color-stop(100%,#ff8e10)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffd380 0%,#ffae17 5%,#ff8e10 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffd380 0%,#ffae17 5%,#ff8e10 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffd380 0%,#ffae17 5%,#ff8e10 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffd380 0%,#ffae17 5%,#ff8e10 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd380', endColorstr='#ff8e10',GradientType=0 ); /* IE6-9 */border:solid 1px  #ef840f;border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);}
.OrangeBtnLrg2:hover, .OrangeBtnLrg2:focus { background: #ffd587; /* Old browsers */	background: -moz-linear-gradient(top,  #ffd587 0%, #feb735 5%, #fd9e1e 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd587), color-stop(5%,#feb735), color-stop(100%,#fd9e1e)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffd587 0%,#feb735 5%,#fd9e1e 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffd587 0%,#feb735 5%,#fd9e1e 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffd587 0%,#feb735 5%,#fd9e1e 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffd587 0%,#feb735 5%,#fd9e1e 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd587', endColorstr='#fd9e1e',GradientType=0 ); /* IE6-9 */}
.OrangeBtnLrg2:active{	background: #ffd380; /* Old browsers */	background: -moz-linear-gradient(top,  #ffd380 0%, #fda014 5%, #f4870c 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd380), color-stop(5%,#fda014), color-stop(100%,#f4870c)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top,  #ffd380 0%,#fda014 5%,#f4870c 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top,  #ffd380 0%,#fda014 5%,#f4870c 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top,  #ffd380 0%,#fda014 5%,#f4870c 100%); /* IE10+ */	background: linear-gradient(to bottom,  #ffd380 0%,#fda014 5%,#f4870c 100%); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd380', endColorstr='#f4870c',GradientType=0 ); /* IE6-9 */	border-color: #e47b0a;	box-shadow: none;}



/* PRINT BUTTON **************************/
.printbtn {	display: block;	width: 32px;	height: 25px;	text-indent: -999999px;	margin-top: 3px;	outline: none;	background: url("/images/buttons/print-btn.png") 0 0 no-repeat;}
.printbtn:hover, .printbtn:focus { background: url("/images/buttons/print-btn.png") 0 -24px no-repeat;	}

#open-btn { float:right; margin: 0 87px 10px 0;}
#open-btn-inline {float:right; margin: 10px 87px 10px 0;}
.get-started-btn { float:right; margin: 0 87px 0 30px;}
.get-started-btn-inline {float:right; margin: 10px 87px 0 10px;}

