.skipnav:focus {
	top: 0;
	transition: all .3s ease-in;
	text-decoration: underline;
	color: #ff9f3b;
	outline: none;
}
.skipnav {
	position: absolute;
	top: -100px;
	left: 0;
	padding: 10px 15px;
	transition: top .5s ease-out, background .5s linear;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,.25);
	text-transform: uppercase;
	font-weight: bold;
	background: #fff;
}

/* NFO megamenu */
/* the main nav wrapper contains the Online Banking item, the megamenu sections, and search form */
.main-nav {
	background: url(/images/structure/menu_background_img.png) no-repeat;
	height: 43px;
	position: relative;
	width: 962px;
	z-index: 500;
}
.megamenu {
	width: 570px;
	margin-left: 195px;
}
.nav-menu {
	display: block;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 15;
}
/* top level navigation item in the mega menu */
.nav-item {
	background: url(/images/structure/main_nav_div.jpg) no-repeat right;
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0 3px 0 0;
	width: 184px;
}
/* first descendant link within a top level navigation item */
.nav-item > a {
	position: relative;
	display: inline-block;
	padding: 8px 0;
	margin: 0 0 0px 0;
	border: 1px solid transparent;
}

.megamenu h2 {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	color: #fff;
	display: inline-block;
	padding: 3px 0 0;
	text-align: center;
	width: 100%;
}
.megamenu a:focus {
	outline: auto;
	outline-style: auto;
	text-decoration: none;
}
.megamenu h2 a {
	color: #fff;
	display: block;
	line-height: 40px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	border-radius: 3px 3px 0 0;
}
.megamenu h2 a:focus {
	outline-color: #ff9f3b;
}
.megamenu h2 a:hover, .megamenu h2 a:focus, .megamenu h2 a.open {
	background-color: #fff;
	color: #000;
	text-shadow: none;
}
.accountaccess {
	background: none;
	margin-right: 3px;
	float: left;
	display: block;
}
.accountaccess a:link, .accountaccess a:visited {
	font-size: 14px;
	line-height: 40px;
	display: block;
	font-weight: bold;
	color: #fff;
	text-align: center;
	width: 187px;
}
.accountaccess h2 {
	padding: 3px 0 0;
}
.accountaccess h2 a:hover, .accountaccess h2 a:focus {
	background-color: transparent;
	color: #b9daff;
}

/* open state of first descendant link within a top level 
           navigation item */
.nav-item > a.open {
	background-color: #fff;
	border-bottom: none;
	z-index: 1;
}
/* sub-navigation panel */
.sub-nav {
	position: absolute;
	top: -9999em;
	left: -195px;
	display: block;
	border: 1px solid #dedede;
	border-top: 1px solid #fff;
	background-color: #fff;
	padding: 30px 12px 20px 20px;
	max-height: 0px;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 250ms ease 250ms, max-height 500ms ease, visibility 0s linear 500ms, top 0s linear 500ms;
	   -moz-transition: opacity 250ms ease 250ms, max-height 500ms ease, visibility 0s linear 500ms, top 0s linear 500ms;
	    -ms-transition: opacity 250ms ease 250ms, max-height 500ms ease, visibility 0s linear 500ms, top 0s linear 500ms;
	     -o-transition: opacity 250ms ease 250ms, max-height 500ms ease, visibility 0s linear 500ms, top 0s linear 500ms;
	        transition: opacity 250ms ease 250ms, max-height 500ms ease, visibility 0s linear 500ms, top 0s linear 500ms;
	width: 929px;
	-webkit-box-shadow: -3px 2px 2px rgba(0, 0, 0, 0.1), 3px 2px 2px rgba(0, 0, 0, 0.1), 0px 6px 4px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: -3px 2px 2px rgba(0, 0, 0, 0.1), 3px 2px 2px rgba(0, 0, 0, 0.1), 0px 6px 4px rgba(0, 0, 0, 0.2);
	        box-shadow: -3px 2px 2px rgba(0, 0, 0, 0.1), 3px 2px 2px rgba(0, 0, 0, 0.1), 0px 6px 4px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
}
/* sub-navigation panel open state */
.sub-nav.open {
	top: 43px;
	max-height: 600px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 250ms ease, max-height 500ms ease, visibility 0s linear 0s, top 0s linear 0s;
	   -moz-transition: opacity 250ms ease, max-height 500ms ease, visibility 0s linear 0s, top 0s linear 0s;
	    -ms-transition: opacity 250ms ease, max-height 500ms ease, visibility 0s linear 0s, top 0s linear 0s;
	     -o-transition: opacity 250ms ease, max-height 500ms ease, visibility 0s linear 0s, top 0s linear 0s;
	        transition: opacity 250ms ease, max-height 500ms ease, visibility 0s linear 0s, top 0s linear 0s;
}
/* list of items within sub-navigation panel */
.sub-nav ul {
	display: inline-block;
	vertical-align: top;
	margin: 0 16px 0 0;
	padding: 0;
}
/* list item within sub-navigation panel */
.sub-nav li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sub-nav-group {
	max-width: 31%;
	min-width: 99px;
}
.megamenu h3 {
	font: bold 12px Arial, sans-serif;
	margin: 0 0 5px;
	padding-bottom: 0;
	color: #000;
}
.sub-nav li, .sub-nav a {
	font: normal 12px/15px Arial, sans-serif;
	margin-bottom: 5px;
}
.sub-nav a:link {
	color: #266ab6; /* NFCU link blue */
	cursor: pointer;
}
.sub-nav a:hover, .sub-nav a:focus {
	color: #ff9f3b; /* NFCU link orange */
}
.sub-nav-group li>h3 {
	line-height: 1.2em;
	margin-bottom: auto;
}
.sub-nav-group li>p {
	font-size: 12px;
	line-height: 1.2em;
	margin-top: 0;
	padding-bottom: 5px;
	border-bottom: 1px dotted #d9d9d9;
}
.sub-nav-group li.last > p {
	border-bottom: none;
}
/* ---------- Search Box ---------- */
#gs {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 8px;
	right: 6px;
	float: right;
}
#gs input[type="text"] {
	margin: 1px 0 0 0;
	background-color: #fff;
	border: 0 none;
	font: normal 13px arial;
	color: #c2c5c9;
	width: 155px;
	padding: 6px 25px 6px 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(70, 133, 203, 0.2) inset;
	   -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(70, 133, 203, 0.2) inset;
	        box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(70, 133, 203, 0.2) inset;
	-webkit-transition: all 0.8s ease 0s;
	   -moz-transition: all 0.8s ease 0s;
	     -o-transition: all 0.8s ease 0s;
	        transition: all 0.8s ease 0s;
}
#gs input[type="text"]:focus {
	color: #222;
	width: 155px;
	background-color: #fffdf2;
	border: 1px solid #ff9e13;
	box-shadow: 0 0 5px #b9d4e9;
}
#gs input[type="submit"] {
	background: transparent url(/images/structure/search.png) 0 0 no-repeat;
	position: absolute;
	top: 5px;
	right: 4px;
	width: 26px;
	height: 22px;
	border: none;
	cursor: pointer;
	margin-bottom: 4px;
}/*LINKTEK-ID-FILE=0124-0632-0675-9C0A*/