/* Homepage new */
body { background:#ebf3fb url(/images/nfo_bg_120414.png) no-repeat top center; }
.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.center { text-align:center; }

#pagecontent {background:transparent;}

/* Homepage Sign In */
#signInCont {
	background-color:rgb(255,255,255); /* for IE8 */
	background-color:rgba(255,255,255,1.0);
	height:315px;
	left:20px;
	top:20px;
	z-index:450;
}
#lockImg {
	background:url(/images/icons/icon-sign-in-lock.png) no-repeat;
	height:16px;
	margin:0;
	width:12px;
}
.signInHeader { 
	background-color:rgb(152,152,152); /* for IE8 */
	background-color:rgba(152,152,152,0.86);
	color:#fff;
	font-size:16px;
	font-weight:bold;
	line-height:1em;
	padding:8px 20px;
	text-transform:uppercase;
}
.signInBody {
	padding:18px 20px 40px;
}
.signontip { font-size:11px;display:block; }
.pwlabel { display:inline-block;padding-top:8px; }
.signInBody input.account {
	margin-bottom:2px;
	width:202px;
}
.input.account:focus { background:#fff; opacity:1; }
.signInBody .button { 
	font:bold 12px Arial, Helvetica, sans-serif;
	cursor:pointer;
	text-shadow:0 -0.1em #999;
	margin-right:3px;
	margin-top:10px;
	margin:10px 3px 0 0;
	padding:0;
	height:30px;
	width:73px;
}
.signInBody hr { margin:18px 0 17px;width:100%; }

.formSignIn {
	border-radius:2px;
}
.aaLinks-sm a {
	display:block;margin:5px 0 6px;
}
#capsLokMsg:before { top:70px; } 

/* Homepage Lead Promos */
.homepage-lead { height:355px;width:962px; margin-bottom:20px; }
.slide { height:355px;width:962px;text-shadow:0 0 10px rgba(0, 0, 0, 0.15);  }
.slide.dark { text-shadow:none; }
.homepage-lead .lead-headline, .homepage-lead .lead-tagline { font-family:"Source Sans Pro","Gudea","Trebuchet MS"; }
.homepage-lead .lead-headline { letter-spacing:-0.03em; /* 16 x 0.0625 = 1px */}
.homepage-lead .lead-headline { font-size:30px;font-weight:600;line-height:32px;margin-bottom:10px;padding-bottom:0; }
.homepage-lead .lead-tagline { font-size:20px;font-weight:600;line-height:25px;margin-bottom:20px;padding-bottom:0; }
.homepage-lead a .lead-headlne, .homepage-lead a .lead-tagline { color:#fff; }
.homepage-lead a.dark .lead-headlne, .homepage-lead a.dark .lead-tagline { color:#222; }
a.slide:link, a.slide:visited, a.slide:hover { color:#fff; }
a.slide.dark:link, a.slide.dark:visited, a.slide.dark:hover { color:#222; }
.homepage-lead .lead-cta-link { font-family:Arial, Helvetica, sans-serif;font-size:15px;font-weight:bold;text-transform:uppercase; }
.homepage-lead a { display:block;padding-left:310px;padding-top:45px; }
.cycle-slideshow .slide { display:none; }
.cycle-slideshow .first { display:block; }

/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cycle-slideshow { width: 100%; min-width: 200px; max-width: 962px; margin: 0 0 20px 0; padding: 0; position: relative;
    /*background: url( OPTIONAL LOADING SPINNER GIF URL ) 50% 50% no-repeat;*/
 }
/* slideshow images */
.cycle-slideshow img { 
    /* 
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block;
}
/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}
/* pager */
.cycle-slideshow .cycle-pager { 
    text-align: center; width: 100%; z-index:400; position: absolute; bottom:20px; overflow: hidden; 
}
.cycle-pager span { 
    font-family: arial; font-size: 0; width: 16px; height: 16px; background-color:#ced6d6; border-radius:50%;
    display: inline-block; color: #ced6d6; cursor: pointer; margin:0 12px;opacity:0.9;
}
.cycle-pager span:hover { background-color:#fff;opacity:1; }
.cycle-pager span.cycle-pager-active { background-color: #fff; }
.cycle-pager > * { cursor: pointer; }
/* caption */
.cycle-caption { position:absolute;color:#fff;bottom:15px;right:15px;z-index:700; }
/* overlay */
.cycle-overlay { 
    font-family:tahoma, arial;
    position:absolute;bottom:0;width:100%;z-index: 600;
    background:#000;color:#fff;padding:15px;opacity:0.5;
}
/* prev / next links */
.cycle-prev, .cycle-next { position:absolute;bottom:0;width:50px;opacity:0.2;filter:alpha(opacity=20);z-index:800;height:60px;cursor:pointer; }
.cycle-prev { color:transparent;right:60px; }
.cycle-next { color:transparent;right:0; }
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter:alpha(opacity=70); }

.disabled { opacity: .5; filter:alpha(opacity=50); }

/* display paused text on top of paused slideshow 
.cycle-paused:after {
    content: '| |'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
} */

.slide { width:962px;height:355px; }

/* SECOND-TIER Promos */
.promo { background:#fff;float:left;height:267px;width:226px;margin-right:19px; margin-bottom:30px; }
.promo-2 { background:#fff;float:left;height:267px;width:226px;margin-right:0px; margin-bottom:30px; }
.promo.last { margin-right:0; }
.promo h2, .promo h3, .short-wide-promo h3, .medium-wide-promo h3 {
	color:#222;
	font:600 18px/22px "Source Sans Pro","Gudea","Trebuchet MS";
	padding-bottom:6px;
} 
.promo-2 h2, .promo h3, .short-wide-promo h3, .medium-wide-promo h3 {
	color:#222;
	font:600 18px/22px "Source Sans Pro","Gudea","Trebuchet MS";
	padding-bottom:6px;
} 
.promo-header { padding:8px 16px 0; background-color:#e9e9e9;text-transform:uppercase; }
.promo-2-header { padding:8px 16px 0; background-color:#e9e9e9;text-transform:uppercase; }
.promo a { display:block;height:267px; }
.promo a:link, .promo a:visited, .promo a:hover { color:#222; }
.text-promo a { display:inline; height:auto; }
.promo:hover { box-shadow:0 0 6px rgba(0,0,0,0.15); }
.promo a:focus { color:#ff9f3b;border:1px solid;border-width:0 0 2px; }
.text-promo:hover, .text-promo:focus { box-shadow:none; }
.promo-body { padding:10px 16px 16px; }
.promo-2-body { padding:6px 16px 16px; }
.promo-body p, .promo-2-body p { 
	color:#333;
	font:normal 13px/19px Arial, Helvetica, sans-serif;
}
.text-promo a:link, .text-promo a:visited { color:#266ab6; }
.text-promo a:hover, .text-promo a:focus { color:#ff9f3b;border:0; }
.text-promo a.block { display:block;padding-top:6px;white-space:nowrap; }
.text-promo { border:4px solid #e9e9e9;border-top-width:0;height:265px;width:218px; }
.text-promo h2, .text-promo h3 { color:#404244;font-size:14px;line-height:17px;text-align:left;text-shadow:none; }
.text-promo .promo-body h2, .text-promo .promo-body h3 { color:#0f3d70;font-family:Arial,Helvetica,sans-serif; }

.text-promo-2 a:link, .text-promo a:visited { color:#266ab6; }
.text-promo-2 a:hover { color:#ff9f3b; }
.text-promo-2 a.block { display:block;padding-top:6px;white-space:nowrap; }
.text-promo-2 { border:4px solid #e9e9e9;border-top-width:0;height:265px;width:218px; }
.text-promo-2 h2, .text-promo h3 { color:#404244;font-size:14px;line-height:17px;text-align:left;text-shadow:none; }
.text-promo-2 .promo-body h2, .text-promo .promo-body h3 { color:#0f3d70;font-family:Arial,Helvetica,sans-serif; }

/* THIRD-TIER Promos */
.large-promo p, .short-wide-promo p, .medium-wide-promo p { line-height:18px; }
.short-wide-promo .promo-body a, .medium-wide-promo .promo-body a { display:block;font-size:13px;font-weight:bold;line-height:1em;padding-top:10px; }
.large-promo { float:left;height:430px;width:308px;background:white;margin-bottom:40px;margin-right:20px; }
.short-wide-promo { float:left;height:172px;width:634px;background:white;margin-bottom:20px; }
.short-wide-promo img { float:left;margin-right:10px; }
.medium-wide-promo {float:left;height:238px;width:634px;background:white;margin-bottom:40px;}
.medium-wide-promo img { float:right;margin-left:10px; }
.large-promo .third-party-disclaimer { font-size:0.95em;color:#999;line-height:1em; }
.short-wide-promo .img-link {float:left;}
.medium-wide-promo .img-link {float:right;}
.short-wide-promo, .medium-wide-promo {display:table;}
.short-wide-promo .promo-body, .medium-wide-promo .promo-body {display:table-cell;vertical-align:middle;padding:0 16px;}

/* Search Branches and ATMs */
.search-branches { float:left;margin-bottom:50px;width:300px; }
.search-branches h3 a:link { color:#0f3d70;font:600 18px/26px "Source Sans Pro","Gudea","Trebuchet MS";text-shadow:none; }
.search-branches h3 a:focus { color:#ff9f3b; }
.search-branches form { border:1px solid #bac3ce;border-radius:4px;height:40px;width:298px; }
.search-branches-input { background-color:#fff;border:none;border-radius:4px 0 0 4px;color:#7c7e81;float:left;font:normal 16px/40px Arial, Helvetica, sans-serif;height:40px;padding-left:8px;width:240px; }
.search-branches-input:focus { background-color:#fffdf2;box-shadow:0 0 5px #b9d4e9; }
.search-branches-button { background:#215c9f url(/images/buttons/btn_search.png) no-repeat;border-radius:0 4px 4px 0;line-height:40px;color:transparent;height:40px;width:50px;}
.search-branches-button:hover, .search-branches-bottom:focus { opacity:0.95; }

/* Rates Ribbon */
.rates-ribbon-homepage { border-left:1px solid #cacfd3;height:104px;margin-left:322px;position:relative; }
.ratebox { border-left:1px dashed #cacfd3;float:left;padding:8px 18px 13px 18px;max-width:120px; }
.ratebox sup { font-size:1em; }
.ratebox.first { border-left:none; }
.ratebox.last { padding-right:0; }
.ratebox a { display:block;font:bold 13px/1.3em Arial, Helvetica, sans-serif; }
.ratebox .rate-copy { color:#989898;display:block;font:normal 11px/1em Arial, Helvetica, sans-serif; }
.ratebox .rate { color:#1c1d1e;font:400 38px/1em "Source Sans Pro","Arial Narrow",serif;letter-spacing:-1px; }
.ratebox .percent { color:#1c1d1e;font:400 21px/1em "Source Sans Pro","Gudea","Trebuchet MS",sans-serif;vertical-align:super; }
.ratebox .apr { color:#989898;font:normal 10px/1em Arial, Helvetica, sans-serif;margin-left:-13px; }
.rates-ribbon-homepage .more-rates { font-size:13px;font-weight:bold;text-transform:uppercase;position:absolute;bottom:0;right:0; }
.rates-ribbon-homepage .more-rates:after { content:" \00BB"; }
