#signInCont { position: absolute;	top: 15px;	left: 10px;	width: 250px;	height: 318px;	webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);-webkit-border-radius-topright: 5px; ; border-top-right-radius: 5px;	-webkit-border-radius-topleft: 5px;     border-top-left-radius: 5px;z-index:222;border-radius: 4px;}
#contTop {	background: url('/images/structure/hdr_orange.png') repeat-x;	height:36px; -webkit-border-radius-topright: 5px; ; border-top-right-radius: 5px;	-webkit-border-radius-topleft: 5px;  border-top-left-radius: 5px;border-radius:4px 4px 0px 0px;}
#OrangeHeader span   {background: transparent url('/images/structure/hdr_orange.png') no-repeat 0 0; 	display: block; 	font:bold 16px Arial, Helvetica, sans-serif;	padding:8px 0 8px 16px;	color:#fff; text-transform:uppercase; text-shadow: 0 -1px 0 rgba(0,0,0,.3);	text-decoration: none;-webkit-border-radius-topright: 3px; border-top-right-radius: 4px;	-webkit-border-radius-topleft: 4px; border-top-left-radius: 4px;border-radius:4px 4px 0px 0px; }
#lockImg{	background: transparent url('/images/icons/lock_icon.png') no-repeat top right; 	float: left;	margin-right: 7px;	margin-top: 1px;	width: 12px;}
#contMain {	position:relative;top:0px;background-color:#f9f6ef;	width:220px;	height:279px;padding:1px 13px 0 13px; -webkit-border-bottom-right-radius: 5px;	border-bottom-right-radius:5px;	-webkit-border-bottom-left-radius: 5px;		border-bottom-left-radius: 5px;	border:2px solid #fff;	border-top:none;border-radius:0px 0px 4px 4px;}
.aaLinks-tiny a:link, .aaLinks-tiny a:visited {	font: normal 11px arial;	color: #074c7f;	text-decoration: none;}
.aaLinks-tiny a:hover {text-decoration: underline;}
input.account {height:18px; padding:3px; width:213px;}
.signonlabel { font: bold 13px arial;color:#505050; }
.clear { clear:both; }
.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}
/* ---------- Column Header ---------- */
.columnheader {	position:relative;	float:right;	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2961a0), color-stop(1, #1e4d84) );	background:-moz-linear-gradient( center top, #2961a0 5%, #1e4d84 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2961a0', endColorstr='#1e4d84');	background-color:#2961a0;	-webkit-border-radius:3px;	border-radius:3px;	display:inline-block;	color:#fff;	font:13px bold Arial, Helvetica, sans-serif;	text-align:center;	padding:11px 0px;	width:672px;	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);}

.top_content_alt {position: relative;	width:942px;	padding:30px 10px 30px 10px;	margin: 0;	background:#FFF;}

#mid_content { margin: 0px 0 0 20px;	width:960px;}
.midCont {	position: relative;	float: left;	width: 200px;	height: 230px; padding: 10px 15px;}
.midCont_rr {	position: relative;	float: left;	width: 192px;	height: 240px; padding: 5px 10px;}
.midCont_full {	position: relative;	float: left;	width: 290px;	height: 200px; padding: 5px 10px;text-align:center;}
.contHdrTxt {text-align:center;font:bold 16px arial;color:#0d335d;margin-bottom:10px; }

#center-rail-nfo {	float:left;	width:642px;padding:20px 20px 20px 20px;padding-bottom:20px\9;	margin-bottom:10px\9;}
#center-rail-nfo ul {list-style-type:disc;position:relative;}
#center-rail-nfo ul li {margin-left:20px;}

#centerRailNFO {	float:left;	width:642px;padding:2px 20px 20px 20px;padding-bottom:20px\9;	margin-bottom:10px\9;}
#centerRailNFO ul {list-style-type:disc;position:relative;}
#centerRailNFO ul li {margin-left:20px;}
#center-rail-nfo-full {	float:left;	width:932px;	padding:20px 10px 20px 20px;	margin: 0;	background:#FFF;-webkit-border-radius-topright: 3px;        border-top-right-radius: 3px;	-webkit-border-radius-topleft: 3px;    border-top-left-radius: 3px;}
/*#center-rail-nfo-full ul { list-style-type:disc;position:relative;}*/
#center-rail-nfo-full ul li {margin-left:20px;}
#center-sect-1 {	margin:20px 0 0 0;}
#center-sect-2 {	margin:10px 0 0 0;}
#center-sect-3 {	margin:30px 0 0 0;}
#center-rail-nfo-full-2 {	float:left;	width:932px;	padding:20px 10px 20px 20px;	margin: 0;	background:#FFF;-webkit-border-radius-topright: 3px;        border-top-right-radius: 3px;	-webkit-border-radius-topleft: 3px;    border-top-left-radius: 3px;}
#center-rail-nfo-full-2 ul li {	line-height: 18px;    background: url("/images/icons/list-bullet.png") no-repeat scroll 0px 6px transparent;    list-style: none outside none;    margin-left: 10px; font-size:13px;    padding-left: 16px;	margin-bottom: 8px;}
#center-rail-nfo-full-nobottom {	float:left;	width:932px;	padding:20px 10px 20px 20px;	margin: 0;	background:#FFF;-webkit-border-radius-topright: 3px;        border-top-right-radius: 3px;	-webkit-border-radius-topleft: 3px;    border-top-left-radius: 3px;}

#breadcrumbHeader {padding:20px 0 0 20px;}
#footercontainer ul li {margin-left:0px;}
.footer-divider {color:#999;}
.subhead3 {font: 18px Arial,Helvetica,sans-serif;}

.download:after {
    background: url('/images/icons/icon_download.png') 5px 1px no-repeat;
    content: '';
    display: inline-block;
    width: 19px;
    height: 12px;
    position: relative;
    top: 1px;
    z-index: 0;
}

/* ---------- Quick Actions Module ---------- */
#quickactions {	border-top:1px solid #f9f9f7;	padding:10px 13px 10px 13px;	margin-bottom:20px;	-webkit-border-bottom-right-radius: 3px;	-webkit-border-bottom-left-radius: 3px;	;		border-bottom-right-radius: 3px;	border-bottom-left-radius: 3px;	background:#eae7df url('images/bg_rightrail_pattern.png');}

/* ---------- Account Services Module ---------- */
#accountservices {	border-top:1px solid #f9f9f7;	padding:10px 13px 10px 13px;	background:#eae7df url('images/bg_rightrail_pattern.png');	border-bottom:1px solid #d5d2cc;}

/* ---------- Right Rail Ad ---------- */
#abpromo {	padding:0 0 20px 0;	border:none;}


.signinbox {  width: 211px;	font: 13px Arial, Helvetica, sans-serif;	color: #666;	border: 1px solid #ccc;	background: #fff;	height: 22px;border-radius: 4px;}
/*.signinbox:focus {	border:1px solid #b9d4e9;	border-top-color:#b6d5ea;	border-bottom-color:#b8d4ea;	box-shadow:0 0 5px #b9d4e9;}
.formbox:focus, .formbox1:focus, .formbox2:focus, .formbox3:focus{	border:1px solid #b9d4e9;	border-top-color:#b6d5ea;	border-bottom-color:#b8d4ea;	box-shadow:0 0 5px #b9d4e9;}*/
#galleria{height:378px; width:962px; padding: 10px 0 0 0;}


/*--buttons--*/
#open-btn { float:right; margin: 0 87px 10px 0;}
#open-btn-inline {float:right; margin: 10px 87px 10px 0;}
.get-started-btn { float:right; margin: 0 87px 0 30px;}
.get-started-btn-inline {float:right; margin: 10px 87px 0 10px;}


/*------------------Modal Window-----------------------*/
.modalHdr { background: url('/images/structure/modalHdr.jpg') repeat-x;height:44px;border-top-left-radius: 5px;border-top-right-radius: 5px;margin-bottom:10px; }
.modalHdrTxt { float:left;margin:10px 0 0 10px;color:#fff;font:bold 14px arial; }
.modalHdrClose { float:right;margin:10px 10px 0 0; }
.modalCnt {padding:0 10px;}
.modalLoc {position:absolute;	left:160px;	top:10px;	background:#fff;	width:630px;	padding:5px;	display: none;	z-index: 999999;	border: 10px solid rgb(127,127,127);border: 10px solid rgba(0,0,0, .5);border-radius: 10px; }
.overlay{   background-color: #000;   opacity: .4;   filter: alpha(opacity=50);   position: fixed; top: 0; left: 0;   width: 100%; height: 100%;   z-index: 99999;}
.overlayimg{  position: absolute;  z-index: 11;  left: 50px;  top: 50px;}

/*-----------------------------------------Rates styling------------------------------------------*/
#collhdr1 {	text-align: left;	padding: 4px 0 4px 4px;	font: normal 13px arial;	color: #333;}
.collhdr {	text-align: center;	padding: 4px 0;	font: normal 13px arial;	color: #333;}
.divider {	border-right: 1px solid #ccc;}
#rates {	position: relative;	font: normal 13px arial;	clear:left; 	margin:0;	zoom:1;}
#effective_date {	position: relative;	text-align: center;	width: 220px;	height: 15px;	margin-bottom: 3px;	font: normal 10px arial;	border-bottom: 1px solid #ccc;	border-right: 1px solid #ccc;	border-left: 1px solid #ccc;
-webkit-border-bottom-right-radius: 5px;
border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-left-radius:5px;

/*background: url(../images/effective_date.gif) no-repeat;*/}
#effdte {	width: 200px;	font: normal 10px arial;	text-align: center;	color: #222;}
.descLink a:link, .descLink a:visited {	color: #266ab5;	text-decoration: none;}
.descLink a:hover {	color: #ff9f3b;}
.sortable { list-style-type: none; margin: 0; padding: 0; width:655px;}
.sortable li { 	margin: 0 4px 2px 4px;	padding:3px 0px;	/*height: 18px; --Commented out to facilitate product type word wrap*/	font:normal 11px arial;}
.sortable td{ font:normal 11px arial; }
.sortable li span { position: absolute; margin-left: -1.3em; }
.ui-tabs .ui-tabs-hide {display: none;}
.sortable li:hover {	background: #eff2f7;}
input {	background-color: transparent;}
.preQualBtn {	margin-top: -1px;	width: 20px;	height: 20px;	background: url("/images/buttons/calc.png") no-repeat top;	cursor:pointer;	color:transparent;	text-transform: capitalize;	text-indent: -9999px;}
.rateVals {	font: normal 11px arial;	text-align: center;}
.rateConds {  font: normal 11px arial;  text-align: center;  word-wrap: break-word;  width: 224px;}
#ratesTable {	width: 650px;}
.auto_values {	font: normal 11px arial;  width: 35px;  padding-left: 20px;  text-align: left;}
.bike_values {	font: normal 11px arial;  width: 35px;  padding-left: 30px;  text-align: left;}
#loanAmt {	width: 80px;	border: 1px solid #ccc;	font: 11px arial;	padding-left:2px;}
.mp {	width: 70px;	margin-right: 5px;	border: none;	font: normal 11px arial;}
#loanCalc {	width: 770px;	padding-top:20px;}

.estCalc {	width:655px;	margin:10px 0;	background: rgb(251,251,253); /* Old browsers */
background: -moz-linear-gradient(top, rgba(251,251,253,1) 0%, rgba(245,246,250,1) 41%, rgba(237,241,244,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,253,1)), color-stop(41%,rgba(245,246,250,1)), color-stop(100%,rgba(237,241,244,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(251,251,253,1) 0%,rgba(245,246,250,1) 41%,rgba(237,241,244,1) 100%); /* Chrome10+,Safari5.1+ */	border:solid 1px #ccc;	padding:10px 0;	position:relative;-webkit-border-radius: 4px;    border-radius: 4px;}

#calcInst {
	margin-top: 6px;
	width: 390px;
	background: #dbe8f5;
	-webkit-border-radius: 5px;
	border-radius:5px;
	padding: 2px;
	border: 1px solid #0b3258;
	color: #0b3258;
	text-align: center;
}
#disclApp {	margin-top: 10px;}
#first input {	height: 14px;}
#reCalc {	height: 20px;}
#paymentResults {	margin-top: 10px;	padding-left: 4px;}
#paymentResults tr {	height: 28px;}
.resultSpacer {	width:50px;}
#conds, #conds2, #conds3, #conds4, #conds5, #conds6 { width:650px;margin: 0 10px 0px 5px;}
.condsHdr { font:normal 13px arial;text-align:center;cursor:pointer;color:#266ab5;text-decoration:none;height:20px;padding-top:2px; }
.condsCnt { overflow:hidden;background:#f8f8f8; }
.condsHdr:hover { text-decoration:none; color:#ff9f3b;}
.text { width:622px;padding:4px; }
.text ul { list-style:square; }
.condsList li { margin-left:20px;padding-left:5px; }
#cert_specials, #cert_min1, #cert_min2, #cert_min3, #cert_min4 {display:none;}
#mort_hdr1, #mort_hdr2, #mort_hdr3, #mort_hdr4 {display:none;}
#equity_hdr1, #equity_hdr2 {display:none;}
#bb_hdr1, #bb_hdr2, #bb_hdr3 {display:none;}
#other_hdr1, #other_hdr2, #other_hdr3 {display:none;}
#custclub_hdr1 {display:none;}
#savings_hdr1 {display:none;}
#mmsa_hdr1, #mmsa_hdr2, #mmsa_hdr3 {display:none;}

.top_right_image { float:right;margin:-20px -10px 0 0; }
/*-------------------------Slider Calc----------------------------------*/
#slider {	position: relative;	float: left;	font: normal 13px arial;	width: 264px;	z-index:100;	padding-left: 6px;}
.discriptor {	width: 38px;	float:left;	margin-right:20px;	font: normal 13px arial;	color: #333;}
.SCFormTags {	width: 162px;	font: normal 13px arial;	color: #333;}
.SCFormTagsAlt {	width: 157px;	font: normal 13px arial;	color: #333;}
.var_slider {	float:left;	margin-right: 5px;	width:124px;}
.var_slider2 {	float:left;	margin-right: 15px;	width:350px;}
.var_slider3 {	float:left;	margin-right: 15px;	width:250px;}
.var_slider4 {	float:left;	margin-right: 15px;	width:260px;}
.sliderVals_bg {	float: left;	width:68px;	padding:5px 2px 0 4px;	margin-top:-4px;	height:25px;	background: url("/images/sliderVals_bg.png") no-repeat;}
.var_result {	width:60px;	height: 14px;	padding-left: 2px;	border: none;	font: bold 11px arial;	background: #e4e4e4;	color: #222;}
#sliderResults tr {	height: 28px;}
#sPayment {	width: 266px;	padding: 2px;	font: bold 11px arial;	margin: 10px 0 20px 0;}
.sPaymentVals {	width: 90px;	height: 14px;	font: bold 11px arial;	background: #e4e4e4;	color: #222;}
.sPaymentVals2 {	width: 90px;	height: 14px;	font: bold 11px arial;	background: #f9f8d7;	color: #222;}
#s-loan2 {	visibility: hidden;	position: absolute;	top: 5px;	left: 0px;}
#s-loan3 {	visibility: hidden;	position: absolute;	top: 5px;	left: 0px;}
#s-loan4 {	visibility: hidden;	position: absolute;	top: 5px;	left: 0px;}
#s-loan5 {	visibility: hidden;	position: absolute;	top: 5px;	left: 0px;}
#s-loan6 {	visibility: hidden;	position: absolute;	top: 5px;	left: 0px;}
#s-loan7 {	visibility: hidden;	position: absolute;	top: 5px;	left: 0px;}
#s-term1 {	visibility: hidden;	position: absolute;	top: 5px;	left: 0px;}
#s-term2 {	visibility: hidden;	position: absolute;	top: 5px;	left: 0px;}
#s-term3 {	visibility: hidden;	position: absolute;	top: 5px;	left: 0px;}
#s-term4 {	visibility: hidden;	position: absolute;	top: 5px;	left: 0px;}
#s-term5 {	visibility: hidden;	position: absolute;	top: 5px;	left: 0px;}
#s-term6 {	visibility: hidden;	position: absolute;	top: 5px;	left: 0px;}
#applyCont {	position: relative;	left:20px;	top: 0px;	width: 300px;	z-index: 1;}
#applyCont2 {	position: relative;	left:20px;	top: 0px;	width: 600px;	z-index: 1;}
#applySavingsCont {	position: absolute;	left:20px;	bottom: -55px;	width: 300px;	z-index: 1;}
.disLink a:link, .disLink a:visited {	position:absolute;	bottom: 10px;	right: 20px;	color: #266ab6;	font: normal 13px arial;	text-decoration: none;}
.disLink a:hover { color:#ff9f3b;}
#rate_err {	width: 680px;	height: 25px;	margin: 4px 0 4px 5px;	background: #fff;	text-align: center;	font: normal 13px arial;	color: #222;}
#print_cont {	margin:-20px 0 5px 0;	width:650px;	height:25px;}
/*-----------------------------------Data Tables----------------------------------------*/
.dataHeader {font:bold 13px arial; background-color:#DDD; text-align:center; padding:5px;}
.dataHeaderSub {background-color:#EFEFEF; text-align:center; padding:5px; font:bold 11px arial;}
.dataOne {	border:solid #DDD 1px;	border-collapse:collapse;}
.dataRow {	background-color:#f1f1f1;	padding:5px;	font:10px arial, sans-serif; height:15px; border-top:1px solid #d1d1d1;}
.dataRow2 {	background-color:#fff;	padding:5px;	font:10px arial, sans-serif; height:15px; border-top:1px solid #d1d1d1;}
/*----------------------------------------Credit Cards----------------------------------------------*/
#ccTableHdr {font-weight:600; background-color:#F0F0F0;}
.ccTableTdHdr {	border-right:#eee 1px solid;	background:url(../products-services/images/table_grad.gif) repeat-x;	padding: 0px 5px;	font: bold 11px arial;	color: #333;	width:205px;	height: 35px;}
.ccTableTdHdr2 {	border-right:#eee 1px solid;	background: url(../products-services/images/table_grad.gif) repeat-x;	padding: 0px 5px;	font: bold 11px arial;	color: #333;	width:420px;	height: 35px;}
.ccTableTdHdr3 {	border-right:#eee 1px solid;	background:url(../products-services/images/table_grad.gif) repeat-x;	padding: 0px 5px;	font: bold 11px arial;	color: #333;	width:97px;	height: 35px;}
.ccTableTd {	padding: 0px 5px;	font: normal 11px arial;	color: #333;	width:205px;	line-height:12px;}
.ccTableTd1 {	padding: 0px 5px;	font: normal 11px arial;	color: #333;	width:440px;;	line-height:12px;}
.ccTableTd3 {	padding: 0px 5px;	font: normal 11px arial;	color: #333;	width:97px;	line-height:12px;}
/*--------------------The hint to Hide and Show------------------------------*/
#tt { position:absolute; display:block; z-index: 999999;}
#ttcont { display:block; padding:6px 12px 6px 7px; margin-left:5px; background:#fff;-webkit-border-radius: 5px; border-radius: 5px; webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);;}
#ttcont ul li {margin-left:16px;}
/*---------Site Map------------------*/
.sitemap { color:#999;}
.sitemapHdr { width:230px; background:#ececec;height:18px;text-align:center;padding-top:3px;margin-top:10px; }
#sitemapHdrLg { width:860px; background:#ececec;height:18px;text-align:center;padding-top:3px;margin-top:10px; }
.sitemap ul {margin-left:0px; line-height:20px;}
.categoryBrdrs {	width: 228px;	border-left:1px solid #ececec;	border-right:1px solid #ececec;	border-bottom:1px solid #ececec;}
.categoryBrdrs li {margin-left:20px;}
#categoryBrdrsLst {	margin-top:10px;	width: 208px;	border:1px solid #ececec;}
#categoryBrdrsLst li {margin-left:20px;}
/*---------VRU-----------------*/
p.container_links {text-align:center;}
p.container_links a:link {font-weight:bold;}
td.shortcutStep {width:15%; font-weight:bold; }
table.tips tbody td {padding:4px !important;}
tr.even {background-color:#EEE;}

/* Home Page elements */
#mainPromos {	position: relative;	width: 962px;	height: 348px;}
.pics img { border:1px solid ;-webkit-border-radius:4px;border-radius: 4px;}
#promowrapper {position:absolute;	top:316px;	right:6px;	z-index:10; height:28px;}
#promoEndLeft {float:right; width:3px; height:28px; display:block; background:url('/images/controls_hero.png');}
#promoEndRight {float:right; width:3px; height:28px; display:block; background:url('/images/controls_hero.png') -20px -28px;;}
#prev2, #next2 {float:right; width:28px; height:28px; display:block; background:url('/images/controls_hero.png'); margin-left:1px; cursor:pointer;}
#prev2 {background-position:0 -84px;}
#next2 {background-position:0 -140px;}
#prev2:hover {background-position:0 -112px;}
#next2:hover {background-position:0 -168px;}
#promoNav {margin:0; padding:0; float:right;}
#promoNav a {margin:0;	padding:0;	border:0;	background:url('/images/controls_hero.png') -3px -28px; font-size:0px; text-decoration: none;	color:#222; height:28px; width:18px; display:block; float:left;}
#promoNav a.activeSlide {background:url('/images/controls_hero.png') -3px -56px;}
#promoNav a:focus {	outline: none;}
#SavNumMsg {	position:absolute;	display:none; top:-20px;left:265px;	width:250px; height:150px;	padding:10px 12px;	background:#fff;	font:normal 13px arial;	border-radius:5px;	box-shadow:0 4px 10px #999;z-index:999999;}
#SavNumMsg:before { content: url('/images/structure/left_arrow.png'); position:absolute;	top:32px;	left:-24px;}
#SavNumMsg .close img{ opacity:0.7;}
#SavNumMsg .close:hover img{ opacity:1.5;}
#capsLokMsg {	position:absolute;	display:none; top:50px; left:265px;	width:250px; height:210px;	padding:10px 12px;	background:#fff;	font:normal 13px arial;	border-radius:5px;	box-shadow:0 4px 10px #999;z-index:999999;}
#capsLokMsg:before { content: url("/images/structure/left_arrow.png"); position:absolute;	top:32px;	left:-24px;}
#capsLokMsg .close img{ opacity:0.7;}
#capsLokMsg .close:hover img{ opacity:1.0;}
/* container css */
div.containers {height:323px; padding:18px 0;}
div.homecontainer {
	overflow:hidden;
	width:229px;
	height:319px;
	margin-left:10px;
	position:relative;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffa200;
	padding:0px;
	background-color: #fbf9f5;
	background: -moz-linear-gradient(top,#fbf9f5 0%,#f7f3ea);background: -webkit-gradient(linear, left top, left bottom, from(#fbf9f5),to(#f7f3ea));
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #ffffff;
	-moz-box-shadow:0px 1px 3px rgba(000,000,000,0.4),inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.4),inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:0px 1px 3px rgba(000,000,000,0.4),
	inset 0px 0px 0px rgba(255,255,255,0);
}
div.branches {margin:0;}
div.wide {width:472px;}
div.homecontainer h3 {font:bold 18px/21px 'Gudea', Arial, Helvetica, sans-serif; color:#222; text-align:center; margin:11px 0 0; padding:0 10px;}
div.homecontainer h3 a {color:#222; text-decoration:none;}
div.homecontainer h3 b {font:bold 18px/21px 'Gudea', Arial, Helvetica, sans-serif; color:#222;	position:absolute; top:186px; text-align:center; margin:11px 0 0; padding:0 10px;}
div.homecontainer h4 {font:13px Arial, Helvetica, sans-serif; color:#808080; text-align:center; padding:0 14px; margin:5px 0 0;}
div.homecontainer h5 {font:13px Arial, Helvetica, sans-serif; color:#808080; text-align:center; padding:0 14px; margin:5px 0 0;}
div.homecontainer div.containerCopyLow {	font:13px Arial, Helvetica, sans-serif; color:#808080; 	position:absolute; top:86px; left:12px;	width:205px;	z-index:30;}
div.homecontainer div.containerCopyLow2 {	font:13px Arial, Helvetica, sans-serif; color:#808080; 	position:absolute; top:166px; left:12px;	width:205px;	z-index:30;}
div.homecontainer div.containerCopyLow3 {	font:13px Arial, Helvetica, sans-serif; color:#808080; 	position:absolute; top:220px; left:12px;	width:205px;	z-index:30;}
div.homecontainer div.containerCopyLow4 {	font:13px Arial, Helvetica, sans-serif; color:#808080; 	position:absolute; top:195px; left:12px;	width:205px;	z-index:30;}
div.homecontainer div.containerCopy3 {	font:13px Arial, Helvetica, sans-serif; text-align:center; color:#808080; 	position:absolute; top:65px; left:12px;	width:205px;	z-index:30;}
div.homecontainer div.containerCopy {	font:13px Arial, Helvetica, sans-serif; color:#808080; 	position:absolute; top:65px; left:12px;	width:205px;}
div.homecontainer div.containerCopy .social {position:relative; top:auto; left:-10px; width:225px;}
div.homecontainer div.containerCopy .branchInfo {clear:both; padding:0 0 5px; margin:0; font:11px/12px Arial, Helvetica, sans-serif; color:#808080; height:23px; overflow:hidden;}
.alert {padding-left:22px !important; background:url('/images/homepage-banners/home_icons.png') 0 -443px no-repeat;}


div.homecontainer div.containerNewsofNote {	font:13px Arial, Helvetica, sans-serif; color:#808080; 	position:absolute; top:65px; width:205px; padding:0px 0 0 12px;	z-index:70;}
div.homecontainer div.containerNewsofNote1 {	font:13px Arial, Helvetica, sans-serif; color:#808080; 	position:absolute; top:65px; width:205px; padding:90px 0 0 12px;	z-index:50;}
div.homecontainer div.containerNewsofNote2 {	font:13px Arial, Helvetica, sans-serif; color:#808080; 	position:absolute; top:65px; width:205px; padding:115px 0 0 12px;	z-index:30;}
div.homecontainer div.containerSubhead {font:bold 16px/18px Gudea, Arial, Helvetica, sans-serif; color:#000; text-align:left; position:absolute; top:50px; margin:14px 0 0; padding:0 12px; letter-spacing:-1px;}

#bm input[type="text"], #bmc input[type="text"]  {color: #c2c5c9;}
#bm input[type="text"]:focus, #bmc input[type="text"]:focus {color: #222;}
.bolded_copy {
	font-weight: bold;
}

	
div.containerlink {	position:absolute; bottom: 0; right:0; z-index:50; display:block; 	width:98px; height:24px;	background-image: url('/images/homepage-banners/button_learnmore.png');	text-align:left;}
div.containerlink a {height:100%; width:100%; display: block; font:bold 11px/28px Arial, Helvetica, sans-serif;	color:#266ab5;	text-transform:uppercase;	text-decoration:none;	padding-left:19px;	text-shadow: 1px 0 1px rgba(255,255,255,0.6);}
div.containerlinklong {	position:absolute; bottom: 0; right:0; z-index:50; display:block; 	width:122px; height:24px;	background-image: url('/images/homepage-banners/button_learnmore_long.png');	text-align:left;}
div.containerlinklong a {height:100%; width:100%; display: block; font:bold 11px/28px Arial, Helvetica, sans-serif;	color:#266ab5;	text-transform:uppercase;	text-decoration:none;	padding-left:19px;	text-shadow: 1px 0 1px rgba(255,255,255,0.6);}
div.containerImg {z-index:40; position:absolute; padding:0; margin:0; width:235px; bottom:-3px; left:0;}
div.leftbottom {text-align:left;}
div.centerbottom {text-align:center;}
div.rightbottom {text-align:right;}
div.branchByCity {margin-top:5px;}
input.branch {height:18px; padding:3px;}
input.wide {width:197px;}
input.state {width:80px;}

div.homedivider {clear:both; border-bottom:1px dashed #DDDDDD; height:1px;}
div.socialIcons {height:24px; padding-left:33px; margin-top:12px;}
div.socialIcons a {float:left; height:24px; width:24px; display:block; font-size:0px; overflow:hidden; margin:0 20px 15px 0; background-image:url('/images/homepage-banners/home_icons.png');}
div.socialIcons a.fb {background-position:0 0;}
div.socialIcons a.tw {background-position:0 -44px;}
div.socialIcons a.yt {background-position:0 -88px;}
div.socialIcons a.li {background-position:0 -132px;}
div.socialIcons a.insta {background-position:0 -308px;}
div.socialIcons a.blog {background-position:0 -264px;}
div.mobileupdate {padding-left:94px; background:url('/images/homepage-banners/mobile_iphones.png') no-repeat; height:134px;}
div.mobileupdate h5 {font:bold 13px Arial, Helvetica, sans-serif; color:#fb920a; margin:0 0 14px; padding:0; text-align:left;}
div.mobileupdate div.mobilecopy {font:13px Arial, Helvetica, sans-serif; color:#808080;}
div.mobile {margin-top:9px; height:27px; font:12px/28px Arial, Helvetica, sans-serif; background:url('/images/homepage-banners/home_icons.png') no-repeat; margin-left:21px; padding-left:33px;}
div.iphone {background-position:0 -351px;}
div.droid {background-position:0 -398px;}

/*---Credit card pages for NFOAA visibility---*/
#logolayerAA { display:none;}
#logoAA {	float:left;width:274px;	height:69px; margin:16px 0 10px 0;	z-index:100;}
#closePopUp {	position:absolute; 	top:10px; 	right:10px;	font: normal 13px arial;	color: #222;	border: 1px solid #464646;	padding: 4px;}
#closePopUp a:link, #closePopUp a:visited, #closePopUp a:hover{	color: #222;	text-decoration: none;}

/*--Styling for credit card and checking pages--*/
.columnRight{	background: none repeat scroll 0 0 #F4F3F1;	font: 13px arial,sans-serif;    width:300px;    padding: 20px 0 0 20px;    position: relative;	float:left;	margin-top: 34px;	}
.columnRight p{	margin-top:0;	}
.listRight{	font: 13px arial,sans-serif;	color:#ff9f3b;	width:307px;    padding: 30px 0 0 20px;    position: relative;	float:right;	}	
.columnLeft{	float:left;	border-right:1px solid #dfe2e7;	width:30%;	min-height: 10	0px;	margin-top: 34px;	padding-right:10px;	}	
.columnMiddle{	float:left;	width:280px;	padding:0 10px 0 20px;	margin-top: 34px;	}
.columnMiddle ul, #listRight ul {	list-style-type:none;	}
.columnMiddle span, #listRight span {	color:#ff9f3b;	font:15px Arial, Helvetica, sans-serif;	 margin: 5px 9px 5px 0;	}	
.titleBlue{	font: bold 13px arial,sans-serif;	color:#266ab5;	text-transform: uppercase;	}
.titleBlue2{ font: bold 13px arial,sans-serif;	color:#266ab5;	}
#CCicon1{	background:url('/products-services/cards/creditcards/images/icon_cc_mall_new.png') no-repeat;	height: 50px;    width: 45px; margin-left:2px;		float:left; padding-bottom:15px;	}	
#CCicon2{	background:url('/products-services/cards/creditcards/images/icon_cc_coupons.png') no-repeat;		height: 40px;    width: 45px;	float:left; padding-bottom:15px;	}		
#CCicon3{	background:url('/products-services/cards/creditcards/images/icon_apple_pay.png') no-repeat;	height: 45px;    width: 45px; float:left; margin-left:2px;	 padding-bottom:15px;	}
#CCicon4 {
	background: url('/products-services/cards/images/rewards-icon-2.png') no-repeat;
	height: 43px;
	width: 43px;
	margin-left: -2px;
	margin-right: 5px;
	 padding-bottom:15px;	
	float: left;
}			
#CCicon5 {
	background: url('/products-services/cards/images/visa.png') no-repeat;
	height: 39px;
	width: 45px;
	float: left;
	margin-left: -1px;
	margin-right: 4px;
	padding-bottom:15px;	
	
	}
	#CCicon6 {
	background: url('/products-services/cards/images/mastercard.png') no-repeat;
	height: 39px;
	width: 45px;
	float: left;
	margin-left: -1px;
	margin-right: 4px;
	padding-bottom:15px;	
	
	}
#columnWide{	float:left;	margin-right: 20px;    width: 60%;	}	
#listRight{	float:left;	padding-top: 38px;	width: 35%;	}	
#threeColumnlayout{	border-bottom: 1px solid #DFE2E7;    float: left;    padding-bottom: 30px;	}
#twoColumnLayout{	margin-top:30px;	margin-bottom:40px;	float:left;	}	
.iconText{	float:left;	color:#333;	margin-left:10px;	width: 210px;	}	
.logoBlock{	margin-bottom:10px;	height:65px;	}	
.logoBlock2{	margin-bottom:25px;	height:30px;	}	
.logoBlock3{	margin-bottom:25px;	height:65px;	}
#threeColumnlayout p, #twoColumnLayout p, #threeColumnlayout li, #twoColumnLayout li{	color:#333;	}	
#signInPanel{	background-color: #DCEDFD;    float: left;    font: 13px/20px Arial;    height: 20px;    margin-bottom: 20px;    padding: 15px 20px;    width: 882px;	}
.applyBtn {	width:10px;	border:none;	}		
#breadcrumbs{	margin-bottom:10px;	}
.breadarrows {font-size:15px;}

/* superscript / subscript fix */
sub, sup { 	font-size: 75%;	line-height: 0; 	position: relative; 	vertical-align: baseline; }
h1 sup, h1 sub {font-size:60%;}
sup { 	top: -0.5em; }
sub { 	bottom: -0.25em; }
#threeColumnlayout ul li, #twoColumnLayout ul li {	font: normal 13px arial;line-height: 18px;    background: url("/images/icons/list-bullet.png") no-repeat scroll 1px 4px transparent;    list-style: none outside none;    margin-left: 2px;    padding-left: 16px;	margin-bottom: 8px;}


/*---Managing Your Money Pages styling---*/
.addOn { margin:0 0 20px 20px; }
.addOn ul li {margin-left:20px;}
#mmMidCont {width:935px;margin:0 0 20px 20px; }
/*--Managing Your Money Landing Page--*/
#headerCont { position:relative;width:920px;height:290px;margin-bottom:17px; }
.featureImgCont { position:absolute;top:199px;left:20px;width:560px; }
.featureImgHdr { font:bold 18px arial;color:#fff;margin-bottom:6px; }
.featureImgInfo { font:normal 16px arial; color:#fff;}
.readArticle {position:absolute;left:474px;bottom:10px;}
#headerLinksBg { position:absolute;top:0px;right:32px;width:275px;height:321px;}
.headerLinkTop { width:301px;height:33px;background:url('/life-money/managing-your-money/images/featureOffTopBg_3.png') no-repeat;padding:12px 0 0 16px;font: bold 12px arial;color:#286ab4; }
.headerLink { width:275px;height:33px;background:url('/life-money/managing-your-money/images/featureOffBg_3.png') no-repeat;padding:15px 0 0 33px;font: bold 14px arial;color:#286ab4; }
.headerLinkOn { width:275px;height:33px;background:url('/life-money/managing-your-money/images/featureOnBg_3.png') no-repeat;padding:15px 0 0 33px;font: bold 14px arial;color:#fff; }
.headerLink a { font: bold 14px arial;color:#286ab4!important; }
.headerLinkOn a {font: bold 14px arial;color:#fff!important;}
.last { margin-bottom:0px;}
#articlCatCont {margin-bottom:40px;}
.row {margin-bottom:20px;}
.articleCat { float:left;width:294px;margin-right:20px; }
.acLast {margin-right:0px;}
.articleImg { position:relative;width:294px;height:150px; }
.articleCatInfo { border-left:solid 1px #ccc;border-right:solid 1px #ccc;border-bottom:solid 1px #ccc;padding:16px 20px 20px 20px;/*min-height:100px;*/
}
.categoryLnk { position:absolute;top:110px;right:0px;background:#5b236c;height:24px;text-align:left;padding:6px 10px 0 10px;color:#fff;font:normal 12px/18px arial;letter-spacing: 0.4px;text-transform:uppercase; }
.categoryLnk a {color:#fff !important;}
/*--Uncomment when we initialze cataegories
.categoryLnk:after { content: url('/life-money/managing-your-money/images/catLnkArrw.gif');margin-left:10px; }
--*/
.articleHdrLnk { font:normal 16px arial;margin-bottom:4px; }
.articleText { font:normal 13px/18px Arial, Helvetica, sans-serif; }
#footerContBg { position:relative;width:878px;padding:20px;background: #fdfdff; /* Old browsers */background: -moz-linear-gradient(top,  #fdfdff 0%, #f6f7f9 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdff), color-stop(100%,#f6f7f9)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #fdfdff 0%,#f6f7f9 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #fdfdff 0%,#f6f7f9 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #fdfdff 0%,#f6f7f9 100%); /* IE10+ */background: linear-gradient(to bottom,  #fdfdff 0%,#f6f7f9 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdff', endColorstr='#f6f7f9',GradientType=0 ); /* IE6-9 */	border:solid 1px #ccc; }
.footerCont {float:left;width:269px;height:200px;border-right:solid 1px #ccc;padding:0 10px 10px 10px;margin-right:4px;}
.fcLast { margin-right:0px;border-right:none;width:269px;}
.footerContTitle { font:normal 18px/24px arial;margin-bottom:10px; }
.footerCont ul { list-style:none;margin-left:-16px; }
.footerCont ul li { line-height:18px;margin-bottom:10px; }
/*--Managing Your Money Category Page--*/

/*--Start Saving Feature Page--*/
#paymentProtBanner { float:left;background: url("/products-services/images/payment_protection_feature_bg.jpg") repeat scroll 0 0 transparent; height: 136px; width:348px;;padding:14px 0 0 0px;}
#featureImg { float:left; }
#bannerInfoTop{font: normal 15px/24px Arial, Helvetica, sans-serif;	color: #333;}
.pageSubHdr {font: normal 18px Arial, Helvetica, sans-serif;color:#222;margin-bottom:10px;}
.pageSubHdrSm {font: normal 15px Arial, Helvetica, sans-serif;color:#222;margin-bottom:10px;}
#certCont { float:left;width:300px;padding-right:20px;border-right:solid 1px #ccc; }
#iraCont { float:left;width:300px;padding-left:20px; }
#certCont ul li,#iraCont ul li, #mmCreditCards ul li, #mmLoans ul li, #budgeting ul li, .cdmSections ul li, .moneyMngmnt ul li, #spendTips ul li  { line-height: 18px; background: url("/images/icons/list-bullet.png") no-repeat scroll 0px 6px transparent; list-style: none outside none; margin-left: 0px; padding-left: 12px;	margin-bottom: 8px;}
.moneyMngmnt ul  {  margin-left: -20px;}
.blueCont { background-color:#eff2f7; width:230px;padding:15px;}
.blueCont ul li {list-style:none;line-height:18px;margin-bottom:8px;}
.calcSlider { width:230px;margin:10px 0 10px 0; }
#calcTotalCont {position:relative;background:#fff;width:210px;padding:10px;-webkit-border-radius: 4px; border-radius: 4px;text-align:center;}
.calcData {position:relative;border:solid 1px #ccc\9;float:right;color:#000; font:bold 12px arial; background:#fff;padding:5px;-moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,.5);-webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,.5);box-shadow:inset 0px 1px 3px rgba(0,0,0,.5);-webkit-border-radius: 5px;border-radius: 5px;}
.calcTotal {border:0; color:#000; font-weight:bold; background-color:transparent; text-align:center;width:50px;}
.calcMonths {border:0; color:#000; font-weight:bold; background-color:transparent; text-align:center;width:30px;}
.calcLabel {float:left;margin-top:5px;}

/*--Creatining a Budget Page--*/
.budgetCont {float:left;width:290px;background:#fff;margin-right:26px;}
.cbLast { margin-right:0px; }
.budgetContImg { width:290px;height:150px;background:#f2f2f2;}
#budgeting ul { list-style:none;margin-left:-16px; }
#budgeting ul li { line-height:18px;margin-bottom:10px; }
.budgetSteps {margin-bottom:10px;}
.budgetStepNos {float:left;font: bold 35px Arial, Helvetica, sans-serif; color:#878787;margin-right:20px;}
.budgetStepInfo {float:left;width:600px;font:normal 13px/18px arial;  }

/*--Credit Cards and Loans Page--*/
#mmCreditCards {margin-top:20px;}
#mmLoans {margin-top:20px;}
.mmCCLTotal {border:0; color:#000; font:bold 12px arial; background-color:transparent;text-align:center;}

/*--Credit and Debt Management Page--*/
.cdmSections { margin-top:20px; }
.cdmSections ul { margin-left:-20px; }
.cdmSectionsHdrs {font:bold 15px arial;}
.creditTypes {float:left;background:#f2f2f2;width:192px;margin-right:10px;padding:9px;min-height:160px; }
.ctLast {margin-right:0px;}
#cReport { float:left;width:300px;padding-right:20px;border-right:solid 1px #ccc; }
#cScore { float:left;width:300px;padding-left:20px; }
.crcsCont {background:#fff;padding:10px;margin:10px 0;}
.csTipNos {float:left;font: bold 35px Arial, Helvetica, sans-serif; color:#c1c4c9;width:26px;}
.csTipInfo { float:left;width:195px;margin-top:4px; }


/*-- facebox --*/
#facebox {position: absolute; top:0; left: 0; z-index: 999999; text-align: left;}
#facebox .popup {position:relative; margin-top: 65px; background:#fff; padding: 5px; border:10px solid rgba(0,0,0,0.5); border-radius:10px; box-shadow:0 0 18px rgba(0,0,0,0.4);}
#facebox .header {position:relative; top:0px; left:0px; width:640px; background: #fff url('/images/structure/modalHdr.jpg') repeat-x; height:44px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#facebox .header {position:relative; top:0px; left:0px; width:640px; background: #fff url('/images/structure/modalHdr.jpg') repeat-x; height:44px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
}
#facebox .content {display:table; width: 610px; padding:10px 0 10px 10px; background: #fff;}
#facebox .content > p:first-child{ margin-top:0;}
#facebox .content > p:last-child{margin-bottom:0;}
#facebox ul li { margin-left:16px;}
#facebox .close{position:absolute; top:10px; right:10px;}
#facebox .close img{opacity:0.7;}
#facebox .close:hover img{opacity:1.0;}
#facebox .loading {text-align: center;}
#facebox .image {text-align: center;}
#facebox img {border: 0; margin: 0;}
#facebox_overlay {position:fixed; top:0px; left:0px; height:100%; width:100%;}
.facebox_hide {z-index:-100;}
.facebox_overlayBG {background-color: #000; z-index: 99;}
.windowTitle { color:#fff;font:bold 18px arial;position:absolute;top:14px;left:15px;}

/*--chat--*/
#auto-chat-left-cont {float:left;width:325px;}
#chat-icon {float:right;}
#chat-ico-membership-app {float:right; margin:7px 15px 0 0;}
#chat-ico-spoffers {float:right; margin:7px 15px 0 0;}
#compare-chat-cont {margin:-10px 0 10px 5px;}
#mort-compare { float:left; }
#mort-chat-ico {float:right;}
#become-member-chat-ico {float:right; margin:7px 0 0 0;}
#title-cont {float:left;}
#chat-ico-eligibility {float:right; margin: 5px 0 0 0; height:40px;}
#slidebox { 
	width:56px;
	height:130px;
	padding:10px 10px 10px 0;
    margin-top:50px;
    position:fixed; 
	display: none; left: 0; margin-left: -430px; z-index:299; opacity:.9; 
	overflow:hidden;
	margin-top: 120px\9;  /*IE8 and below*/
}

#DCicon1{	background:url('/products-services/cards/images/checking_icon_fraud.png') no-repeat;	height: 40px;    width: 45px;		float:left;	}	
#DCicon2{	background:url('/products-services/cards/images/checking_icon_minicard.png') no-repeat;		height: 29px;    width: 43px;	float:left;	}
#DCicon3{	background:url('/products-services/cards/images/checking_icon_coupon.png') no-repeat;	height: 29px;    width: 43px;		float:left;	}
#DCicon4{	background:url('/images/icons/visa_checkout_icon.png') no-repeat;	height: 65px;    width: 43px;		float:left;	}
#DCicon5{	background:url('/products-services/cards/images/creditcard_icon_blue_2.png') no-repeat;	height: 39px;    width: 43px;		float:left;	}
#DCicon6{	background:url('/images/icons/visa_checkout_icon.png') no-repeat; height: 65px; width: 43px; float:left; padding-left:10px; clear:left;	}

/* -- icons -- */
.icon-block-sm { min-height:45px; padding-left:55px; }
.icon-atm { background:url(/images/icons/icon_atm_45x45.png) no-repeat; }
.icon-envelope { background:url(/images/icons/icon_phish_ID_45x45.png) no-repeat; }
.icon-fax-sm { background:url(/images/icons/icon_fax_45x45.png) no-repeat left top; }
.icon-location-sm { background:url(/images/icons/icon_location_45x45.png) no-repeat left top; }
.icon-mail-sm { background:url(/images/icons/icon_mail_45x45.png) no-repeat left top; }
.icon-makingcents-sm { background:url(/images/icons/icon_makingcents_32x44.png) no-repeat left top; }
.icon-padlock-sm { background:url(/images/icons/icon_secure_45x45.png) no-repeat left top; }
.icon-phone-sm { background:url(/images/icons/icon_phone_45x45.png) no-repeat left top; }

.access {
	padding:45px 20px 35px 20px;
	background: url(/mobile/images/mb-lightstripe-bg.jpg) repeat;
	width:95%;
}
.access-first {
	margin-top:13px;	
}
.access-alt {
	padding:45px 20px 35px 20px;
	background: url(/mobile/images/mb-darkstripe-bg.jpg) repeat;
	width:95%;
}

p.access-intro {
	font-size:15px;
	line-height:21px;	
}
.access ul li, .access-alt ul li {
	line-height: 16px;
    background: url("/images/icons/list-bullet.gif") no-repeat scroll 0px 6px transparent;
    list-style: none outside none;
	margin-left:0 !important;
    padding-left: 12px;
    margin-bottom: 8px;	
}
.access p.subhead, .access-alt p.subhead {
	color: #1c1d1e;
    font: 600 22px/normal "Source Sans Pro",arial,sans-serif;
    padding-bottom: 0;
    text-shadow: none;
    margin-bottom: 10px;	
}
.access-icon {
	float:left;
	width:120px;	
	text-align:center;
	padding:0;
	margin:0;
}
.access-icon img {
	display:block;
	margin:0 auto;
}

.access-cont {
	float:left;
	margin-left:20px;
	width:82%;
}
.access-last {
	margin-bottom:10px;	
}